/**
 * @author      Voznyakovsky Ivan <voznyakosky.ivan@gmail.com>
 * @version     SVN: $Id: $
 */

ul.dropdown {
    font-size: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.dropdown > li {
    float: left;
    line-height: 1em;
    margin: 0 0 0 15px;
    position: relative;
}
ul.dropdown > li > a {
    display: block;
}
ul.dropdown > li .sub {
    left: -99999999px;
    position: absolute;
    top: -99999999px;
    visibility: hidden;
}
ul.dropdown > li .sub .title {
    background: #dfdfdf;
    color: #555;
    font-weight: 700;
    margin-bottom: 5px;
    padding: .5em;
    text-shadow: 1px 1px 0 #eee;
}
ul.dropdown > li .sub > div {
    min-width: 200px;
    padding: 5px 10px 10px;
}
ul.dropdown > li.active > .sub,
ul.dropdown > li:hover > .sub,
ul.dropdown > li:focus > .sub {
    left: 0;
    top: 100%;
    visibility: visible;
    z-index: 4000;
}
ul.dropdown .sub ul {
    float: left;
    list-style: none;
    padding: 0 15px;
}
ul.dropdown .sub ul:first-child {
    padding-left: 0;
}
ul.dropdown h2 {
    font-size: 1.2em;
    margin: 0 0 5px;
}
ul.dropdown .sub .help {
    border-top: 1px solid #d1d1d1;
    clear: both;
}
ul.dropdown .sub li {
    float: none;
    margin: 0 0 10px;
}
ul.dropdown .sub li > a {
    margin: 0;
}
ul.dropdown .sub li:first-child > a {
    margin-top: 5px;
}
