.information {
    background: #fff no-repeat 15px 15px !important;
    -webkit-box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    box-shadow: 0 1px 2px #999;
    margin: 25px 0;
    padding: 15px 15px 15px 60px;
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.information ul {
    list-style: decimal inside;
    margin: 0;
    padding: 0;
}

.information li {
    padding: .5em 0;
}

.information .single {
    list-style: none;
}
.information label {
    display: inline !important;
}
.information h6 {
    padding-bottom: .4em
}
.information .close-info {
    background: none;
    filter: none;
    border: 0;
    color: #d3d3d3;
    font: 700 20px/18px Helvetica;
    position: absolute;
    right: 5px;
    top: 5px;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

.information .close-info:hover {
    color: #a9a9a9;
}

/* UI states
----------------------------------*/
.ui-state-error {
    background-image: url(../images/information/error-32.png) !important;
    border: 1px solid #d89292;
    color: #a21616;
}
.ui-state-warning {
    background-image: url(../images/information/warning-32.png) !important;
    border: 1px solid #d8d792;
    color: #a2a016;
}
.ui-state-notice {
    background-image: url(../images/information/notice-32.png) !important;
    border: 1px solid #228200;
    color: #228200
}

/* UI validation state
----------------------------------*/
.ui-valid-state-error {
    background: url(../images/information/error.png) no-repeat 0 50%;
}
.ui-valid-state-warning {
    background: url(../images/information/warning.png) no-repeat 0 50%;
}
.ui-valid-state-notice {
    background: url(../images/information/notice.png) no-repeat 0 50%;
}
.ui-valid-state-error, .ui-valid-state-warning, .ui-valid-state-notice {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    width: 16px;
}
.ie .ui-valid-state-error, .ie .ui-valid-state-warning, .ie .ui-valid-state-notice {
    display: inline;
    margin-bottom: .5em;
    zoom: 1;
}

/* UI input validation state
----------------------------------*/
input.invalid {
    border: 1px solid #f00 !important;
}


