.summary, .summary .cols {
    border-collapse: collapse;
    width: 100%;
}
.summary td, .summary th {
    border-left: 1px solid #f3f3f3;
    padding: 0 5px;
    vertical-align: top;
}
.summary .sub-col {
    padding: 0 0 0 5px;
}
.summary td:first-child, .summary th:first-child {
    border-left: 0;
    padding-left: 0;
}
.summary .cols td, .summary .col-head td {
    border-left: 0;
}
.summary .col-head {
    border-bottom: 1px solid #aaa;
    min-width: 200px;
    width: 100%;
    border-collapse: collapse;
}
.summary .col-title {
    font-weight: 700;
    padding-bottom: 2px;
    padding: 2px 5px 3px;
}
.summary .stat-selector-trigger {
    background: url("../images/summary/arrow-down.png") no-repeat 0 50%;
    cursor: pointer;
    height: 16px;
    filter: alpha(opacity=60);
    opacity: .6;
    padding-right: 0;
    width: 16px;
}
.summary .stat-selector-trigger:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
.summary .total {
    font-style: italic;
    padding-right: 5px;
    text-align: right;
}
.ie7 .summary .total {
    padding-right: 0;
}
.summary .col a {
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #FFF;
    display: block;
/*    height: 1em;*/
    min-width: 200px;
    overflow: hidden;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
}
.ie7 .summary .col a {
    min-width: 0;
    padding-right: 5px;
}
.summary .col-title a {
    border: 0;
    display: block;
    overflow: visible;
    padding: 0;
    text-align: right;
}
.summary .col a > span {
    float: right;
}
.summary .stat > span:first-child {
    float: left;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}
.ie67 .summary .stat > span {
    margin: -1.5em 10px 0 0;
}
.summary tbody a.even {
    background: #fafafa;
}
.summary a:hover, .summary a:focus {
    background: #ececec;
    border-bottom: 1px solid #dcdcdc;
    text-decoration: none;
}
.summary .col-title a:hover, .summary .col-title a:focus {
    background: none;
    border-bottom: 0;
}
.summary .active {
    color: #FF7200;
}
.stats-available {
    background: #fff;
    border: 1px solid #aaa;
    border-width:  0 1px 1px;
    display: none;
    overflow: hidden;
    padding: 5px;
    position: absolute;
}
.stats-available .head {
    background: #efefef;
    color: #ababab;
    margin: 0 0 5px;
    padding: 3px 5px;
    text-align: right;
}
.stats-available label {
    display: block;
    margin-bottom: 5px;
}
.summary-preloader {
    background: url("../images/summary/preloader.gif") no-repeat 50% 50%;
    display: inline-block;
    height: 1em;
    width: 16px;
}