<div id="ToCbox">
    <script type="text/javascript">
        <? include_once __DIR__ . "/js/toc.js" ?>
    </script>
    <style type="text/css">
        <? include_once __DIR__ . "/css/toc.css" ?>
    </style>
    <div id="tocBlock">
        <h1 notoc="notoc">Inhoudopgave</h1>
    </div>
</div>