<?php

/**
 * Description
 *
 * @category
 * @author     Kudrinsky Vitaly <vkudrinsky@gmail.com>
 * @version    SVN: $Id: $
 */
?>
<div class="tpl-section thumbnails-list" style="width: 600px; height: 350px; overflow:auto">
    <ul class="tpl-row images-ul-container">
        <?php if(!empty($this->rowset)): ?>
            <?php foreach ($this->rowset as $image):  ?>
                <li>
                    <a id="<?=$image['id']; ?>" class="padding-all image-item" href="<?=$image['link']; ?>">
                        <img class="tpl-thumb" src="<?=$image['thumbnailLink']; ?>" title="<?=$image['name']; ?>" alt="<?=$image['description']; ?>" />
                    </a>
                    <a class="icon-add" href="<?=$image['link']; ?>" title="Select"> &nbsp;</a>
                    <a class="icon-delete delete-image-item" href="/proposal-block/proposal-block-file-stock/delete/fileStockId/<?=$image['id']; ?>/format/json/" title="Delete"> &nbsp;</a>
                </li>
            <?php endforeach;?>
        <?php endif; ?>
    </ul>
</div>
<hr />
<div style="width: 600px; height: 100px;">
    <form method="post" enctype="multipart/form-data" action="">
        <input type="hidden" name="companyId" value="<?=$this->companyId; ?>" />
        <input type="hidden" name="accountId" value="<?=$this->accountId; ?>" />
        <input type="file" name="uploadfilename" />
        <button type="submit" >Upload</button>
    </form>
</div>
<br />
<br />
<p class="text-c">
    <small>Of <a href="#image-modal-container" data-dismiss="modal">annuleer</a></small>
</p>



