<?
    $this->layout()->disableLayout();

    echo $this->information()->init(false);

    $this->formValue()->init();
    if (null !== $this->offerRow):
        $this->formValue()->setModel($this->offerRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());

?>
<div>
    <? if(count($this->offerRowset) == 0): ?>
        <p class="text-c">
            <?=$this->translate('Er zijn geen producten / diensten in uw lijst.');?>
            <br>
            <br>
            <a href="/company/offer/index" class="btn-big btn-green">
                <?=$this->translate('Maak een product / dienst.');?>
            </a>
        </p>
        <hr />
        <p class="text-c">
            <small>Of <a href="#" data-dismiss="modal">annuleer</a></small>
        </p>

    <? else: ?>
        <h2>
            <? if (!empty($this->offerRow)): ?>
                <?=$this->translate('Wijzig of verwijder document');?>
            <? else: ?>
            <?=$this->translate('Nieuwe dienst of product toevoegen');?>
            <? endif; ?>
        </h2>

        <br />

        <form method="post" class="validatable">
            <? if (!empty($this->offerRow)): ?>
                <input type="hidden" name="companyOfferId" value="<?= $this->formValue('id'); ?>"/>
            <? endif; ?>

            <input type="hidden" name="proposalId" value="<?=$this->proposalId; ?>" />

            <table class="width zebra form-fields">
                <tr>
                    <th><?=$this->translate('Omschrijving');?>:</th>
                    <td class="info-cnt">&nbsp;</td>
                    <td>
                        <select name="companyOfferId" class="required">
                            <option value="">&nbsp;</option>
                        <?foreach($this->offerRowset as $row):?>
                            <option
                                value = "<?=$row['id'];?>"
                                data-name = "<?=addslashes($row['name']);?>"
                                data-kind = "<?=addslashes($row['kind']);?>"
                                data-description = "<?=addslashes($row['description']);?>"
                                data-pricePerUnit = "<?=addslashes($row['pricePerUnit']);?>"
                                data-inStock = "<?=addslashes($row['inStock']);?>"
                                data-amount = "<?=!$row['amount'] ? 1 : $row['amount'];?>"
                                data-discount = "<?=addslashes($row['discount']);?>"
                            >
                                <?=$row['name'];?>
                            </option>
                        <?endforeach;?>
                        </select>
                   </td>
                </tr>

                <tr>
                    <th><?=$this->translate('Naam dienst');?>:</th>
                    <td class="info-cnt">&nbsp;</td>
                    <td><input type="text" size="40" name="name" readonly="readonly"/></td>
                </tr>
                <tr>
                    <th><?=$this->translate('Kind');?>:</th>
                    <td class="info-cnt">&nbsp;</td>
                    <td>
                        <?=$this->modules('company')->offerKindComboBox()->toField('kind', $this->formValue('kind'), array(
                             'disabled' => 'disabled'
                        ));?>
                    </td>
                </tr>
                <tr>
                    <th class="va-top"><?=$this->translate('Korte beschrijving');?>:</th>
                    <td class="info-cnt">&nbsp;</td>
                    <td><textarea name="description" cols="50" rows="5" readonly="readonly"></textarea></td>
                </tr>
                <tr>
                    <th><?=$this->translate('Prijs per stuk/per uur');?>:</th>
                    <td class="info-cnt">&nbsp;</td>
                    <td><input type="text" name="pricePerUnit" size="5" readonly="readonly"/></td>
                </tr>
                <tr>
                    <th><?=$this->translate('Aantal');?>:</th>
                    <td class="info-cnt">&nbsp;</td>
                    <td><input type="text" class="required number" name="amount" size="5" /></td>
                </tr>
                <? /*
                <tr>
                    <th>Korting:</th>
                    <td class="info-cnt">&nbsp;</td>
                    <td>
                        <input type="text" class="required number" name="discount" size="5" />
                    </td>
                </tr>
                */ ?>
            </table>
            <hr />
            <p class="text-c">
                <button class="btn-big" type="submit">
                    <span class="icon-save"><?=$this->translate('Opslaan');?></span>
                </button>

                <br />
                <br />
                <small>Of <a href="#" data-dismiss="modal">annuleer</a></small>
            </p>

        </form>
    <? endif; ?>
</div>

