<? $this->layout()->disableLayout(); ?>
<colgroup>
    <col width="1%">
    <col width="1%">
    <col width="40%">
    <col width="*">
    <col width="*">
    <?if($this->includeDiscountPerOffer):?>
        <col width="*">
    <?endif;?>
    <col width="15%">
</colgroup>
<thead>
    <tr>
        <th class="offer-action" colspan="2">&nbsp;</th>
        <th class="offer-name">Product / Dienst</th>
        <th class="text-r">Prijs</th>
        <th class="text-r">Aantal</th>
        <?if($this->includeDiscountPerOffer):?>
            <th class="text-r">Korting (%)</th>
        <?endif;?>
        <th class="text-r">Totaal</th>
    </tr>
</thead>
<tbody class="sortable" data-handle=".drag-handle">
<?  $rowsCount = count($this->rowset) - 1 ?>
<?  foreach($this->rowset as $k => $row):?>
        <tr>
            <td class="text-c sort-handle-wrap">
<?      if(     ($this->proposalRow->accountId == $this->accountRow->getId())
            ||  $this->accountRow->acl('proposal','price-sheet')):
?>
                <i class="icon-move-down <?=($k==$rowsCount) ? 'icon-move-down-disabled' : '';?>"></i>
                <i class="icon-move-up <?=($k==0) ? 'icon-move-up-disabled' : '';?>"></i>
<?      endif; ?>
            </td>
            <td class="text-c offer-action">
<?      if(     ($this->proposalRow->accountId == $this->accountRow->getId())
            ||  $this->accountRow->acl('proposal','price-sheet')):
?>
                <a href="#" class="delete-offer icon-delete" data-id="<?=$row['id'];?>">&nbsp;</a>
<?      endif; ?>
            </td>
            <td class="offer-name">
                <input type="hidden" name="offerPosition[<?=$row['id'];?>]" value="<?=$k?>"/>
<?      if(     ($this->proposalRow->accountId == $this->accountRow->getId())
            ||  $this->accountRow->acl('proposal','price-sheet')):
?>
                <div class="drag-handle">
                    <?=$row['name'];?>
                    <i><?=$this->translate('Drag to set position.');?></i>
                </div>
<?      else: ?>
                <div>
                    <?=$row['name'];?>
                </div>
<?      endif; ?>
<?      if (!empty($row['description'])): ?>
                <small class="text-gray" title="<?=$row['description'];?>">
                    <?=nl2br($row['description']);?>
                </small>
<?      endif; ?>
            </td>
            <td class="text-r">
                &euro; <?=number_format($row['pricePerUnit'] ? $row['pricePerUnit'] : 0, 2, ',', '.');?>
            </td>
            <td class="text-r">
<?      if(     ($this->proposalRow->accountId == $this->accountRow->getId())
            ||  $this->accountRow->acl('proposal','price-sheet')):
?>
                <input type="text" size="5" class="update-offer" name="amount" value="<?= number_format($row['amount'], 2) ?>" data-id="<?=$row['proposalCompanyOfferId'] ?>" />
<?      else: ?>
                <span class="update-offer" name="amount" data-id="<?=$row['proposalCompanyOfferId'] ?>"><?=number_format($row['amount'], 2);?></span>
<?      endif; ?>
            </td>
<?      if($this->includeDiscountPerOffer): ?>
            <td class="text-r">
<?          if($this->accountRow->acl('proposal','grant-discount')): ?>
                <input type="text" size="4" class="update-offer" name="discount" data-max="100"
                       value="<?=$row['discount'] ? number_format($row['discount'], 2, ',', '.') : 0;?>"
                       data-id="<?=$row['proposalCompanyOfferId'] ?>" />
<?          else: ?>
                <span class="update-offer" name="discount" data-max="100" data-id="<?=$row['proposalCompanyOfferId'] ?>"><?= ($row['discount'])? number_format($row['discount'], 2, ',', '.') : 0 ?></span>
<?          endif; ?>
            </td>
<?      endif;?>
            <td class="text-r">
                &euro; <?=number_format($row['pricePerUnit'] * $row['amount'] * (1 - ($row['discount'] ? $row['discount'] : 0) / 100), 2, ',', '.');?>
            </td>
        </tr>
<?  endforeach;?>
<?  if (!count($this->rowset)): ?>
        <tr>
            <td colspan="20" class="text-c">
                <em class="text-gray" id="offer-list-empty">Er zijn geen artikelen toegevoegd nog</em>
            </td>
        </tr>
<?  endif;?>

</tbody>
<tfoot>
    <tr>
        <td colspan="20" class="text-c">
<?
    if(     ($this->proposalRow->accountId == $this->accountRow->getId())
        ||  $this->accountRow->acl('proposal','price-sheet')):
?>
            <a href="#" class="btn-big btn-gray text-c add-offer">Nieuw product/dienst toevoegen</a>
<?  else:?>
            &nbsp;
<?  endif; ?>
        </td>
    </tr>
</tfoot>

