<?php
    if(!empty($this->itemId)):
        $this->layout()->setLayout('auth');
    endif;
    echo $this->information()->init(false);
?>

<?php if($this->kind == \Cart_Model_CartRow::KIND_SUPPORTMINUTES): ?>
    <?
        $h = $this->modules('support-ticket')->supportMinutesComboBox();
        $prices = $h->getPrices();
        $itemOptions = $h->getOptions();
    ?>
<?php else:?>
    <?
        $h = $this->modules('membership')->membershipComboBox();
        $prices = $h->getPrices();
        $itemOptions = $h->getOptions();
    ?>
<?php endif;?>

<div>
    <h2>
        <? if ($this->kind == \Cart_Model_CartRow::KIND_SUPPORTMINUTES): ?>
            Aankoop support minuten
        <? else: ?>
            Aankoop lidmaatschap
        <? endif; ?>
    </h2>

    <br />

    <?php if($this->validMembership): ?>
        Company heeft geldig lidmaatschap
        <br />
        <p class="text-c">
            <br />
            <br />
            <small>Of <a href="<?=empty($this->itemId) ? '' : '/ideal/'; ?>" data-dismiss="modal">annuleer</a></small>
        </p>
        </div>
    <?php return; endif; ?>

    <form method="post" class="validatable" action="/cart/index/create">
        <input type="hidden" name="redirectEncoded" value="<?=$this->redirectEncoded; ?>"/>
        <input type="hidden" name="kind" value="<?=$this->kind; ?>"/>
        <table class="width zebra form-fields">
                <tr>
                    <th>Aantal:</th>
                    <td class="info-cnt">&nbsp;</td>
                    <td>
                        <?php if(empty($this->itemId)): ?>
                            <?=$h->toField('itemId', null, array(
                                'class' => 'required amount-field',
                                'title' => 'Kind is een verplicht'
                            )); ?>
                        <?php else: ?>
                            <?=$itemOptions[$this->itemId]; ?>
                            <input type="hidden" name="itemId" value="<?=$this->itemId; ?>"/>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <th>Prijs:</th>
                    <td class="info-cnt">&nbsp;</td>
                    <td>
                        <?php if(empty($this->itemId)): ?>
                           &euro; <input class="required" id="price-field" type="text" readonly="readonly" name="price-field" value="" size="19" />
                        <?php else: ?>
                           &euro;  <?=$prices[$this->itemId]; ?>
                        <?php endif;?>
                    </td>
                </tr>
            <tr>
                <th>Bank:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <?=$this->modules('ideal')->bankComboBox()->toField('issuerId', null, array(
                            'class' => 'required',
                            'title' => 'Kind is een verplicht'
                        ));
                    ?>
                </td>
            </tr>
        </table>
        <hr />
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <span class="icon-save">Opslaan</span>
            </button>

            <br />
            <br />
            <small>Of <a href="<?=empty($this->itemId) ? '#' : '/ideal/'; ?>" data-dismiss="modal">annuleer</a></small>
        </p>
        <input id="description-field" type="hidden" name="description"
               value="<?=$this->kind; ?><?=$this->itemId ? ' (' . $itemOptions[$this->itemId] . ')' : '';?>" />
    </form>

</div>
<script type="text/javascript">
    $(function() {
        var prices = <?=Zend_Json::encode($prices); ?>,
            options = <?=Zend_Json::encode($itemOptions); ?>;
        $('.amount-field').change(function() {
            var $el = $(this);
            $('#price-field').val(prices[$el.val()]);
            $('#description-field').val('<?=$this->kind; ?>' + ' (' + options[$el.val()] + ')');
        });
    });
</script>

