<?=$this->information()->init(); ?>

<div class="box-gray actions-block margin-b">
    <a class="btn-green btn-big margin-r text-c create-cart-item modalForm" href="/cart/index/create/kind/<?=  \Cart_Model_CartRow::KIND_MEMBERSHIP; ?>/redirect/<?=\base64_encode('/cart/index'); ?>">
        Aankoop lidmaatschap
    </a>
    <a class="btn-green btn-big margin-l text-c create-cart-item modalForm" href="/cart/index/create/kind/<?=  \Cart_Model_CartRow::KIND_SUPPORTMINUTES; ?>/redirect/<?=\base64_encode('/cart/index'); ?>">
        Aankoop ondersteuning minuten
    </a>
</div>

<div class="list-container">
    <div class="list-title">Aankoop lijst</div>
    <div class="list-form">
        <?=$this->formFilterSearch('transDesc' , 'stringfree', array('placeholder' => 'Zoeken')); ?>
    </div>

    <table class="zebra width">
        <colgroup>
            <col width="*">
            <col width="*">
            <col width="30%">
            <col width="*">
            <col width="*">
            <col width="*">
            <col width="*">
        </colgroup>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Stad</th>
                <th>Beschrijving</th>
                <th>Soort</th>
                <th>Prijs</th>
                <th>Staat</th>
                <th>Laatste wijziging</th>
            </tr>
        </thead>
        <tbody>
            <?foreach($this->rowset as $cartRow): ?>
                <tr>
                    <td><?=$this->escape($cartRow['accuierName']); ?></td>
                    <td><?=$this->escape($cartRow['accuierCity']); ?></td>
                    <td><?=$this->escape($cartRow['transDesc']); ?></td>
                    <td><?=$this->cartKindComboBox()->toLabel($this->escape($cartRow['kind'])); ?></td>
                    <td>
                        &euro; <?=$this->escape($cartRow['price']); ?>
                    </td>
                    <td>
                        <?=$this->escape($cartRow['status']); ?>
                    </td>
                    <td>
                        <?php
                            $modifiedDatetime = \strtotime(empty($cartRow['updatedDatetime'])?$cartRow['createdDatetime']:$cartRow['updatedDatetime']);
                            $modifiedDatetime = \date('d-m-Y H:i:s', $modifiedDatetime);
                        ?>
                        <?=$this->escape($modifiedDatetime); ?>
                    </td>
                </tr>
            <?endforeach; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        var $modalCnt;
        $('.create-cart-item').click(function() {
            $.get(this.href).done(function(html) {
                if (!$modalCnt) {
                    $modalCnt = $('<div class="modal cart-modal-container" data-backdrop="static" />').appendTo('body');
                }

                $modalCnt.html(html).modal('toggle');
            });

            return false;
        });
    })
</script>
