<?=$this->information()->init(); ?>
<div class="list-container">
    <div class="list-title text-l">Alle IDeal betalingen</div>
    <div class="list-form">
        <?=$this->formFilterSearch('description' , 'stringfree', array('placeholder' => 'Zoeken')); ?>
    </div>

    <table class="zebra width">
        <colgroup>
            <col width="10%">
            <col width="45%">
            <col width="30%">
            <col width="10%">
            <col width="5%">
        </colgroup>
        <thead>
            <tr>
                <th>Datum</th>
                <th>Klant</th>
                <th>Omschrijving</th>
                <th>Staat</th>
                <th class="text-r">Bedrag</th>
            </tr>
        </thead>
        <tbody>
            <? if (!empty($this->rowset)): ?>
                <?foreach($this->rowset as $cartRow): ?>
                    <tr>
                        <td class="text-dark-gray">
                            <?
                                $modifiedDatetime = \strtotime(empty($cartRow['updatedDatetime'])?$cartRow['createdDatetime']:$cartRow['updatedDatetime']);
                                $modifiedDatetime = \date('d-m-Y', $modifiedDatetime);
                                echo $this->escape($modifiedDatetime);
                            ?>
                        </td>
                        <td>
                            <a href="/company/client/summary/companyId/<?=$cartRow['companyId'];?>">
                                <?=$cartRow['companyName'];?>
                            </a>
                        </td>
                        <td><?=$this->escape($cartRow['description']); ?></td>
                        <td><?=$this->escape($cartRow['status']); ?></td>
                        <td class="text-r">&euro; <?=$this->escape($cartRow['price']); ?></td>
                    </tr>
                <?endforeach; ?>
            <? else: ?>
                <tr>
                    <td colspan="text-gray text-c">
                        <em>Geen</em>
                    </td>
                </tr>
            <? endif; ?>
        </tbody>
    </table>
    <? if (!empty($this->rowset)): ?>
        <div class="list-pagination">
            <?=$this->pagination(); ?>
        </div>
    <? endif; ?>
</div>
