@CHARSET "UTF-8";

.m-cron-schedule .icon-start-16 {
    background: url(../images/start.png) no-repeat;
}

.m-cron-schedule .icon-stop-16 {
    background: url(../images/stop.png) no-repeat;
}

.m-cron-schedule .icon-restricted-time-16 {
    background: url(../../../restricted-times/_resources/images/time.png) no-repeat;
}