<?
    if (empty($this->pages)) {
        return;
    }

    $breadcrumbs = $this->breadcrumbs();

    if (count($this->pages) > 1) {
        $pages = array_merge(array('<a href="/" class="homepage"><span>Dashboard</span></a>'), array_map(function($page) use ($breadcrumbs) {
            if ('Dashboard' === $page->getLabel()) {
                return false;
            }
            return $page->getActive() ? sprintf('<span>%s</span>', $page->getLabel()) : $breadcrumbs->htmlify($page);
        }, $this->pages));

        echo implode('', $pages);
    } else {
        if ('Dashboard' === $this->pages[0]->getLabel()) {
            echo '<span class="homepage">Dashboard</span>';
        } else {
            echo '<a href="/" class="homepage"><span>Dashboard</span></a>';
            echo '<span>' . $this->pages[0]->getLabel() . '</span>';
        }

    }


