<?
$this->layout()->disableLayout();
$this->formValue()->init();
$this->formValue()->omitNullableModel(true);
$this->formValue()->setData($this->formSubmittedPostData ?: array());
?>

<form  method="post" action="/membership/subscribe/create/companyId/<?=$this->companyRow->id?>" class="membership validatable">
    <table >

        <tr>

            <td style="padding-top: 5px"> <strong > Type membership</strong></td>

            <td>
                <?=$this->modules('membership')
                ->membershipComboBox()
                ->toField('membershipId', $this->formValue('membershipId'), array(
                'class' => 'required'
            ));
                ?>
            </td>
        </tr>

    </table>

    <button  type="submit">
        Submit
    </button>
</form>




