<?php
    $this->formValue()->init();
    if (null === $this->blockRow):
        $this->formValue()->omitNullableModel(true);
    else:
        $this->formValue()->setModel($this->blockRow);
    endif;

    echo $this->tinyMCE(array(
        'id'            => $tmceid = uniqid(),
        'plugins_data'  => array(
            'mykwd'         => Proposal_Service_Keyword::fetchMyKeywords(),
            'clientkwd'     => Proposal_Service_Keyword::fetchClientKeywords(),
            'quickupload'   => array(
                'action'        => '/proposal-block/proposal-block-file-stock/quick-upload',
                'itemName'      => 'block',
                'itemId'        => $this->formValue('id'),
            ),
        ),
        'save_onsavecallback'   => 'AppaltiTextBlock.tinymce.ajaxSave'
    ));

?>
<div class="library-block-create">
    <h2>

        <? if (null !== $this->blockRow): ?>
            <?=$this->translate('Wijzig of verwijder document');?>
        <? else: ?>
            <?=$this->translate('Nieuwe tekst toevoegen aan de bibliotheek');?>
        <? endif; ?>
    </h2>

    <p>
        <?=nl2br($this->translate('In dit onderdeel van de bibliotheek worden nieuwe teksten gemaakt.
            Het is mogelijk om nieuwe teksten te schrijven, maar ook om bestaande teksten te kopiëren en in het tekstvak te plakken.
            Kijk voor meer informatie bij de <a href="/faq"> F.A.Q’s</a>.
        '));?>
    </p>
    <br />
    <form method="post" id="create-text-block-form" class="validatable"
          action="/proposal-block/index/<?= null === $this->blockRow ? 'create' : 'update'; ?>/format/text">


        <input type="hidden" name="library[id]" value="<?= $this->libraryRow->getId() ?>"/>
        <? if (null !== $this->blockRow): ?>
            <input type="hidden" name="blockId" value="<?=$this->formValue('id'); ?>"/>
        <? endif; ?>

        <input type="hidden" name="kind" value="text"/>
        <table class="form-fields">
            <tr>
                <th><?=$this->translate('Titel in bibliotheek');?>:</th>
                <td class="info-cnt">
                    <a class="icon-info-small" href="#" title="<?=$this->translate('Max title size is 70 characters');?>">&nbsp;</a>
                </td>
                <td>
                    <input type="text" class="required" maxlength="70"
                           name="name" value="<?=!$this->formValue('emptyFlag') ? $this->formValue('name') : ''; ?>"/>
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('Type element');?>:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <?= $this->modules('proposal-block')->categoryComboBox($this->libraryRow)->toField('categoryId', $this->formValue('categoryId'), array(
                        'class' => 'required',
                        'data-region-introduction' => Proposal_Service_Section::REGION_INTRODUCTION
                )); ?>
<? if (false && $this->acl('proposal-block', 'category', 'create-subcategory')): ?>
                        <a href="#" class="btn margin-l" id="create-category"><i class="icon-add"><?=$this->translate('Create new subcategory');?></i></a>
<? endif; ?>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <br />
                    <br />
                    <h4><b><?=$this->translate('Weergave in offerte');?></b></h4>
                </td>
            </tr>
            <tr id="titel-in-offerte">
                <th><?=$this->translate('Titel in offerte');?>:</th>
                <td class="info-cnt">
                    <a class="icon-info-small" href="#" title="<?=$this->translate('Max title size is 70 characters');?>">&nbsp;</a>
                </td>
                <td>
                    <input type="text" class="required" maxlength="70" name="title" value="<?= $this->formValue('title'); ?>" />
                    <label class="margin-l <?=$this->formValue('titleLevel');?>">
                        <input type="radio" name="titleLevel" value="1" <? if($this->formValue('titleLevel') == 1 || !$this->formValue('titleLevel')):?>checked="checked"<?endif;?> />
                        <?=$this->translate('Kop 1');?>
                    </label>
                    <label>
                        <input type="radio" name="titleLevel" value="2" <? if($this->formValue('titleLevel') == 2):?>checked="checked"<?endif;?> />
                        <?=$this->translate('Kop 2');?>
                    </label>
                    <label>
                        <input type="radio" name="titleLevel" value="3" <? if($this->formValue('titleLevel') == 3):?>checked="checked"<?endif;?> />
                        <?=$this->translate('Kop 3');?>
                    </label>
                </td>
            </tr>
            <tr>
                <th class="va-top">
                    <a class="btn-green btn-big text-c editorCommandTrigger" data-command="mcePreview" href="#">
                        <?=$this->translate('Afdrukvoorbeeld');?>
                    </a>
                    <br />
                    <br />
                    <a class="btn-green btn-big text-c editorCommandTrigger" data-command="mceFullScreen" href="#">
                        <?=$this->translate('Volledig scherm');?>
                    </a>
                    <br />
                    <br />
                    <a class="btn-green btn-big text-c" data-target="#modal-container" data-dismiss="modal" href="#">
                        <?=$this->translate('Ga naar bibliotheek');?>
                    </a>
                </th>
                <td class="info-cnt va-top">
                    <div class="m-block">
                        <a class="icon-info-small" href="#" title="<?=$this->translate('Een vrij veld is een veld dat per offerte verschilt, zoals bedrijfsnaam of de naam van de contactpersoon. Door voor een vrij veld te kiezen, vult het systeem automatisch de goede beschrijving in. Kies onder mijn bedrijfsgegevens of mijn relatiegegevens voor het juiste vrije veld. Zo personaliseert het systeem op simpele wijze aanbiedingsbrieven, offertes en bijlagen');?>">&nbsp;</a>
                    </div>
                </td>
                <td>
                    <textarea id="<?=$tmceid;?>" name="metadata" class="tinymce required"><?= $this->formValue('metadata'); ?></textarea>
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('Volledige pagina');?></th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <label>
                        <input type="radio" name="fitable" <? if ($this->formValue('fitable')): ?>checked="checked"<?endif; ?> value="1" />
                        &nbsp;Ja
                    </label>
                    <label>
                        <input type="radio" name="fitable" <? if (!$this->formValue('fitable')): ?>checked="checked"<?endif; ?> value="0" />
                        &nbsp;Nee
                    </label>
                </td>
            </tr>
        </table>
        <hr />
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <i class="icon-save"><?=$this->translate('Opslaan');?></i>
            </button>
            <br />
            <br />
            <a href="/proposal-block/" data-target="#modal-container" data-dismiss="modal"><small class="text-black"><?=$this->translate('Annuleer');?></small></a>
        </p>

    </form>
</div>

<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src="/modules-appalti/proposal-block/views/scripts/default/index/_resources/js/textBlockForm.js"></script>

<script>
    window.AppaltiTextBlock.libraryId = <?= $this->libraryRow->getId() ?>;
    window.AppaltiTextBlock.categoryData = <?
        $sec = new Proposal_Service_Section();
        $rowset = $sec->fetchAll('blockbuild');
        $result = array();
        foreach($rowset as $row) {
            $r = array(
                'luid' => $row->getLuid()
            );
            switch ($row->getLuid()) {
                case Proposal_Model_Section::SECTION_INTRODUCTION:
                    $r['theme'] = empty($this->proposalTheme->templateIntroduction)
                        ? 'default'
                        : $this->proposalTheme->templateIntroduction;
                    break;
                case Proposal_Model_Section::SECTION_COVER:
                    $r['theme'] = empty($this->proposalTheme->templateCover)
                        ? 'default'
                        : $this->proposalTheme->templateCover;
                    break;
                case Proposal_Model_Section::SECTION_CONTENT:
                    $r['theme'] = empty($this->proposalTheme->templateContent)
                        ? 'default'
                        : $this->proposalTheme->templateContent;
                    break;
                case Proposal_Model_Section::SECTION_INBETWEEN:
                    $r['theme'] = empty($this->proposalTheme->templateInBetween)
                        ? 'default'
                        : $this->proposalTheme->templateInBetween;
                    break;
                case Proposal_Model_Section::SECTION_ATTACHMENT:
                    $r['theme'] = empty($this->proposalTheme->templateAttachment)
                        ? 'default'
                        : $this->proposalTheme->templateAttachment;
                    break;
                default:
                    continue;
            }
            $result[$row->getDatabaseId()] = $r;
        }
        echo json_encode($result);
    ?>;
</script>

