<script src="/modules-appalti/proposal-block/views/scripts/default/index/_resources/js/fileBlockForm.js"></script>
<?php
    $this->formValue()->init();
    if (null === $this->blockRow):
        $this->formValue()->omitNullableModel(true);
    else:
        $this->formValue()->setModel($this->blockRow);
    endif;
?>
<div class="library-block-create">
    <h2><?=$this->translate('Nieuw document uploaden in de bibliotheek');?></h2>

    <p>
        <?=nl2br($this->translate('In dit onderdeel van de bibliotheek worden bestanden (plaatjes, PDF-stukken) vanuit een andere bestandslocatie geüpload. Kijk voor meer informatie bij de <a href="/faq"> F.A.Q’s</a>.'));?>
    </p>

    <br />

    <form method="post" enctype="multipart/form-data" class="validatable" id="file-block-form"
          action="/proposal-block/index/<?=(empty($this->blockRow)) ? 'create' : 'update'; ?>/format/file">

        <input type="hidden" name="library[id]" value="<?=$this->libraryRow->getId(); ?>"/>
        <? if (null !== $this->blockRow): ?>
            <input type="hidden" name="blockId" value="<?=$this->blockRow->getId(); ?>"/>
        <? endif; ?>
        <input type="hidden" name="type" value="file"/>
        <table class="form-fields">
            <tr>
                <th><?=$this->translate('Titel in bibliotheek');?>:</th>
                <td class="info-cnt">
                    <a class="icon-info-small" href="#" title="<?=$this->translate('Max title size is 70 characters');?>">&nbsp;</a>
                </td>
                <td>
                    <input type="text" name="name" maxlength="70" class="required" value="<?= $this->formValue('name'); ?>"/>
                </td>
            </tr>
            <tr>
                <th colspan="2"><?=$this->translate('Type element');?>:</th>
                <td>
                    <?=$this->modules('proposal-block')->categoryComboBox($this->libraryRow)->toField('categoryId', $this->formValue('categoryId')); ?>
<? if (false && $this->acl('proposal-block', 'category', 'create-subcategory')): ?>
                        <a href="#" class="btn margin-l" id="create-category"><i class="icon-add"><?=$this->translate('Create new subcategory');?></i></a>
<? endif; ?>
                </td>
            </tr>
            <tr>
                <th colspan="2"><?=$this->translate('Op volledige pagina zonder hoofd- en voettekst');?>:</th>
                <td>
                    <label>
                        <input type="radio" name="fitable" <? if ($this->formValue('fitable')): ?>checked="checked"<?endif; ?> value="1" />
                        &nbsp;<?=$this->translate('Ja');?>
                    </label>
                    <label>
                        <input type="radio" name="fitable" <? if (!    $this->formValue('fitable')): ?>checked="checked"<?endif; ?> value="0" />
                        &nbsp;<?=$this->translate('Nee');?>
                    </label>
                </td>
            </tr>
            <? if ($hasValidFileCollection = null !== $this->blockRow && $this->blockRow->isFileValid()) : ?>
                <tr>
                    <th colspan="2" class="va-top"><?=$this->translate('Huidig bestand(en)');?></th>
                    <? $filePaths = $this->blockRow->toFilePaths(); ?>
                    <td>
                        <div class="block-imgs <?=count($filePaths) == 1 ? 'preview-block-img' : ''; ?>">
                            <? if (count($filePaths) > 1):?>
                            <ul class="row">
                                <? foreach($filePaths as $filePath): ?>
                                <li><img src="<?=$filePath;?>" alt=""/></li>
                                <? endforeach; ?>
                            </ul>
                            <? else: ?>
                                <img src="<?=$filePaths[0]; ?>" alt="" />
                            <? endif; ?>
                        </div>
                    </td>
                </tr>
            <?endif; ?>
            <tr>
                <th class="va-top"><?=$this->translate('Bestand uploaden');?>:</th>
                <td class="info-cnt va-top">&nbsp;</td>
                <td>
                    <div id="file-upload-fields">
                        <input type="file" data-accept="jpeg,jpg,gif,png,pdf"
                               class="<?if(!$hasValidFileCollection): ?>required<?endif; ?>" name="imageName" />
                    </div>
                    <br>
                    <small>
                        Mogelijke bestandsformaten zijn: <b class="text-black">jpeg, jpg, gif, png, pdf</b>.
                        <br>
                        Bestanden mogen <b class="text-black">niet groter zijn als 10Mb</b>, mocht
                        uw bestand groter zijn als 10Mb dan wordt deze automatisch teruggebracht naar minder dan 10Mb.
                    </small>
                </td>
            </tr>
            <?/*
                Button for multiimage file block
                <tr>
                    <th colspan="2">&nbsp;</th>
                    <td>
                        <a class="btn" id="btn-add-upload-file-field" href="#">
                            <span class="icon-add">Add upload field</span>
                        </a>
                    </td>
                </tr>
            */?>
        </table>
        <hr />
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <span class="icon-save"><?=$this->translate('Opslaan');?></span>
            </button>
            <br />
            <br />
            <a href="/proposal-block/" data-dismiss="modal"><small class="text-black"><?=$this->translate('Annuleer');?></small></a>
        </p>

    </form>
</div>

<script type="text/javascript">
    $('#file-block-form').submit(function() {
        if ($(this).data('validator').form()) {
            $.when(AppaltiLayout.mask('<?=$this->translate('Het maken van het voorstel blok. Een ogenblik geduld.', '.library-block-create');?>'))
                .done(function() { return true; });
        } else {
            return false;
        }
    })
</script>