<h2><?=$this->blockRow->name?></h2>
<? if ($hasValidFileCollection = null !== $this->blockRow && $this->blockRow->isFileValid()) : ?>
    <? $filePaths = $this->blockRow->toFilePaths(); ?>
    <div class="block-imgs <?=count($filePaths) == 1 ? 'preview-block-img' : 'preview-block-imgs'; ?>">
        <? if (count($filePaths) > 1):?>
            <ul class="row">
                <? foreach($filePaths as $filePath): ?>
                    <li><img src="<?=$filePath;?>" alt=""/></li>
                <? endforeach; ?>
            </ul>
        <? else: ?>
            <img src="<?=$filePaths[0]; ?>" alt="" />
        <? endif; ?>
    </div>
<?endif; ?>
<hr />
<p class="text-c">
    <a href="/proposal-block/" class="btn-big text-c" data-dismiss="modal">Ok</a>
</p>