<div class="modal-head">
    <h2><?=$this->blockRow->name; ?></h2>
    <hr />
</div>

<div class="modal-content">
    <iframe class="preview-text" style="width: 100%; height: 100%" frameborder="0"
            src="/proposal-block/index/preview/iframe/1/categoryId/<?=$this->blockRow->categoryId;?>/blockId/<?=$this->blockRow->getId();?>/companyId/<?=$this->blockRow->companyId;?>"></iframe>
</div>

<div class="modal-foot">
    <hr />
    <p class="text-c">
        <a href="/lib" class="btn-big text-c" data-dismiss="modal">Ok</a>
    </p>
</div>
