<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <? if (!empty($this->css)): ?>
        <? foreach ($this->css as $css): ?>
            <link rel="stylesheet" href="<?=$css; ?>"/>
        <? endforeach; ?>
    <? endif; ?>
</head>
<body class="mceContentBody mce-fullscreen">
    <h1><?=$this->blockRow->title; ?></h1>
    <?=$this->blockRow->metadata; ?>
</body>
</html>
