<div id="introductionFooter">
    <style type="text/css">
        <? include_once __DIR__ ."/css/footer.css" ?>
    </style>

    <? if (!empty($company)): ?>
        <table class="companyAttrs">
            <tr>
                <td></td>
                <td>
                    <?
                        $ba = $company->getCompanyDefaultBankAccountRow();
                        if (!empty($ba)):
                    ?>
                        <p>Rabobank: <?=$ba->bankAccount; ?></p>
                    <? endif;?>
                    <p>KvK <?=$company->actualCity;?>: <?=$company->kvk; ?></p>
                    <p>BTW: <?=$company->btw; ?></p>
                </td>
            </tr>
        </table>
    <? endif; ?>
    <div class="over">&nbsp;</div>
</div>
