<div id="introductionHeader">
    <style type="text/css">
        <? include_once __DIR__ ."/css/header.css" ?>
    </style>

    <? if (!empty($company)): ?>
        <div class="senderLogo">
            <img src="<?=$company->getBase64EncodedLogo()?>" alt=""/>
        </div>

        <table id="senderContacts">
            <tr>
                <th colspan="2">
                    <strong><?=htmlspecialchars($company->getFullName()); ?></strong>
                </th>
            </tr>
            <tr>
                <td>
                    <? if (!empty($company->phone)):?>
                        <p>T <?=$company->phone; ?></p>
                    <? endif; ?>

                    <? if (!empty($company->fax)):?>
                        <p>F <?=$company->fax; ?></p>
                    <? endif; ?>

                    <? if (!empty($company->email)):?>
                        <p>E <?=$company->email; ?></p>
                    <? endif; ?>

                    <? if (!empty($company->website)):?>
                        <p>I <?=$company->website; ?></p>
                    <? endif; ?>
                </td>
            </tr>
        </table>
    <? endif; ?>
    <div class="over">&nbsp;</div>
</div>
