<div class="modal" data-backdrop="static">
    <h2>Wijzig de status van offerte</h2>
    <br>
    <form action="/proposal/index/update/format/json" class="validatable">
        <input type="hidden" name="proposalId" value="<?=$this->row->getId();?>"/>
        <label>Selecteer status:</label>
        <select name="status" class="width">
<?  foreach($this->row->getStatusOptions() as $k => $v): ?>
                <option value="<?=$k;?>" <?if ($k == $this->row->status):?>selected="selected"<?endif;?>><?=$v;?></option>
<?  endforeach; ?>
        </select>
        <hr>
        <p class="text-c">
            <button type="submit" class="btn-big">
                <span class="icon-save">Status aanpassen</span>
            </button>
            <br />
            <br />
            <small>Of <a href="#" data-dismiss="modal">annuleer</a></small>
        </p>
    </form>
</div>