<?if($this->acl('proposal', 'create')): ?>
    <div class="box-gray actions-block margin-b">
        <a class="btn-green btn-big2 action-create-block" href="/proposal/create">
            Ik wil een nieuwe offerte uitbrengen
        </a>
    </div>
<?endif; ?>

<div class="list-container">
    <div class="list-title">Alle uitgebrachte offertes</div>
    <?= $this->block('proposal-list', array('proposalId' => $this->proposalId), 'proposal', true)->getBlockObj() ?>
</div>
