<!DOCTYPE HTML>
<html lang="nl-NL">
<head>
    <? if (!empty($this->css)): ?>
        <? foreach ($this->css as $css): ?>
            <link rel="stylesheet" href="<?=$css; ?>"/>
        <? endforeach; ?>
    <? endif; ?>
</head>
<body class="mceContentBody">
    <?=$this->information()->init();?>
    <? if (!empty($this->themeRow->personalIntroductionHeader)): ?>
        <h1><?=$this->themeRow->personalIntroductionHeader;?></h1>
    <? endif; ?>

    <?=$this->themeRow->personalIntroduction; ?>
</body>
</html>
