<section class="cols-2 clearfix">
    <div class="clearfix">
        <article class="content">
            <?=$this->information()->init();?>
            <br>
            <h1>Detailinformatie offerte "<?=$this->proposalRow->getName();?>"</h1>
            <br>
            <? if ($this->proposalRow->isEditable()): ?>
                <div class="box-gray actions-block margin-b">
                    <form action="/proposal/index/update/proposalId/<?=$this->proposalRow->getId();?>" class="text-l">
                        <strong>Status van deze offerte:</strong>
                        &nbsp;
                        <select name="status">
                            <? foreach($this->proposalRow->getStatusOptions() as $k => $v): ?>
                                <option value="<?=$k;?>" <?if ($k == $this->proposalRow->status):?>selected="selected"<?endif;?>><?=$v;?></option>
                            <? endforeach; ?>
                        </select>
                        &nbsp;
                        <button type="submit" class="btn-green">
                            <strong>Status aanpassen</strong>
                        </button>
                    </form>
                </div>
            <? endif; ?>

            <div class="offer-blocks accordion">
                <h4 class="accordion-section-title">
                    <a href="#offer-client">Offerte- &  klantinformatie</a>
                </h4>
                <div class="accordion-section">
                    <? require __DIR__ . '/_offer-details/offer-client.phtml'; ?>
                </div>

                <h4 class="accordion-section-title">
                    <a href="#proposal-blocks">Inhoud van de offerte</a>
                </h4>
                <div class="accordion-section">
                    <? require __DIR__ . '/_offer-details/blocks.phtml'; ?>
                </div>

                <? if ($this->themeRow->includePersonalIntroduction): ?>
                    <h4 class="accordion-section-title">
                        <a href="#personal-intro">Persoonlijke inleiding </a>
                    </h4>
                    <div class="accordion-section padding-all">
                        <iframe src="/proposal/index/personal-intro/proposalId/<?=$this->proposalRow->getId();?>" frameborder="0" class="width" style="height: 300px;"></iframe>
                    </div>
                <? endif; ?>

                <? if ($this->themeRow->includePrice): ?>
                    <h4 class="accordion-section-title">
                        <a href="#price">Prijsblad</a>
                    </h4>
                    <div class="accordion-section padding-all">
                        <? require __DIR__ . '/_offer-details/price.phtml'; ?>
                    </div>
                <? endif; ?>
            </div>
        </article>

        <aside class="right">
            <?=$this->pageDescription();?>
        </aside>
    </div>
    <br>
    <hr>

    <p class="text-c">
        <?
            if (Zend_Auth::getInstance()->getIdentity()->isAdmin()):
                $href = '/company/client/summary/companyId/' . $this->proposalRow->companyId;
            else:
                $href = '/proposal/index/index';
            endif;
        ?>
        <a href="<?=$href;?>" class="btn-big btn-gray margin-r">
            <span class="icon-back">Stap terug</span>
        </a>
        <? if ($this->proposalRow->isEditable()): ?>
            <a href="/proposal/create/index/proposalId/<?=$this->proposalRow->getId();?>" class="btn-big">
                <span class="icon-edit">Offerte wijzigen</span>
            </a>
        <? endif; ?>
    </p>
</section>

<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>