@page {
    @bottom-left {
    	content: flow(footer);
    	background-color: #fff;
    	margin-left: 0;
    }
    @bottom {
      margin-left: 0;
      background-color: #fff;
    }
}


/*---------------------- Footer ----------------------*/
#footer { flow: static(footer) }
#footer .pages {
	content: "Pagina " counter(page) " van " counter(pages);
  margin: 10px 0;
	font-size: 10px;
	text-align: right;
}
#footer .footer {
  font-family: Tahoma;
  height: 20px;
  position: relative;
}
#footer .dtp {
	content: "P";
  background: #fff;
  border: 1px solid #fff;
  bottom: -11px;
  display: block;
  font-weight: 700;
  font-size: 50px;
  left: 1em;
  padding: 0 10px;
  position: absolute;
  text-align: center;
}
#footer .footer-accent {
  border-left: 5px solid #fff;
  float: right;
  height: 20px;
  line-height: 20px;
  width: 20px;
}