<table border="1">
<tr>
    <th>Path</th>
    <th>Owner</th>
    <th>Group</th>
    <th>Required</th>
    <th>Present</th>
</tr>
<?
foreach($this->permissions as $path => $mask):
$filename = realpath(APPLICATION_PATH . $path)
?>
<tr>
    <td><?=$filename; ?></td>
    <td><?
        $pwuid = posix_getpwuid(fileowner($filename));
        echo $pwuid['name']; ?>
    </td>
    <td>
        <?
        $grgid = posix_getgrgid(filegroup($filename));
        echo $grgid['name']; ?>
    </td>
    <td><?=$mask; ?></td>
    <td><?=substr(sprintf('%o', fileperms($filename)), -3); ?>
</tr>
<?endforeach; ?>
</table>