<section class="content">
    <?=$this->information()->init();?>
    <h2><?=$this->translate('Managementinformatie voor');?>:</h2>

    <div class="clearfix">
        <form action="/company/management/index" method="post">
            <? for ($i = 0; $i < 2; $i++ ): ?>
                <div class="width-50 float-l">
                    <div class="<?= $i ? 'margin-l' : 'margin-r'; ?>">
                        <table class="report-period">
                            <tr>
                                <td class="text-gray text-r va-middle padding-r"><?=$this->translate('Periode: van - t/m');?></td>
                                <td>
                                    <? $id = uniqid(); ?>
                                    <? $rangeToId = uniqid(); ?>
                                    <? $rangeFromId = uniqid(); ?>
                                    <input type="hidden" id="<?=$id;?>" name="stat[<?=$i; ?>][startDate]" value="<?=(!empty($this->postParams['stat'][$i]['startDate'])) ? $this->postParams['stat'][$i]['startDate'] : '';?>" />
                                    <input type="text" class="datepicker dateRange icon-datepicker" id="<?=$rangeFromId; ?>" value="<?=(!empty($this->postParams['stat'][$i]['startDate'])) ? $this->postParams['stat'][$i]['startDate'] : '';?>" size="19"
                                           data-range-to="#<?=$rangeToId;?>"
                                           data-alt-field="#<?=$id;?>"
                                           data-change-year="true"
                                           data-show-button-panel="true"
                                           data-change-month="true" />
                                    &nbsp;-&nbsp;
                                    <? $id = uniqid(); ?>
                                    <input type="hidden" id="<?=$id;?>" name="stat[<?=$i; ?>][endDate]" value="<?=(!empty($this->postParams['stat'][$i]['endDate'])) ? $this->postParams['stat'][$i]['endDate'] : '';?>" />
                                    <input type="text" class="datepicker dateRange icon-datepicker" id="<?=$rangeToId;?>" value="<?=(!empty($this->postParams['stat'][$i]['endDate'])) ? $this->postParams['stat'][$i]['endDate'] : '';?>" size="19"
                                           data-alt-field="#<?=$id;?>"
                                           data-range-from="#<?=$rangeFromId;?>"
                                           data-change-year="true"
                                           data-show-button-panel="true"
                                           data-change-month="true" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text-gray text-r va-middle padding-r"><?=$this->translate('Gebruiker(s)');?>:</td>
                                <td>
                                    <? $updateTarget = uniqid(); ?>
                                    <select name="stat[<?=$i; ?>][companyId]" class="width" data-target="#<?=$updateTarget;?>">
                                        <option value=""><?=$this->translate('Alle');?></option>
                                        <? foreach($this->rowset as $row): ?>
                                            <option value="<?=$row->getId();?>"
                                                <? if (!empty($this->postParams['stat'][$i]['companyId']) && $this->postParams['stat'][$i]['companyId'] === $row->getId()) :?>selected="selected"<?endif;?>>
                                                <?=$row->getFullName();?>
                                            </option>
                                        <? endforeach; ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-gray text-r va-middle padding-r"><?=$this->translate('Relatie');?>:</td>
                                <td>
                                    <select name="stat[<?=$i; ?>][clientCompanyId]" class="width" id="<?=$updateTarget;?>">
                                        <? if (empty($this->children[$i])):?>
                                            <option value="" disabled="disabled" selected="selected"><?=$this->translate('Selecteer gebruiker');?></option>
                                        <? else: ?>
                                            <option value="" selected="selected"><?=$this->translate('Alle');?></option>
                                            <? foreach($this->children[$i] as $row): ?>
                                                <option value="<?=$row->getId();?>"
                                                    <? if (!empty($this->postParams['stat'][$i]['clientCompanyId']) && $this->postParams['stat'][$i]['clientCompanyId'] === $row->getId()) :?>selected="selected"<?endif;?>>
                                                    <?=$row->getFullName();?>
                                                </option>
                                            <? endforeach; ?>
                                        <? endif; ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" value="<?=$this->translate('Filteren');?>"/>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <br>
                        <div class="box">
                            <table>
                                <tr>
                                    <td>
                                        <h2><?=$this->translate('Aantallen en percentages');?></h2>
                                    </td>
                                    <td>
                                        <div class="raphael"
                                             data-values="[<?=$this->stat[$i]['chart']['amount'];?>]"
                                             data-titles='[<?=$this->stat[$i]['chart']['titles'];?>]'
                                             data-colors='[<?=$this->stat[$i]['chart']['colors'];?>]'>
                                        </div>
                                    </td>
                                </tr>
                            </table>



                            <ul class="statistics">
<!--                                <li>-->
<!---->
<!--                                </li>-->
                                <li class="admAgenda">
                                    <p><?=$this->translate('Aantal uitgebrachte offertes');?></p>
                                    <p>
                                        <i class="icon-pending tip" title="<?=$this->translate('totaal- afgesloten');?>">
                                            <?=$this->translate('Aantal lopende offertes');?>
                                        </i>
                                    </p>
                                    <p><i class="icon-lost"><?=$this->translate('Aantal verloren offertes');?></i></p>
                                    <p><i class="icon-won"><?=$this->translate('Aantal gewonnen offertes');?></i></p>
                                    <p><i class="icon-withdrawn"><?=$this->translate('Aantal teruggetrokken offertes');?></i></p>
                                    <p><?=$this->translate('Hitrate gewonnen in');?> %</p>
                                    <p><?=$this->translate('Hitrate gewonnen in');?> %</p>
                                </li>
                                <li class="last">
                                    <P><?=$this->stat[$i]['total'];?></P>
                                    <p><?=$this->stat[$i]['status']['in-progress']['total'];?></p>
                                    <p><?=$this->stat[$i]['status']['lost']['total'];?></p>
                                    <p><?=$this->stat[$i]['status']['won']['total'];?></p>
                                    <p><?=$this->stat[$i]['status']['withdrawn']['total'];?></p>
                                    <p><?=$this->stat[$i]['totalInclInProgress'];?>%(<?=$this->translate("inclusief lopend")?>)</p>
                                    <p><?=$this->stat[$i]['totalExclInProgress'];?>%(<?=$this->translate("exclusief lopend")?>)</p>
                                </li>
                            </ul>
                        </div>

                        <div class="box margin-t">
                            <table class="width">
                                <tr>
                                    <td>
                                        <h2><?=$this->translate('Financieel');?></h2>
                                    </td>
                                    <td>
                                        <div class="raphael"
                                             data-values="[<?=$this->stat[$i]['chart']['money'];?>]"
                                             data-titles='[<?=$this->stat[$i]['chart']['titles'];?>]'
                                             data-colors='[<?=$this->stat[$i]['chart']['colors'];?>]'>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <ul class="statistics">
<!--                                <li>-->
<!--                                    -->
<!--                                </li>-->
                                <li class="admAgenda">
                                    <p><?=$this->translate("Aantal uitgebrachte offertes");?></p>
                                    <p><i class="icon-pending">&nbsp;</i><?=$this->translate('Lopende offertes – waarde in');?> &euro;</p>
                                    <p><i class="icon-lost">&nbsp;</i><?=$this->translate('Verloren offertes – waarde in');?> &euro;</p>
                                    <p><i class="icon-won">&nbsp;</i><?=$this->translate('Gewonnen offertes – waarde in');?> &euro;</p>
                                    <p><i class="icon-withdrawn">&nbsp;</i><?=$this->translate('Teruggetrokken offertes – waarde in');?> &euro;</p>
<!--                                    <p>--><?//=$this->translate('Hitrate gewonnen in');?><!-- &euro;</p>-->
<!--                                    <p>--><?//=$this->translate('Hitrate gewonnen in');?><!-- &euro;</p>-->
                                    <p><?=$this->translate('Gemiddelde offerte waarde in');?> &euro;</p>
                                </li>
                                <li class="last">
                                    <p><span>&euro;</span><span><?=$this->stat[$i]['totalCount'];?></span></p>
                                    <p><span>&euro;</span><span><?=number_format($this->stat[$i]['status']['in-progress']['money'], 2, ',', '.');?></span></p>
                                    <p><span>&euro;</span><span><?=number_format($this->stat[$i]['status']['lost']['money'], 2, ',', '.');?></span></p>
                                    <p><span>&euro;</span><span><?=number_format($this->stat[$i]['status']['won']['money'], 2, ',', '.');?></span></p>
                                    <p><span>&euro;</span><span><?=number_format($this->stat[$i]['status']['withdrawn']['money'], 2, ',', '.');?></span></p>
<!--                                    <p><span>&euro;</span><span>--><?//=$this->stat[$i]['totalMoneyInclInProgress'];?><!--</span></p>-->
<!--                                    <p><span>&euro;</span><span>--><?//=$this->stat[$i]['totalMoneyExclInProgress'];?><!--</span></p>-->
                                    <p><span>&euro;</span><span><?=$this->stat[$i]['averagePrice'];?></span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            <? endfor; ?>
        </form>
    </div>
    <br>
    <hr>
    <br>
    <div class="box">
        <?=$this->block('almost-expired-list', array(), 'proposal', true)->getBlockObj(); ?>
    </div>
    <br>
    <hr>
    <br>
    <div class="box">
        <?=$this->block('hitrate-under-list', array(), 'proposal', true)->getBlockObj(); ?>
    </div>
</section>

<link rel="stylesheet" href="/public/js/jquery-ui/datepicker/css/datepicker.css"/>
<script src="/public/js/jquery-ui/datepicker/jquery-ui-datepicker.min.js"></script>
<script src="/public/js/jquery-ui/datepicker/i18n/jquery.ui.datepicker-nl.js"></script>

<script src="/public/js/raphael/raphael-min.js"></script>
<script src="/public/js/raphael/g.raphael-min.js"></script>
<script src="/public/js/raphael/pie.chart.js"></script>

<script type="text/javascript">
    $(function() {
        $('select[name$="[companyId]"]').change(function() {
            var $el = $(this);
            if (!!this.value) {
                $.ajax({
                    url: '/company/management/fetch-company-clients',
                    type: 'post',
                    data: {
                        format : 'json',
                        companyId: this.value
                    },
                    dataType: 'json',
                    mask: true,
                    maskMsg: 'Ophalen bedrijf relaties. Een ogenblik geduld.',
                    success: function(response) {
                        if (response.success && response.clients.length) {
                            var $options = $('<option value="" selected="selected">Alle</option>'),
                                clients = response.clients;
                            for(var i = 0, len = clients.length; i < len; i++) {
                                $options = $options.add('<option value="' + clients[i].id + '">' + clients[i].name + '</option>');
                            }
                            $($el.data('target')).html($options);
                        } else {
                            alert(response.error);
                        }
                    }
                });
            } else {
                $($el.data('target')).html('<option value="" disabled="disabled" selected="selected">Selecteer gebruiker</option>');
            }
        })
    });
</script>
