<style>
    form {
        display: inline-block;
        width:215px;
        margin-right:10px;
    }
    #priceslider-values input {
        text-align: right;
        border:none;
        width:55px;
    }
    #priceslider-values input:after {
        content:",-";
    }
    #priceslider-min-max span {
        display:inline-block;
    }
    #priceslider-min-max span.min {
        float:left;
    }
    #priceslider-min-max span.max {
        float:right;
    }
    select {
        width:100%;
    }
    .result {
        display:inline-block;
        width:731px;
    }
    .statistics li {
        margin-left:38px;
    }
    .statistics li:first-child {
        margin-left:50px;
    }
</style>
<link rel="stylesheet" href="/public/js/jquery-ui/jquery-ui-1.10.3-theme-smoothness.min.css"/>
<script src="/public/js/jquery-1.9.1.min.js"></script>
<script src="/public/js/jquery-ui/jquery-ui.1.10.3.min.js"></script>
<script>
    var jQuery_1_9_1 = $.noConflict(true);
</script>
<section class="content" xmlns="http://www.w3.org/1999/html">
    <?= $this->information()->init() ?>
    <h2><?= $this->translate('Managementinformatie voor') ?>:</h2>
    <form action="/company/management/index" method="post" class="va-top">
        <table class="report-period box">
            <tr>
                <td class="text-gray text-l va-top"><?= $this->translate('Periode') ?>:</td>
                <td >&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" class="text-gray text-r va-middle">
                    <?= $this->translate('van') ?>
<?
    $id = uniqid();
    $rangeToId = uniqid();
    $rangeFromId = uniqid();
?>
                    <input type="hidden" id="<?=$id;?>" name="startDate" value="<?=(!empty($this->postParams['startDate'])) ? $this->postParams['startDate'] : '';?>" />
                    <input type="text" class="datepicker dateRange icon-datepicker" id="<?=$rangeFromId; ?>"
                           value="<?=!empty($this->postParams['startDate']) ? $this->formatDate($this->postParams['startDate']) : '';?>" size="19"
                           data-range-to="#<?=$rangeToId;?>"
                           data-alt-field="#<?=$id;?>"
                           data-change-year="true"
                           data-show-button-panel="true"
                           data-change-month="true" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-gray text-r va-middle">
                    <?=$this->translate('tot');?>
<? $id = uniqid(); ?>
                    <input type="hidden" id="<?=$id;?>" name="endDate" value="<?=(!empty($this->postParams['endDate'])) ? $this->postParams['endDate'] : '';?>" />
                    <input type="text" class="datepicker dateRange icon-datepicker" id="<?=$rangeToId;?>"
                           value="<?=!empty($this->postParams['endDate']) ? $this->formatDate($this->postParams['endDate']) : '';?>" size="19"
                           data-alt-field="#<?=$id;?>"
                           data-range-from="#<?=$rangeFromId;?>"
                           data-change-year="true"
                           data-show-button-panel="true"
                           data-change-month="true" />
                </td>
            </tr>

            <tr>
                <td class="text-gray text-l va-middle"><?= $this->translate('Bedrag') ?></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
<?
    $proposal_max_amount = ($this->proposalRowMaxAmount)? ceil($this->proposalRowMaxAmount->amount/1000)*1000:5000;
    $price_min = (isset($this->postParams['priceslider_min']))? $this->postParams['priceslider_min']:0;
    $price_max = (isset($this->postParams['priceslider_max']))? $this->postParams['priceslider_max']:$proposal_max_amount;
?>
                    <div id="priceslider-values">
                        <span class="text-gray">van</span> &euro;<input id ="priceslider_min" name="priceslider_min" value="<?= $price_min ?>" maxlength="7"/><span>,-</span>
                        <span class="text-gray">tot</span> &euro;<input id ="priceslider_max" name="priceslider_max" value="<?= $price_max ?>" maxlength="7"/><span>,-</span>
                    </div>
                    <div id="priceslider"></div>
                    <div id="priceslider-min-max">
                        <span class="min text-l">&euro; 0,-</span>
                        <span class="max text-r">&euro; <?= $proposal_max_amount ?>,-</span></div>
                    </div>
                    <script type="text/javascript">
                        jQuery_1_9_1('#priceslider').slider({
                            min: 0,                                         // min value
                            max: <?= $proposal_max_amount ?>,               // max value
                            step: 1000,                                     // default stepsize
                            range: true,                                    // 1 handle on false, 2 handles on true
                            values:[<?= $price_min ?>, <?= $price_max ?>],  // [value min handle, value max handle]
                            orientation: 'horizontal',                      // horizontal | vertical,

                            // event handlers
                            slide: function(event, ui){
                                $('#priceslider_min').val( ui.values[0] );
                                $('#priceslider_max').val( ui.values[1] );
                            }
                        });
                    </script>
                </td>
            </tr>

            <tr>
                <td class="text-gray text-l va-middle"><?=$this->translate('Relatie');?>:</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <select name="clientCompanyId" class="width">
                        <option value=""><?= $this->translate('Alle') ?></option>
<?  foreach($this->rowset as $row): ?>
                            <option value="<?= $row->getId() ?>"
<? if (!empty($this->postParams['clientCompanyId']) && $this->postParams['clientCompanyId'] === $row->getId()) :?>selected="selected"<?endif;?>>
                                <?= $row->getFullName() ?>
                            </option>
<?  endforeach; ?>
                    </select>
                </td>
            </tr>

<?/* locations */?>
<?  if(count($this->locations) > 1): ?>
            <tr>
                <td class="text-gray text-l va-middle">Bedrijfslocatie:</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" class="text-r">
                    <select name="locations[]">
                        <option value="">Alle bedrijfslocaties</option>
<?      $locations = array();
        foreach($this->locations as $location):
            $locations[] = array(
                'location' => $location,
                'themes' => $location->findManyToManyRowset('Proposal_Model_DbTable_CustomTemplate', 'Company_Model_DbTable_LocationProposalCustomTemplate'),
            );
            $selected = (in_array($location->getId(), $this->postParams['locations']))? ' selected="selected"':'';
?>
                        <option value="<?= $location->getId() ?>"<?= $selected ?>><?= $location->name ?> <?= $location->form ?>, <?= $location->actualCity ?></option>
<?      endforeach; ?>
                    </select>
                </td>
            </tr>
<?  endif; ?>
<?/* end locations */?>

<?/* regions */?>
<?  if (count($this->regions) > 1): ?>
            <tr>
                <td class="text-gray text-l va-middle">Regio:</td>
                <td class="text-r">
                    <select name="regions[]">
                        <option value="">Alle regio's</option>
<?      foreach($this->regions->getRowset() as $region):
            $selected = (in_array($region['id'], $this->postParams['regions']))? ' selected="selected"':'';
?>
                        <option value="<?= $region['id'] ?>"<?= $selected ?> title="<?= nl2br($region['description']) ?>"><?= $region['name'] ?></option>
<?      endforeach; ?>
                    </select>
                </td>
            </tr>
<?  endif; ?>
<?/* end regions */?>


<?/* themes */?>
<?  if (count($this->themes) > 1): ?>
            <tr>
                <td class="text-gray text-l va-middle">Thema:</td>
                <td class="text-r">
                    <select name="themes[]">
                        <option value="">Alle thema's</option>
<?      foreach($this->themes as $theme):
            $selected = (in_array($theme->getId(), $this->postParams['themes']))? ' selected="selected"':'';
?>
                        <option value="<?= $theme->getId() ?>"<?= $selected ?> title="<?= nl2br($theme->description) ?>"><?= $theme->name ?></option>
<?      endforeach; ?>
                    </select>
                </td>
            </tr>
<?  endif; ?>
<?/* end themes */?>

<?/* accounts */?>
<?  if (count($this->accounts) > 1):?>
            <tr>
                <td class="text-gray text-l va-middle">Gebruiker:</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" class="text-r">
                    <select name="contactpersons[]">
                        <option value="">Alle gebruikers</option>
<?      foreach($this->accounts as $accountRow):
            $contactpersonRow = $accountRow->getContactPersonRow();
            $selected = (in_array($accountRow->getId(), $this->postParams['contactpersons']))? ' selected="selected"':'';
            $active = ($accountRow->isActive && $contactpersonRow->isActive)? '':'text-gray';
?>
                        <option class="<?= $active ?>" value="<?= $accountRow->getId() ?>"<?= $selected ?>><?= $contactpersonRow['firstname'] ?> <?= $contactpersonRow['prefix'] ?> <?= $contactpersonRow['lastname'] ?></option>
<?      endforeach; ?>
                    </select>
                </td>
            </tr>
<?  endif?>
<?/* end accounts */?>

            <tr>
                <td class="text-c">
                    <a href="">
                        <?= $this->translate('Leegmaken') ?>
                    </a>
                </td>
                <td class="text-c">
                    <button type="submit">
                        <?= $this->translate('Filteren') ?>
                    </button>
                </td>
            </tr>
        </table>
    </form>

    <div class="result">
        <div class="box">
            <h2><?= $this->translate('Aantallen en percentages') ?></h2>

            <ul class="statistics">
                <li>
                    <div class="raphael"
                        data-values="[<?=$this->stat['chart']['amount'];?>]"
                        data-titles='[<?=$this->stat['chart']['titles'];?>]'
                        data-colors='[<?=$this->stat['chart']['colors'];?>]'>
                    </div>
                </li>
                <li>
                    <p><?=$this->translate("Aantal uitgebrachte offertes");?></p>
                    <p><i class="icon-pending">&nbsp;</i><?=$this->translate('Aantal lopende offertes');?></p>
                    <p><i class="icon-lost">&nbsp;</i><?=$this->translate('Aantal verloren offertes');?></p>
                    <p><i class="icon-won">&nbsp;</i><?=$this->translate('Aantal gewonnen offertes');?></p>
                    <p><i class="icon-withdrawn">&nbsp;</i><?=$this->translate('Aantal teruggetrokken offertes');?></p>
                    <p><?=$this->translate('Hitrate gewonnen offertes in');?> %</p>
                    <p><?=$this->translate('Hitrate gewonnen offertes in');?> %</p>
                </li>
                <li class="last">
                    <P><?=$this->stat['total'];?></P>
                    <p><?=$this->stat['status']['in-progress']['total'];?></p>
                    <p><?=$this->stat['status']['lost']['total'];?></p>
                    <p><?=$this->stat['status']['won']['total'];?></p>
                    <p><?=$this->stat['status']['withdrawn']['total'];?></p>
                    <p><?=$this->stat['totalInclInProgress']?>%&nbsp;&nbsp;(<?=$this->translate("inclusief lopend")?>)</p>
                    <p><?=$this->stat['totalExclInProgress']?>%&nbsp;&nbsp;(<?=$this->translate("exclusief lopend")?>)</p>
    <!--                <p><span>--><?//=$this->stat['totalExclInProgress'];?><!--%</span><span>(--><?//=$this->translate("exclusief lopend")?><!--)</span></p>-->
                </li>
            </ul>
        </div>

        <div class="box margin-t">
            <h2><?=$this->translate('Financieel');?></h2>
            <ul class="statistics">
                <li>
                    <div class="raphael"
                        data-values="[<?=$this->stat['chart']['money'];?>]"
                        data-titles='[<?=$this->stat['chart']['titles'];?>]'
                        data-colors='[<?=$this->stat['chart']['colors'];?>]'>
                    </div>
                </li>
                <li>
                    <p><?=$this->translate("Aantal uitgebrachte offertes");?></p>
                    <p><i class="icon-pending">&nbsp;</i><?=$this->translate('Lopende offertes – waarde in');?> &euro;</p>
                    <p><i class="icon-lost">&nbsp;</i><?=$this->translate('Verloren offertes – waarde in');?> &euro;</p>
                    <p><i class="icon-won">&nbsp;</i><?=$this->translate('Gewonnen offertes – waarde in');?> &euro;</p>
                    <p><i class="icon-withdrawn">&nbsp;</i><?=$this->translate('Teruggetrokken offertes – waarde in');?> &euro;</p>
    <!--                <p>--><?//=$this->translate('Hitrate gewonnen offertes in');?><!-- &euro;</p>-->
    <!--                <p>--><?//=$this->translate('Hitrate gewonnen offertes in');?><!-- &euro;</p>-->
                    <p><?=$this->translate('Gemiddelde offerte waarde in');?> &euro;</p>
                </li>
                <li class="last">
                    <p><span>&euro;</span><span><?=$this->stat['totalCount'];?></span></p>
                    <p><span>&euro;</span><span><?=number_format($this->stat['status']['in-progress']['money'], 2, ',', '.');?></span></p>
                    <p><span>&euro;</span><span><?=number_format($this->stat['status']['lost']['money'], 2, ',', '.');?></span></p>
                    <p><span>&euro;</span><span><?=number_format($this->stat['status']['won']['money'], 2, ',', '.');?></span></p>
                    <p><span>&euro;</span><span><?=number_format($this->stat['status']['withdrawn']['money'], 2, ',', '.');?></span></p>
    <!--                <p><span>&euro;</span><span>--><?//=$this->stat['totalMoneyInclInProgress'];?><!--</span></p>-->
    <!--                <p><span>&euro;</span><span>--><?//=$this->stat['totalMoneyExclInProgress'];?><!--</span></p>-->
                    <p><span>&euro;</span><span><?=$this->stat['averagePrice'];?></span></p>
                </li>
            </ul>
        </div>
<?  if($this->accountRow->acl('company', 'reporting','export')): ?>
        <div class="box actions-block margin-b margin-t">
            <a id="exportManagementInfo2Excel" class="btn-green btn-big2 action-create-block" href="/company/management/export/format/excel">
                <?= $this->translate('Exporteer naar excel') ?>
            </a>
            <script type="text/javascript">
                jQuery.fn.serializeObject = function()
                {
                    var o = {};
                    var a = this.serializeArray();
                    $.each(a, function() {
                        if (o[this.name] !== undefined) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    return o;
                };
                jQuery(function(){
                    $('#exportManagementInfo2Excel').click(function(){
                        var formData = JSON.stringify($('form').serializeObject());
                        $(this).attr('href', $(this).attr('href') +'/data:json/'+ formData);
                        $('#showUrl').val($(this).attr('href'));
                    });
                });
            </script>
        </div>
<?  endif; ?>
    </div>
    <br>
</section>

<link rel="stylesheet" href="/public/js/jquery-ui/datepicker/css/datepicker.css"/>
<script src="/public/js/jquery-ui/datepicker/jquery-ui-datepicker.min.js"></script>
<script src="/public/js/jquery-ui/datepicker/i18n/jquery.ui.datepicker-nl.js"></script>

<script src="/public/js/raphael/raphael-min.js"></script>
<script src="/public/js/raphael/g.raphael-min.js"></script>
<script src="/public/js/raphael/pie.chart.js"></script>