<?= $this->information()->init() ?>
<ul>
<?  foreach($this->companies as $company):
        if (!$company['parentId'] && !$company['motherId']):
?>
    <li>
        <div><?= $company['id'] ?>: <?= $company['name'] ?></div>
<?/**?>
        <div>
            <div>Relaties</div>
            <ul>
<?      foreach($company['childs'] as $childId): ?>
                <li>
<?          if($this->companies[ $childId ]['isActive']): ?>
                    <span><?= $this->companies[ $childId ]['name'] ?></span>
<?          else:?>
                    <strike><?= $this->companies[ $childId ]['name'] ?>&nbsp;</strike>
<?          endif; ?>
                </li>
<?      endforeach; ?>
            </ul>
        </div>
        <div>
            <div>Locations</div>
            <ul>
<?      foreach($company['locations'] as $locationId): ?>
                <li>
<?          if($this->companies[ $locationId ]['isActive']): ?>
                    <span><?= $this->companies[ $locationId ]['name'] ?></span>
<?          else:?>
                    <strike><?= $this->companies[ $locationId ]['name'] ?>&nbsp;</strike>
<?          endif; ?>
                </li>
<?      endforeach; ?>
            </ul>
        </div>
<?/**/?>
        <div>relations: <?= count($company['childs']) ?></div>
        <div>locations: <?= count($company['locations'])+1 ?></div>
<?          if(isset($company['count_regions'])): ?>
        <div>regions: <?= $company['count_regions'] ?></div>
<?          endif; ?>
<?          if(isset($company['count_libraries'])): ?>
        <div>libraries: <?= $company['count_libraries'] ?></div>
<?          endif; ?>
<?          if(isset($company['count_themes'])): ?>
        <div>themes: <?= $company['count_themes'] ?></div>
<?          endif; ?>
<?          if(isset($company['count_proposals'])): ?>
        <div>proposals: <?= $company['count_proposals'] ?></div>
<?          endif; ?>
    </li>
<?      endif;
    endforeach; ?>
</ul>