<?= $this->information()->init() ?>
<?= $this->action ?>

<? if($this->companyRow): ?>
<pre>company: <? print_r($this->companyRow->toArray()) ?></pre>
<?  endif; ?>
<? if($this->companyRowset): ?>
<pre>companies: <? print_r($this->companyRowset->toArray()) ?></pre>
<?  endif; ?>
<? if($this->libraryRow): ?>
<pre>library: <? print_r($this->libraryRow->toArray()) ?></pre>
<?  endif; ?>
<? if($this->proposalblock): ?>
<pre>proposalblock: <? print_r($this->proposalblock) ?></pre>
<?  endif; ?>
<? if($this->themeRow): ?>
<pre>theme: <? print_r($this->themeRow->toArray()) ?></pre>
<?  endif; ?>
<? if($this->themes): ?>
<pre>themes: <? print_r($this->themes->toArray())?></pre>
<?  endif; ?>
<? if($this->proposalRow): ?>
<pre>proposal: <? print_r($this->proposalRow->toArray())?></pre>
<?  endif; ?>
<? if($this->newProposalRow): ?>
<pre>new proposal: <? print_r($this->newProposalRow->toArray())?></pre>
<?  endif; ?>

