.m-notification-configuration-flag-english-16x16 {
    background: url(../images/english.png) no-repeat 0% 50% !important;
}

.m-notification-configuration-flag-dutch-16x16 {
    background: url(../images/dutch.png) no-repeat 0% 50% !important;
}