<?$this->headLink()->appendStylesheet('/modules/default/views/scripts/default/_resources/css/pagination-control/classic-small.css'); ?>
<div class="paging-bar small-bar ui-corner-bottom clearfix">
    <div>
        <?if ($this->first && $this->first != $this->current): ?>
            <a class="first-page" href="<?=$this->url(array('page' => $this->first)); ?>"
               title="<?=$this->translate('Go to first page'); ?>">&nbsp;</a>
        <?else: ?>
            <span class="first-page">&nbsp;</span>
        <?endif; ?>

        <?if ($this->previous): ?>
            <a class="previous-page" href="<?php echo $this->url(array('page' => $this->previous)); ?>"
               title="<?=$this->translate('Go to previous page'); ?>">&nbsp;</a>
        <?else: ?>
            <span class="previous-page">&nbsp;</span>
        <?endif; ?>

        <b><?=$this->translate('Page'); ?>&nbsp;</b>

        <input id="" class="page-number" type="text" value="<?=$this->current; ?>"
               title="<?=$this->translate('Enter the page you want to go to and press «Enter»');?>" />

        &nbsp;of&nbsp;<?=$this->pageCount; ?>

        <?if ($this->next): ?>
            <a class="next-page" href="<?=$this->url(array('page' => $this->next)); ?>"
               title="<?=$this->translate('Go to next page'); ?>">&nbsp;</a>
        <?else: ?>
            <span class="next-page">&nbsp;</span>
        <?endif; ?>

        <?if ($this->last && $this->last != $this->current): ?>
            <a class="last-page" href="<?=$this->url(array('page' => $this->last)); ?>"
               title="<?=$this->translate('Go to last page'); ?>">&nbsp;</a>
        <?else: ?>
            <span class="last-page">&nbsp;</span>
        <?endif; ?>

        <a class="refresh-btn" href="<?=$this->url(array('page' => $this->current)); ?>"
           title="<?=$this->translate('Refresh current page'); ?>">&nbsp;</a>
    </div>
</div>