<?$this->headLink()->appendStylesheet('/modules/default/views/scripts/default/_resources/css/pagination-control/classic.css'); ?>
<div class="paging-bar ui-corner-bottom">
    <?if ($this->first && $this->first != $this->current): ?>
        <a class="first-page" href="<?=$this->url(array('page' => $this->first)); ?>">
            <?=$this->translate('First'); ?>
        </a>
    <?else: ?>
        <span class="first-page"><?=$this->translate('First'); ?></span>
    <?endif; ?>
    <?if ($this->previous): ?>
        <a class="previous-page" href="<?php echo $this->url(array('page' => $this->previous)); ?>">
            <?=$this->translate('Previous'); ?>
        </a>
    <?else: ?>
        <span class="previous-page"><?=$this->translate('Previous'); ?></span> |
    <?endif; ?>

    <b><?=$this->translate('Page'); ?>&nbsp;</b>

    <input id="" class="page-number" type="text" title="<?=
        $this->translate('Enter the page you want to go to and press «Enter»');
    ?>" value="<?=$this->current; ?>" />
    &nbsp;of&nbsp;<?=$this->pageCount; ?>

    <?if ($this->next): ?>
        <a class="next-page" href="<?=$this->url(array('page' => $this->next)); ?>">
            <?=$this->translate('Next'); ?>
        </a>
    <?else: ?>
        <span class="next-page"><?=$this->translate('Next'); ?></span>
    <?endif; ?>
    <?if ($this->last && $this->last != $this->current): ?>
        <a class="last-page" href="<?=$this->url(array('page' => $this->last)); ?>">
            <?=$this->translate('Last'); ?>
        </a>
    <?else: ?>
        <span class="last-page"><?=$this->translate('Last'); ?></span>
    <?endif; ?>

    <a class="refresh-btn" href="<?=$this->url(array('page' => $this->current)); ?>" title="<?=$this->translate('Refresh current page'); ?>">&nbsp;</a>

    <b><?=$this->translate('Showing'); ?>:&nbsp;</b>
    <span><?=$this->firstItemNumber; ?></span>
    &ndash; <span><?=min($this->lastItemNumber, $this->totalItemCount); ?></span> of <?=$this->totalItemCount; ?>
</div>