<?php
/**
 * Digg pagination style
 *
 * @preview  « Previous  1 2 … 5 6 7 8 9 10 11 12 13 14 … 25 26  Next »
 */
?>

<p class="<?php echo $this->isAjax ? 'ajax-pagination' : 'pagination' ;?>">

	<?php if ($this->previous_page): ?>
        <?php if (!$this->isAjax):?>
            <a href="<?php echo $this->url(array('page' => $this->previous_page)); ?>">&laquo;&nbsp;<?php echo $this->translate('Previous')?></a>&nbsp;
        <?php else:?>
            <?$this->ajaxUrlOptions['page'] = $this->previous_page;?>
            <a href="<?php echo $this->url($this->ajaxUrlOptions)?>">&laquo;&nbsp;<?php echo $this->translate('Previous')?></a>&nbsp;
        <?php endif;?>
	<?php else: ?>
		&laquo;&nbsp;<?php echo $this->translate('Previous')?>&nbsp;
	<?php endif ?>


	<?php if ($this->total_pages < 13): /* « Previous  1 2 3 4 5 6 7 8 9 10 11 12  Next » */ ?>

		<?php for ($i = 1; $i <= $this->total_pages; $i++): ?>
			<?php if ($i == $this->current_page): ?>
				<strong><?php echo $i ?></strong>
			<?php else: ?>
                <?php if (!$this->isAjax):?>
                    <a href="<?php echo $this->url(array('page' => $i)); ?>"><?php echo $i ?></a>&nbsp;
                <?php else:?>
                    <?$this->ajaxUrlOptions['page'] = $i;?>
                    <a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $i?></a>&nbsp;
                <?php endif;?>
			<?php endif ?>
		<?php endfor ?>

	<?php elseif ($this->current_page < 9): /* « Previous  1 2 3 4 5 6 7 8 9 10 … 25 26  Next » */ ?>

		<?php for ($i = 1; $i <= 10; $i++): ?>
			<?php if ($i == $this->current_page): ?>
				<strong><?php echo $i ?></strong>
			<?php else: ?>
                <?php if (!$this->isAjax):?>
                    <a href="<?php echo $this->url(array('page' => $i)); ?>"><?php echo $i ?></a>&nbsp;
                <?php else:?>
                    <?$this->ajaxUrlOptions['page'] = $i;?>
                    <a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $i?></a>&nbsp;
                <?php endif;?>
			<?php endif ?>
		<?php endfor ?>

		&hellip;&nbsp;
        <?php if (!$this->isAjax):?>
            <a href="<?php echo $this->url(array('page' => $this->total_pages - 1)); ?>"><?php echo $this->total_pages - 1 ?></a>&nbsp;
            <a href="<?php echo $this->url(array('page' =>  $this->total_pages )); ?>"><?php echo $this->total_pages ?></a>
        <?php else:?>
            <?$this->ajaxUrlOptions['page'] = $this->total_pages - 1;?>
            <a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $this->total_pages - 1?></a>&nbsp;
            
            <?$this->ajaxUrlOptions['page'] = $this->total_pages ;?>
            <a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $this->total_pages?></a>
        <?php endif;?>


	<?php elseif ($this->current_page > $this->total_pages - 8): /* « Previous  1 2 … 17 18 19 20 21 22 23 24 25 26  Next » */ ?>

        <?php if (!$this->isAjax):?>
            <a href="<?php echo $this->url(array('page' => 1)); ?>">1</a>&nbsp;
            <a href="<?php echo $this->url(array('page' => 2)); ?>">2</a>
        <?php else:?>
            <?$this->ajaxUrlOptions['page'] = 1;?>
            <a href="<?php echo $this->url($this->ajaxUrlOptions)?>">1</a>&nbsp;

            <?$this->ajaxUrlOptions['page'] = 2;?>
            <a href="<?php echo $this->url($this->ajaxUrlOptions)?>">2</a>
        <?php endif;?>

		&nbsp;&hellip;

		<?php for ($i = $this->total_pages - 9; $i <= $this->total_pages; $i++): ?>
			<?php if ($i == $this->current_page): ?>
				<strong><?php echo $i ?></strong>&nbsp;
			<?php else: ?>
                <?php if (!$this->isAjax):?>
                    <a href="<?php echo $this->url(array('page' => $i)); ?>"><?php echo $i ?></a>&nbsp;
                <?php else:?>
                    <?$this->ajaxUrlOptions['page'] = $i;?>
                    <a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $i?></a>&nbsp;
                <?php endif;?>
			<?php endif ?>
		<?php endfor ?>

	<?php else: /* « Previous  1 2 … 5 6 7 8 9 10 … 25 26  Next » */ ?>

		<a href="<?php echo $this->url(array('page' => 1)); ?>">1</a>&nbsp;
		<a href="<?php echo $this->url(array('page' => 2)); ?>">2</a>&nbsp;
		&hellip;

		<?php for ($i = $this->current_page - 2; $i <= $this->current_page + 2; $i++): ?>
			<?php if ($i == $this->current_page): ?>
				<strong><?php echo $i ?></strong>
			<?php else: ?>
                <?php if (!$this->isAjax):?>
                    <a href="<?php echo $this->url(array('page' => $i)); ?>"><?php echo $i ?></a>&nbsp;
                <?php else:?>
                    <?$this->ajaxUrlOptions['page'] = $i;?>
                    <a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $i?></a>&nbsp;
                <?php endif;?>

			<?php endif ?>
		<?php endfor ?>

		&hellip;
        <?php if (!$this->isAjax):?>
            <a href="<?php echo $this->url(array('page' => $this->total_pages - 1)); ?>"><?php echo $this->total_pages - 1 ?></a>&nbsp;
            <a href="<?php echo $this->url(array('page' => $this->total_pages )); ?>"><?php echo $this->total_pages ?></a>
        <?php else:?>
            <?$this->ajaxUrlOptions['page'] = $this->total_pages - 1;?>
            <a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $this->total_pages - 1?></a>

            <?$this->ajaxUrlOptions['page'] = $this->total_pages ;?>
            <a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $this->total_pages?></a>
        <?php endif;?>

	<?php endif ?>


	<?php if ($this->next_page): ?>
        <?php if (!$this->isAjax):?>
            &nbsp;<a href="<?php echo $this->url(array('page' => $this->next_page)); ?>"><?php echo $this->translate('Next')?>&nbsp;&raquo;</a>
        <?php else:?>
            <?$this->ajaxUrlOptions['page'] = $this->next_page;?>
            &nbsp;<a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $this->translate('Next')?>&nbsp;&raquo;</a>
        <?php endif;?>
	<?php else: ?>
		&nbsp;<?php echo $this->translate('Next')?>&nbsp;&raquo;
	<?php endif ?>

</p>