<?php
/**
 * Extended pagination style
 *
 * @preview  « Previous | Page 2 of 11 | Showing items 6-10 of 52 | Next »
 */
?>

<p class="<?=$this->isAjax ? 'ajax-pagination' : 'pagination' ;?>">

  <?php if ($this->previous_page): ?>
    <?php if (!$this->isAjax):?>
        <a href="<?php echo $this->url(array('page' => $this->previous_page)); ?>">&laquo;&nbsp;<?php echo $this->translate('Previous')?></a>
    <?php else:?>
        <?$this->ajaxUrlOptions['page'] = $this->previous_page;?>
        <a href="<?php echo $this->url($this->ajaxUrlOptions)?>">&laquo;&nbsp;<?php echo $this->translate('Previous')?></a>
    <?php endif;?>
  <?php else: ?>
        &laquo;&nbsp;<?php echo $this->translate('Previous')?>&nbsp;
  <?php endif ?>

  |&nbsp;<?php echo $this->translate('Page')?>&nbsp;<?php echo $this->current_page ?>&nbsp;
         <?php echo $this->translate('of')?>&nbsp;<?php echo $this->total_pages ?>&nbsp;

  |&nbsp;<?php echo $this->translate('Showing')?>&nbsp;<?php echo $this->translate('items')?>&nbsp;
         <?php echo $this->current_first_item ?>&ndash;<?php echo $this->current_last_item ?>&nbsp;
         <?php echo $this->translate('of')?>&nbsp;<?php echo $this->total_items ?>&nbsp;

  |&nbsp;<?php if ($this->next_page): ?>
    <?php if (!$this->isAjax):?>
        <a href="<?php echo $this->url(array('page' => $this->next_page)); ?>"><?php echo $this->translate('Next')?>&nbsp;&raquo;</a>
    <?php else:?>
        <?$this->ajaxUrlOptions['page'] = $this->next_page;?>
        <a href="<?php echo $this->url($this->ajaxUrlOptions)?>"><?php echo $this->translate('Next')?>&nbsp;&raquo;</a>
    <?php endif;?>
  <?php else: ?>
    <?php echo $this->translate('Next')?>&nbsp;&raquo;
  <?php endif ?>

</p>