<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <a href="/company/theme"><span>Thema's</span></a>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'index',  'id'=>null))):?><span>Thema Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'select', 'id'=>null))):?><span>Thema Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Thema aanmaken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span>Thema bewerken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'delete', 'id'=>null))):?><span>Thema verwijderen</span><?endif;?>
</section>
<?=$this->information()->init();?>
<style type="text/css">
    table.function td {
        text-align: center;
        vertical-align: middle;
    }
    .list-container table thead td {
        border-bottom: 1px solid #BFBFBF;
    }
    .list-container table tbody th {
        border-bottom: none;
    }
    .list-container table tr.theme .name {
        width:200px;
        text-align: left;
        vertical-align: top
    }
    .list-container table tr.theme .name input {
        width:200px;
        text-align: left;
    }
    .list-container table tr.theme .description {
        width:417px;
        text-align: left;
        vertical-align: top;
    }
    .list-container table tr.theme .description textarea {
        width:100%;
        margin-bottom: 3px;
    }
    .list-container table tr.theme .actions {
        width:100px;
        text-align: center;
        vertical-align: top;
    }
</style>
<div class="list-container">
    <div class="list-title"><?=$this->translate("Thema aanmaken");?></div>
    <form method="post" action="<?= $this->url() ?>">
        <table class="zebra width tablesorter function">
            <tbody>
                <tr class="theme">
                    <th class="name">
                        <span>Bron thema:</span>
                        <select name="from_theme" style="float:right">
<? foreach($this->themes as $theme): ?>
                            <option value="<?= $theme['id'] ?>" title="<?= nl2br($theme['description']) ?>"><?= $theme['name'] ?></option>
<? endforeach; ?>
                        </select>
                     </th>
                    <td class="description" colspan="2">Het hier gekozen thema wordt gekopiëerd met de door u op te geven naam en beschrijving. Daarna kunt u het nieuwe thema aanpassen.</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th><span><?=$this->translate("Nieuw thema");?></span></th>
                    <td>Beschrijving</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="theme">
                    <td class="name">
                        <input type="hidden" name="to_theme[id]" value="<?= $this->theme['id'] ?>"/>
                        <input type="text" name="to_theme[name]" value="<?= $this->theme['name'] ?>" placeholder="themanaam"/>
                    </td>
                    <td class="description">
                        <textarea name="to_theme[description]" placeholder="Beschrijving" rows="1"><?= $this->theme['description'] ?></textarea>
                    </td>
                    <td class="actions">
                        <input type="submit" name="" value="Opslaan"/>
                        <a href="<?= $this->url(array('action'=>null,'id'=>null))?>"><span>Cancel</span></a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </form>
</div>
<script type="text/javascript">
jQuery(function(){
    function autoHeight(obj) {
        var enteredText = $(obj).val();
        numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
        var lineHeight = parseFloat($(obj).css("line-height"));
        $(obj).css('height', (numberOfLineBreaks + 2) * lineHeight);
    }
    $('textarea').each(function(){
        autoHeight(this);
    });
    $('textarea').keyup(function(e){
        if (   e.keyCode === 13 /* enter     */
            || e.keyCode ===  8 /* backspace */
            || e.keyCode === 46 /* delete    */ ) {
            autoHeight(this);
        }
    });
});
</script>