<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <a href="/company/theme"><span>Thema's</span></a>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'index',  'id'=>null))):?><span>Thema Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'select', 'id'=>null))):?><span>Thema Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Thema aanmaken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span>Thema bewerken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'delete', 'id'=>null))):?><span>Thema verwijderen</span><?endif;?>
</section>
<?=$this->information()->init();?>
