<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <span>Thema's</span>
</section>
<?=$this->information()->init();?>
<style type="text/css">
    table.function td {
        text-align: center;
        vertical-align: middle;
    }
    .list-container table thead td {
        border-bottom: 1px solid #BFBFBF;
    }
    .list-container table tbody th {
        border-bottom: none;
    }
    .list-container table tr.theme .name {
        width:200px;
        text-align: left;
        vertical-align: top
    }
    .list-container table tr.theme .name input {
        width:150px;
        text-align: left;
    }
    .list-container table tr.theme .description {
        width:400px;
        text-align: left;
        vertical-align: top;
        padding: 2px 10px;
    }
    .list-container table tr.theme .description textarea {
        width:400px;
        margin-bottom: 3px;
    }
    .list-container table tr.theme .libraries {
        width:200px;
        text-align: left;
        vertical-align: top;
    }
    .list-container table tr.theme .actions {
        width:200px;
        text-align: center;
        vertical-align: top;
    }
</style>
<?  if($this->accountRow->acl('company','theme','create')): ?>
<div class="box-gray actions-block margin-b">
    <a class="btn-green btn-big2 margin-r action-create-block" href="/company/theme/create">
        <?=$this->translate('Ik wil een nieuw thema aanmaken');?>
    </a>
</div>
<?  endif; ?>
<div class="list-container">
    <div class="list-title"><?=$this->translate("Alle thema's");?></div>
    <form method="post" action="<?= $this->url() ?>">
        <table class="zebra width tablesorter function">
            <thead>
            <tr>
                <th><span><?=$this->translate("Thema's");?></span></th>
                <th>Beschrijving</th>
                <th>Bibliotheek</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
<style type="text/css">
    tr.not-active * {
        color:#c0c0c0;
    }
</style>
<? foreach($this->themes as $theme): ?>
                <tr class="theme<?= $theme['active']? ' active':' not-active' ?>">
                    <th class="name">
                        <span> <?= $theme['name'] ?></span>
                    </th>
                    <td class="description">
                        <span><?= nl2br($theme['description']) ?></span>
                    </td>
                    <td class="libraries">
<?      foreach($theme->findManyToManyRowset('Company_Model_DbTable_Library','Company_Model_DbTable_LibraryProposalCustomTemplate') as $library): ?>
                            <div title="<?= nl2br($library->description) ?>"><?= $library->name ?></div>
<?      endforeach; ?>
                    </td>
                    <td class="actions">
<?      if($this->accountRow->acl('company','theme','update')): ?>
                        <a class="icon-edit update" href="/company/theme/update/id/<?=$theme['id']?>" title="Bewerken"></a>
<?      endif;?>
<?      if($this->accountRow->acl('company','theme','delete')):
            if(count($this->themes) > 1): ?>
                        <a class="icon-delete delete" href="#deleteModal" name="<?= $theme['name']?>" id="<?= $theme['id'] ?>" title="Verwijderen"></a>
<?          endif; ?>
<?      endif; ?>
                    </td>
                    <td>&nbsp;</td>
                </tr>
<? endforeach; ?>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </form>
</div>
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" style="display:none;" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Thema <span id="name"></span> verwijderen</h3>
    </div>
    <div class="modal-body">
        <p>Weet u zeker dat u dit thema wilt verwijderen?</p>
        <p>&nbsp;</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a class="btn btn-primary" href=""><span>Verwijder thema</span></a>
    </div>
</div>

<link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>
<script type="text/javascript">
jQuery(function(){
    function autoHeight(obj) {
        var enteredText = $(obj).val();
        numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
        var lineHeight = parseFloat($(obj).css("line-height"));
        $(obj).css('height', (numberOfLineBreaks + 2) * lineHeight);
    }
    $('textarea').each(function(){
        autoHeight(this);
    });
    $('textarea').keyup(function(e){
        if (   e.keyCode === 13 /* enter     */
            || e.keyCode ===  8 /* backspace */
            || e.keyCode === 46 /* delete    */ ) {
            autoHeight(this);
        }
    });
    $('a.delete').click(function(){
        $('#deleteModal #name').html("'"+ $(this).attr('name') +"'");
        $('#deleteModal a.btn-primary').attr('href','/company/theme/delete/id/'+ $(this).attr('id'));
        $('#deleteModal').modal('show');
    });
});
</script>

