@CHARSET "UTF-8";

.m-account-permission-list .account-permission-action-delete {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 1px;
}

.m-account-permission-list .x-grid-group-hd div.x-grid-group-title {
    background: none;
    padding-left: 3px;
}

.m-account-permission-list .account-permission-description {
    display: block;
    font-style: italic;
    color: #ababab;
    border-top: 1px dotted #acacac;
    margin-top: 2px;
}

.m-account-permission-list .account-permission-title .x-grid3-cell-inner {
    padding-left: 0;
}