<?

    echo $this->information()->init(false);

    $this->formValue()->init();
    if (null !== $this->supportMinutesRow):
        $this->formValue()->setModel($this->supportMinutesRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());

?>
<div>
    <h2>
        <? if (!empty($this->supportMinutesRow)): ?>
            Updaten
        <? else: ?>
            Ondersteuning minuten aanmaken
        <? endif; ?>
    </h2>

    <br />

    <form method="post" class="validatable"
          action="/support-ticket/support-minutes/<?=(empty($this->supportMinutesRow)) ? 'create' : 'update'; ?>">

        <? if (!empty($this->supportMinutesRow)): ?>
            <input type="hidden" name="supportMinutesId" value="<?= $this->formValue('id'); ?>"/>
        <? endif; ?>

        <table class="width zebra form-fields">
            <colgroup>
                <col width="50%">
                <col width="*">
                <col width="45">
            </colgroup>
            <tr>
                <th>Naam ondersteuning minuten:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text" size="25" name="name" value="<?= $this->formValue('name'); ?>" class="required" />
                    <?=$this->information()->toIcon('name'); ?>
                </td>
            </tr>
            <tr>
                <th>Bedragen:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text" size="25" name="amount" value="<?= $this->formValue('amount'); ?>" class="required number" />
                    <?=$this->information()->toIcon('amount'); ?>
                </td>
            </tr>
            <tr>
                <th>Prijs:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text" size="25" name="price" value="<?= $this->formValue('price'); ?>"  class="required number" />
                    <?=$this->information()->toIcon('price'); ?>
                </td>
            </tr>
        </table>
        <hr />
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <span class="icon-save">Opslaan</span>
            </button>

            <br />
            <br />
            <small>Of <a href="/support-ticket/support-minutes" data-dismiss="modal">annuleer</a></small>
        </p>

    </form>
</div>

