.osdn-icon-document-16x16 { /* osdn-document */
    background: url(../images/16x16/document/document.png) no-repeat left center !important;
}

.osdn-icon-attached-file { /* added-file */
    background: url(../images/16x16/document/attached-file.png) no-repeat left center !important;
}

.osdn-document-source-icon-16x16 {
    background: url(../images/16x16/document/storage.png) no-repeat left center !important;
}

.osdn-document-mandatory-icon-16x16 {
    background: url(../images/16x16/document/mandatory.png) no-repeat left center !important;
}

.osdn-documents {
    background: url(../images/16x16/document/documents.png) no-repeat left center !important;
}

.osdn-templates {
    background: url(../images/16x16/document/preview-bottom.gif) no-repeat left center !important;
}

.osdn-document {
    background: url(../images/16x16/document/view.png) no-repeat left center !important;
}

.osdn-document-requested {
    background: #ff9b9b;
}

.osdn-document-requested .x-grid-cell {
    background-color: transparent !important;
}

.osdn-document-received {
    background: #b9ffab;
}

.osdn-document-received .x-grid-cell{
    background-color: transparent !important;
}

.osdn-up-16x16 {
    background-image: url(../images/16x16/document/up.png);
}

.osdn-down-16x16 {
    background:url(../images/16x16/document/down.png) no-repeat left center !important;
}

.osdn-document-add {
    background: url(../images/16x16/document/add.png) no-repeat left center !important;
}

.osdn-document-edit {
    background: url(../images/16x16/document/edit.png) no-repeat left center !important;
}

.osdn-document-delete {
    background: url(../images/16x16/document/delete.png) no-repeat left center !important;
}

.osdn-document-add-request {
    background: url(../images/16x16/document/add_request.gif) no-repeat left center !important;
}

.osdn-document-delete-request {
    background: url(../images/16x16/document/delete_request.gif) no-repeat left center !important;
}

.osdn-document-requested-added {
    background: url(../images/16x16/document/requested.gif) no-repeat left center !important;
}

.osdn-document-personal {
    background: url(../images/16x16/document/personal-document.png) no-repeat left center !important;
}

.osdn-document-course {
    background: url(../images/16x16/document/course-document.png) no-repeat left center !important;
}

.m-comment-list {
    background: url(../images/16x16/comments.png) no-repeat 95% 50%;
    cursor: pointer;
}

.m-document .icon-document-forms-16 {
    background: url(../images/16x16/forms.gif) no-repeat 0% 50%;
    cursor: pointer;
}