<?= $this->information()->init() ?>
<?/**?>
<div class="box-gray actions-block margin-b">
    <a class="btn-green btn-big2 margin-r action-create-block" href="/company/client/create/">
        <?=$this->translate('Ik wil een nieuwe relatie aanmaken');?>
    </a>
</div>
<?/**/?>

<div class="list-container">
    <div class="list-title text-l"><?= $this->translate('Alle relaties') ?></div>
    <div class="list-form">
        <?= $this->formFilterSearch('name, postCity, email, proposalCount', 'stringfree', array('placeholder' => $this->translate('Zoek relatie'))) ?>
    </div>

    <table class="zebra width tablesorter">
        <thead>
        <tr>
            <th><span><?= $this->translate('Relatie') ?></span></th>
            <th><span><?= $this->translate('Aanmaakdatum') ?></span></th>
            <th><span><?= $this->translate('E-mail') ?></span></th>
            <th><span><?= $this->translate('Offertes') ?></span></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
<?  foreach($this->rowset as $companyRow): ?>
                <tr<?=$companyRow->isActive ? '' : ' class="text-gray"'?>>
                    <td>
                        <a  href="/company/client/summary/companyId/<?= $companyRow->getId() ?>"
                            <?= $companyRow->isActive ? '' : ' class="text-gray"' ?>
                            title="<?= $this->translate('Relatie gegevens') ?>">
                            <?= $this->escape($companyRow->name) ?>
                        </a>
                    </td>
                    <td>
                        <a title="<?= $this->escape(date('d M Y H:i:s', strtotime($companyRow->createdDatetime))) ?>">
                            <?= $this->escape(date('d M Y', strtotime($companyRow->createdDatetime))) ?>
                        </a>
                    </td>
                    <td>
                        <a href="mailto:<?= $this->escape($companyRow->email) ?>" <?= ($companyRow->isActive)? '' : ' class="text-gray"' ?>>
                            <?= $this->escape($companyRow->email) ?>
                        </a>
                    </td>
                    <td><?= $companyRow->proposalCount ?></td>
                    <td class="actions">
                        <a href="/company/client/summary/companyId/<?= $companyRow->getId() ?>" title="<?= $this->translate('Relatie gegevens') ?>" class="icon-edit">&nbsp;</a>
                        <?/*
                            <a href="/company/index/update/companyId/<?=$companyRow->getId(); ?>" title="Bewerken relatie gegevens">
                            <i class="icon-zoom">&nbsp;</i>
                            </a>
                        */?>
                        <? $return = base64_encode('/company/client/index');?>
                        <? if ($companyRow->isActive): ?>
                            <a href="/company/client/change-status/companyId/<?=$companyRow->getId(); ?>/active/0/return/<?=$return?>"
                               title="<?=$this->translate('Change company status to «Inactive»');?>" class="icon-active"
                               onclick="return confirm(<?=$this->translate('Weet je zeker dat?');?>);">&nbsp;</a>
                        <? else: ?>
                            <a href="/company/client/change-status/companyId/<?=$companyRow->getId(); ?>/active/1/return/<?=$return?>"
                               class="icon-inactive"
                               title="<?=$this->translate('Change company status to «Active»');?>">&nbsp;</a>
                        <? endif; ?>
                        <?/*
                            <a href="/company/index/delete/companyId/<?=$companyRow->getId(); ?>" title="Verwijder relatie"
                               onclick="return confirm('Weet je zeker dat?');">
                                <i class="icon-delete">&nbsp;</i>
                            </a>
                        */?>
                    </td>
                </tr>
<?  endforeach; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?= $this->pagination() ?>
    </div>
</div>
<script src="/public/js/jquery-plugins/tablesorter/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>
