<?
    echo $this->information()->init(false);

    $this->formValue()->init();
    if (null !== $this->row):
        $this->formValue()->setModel($this->row);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
?>

<article>
    <h1>Gegevens <?=$this->formValue('Fullname'); ?></h1>
    <div class="box-gray margin-b">
<?/**?>
<?  if ($this->formValue('isActive')): ?>
<?      $membership = $this->row->getMembership(); ?>
        <form action="/membership/company/update" class="margin-r" method="post">
            <input type="hidden" name="companyId" value="<?= $this->formValue('id') ?>"/>
            <input type="hidden" name="return" value="<?= base64_encode('/company/client/summary/companyId/' . $this->formValue('id')) ?>"/>
            <?= $this->translate('Change company membership period:') ?>
                <? $id = uniqid(); ?>
                <? $rangeToId = uniqid(); ?>
                <? $rangeFromId = uniqid(); ?>
                <input type="hidden" id="<?=$id;?>" name="startDate" value="" />
                <input type="text" class="datepicker dateRange icon-datepicker"
                       id="<?=$rangeFromId; ?>"
                       value="<?=$this->formatDate($membership->startDatetime); ?>"
                       size="15"
                       data-range-to="#<?=$rangeToId;?>"
                       data-alt-field="#<?=$id;?>"
                       data-change-year="true"
                       data-show-button-panel="true"
                       data-change-month="true" />
                &nbsp;-&nbsp;
                <? $id = uniqid(); ?>
                <input type="hidden" id="<?=$id;?>" name="endDate" value="" />
                <input type="text" class="datepicker dateRange icon-datepicker"
                       id="<?=$rangeToId;?>"
                       value="<?=$this->formatDate($membership->endDatetime); ?>"
                       size="15"
                       data-alt-field="#<?=$id;?>"
                       data-range-from="#<?=$rangeFromId;?>"
                       data-change-year="true"
                       data-show-button-panel="true"
                       data-change-month="true" />
                <input type="submit" class="margin-l" value="<?=$this->translate('Apply');?>"/>
            </form>
            <hr>
        <? endif; ?>
<?/**/?>

        <? require 'change-status.phtml'?>
    </div>
    <div class="accordion">
        <? $target = uniqid();?>
        <h4 class="accordion-section-title">
            <a href="#general-info" data-target="#<?= $target ?>" data-url="/company/index/update-info-only/companyId/<?=$this->formValue('id')?>">
                <?=$this->translate('Basisgegevens');?>
            </a>
        </h4>
        <div class="accordion-section padding-all" id="<?=$target;?>"></div>

        <? $target = uniqid();?>
        <h4 class="accordion-section-title">
            <a href="#company-defaults" data-target="#<?=$target;?>" data-url="/proposal/template/company-default-fields/companyId/<?=$this->formValue('id')?>">
                <?=$this->translate('Offertegegevens');?>
            </a>
        </h4>
        <div class="accordion-section padding-all" id="<?=$target;?>"></div>

        <? $target = uniqid();?>
        <h4 class="accordion-section-title">
            <a href="#contact-persons" data-target="#<?=$target;?>" data-url="/company/index/update-contact-persons/companyId/<?=$this->formValue('id')?>">
                <?=$this->translate('Contactpersonen');?>
            </a>
        </h4>
        <div class="accordion-section padding-all" id="<?=$target;?>"></div>

        <? $target = uniqid();?>
        <h4 class="accordion-section-title">
            <a href="#client-proposals" data-target="#<?=$target;?>" data-url="/proposal/index/client-proposals/companyId/<?=$this->formValue('id')?>/return/<?= base64_encode($this->url())?>">
                <?=$this->translate('Uitgebrachte offertes');?>
            </a>
        </h4>
        <div class="accordion-section padding-all" id="<?=$target;?>"></div>
    </div>
</article>
<br>
<hr>
<p class="text-c">
    <a href="/company/client/index" class="btn-big btn-gray margin-r">
        <i class="icon-back"><?=$this->translate('Overzicht relaties');?></i>
    </a>
    <a href="#" class="btn-big" id="saveCompanyData">
        <i class="icon-save"><?=$this->translate('Opslaan');?></i>
    </a>
</p>

<link rel="stylesheet" href="/public/js/jquery-ui/datepicker/css/datepicker.css"/>
<script src="/public/js/jquery-ui/datepicker/jquery-ui-datepicker.min.js"></script>
<script src="/public/js/jquery-ui/datepicker/i18n/jquery.ui.datepicker-nl.js"></script>

<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
<script src="/modules-appalti/company/views/scripts/default/client/_resources/js/adminClientSummary.js"></script>