<?
//    echo $this->information()->init(false);

    if (!empty($this->companyRow)) {
        $this->formValue()->init();
        $this->formValue()->setModel($this->companyRow);
    } else {
        $this->formValue()->omitNullableModel(true);
    }

    // determine company in active period
    $active = ($this->formValue('isActive'))? true:false;
    $periodActive = false;
    if ($this->formValue('activeTillDate'))
    {
        $active = false;
        $activeTill = strtotime($this->formValue('activeTillDate')) + (24*60*60);
        if (time() < $activeTill)
        {
            $active = true;
            $periodActive = true;
        }
    }
?>
<form method="post" action="/company/client/change-status" id="companyStatus">
    <input type="hidden" name="companyId" value="<?=$this->formValue('id');?>"/>
    <input type="hidden" name="return" value="<?=base64_encode('/company/client/summary')?>"/>
    <?=$this->translate('Change company status to');?>:
    <label class="inline margin-r">
        <input name="active" type="radio" value="1" <?= ($active)? 'checked="checked"' : ''; ?> />
        <?=$this->translate('Active')?>
    </label>
    <label class="inline margin-r">
        <input name="setActiveTill" type="checkbox" value="1"
               <?=!$this->formValue('isActive') ? 'disabled="disabled"' : ''; ?>
               <?=$periodActive ? 'checked="checked"' : ''; ?> />
        <?=$this->translate('Active till')?>:
    </label>
    <label class="inline margin-r <?=!$this->formValue('isActive') ? 'text-gray' : '';?>">
        <?$id = uniqid();?>
        <input type="hidden" id="<?=$id;?>" name="activeTillDate" value="" />
        <input type="text" class="datepicker icon-datepicker"
               <?=($this->formValue('isActive') && !$this->formValue('activeTillDate')) || !$this->formValue('isActive') ? 'disabled="disabled"' : ''; ?>
               value="<?=$this->formValue('isActive') && $this->formValue('activeTillDate') ? $this->formatDate($this->formValue('activeTillDate')) : '';?>"
               size="15"
               data-alt-field="#<?=$id;?>"
               data-change-year="true"
               data-show-button-panel="true"
               data-change-month="true"
               <?= ($periodActive)? 'data-min-date="+0"':'disabled="disabled"' ?>/>
    </label>
    <label class="inline margin-r">
        <input name="active" type="radio" value="0" <?=!($active)? 'checked="checked"' : ''; ?> />
        <?=$this->translate('Inactive')?>
    </label>
</form>