<section class="cols-2">
    <?=$this->information()->init(false);?>
    <form id="create-company" class="validatable" method="POST" action="/company/create/info" enctype="multipart/form-data">
        <div class="clearfix">
            <article class="content">
<?
//    $this->formValue()->init();
//    if (null !== $this->companyRow):
//        $this->formValue()->setModel($this->companyRow);
//    else:
//        $this->formValue()->omitNullableModel(true);
//    endif;
//    $this->formValue()->setData($this->formSubmittedPostData ?: array());
//
//    require_once __DIR__ . '/../index/form.field.phtml';
?>
            </article>

            <aside class="right">
<!--                --><?//=$this->pageDescription();?>
            </aside>
        </div>

        <br>
        <hr>

        <p class="text-c">
            <button type="submit" class="btn-big margin-r">
                <i class="icon-save"><?=$this->translate('Opslaan')?></i>
            </button>
        </p>
    </form>
</section>




