    <section class="breadcrumbs">
        <a href="/company"><span>Mijn beheer</span></a>
        <span>Relaties</span>
    </section>
    <?= $this->information()->init() ?>
<?  if ($this->accountRow->acl('company','relation','create')): ?>
    <div class="box-gray actions-block margin-b">
        <a class="btn-green btn-big2 margin-r action-create-block" href="/company/index/create/parentId/<?=$this->companyRow->getId(); ?>">
            <?= $this->translate('Ik wil een nieuwe relatie aanmaken') ?>
        </a>
    </div>
<?  endif; ?>

    <div class="list-container">
        <div class="list-title"><?=$this->translate('Alle relaties');?></div>
        <div class="list-form">
            <?=$this->formFilterSearch('name, postCity, email, proposalCount', 'stringfree', array('placeholder' => $this->translate('Zoeken in relaties'))); ?>
        </div>

        <table class="zebra width tablesorter">
            <thead>
            <tr>
                <th><span><?=$this->translate('Relatie');?></span></th>
                <th><span><?=$this->translate('Plaats');?></span></th>
                <th><span><?=$this->translate('E-mail');?></span></th>
                <th><span><?=$this->translate('Offertes');?></span></th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
<?  foreach($this->rowset as $companyRow): ?>
                    <tr>
                        <td>
                            <a href="/company/client/summary/companyId/<?=$companyRow->getId(); ?>" title="<?=$this->translate('Relatie gegevens');?>">
                                <?=$this->escape($companyRow->name); ?>
                            </a>
                        </td>
                        <td><?=$this->escape($companyRow->postCity); ?></td>
                        <td>
                            <a href="mailto:<?=$this->escape($companyRow->email); ?>">
                                <?=$this->escape($companyRow->email); ?>
                            </a>
                        </td>
                        <td><?=$companyRow->proposalCount; ?></td>
                        <td class="actions">
                            <a href="/company/client/summary/companyId/<?=$companyRow->getId(); ?>" title="<?=$this->translate('Relatie gegevens');?>" class="icon-zoom">
                                &nbsp;
                            </a>
<?      if ($companyRow->isEditable()): ?>
<?          if($this->accountRow->acl('company','relation','update')): ?>
                                <a href="/company/index/update/companyId/<?=$companyRow->getId(); ?>" class="icon-edit" title="<?=$this->translate('Bewerken relatie gegevens');?>">
                                    &nbsp;
                                </a>
<?          endif; ?>
<?          if($this->accountRow->acl('company','relation','delete')): ?>
                                <a href="/company/index/delete/companyId/<?=$companyRow->getId(); ?>"
                                   title="<?=$this->translate('Verwijder relatie');?>"
                                   class="icon-delete"
                                   onclick="return confirm('<?=$this->translate('Alle aan deze relatie gerelateerde gegevens (waaronder offertes) zullen ook worden verwijderd.\nBent u zeker dat u dit bedrijf wilt verwijderen?'); ?>');">
                                    &nbsp;
                                </a>
<?          endif; ?>
<?      endif; ?>
                        </td>
                    </tr>
<?  endforeach ?>
            </tbody>
        </table>
        <div class="list-pagination">
            <?=$this->pagination(); ?>
        </div>
    </div>
    <script src="/public/js/jquery-plugins/tablesorter/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>