<?
    echo $this->information()->init(false);

    $this->formValue()->init();
    if (null !== $this->row):
        $this->formValue()->setModel($this->row);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
?>
<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
<?/*    <a href="/proposal/settings"><span>Offerte Informatie</span></a>  */?>
    <a href="/company/client"><span>Relaties</span></a>
    <span><?= $this->formValue('name') ?> <?= $this->formValue('form') ?></span>
</section>
<section class="cols-2 clearfix">

    <div class="clearfix">
        <article class="content">
            <h1>Gegevens <?=$this->formValue('Fullname'); ?></h1>
            <br>
            <div class="accordion">
                <h4 class="accordion-section-title"><a href="#general-info">Basisgegevens</a></h4>

                <div class="accordion-section">
                    <table class="width form-fields item-summary">
                        <tr>
                            <th>
                                <h5><b>Bedrijfsgegevens</b></h5>
                                Bedrijfsnaam:
                            </th>
                            <td class="va-bottom"><?=$this->formValue('name'); ?></td>
                        </tr>
                        <tr>
                            <th>Bedrijfsvorm:</th>
                            <td><?=$this->formValue('form'); ?></td>
                        </tr>
                        <tr>
                            <th>E-mailadres:</th>
                            <td>
                                <? $email = $this->formValue('email'); ?>
                                <? if (!empty($email)): ?>
                                <a href="mailto:<?=$email?>"><?=$email?></a>
                                <? endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <th class="va-top">Uw logo:</th>
                            <td>
                                <?if (null !== $this->row): ?>
                                <img src="<?=$this->modules('company')->CompanyLogoFileStock($this->row)->resize(70); ?>" />
                                <?endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <th>Website:</th>
                            <td>
                                <? $site = $this->formValue('website'); ?>
                                <? if (!empty($site)): ?>
                                <a href="http://<?=$site?>" target="_blank"><?=$site;?></a>
                                <? endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <th>KVK nummer:</th>
                            <td><?=$this->formValue('kvk'); ?></td>
                        </tr>
                        <tr>
                            <th>BTW nummer:</th>
                            <td><?=$this->formValue('btw'); ?></td>
                        </tr>
                        <tr>
                            <th>Benkrekeningnummer:</th>
                            <td>
<?//die('stop')?>
<? if (($row = $this->row->getCompanyDefaultBankAccountRow())!= false): ?>
                                <?= $row->bankAccount ?>
<? endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <br>
                                <h5><b>Bezoekadres</b></h5>
                                Straatnaam en huisnummer:
                            </th>
                            <td class="va-bottom">
                                <?=$this->formValue('actualStreet'); ?>&nbsp;<?=$this->formValue('actualHouseNumber'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th>Postcode en plaats:</th>
                            <td>
                                <?=$this->formValue('actualPostCode'); ?>&nbsp;<?=$this->formValue('actualCity'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <br>
                                <h5><b>Postadres</b></h5>
                                Straatnaam & huisnummer:
                            </th>
                            <td class="va-bottom">
                                <?=$this->formValue('postStreet'); ?>&nbsp;<?=$this->formValue('postHouseNumber'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th>Postcode & plaats</th>
                            <td>
                                <?=$this->formValue('postPostCode'); ?>&nbsp;<?=$this->formValue('postCity'); ?>
                            </td>
                        </tr>
                    </table>
                </div>

                <h4 class="accordion-section-title"><a href="#contact-persons">Contactpersonen</a></h4>
                <div class="accordion-section">
                    <div class="list-container">
                        <div class="list-title">Contactpersonen bij <?=$this->formValue('name'); ?></div>
                        <table class="width zebra">
                            <thead>
                                <tr>
                                    <th>Naam</th>
                                    <th>Telefoonnummer</th>
                                    <th>E-mailadres</th>
                                    <th>Geslacht</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?
                                    $contactPersonsRowset = $this->row->getCompanyContactPersonRowset();
                                    foreach ($contactPersonsRowset as $contactPersonRow):
                                ?>
                                    <tr>
                                        <td><?=$contactPersonRow->getFullname(); ?></td>
                                        <td><?=$contactPersonRow->phone; ?></td>
                                        <td><a href="mailto:<?=$contactPersonRow->email; ?>"><?=$contactPersonRow->email; ?></a></td>
                                        <td><?=ucfirst($contactPersonRow->sex); ?></td>
                                    </tr>
                                <? endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>

        <aside class="right">
            <?=$this->pageDescription();?>
        </aside>
    </div>
    <br>
    <hr>
    <p class="text-c">
        <a href="/company/client/index" class="btn-big btn-gray margin-r">
            <span class="icon-back">Overzicht relaties</span>
        </a>
        <? if (!empty($this->row) && $this->row->isEditable()): ?>
            <a href="/company/index/update/companyId/<?=$this->formValue('id');?>" class="btn-big">
                <span class="icon-edit">Gegevens wijzigen</span>
            </a>
        <? endif; ?>
    </p>
</section>

<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>