<div id="footer">
    <style type="text/css">
        <? include __DIR__ . "/css/footer.css" ?>
    </style>

    <div class="pages"></div>
    <div class="footer">
        <span class="dtp"></span>
        <div class="footer-accent">&nbsp;</div>
        <div class="footer-accent">&nbsp;</div>
        <div class="footer-accent">&nbsp;</div>
        <div class="footer-accent">&nbsp;</div>
        <br>
    </div>
</div>
