.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #251927;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.95;
  filter: alpha(opacity = 95);
}

.modal {
  background: #fff;
  display: none;
  padding: 30px;
  position: fixed;
  z-index: 1050;
  overflow: hidden;
  -webkit-transition: left 0.1s ease-in, top 0.1s ease-in;
  -moz-transition: left 0.1s ease-in, top 0.1s ease-in;
  -ms-transition: left 0.1s ease-in, top 0.1s ease-in;
  -o-transition: left 0.1s ease-in, top 0.1s ease-in;
  transition: left 0.1s ease-in, top 0.1s ease-in;
}

.modal-open {
  display: block;
}

.no-overflow {
  overflow: hidden;
}