<?php

/**
 * Initialize plugins with default values
 * We are expecting the bankAccountRow in this template
 */
$prefix = 'bankAccount';
if (null !== $this->bankAccountRow):
    $this->formValue()->init();
    $this->formValue()->setModel($this->bankAccountRow);
    $namespace = $this->bankAccountRow->getId();
else:
    $this->formValue()->setModel(null);
    $this->formValue()->omitNullableModel(true);
    if (empty($this->namespace)):
        throw new OSDN_Exception('Unable to find valid namespace');
    endif;
    $namespace = $this->namespace;
endif;

$prefix .= sprintf('[%s]', $namespace);
$this->formPrefix()->init($prefix);
?>
<div class="bank-account-box" id="<?=$blockId = uniqid(); ?>">
    <a name="<?=$namespace; ?>"></a>
    <input type="hidden" name="bankAccount[namespace]" value="<?=$namespace;?>"/>
    <? $name = $this->formPrefix('bankAccount'); ?>
    <input type="text" <?=!empty($this->tabindex) ? 'tabindex="' . $this->tabindex . '"' : '' ;?>
           name="<?=$name; ?>"
           value="<?=$this->formValue('bankAccount'); ?>"
           class="bankaccount" />
    <? /*
    <a class="icon-delete float-r remove-bank-account required" href="#"
        <?if(null !== $this->bankAccountRow):?>data-id="<?=$this->bankAccountRow->getId(); ?>"<?endif;?>
        rel="<?=$blockId; ?>">
        Verwijderen
    </a>
    */?>
    <?=$this->information()->toIcon($name); ?>
    <script type="text/javascript" src="/public/js/iban.allow-spaces.js"></script>
    <script type="text/javascript">
        jQuery.validator.addMethod("bankaccount", function(value, element) {
            // 11 check
            function vban(ban) {
                var total = 0;
                for(var i = 0; i < ban.length; i++) {
                    var number = parseInt(ban.substr(i,1));
                    total += (number * (ban.length - i));
                }
                return ((total%11) === 0);
            }
            value = value.replace(/[.]/g,'');
            return    this.optional(element)                        // empty
                   || $patterns.IBAN(value)                         // iban
                   || /^[0-9]{1,7}$/.test(value)                    // postbank
                   || /^[0-9]{9,10}$/.test(value) && vban(value);   // bankrekeningnummer
        }, "Voer een geldig bankrekeningnummer in.");

    </script>
</div>
