<div id="introduction">
    <style type="text/css">
        <? include_once __DIR__ ."/css/introduction.css" ?>
    </style>

    <? require_once "header.phtml"; ?>
    <? require_once "footer.phtml"; ?>

    <?foreach($metadata as $blockDefinitionRow): ?>
        <?if(!$blockDefinitionRow->isFitable()): ?>
            <h1><?=htmlspecialchars($blockDefinitionRow->getTitle()); ?></h1>
        <?endif; ?>

        <? if ($blockDefinitionRow->kind === 'file'):?>
            <div class="center-img">
        <? endif;?>

        <?=$blockDefinitionRow->getMetadata(); ?>

        <? if ($blockDefinitionRow->kind === 'file'):?>
            </div>
        <? endif;?>
    <?endforeach; ?>
</div>
