<? if (empty($this->listOnly)): ?>
    <div class="list-container">
        <div class="clearfix title-with-btn">
            <a href="/event/index/form/" class="btn-big text-c float-l">
                <?=$this->translate('Agendapunt aanmaken');?>
            </a>
            <div class="list-title text-l float-r"><?=$this->translate('Aankomende agendapunten');?></div>
        </div>
    <?$contentId = uniqid('EventsBlockContent_');?>
    <div id="<?=$contentId;?>">
<? endif; ?>

    <div class="list-form">
        <?=$this->formFilterSearch('title', 'stringfree', array(
            'placeholder' => $this->translate('Agendapunt zoeken'),
            'id' => $this->blockId
        )); ?>
    </div>

    <table class="width zebra">
        <colgroup>
            <col width="260px">
            <col width="80px">
            <col width="80px">
        </colgroup>
        <thead>
            <tr>
                <th><?=$this->translate('Naam agendapunt');?></th>
                <th colspan="2"><?=$this->translate('Datum');?></th>
            </tr>
        </thead>
        <tbody>
            <? if (!empty($this->rowset)): ?>

                <? $len = count($this->rowset) - 1;?>
                <? foreach ($this->rowset as $k => $row): ?>
                    <tr <?if ($k % 2):?>class="even"<?endif;?>>
                        <td>
                            <a href="/event/index/preview/eventId/<?=$row['id'];?>"
                               title="<?=$row['title']?>">
                                <? if (!$row['isActive']):?><span class="news-status">Concept:</span><?endif?><?=$row['title']?>
                            </a>
                        </td>
                        <td class="va-middle text-dark-gray">
                            <?=$this->formatDate($row['date']);?>
                        </td>
                        <td class="actions va-middle">
                            <a class="icon-zoom" href="/event/index/preview/eventId/<?=$row['id'];?>" title="Meer details">&nbsp;</a>
                            <a class="icon-edit" href="/event/index/form/eventId/<?=$row['id'];?>" title="Bewerken">&nbsp;</a>
                            <a class="icon-delete" href="/event/index/delete/eventId/<?=$row['id'];?>" title="Verwijder">&nbsp;</a>
                        </td>
                    </tr>
                <? endforeach; ?>

            <? else: ?>
                <tr>
                    <td colspan="7" class="text-c text-gray"><em>Geen</em></td>
                </tr>
            <? endif; ?>
        </tbody>
    </table>

    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
<? if (empty($this->listOnly)):?>
    </div>
    </div>

    <script type="text/javascript">
        AppaltiLayout.blocks.EventListBlock = new AppaltiLayoutBlock({
            module: 'event',
            block: 'event-list',
            updateElId: '<?=$contentId;?>',
            listUpdateParams: {
                _bid: '<?=$this->blockId; ?>'
            }
        });
    </script>
<? endif; ?>



