<div style="height:640px;overflow: scroll">
    <div><h3 align="center"><?=$this->eventRow['title']?></h3></div>
    <br>

    <div><strong><?=$this->translate('publish')?> :</strong><?=$this->eventRow['publish']?> </div>


    <div><strong><?=$this->translate('addressStreet')?> :</strong><?=$this->eventRow['addressStreet']?> </div>


    <div><strong><?=$this->translate('addressHouseNumber')?> :</strong><?=$this->eventRow['addressHouseNumber']?> </div>


    <div><strong><?=$this->translate('addressPostCode')?> :</strong><?=$this->eventRow['addressPostCode']?> </div>


    <div><strong><?=$this->translate('addressCity')?> :</strong><?=$this->eventRow['addressCity']?> </div>


    <div><strong><?=$this->translate('placeDesc')?> :</strong><?=$this->eventRow['placeDesc']?> </div>


    <div><strong><?=$this->translate('date')?> :</strong><?=$this->eventRow['date']?> </div>


    <div><strong><?=$this->translate('time')?> :</strong><?=$this->eventRow['time']?> </div>

    <strong><?=$this->translate('description')?> :</strong>

    <div style="border: 3px double #D8E4F3"><?=stripslashes($this->eventRow['desc'])?></div>


    <div>
       <strong><?=$this->translate('publishDate')?> :</strong><?=$this->eventRow['publishDate']?></div>
    <div><a href="<?=$this->eventRow['directShareLink']?>" target=_blank><h4
        align="right"><?=$this->eventRow['directShareLink']?></h4></a></div>
</div>