@page introduction {
    @bottom-left {
    	content: flow(introductionFooter);
    	background-color: #fff;
    	border-top: #999;
    }
    @bottom {
      background-color: #fff;
      border-top: #999;
    }
}


/*---------------------- Footer ----------------------*/
#introductionFooter {
  flow: static(introductionFooter);
  position: relative;
}
.companyAttrs {
  border: 0 !important;
  width: 100%;
}
.companyAttrs td {
  border: 1px solid #bbb;
  border-width: 1px 0 0 0 !important;
  color: #999 !important;
  font: 400 9px tahoma;
  padding: 3px 10px;
}
.companyAttrs td:last-child {
  text-align: right;
}
.companyAttrs p {
  padding-bottom: 3px;
}
