@page introduction {
  @top { content: flow(introductionHeader); }
}

#introductionHeader {
  flow: static(introductionHeader);
  overflow: hidden;
  opacity: 0.6;
  position: relative;
}


.over {
  background: rgba(255, 255, 255, 0.4);
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.senderLogo {
  text-align: right;
  height: 150px;
}
.senderLogo img {
  height: 100px;
}
#senderContacts {
  border: 0 !important;
  font: 400 9px tahoma;
  float: right;
}
#senderContacts td, #senderContacts th {
  border: 0 !important;
  color: #999 !important;
  padding: 0 10px;
}
#senderContacts th {
  color: #000 !important;
  padding-bottom: 5px;
  text-align: left;
}

