<?php

    echo $this->information()->init();

    $this->formValue()->init();
    if (NULL != $this->row):
        $this->formValue()->setModel($this->row);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formPrefix()->init('');

    echo $this->tinyMCE(array(
        'id' => $tmceid = uniqid(),
        'save_onsavecallback' => "EventText.tinymce.ajaxSave",
        'width' => '635',
        'css' => '/layouts/scripts/appalti/main/_resources/css/styles.css',
        'plugins_data'  => array(
            'quickupload' => array(
                'action' => '/event/event-file-stock/quick-upload',
                'itemName' => 'event',
                'itemId' => $this->formValue('id')
            ),
        ),
    ));
?>


<div>
    <h1>
        <? if (null === $this->row || $this->row->emptyFlag): ?>
            <?=$this->translate('Wijzig agendapunt');?>
        <? else: ?>
            <?=$this->translate('Update agendapunt');?>
        <? endif; ?>
    </h1>


    <form  action="/event/index/<?= null == $this->row ? 'create' : 'update'; ?>" id="create-event-form" class="validatable" method="post" enctype="multipart/form-data">
        <?if ($this->row != NULL):?>
            <input type="hidden" name="eventId" value="<?=$this->row->getId();?>">
        <?endif?>
        <table class="form-fields">
            <colgroup>
                <col width="17%">
                <col width="2%">
                <col width="*">
            </colgroup>
            <tr>
                <th><?=$this->translate('Titel nieuwsbericht');?>:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text" name="<?=$this->formPrefix('title');?>" maxlength="40" size="102"
                           value="<?=$this->formValue('title'); ?>" class="required"/>
                </td>
            </tr>

            <tr>
                <th><?=$this->translate('Gebubliceerd');?>:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <label class="inline">
                        <input type="radio" name="isActive" value="1" <?if ($this->formValue('isActive')):?> checked="checked" <?endif?> />
                        <?=$this->translate('Ja');?>
                    </label>
                    <label class="inline">
                        <input type="radio" name="isActive" value="0" <?if (!$this->formValue('isActive')):?> checked="checked" <?endif?> />
                        <?=$this->translate('Nee');?>
                    </label>
                </td>
            </tr>

            <tr>
                <th><?=$this->translate('Gepubliceerd op');?>:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <?$id = uniqid();?>

                    <input type="hidden" id="<?=$id;?>" name=<?=$this->formPrefix('publishDate');?> value="<?=$this->formValue('publishDate')?>" />
                    <input type="text" class="datepicker icon-datepicker required" value="<?=$this->formatDate($this->formValue('publishDate')); ?>" size="19"
                           data-alt-field="#<?=$id;?>"
                           data-change-year="true"
                           data-change-month="true"
                           data-show-button-panel="true" />
                </td>
            </tr>

            <tr>
                <th>
                    <br>
                    <h4><?=$this->translate('Plaats');?></h4>
                    <?=$this->translate('Straatnaam en huisnummer');?>:
                </th>
                <td class="info-cnt va-bottom">&nbsp;</td>
                <td class="va-bottom">
                    <input type="text" title="Straatnaam" name="<?=$this->formPrefix('addressStreet'); ?>"
                           value="<?=$this->formValue('addressStreet'); ?>" class="required tip"/>

                    <input type="text" title="Huisnummer" name="<?=$this->formPrefix('addressHouseNumber'); ?>" size="7"
                           value="<?=$this->formValue('addressHouseNumber'); ?>" class="required tip"/>
                </td>
            </tr>

            <tr>
                <th><?=$this->translate('Postcode en plaats');?>:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text" title="Postcode" name="<?=$this->formPrefix('addressPostCode'); ?>" size="7"
                           value="<?=$this->formValue('addressPostCode'); ?>" class="required tip"/>

                    <input type="text" title="Plaats" name="<?=$this->formPrefix('addressCity'); ?>"
                           value="<?=$this->formValue('addressCity'); ?>" class="required tip"/>
                </td>
            </tr>

            <tr>
                <th class="va-top"><?=$this->translate('Beschrijving plaats');?>:</th>
                <td class="info-cnt va-top">&nbsp;</td>
                <td><textarea name="placeDesc" rows="2" cols="99" ><?=$this->formValue('placeDesc'); ?></textarea></td>
            </tr>

            <tr>
                <th>
                    <br>
                    <h4><?=$this->translate('Datum & tijd');?></h4>
                    <?=$this->translate('Datum en aanvrag');?>:
                </th>
                <td class="info-cnt va-bottom">&nbsp;</td>
                <td class="va-bottom">
                    <? $id = uniqid(); ?>
                    <input type="hidden" id="<?=$id;?>" name="<?=$this->formPrefix('date')?>" value="<?=$this->formValue('date'); ?>" />
                    <input type="text" class="datepicker icon-datepicker required"
                           value="<?=$this->formatDate($this->formValue('date')); ?>" size="19"
                           data-alt-field="#<?=$id;?>"
                           data-change-year="true"
                           data-show-button-panel="true"
                           data-change-month="true" />

                    <input type="text" name="<?=$this->formPrefix('time'); ?>" size="7"
                           value="<?=$this->formValue('time'); ?>" class="required margin-l"/> uur
                </td>
            </tr>

            <tr>
                <th class="va-top"><?=$this->translate('Beschrijving');?>:</th>
                <td class="info-cnt va-top">&nbsp;</td>
                <td><textarea name="shortDesc" rows="5" class="required" cols="99"><?= $this->formValue('shortDesc'); ?></textarea></td>
            </tr>

            <tr>
                <th class="va-top"><?=$this->translate('Bericht');?>:</th>
                <td class="info-cnt va-top">&nbsp;</td>
                <td><textarea name="desc" class="tinymce required"><?= $this->formValue('desc'); ?></textarea></td>
            </tr>
        </table>
        <hr />
        <p class="text-c">

            <a href="/ap-default/index/news-and-events" class="btn-big btn-gray margin-r">
                <i class="icon-back"><?=$this->translate('Terug');?></i>
            </a>
            <button class="btn-big margin-r" type="submit" name="preview" value="0">
                <i class="icon-save"><?=$this->translate('Opslaan');?></i>
            </button>

            <button class="btn-big margin-r" type="submit" name="preview" value="1">
                <i class="icon-zoom"><?=$this->translate('Bekijk preview');?></i>
            </button>

            <br />
            <br />

    </form>
</div>

<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src="/modules-appalti/event/views/scripts/default/index/_resources/js/Form.js"></script>

<link rel="stylesheet" href="/public/js/jquery-ui/datepicker/css/datepicker.css"/>
<script src="/public/js/jquery-ui/datepicker/jquery-ui-datepicker.min.js"></script>
<script src="/public/js/jquery-ui/datepicker/i18n/jquery.ui.datepicker-nl.js"></script>