<section class="cols-2">
    <?=$this->information()->init();?>
    <div class="clearfix">
        <article class="content">
            <div class="box">
                <h1><?=$this->translate('Onze agenda')?></h1>

                <div class="zebra">
                    <? foreach($this->rowset as $k => $row): ?>
                        <div class="event-item <?if ($k % 2 !== 0):?>even<?endif;?>">
                            <h4><b><?=$row['title']?></b></h4>

                            <dl class="event-details float-l width-50">
                                <dt>Datum:</dt>
                                <dd><?=$this->formatDate($row['date'], array('locale' => 'nl_NL'));?></dd>
                                <dt>Plaats:</dt>
                                <dd>
                                    <?=$row['addressStreet']?>&nbsp;
                                    <?=$row['addressHouseNumber']?>,
                                    <?=$row['addressPostCode']?>,
                                    <?=$row['addressCity']?>
                                    <?if (!empty($row['placeDesc'])):?>
                                        <br>
                                        (<?=$row['placeDesc']?>)
                                    <?endif;?>
                                </dd>
                                <dt>Aanvang:</dt>
                                <dd><?=$row['time']?> uur</dd>
                            </dl>
                            <div class="float-l">
                                <? if (!empty($this->companySubscriptions)): ?>
                                    <? if (!in_array($row['id'], $this->companySubscriptions)): ?>
                                        <a href="/event/subscription/create/eventId/<?=$row['id']?>"
                                           class="btn-big btn-green text-c margin-b">
                                            <?=$this->translate('Schrijf me direct in!');?>
                                        </a>
                                    <? else: ?>
                                        <a href="/event/subscription/delete/eventId/<?=$row['id']?>"
                                           class="btn-big btn-gray text-c margin-b">
                                            <?=$this->translate('Afmelden');?>
                                        </a>
                                    <? endif;?>
                                    <br>
                                <? endif;?>
                                <a href="/event/index/preview/eventId/<?=$row['id']?>" class="btn-big text-c">
                                    <?=$this->translate('Meer informatie');?>
                                </a>
                            </div>
                        </div>
                    <? endforeach; ?>
                </div>
                <br>
                <?=$this->pagination();?>
            </div>
        </article>

        <aside class="right">
            <?=$this->pageDescription(array('showDesc' => false));?>
        </aside>
    </div>
</section>