<section>
    <link rel="stylesheet" href="/modules/application/views/helpers/appalti/pagination/skins/basic/style.css"/>
    <?=$this->information()->init();?>
    <article class="box">
        <h1><?=$this->row['title']?></h1>

        <div class="margin-t">
            <div class="clearfix">
                <div class="subscription-form box-gray">
                     <form action="/event/subscription/<?=$this->isSubscribed==0 ? 'create' : 'delete'; ?>">
                         <input type="hidden" name="eventId" value="<?=$this->row['id']?>" >

                         <dl class="event-details">
                             <dt><?=$this->translate('Datum');?>:</dt>
                             <dd><?=$this->formatDate($this->row['date'], array('locale' => 'nl_NL'));?></dd>
                             <dt><?=$this->translate('Plaats');?>:</dt>
                             <dd>
                                 <?=$this->row['addressStreet']?>&nbsp;
                                 <?=$this->row['addressHouseNumber']?>,
                                 <?=$this->row['addressCity']?>
                                 <?if (!empty($this->row['placeDesc'])):?>
                                     <br>
                                     (<?=$this->row['placeDesc']?>)
                                 <?endif;?>
                             </dd>
                             <dt><?=$this->translate('Aanvang');?>:</dt>
                             <dd><?=$this->row['time']?> <?=$this->translate('uur');?></dd>
                         </dl>

                         <? if ($this->checkSubscription): ?>
                             <?if (!$this->isSubscribed):?>
                                <button class="btn-big btn-green margin-t text-c" type="submit" name="status" value="1">
                                    <?=$this->translate('Schrijf me direct in!');?>
                                </button>
                             <?else:?>
                                 <button class="btn-big btn-gray margin-t text-c" type="submit" name="status" value="0">
                                     <?=$this->translate('Afmelden'); ?>
                                 </button>
                             <?endif;?>
                         <?endif;?>
                     </form>
                 </div>
                <div class="article"><?=$this->row['desc']?></div>
            </div>
        </div>
        <br>

        <div class="pagination-bar">
            <a class="previous-page" href="/event/index/previous/eventId/<?=$this->row['id']?>"><?=$this->translate('Vorig item');?></a>
            &nbsp;|&nbsp;
            <a class="next-page" href="/event/index/next/eventId/<?=$this->row['id']?>"><?=$this->translate('Volgend item');?></a>
        </div>
    </article>
</section>
