<div class="support-ticket">
    <h2>Uw bericht is verstuurd.</h2>
    <p>Bedankt voor uw reactie.</p>
    <p>We nemen zo spoedig mogelijk contact met u op.<p>
</div>
<style type="text/css">
    div.support-ticket {
        padding: 10px;
        height: 382px;
    }
</style>