<div class="support-ticket">
    <h2>Er is iets misgegaan.</h2>
    <p>Wegens onbekend reden kan uw bericht niet verstuurd worden.<p>
    <p>Probeer het op een ander moment opnieuw<p>
    <p>of neem contact op met:</p>
    <h2>Appalti</h2>
    <p>T: <a href="tel:+31334345031">033- 4345031</a></p>
    <p>E: <a href="mailto:nhofs@appalti.nl">nhofs@appalti.nl</a></p>
</div>
<style type="text/css">
    div.support-ticket {
        padding: 10px;
        height: 382px;
    }
</style>