<?=$this->information()->init()->toList(); ?>

<form method="post" action="<?=$this->baseUrl('/notification/feedback/send/'); ?>">
<table>
<tr>
    <td><?=$this->translate('Name'); ?></td>
    <td>
        <input type="text" name="name" />
    </td>
</tr>
<tr>
    <td><?=$this->translate('Email'); ?></td>
    <td>
        <input type="text" name="email" />
    </td>
</tr>
<tr>
    <td><?=$this->translate('Subject'); ?></td>
    <td>
        <input type="text" name="subject" />
    </td>
</tr>
<tr>
    <td><?=$this->translate('Message'); ?></td>
    <td>
        <textarea name="message"></textarea>
    </td>
</tr>
</table>
<input type="submit" value="<?=$this->translate('Send'); ?>"/>
</form>