<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link rel="icon" href="<?=$this->theme('/layouts/scripts/%s/main/_resources/images/favicon.png', APPLICATION_PATH); ?>" type="image/png" />
        <link rel="icon" href="<?=$this->theme('/layouts/scripts/%s/main/_resources/images/favicon.png', APPLICATION_PATH); ?>" type="image/png" />
        <link rel="shortcut icon" href="<?=$this->theme('/layouts/scripts/%s/main/_resources/images/favicon.ico', APPLICATION_PATH); ?>" type="'image/x-icon"/>

        <?=$this->headTitle()->setPrefix('EFIS | ')->setSeparator(' | ')->enableTranslation(); ?>
        <?=$this->initRequireJsAutoloader(); ?>
        <?=$this->requires(__DIR__ . '/administration/_resources/resource.xml'); ?>
    </head>
    <body>
        <div id="header" class="company x-hidden">
            <div class="clearfix">
                <div class="column span-half">
                    <div class="float-l indent-l">
                        <a href="<?=$this->baseUrl(); ?>/">
                            <img src="<?=$this->theme('/layouts/scripts/%s/administration/_resources/images/logo.png', APPLICATION_PATH); ?>" alt="logo" />
                        </a>
                    </div>
                </div>
                <div class="column span-half">
                    <? if (Zend_Auth::getInstance()->hasIdentity() && !Zend_Auth::getInstance()->getIdentity()->isGuest()): ?>
                        <?= $this->modules('account')->authentication(); ?>
                    <?endif; ?>
                </div>
            </div>
            <div class="shadow span-width">&nbsp;</div>
        </div>

        <?=$this->northSummary(); ?>

        <script type="text/javascript">
            Application.MENU = <?=$this->menu()->toArrayFormattedAccordingExtjsToolbar(true); ?>
        </script>
        <script type="text/javascript" src="/public/js/library/extjs/ux/grid/GridPanel.js"></script>


        <script type="text/javascript" src="/modules/application/views/helpers/default/_resources/js/Block.js"></script>
        <script type="text/javascript" src="/modules/application/views/helpers/default/_resources/js/BlockTabPanel.js"></script>

        <script type="text/javascript" src="/layouts/scripts/default/administration/_resources/js/start.js"></script>

        <link rel="stylesheet" href="/data/public-bind-cache/application-icons-v<?=OSDN_Version::getInstance()->getVersion(); ?>.css" />
        <?=$this->layout()->content; ?>

        <div id="footer"></div>
    </body>
</html>