<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class=lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/layouts/scripts/default/auth/_resources/images/favicon.ico" />

    <?=$this->headTitle()->setPrefix('EFIS | '); ?>
    <link rel="stylesheet" href="/layouts/scripts/default/auth/_resources/css/toolbox.css" />
    <link rel="stylesheet" href="/layouts/scripts/default/auth/_resources/css/reset.css" />
    <link rel="stylesheet" href="/layouts/scripts/default/auth/_resources/css/defaults.css" />
    <link rel="stylesheet" href="/layouts/scripts/default/auth/_resources/css/main.css" />
</head>
<body>
    <div class="header">
        <a href="<?=$this->baseUrl(); ?>/"><span class="logo"></span></a>
        <?$title = $this->headTitle()->getContainer()->getValue(); ?>
        <h1><?=!empty($title) ? $title : $this->translate('Authorization'); ?></h1>
    </div>
    <?=$this->layout()->content; ?>
</body>
</html>