<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <?=$this->headTitle()->setPrefix('EFIS | ')->setSeparator(' | '); ?>
    <link rel="stylesheet" href="/layouts/scripts/default/ipad/_resources/css/styles.css"/>
</head>
<body>
    <?=$this->layout()->content; ?>
</body>
</html>