<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <?=$this->headTitle(); ?>
    <link rel="stylesheet" href="<?=$this->baseUrl('/layouts/scripts/default/iphone/_resources/css/main.css'); ?>" />
    <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
    <?=$this->layout()->content; ?>
</body>
</html>