<?$this->headLink()->appendStylesheet('/layouts/helpers/scripts/default/_resources/css/action-menu.css'); ?>
<?$this->headScript()->appendFile('/layouts/helpers/scripts/default/_resources/js/ActionMenu.js'); ?>
<ul class="dropdown float-l actions-menu sub-right">
<li>
    <a href="#" class="juiButton"><?=$this->title; ?></a>
    <div class="sub ui-corner-bottom">
        <div>
            <div class="title"><?=$this->title; ?></div>
            <?foreach($this->actions as $action): ?>
            <ul>
                <li><h2><?=$action['title']; ?></h2></li>
                <?foreach($action['items'] as $mi): ?>
                    <li><a href="<?=!empty($mi['link']) ? $mi['link'] : '#'; ?>" style="display: block;text-align: left;" class="juiButton uiTooltip" title="<?=$mi['title']; ?>"><?=$mi['name']; ?></a></li>
                <?endforeach; ?>
            </ul>
            <?endforeach; ?>
            <div class="help text-right half-indent-r">
                <span class="asterisk">*</span>
                <em class="footnote"><?=$this->translate('Hover an action to get help'); ?></em>
            </div>
        </div>
    </div>
</li>
</ul>
<?if ($this->withMostUsed): ?>
<ul class="dropdown float-l actions-menu sub-right">
    <li>
        <a href="#" class="juiButton">Most used actions</a>
        <div class="sub ui-corner-bottom">
            <div>
                <ul>
                    <li><h2>Students</h2></li>
                    <li>
                        <a href="new_student.html" class="juiButton uiTooltip"
                           title="Create new student"
                           data-buttonOptions='{"icons":{"primary":"ui-icon-plus"}}'
                        >Add new</a>
                    </li>
                </ul>
                <ul>
                    <li><h2>Selected</h2></li>
                    <li>
                        <a href="courses.html" class="juiButton subscribeStudentBtn"
                           data-buttonOptions='{"disabled":true,"icons":{"primary":"ui-icon-calendar"}}'
                        >Subscribe</a>
                    </li>
                </ul>
                <div class="help text-right half-indent-r">
                    <span class="asterisk">*</span>
                    <em class="footnote">Hover an action to get help</em>
                </div>
            </div>
        </div>
    </li>
</ul>
<?endif; ?>
