<?php

/**
 * @todo rebuild on real breadcrumbs!!!
 */

$hasActiveLocation = '/' != $this->url();
?>
<? /*
    <ul class="text-right x-unselectable x-tab-strip-top x-tab-panel-header" id="breadcrumbs">
        <li class="<?if(!$hasActiveLocation): ?>active<?endif;?>">
            <div>&nbsp;</div>
            <a href="<?=$this->baseUrl(); ?>/"><?=$this->translate('Home'); ?></a>
        </li>

        <?if($hasActiveLocation): ?>
            <li class="active">
                <div>&nbsp;</div>
                <a href="<?=$this->url(); ?>"><?=$this->title ?: 'Person'; ?></a>
            </li>
        <?endif; ?>

        <li class="last">
            <?
            $wizards = $this->actionMenu();
            $wizards->setTitle($this->translate('Wizards'));
            $wizards->setCategoryItems('Default category', array(
                array(
                    'title'    => 'title',
                    'name'    => 'name'
                )
            ));

            echo $wizards;

            $actions = $this->actionMenu();
            $actions->setTitle($this->translate('Actions'));
            $actions->setCategoryItems(null, array(
                array(
                    'title'    => 'Summary',
                    'name'    => 'Summary',
                    'link'    => '/summary'
                )
            ));

            $actions->setCategoryItems('Default category', array(
                array(
                    'title'    => 'Person',
                    'name'    => 'Person',
                    'link'    => '/person'
                ),
                array(
                    'title'    => 'Client',
                    'name'    => 'Client',
                    'link'    => '/client'
                ),
                array(
                    'title'    => 'Worklocation',
                    'name'    => 'Worklocation',
                    'link'    => '/worklocation'
                )
            ));

            $actions->setCategoryItems('Administration', array(
                array(
                    'title'    => 'Modules',
                    'name'    => 'Modules',
                    'link'    => '/core-module'
                )
            ));

            echo $actions;
            ?>

            <b class="pointer indent-l" id="topBlockToggler">
                Click here to show/hide wizards and summaries
            </b>
        </li>
    </ul>
 *
 */?>
