<?$this->headLink()->appendStylesheet('/layouts/helpers/scripts/default/_resources/css/form-filter.css'); ?>
<div class="search-panel">
    <form method="post" action="<?=$this->url(); ?>" id="<?=$this->id; ?>-form">
        <table>
            <tr>
                <td>
                    <?=$this->content; ?>
                </td>
                <?if($this->additionalCls): ?>
                    <td>
                        <?$highlight = is_string($this->additionalCls); ?>
                        <button type="button" name="extra" title="<?=$this->translate($highlight ? 'Extra fields are used for filtering' : 'Show extra fields'); ?>">
                            <?=$this->translate('Extra fields');?>
                        </button>
                    </td>
                <?endif; ?>
                <?if(isset($this->value) && '' !== $this->value): ?>
                    <td class="<?=$this->value?>">
                        <button type="submit" class="btn-gray" name="<?=$this->resetBtnName; ?>" value="reset" title="Reset">Reset</button>
                    </td>
                <?endif;?>
                <td>
                    <button type="submit" title="Start het zoeken" name="search <?=$this->btnCls; ?>"><?=
                            $this->btnText ?: 'Zoeken'
                    ?></button>
                </td>
            </tr>
        </table>
    </form>
</div>