<?$this->headLink()->appendStylesheet('/layouts/helpers/scripts/default/_resources/css/form-filter.css'); ?>
<div class="search-panel">
    <form method="post" action="<?=$this->url(); ?>" id="<?=$this->id; ?>">
        <?=$this->content; ?>
    </form>
</div>