<?if ($this->fields || $this->list): ?>
    <script src="/layouts/helpers/scripts/default/_resources/js/Information.js"></script>
    <link rel="stylesheet" href="/layouts/helpers/scripts/default/_resources/css/information.css"/>
    <?if(empty($this->list)): ?>
        <div class="information ui-state-error">
            <h3><?=$this->translate('Some error occured'); ?></h3>
            <button class="close-info">&times;</button>
        </div>
    <?else: ?>
        <?foreach($this->cls as $msgType => $msgClass): ?>
            <?if(!empty($this->list[$msgType])): ?>
                <div class="information ui-state-<?=$msgClass; ?>">
                    <ul class="<?if (1 == count($this->list[$msgType])): ?>single<?endif;?>">
                        <?foreach($this->list[$msgType] as $msg): ?>
                            <li <?if(!$msg->getField()): ?>class="title"<?endif; ?>><?=$msg->getMessage()?></li>
                        <?endforeach; ?>
                    </ul>
                    <button class="close-info">&times;</button>
                </div>
            <?endif;?>
        <?endforeach; ?>
    <?endif; ?>
<?endif; ?>