<table class="summary">
    <thead>
        <tr>
            <?$hashes = array()?>
            <?foreach($this->summaries as $sk => $gSummary): ?>
                <?$hashes[$sk] = array('activeItems' => 0);?>
            <th>
                <table class="col-head" id="<?=$gSummary['id'];?>">
                    <tr>
                        <?if (!empty($gSummary['items'])): ?>
                            <td class="stat-selector-trigger" title="<?=$this->translate('Show available statistics'); ?>">
                                &nbsp;
                            </td>
                        <?endif; ?>
                        <td class="col-title <?=empty($gSummary['items']) ? 'half-indent-rl' : ''; ?>">
                            <?if(isset($gSummary['item'])): ?>
                                <a href="<?=$gSummary['item']->getHref(); ?>"
                                   title="<?=$this->translate('Go to ' . $gSummary['title'] . ' page.'); ?>">
                                    <span class="float-l"><?=$gSummary['title']; ?></span>
                                    <span class="total">
                                        <?=$gSummary['item']->getValue(); ?>
                                    </span>
                                </a>
                            <?else:?>
                                <?=!empty($gSummary['title']) ? $gSummary['title'] : 'Untitled'; ?>
                            <?endif;?>
                        </td>
                    </tr>
                </table>

                <div class="stats-available">
                    <div class="head"><?=$this->translate('Available statistics'); ?></div>
                    <?foreach($gSummary['items'] as $ik => $item): ?>
                        <label>
                            <?
                                $id = $gSummary['id'] . '-' . $item->getModuleName() . '-summary-' . $item->getName();
                                $hashes[$sk][$ik] = array(
                                    'id' => $id,
                                    'isActive' => isset($_COOKIE[$id]) ? (int)$_COOKIE[$id] : 1
                                );

                                $hashes[$sk]['activeItems'] += $hashes[$sk][$ik]['isActive'] ? 1 : 0;
                            ?>

                            <input type="checkbox" <?=$hashes[$sk][$ik]['isActive'] ? 'checked="checked"' : ''; ?> value="<?=$hashes[$sk][$ik]['id']; ?>"
                                   data-summary="{sm: '<?=$item->getModuleName(); ?>', si: '<?=$item->getName(); ?>'}" />
                            <?=$item->getTitle(); ?>
                        </label>
                    <?endforeach;?>
                    <a class="float-r done" data-group="<?=$gSummary['id'];?>" href="#"><?=$this->translate('Done'); ?></a>
                    <span class="separator float-r">&nbsp;</span>
                    <a class="float-r half-indent-r select-all" href="#"><?=$this->translate('Select all'); ?></a>
                </div>
            </th>
            <?endforeach; ?>
        </tr>
    </thead>

    <tbody>
        <tr>
            <?foreach($this->summaries as $sk => $gSummary): ?>
                <td class="col">
                    <?$cols = $hashes[$sk]['activeItems'] > 3 ? ceil($hashes[$sk]['activeItems'] / 3) : 0; ?>
                    <?if ($cols) : ?><table class="cols"><?endif;?>

                    <?$i = 0; foreach($gSummary['items'] as $ik => $item): ?>
                        <?if ($cols && ($i == 0 || ($i % $cols == 0))):?><tr><?endif;?>
                        <?if ($cols) : ?><td class="sub-col"><?endif;?>
                        <?if ($hashes[$sk][$ik]['isActive']): ?>
                            <a href="<?=$item->getHref(); ?>" id="<?=$hashes[$sk][$ik]['id']; ?>"
                               class="stat clearfix <?=($i + 1) % 2 == 0 ? 'even' : '' ?> <?=$item->isActive() ? 'active' : '';?>"
                            >
                                <span><?=$item->getTitle(); ?></span>
                                <span><?=$item->getValue(); ?></span>
                            </a>
                        <?endif;?>
                        <?if ($cols): ?></td><?endif;?>
                        <?if ($cols && $i !== 0 && ($i % $cols == 0)):?></tr><?endif;?>
                        <?$i++;?>
                    <?endforeach; ?>

                    <?if ($cols) : ?></table><?endif;?>
                </td>
            <?endforeach; ?>
        </tr>
    </tbody>
</table>