/*
*  Stylesheet: Offertemaken.com login scherm
*  Author:Stefan de Jong
*/

@font-face {
font-family: Amble Regular;
src: url('/public/fonts/Amble-Regular.ttf');
}

html {
height: 100%;
overflow: hidden;
}

body {
/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(top, #B8CA47 0%, #FFFFFF 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #B8CA47 0%, #FFFFFF 100%);
/* Opera */
background-image: -o-linear-gradient(top, #B8CA47 0%, #FFFFFF 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B8CA47), color-stop(1, #FFFFFF));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #B8CA47 0%, #FFFFFF 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #B8CA47 0%, #FFFFFF 100%);
min-height: 100%;
color: #666;
font-family: 'Amble Regular', sans-serif;
font-size: 14px;
font-size: 1.4rem;
line-height: 1.625;
background-color: #f8f8f8;
}

input {
   border: 2px solid #f7f7f7;
   -webkit-box-shadow:
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1);
   -moz-box-shadow:
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1);
   box-shadow:
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1);
   padding: 15px;
   font-size: 16px;
   width:250px;
}

a {
color:#701c74;
font-size: 14px;
text-decoration: none
}

#container {
/* margin-left:20%; */
/* margin-top:10%; */
border:5px solid #f7f7f7;
background-color: #f7f7f7;
width:894px;
/* text-align: center; */
margin: auto;
/* padding: 8% 0 0; */
margin-top: 8%;
}

.leftColumn {
padding:15px;
float:left;
}

.loginFields {
margin-bottom: 20px;
margin-top: 30px;
}

.supportLinks{

}

.copyright {
color:#701c74;
font-size:12px;
text-align: center;
}

.seperator {
	color:#701c74;
}

.btn-green {
border: -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:14px; padding: 10px 20px 10px 20px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #4c9a0d; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#98ca20));
 background-image: -webkit-linear-gradient(top, #4c9a0d, #98ca20);
 background-image: -moz-linear-gradient(top, #4c9a0d, #98ca20);
 background-image: -ms-linear-gradient(top, #4c9a0d, #98ca20);
 background-image: -o-linear-gradient(top, #4c9a0d, #98ca20);
 background-image: linear-gradient(to bottom, #4c9a0d, #98ca20);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4c9a0d, endColorstr=#98ca20);}

.information {
    background: #fff no-repeat 15px 15px !important;
    -webkit-box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    box-shadow: 0 1px 2px #999;
    margin: 25px 0;
    padding: 15px 15px 15px 60px;
    position: relative;
}

.information .close-info {
    background: none;
    filter: none;
    border: 0;
    color: #d3d3d3;
    font: 700 20px/18px Helvetica;
    position: absolute;
    right: 5px;
    top: 5px;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

.information .single {
    list-style: none;
}

.information ul {
    list-style: decimal inside;
    margin: 0;
    padding: 0;
}

.information li {
    padding: .5em 0;
}

.ui-state-error {
    background-image: url(../images/information/error-32.png) !important;
    border: 1px solid #f00;
    color: #a21616;
    width: 204px;
    font-size: 14px;
}

.support-box{background:#fff;border:1px dashed #7b2b83;overflow:visible;padding:10px;position:relative}
.support-box .desc{color:#626366;display:inline-block;margin-bottom:10px;min-height:50px;width:60%}
.support-box [class^="help-btn"]{background:url('/layouts/scripts/appalti/main/_resources/images/help-btn.png') no-repeat 0 0;display:block;height:50px;width:201px;position:relative}
.support-box [class^="help-btn"]:hover{text-decoration:none}
.support-box .help-btn-pink{background-image:url('/layouts/scripts/appalti/main/_resources/images/help-btn-pink.png');width:242px}
.support-girl{background:url('/layouts/scripts/appalti/main/_resources/images/support-girl.png') no-repeat 100% 100%;bottom:1px;height:148px;position:absolute;right:1px;width:108px;z-index:0}
.support-info{display:none;padding:0 !important;width:460px}
.support-info .support-box{border:0;padding:15px}
.support-info .desc{width:auto}
.support-info-footer,.support-ticket-comment{background:#dadada url('/layouts/scripts/appalti/main/_resources/images/shadow-top.gif') repeat-x 0 0;padding:15px}
.modal-close{background:url('/layouts/scripts/appalti/main/_resources/images/popup-close.png') no-repeat 0 0;display:inline-block;float:right;height:11px;margin:10px 10px 0 0;position:relative;text-decoration:none !important;width:10px;z-index:10}