/* reset  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

a { color: #00e; text-decoration: none; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
p { margin: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* Main */
body {
    min-width: 768px;
    padding: 10px;
}

input[type="text"] {
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}
.btn {
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    min-width: 150px;
    padding: 5px 10px;
}

.bordered {
    border: solid #fff;
    border-width: 2px 0;
}

.cupon {
    background: #fff;
    border: 2px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 0 20px 25px 0;
}

.col-left-wrap {
  background: #008000;
  width: 25%;
}
.col-right-wrap {
  margin-right: -100%;
  position: relative;
  left: 100%;
  width: 300%;
}

.col-left {
  float: left;
  left: -33%;
  margin-right: -100%;
  position: relative;
  width: 33%;
}

#main {
    margin-left: 10px;
    overflow: hidden;
}
.content {
    padding: 10px;
}
#main > .content {
    background: #61b557;
}
.card-img {
    display: block;
    height: auto;
    margin: 0 auto 20px;
    width: 100%;
}

.card-info {
    min-height: 300px;
}

.card-info .photo {
    background: #fff;
    border: 2px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    padding: 8px;
}

.card-info .personal-details  p{
    margin-bottom: 5px;
}
.verification {
    background: #dde2cd;
    border: 2px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}
.verification h1 {
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}

/* ==|== non-semantic helper classes ======================================== */
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.float-l { float: left !important; }
.float-r { float: right !important; }
.margin-t { margin-top: 10px !important; }
.half-margin-t { margin-top: 5px !important; }
.margin-r { margin-right: 10px !important; }
.half-margin-r { margin-right: 5px !important; }
.margin-b { margin-bottom: 10px !important; }
.margin-l { margin-left: 10px !important; }
.padding-all { padding: 10px !important; }
.half-padding-all { padding: 5px !important; }
.half-padding-t { padding-top: 5px !important; }
.padding-l { padding-left: 10px !important; }
.padding-r { padding-right: 10px !important; }
.padding-b { padding-bottom: 10px !important; }
.no-margin { margin: 0 !important; }
.text-r { text-align: right !important; }
.text-c { text-align: center !important; }
.align-c { margin: 0 auto; }
.va-middle { vertical-align: middle !important; }
.va-bottom { vertical-align: bottom !important; }
.width-30 { width: 30%; }
.width-70 { width: 70%; }
.width { width: 100%; }

.green-bg { background: #008000 !important; }
.light-green-bg { background: #61b557 !important; }
.text-white { color: #fff; }
