<?php

$this->headTitle('Application');
$this->layout()->setLayout('administration');

$contentEl = uniqid('content');
?>
<script type="text/javascript">
Application.require([], function() {

//    var w = new Application.Layout.Workspace();
    var layout = new Application.Layout.Main({
        workspace: {
            contentEl: <?=$contentEl; ?>
        }
    });
});
</script>

<div id="<?=$contentEl; ?>">
    <a href="<?=$this->baseUrl('module'); ?>"><?=$this->translate('Modules'); ?></a> <br/>
    <a href="<?=$this->baseUrl('account/acl-role'); ?>"><?=$this->translate('Roles'); ?></a> <br/>
    <a href="<?=$this->baseUrl('i18n/translation'); ?>"><?=$this->translate('Translation'); ?></a><br/>

    <a target="_blank" href="<?=$this->baseUrl('application/information/php-info'); ?>">PHP Info</a> <br/>
    <a target="_blank" href="<?=$this->baseUrl('application/installation/assert-permissions'); ?>">Assert folder permissions</a>
</div>
<?= $this->blocks('list');

