html { overflow-y: scroll; }

a { text-decoration: none; }
a:link { color: #000; }
a:visited { color: #333; }
a:hover { color: purple; text-decoration: underline; }
a:active { color: red; text-decoration: underline; }
a:focus { outline: none; text-decoration: underline; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
    white-space: pre; white-space: pre-wrap; word-wrap: break-word;
    padding: 15px;
}

textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }

input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
    border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #ED2A73; color:#fff; text-shadow: none; }
::selection { background:#ED2A73; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #ED2A73; }

button {  width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }


body, select, input, textarea {
    color: #000
}

h1, h2, h3, h4, h5 {
    color: #000;
    font-size: 150%;
    margin-bottom: 10px
}
h2, h3, h4, h5 { color: #696C88 }
