/*
* @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
* @revision   SVN: $Id: entity-type.css 18889 2010-10-06 07:17:25Z vanya $
*/

.entity-1 {
    background: url(../images/icons-16/student.png) no-repeat;
}
.entity-9 {
    background: url(../images/icons-16/teacher.png) no-repeat;
}
.entity-10 {
    background: url(../images/icons-16/bpv.png) no-repeat;
}
.entity-39 {
    background: url(../images/icons-16/broker.png) no-repeat;
}
.entity-21 {
    background: url(../images/icons-16/manager.png) no-repeat;
}