/**
 * @author     Kudrinsky Vitaly <vkudrinsky@gmail.com>
 * @version    SVN: $Id: $
 */

.x-form-twin-triggers .icon-refresh-16 {
    background-image: url(../images/icons-16/refresh.png);
}
.x-form-twin-triggers .icon-add-16 {
    background-image: url(../images/icons-16/add.png);
}
