label > div.x-form-check-wrap {
    display: inline;
    line-height: 1em
}
/*
Commented by Yaroslav
Ext form markup does not recognice correct width

.x-ux-osdn-form .x-form-text,
.x-ux-osdn-form textarea.x-form-field {
    width: 158px
}
.x-ux-osdn-form textarea.x-form-field {
    min-height: 80px
}
.x-ux-osdn-form .x-form-field-trigger-wrap .x-form-text {
    width: 141px !important
}
.x-window-mc {
    background-color: #fff
}
*/

.x-osdn-panel-bg-white {
    background-color: #fff;
}
.x-osdn-combo-plainlist .x-combo-list-hd {
    border: 0 none;
    color: #000;
    padding: 0;
}

.x-grid3-combo-cell {
    border: 0 none;
    border-bottom:1px solid;
    border-color: #FFF #EDEDED #EDEDED;
}

/**
 * Special fix for firefox 3.5+ under Linux
 */
.ext-gecko3.ext-linux .x-menu .x-menu-sep {
    height: 1px;
}

/**
 * toolbar icon list
 */
.x-tool-list {
    background-position: 0 -345px;
}

.x-tool-list-over {
    background-position: -15px -345px;
}

/**
 * Ext JS 4.0.7
 */
.x-docked-noborder-all {
    border-width: 0 !important;
}


.x-field-noborder .x-html-editor-wrap {
    border-width: 0 !important;
}