/**
 * @author      Ivan Voznyakovsky <ivan.voznyakovsky@gmail.com>
 * @version     SVN: $Id: grid.css 1783 2012-01-26 12:21:21Z yaroslav $
 * @changedby   $Author: yaroslav $
 */

.grid,
.form-grid,
.group-grid > table,
table.group-grid,
.group-head table,
.chat {
    border-collapse:collapse;
    table-layout: fixed;
    width: 100%
}
.reset-layout {
    table-layout: auto !important;
}

.grid {
    margin-bottom: 10px;
}
.grid thead th, .grid thead td,
.grid tfoot th, .grid tfoot td {
    background: #F2F2F2;
    background: -moz-linear-gradient(top, #F2F2F2 0%, #E6E6E6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(100%,#E6E6E6));
    border: 1px solid;
    border-color: #fff #d0d0d0 #c6c6c6;
    cursor: default;
    font-size: 90%;
    line-height: 15px;

    -moz-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
}

.grid thead th:first-child, .grid thead td:first-child,
.grid tfoot th:first-child, .grid tfoot td:first-child {
    border-left: none;
}
.grid thead th, .grid tbody td, .grid tfoot th {
    padding: 4px 3px 4px 5px;
    vertical-align: middle;
}
.grid tbody tr.hover > td,
.grid tbody tr:hover > td {
    background: #f5f5f5 !important;
}
.grid tbody td {
    border-left: 1px solid #dfdfdf;
    font-size: 11px;
    line-height: 13px;
}
.grid tbody td:first-child {
    border-left: none;
    background: none;
    font-weight: 400;
}
.grid .no-data {
    background-color: #FFFCDF;
    color: #555;
}

/* Form and group grid common
---------------------------------- */
.form-grid, .group-grid { /* specify font params beacause of x-window-mc class */
    font: 400 12px/14px "Tahoma","Verdana","Helvetica","sans-serif";
}
.group-grid > table {
    margin-bottom: 10px
}

.form-grid tr > *, .group-grid > table tr > * {
    border-bottom: 1px solid #FFF;
    font-size: 11px;
    padding: 5px;
}
.form-grid tr table tr > * {
    border-bottom: 0;
    padding: 0;
}
.group-head > table tr > * {
    padding: 0 !important
}
.form-grid th, .group-grid > table th {
    background-color: #F8F8F8;
    border-bottom: 1px solid #F0F0F0;
    font-size: 90%;
    font-weight: 600
}
.form-grid th.icon-16, .group-grid > table th.icon-16 {
    background-position: 5px 50%;
    display: block;
}
.form-grid td.action, .group-grid td.action {
    padding-right: 10px !important;
    text-align: right;
    vertical-align: middle;
    /*width: 22px*/
}
.form-grid td.action > a, .group-grid td.action > a {
    margin-bottom: -5px;
}
.form-grid tr:hover > .action a, .group-grid tr:hover > .action a {
    visibility: visible !important
}
.form-grid tbody th, .group-grid tbody th {
    color: #444
}
.form-grid tbody tr:hover > th, .group-grid tbody tr:hover > th {
    background-color: #F0F0F0;
    border-bottom: 1px solid #DFDFDF;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}
.form-grid tr.not-set > *,
.form-grid tr.not-set:hover > * {
    color: #777
}
.form-grid tbody td, .group-grid > table tbody td,
.form-grid tbody tr:hover td, .group-grid > table tbody tr:hover td {
    background-color: #FFF;
}

/* Group grid
----------------------------- */
/* Group head
----------------------------- */
.group-head {
    background-position: 10px 50%;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    display: block !important;
    font-size: 90%;
    font-weight: 600;
    padding-left: 10px;
    line-height: 30px;
    text-decoration: underline;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select:ignore;
}
.no-fold {
    cursor: default;
}
.group-head.icon-24 {
    padding: 0 0 10px 45px;
    line-height: 35px;
}
.group-head.icon-16 {
    padding: 0 0 15px 35px;
}
.group-head td {
    border: 0;
    line-height: 30px;
    font-size: 1em;
    font-weight: 400;
}
.group-grid .short {
    text-align: center;
    width: 5%;
}
.group-grid div.group-content {
    padding: .5em
}
.group-grid h6  {
    font-weight: 700;
    margin-bottom: .2em;
    text-decoration: underline
}
.group-grid > table td {
    border-bottom: 1px solid #F0F0F0;
    overflow: hidden
}

/* Chat
----------------------------- */
.chat td {
    padding: 5px
}
.chat-entity.head > td {
    background-color: #FAFAFA;
    border: 1px solid;
    border-color: #FFF transparent #EDEDED
}

/* Article grid
----------------------------- */
.article .grid td, .article .grid th {
    border: 0;
    vertical-align: top;
    word-wrap: break-word
}
.article .grid th {
    color: #333;
    font-size: 90%;
    padding: 4px 3px 4px 5px;
}
.article .grid tr.hover > td, .article .grid tr:hover > td {
    background: none !important;
}
.article .grid tr.hover > th, .article .grid tr:hover > th {
    background-color: #f5f5f5 !important;
    font-weight: 700;
    text-shadow: 1px 1px 0 #fff
}


.x-osdn-grid-cell-checked .x-grid3-cell-inner {
    background: url(../images/icons-16/check.png) no-repeat 50% 50%;
}

.x-osdn-grid-cell-checked .x-grid-cell-inner {
    background: url(../images/icons-16/check.png) no-repeat 50% 50%;
}

/* Add/edit phone form */
.phone-form td {
    border: 0 !important;
    padding: 0 !important;
}
.ie8 .phone-form input[type="text"] {
    margin-left: 2px;
}