/**
 * @author      Ivan Voznyakovsky <ivan.voznyakovsky@gmail.com>
 * @version     SVN: $Id: icons.css 1783 2012-01-26 12:21:21Z yaroslav $
 * @changedby   $Author: yaroslav $
 */

 /* Common
 ----------------------------- */
.icon-16, .icon-24, .icon-32 {
    background: transparent no-repeat 0 50%;
    display: inline-block;
    text-decoration: none
}
.bg-center {
   background-position: 50% 50% !important;
}

/* Links
----------------------------- */
a[href^="mailto:"], a[target="_blank"] {
    padding-left: 15px;
}
a[href^="mailto:"] {
    background: url("../images/icons-12/email.png") no-repeat 0 50%;
}
a[target="_blank"] {
    background: url("../images/icons-12/newwindow.gif") no-repeat 0 50%;
}

/* 16x16
----------------------------- */
.icon-16 {
    height: 16px;
    min-width: 16px;
    cursor: pointer;
}

.icon-16.text {
    padding-left: 20px !important;
}
.icon-edit-16 {
    background-image: url(../images/icons-16/edit.png);
}
.icon-search-16 {
    background-image: url(../images/icons-16/search.png);
}
.icon-reset-16 {
    background-image: url(../images/icons-16/clear.png);
}
.icon-delete-16 {
    background-image: url(../images/icons-16/delete-gray.png);
}
.icon-no-16 {
    background-image: url(../images/icons-16/minus.png);
}
.icon-yes-16 {
    background-image: url(../images/icons-16/yes.png);
}
.icon-new-form-16, .icon-extra-filters-16 {
    background-image: url(../images/icons-16/form-icon-plus.png);
}
.icon-submit-16, .icon-save-16, .icon-update-16 {
    background-image: url(../images/icons-16/submit.png);
}
.icon-refresh-16 {
    background-image: url(../images/icons-16/refresh.png);
}
.icon-cancel-16, .icon-close-16 {
    background-image: url(../images/icons-16/close.png);
}
.icon-layout-30x70 {
    background-image: url(../images/icons-16/layout-30x70.png);
}
.icon-layout-70x30 {
    background-image: url(../images/icons-16/layout-70x30.png);
}
.icon-layout-50x50 {
    background-image: url(../images/icons-16/layout-50x50.png);
}
.icon-layout-toggle-summary {
    background-image: url(../images/icons-16/layout-toggle-summary.png);
}
.icon-layout-toggle-header {
    background-image: url(../images/icons-16/layout-toggle-header.png);
}
.icon-layout-toggle-order-details {
    background-image: url(../images/icons-16/layout-toggle-order-details.png);
}
.icon-layout-reset {
    background-image: url(../images/icons-16/layout-reset.png);
}
.icon-add-16, .icon-create-16 {
    background-image: url(../images/icons-16/add.png);
}
.icon-info-16 {
    background-image: url(../images/icons-16/info.png);
}
.icon-tab-info-16 {
    background-image: url(../images/icons-16/tab-info.png);
}
.icon-notes-16 {
    background-image: url(../images/icons-16/notes.png);
}
.icon-business-info-16 {
    background-image: url(../images/icons-16/business-info.png);
}
.icon-invoice-16 {
    background-image: url(../images/icons-16/invoice.png);
}
.icon-calendar-16 {
    background-image: url(../images/icons-16/calendar.png);
}
.icon-user-group-16 {
    background-image: url(../images/icons-16/user-group.png);
}
.icon-user-anonymous-16 {
    background-image: url(../images/icons-16/user-anonymous.png);
}
.icon-check-16 {
    background-image: url(../images/icons-16/check.png);
}
.icon-check-orange-square-16 {
    background-image: url(../images/icons-16/check-orange-square.png);
}
.icon-arrow-up-orange-circle-16 {
    background-image: url(../images/icons-16/arrow-up-orange-circle.png);
}
.icon-list-16 {
    background-image: url(../images/icons-16/list.png);
}
.icon-bookmark-16 {
    background-image: url(../images/icons-16/bookmark.png);
}
.icon-company-16 {
    background-image: url(../images/icons-16/company.png);
}
.icon-company-add-16 {
    background-image: url(../images/icons-16/company-add.png);
}
.icon-company-edit-16 {
    background-image: url(../images/icons-16/company-edit.png);
}
.icon-company-delete-16 {
    background-image: url(../images/icons-16/company-delete.png);
}
.icon-note-16 {
    background-image: url(../images/icons-16/note.png);
}
.icon-note-edit-16 {
    background-image: url(../images/icons-16/note-edit.png);
}
.icon-note-add-16 {
    background-image: url(../images/icons-16/note-add.png);
}
.icon-note-delete-16 {
    background-image: url(../images/icons-16/note-delete.png);
}
.icon-euro-16 {
    background-image: url(../images/icons-16/euro.png);
}
.icon-book-16 {
    background-image: url(../images/icons-16/book.png);
}
.icon-circle-green-16 {
    background-image: url(../images/icons-16/circle-green.png);
}
.icon-circle-yellow-16 {
    background-image: url(../images/icons-16/circle-yellow.png);
}
.icon-user-info-16 {
    background-image: url(../images/icons-16/user-info.png);
}
.icon-contacts-16 {
    background-image: url(../images/icons-16/contacts.png);
}
.icon-address-16,
.icon-mail-16 {
    background-image: url(../images/icons-16/address.png);
}
.icon-email-16 {
    background-image: url(../images/icons-16/email.png);
}
.icon-phone-16 {
    background-image: url(../images/icons-16/phone.png);
}
.icon-phone-mobile-16 {
    background-image: url(../images/icons-16/phone-mobile.png);
}
.icon-phone-fax-16 {
    background-image: url(../images/icons-16/phone-fax.png);
}
.icon-phone-office-16 {
    background-image: url(../images/icons-16/phone-office.png);
}
.icon-url-16 {
    background-image: url(../images/icons-16/url.png);
}
.icon-chat-16 {
    background-image: url(../images/icons-16/chat.png);
}
.icon-comment-16 {
    background-image: url(../images/icons-16/comment.png);
}
.icon-logout-16 {
    background-image: url(../images/icons-16/logout.png);
}
.icon-manager-16 {
    background-image: url(../images/icons-16/manager.png);
}
.icon-role-16 {
    background-image: url(../images/icons-16/role.png);
}
.icon-chronometer-16 {
    background-image: url(../images/icons-16/chronometer.png);
}
.icon-course-16 {
    background-image: url(../images/icons-16/course.png);
}
.icon-exam-16 {
    background-image: url(../images/icons-16/exam.png);
}
.icon-track-16 {
    background-image: url(../images/icons-16/track.png);
}
.icon-article-16 {
    background-image: url(../images/icons-16/article-green.png);
}

.icon-cache-16 {
    background-image: url(../images/icons-16/cache.png);
}


/* 24x24
----------------------------- */
.icon-24 {
    height: 24px;
    min-width: 24px;
}
.icon-mail-24 {
    background-image: url(../images/icons-24/mail.png);
}
.icon-phone-24 {
    background-image: url(../images/icons-24/phone.png);
}
.icon-url-24 {
    background-image: url(../images/icons-24/url.png);
}
.icon-company-24 {
    background-image: url(../images/icons-24/company.png);
}
.icon-contacts-24 {
    background-image: url(../images/icons-24/contacts.png);
}
.icon-user-group-24 {
    background-image: url(../images/icons-24/user-group.png);
}
.icon-planner-24 {
    background-image: url(../images/icons-24/planner.png);
}
.icon-list-24 {
    background-image: url(../images/icons-24/list.png);
}
.icon-check-list-24 {
    background-image: url(../images/icons-24/check-list.png);
}
.icon-bookmark-24 {
    background-image: url(../images/icons-24/bookmark.png);
}
.icon-notes-24 {
    background-image: url(../images/icons-24/notes.png);
}
.icon-info-24 {
    background-image: url(../images/icons-24/info.png);
}
.icon-business-info-24 {
    background-image: url(../images/icons-24/business-info.png);
}
.icon-invoice-24 {
    background-image: url(../images/icons-24/invoice.png);
}
.icon-calendar-24 {
    background-image: url(../images/icons-24/calendar.png);
}
.icon-book-24 {
    background-image: url(../images/icons-24/book.png);
}
.icon-circle-green-24 {
    background-image: url(../images/icons-24/circle-green.png);
}
.icon-circle-yellow-24 {
    background-image: url(../images/icons-24/circle-yellow.png);
}
.icon-email-24 {
    background-image: url(../images/icons-24/email.png);
}
.icon-user-info-24 {
    background-image: url(../images/icons-24/user-info.png);
}


/* 32x32
----------------------------- */
.icon-32 {
    height: 32px;
    min-width: 32px;
}
.icon-32.text {
    line-height: 32px;
    padding-left: 40px;
}
.icon-mail-32 {
    background-image: url(../images/icons-32/mail.png);
}
.icon-email-32 {
    background-image: url(../images/icons-32/email.png);
}
.icon-url-32 {
    background-image: url(../images/icons-32/link.png);
}
.icon-puzzle-32 {
    background-image: url(../images/icons-32/puzzle.png);
}

/* 48x48
----------------------------- */
