/**
 * @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
 * @version    SVN: $Id: layout.css 19212 2010-12-06 13:44:21Z vanya $
 */

html {
    font-size:100.01%;
}
body {
    font: 400 12px/1.231 "Tahoma","Verdana","Helvetica","sans-serif";
}
body, .body-grnd {
    background-color: #fefef6 !important;
}

/* Links
----------------------------- */
a { text-decoration: none; }
a:link { color: #000; }
a:visited { color: #333; }
a:hover { color: purple; }
a:active { color: red; }
a:focus { outline: none; }

.separator {
    background: #a1a1a1;
    border-right: 1px solid #fff;
    display: inline-block;
    margin: 0 5px;
    height: 16px;
    width: 1px;
}

.ui-corner-all {
    border-raduis: 5px;
    -moz-border-raduis: 5px;
    -webkit-border-raduis: 5px;
}

/* Inputs
----------------------------------*/
input.short {
    width: 5em !important;
}
label input {
    margin-right: .2em !important
}

.no-data {
    background: #FFFCDF !important;
    color: #555;
    font-size: 90%;
    line-height: 2.5em !important;
    padding: .5em  !important;
}
.shadow {
    background: url(../images/shadow.png) no-repeat 50% 0;
    height: 19px;
    width: 100%;
}
.shaded-text {
    color: #8F8F8F;
}

/* Input states
----------------------------- */
.input-state {
    background-repeat: repeat-x;
    height: 3px;
    margin-bottom: -3px;
    position: relative;
    z-index: 10
}
.input-state.changed {
    background-image: url(../images/changed-field.gif)
}
.input-state.err {
    background-image: url(../images/error-field.gif)
}
.input-state.saved {
    background-image: url(../images/saved-field.gif)
}
.input-state.top {
    background-position: 0 0;
}
.input-state.bottom {
    background-position: 0 -3px
}

/* Header
----------------------------------*/
#header {
    background: #fff url(../images/header-grnd.png) no-repeat 50% 0;
    padding: 15px 0 0;
}
#header .shadow {
    background-color: #fff;
/*    border: 1px solid #ccc;
    border-width: 1px 0 0;*/
}

/* Main menu and layout view splitters
----------------------------------*/
#main-menu-wrapper {
    margin: 5px 0;
    padding-top: 3px;
}
.main-menu {
}
.main-menu li {
    float: left;
    position: relative;
}
.main-menu .sub {
    display: none;
    position: absolute;
}
.main-menu li:hover .sub {
    display: block;
}

/* Content
----------------------------------*/
.x-osdn-wizard .x-osdn-wizard-workspace-header {
    border-top: 0;
    border-left: 0;
}

.x-osdn-wizard .x-osdn-wizard-workspace-body {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.x-osdn-wizard .x-osdn-wizard-block-header {
    border-top: 0;
    border-right: 0;
}

.x-osdn-wizard .x-osdn-wizard-block-body {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

.gradient-header {
    line-height: 1em;
    padding: .5em !important;
    text-align: center;
    text-shadow: 1px 1px 0 #FFF;
}

/* Article
----------------------------- */
.article h1 {
    font-size: 210%
}
.article h2 {
    font-size: 190%
}
.article h3 {
    font-size: 170%
}
.article h4 {
    font-size: 150%
}
.article h5 {
    font-size: 130%
}
.article .content {
    padding: .5em
}

/* Footer
----------------------------------*/
/*#footer {
    background: #FEFEF6;
    padding-top: 10px;
    position: relative;
}*/
#footer > div {
    background: url(../images/footer-grnd.png) repeat-x 0 0;
    border-top: 1px solid #ccc;
    height: 80px;
}
#footer .text {
    line-height: 61px;
    margin: -10px 10px 0;
}
.powered-by {
    background: url(../images/powered-by.png) no-repeat 0 0;
    height: 60px;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 60px;
}

/* Success, info, notice and error boxes
-------------------------------------------------------------- */

.quiet {
    color: #555;
    text-shadow: 1px 1px 0 #fff
}
.loud {
    color: #008DBF
}

.error,
.notice,
.success,
.info         { padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info         { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a        { color: #205791; }


.workspace-droppable {
    border-color: red;
}