html, body {
    font: 12px/16px Arial,Helvetica,sans-serif;
}

#main-container {
    margin: 0 auto;
    min-width: 1000px;
    position: relative;
}

#header.company {
    background: #fff url(../images/dbf-header-grnd.png) no-repeat 50% 0;
    padding: 15px 0 10px;
}
#header a {
    font-weight: 700;
}
#header h1 {
    position: absolute;
    right: 22px;
    top: 94px;
}
.order-title {
    line-height: 2em;
    padding-left: 230px;
    position: relative;
    text-align: right;
    top: 22px
}
.shadow {
    background: url(../images/shadow.png) no-repeat 50% 0;
    height: 19px;
    width: 100%;
}
.user-pnl {
    font-size: 90%;
    height: 50px;
    margin-left: 50px !important;
}

.gradient-header {
    line-height: 1em;
    padding: .5em !important;
    text-align: center;
    text-shadow: 1px 1px 0 #FFF;
}

/* Main */
#main {
    background: #fff;
}
.find-new {
    background: #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
    margin-left: 5px;
    padding: 5px;
    text-shadow: 0 1px 0 #fff;
}

/* Modules list */
.modules-list {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
}
.modules-list thead th, .modules-list tfoot th {
    border-width: 1px 0px 1px 1px;
    padding: 4px;
}
.modules-list tr {
    background-color: #F4F4F4;
}
.modules-list td {
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #fff;
    font-size: 13px !important;
}
.module-details {
    padding: 5px 5px 7px !important;
    vertical-align: top !important;
    width: 400px;
}
.module-details h6 {
    color: #444;
    padding-bottom: 5px;
}
.module-status {
    text-align: center;
    width: 60px;
}
.module-actions {

}
.module-actions a {
    color: #579;
    display: inline-block;
    padding: 3px;
}
.module-actions .delete {
    color: #BC0B0B;
}
.module-actions a:hover {
    color: #D54E21;
}
.module-actions a:first-child {
    border: 0;
    padding-left: 0;
}
.module-desc {
    vertical-align: top !important;
}
.module-version {
    color: #555;
    padding-top: 10px;
}

/* Footer */
#footer {
    padding: 25px;
}
#footer table {
    table-layout: fixed;
    width: 100%
}
#footer ul {
    margin: 0
}
#footer a, #footer h2 {
    color: #D2D6E6
}
#footer a {
    font-weight: 400
}
#footer a:hover, #footer a:active {
    text-decoration: underline
}
#footer h2 {
    color: #EFF2FF;
    font-family: 'Auto3Regular';
    font-size: 120%;
    font-weight: 700
}


