/**
 * @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
 * @version    SVN: $Id: toolbox.css 19212 2010-12-06 13:44:21Z vanya $
*/

.clearfix:after, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
}
.clearfix, .container {display: block;}

.clear { clear:both; }

/* Visibility
----------------------------------*/

.invisible {
    display: none !important;
}
.hidden {
    visibility: hidden !important;
}

/* Scrollbars
----------------------------------*/
.scroll-h {
    overflow-x: auto !important;
}
.scroll-v {
    overflow-y: auto !important;
}


/* Dimensions
----------------------------------*/
.span-half {
    width: 50%
}
.span-width {
    width: 100%
}

/* Alignments
----------------------------------*/
.column {
    float: left;
}
.container-center {
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.float-l {
    float: left;
}
.float-r {
    float: right !important;
}
.v-a-top {
    vertical-align: top;
}

/* Resetters
----------------------------------*/
.no-text-indent {
    text-indent:0 !important;
}
.no-background {
    background:none !important;
}
.no-padding {
    padding:0 !important;
}
.no-margin {
    margin:0 !important;
}
.no-border {
    border:0 !important;
}
.no-float {
    float: none !important;
}
.reset-width {
    width: auto !important;
}

/* Paddings and margins
----------------------------------*/
.indent-tb {
    padding:10px 0 !important;
}
.half-indent-tb{
    padding:5px 0 !important;
}
.margin-b {
    margin:0 0 10px 0 !important;
}
.half-margin-b {
    margin:0 0 5px 0 !important;
}
.margin-tb {
    margin:10px 0 !important;
}
.half-margin-tb {
    margin:5px 0 !important;
}
.indent-tl {
    padding:10px 0 0 10px !important;
}
.half-indent-tl {
    padding:5px 0 0 5px !important;
}
.margin-tl {
    margin:10px 0 0 10px !important;
}
.half-margin-tl {
    margin:5px 0 0 5px !important;
}
.indent-tr {
    padding:10px 10px 0 0 !important;
}
.half-indent-tr {
    padding:5px 5px 0 0 !important;
}
.margin-tr {
    margin:10px 10px 0 0 !important;
}
.half-margin-tr {
    margin:5px 5px 0 0 !important;
}
.indent-tbl {
    padding:10px 0 10px 10px !important;
}
.margin-tbl {
    margin:10px 0 10px 10px !important;
}
.indent-trb {
    padding:10px 10px 10px 0 !important;
}
.half-indent-trb {
    padding:5px 5px 5px 0 !important;
}
.indent-rb {
    padding:0px 10px 10px 0 !important;
}
.half-indent-rb {
    padding:0px 5px 5px 0 !important;
}
.indent-rbl {
    padding:0px 10px 10px 10px !important;
}
.indent-trl {
    padding:10px 10px 0px 10px !important;
}
.half-indent-trl {
    padding:5px 5px 0px 5px !important;
}
.margin-rb {
    margin:0px 10px 10px 0 !important;
}
.indent-bl {
    padding:0px 0px 10px 10px !important;
}
.half-indent-bl {
    padding:0px 0px 5px 5px !important;
}
.margin-bl {
    margin:0px 0px 10px 10px !important;
}
.indent-rl{
    padding:0 10px !important;
}
.margin-rl{
    margin:0 10px !important;
}
.indent-b {
    padding:0 0 10px 0 !important;
}
.half-indent-b {
    padding:0 0 5px 0 !important;
}
.margin-b {
    margin-bottom:10px !important;
}

.indent-t {
    padding:10px 0 0 0 !important;
}
.half-indent-t {
    padding:5px 0 0 0 !important;
}
.margin-t {
    margin-top:10px !important;
}
.half-margin-t {
    margin-top:5px !important;
}
.indent-r {
    padding:0 10px 0 0 !important;
}
.half-indent-r {
    padding:0 5px 0 0 !important;
}
.margin-r {
    margin:0 10px 0 0 !important;
}
.half-margin-r {
    margin:0 5px 0 0 !important;
}
.indent-l {
    padding:0 0 0 10px !important;
}
.half-indent-l {
    padding:0 0 0 5px !important;
}
.margin-l {
    margin: 0 0 0 10px !important;
}
.half-margin-l {
    margin: 0 0 0 5px !important;
}
.indent-all {
    padding:10px !important;
}
.half-indent-all {
    padding:5px !important;
}
.margin-all {
    margin:10px !important;
}
.half-margin-all {
    margin:5px !important;
}

/* Icons dimentions
----------------------------------*/
.icon16 {
    height: 16px;
    width: 16px;
}
.text-icon16 {
    display: block;
    height: 16px;
    padding-left: 20px;
}
.icon24 {
    height: 24px;
    width: 24px;
}
.text-icon24 {
    height: 24px;
    padding-left: 28px;
}
.icon32 {
    height: 32px;
    width: 32px;
}
.text-icon32 {
    height: 32px;
    padding-left: 36px;
}
.icon48 {
    height: 48px;
    width: 48px;
}
.text-icon48 {
    height: 48px;
    padding-left: 52px;
}
.icon64 {
    height: 64px;
    width: 64px;
}
.text-icon64 {
    height: 64px;
    padding-left: 68px;
}
.icon128 {
    height: 128px;
    width: 128px;
}
.text-icon128 {
    height: 128px;
    padding-left: 132px;
}

/* Decorations
----------------------------------*/
.border {
    border-right: 1px solid #eee;
}
.asterisk {
    color:red !important;
    font-size: 80%;
    font-weight:700 !important;
    vertical-align: top;
}
.note {
    border-top: 1px dotted #888;
    color: #888;
    margin-top: 5px;
    padding: 3px;
    white-space: normal;
}
.footnote {
    color:#888;
    font-size:90%;
    font-weight: 400;
}
.pointer {
    cursor: pointer !important;
}
.btn-big-green {
    background: #46B544;
    background: -moz-linear-gradient(top, #46B544 0%, #009304 100%);
    background: -o-linear-gradient(top, #46B544 0%, #009304 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46B544), color-stop(100%,#009304));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46B544', endColorstr='#009304',GradientType=0 );
    border: 1px solid #008F03;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: tahoma;
    font-size: 140%;
    padding: 5px 10px
}
.btn-big-green:hover {
    border-color: #003F01;
}
.btn-big-green:active {
    background: -moz-linear-gradient(top, #009304 0%, #46B544 100%);
    background: -o-linear-gradient(top, #009304 0%, #46B544 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009304), color-stop(100%,#46B544));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009304', endColorstr='#46B544',GradientType=0 );
    border-color: #003F01;
}