<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <?=$this->information()->init(false);?>
    </section>

    <div class="clearfix">
        <article class="content">
            <?
                $this->formValue()->init();
                if (null !== $this->summary['companyRow']):
                    $this->formValue()->setModel($this->summary['companyRow']);
                else:
                    $this->formValue()->omitNullableModel(true);
                endif;
            ?>

            <table class="width form-fields item-summary">
                <tr>
                    <th>
                        <h5><strong>Bedrijfsgegevens</strong></h5>
                        Bedrijfsnaam:
                    </th>
                    <td class="va-bottom"><?=$this->formValue('name'); ?></td>
                </tr>
                <tr>
                    <th>Bedrijfsvorm:</th>
                    <td><?=$this->formValue('form'); ?></td>
                </tr>
                <tr>
                    <th>E-mailadres:</th>
                    <td>
                        <? $email = $this->formValue('email'); ?>
                        <? if (!empty($email)): ?>
                            <a href="mailto:<?=$email?>"><?=$email?></a>
                        <? endif; ?>
                    </td>
                </tr>
                <tr>
                    <th>Telefoon:</th>
                    <td><?=$this->formValue('phone'); ?></td>
                </tr>
                <tr>
                    <th class="va-top">Uw logo:</th>
                    <td>
                        <?if (null !== $this->summary['companyRow']): ?>
                            <img src="<?=$this->modules('company')->CompanyLogoFileStock($this->summary['companyRow'])->resize(70); ?>" />
                        <?endif; ?>
                    </td>
                </tr>
                <tr>
                    <th>Website:</th>
                    <td>
                        <? $site = $this->formValue('website'); ?>
                        <? if (!empty($site)): ?>
                            <a href="http://<?=$site?>" target="_blank"><?=$site;?></a>
                        <? endif; ?>
                    </td>
                </tr>
                <tr>
                    <th>KVK nummer:</th>
                    <td><?=$this->formValue('kvk'); ?></td>
                </tr>
                <tr>
                    <th>BTW nummer:</th>
                    <td><?=$this->formValue('btw'); ?></td>
                </tr>
                <tr>
                    <th>Benkrekeningnummer:</th>
                    <td>
                        <? $row = $this->summary['companyRow']->getCompanyDefaultBankAccountRow(); ?>
                        <? if (!empty($row)): echo $row->bankAccount; endif;?>
                    </td>
                </tr>
            </table>

            <br>
            <table class="width form-fields item-summary">
                <tr>
                    <th>
                        <h5><strong>Bezoekadres</strong></h5>
                        Straatnaam en huisnummer:
                    </th>
                    <td class="va-bottom">
                        <?=$this->formValue('actualStreet'); ?>&nbsp;<?=$this->formValue('actualHouseNumber'); ?>
                    </td>
                </tr>
                <tr>
                    <th>Postcode en plaats:</th>
                    <td>
                        <?=$this->formValue('actualStreet'); ?>&nbsp;<?=$this->formValue('actualHouseNumber'); ?>
                    </td>
                </tr>
            </table>

            <br>
            <table class="width form-fields item-summary">
                <tr>
                    <th>
                        <h5><strong>Postadres</strong></h5>
                        Straatnaam & huisnummer:
                    </th>
                    <td class="va-bottom">
                        <?=$this->formValue('postStreet'); ?>&nbsp;<?=$this->formValue('postHouseNumber'); ?>
                    </td>
                </tr>
                <tr>
                    <th>Postcode & plaats</th>
                    <td>
                        <?=$this->formValue('postPostCode'); ?>&nbsp;<?=$this->formValue('postCity'); ?>
                    </td>
                </tr>
            </table>

            <?
                if (null !== $this->summary['companyRow']) {
                    $contactPerson = $this->summary['companyRow']->getCompanyDefaultContactPersonRow();
                }
            ?>

            <? if ($contactPerson): $this->formValue()->setModel($contactPerson); ?>
                <br>
                <table class="width form-fields item-summary">
                    <tr>
                        <th>
                            <h5><strong>Contactpersoon</strong></h5>
                            Volledige naam contactpersoon:
                        </th>
                        <td class="va-bottom"><?=$this->formValue('fullname'); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">Voorletters:</th>
                        <td><?=$this->formValue('initials'); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">Voornaam:</th>
                        <td><?=$this->formValue('firstname'); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">Achternaam:</th>
                        <td><?=$this->formValue('lastname'); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">Geslacht:</th>
                        <td><?=ucfirst($this->formValue('sex')); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">Titel:</th>
                        <td><?=ucfirst($this->formValue('title')); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">Functie:</th>
                        <td><?=ucfirst($this->formValue('function')); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">Afdeling:</th>
                        <td><?=ucfirst($this->formValue('department')); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">Direct nummer:</th>
                        <td><?=ucfirst($this->formValue('phone')); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">Mobile nummer:</th>
                        <td><?=ucfirst($this->formValue('mobile')); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray">E-mailadres:</th>
                        <td><?=ucfirst($this->formValue('email')); ?></td>
                    </tr>
                    <tr>
                        <th class="text-gray va-top">Pasfoto:</th>
                        <td>
                            <img src="<?=$this->modules('company')->ContactPersonPhotoFileStock($contactPerson)->resize(70); ?>" />
                        </td>
                    </tr>
                </table>
            <? endif; ?>
        </article>

        <aside class="right">
            <?=$this->pageDescription();?>
        </aside>
    </div>
    <br>
    <hr>
    <p class="text-c">
        <a href="/company/create/info" class="btn-big">
            <span class="icon-edit">Wijzigen</span>
        </a>
    </p>
</section>
<script src="/modules-appalti/company/views/scripts/default/create/_resources/js/summary.js"></script>




