<? if (null === $this->companyRow): ?>
    <h1>No company assigned to this account</h1>
<? else:

    /**
     * The hidden value is required for identify the company id when
     * widget receive only html text
     */
    ?>
<div style="margin:auto; font-size: 15px; width: 400px; margin-top: 60px;border:3px solid  #B0CAED; padding: 4px ">
    <input type="hidden" value="<?=$this->companyRow->getId(); ?>" name="companyId" />
    <table width="400px">
        <tr>
            <td width="80px">
               <span style="color: #1561C5">Name: </span><br>
                <span style="color: #1561C5">Full Name: </span><br>
                <span style="color: #1561C5">KVK: </span><br>
                <span style="color: #1561C5"> BTW: </span><br>
                <span style="color: #1561C5">E-Mail: </span><br>
                <span style="color: #1561C5">Website:</span><br>
                <span style="color: #1561C5">Phone: </span><br>
                <span style="color: #1561C5">Fax: </span><br>
                <span style="color: #1561C5">Type:</span><br>
            </td>
            <td width="200px">
                <span><?=$this->companyRow->name; ?></span><br>
                <span><?=$this->companyRow->fullname; ?></span><br>
                <span><?=$this->companyRow->kvk; ?></span><br>
                <span><?=$this->companyRow->btw; ?></span><br>
                <span><?=$this->companyRow->email; ?></span><br>
                <span><?=$this->companyRow->website; ?></span><br>
                <span><?=$this->companyRow->phone; ?></span><br>
                <span><?=$this->companyRow->fax; ?></span><br>
                <span><?=$this->companyRow->type; ?></span><br>

            </td>
            <td > <?if($this->companyRow->logo): ?>
                <div>
                    <img  src="<?=(string) $this->modules('company')->CompanyLogoFileStock($this->companyRow)->resize(70); ?>" style="max-height: 100px; " />
                </div>
                <?endif; ?></td>
        </tr>
    </table>
    <br>
    <table width="400px">
        <tr>
            <td colspan=2 align="center">
                <strong style="color: #1561C5">Actual address</strong>
            </td>
            <td colspan=2 align="center">
                <strong style="color: #1561C5">Post address</strong>
            </td>
        </tr>
        <tr>
            <td width="80px">
                <span style="color: #1561C5">Street:</span><br>
                <span style="color: #1561C5">House:</span><br>
                <span style="color: #1561C5">PostCode:</span><br>
                <span style="color: #1561C5"> City: </span><br>
            </td>
            <td width="120px">
                <span><?=$this->companyRow->actualStreet; ?></span><br>
                <span><?=$this->companyRow->actualHouseNumber; ?></span><br>
                <span><?=$this->companyRow->actualPostCode; ?></span><br>
                <span><?=$this->companyRow->actualCity; ?></span><br>
            </td>
            <td width="80px">
                <span style="color: #1561C5">Street:</span><br>
                <span style="color: #1561C5">House:</span><br>
                <span style="color: #1561C5">PostCode:</span><br>
                <span style="color: #1561C5">City:</span><br>
            </td>
            <td width="120px">
                <span><?=$this->companyRow->postStreet; ?></span><br>
                <span><?=$this->companyRow->postHouseNumber;?></span><br>
                <span><?=$this->companyRow->postPostCode; ?></span><br>
                <span><?=$this->companyRow->postCity; ?></span><br>
            </td>
        </tr>
    </table>
</div>
<? endif; ?>