<? if (null !== $this->companyRow): ?>
    <input type="hidden" name="companyId" value="<?= $this->companyRow->getId() ?>"/>
<? endif; ?>
<? if (null !== $this->parentId): ?>
    <input type="hidden" name="parentId" value="<?= $this->parentId ?>"/>
<? endif; ?>
<div id="contact-person-box">
<?
    $companyContactPersonCount = 0;
    $this->createCompanyOwnerContactPerson = (null === $this->companyRow && empty($this->parentId));

    if (null !== $this->companyRow && empty($this->parentId)):
        try {
            $companyContactPersonRowset = $this->companyRow->getCompanyContactPersonRowset();
            $companyContactPersonCount = $companyContactPersonRowset->count();
        } catch(Exception $e) {

        }
    endif;

    $contactPersonSubmittedRowset = $this->formValue()->getData('contactPerson');
    $hasContactPersonSubmitted = is_array($contactPersonSubmittedRowset) && count($contactPersonSubmittedRowset) > 0;

    $this->tabindex = 28;

    if ($companyContactPersonCount > 0):
        foreach ($companyContactPersonRowset as $contactPersonRow):
            $this->contactPersonRow = $contactPersonRow;
            require __DIR__ . '/../contact-person/create.block.phtml';
        endforeach;
    elseif (!$hasContactPersonSubmitted):
        $this->namespace = 'create0';
        require __DIR__ . '/../contact-person/create.block.phtml';
    endif;
    unset($this->contactPersonRow);

    /**
     * During post submit we should display
     * all contact persons which user submitted
     */
    if ($hasContactPersonSubmitted) {
        foreach($contactPersonSubmittedRowset as $contactPersonId => $contactPersonSubmittedRow) {
            if (is_numeric($contactPersonId) && (int) $contactPersonId == $contactPersonId) {
                continue;
            }

            $this->formValue()->setData($contactPersonSubmittedRow);
            $this->namespace = $contactPersonId;
            require __DIR__ . '/../contact-person/create.block.phtml';
        }
    }

    /**
     * @XXX Remember that formValue plugin lost model and post data
     * If in future company data is required, please fill this kind
     * of plugins again.
     *
     * $this->formValue()->setModel($this->companyRow);
     * $this->formValue()->setData($this->formSubmittedPostData ?: array());
     */
?>
</div>
<?/**?>
<?  if (null !== $this->companyRow): ?>
    <table class="width form-fields">
        <tr>
            <th>&nbsp;</th>
            <td>
                <a id="btn-create-contact-person" class="btn" href="#">
                    <i class="icon-add"><?=$this->translate('Nog een contactpersoon aanmaken');?></i>
                </a>
            </td>
        </tr>
    </table>
<?  endif; ?>
<?/**/?>

<script type="text/javascript" src="/modules-appalti/company/views/scripts/default/index/_resources/js/Form.js"></script>
<script type="text/javascript" language="javascript">
    $(function() {
        var company = new Modules.Company(<?if(null !== $this->companyRow): echo $this->companyRow->getId(); endif; ?>);
        $('#btn-create-contact-person').click(function() {
            company.onAttachBlankContactPerson();
            return false;
        });
    });
</script>