<?
    echo $this->information()->init(false);
    $this->formValue()->init();
    if (null !== $this->companyRow):
        $this->formValue()->setModel($this->companyRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <a href="/company/client"><span>Relaties</span></a>
<?      if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Relatie aanmaken</span><?endif;?>
<?      if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span>Relatie bewerken</span><?endif;?>
</section>

<h3><strong>Vul hieronder uw basisgegevens in</strong></h3>
<form id="create-company" method="POST" class="validatable"
      action="/company/index/<?= null === $this->companyRow ? 'create' : 'update'; ?>"
      enctype="multipart/form-data">
<?  require_once __DIR__ . '/form.field.phtml'; ?>
    <hr />
    <div class="text-c">
        <button class="btn-big" type="submit">
            <span class="icon-save">Opslaan</span>
        </button>
    </div>
</form>
