<? if (null !== $this->companyRow): ?>
    <input type="hidden" name="companyId" value="<?= $this->companyRow->getId() ?>"/>
<? endif; ?>
<? if (null !== $this->parentId): ?>
    <input type="hidden" name="parentId" value="<?= $this->parentId ?>"/>
<? endif; ?>
<table class="width zebra form-fields">
    <tr>
        <th colspan="3">
            <h4><strong><?= $this->translate('Bedrijfsgegevens') ?></strong></h4>
<?  if('/company/create/company' == $this->url()): ?>
            <p><?= $this->translate('Wij vragen u om hier uw bedrijfsgegevens in te vullen.<br/>Het gaat hier om standaard informatiegegevens, die straks automatisch in uw gegenereerde offertes geplaatst worden.<br/>Deze gegevens kunt u desgewenst later aanpassen of verder aanvullen. ') ?></p>
<?  endif; ?>
        </th>
    </tr>
    <tr>
        <th><?= $this->translate('Bedrijfsnaam') ?>:</th>
        <td class="info-cnt va-bottom"></td>
        <td class="va-bottom">
            <input type="text" tabindex="10" name="name" value="<?= $this->formValue('name') ?>" class="required" />
        </td>
    </tr>
    <tr>
        <th><?= $this->translate('Bedrijfsvorm') ?>:</th>
        <td class="info-cnt"></td>
        <td><?= $this->companyFormComboBox()->toField('form', $this->formValue('form'), array('tabindex' => '11')) ?></td>
    </tr>
    <tr>
        <th><?= $this->translate('Algemeen emailadres') ?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td><input type="text" tabindex="12" name="email" value="<?= $this->formValue('email') ?>" class="email3" />
        </td>
    </tr>
    <tr>
        <th><?= $this->translate('Telefoon') ?>:</th>
        <td class="info-cnt">
            <a class="icon-info-small" href="#" title="Voer het telefoonnummer in zonder spaties en koppeltekens.">&nbsp;</a>
        </td>
        <td>
            <input type="text" tabindex="13" name="phone" value="<?= $this->formValue('phone') ?>" class="required phoneNL" />
        </td>
    </tr>
    <tr>
        <th class="va-top"><?= $this->translate('Uw logo (optioneel)') ?>:</th>
        <td class="info-cnt va-top"></td>
        <td>
<?  if (null !== $this->companyRow): ?>
<?      $src = $this->modules('company')->CompanyLogoFileStock($this->companyRow)->resize(70); ?>
<?      if (!empty($src)): ?>
                    <img class="margin-b" src="<?=$src;?>" />
                    <br/>
<?      endif; ?>
<?  endif; ?>
            <input type="file" tabindex="14" size="12" name="logo" value="" accept="image/jpeg,image/jpg,image/png,image/gif" />
        </td>
    </tr>
    <tr>
        <th><?= $this->translate('Website') ?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="15" name="website" value="<?= $this->formValue('website') ?>" class="url3" />
        </td>
    </tr>
    <tr>
        <th><?= $this->translate('KVK nummer') ?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="16" name="kvk" value="<?= $this->formValue('kvk') ?>" class="digits" />
        </td>
    </tr>
    <tr>
        <th><?= $this->translate('BTW nummer') ?>:</th>
        <td class="info-cnt"></td>
        <td>
            <input type="text" tabindex="17" name="btw" value="<?= $this->formValue('btw') ?>" />
        </td>
    </tr>
    <tr>
        <th class="va-top"><?= $this->translate('Bankrekeningnummer') ?>:</th>
        <td class="info-cnt"></td>
        <td id="bank-accounts">
<?
    $companyBankAccountCount = 0;
    if (null !== $this->companyRow):
        try {
            $companyBankAccountRowset = $this->companyRow->getCompanyBankAccountRowset();
            $companyBankAccountCount = $companyBankAccountRowset->count();
        } catch(Exception $e) {
        }
    endif;

    $bankAccountSubmittedRowset = $this->formValue()->getData('bankAccount');
    $hasBankAccountSubmitted = is_array($bankAccountSubmittedRowset) && count($bankAccountSubmittedRowset) > 0;

    $this->tabindex = 18;

    if ($companyBankAccountCount > 0):
        foreach($companyBankAccountRowset as $bankAccountRow):
            $this->bankAccountRow = $bankAccountRow;

            require __DIR__ . '/../bank-account/create.block.phtml';
        endforeach;
    elseif (!$hasBankAccountSubmitted):
        $this->namespace = 'create0';
        require __DIR__ . '/../bank-account/create.block.phtml';
    endif;
    unset($this->bankAccountRow);

    /**
     * During post submit we should display
     * all bank accounts which user submitted
     */
    if ($hasBankAccountSubmitted) {
        foreach($bankAccountSubmittedRowset as $bankAccountId => $bankAccountSubmittedRow) {
            if (is_numeric($bankAccountId) && (int) $bankAccountId == $bankAccountId) {
                continue;
            }
            $this->formValue()->setData($bankAccountSubmittedRowset);
            $this->namespace = $bankAccountId;
            require __DIR__ . '/../bank-account/create.block.phtml';
        }
    }

    /**
     * @FIXME Stupid condition
     * The bank account reset formValue model
     */
    $this->formValue()->setModel($this->companyRow);
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
        </td>
    </tr>
<?/**?>
    <tr>
        <th colspan="2">&nbsp;</th>
        <td>
            <a class="btn" id="btn-create-bank-account" href="#">
                <span class="icon-add">Nog een rekeningnummer toevoegen</span>
            </a>
        </td>
    </tr>
<?/**/?>
</table>

<br>
<table class="width form-fields zebra" id="actual-address">
    <tr>
        <th>
            <h4><strong><?= $this->translate('Bezoekadres') ?></strong></h4>
            <?= $this->translate('Straatnaam en huisnummer') ?>:
        </th>
        <td class="info-cnt va-bottom">&nbsp;</td>
        <td class="va-bottom">
            <input type="text" tabindex="19" name="actualStreet" class="required"
                   title="<?= $this->translate('Straatnaam en huisnummer is een verplicht veld') ?>"
                   value="<?= $this->formValue('actualStreet') ?>" />
            <input type="text" tabindex="20" size="7" name="actualHouseNumber" class="required"
                   title="<?= $this->translate('Straatnaam en huisnummer is een verplicht veld') ?>"
                   value="<?= $this->formValue('actualHouseNumber') ?>" />
        </td>
    </tr>
    <tr>
        <th><?= $this->translate('Postcode en plaats') ?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="21" size="7" name="actualPostCode" class="required"
                   title="<?= $this->translate('Postcode en plaats is een verplicht veld') ?>"
                   value="<?= $this->formValue('actualPostCode') ?>" />
            <input type="text" tabindex="22" name="actualCity" class="required"
                   title="<?= $this->translate('Postcode en plaats is een verplicht veld') ?>"
                   value="<?= $this->formValue('actualCity') ?>" />
        </td>
    </tr>
</table>

<br>
<table class="width form-fields zebra" id="post-address">
    <tr>
        <th>
            <h4><strong><?= $this->translate('Postadres') ?></strong></h4>
            <br>
            <?= $this->translate('Gelijk aan bezoekadres') ?>:
        </th>
        <td class="info-cnt va-bottom"></td>
        <td class="va-bottom">
            <label>
                <input type="checkbox" id="post-same-as-actual" tabindex="23"  />
                <?= $this->translate('Ja, mijn postadres is gelijk aan bezoekadres') ?>
            </label>
        </td>
    </tr>
    <tr>
        <th><?= $this->translate('Straatnaam en huisnummer') ?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="24" name="postStreet"
                   title="<?= $this->translate('Straatnaam en huisnummer is een verplicht veld') ?>"
                   value="<?= $this->formValue('postStreet') ?>" />
            <input type="text" tabindex="25" size="7" name="postHouseNumber"
                   title="<?= $this->translate('Straatnaam en huisnummer is een verplicht veld') ?>"
                   value="<?= $this->formValue('postHouseNumber') ?>" />
        </td>
    </tr>
    <tr>
        <th><?= $this->translate('Postcode en plaats') ?></th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="26" size="7" name="postPostCode"
                   title="<?= $this->translate('Postcode en plaats is een verplicht veld') ?>"
                   value="<?= $this->formValue('postPostCode') ?>" />
            <input type="text" tabindex="27" name="postCity"
                   title="<?= $this->translate('Postcode en plaats is een verplicht veld') ?>"
                   value="<?= $this->formValue('postCity') ?>" />
        </td>
    </tr>
</table>
