<? if (null !== $this->companyRow): ?>
    <input type="hidden" name="companyId" value="<?= $this->companyRow->getId() ?>"/>
<? endif; ?>
<? if (null !== $this->parentId): ?>
    <input type="hidden" name="parentId" value="<?= $this->parentId ?>"/>
<? endif; ?>
<?  require dirname(__FILE__).'/form.company.phtml' ?>
<br/>
<?  require dirname(__FILE__).'/form.contactperson.phtml' ?>
