<?/**/?>
<section class="breadcrumbs">
    <span>Mijn beheer</span>
</section>
<?/**/?>
<section class="cols-2 right-wide">
    <?//= $this->information()->init(false); ?>
    <div class="clearfix">
        <article class="content">

            <div class="clearfix">
<?  if ($this->accountRow->acl('company','relation')): ?>
                <div class="box-gray news-short-desc float-l">
                    <h4 class="news-title"><?= $this->translate('Relatie beheer') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Relatie beheer uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/client" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar relatie beheer');?></i>
                        </a>
                    </div>
                </div>
<?  endif; ?>
<?  if ($this->accountRow->acl('company','product')): ?>
                <div class="box-gray news-short-desc float-r">
                    <h4 class="news-title"><?= $this->translate("Diensten en producten") ?></h4>
                    <div class="event-desc">
                        <?= $this->translate("Diensten en producten uitleg") ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/offer" class="btn-gray btn-big">
                            <i><?= $this->translate("Ga naar diensten en producten");?></i>
                        </a>
                    </div>
                </div>
<?  endif; ?>
            </div>

<?  if ($this->accountRow->acl('company','user')): ?>
            <div class="clearfix margin-t">
                <div class="box-gray news-short-desc float-l">
                    <h4 class="news-title"><?= $this->translate('Gebruikers') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Gebruikers uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/contact-person" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar gebruikers');?></i>
                        </a>
                    </div>
                </div>
<?      if ($this->accountRow->acl('company','function')): ?>
                <div class="box-gray news-short-desc float-r">
                    <h4 class="news-title"><?= $this->translate('Functie- en rechtenbeheer') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Functie- en rechtenbeheer uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/function" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar functie- en rechtenbeheer');?></i>
                        </a>
                    </div>
                </div>
<?      endif; ?>
            </div>
<?  endif; ?>

<?  if ($this->accountRow->acl('company','location')): ?>
            <div class="clearfix margin-t">
                <div class="box-gray news-short-desc float-l">
                    <h4 class="news-title"><?= $this->translate('Bedrijfslocaties') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Bedrijfslocaties uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/location" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar locaties');?></i>
                        </a>
                    </div>
                </div>
<?      if ($this->accountRow->acl('company','region')): ?>
                <div class="box-gray news-short-desc float-r">
                    <h4 class="news-title"><?= $this->translate("Regio's") ?></h4>
                    <div class="event-desc">
                        <?= $this->translate("Regio's uitleg") ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/region" class="btn-gray btn-big">
                            <i><?= $this->translate("Ga naar regio's");?></i>
                        </a>
                    </div>
                </div>
<?      endif; ?>
            </div>
<?  endif; ?>

<?  if (    $this->accountRow->acl('company','theme')
        ||  $this->accountRow->acl('company','library')): ?>
            <div class="clearfix margin-t">
<?      if ($this->accountRow->acl('company','theme')): ?>
                <div class="box-gray news-short-desc float-l">
                    <h4 class="news-title"><?= $this->translate('Thema beheer') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Thema beheer uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/theme" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar thema beheer');?></i>
                        </a>
                    </div>
                </div>
<?      endif; ?>
<?      if ($this->accountRow->acl('company','library')): ?>
                <div class="box-gray news-short-desc float-r">
                    <h4 class="news-title"><?= $this->translate('Bibliotheek beheer') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Bibliotheek beheer uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/library" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar bibliotheek beheer');?></i>
                        </a>
                    </div>
                </div>
<?      endif;?>
            </div>
<?  endif;?>

        </article>

        <aside class="right">
            <?=$this->pageDescription(array( 'showDesc' => false ));?>
        </aside>
    </div>
</section>




