<?
    echo $this->information()->init(false);

    $this->formValue()->init();
    if (null !== $this->companyRow):
        $this->formValue()->setModel($this->companyRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
?>
<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <a href="/company/client"><span>Relaties</span></a>
    <span><?= $this->formValue('name') ?> <?= $this->formValue('form') ?></span>
</section>
<section class="cols-2 clearfix">
    <form action="/company/index/update" method="post" enctype="multipart/form-data" id="company-info" class="validatable">
        <div class="clearfix">
            <article class="content">
                <h1><?=$this->translate('Gegevens')?> <?=$this->formValue('Fullname'); ?></h1>
                <br/>
                <div class="accordion">
                    <h4 class="accordion-section-title"><a href="#general-info"><?=$this->translate('Basisgegevens');?></a></h4>

                    <div class="accordion-section">
                        <input type="hidden" name="companyId" value="<?=$this->formValue('id'); ?>"/>
                        <table class="width zebra form-fields">
                            <tr>
                                <th>
                                    <h4><strong><?=$this->translate('Bedrijfsgegevens')?></strong></h4>
                                    <br>
                                    <?=$this->translate('Bedrijfsnaam');?>:
                                </th>
                                <td class="info-cnt va-bottom"></td>
                                <td class="va-bottom">
                                    <input type="text" tabindex="10" name="name" value="<?= $this->formValue('name'); ?>" class="required" />
                                    <?=$this->information()->toIcon('name'); ?>
                                </td>
                            </tr>
                            <tr>
                                <th><?=$this->translate('Bedrijfsvorm')?>:</th>
                                <td class="info-cnt"></td>
                                <td><?=$this->companyFormComboBox()->toField('form', $this->formValue('form'), array('tabindex' => '11'))?></td>
                            </tr>
                            <tr>
                                <th><?=$this->translate('Algemeen emailadres')?>:</th>
                                <td class="info-cnt"></td>
                                <td>
                                    <input type="text" tabindex="12" name="email" value="<?= $this->formValue('email'); ?>"
                                           class="email3" />
                                </td>
                            </tr>
                            <tr>
                                <th><?=$this->translate('Telefoon')?>:</th>
                                <td class="info-cnt"></td>
                                <td>
                                    <input type="text" tabindex="13" name="phone" value="<?= $this->formValue('phone'); ?>"
                                           class="required phoneNL" />
                                </td>
                            </tr>
                            <tr>
                                <th class="va-top"><?=$this->translate('Uw logo (optioneel)')?>:</th>
                                <td class="info-cnt va-top"></td>
                                <td>
                                    <?if (null !== $this->companyRow): ?>
                                        <? $src = $this->modules('company')->CompanyLogoFileStock($this->companyRow)->resize(70); ?>
                                        <? if (!empty($src)): ?>
                                            <img class="margin-b <?=$src?>" src="<?=$src;?>" />
                                            <br>
                                        <?endif; ?>
                                    <?endif; ?>
                                    <input type="file" tabindex="14" size="12" name="logo" value="" accept="image/jpeg,image/jpg,image/png,image/gif" />
                                </td>
                            </tr>
                            <tr>
                                <th><?=$this->translate('Website')?>:</th>
                                <td class="info-cnt"></td>
                                <td>
                                    <input type="text" tabindex="15" name="website" value="<?= $this->formValue('website'); ?>"
                                           class="url3" />
                                </td>
                            </tr>
                            <tr>
                                <th><?=$this->translate('KVK nummer')?>:</th>
                                <td class="info-cnt"></td>
                                <td>
                                    <input type="text" tabindex="16" name="kvk" value="<?= $this->formValue('kvk'); ?>" />
                                    <?=$this->information()->toIcon('kvk'); ?>
                                </td>
                            </tr>
                            <tr>
                                <th><?=$this->translate('BTW nummer')?>:</th>
                                <td class="info-cnt"></td>
                                <td>
                                    <input type="text" tabindex="17" name="btw" value="<?= $this->formValue('btw'); ?>" />
                                    <?=$this->information()->toIcon('btw'); ?>
                                </td>
                            </tr>
                            <tr>
                                <th class="va-top"><?=$this->translate('Bankrekeningnummer')?>:</th>
                                <td class="info-cnt va-top"></td>
                                <td id="bank-accounts">
                                    <?
                                    $companyBankAccountCount = 0;
                                    if (null !== $this->companyRow):
                                        $companyBankAccountRowset = $this->companyRow->getCompanyBankAccountRowset();
                                        $companyBankAccountCount = $companyBankAccountRowset->count();
                                    endif;
                                    $bankAccountSubmittedRowset = $this->formValue()->getData('bankAccount');
                                    $hasBankAccountSubmitted = is_array($bankAccountSubmittedRowset) && count($bankAccountSubmittedRowset) > 0;

                                    $this->tabindex = 18;

                                    if ($companyBankAccountCount > 0):
                                        foreach($companyBankAccountRowset as $bankAccountRow):
                                            $this->bankAccountRow = $bankAccountRow;
                                            require __DIR__ . '/../bank-account/create.block.phtml';
                                        endforeach;
                                    elseif (!$hasBankAccountSubmitted):
                                        $this->namespace = 'create0';
                                        require __DIR__ . '/../bank-account/create.block.phtml';
                                    endif;
                                    unset($this->bankAccountRow);

                                    /**
                                     * During post submit we should display
                                     * all bank accounts which user submitted
                                     */
                                    if ($hasBankAccountSubmitted) {
                                        foreach($bankAccountSubmittedRowset as $bankAccountId => $bankAccountSubmittedRow) {
                                            if (is_numeric($bankAccountId) && (int) $bankAccountId == $bankAccountId) {
                                                continue;
                                            }

                                            $this->formValue()->setData($bankAccountSubmittedRow);
                                            $this->namespace = $bankAccountId;
                                            require __DIR__ . '/../bank-account/create.block.phtml';
                                        }
                                    }

                                    /**
                                     * @FIXME Stupid condition
                                     * The bank account reset formValue model
                                     */
                                    $this->formValue()->setModel($this->companyRow);
                                    $this->formValue()->setData($this->formSubmittedPostData ?: array());
                                    ?>
                                </td>
                            </tr>
                            <?/*
                            <tr>
                                <th colspan="2">&nbsp;</th>
                                <td>
                                    <a class="btn" id="btn-create-bank-account" href="#">
                                        <span class="icon-add">Nog een rekeningnummer toevoegen</span>
                                    </a>
                                </td>
                            </tr>
                            */?>
                        </table>

                        <br>
                        <table class="width form-fields zebra" id="actual-address">
                            <tr>
                                <th>
                                    <h4><strong><?=$this->translate('Bezoekadres')?></strong></h4>
                                    <?=$this->translate('Straatnaam en huisnummer')?>:
                                </th>
                                <td class="info-cnt"></td>
                                <td class="va-bottom">
                                    <input type="text" tabindex="19" name="actualStreet"
                                           title="<?=$this->translate('Straatnaam en huisnummer is een verplicht veld')?>"
                                           class="required" value="<?= $this->formValue('actualStreet'); ?>" />
                                    <input type="text" tabindex="20" size="7" name="actualHouseNumber"
                                           title="<?=$this->translate('Straatnaam en huisnummer is een verplicht veld')?>"
                                           class="required" value="<?= $this->formValue('actualHouseNumber'); ?>" />
                                </td>
                            </tr>
                            <tr>
                                <th><?=$this->translate('Postcode en plaats')?>:</th>
                                <td class="info-cnt"></td>
                                <td>
                                    <input type="text" tabindex="21" size="7" name="actualPostCode"
                                           title="<?=$this->translate('Postcode en plaats is een verplicht veld')?>"
                                           class="required" value="<?= $this->formValue('actualPostCode'); ?>" />
                                    <input type="text" tabindex="22" name="actualCity"
                                           title="<?=$this->translate('Postcode en plaats is een verplicht veld')?>"
                                           class="required" value="<?= $this->formValue('actualCity'); ?>" />
                                </td>
                            </tr>
                        </table>

                        <br>
                        <table class="width form-fields zebra" id="post-address">
                            <tr>
                                <th>
                                    <h4><strong><?=$this->translate('Postadres')?></strong></h4>
                                    <?=$this->translate('Gelijk aan bezoekadres')?>:
                                </th>
                                <td class="info-cnt va-bottom"></td>
                                <td class="va-bottom">
                                    <label>
                                        <input type="checkbox" id="post-same-as-actual" tabindex="23" />
                                        <?=$this->translate('Ja, mijn postadres is gelijk aan bezoekadres')?>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>Straatnaam en huisnummer:</th>
                                <td class="info-cnt"></td>
                                <td>
                                    <input type="text" tabindex="24" name="postStreet"
                                           value="<?= $this->formValue('postStreet'); ?>" />
                                    <input type="text" size="7" tabindex="25" name="postHouseNumber"
                                           value="<?= $this->formValue('postHouseNumber'); ?>" />
                                </td>
                            </tr>
                            <tr>
                                <th><?=$this->translate('Postcode en plaats')?></th>
                                <td class="info-cnt"></td>
                                <td>
                                    <input type="text" tabindex="26" size="7" name="postPostCode"
                                           value="<?= $this->formValue('postPostCode'); ?>" />
                                    <input type="text" tabindex="27" name="postCity"
                                           value="<?= $this->formValue('postCity'); ?>" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <h4 class="accordion-section-title"><a href="#contact-persons"><?=$this->translate('Contactpersonen');?></a></h4>
                    <div class="accordion-section">
                        <?=$this->block('contact-person-list', array(), 'company', true)->getBlockObj(); ?>
                    </div>
                </div>
                <br>
                <hr>
                <p class="text-c">
                    <a href="/company/client" tabindex="29" class="btn-big btn-gray margin-r">
                        <span class="icon-back"><?=$this->translate('Overzicht relaties');?></span>
                    </a>
                    <button type="submit" id="submit-company-info" tabindex="28" class="btn-big">
                        <span class="icon-save"><?=$this->translate('Opslaan');?></span>
                    </button>
                </p>
            </article>

            <aside class="right">
                <?=$this->pageDescription(array('showDesc' => false));?>
                <hr/>
            </aside>
        </div>
    </form>
</section>

<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>

<script src="/modules-appalti/company/views/scripts/default/index/_resources/js/Form.js"></script>

<script type="text/javascript" language="javascript">
    $(function() {
        new Modules.Company(<?if(null !== $this->companyRow): echo $this->companyRow->getId(); endif; ?>);

        $('#submit-company-info').click(function() {
            $('#company-info')
            .append($('<input/>', {
                type: 'hidden',
                name: 'returnURL',
                value: '/company/index/update/companyId/' + $('input[name="companyId"]').val()
            }))
            .submit();

            return false;
        });
    });
</script>