<?
    echo $this->information()->init();

    $this->formValue()->init();
    if (null !== $this->companyRow):
        $this->formValue()->setModel($this->companyRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
?>

<form action="/company/index/update-info-only" method="post" enctype="multipart/form-data" id="company-info" class="validatable">
    <? require_once '_info-fields.phtml'; ?>
</form>

<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src="/modules-appalti/company/views/scripts/default/index/_resources/js/Form.js"></script>
<script type="text/javascript" language="javascript">
    $(function() {
        new Modules.Company(<?if(null !== $this->companyRow): echo $this->companyRow->getId(); endif; ?>);
    });
</script>