@font-face {
    font-family: arial-black;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-black.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-black.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial-black.ttf") format("truetype")
}



@font-face {
    font-family: arial-narrow;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow.eot");
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow.ttf") format("truetype")
}

@font-face {
    font-family: arial-narrow;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold.eot");
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold.ttf") format("truetype")
}

@font-face {
    font-family: arial-narrow;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-italic.eot");
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-italic.ttf") format("truetype")
}

@font-face {
    font-family: arial-narrow;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold-italic.eot");
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold-italic.ttf") format("truetype")
}
@font-face {
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial.ttf") format("truetype")
}

@font-face {
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold.ttf") format("truetype")
}

@font-face {
    font-family: arial;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial-italic.ttf") format("truetype")
}

@font-face {
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold-italic.ttf") format("truetype")
}
@font-face {
    font-family: calibri;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/calibri.ttf") format("truetype")
}

@font-face {
    font-family: calibri;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold.ttf") format("truetype")
}

@font-face {
    font-family: calibri;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/calibri-italic.ttf") format("truetype")
}

@font-face {
    font-family: calibri;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold-italic.ttf") format("truetype")
}
@font-face {
    font-family: courier-new;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/courier-new.ttf") format("truetype")
}

@font-face {
    font-family: courier-new;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold.ttf") format("truetype")
}

@font-face {
    font-family: courier-new;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-italic.ttf") format("truetype")
}

@font-face {
    font-family: courier-new;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold-italic.ttf") format("truetype")
}
@font-face {
    font-family: georgia;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/georgia.ttf") format("truetype")
}

@font-face {
    font-family: georgia;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold.ttf") format("truetype")
}

@font-face {
    font-family: georgia;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/georgia-italic.ttf") format("truetype")
}

@font-face {
    font-family: georgia;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold-italic.ttf") format("truetype")
}
@font-face {
    font-family: times-new-roman;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman.ttf") format("truetype")
}

@font-face {
    font-family: times-new-roman;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold.ttf") format("truetype")
}

@font-face {
    font-family: times-new-roman;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-italic.ttf") format("truetype")
}

@font-face {
    font-family: times-new-roman;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold-italic.ttf") format("truetype")
}
@font-face {
    font-family: trebuchet-ms;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms.ttf") format("truetype")
}

@font-face {
    font-family: trebuchet-ms;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold.ttf") format("truetype")
}

@font-face {
    font-family: trebuchet-ms;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-italic.ttf") format("truetype")
}

@font-face {
    font-family: trebuchet-ms;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold-italic.ttf") format("truetype")
}
@font-face {
    font-family: verdana;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/verdana.ttf") format("truetype")
}

@font-face {
    font-family: verdana;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold.ttf") format("truetype")
}

@font-face {
    font-family: verdana;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/verdana-italic.ttf") format("truetype")
}

@font-face {
    font-family: verdana;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold-italic.ttf") format("truetype")
}
