@font-face {
    font-family: arial-narrow;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow.eot");
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow.ttf") format("truetype")
}

@font-face {
    font-family: arial-narrow;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold.eot");
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold.ttf") format("truetype")
}

@font-face {
    font-family: arial-narrow;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-italic.eot");
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-italic.ttf") format("truetype")
}

@font-face {
    font-family: arial-narrow;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold-italic.eot");
    src: url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.local/data/public-templates/common/fonts/arial-narrow-bold-italic.ttf") format("truetype")
}
