@font-face {
    font-family: arial-black;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-black.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-black.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial-black.ttf") format("truetype")
}



