@font-face {
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial.ttf") format("truetype")
}

@font-face {
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold.ttf") format("truetype")
}

@font-face {
    font-family: arial;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial-italic.ttf") format("truetype")
}

@font-face {
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/arial-bold-italic.ttf") format("truetype")
}
