@font-face {
    font-family: calibri;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/calibri.ttf") format("truetype")
}

@font-face {
    font-family: calibri;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold.ttf") format("truetype")
}

@font-face {
    font-family: calibri;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/calibri-italic.ttf") format("truetype")
}

@font-face {
    font-family: calibri;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/calibri-bold-italic.ttf") format("truetype")
}
