@font-face {
    font-family: courier-new;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/courier-new.ttf") format("truetype")
}

@font-face {
    font-family: courier-new;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold.ttf") format("truetype")
}

@font-face {
    font-family: courier-new;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-italic.ttf") format("truetype")
}

@font-face {
    font-family: courier-new;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/courier-new-bold-italic.ttf") format("truetype")
}
