@font-face {
    font-family: georgia;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/georgia.ttf") format("truetype")
}

@font-face {
    font-family: georgia;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold.ttf") format("truetype")
}

@font-face {
    font-family: georgia;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/georgia-italic.ttf") format("truetype")
}

@font-face {
    font-family: georgia;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/georgia-bold-italic.ttf") format("truetype")
}
