@font-face {
    font-family: times-new-roman;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman.ttf") format("truetype")
}

@font-face {
    font-family: times-new-roman;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold.ttf") format("truetype")
}

@font-face {
    font-family: times-new-roman;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-italic.ttf") format("truetype")
}

@font-face {
    font-family: times-new-roman;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/times-new-roman-bold-italic.ttf") format("truetype")
}
