@font-face {
    font-family: trebuchet-ms;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms.ttf") format("truetype")
}

@font-face {
    font-family: trebuchet-ms;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold.ttf") format("truetype")
}

@font-face {
    font-family: trebuchet-ms;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-italic.ttf") format("truetype")
}

@font-face {
    font-family: trebuchet-ms;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/trebuchet-ms-bold-italic.ttf") format("truetype")
}
