@font-face {
    font-family: verdana;
    font-style: normal;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/verdana.ttf") format("truetype")
}

@font-face {
    font-family: verdana;
    font-style: normal;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold.ttf") format("truetype")
}

@font-face {
    font-family: verdana;
    font-style: italic;
    font-weight: normal;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/verdana-italic.ttf") format("truetype")
}

@font-face {
    font-family: verdana;
    font-style: italic;
    font-weight: bold;
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold-italic.eot");
    src: url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold-italic.eot?#iefix") format("embedded-opentype"),
         url("http://offertemaken.com/data/public-templates/common/fonts/verdana-bold-italic.ttf") format("truetype")
}
