<? if (empty($this->listOnly)): ?>
<? $containerId = uniqid('blockContent_'); ?>

<div id="<?=$containerId;?>">
<? endif;?>
    <h2 class="margin-l">Expirerende offertes voor:</h2>

    <div class="clearfix margin-b">
        <form action="/block/proposal/almost-expired-list/" method="post" id="creationFilterForm">
            <div class="float-l">
                    <table class="report-period">
                        <tr>
                            <td class="text-gray text-r va-middle padding-r">Periode: van - t/m</td>
                            <td>
                                <? $id = uniqid(); ?>
                                <? $rangeToId = uniqid(); ?>
                                <? $rangeFromId = uniqid(); ?>
                                <input type="hidden"
                                       id="<?=$id;?>"
                                       name="startDate"
                                       value="" />
                                <input type="text"
                                       class="datepicker dateRange icon-datepicker"
                                       id="<?=$rangeFromId; ?>"
                                       value="<?=(!empty($this->submittedData['startDate'])) ? $this->formatDate($this->submittedData['startDate']) : '';?>"
                                       size="19"
                                       data-range-to="#<?=$rangeToId;?>"
                                       data-alt-field="#<?=$id;?>"
                                       data-change-year="true"
                                       data-show-button-panel="true"
                                       data-change-month="true" />
                                &nbsp;-&nbsp;
                                <? $id = uniqid(); ?>
                                <input type="hidden"
                                       id="<?=$id;?>"
                                       name="endDate"
                                       value="" />
                                <input type="text"
                                       class="datepicker dateRange icon-datepicker"
                                       id="<?=$rangeToId;?>"
                                       value="<?=(!empty($this->submittedData['endDate'])) ? $this->formatDate($this->submittedData['endDate']) : '';?>"
                                       size="19"
                                       data-alt-field="#<?=$id;?>"
                                       data-range-from="#<?=$rangeFromId;?>"
                                       data-change-year="true"
                                       data-show-button-panel="true"
                                       data-change-month="true" />
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                <input type="submit" value="Breng filteren"/>
                            </td>
                        </tr>
                    </table>
            </div>
            <div class="float-r">
                <select name="expiredPeriod" id="expiredPeriod" class="no-margin" style="width: 100px;">
                    <?php $options = array(
                        5 => '5 dagen',
                        10 => '10 dagen',
                        15 => '15 dagen',
                        20 => '20 dagen'
                    ); ?>
                    <? foreach ($options as $k => $v): ?>
                        <option value="<?=$k?>" <?if(!empty($this->submittedData['expiredPeriod']) && intval($this->submittedData['expiredPeriod']) === $k):?>selected="selected"<?endif;?>><?=$v;?></option>
                    <? endforeach; ?>
                </select>
            </div>
        </form>
    </div>


    <div class="box list-container">
        <table class="width zebra">
            <thead>
                <tr>
                    <th>Offertenummer</th>
                    <th>Klant</th>
                    <th>Contactpersoon</th>
                    <th>Email</th>
                    <th>Telefoon</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->rowset as $key => $_p): ?>
                    <tr>
                        <td><?=$_p['luid']; ?></td>
                        <td>
                            <a href="/company/client/summary/companyId/<?=$_p['clientId']; ?>"><?=$_p['clientName']; ?></a>
                        </td>
                        <td><?=$_p['contactPersonName']; ?></td>
                        <td>
                            <a href="mailto:<?=$_p['contactPersonEmail']; ?>"><?=$_p['contactPersonEmail']; ?></a>
                        </td>
                        <td><?=$_p['contactPersonPhone']; ?></td>
                        <td class='actions text-l'>
                            <a href="/proposal/index/view/proposalId/<?=$_p['id'];?>/" title="Detailinformatie" class="view-ticket">
                                <span class="icon-zoom">&nbsp;</span>
                            </a>
                        </td>
                    </tr>
                <?php endforeach;?>
            </tbody>
        </table>
    </div>

    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
<? if (empty($this->listOnly)): ?>
</div>

<script type="text/javascript">
    AppaltiLayout.blocks.AlmostExpiredListBlock = new AppaltiLayoutBlock({
        module: 'proposal',
        block: 'almost-expired-list',
        updateElId: '<?=$containerId;?>',
        onInit: function() {
            var me = this;
            this.$el.on('submit', '#creationFilterForm', function() {
                $.extend(me.listUpdateParams, {
                    startDate : $('input[name="startDate"]', this).val(),
                    endDate : $('input[name="endDate"]', this).val(),
                    expiredPeriod : $('select[name="expiredPeriod"]', this).val(),
                    _bid: '<?=$this->blockId; ?>',
                    page: 1
                });
                me.reloadList();
                return false;
            })
            .on('change', '#expiredPeriod', function() {
                $('#creationFilterForm').submit();
            });
        },
        onReloadList: function() {
            AppaltiLayout.initTableSorter(this.$el);
            AppaltiLayout.initTooltip(this.$el);
            AppaltiLayout.initDatePicker(this.$el);
        }
    });
</script>
<? endif; ?>
