<? if (empty($this->listOnly)): ?>
<? $containerId = uniqid('blockContent_'); ?>

<div id="<?=$containerId;?>">
<? endif;?>
    <div class="clearfix">
        <h2 class="float-l">Hitrate onder: <?=(!empty($this->submittedData['hitrate']))?$this->submittedData['hitrate'] . '%':''; ?></h2>

        <div class="clearfix margin-b float-r">
            <form action="/block/proposal/hitrate-under-list/" method="post" id="hitrateFilterForm">
                <div class="float-r">
                    Hitrate onder:
                    <select name="hitrate" id="hitrate" class="no-margin">
                        <?php $options = array(
                        20 => '20%',
                        30 => '30%',
                        40 => '40%',
                        50 => '50%'
                    ); ?>
                        <? foreach ($options as $k => $v): ?>
                        <option value="<?=$k?>" <?if(!empty($this->submittedData['hitrate']) && intval($this->submittedData['hitrate']) === $k):?>selected="selected"<?endif;?>><?=$v;?></option>
                        <? endforeach; ?>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="box list-container">
        <table class="width zebra">
            <thead>
                <tr>
                    <th>Hitrate (%)</th>
                    <th>Klant</th>
                    <th>Contactpersoon</th>
                    <th>Email</th>
                    <th>Telefoon</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->rowset as $key => $_p): ?>
                    <tr>
                        <td><?=($_p['hitrate'] > 0) ? number_format($_p['hitrate'], 2, ',', '.') : 0;?></td>
                        <td>
                            <a href="/company/client/summary/companyId/<?=$_p['companyId']; ?>"><?=$_p['companyName']; ?></a>
                        </td>
                        <td><?=$_p['contactPersonName']; ?></td>
                        <td>
                            <a href="mailto:<?=$_p['contactPersonEmail']; ?>"><?=$_p['contactPersonEmail']; ?></a>
                        </td>
                        <td><?=$_p['contactPersonPhone']; ?></td>
                        <td class='actions text-l'>
                            <a href="/company/client/summary/companyId/<?=$_p['companyId']; ?>" title="Detailinformatie" class="view-ticket">
                                <span class="icon-zoom">&nbsp;</span>
                            </a>
                        </td>
                    </tr>
                <?php endforeach;?>
            </tbody>
        </table>
    </div>

    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
<? if (empty($this->listOnly)): ?>
</div>

<script type="text/javascript">
    AppaltiLayout.blocks.AlmostExpiredListBlock = new AppaltiLayoutBlock({
        module: 'proposal',
        block: 'hitrate-under-list',
        updateElId: '<?=$containerId;?>',
        onInit: function() {
            var me = this;
            this.$el.on('submit', '#hitrateFilterForm', function() {
                $.extend(me.listUpdateParams, {
                    hitrate : $('select[name="hitrate"]', this).val(),
                    _bid: '<?=$this->blockId; ?>',
                    page: 1
                });

                me.reloadList();
                return false;
            })
            .on('change', '#hitrate', function() {
                $('#hitrateFilterForm').submit();
            });
        },
        onReloadList: function() {
            AppaltiLayout.initTableSorter(this.$el);
            AppaltiLayout.initTooltip(this.$el);
            AppaltiLayout.initDatePicker(this.$el);
        }
    });
</script>
<? endif; ?>
