<? if (empty($this->listOnly)): ?>
<?= $this->information()->init() ?>
<? $id = uniqid('blockContent_'); ?>
<div id="<?=$id;?>">
<? endif; ?>
    <div class="list-form clearfix">
        <div class="float-l searchForm">
            <?= $this->formFilterSearch('name,client, chanceOfSuccess, amount, contactMomentDate', 'searchfree', array(
                    'placeholder' => 'Zoeken in offertes',
                    'id' => $this->blockId
            )) ?>
        </div>
        <div class="float-r">
            <form action="/block/proposal/proposal-list/" method="post" id="statusFilterForm">
                <select name="statusFilter" class="no-margin">
                    <option value="" <? if(empty($this->statusFilter)):?>selected="selected"<?endif;?>>Status</option>
<?  foreach (Proposal_Model_Proposal::getStatusOptions() as $k => $v): ?>
                    <option value="<?=$k?>" <?if(!empty($this->statusFilter) && $this->statusFilter === $k):?>selected="selected"<?endif;?>><?=$v;?></option>
<?  endforeach; ?>
                </select>
                <input type="submit" value="Filter"/>
            </form>
        </div>
    </div>

    <table class="zebra width tablesorter">
        <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="10%">
            <col width="15%">
            <col width="13%">
            <col width="10%">
            <col width="12%">
        </colgroup>
        <thead>
        <tr class="va-bottom">
            <th><span>Naam</span></th>
            <th><span>Relatie</span></th>
            <th class="text-r"><span>Scoringskans</span></th>
            <th class="text-r"><span>Omzet</span></th>
            <th class="text-r"><span>Contact</span></th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
<?  if (!empty($this->proposals)): ?>
<?
    $classes_status = array(
        'in-progress'   => 'icon-arrow-right',
        'won'           => 'icon-checked',
        'lost'          => 'icon-delete-cross',
        'expired'       => 'icon-faq-urgent',
        'withdrawn'     => 'icon-arrow-left',
    );
    $classes_status = array(
        'in-progress'   => 'icon-checked',
        'won'           => 'icon-checked',
        'lost'          => 'icon-checked',
        'withdrawn'     => 'icon-checked',
        'expired'       => 'icon-checked',
    );
?>
<?      foreach($this->proposals as $proposalRow): ?>
                    <tr class="va-middle <?=!empty($this->proposalId) && $proposalRow->getId() == $this->proposalId ? 'highlight' : ''; ?>">
                        <td>
                            <a href="/proposal/index/view/proposalId/<?=$proposalRow->getId();?><?=Zend_Auth::getInstance()->getIdentity()->isAdmin() ? '/companyId/' . $proposalRow->companyId : ''; ?>"
                               title="Detailinformatie offerte" class="text-dark-gray">
                                <?= $proposalRow->getName() ?>
                            </a>
                        </td>
                        <td>
<?          if (($clientRow = $proposalRow->getClientCompanyRow()) != false): ?>
                            <a href="/company/client/summary/companyId/<?=$clientRow->getId();?>" title="Detailinformatie relatie">
                                <?=$clientRow->getName();?>
                            </a>
<?          else: ?>
                            <span>&lt; niet ingevuld &gt;</span>
<?          endif; ?>
                        </td>
                        <td class="text-r"><?= ($proposalRow->chanceOfSuccess)? $proposalRow->chanceOfSuccess.' %':'n.v.t.'; ?></td>
                        <td class="text-r"><?= ($proposalRow->amount)? '&euro;&nbsp;'.number_format($proposalRow->amount, 2, ',', '.'):'n.v.t.'; ?></td>
                        <td class="text-r"><?=$proposalRow->getContactMomentDate(); ?></td>
                        <td>
<?          $status = $proposalRow->getStatus(); ?>
                            <span class="progress-bar tip" <? if (!empty($status['title'])):?>title="<?=$status['title'];?>"<?endif;?>>
                                <i class="<?=$status['val'];?>" <? if(!empty($status['progress'])): ?>style="width: <?=$status['progress'];?>%"<? endif;?>>&nbsp;</i>
                            </span>
<?          if ('in-progress' == $status['val']): ?>
                            <br />
<?          endif;?>
                            <span class="status-field <?=$status['val'];?>"></span>
                        </td>

                        <td class="actions">
<?              if(     $proposalRow->clientCompanyId
                    &&  (!$proposalRow->includePrice || $proposalRow->countOffers)): ?>
                            <a href="/proposal/index/download-pdf/proposalId/<?=$proposalRow->getId();?>/return/<?= ($this->return)? $this->return:base64_encode('/proposal/index/') ?>" title="Genereer PDF">
                                <span class="icon-pdf">&nbsp;</span>
                            </a>
<?              else: ?>
                            <a class="icon-info-small" xstyle="width:19px;" title="U kunt de offerte nog niet downloaden, want de offerte is nog niet compleet.">
                                <span class="">&nbsp;</span>
                            </a>
<?              endif; ?>

<?          if ($proposalRow->isEditable()
                || $this->accountRow->acl('proposal','update')):
?>
<?              if($proposalRow->clientCompanyId): ?>
                                <a href="/proposal/index/change-status/proposalId/<?=$proposalRow->getId();?>" class="changeProposalStatus"
                                   title="Status wijzigen">
<?  $class = $classes_status[ $status['val'] ]; ?>
                                    <span class="<?= $class ?>">&nbsp;</span>
                                </a>
<?              else: ?>
                            <a class="icon-info-small" xstyle="width:19px;" title="U kunt de status nog niet veranderen, want de offerte is nog niet compleet.">
                                <span class="">&nbsp;</span>
                            </a>
<?              endif; ?>
<?//              if ($status['val'] == 'in-progress'):?>
                                <a class="" href="/proposal/create/index/proposalId/<?=$proposalRow->getId();?><?=Zend_Auth::getInstance()->getIdentity()->isAdmin() ? '/companyId/' . $proposalRow->companyId : ''; ?>"
                                   title="Bewerken offerte">
                                    <span class="icon-edit">&nbsp;</span>
                                </a>
<?//              else: ?>
<?/**?>
                            <a class="icon-info-small" xstyle="width:19px;" title="U&nbsp;kunt&nbsp;deze&nbsp;offerte&nbsp;niet&nbsp;meer&nbsp;aanpassen, omdat de status is veranderd.">
                                <span class="">&nbsp;</span>
                            </a>
<?/**/?>
<?//              endif;?>
                                <a href="/proposal/index/delete/proposalId/<?=$proposalRow->getId();?>" title="Verwijder offerte"
                                   onclick="return confirm('Weet u zeker dat u uw offerte wilt verwijderen?');">
                                    <span class="icon-delete">&nbsp;</span>
                                </a>
<?          endif; ?>
                        </td>
                    </tr>
<?      endforeach; ?>
<?  else: ?>
                <tr>
                    <td colspan="7" class="text-c">
                        <em class="text-gray">Geen</em>
                    </td>
                </tr>
<?  endif; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?= $this->pagination() ?>
    </div>
<?  if (empty($this->listOnly)): ?>
</div>

    <script src="/public/js/jquery-plugins/tablesorter/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>

    <script type="text/javascript">
/**/
        AppaltiLayout.blocks.ProposalListBlock = new AppaltiLayoutBlock({
            module: 'proposal',
            block: 'proposal-list',
            updateElId: '<?= $id ?>',
            listUpdateParams: {
                companyId: <?= $this->company->getId() ?>,
                _bid: '<?= $this->blockId ?>'
            },
            onInit: function() {
                var me = this;
                me.$el
                .on('submit', '#statusFilterForm', function() {
                    $.extend(me.listUpdateParams, {
                        statusFilter : $('select', this).val(),
                        page: 1
                    });
                    me.reloadList();
                    return false;
                })
                .on('click', '.changeProposalStatus', function() {
                    $.ajax({
                        url: this.href,
                        success: function(html) {
                            var wnd = $(html).appendTo('body'),
                                form = wnd.find('form');

                            form.submit(function() {
                                if (form.observable().isDirty()) {
                                    $.ajax({
                                        url: this.action,
                                        data: form.serialize(),
                                        dataType: 'json',
                                        type: 'post',
                                        mask: true,
                                        maskTarget: form,
                                        success: function(response) {
                                            if (response.success) {
                                                me.reloadList();
                                                wnd.off('hide').modal('hide');
                                            } else {
                                                alert(response.messages.message[0]);
                                            }
                                        }
                                    });
                                } else {
                                    wnd.modal('hide')
                                }

                                return false;
                            });

                            wnd.off('hide hidden')
                            .on('hide', function() {
                                return !form.observable().isDirty() || confirm('Annuleren veranderingen?');
                            })
                            .on('hidden', function() {
                                form.remove();
                            })
                            .modal('show');
                        }
                    });

                    return false;
                });
            },
            onReloadList: function() {
                AppaltiLayout.initTableSorter(this.$el);
                AppaltiLayout.initTooltip(this.$el);
            }
        })
/**/
    </script>
<?  endif; ?>
