<div class="list-container margin-b">
    <div class="list-title"><?= $this->translate('Laatste offertes') ?></div>
    <table class="width zebra tablesorter">
        <colgroup>
            <col width="25%"/>
            <col width="45%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="5%"/>
        </colgroup>
        <thead>
        <tr>
            <th><span><?= $this->translate('Offertenaam.') ?></span></th>
            <th><span><?= $this->translate('Relatie') ?></span></th>
            <th><span><?= $this->translate('Ingevoerd') ?></span></th>
            <th><span><?= $this->translate('Verloopdatum') ?></span></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
            <? if (!empty($this->proposals)): ?>
                <? foreach ($this->proposals as $p): ?>
                    <? $status = $p->getStatus(); ?>
                    <tr>
                        <td>
                            <a href="/proposal/index/view/proposalId/<?=$p->getId();?>"
                               title="<?=$this->translate('Detailinformatie offerte');?>" class="text-dark-gray">
                                <?=$p->getName(); ?>
                            </a>
                        </td>
                        <td>
<?  if (($client = $p->getClientCompanyRow()) != false): ?>
                            <a href="/company/client/summary/companyId/<?=$client->getId();?>"
                               title="<?=$this->translate('Detailinformatie relatie');?>">
                                <?=$client->getName();?>
                            </a>
<?  else: ?>
                            <span>&lt; niet ingevuld &gt;</span>
<?  endif;?>
                        </td>
                        <td><?=$status['created'];?></td>
                        <td><?=$status['expires'];?></td>
                        <td class='actions'>
                            <a href="/proposal/index/view/proposalId/<?=$p->getId();?>" class="icon-zoom"
                               title="<?=$this->translate('Samenvatting van het offerte');?>">&nbsp;</a>
                        </td>
                    </tr>
                <? endforeach; ?>

                <? if (count($this->proposals) < $this->limit): ?>
                    <? $diff = $this->limit - count($this->proposals); ?>
                    <? for ($i = 0; $i < $diff; $i++): ?>
                        <tr><td colspan="5">&nbsp;</td></tr>
                    <? endfor; ?>
                <? endif; ?>
            <? else :?>
                <? for ($i = 0; $i < $this->limit; $i++): ?>
                    <tr><td colspan="5">&nbsp;</td></tr>
                <? endfor; ?>
            <? endif; ?>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-c">
                <a href="/proposal/index/index/" class="btn-big btn-gray text-c margin-tb">
                    <?=$this->translate('Bekijk alle offertes');?>
                </a>
            </td>
        </tr>
        </tfoot>
    </table>
    <script src="/public/js/jquery-plugins/tablesorter/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>
</div>