<ol class="numbered">
    <?php foreach ($this->rowset as $key => $_p): ?>
        <li class="margin-b">
            <a href="/company/client/summary/companyId/<?=$_p['companyId']; ?>" title="Detailinformatie">
                <b><?=$_p['companyName']; ?></b>
            </a>
            (<?=($_p['hitrate'] > 0) ? number_format($_p['hitrate'], 2, ',', '.') : 0;?>%)
        </li>
    <?php endforeach;?>
</ol>
