@page introduction {
  margin: 300px 25mm 100px;
  size: A4;
}

.mce-fullscreen {
  padding: 300px 25mm 100px !important;
  width: 180mm !important;
}

#introduction {
  page: introduction;
  overflow: hidden;
}

.center-img img {
  display: block;
  margin: 0 auto;
}

#introduction img { max-width: 180mm !important; }
