<tr>
    <th><h4><?=$this->translate('Aanvraag gedaan door');?></h4></th>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><?=$this->translate('Bedrijf');?>:</th>
    <td><?=$this->ticket['companyName'];?></td>
</tr>
<tr>
    <th><?=$this->translate('Contactpersoon');?>:</th>
    <td><?=$this->ticket['cpFirstname'];?>  <?=$this->ticket['cpLastname'];?></td>
</tr>
<tr>
    <th><?=$this->translate('E-mailadres');?>:</th>
    <td><?=$this->ticket['cpEmail'];?></td>
</tr>
<tr>
    <th>
        <br />
        <br />
        <h4><?=$this->translate('Informatie aanvraag');?></h4>
    </th>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><?=$this->translate('Soort aanvraag');?>:</th>
    <td><?=$this->ticket['serviceName'];?></td>
</tr>
<tr>
    <th><?=$this->translate('Deadline opdracht');?>:</th>
    <td><?=$this->ticket['priority'];?></td>
</tr>
<tr>
    <th><?=$this->translate('Aantal pagina\'s');?>:</th>
    <td><?=$this->ticket['numberOfPages'];?></td>
</tr>
<tr>
    <th><?=$this->translate('Doel van de tekst');?>:</th>
    <td><?=$this->ticket['aimOfText'];?></td>
</tr>
<tr>
    <th><?=$this->translate('Aantal mensen die tekst gaan lezen');?>:</th>
    <td><?=$this->ticket['amountOfPeople'];?></td>
</tr>
<tr>
    <th><?=$this->translate('Functie van mensen die gaan lezen');?>:</th>
    <td><?=$this->ticket['writerFunc'];?></td>
</tr>
<tr>
    <th><?=$this->translate('Klantmotief');?> 1:</th>
    <td><?=$this->ticket['primaryMotif'];?></td>
</tr>
<tr>
    <th><?=$this->translate('Klantmotief');?> 2:</th>
    <td><?=$this->ticket['secondaryMotif'];?></td>
</tr>
