<?
    echo $this->information()->init(false);
    $this->formValue()->init();
    $this->formValue()->omitNullableModel(true);
    $this->formValue()->setData($this->formSubmittedPostData ? : array());
?>
<div class="clearfix">
    <article class="float-l">
        <table class="form-fields th-right">
            <? require_once '_ticket-details-fields.phtml';?>
            <tr>
                <th>&nbsp;</th>
                <td>
                    <br />
                    <a href="/account/authenticate/logout" class="btn-big btn-green">
                        <?=$this->translate('Login als klant en bekijk de tekst');?>
                    </a>
                </td>
            </tr>
        </table>
        <br />
    </article>
    <article class="float-r">
        <div class="box-gray">
            <h3><strong><?=$this->translate('Stuur deze aanvraag door');?>:</strong></h3>

            <p class="text-dark-gray">
                <?=$this->translate('Stuur deze aanvraag direct naar een van uw <br> tekstschrijvers');?>:
            </p>

            <form action="/support-ticket/moderator/assign-writer/format/json" method="post" id="assignWriterForm">
                <input type="hidden" name="supportTicketId" value="<?=$this->ticket['id']?>"/>
                <?=$this->modules('support-ticket')->textWriterAccountsComboBox()->toField('writerId', $this->ticket['writerId']); ?>
                <br />
                <button type="submit" class="btn-big text-c margin-t">
                    <?=$this->translate('Support aanvraag doorsturen');?>
                </button>
            </form>
        </div>
    </article>
</div>
<hr />
<p class="text-c">
    <a href="/" class="btn-big btn-gray margin-r">
        <i class="icon-back"><?=$this->translate('Terug naar overzicht');?></i>
    </a>

    <? $closed = 'close' === $this->ticket['status']; ?>

    <a href="/support-ticket/moderator/change-status/supportTicketId/<?=$this->ticket['id']?>/status/<?=$closed ? 'pending' : 'close';?>"
       class="btn-big btn-pink" id="close-ticket">
        <i class="icon-checked">
            <?=$this->translate($closed ? 'Reopen ticket' : 'Supportvraag is opgelost');?>
        </i>
    </a>
</p>

<script src="/modules-appalti/support-ticket/views/scripts/default/moderator/_resources/js/moderatorAssignWriter.js"></script>

