<div class="text-c">
    <? if (!$this->success): ?>
        <?=$this->information()->init(false); ?>
    <? else:?>
        <img src="/layouts/scripts/appalti/main/_resources/images/icon-checked-big.png" alt=""/>
        <br>
        <br>
        <br>
        <h1>De supportaanvraag van <?=$this->ticket['companyName'];?> is verstuurd naar <?=$this->writer['fullname']?>.</h1>

        <p class="text-dark-gray">
            Deze tekstschrijver heeft inmiddels een mail ontvangen met alle benodigde informatie. Wanneer de vraag van de klant is opgelost kan de tekstschrijver aangeven dat de support vraag opgelost is.
            De klant wordt hierover ook per mail op de hoogte gehouden.
        </p>
    <? endif;?>
    <hr />
    <br />
    <a href="#" data-dismiss="modal" class="btn-big text-c">Venster sluiten</a>
</div>