<?=$this->information()->init();?>
<style>
    table .status-new td {
        background: #00FF00;
        border-bottom: 1px solid;
    }
    table .status-pending td {
        background: #ff0000;
        border-bottom: 1px solid;
    }
    table .status-close td {
        background: #DFEDFF;
        border-bottom: 1px solid;
    }

</style>

<div class="list-container">
    <div class="list-title">Ticketes</div>
    <div class="list-form">
        <?=$this->formFilterSearch('serviceName'); ?>
    </div>

    <table class="width">
        <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="*">
            <col width="*">
            <col width="*">
        </colgroup>
        <thead>
            <tr>
                <th>Datum</th>
                <th>Relatie</th>
                <th>Soort</th>
                <th>Deadline opdracht</th>
                <th colspan="2">Status</th>
            </tr>
        </thead>
        <tbody>
            <? if (!empty($this->rowset)): ?>
                <?foreach($this->rowset as $ticketRow): ?>
                    <tr class="status-<?=$ticketRow['status']?>">
                        <td><?=empty($ticketRow['createdDatetime']) ? '' : $this->formatDate($ticketRow['createdDatetime'], array('format' => 'd-m-Y H:i')); ?></td>
                        <td><?=$ticketRow['companyName'];?></td>
                        <td><?=$ticketRow['serviceName']; ?></td>
                        <td><?=$ticketRow['priority']?></td>
                        <td><?=$ticketRow['status'];?></td>
                        <td class="actions">
                            <a href="/support-ticket/moderator/view-posts/ticketId/<?=$ticketRow['id'];?>" class="icon-info">&nbsp;</a>
                        </td>
                        <td>
                            <?if ($ticketRow['writerId'] != null):?>
                               <strong>mod</strong>
                            <?endif?>
                        </td>
                    </tr>
                <?endforeach; ?>
            <? else: ?>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            <? endif; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
</div>


<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src ="/modules-appalti/support-ticket/views/scripts/default/client/_resources/js/SupportTicketForm.js"></script>
