<?
echo $this->information()->init();

$this->formValue()->init();
$this->formValue()->omitNullableModel(true);
$this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<h2><?=$this->translate(sprintf('Supportvraag #%s detailinformatie', $this->ticket['id']));?></h2>
<table class="form-fields th-right">
    <tr>
        <th>
            <h4><?=$this->translate('Aanvraag gedaan door');?></h4>
            <?=$this->translate('Bedrijf');?>:
        </th>
        <td class="va-bottom"><?=$this->ticket['companyName'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Contactpersoon');?>:</th>
        <td><?=$this->ticket['cpFirstname'];?>  <?=$this->ticket['cpLastname'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('E-mailadres');?>:</th>
        <td><?=$this->ticket['cpEmail'];?></td>
    </tr>
    <tr>
        <th>
            <br>
            <h4><?=$this->translate('Informatie aanvraag');?></h4>
            <?=$this->translate('Soort aanvraag');?>:
        </th>
        <td class="va-bottom">
            <?=$this->ticket['serviceName'];?>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Deadline opdracht');?>:</th>
        <td><?=$this->ticket['priority'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Aantal pagina\'s');?>:</th>
        <td><?=$this->ticket['numberOfPages'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Doel van de tekst');?>:</th>
        <td><?=$this->ticket['aimOfText'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Aantal mensen die tekst gaan lezen');?>:</th>
        <td><?=$this->ticket['amountOfPeople'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Klantmotief');?> 1:</th>
        <td><?=$this->ticket['primaryMotif'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Klantmotief');?> 2:</th>
        <td><?=$this->ticket['secondaryMotif'];?></td>
    </tr>
</table>

<hr>
<table class="form-fields th-right zebra width support-ticket-comments">
    <colgroup>
        <col width="19%">
        <col width="*">
    </colgroup>
    <tr>
        <th><h3><?=$this->translate('Reacties');?></h3></th>
        <td>&nbsp;</td>
    </tr>
    <?foreach($this->ticketPosts as $post):?>
        <tr>
            <th class="va-top">
                <?=empty($post['dateTime']) ? '' : $this->formatDate($post['dateTime'], array('format' => 'd-m-Y H:i'));?><br>
                <? if (!empty($post['senderName'])): ?>
                    <?=$post['senderName'];?><br>
                <? endif; ?>
                <a href="mailto:<?=$post['senderMail']?>"><?=$post['senderMail']?></a>
            </th>
            <td>
                <?=$post['comment'];?>

                <?if (!empty($post['files'])):?>
                    <div class="attached-files margin-t">
                        <b class="text-black"><?=$this->translate('Toebehoren');?>:</b>
                        <br>
                        <?foreach($post['files'] as $file):?>
                            <a href ="/support-ticket/ticket-file-stock/download/ticketPostId/<?=$file['id']?>/fileStockId/<?=$file['fileStockId']?>" target="_blank">
                                <?=$file['name']?>
                            </a>
                            <br>
                        <?endforeach;?>
                    </div>
                <?endif;?>
            </td>
        </tr>
    <?endforeach;?>
</table>