<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <span>Offerte Informatie</span>
</section>
<section class="cols-2 right-wide">
    <?//= $this->information()->init(false); ?>

    <div class="clearfix">
        <article class="content">

            <div class="clearfix">
                
                <div class="box-gray news-short-desc float-l">
                    <h4 class="news-title"><?= $this->translate('Bibliotheek beheer') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Bibliotheek beheer uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/library" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar bibliotheek beheer');?></i>
                        </a>
                    </div>
                </div>
                
                <div class="box-gray news-short-desc float-r">
                    <h4 class="news-title"><?= $this->translate('Thema beheer') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Thema beheer uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/theme" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar thema beheer');?></i>
                        </a>
                    </div>
                </div>
                
            </div>

            <div class="clearfix margin-t">
                
                <div class="box-gray news-short-desc float-l">
                    <h4 class="news-title"><?= $this->translate('Relatie beheer') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Relatie beheer uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/client" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar relatie beheer');?></i>
                        </a>
                    </div>
                </div>
                
                <div class="box-gray news-short-desc float-r">
                    <h4 class="news-title"><?= $this->translate("Diensten en producten") ?></h4>
                    <div class="event-desc">
                        <?= $this->translate("Diensten en producten uitleg") ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/offer" class="btn-gray btn-big">
                            <i><?= $this->translate("Ga naar diensten en producten");?></i>
                        </a>
                    </div>
                </div>
                
            </div>
            
        </article>

        <aside class="right">
            <?=$this->pageDescription(array( 'showDesc' => false ));?>
        </aside>
    </div>
</section>




