<?
    echo $this->information()->init();

    $this->formValue()->init();
    if (null !== $this->proposalThemeRow):
        $this->formValue()->setModel($this->proposalThemeRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<form action="/proposal/template/company-default-fields" id="company-default-fields">
    <input type="hidden" name="companyId" value="<?=$this->formValue('companyId');?>"/>
    <? require __DIR__ . '/default.form.fields.phtml' ?>
</form>
<script type="text/javascript">
    $('#company-default-fields').observe();
</script>
<br />





