<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <a href="/company/theme"><span>Thema's</span></a>
    <span>Thema '<?= $this->customTemplateRow->name ?>'</span>
</section>
<section class="cols-2">
    <?=$this->information()->init(false);?>
    <h1><?=$this->translate('Opmaak wijzigen van offertes');?></h1>
    <br>
    <style>
        form#theme {
            vertical-align: top;
            display:block;
        }
        #theme span {
            display: inline-block;
            margin-right: 5px;
            vertical-align: top;
        }
        #theme span label {
            font-weight:bold;
            color:#7B2B83;
        }
        #theme span * {
            display:block;
        }
        #theme .name {
            width:150px;
        }
        #theme .name * {
            width:146px;
        }
        #theme .description {
            width:300px;
        }
        #theme .description * {
            width:292px;
            margin-top:0;
        }
        #theme .actions {
            width:64px;
        }
        #theme .actions * {
            width:64px;
        }
    </style>
    <form method="post" action="" id="theme">
        <input type="hidden" name="theme[id]" value="<?= $this->customTemplateRow->getId() ?>"/>
        <span class="name">
            <label title="Vul hier een naam voor dit thema in."><?= $this->translate('Thema naam') ?></label>
            <input name="theme[name]" value="<?= $this->customTemplateRow->name ?>"/>
        </span>
        <span class="description">
            <label title="Vul hier een beschrijving van dit thema in."><?= $this->translate('Beschrijving') ?></label>
            <textarea name="theme[description]" rows="1"><?= $this->customTemplateRow->description ?></textarea>
        </span>
        <span class="libraries">
            <label title="Kies hier een bibliotheek.
Als u dit thema gebruikt, kunt u gebruik maken van deze bibliotheek."><?= $this->translate('Bibliotheek') ?></label>
            <select name="libraries[]">
<?/**?>
                <option value="">Kies een bibliotheek</option>
<?/**/?>
<?  foreach($this->libraries as $libraryRow): ?>
<?      $checked = '';
        foreach($this->customTemplateLibraries as $themeLibrary):
            if ($themeLibrary->getId() == $libraryRow->getId()):
                $checked = ' selected="selected"';
                break;
            endif;
        endforeach;
?>
                <option value="<?= $libraryRow->getId(); ?>"<?= $checked ?>><?= $libraryRow->name ?></option>
<?  endforeach;?>
            </select>
        </span>
        <span class="actions">
            <label>&nbsp;</label>
            <input type="submit" name="" value="Opslaan"/>
            <a href="<?= $this->url(array('action'=>null,'id'=>null))?>"><span>Cancel</span></a>
        </span>
    </form>
<?
            $this->formValue()->init();
            if (null !== $this->proposalThemeRow):
                $this->formValue()->setModel($this->proposalThemeRow);
            else:
                $this->formValue()->omitNullableModel(true);
            endif;
            $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
    <form method="POST" action="/proposal/template/company-defaults">
        <input type="hidden" name="proposalThemeId" value="<?=$this->formValue('id');?>"/>
        <div class="clearfix">
            <article class="content">
                <div class="accordion">
                    <h4 class="accordion-section-title">
                        <a href="#proposal-defaults"><?=$this->translate('Offertegegevens');?></a>
                    </h4>
                    <div class="accordion-section">
<? require __DIR__ . '/default.form.fields.phtml'; ?>
                        <br />
                    </div>

                    <h4 class="accordion-section-title">
                        <a href="#templates"><?=$this->translate('Templates');?></a>
                    </h4>
                    <div class="accordion-section">
                        <div class="switch-tpl" style="display: none">
                            <p>
                                <?=$this->translate('Choose one of the following options to switch between custom and predefined templates.');?>
                            </p>
                            <hr>

                            <label class="inline margin-r">
                                <input type="radio" name="useCustom" value="1"
                                       <?=$this->formValue('useCustomTemplate') ? 'checked="checked"' : ''; ?> />
                                <?=$this->translate('Use custom template');?>
                            </label>

                            <label class="inline margin-l">
                                <input type="radio" name="useCustom" value="0"
                                       <?=$this->formValue('useCustomTemplate') ? '' : 'checked="checked"'; ?> />
                                <?=$this->translate('Use predefined template');?>
                            </label>
                        </div>
                        <div class="box-gray margin-b text-c useCustomTpl">
<? $returnUrl = urlencode(base64_encode('/company/theme/update/id/'. $this->customTemplateRow->getId() .'/company-defaults/companyId/'. $this->formValue('companyId') . '#templates')); ?>
                            <a class="btn-big2 btn-green"
                               href="/proposal/template/create/id/<?= $this->customTemplateRow->getId() ?>/companyId/<?=$this->formValue('companyId');?>/return/<?=$returnUrl;?>">
<? if ($this->formValue('useCustomTemplate')): ?>
                                    <?=$this->translate('Update custom template')?>
<? else: ?>
                                    <?=$this->translate('Create custom template')?>
<? endif; ?>
                            </a>
                        </div>

                        <div class="useDefaultTpl hidden">
<? require 'template.form.fields.phtml'; ?>
                        </div>
                    </div>

                    <h4 class="accordion-section-title">
                        <a href="#typography"><?=$this->translate('Huisstijl');?></a>
                    </h4>

                    <div class="accordion-section">
<? require __DIR__ . '/typography.form.fields.phtml' ?>
                    </div>
                </div>
            </article>

            <aside class="right">
                <?=$this->pageDescription();?>
            </aside>
        </div>

        <br>
        <hr>
        <p class="text-c">
            <a href="/company/index/index" class="btn-big btn-gray margin-r">
                <i class="icon-back"><?=$this->translate('Mijn beheer');?></i>
            </a>

            <button type="submit" class="btn-big margin-r">
                <i class="icon-save"><?=$this->translate('Opslaan');?></i>
            </button>
        </p>
    </form>
</section>

<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>

<script src="/public/js/jquery-plugins/colorpicker/colorpicker.min.js"></script>
<link rel="stylesheet" href="/public/js/jquery-plugins/colorpicker/css/colorpicker.css"/>

<script src="/modules-appalti/proposal/views/scripts/default/template/_resources/js/templates.js"></script>
<script src="/modules-appalti/proposal/views/scripts/default/template/_resources/js/typography.js"></script>

<script src="/public/js/jquery-plugins/autosize/jquery.autosize.min.js"></script>
<script type="text/javascript">
    $('textarea').autosize();
</script>




