<? $scope = !empty($scopeName) ? $scopeName : Proposal_Model_CustomTemplate::COMMON_BG_SCOPE; ?>
<div class="tpl-settings">
    <h4><?=$this->translate('Background' . (!empty($scopeTitle) ? ' for ' . strtolower($scopeTitle) : ''));?></h4>
    <hr>
    <form class="tpl-bg" action="/proposal/template/background" enctype="multipart/form-data" method="post">
        <input type="file" class="required imgOrPdf" name="bg"/>
        <input type="hidden" name="id" value="<?= $this->customTemplateRow->getId() ?>"/>
        <input type="hidden" name="scope" value="<?= $scope ?>"/>
        <button type="submit"><?=$this->translate('Upload');?></button>
    </form>
    <br>
<!--    <a class="btn-small btn-green deleteBkg" href="#">-->
<!--    --><?//=$this->translate('Delete fon')?><!--            </a>-->
<!--    <br>-->
    <h4><?=$this->translate('Page elements');?></h4>
    <hr>
    <div class="margin-b">
        <b class="text-black"><?=$this->translate('Client logo');?></b>
        <label>
            <input type="checkbox" class="addClientLogo" value="header"
                   <?=!empty($this->settings) && $this->settings->clientLogoHeader ? 'checked="checked"' : ''; ?> />
            <?=$this->translate('Client logo in the header');?>
        </label>
        <label>
            <input type="checkbox" class="addClientLogo" value="footer"
                   <?=!empty($this->settings) && $this->settings->clientLogoFooter ? 'checked="checked"' : ''; ?> />
            <?=$this->translate('Client logo in the footer');?>
        </label>
        <br>
        <b class="text-black"><?=$this->translate('Paging');?></b>
        <br>
        <label class="inline">
            <input type="checkbox" class="addPaging" value="footer" name="paging"
                   <?=!empty($this->settings) && $this->settings->paging ? 'checked="checked"' : ''; ?> />
            <?=$this->translate('Add/remove paging');?>
        </label>
        <div class="pagingParams <?=!empty($this->settings) && $this->settings->paging ? '' : 'hidden'; ?> margin-t">
            <h5><?=$this->translate('Paging font style');?>:</h5>
            <label class="inline margin-r">
                <?=$this->translate('Color');?>:
                <? $color = !empty($this->settings) ? $this->settings->pagingColor : $this->proposalThemeRow->textColor; ?>
                #<input type="text" name="pagingColor" value="<?=$color;?>" readonly="readonly" size="7"/>
                <i class="icon-colorpicker"></i>
            </label>
            <label class="inline tpl-typo">
                <?=$this->translate('Text style');?>:
                <? $weight = !empty($this->setting) ? $this->settings->pagingFontWeight : 'normal'; ?>
                <b class="pagingFontWeight unselectable font-style <?='bold' === $weight ? 'checked' : '';?>">B</b>
                <? $style = !empty($this->setting) ? $this->settings->pagingFontStyle : 'normal'; ?>
                <i class="pagingFontStyle unselectable font-style <?='italic' === $style ? 'checked' : '';?>">I</i>
                <? $decoration = !empty($this->setting) ? $this->settings->pagingTextDecoration : 'none'; ?>
                <u class="pagingTextDecoration unselectable font-style <?='underline' === $decoration ? 'checked' : '';?>">U</u>
            </label>
            <br>
            <h5><?=$this->translate('Paging position');?> (mm):</h5>
            <label class="inline">Top</label>
            <? $title = $this->translate('Use UP/DOWN key to increase/decrease value or enter a value. Press ENTER when done.'); ?>
            <input type="text" size="5" name="pagingTop" class="text-c tip"
                   value="<?=!empty($this->settings) ? $this->settings->pagingTop : 0; ?>"/>
            <label class="inline margin-l">Links</label>
            <input type="text" size="5" name="pagingLeft" class="text-c tip"
                   value="<?=!empty($this->settings) ? $this->settings->pagingLeft : 0; ?>"/>
        </div>
    </div>
    <br>
    <h4><?=$this->translate('Margins');?></h4>
    <hr>
    <div class="notice">
        <small>
            <?=$this->translate('Top margin <b class="text-black">should</b> include space between header and content.');?>
        </small>
    </div>

    <h5><?=$this->translate('Synchronous margin change');?></h5>
    <label>
        <input type="checkbox" name="syncMarginChange" checked="checked" value="lr" />
        <?=$this->translate('Left and right');?>
    </label>

    <label>
        <input type="checkbox" name="syncMarginChange" value="tb" />
        <?=$this->translate('Top and bottom');?>
    </label>
    <br>
    <h5><?=$this->translate('Margin sizes (mm)');?>:</h5>
    <table>
        <tr>
            <td></td>
            <td>
                <input type="text" size="5" name="tpl-margin-t" class="text-c tip"
                       value="<?=!empty($this->settings) ? $this->settings->marginTop : Proposal_Model_CustomTemplate::DEFAULT_MARGIN; ?>" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input type="text" size="5" name="tpl-margin-l" class="text-c tip"
                       value="<?=!empty($this->settings) ? $this->settings->marginLeft : Proposal_Model_CustomTemplate::DEFAULT_MARGIN; ?>" />
            </td>
            <td></td>
            <td>
                <input type="text" size="5" name="tpl-margin-r" class="text-c tip"
                       value="<?=!empty($this->settings) ? $this->settings->marginRight : Proposal_Model_CustomTemplate::DEFAULT_MARGIN; ?>" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="text" size="5" name="tpl-margin-b" class="text-c tip"
                       value="<?=!empty($this->settings) ? $this->settings->marginBottom : Proposal_Model_CustomTemplate::DEFAULT_MARGIN; ?>" />
            </td>
            <td></td>
        </tr>
    </table>
    <br>
    <input type="button" value="<?=$this->translate('Reset margin size to defaults');?>" class="btn resetMargins"/>
</div>

