<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <a href="/company/theme"><span>Thema's</span></a>
    <a href="/company/theme/update/id/<?= $this->customTemplateRow->getId() ?>"><span>Thema '<?= $this->customTemplateRow->name ?>'</span></a>
    <span>Templates</span>
</section>
<h2><?=$this->translate("Thema: '%s'", array($this->customTpl->name));?></h2>
<hr>
<?=$this->information()->init(false);?>
<div class="notice">
    <small>
        <?=$this->translate('Mogelijke bestandsformaten zijn');?>: <b class="text-black">jpeg, jpg, pdf</b>.
        <br>
        <?=$this->translate('Bestanden mogen <b class="text-black">niet groter zijn als 10Mb</b>, mocht uw bestand groter zijn als 10Mb dan wordt deze automatisch teruggebracht naar minder dan 10Mb.');?>
    </small>
</div>
<hr/>
<? $this->useDifferentBackgrounds = $this->customTpl->useDifferentBackgrounds; ?>
<ul class="line margin-b">
    <li class="margin-r">
        <h5><?=$this->translate('Background settings');?>:</h5>
        <label class="text-dark-gray">
            <input type="checkbox" id="separateBackgrounds" theme_id="<?= $this->customTemplateRow->getId() ?>"
                    <?=$this->useDifferentBackgrounds ? 'checked="checked"' : '';?> />
            <?=$this->translate('Each part of proposal has it\'s own background.');?>
        </label>
    </li>
    <li class="margin-l">
        <h5><?=$this->translate('Page orientation');?>:</h5>

        <label class="inline margin-r text-dark-gray">
            <input type="radio" name="orientation" value="portrait" theme_id="<?= $this->customTemplateRow->getId() ?>"
                   <?=(int)$this->customTpl->landscape ? '' : 'checked="checked"' ;?>/>
            <?=$this->translate('A4 portrait');?>
        </label>

        <label class="inline text-dark-gray">
            <input type="radio" name="orientation" value="landscape" theme_id="<?= $this->customTemplateRow->getId() ?>"
                   <?=(int)$this->customTpl->landscape ? 'checked="checked"' : '';?> />
            <?=$this->translate('A4 landscape');?>
        </label>
    </li>
<? if (!empty($this->return)): ?>
        <li class="float-r">
            <a href="<?= urldecode(base64_decode($this->return)) ?>" class="btn-big btn-green returnBtn">
                <?= $this->translate('Return to previous page.') ?>
            </a>
        </li>
<? endif; ?>
</ul>
<hr>
<div id="customTplWrap">
    <? require 'different-bg.phtml'?>
</div>

<script src="/public/js/jquery-plugins/colorpicker/colorpicker.min.js"></script>
<link rel="stylesheet" href="/public/js/jquery-plugins/colorpicker/css/colorpicker.css"/>
<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src="/public/js/jquery-ui/resizable/jquery-ui-resizable.min.js"></script>
<link rel="stylesheet" href="/public/js/jquery-ui/resizable/jquery-ui-resizable.css"/>
<script src="/public/js/jquery-ui/draggable/jquery-ui-draggable.min.js"></script>
<script src="/modules-appalti/proposal/views/scripts/default/template/_resources/js/custom.js"></script>
