<? $scope = !empty($scopeName) ? $scopeName : Proposal_Model_CustomTemplate::COMMON_BG_SCOPE; ?>
<div class="tpl-page-wrap">
    <form action="/proposal/template/settings" method="post">
        <input type="hidden" name="id" value="<?= $this->customTemplateRow->getId() ?>"/>
        <input type="hidden" name="scope" value="<?=$scope;?>"/>
        <input type="hidden" name="clientLogoHeader" value="<?=!empty($this->settings) ? $this->settings->clientLogoHeader : 0 ?>" />
        <input type="hidden" name="clientLogoHeaderLeft" value="<?=!empty($this->settings) ? $this->settings->clientLogoHeaderLeft : 0 ?>" />
        <input type="hidden" name="clientLogoHeaderTop" value="<?=!empty($this->settings) ? $this->settings->clientLogoHeaderTop : 0 ?>" />
        <input type="hidden" name="clientLogoHeaderHeight" value="<?=!empty($this->settings) ? $this->settings->clientLogoHeaderHeight : 0 ?>" />
        <input type="hidden" name="clientLogoHeaderWidth" value="<?=!empty($this->settings) ? $this->settings->clientLogoHeaderWidth : 0 ?>" />
        <input type="hidden" name="clientLogoFooter" value="<?=!empty($this->settings) ? $this->settings->clientLogoFooter : 0 ?>" />
        <input type="hidden" name="clientLogoFooterLeft" value="<?=!empty($this->settings) ? $this->settings->clientLogoFooterLeft : 0 ?>" />
        <input type="hidden" name="clientLogoFooterTop" value="<?=!empty($this->settings) ? $this->settings->clientLogoFooterTop : 0 ?>" />
        <input type="hidden" name="clientLogoFooterHeight" value="<?=!empty($this->settings) ? $this->settings->clientLogoFooterHeight : 0 ?>" />
        <input type="hidden" name="clientLogoFooterWidth" value="<?=!empty($this->settings) ? $this->settings->clientLogoFooterWidth : 0 ?>" />
        <input type="hidden" name="marginTop" value="<?=!empty($this->settings) ? $this->settings->marginTop : Proposal_Model_CustomTemplate::DEFAULT_MARGIN ?>" />
        <input type="hidden" name="marginRight" value="<?=!empty($this->settings) ? $this->settings->marginRight : Proposal_Model_CustomTemplate::DEFAULT_MARGIN ?>" />
        <input type="hidden" name="marginBottom" value="<?=!empty($this->settings) ? $this->settings->marginBottom : Proposal_Model_CustomTemplate::DEFAULT_MARGIN ?>" />
        <input type="hidden" name="marginLeft" value="<?=!empty($this->settings) ? $this->settings->marginLeft : Proposal_Model_CustomTemplate::DEFAULT_MARGIN ?>" />
        <input type="hidden" name="paging" value="<?=!empty($this->settings) ? $this->settings->paging : 1 ?>" />
        <input type="hidden" name="pagingColor" value="<?=!empty($this->settings) ? $this->settings->pagingColor : $this->proposalThemeRow->textColor ?>" />
        <input type="hidden" name="pagingFontWeight" value="<?=!empty($this->settings) ? $this->settings->pagingFontWeight : $this->proposalThemeRow->pagingFontWeight ?>" />
        <input type="hidden" name="pagingFontStyle" value="<?=!empty($this->settings) ? $this->settings->pagingFontStyle : $this->proposalThemeRow->pagingFontStyle ?>" />
        <input type="hidden" name="pagingTextDecoration" value="<?=!empty($this->settings) ? $this->settings->pagingTextDecoration : $this->proposalThemeRow->pagingTextDecoration ?>" />
        <input type="hidden" name="pagingTop" value="<?=!empty($this->settings) ? $this->settings->pagingTop : 0 ?>" />
        <input type="hidden" name="pagingLeft" value="<?=!empty($this->settings) ? $this->settings->pagingLeft : 0 ?>" />
        <div class="tpl-page <?=$this->customTpl->landscape ? 'landscape' : ''; ?>">

            <?= $this->customTpl->getBgByScope($scope, true); ?>
            <div class="tpl-margin-t resizable" data-handles="s">
                <div class="tpl-content"></div>
            </div>
            <div class="tpl-margin-b resizable" data-handles="n">
                <div class="tpl-content"></div>
            </div>
            <div class="tpl-margin-l resizable" data-handles="e"></div>
            <div class="tpl-margin-r resizable" data-handles="w"></div>
            <div class="tpl-content-main">
                <div class="sample-txt"><?=$this->translate('Main content area')?></div>
            </div>
        </div>
        <br>
        <p class="text-c">
            <button type="submit" class="btn-big btn-green"><?=$this->translate('Save');?></button>
            <a class="btn-big btn-green deleteBkg" href="#">
                <?=$this->translate('Verwijder achtergrond')?>
            </a>
            <br>
        </p>
    </form>
</div>
