<?
    echo $this->tinyMCE(array(
        'id'            => uniqid(),
        'plugins_data'  => array(
            'mykwd' => Proposal_Service_Keyword::fetchMyKeywords(),
            'clientkwd' => Proposal_Service_Keyword::fetchClientKeywords(),
        ),
        'simpleEditor' => true,
        'height' => '100',
        'resizeH' => false
    ));

//$this->formPrefix()->init(!empty($this->namespace) ? $this->namespace : '');

?>
<table class="width form-fields">
    <tr>
        <th>
            <h5><strong><?=$this->translate('Nummering en geldigheid');?></strong></h5>
            <?=$this->translate('Nummering');?>:
        </th>
        <td class="info-cnt va-bottom"></td>
        <td class="va-bottom">
            <select name="<?=$this->formPrefix('numeration')?>">
                <option value="YmdHis" <? if ($this->formValue('numeration') === 'YmdHis'):?>selected="selected"<?endif;?>>
                    <?=$this->translate('Offertenummer');?>
                </option>
                <option value="Y-ymdHis" <? if ($this->formValue('numeration') === 'Y-ymdHis'):?>selected="selected"<?endif;?>>
                    <?=$this->translate('Jaar, Offertenummer');?>
                </option>
            </select>
        </td>
    </tr>

    <tr class="even">
        <th><?=$this->translate('Standaard geldigheid');?>:</th>
        <td class="info-cnt">
            <a href="#" class="icon-info-small" title="<?=$this->translate('Vul hier de geldigheidsduur van de offerte in.');?>">&nbsp;</a>
        </td>
        <td>
            <input type="text" size="5" name="<?=$this->formPrefix('daysValid')?>" value="<?=$this->formValue('daysValid');?>" />&nbsp;dagen
        </td>
    </tr>

    <tr>
        <th>
            <br>
            <h4><strong><?=$this->translate('Wilt u gebruik maken van');?></strong></h4>
            <?=$this->translate('Prijsopgave in offerte?');?>
        </th>
        <td class="info-cnt va-bottom">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Geef aan of er prijzen in de offerte komen. Ook wanneer dit af en toe het geval is, kies dan voor JA.');?>">&nbsp;</a>
        </td>
        <td class="va-bottom">
            <label>
                <input type="radio" name="<?=$this->formPrefix('includePrice')?>" value="1"
                       <?if ($this->formValue('includePrice')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includePrice')?>" value="0"
                       <?if (!$this->formValue('includePrice')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>

    <tr class="even">
        <th><?=$this->translate('BTW tarief');?>:</th>
        <td class="info-cnt">
            <a href="#" class="icon-info-small" title="<?=$this->translate('Vul hier het BTW tarief in.');?>">&nbsp;</a>
        </td>
        <td class="va-bottom">
            <input type="text" name="<?=$this->formPrefix('btw')?>" size="5" value="<?=$this->formValue('btw');?>" />&nbsp;%
        </td>
    </tr>

    <tr>
        <th>
            <br />
            <?=$this->translate('Persoonlijke inleiding');?>:
        </th>
        <td class="info-cnt va-bottom">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Kies JA om een inleiding te schrijven en daarmee de offerte persoonlijk te maken.');?>">&nbsp;</a>
        </td>
        <td class="va-bottom">
            <label>
                <input type="radio" name="<?=$this->formPrefix('includePersonalIntroduction')?>" value="1"
                       <?if ($this->formValue('includePersonalIntroduction')):?>checked="checked"<?endif;?>/>
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includePersonalIntroduction')?>" value="0"
                       <?if (!$this->formValue('includePersonalIntroduction')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>
    <tr>
        <th colspan="2" class="va-top">
            <span class="text-gray"><?=$this->translate('Persoonlijke inleiding tekst op offerte');?>:</span>
            <br />
        </th>
        <td>
            <label><?=$this->translate('Titel in offerte');?>:</label>
            <br>
            <input type="text" size="50" value="<?=$this->formValue('personalIntroductionHeader'); ?>" name="personalIntroductionHeader" />
        </td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
        <td>
            <textarea class="tinymce" name="<?=$this->formPrefix('personalIntroduction')?>" style="width: 440px" rows="5"><?=$this->formValue('personalIntroduction');?></textarea>
            <br />
        </td>
    </tr>

    <tr>
        <th>
            <br />
            <?=$this->translate('Tijdstoeslagen');?>:
        </th>
        <td class="info-cnt va-bottom">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Geef aan of er tijdstoeslagen in de offerte terug kunnen komen. Ook wanneer het af en toe is, kies dan voor JA. Gebruik het (tekst)blok om een standaard begeleidende tekst aan de offerte toe te voegen.');?>">&nbsp;</a>
        </td>
        <td class="va-bottom">
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeTimeCharge')?>" value="1"
                       <?if ($this->formValue('includeTimeCharge')):?>checked="checked"<?endif;?>/>
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeTimeCharge')?>" value="0"
                       <?if (!$this->formValue('includeTimeCharge')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>
    <tr>
        <th colspan="2" class="va-top">
            <span class="text-gray"><?=$this->translate('Begeleidende tekst op offerte');?>:</span>
            <br />
        </th>
        <td>
            <textarea class="tinymce" name="<?=$this->formPrefix('timeChargeText')?>" style="width: 440px" rows="5"><?=$this->formValue('timeChargeText');?></textarea>
            <br />
        </td>
    </tr>

    <tr>
        <th><?=$this->translate('Stelposten');?>:</th>
        <td class="info-cnt">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Geef aan of er stelposten in de offerte in de offerte terug kunnen komen. Ook wanneer het af en toe is, kies dan voor JA.');?>">&nbsp;</a>
        </td>
        <td>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeExtraCost')?>" value="1"
                    <?if ($this->formValue('includeExtraCost')):?>checked="checked"<?endif;?>/>
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeExtraCost')?>" value="0"
                    <?if (!$this->formValue('includeExtraCost')):?>checked="checked"<?endif;?>/>
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>

    <tr>
        <th><?=$this->translate('Verzendkosten');?>:</th>
        <td class="info-cnt va-top">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Geef aan of er verzendkosten in de offerte terug kunnen komen. Ook wanneer het af en toe is, kies dan voor JA. Gebruik het (tekst)blok om een standaard begeleidende tekst aan de offerte toe te voegen.');?>">&nbsp;</a>
        </td>
        <td>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeShippingCost')?>" value="1"
                    <?if ($this->formValue('includeShippingCost')):?>checked="checked"<?endif;?>/>
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeShippingCost')?>" value="0"
                    <?if (!$this->formValue('includeShippingCost')):?>checked="checked"<?endif;?>/>
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>
    <tr>
        <th colspan="2" class="va-top">
            <span class="text-gray"><?=$this->translate('Begeleidende tekst op offerte');?>:</span>
            <br />
        </th>
        <td>
            <textarea class="tinymce" name="<?=$this->formPrefix('shippingCostText')?>" style="width: 440px" rows="5"><?=($this->formValue('shippingCostText'));?></textarea>
            <br />
        </td>
    </tr>

    <tr>
        <th><?=$this->translate('Reiskosten');?>:</th>
        <td class="info-cnt va-bottom">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Geef aan of er reiskosten in de offerte terug kunnen komen. Ook wanneer het af en toe is, kies dan voor JA. Gebruik het (tekst)blok om een standaard begeleidende tekst aan de offerte toe te voegen.');?>">&nbsp;</a>
        </td>
        <td>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeTravelingExpenses')?>" value="1"
                    <?if ($this->formValue('includeTravelingExpenses')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeTravelingExpenses')?>" value="0"
                    <?if (!$this->formValue('includeTravelingExpenses')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>

    <tr>
        <th><?=$this->translate('Kortingsbedragen');?>:</th>
        <td class="info-cnt va-top">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Geef aan of er korting in de offerte terug kan komen. Ook wanneer het af en toe is, kies dan voor JA. Gebruik het (tekst)blok om een standaard begeleidende tekst aan de offerte toe te voegen.');?>">&nbsp;</a>
        </td>
        <td>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeDiscount')?>" value="1"
                    <?if ($this->formValue('includeDiscount')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeDiscount')?>" value="0"
                    <?if (!$this->formValue('includeDiscount')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>
    <tr>
        <th colspan="2" class="va-top">
            <span class="text-gray"><?=$this->translate('Begeleidende tekst op offerte');?>:</span>
            <br />
        </th>
        <td>
            <textarea class="tinymce" name="<?=$this->formPrefix('discountText')?>" style="width: 440px" rows="5"><?=$this->formValue('discountText');?></textarea>
            <br />
        </td>
    </tr>

    <tr>
        <th><?=$this->translate('Levertijd');?>:</th>
        <td class="info-cnt va-top">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Geef aan of de levertijden in de offerte terug kunnen komen. Ook wanneer het af en toe is, kies dan voor JA. Gebruik het (tekst)blok om een standaard begeleidende tekst aan de offerte toe te voegen.');?>">&nbsp;</a>
        </td>
        <td>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeDelivery')?>" value="1"
                    <?if ($this->formValue('includeDelivery')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeDelivery')?>" value="0"
                    <?if (!$this->formValue('includeDelivery')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>
    <tr>
        <th colspan="2" class="va-top">
            <span class="text-gray"><?=$this->translate('Begeleidende tekst op offerte');?>:</span>
            <br />
        </th>
        <td>
            <textarea class="tinymce" name="<?=$this->formPrefix('deliveryText')?>" style="width: 440px" rows="5"><?=$this->formValue('deliveryText');?></textarea>
            <br />
        </td>
    </tr>

    <tr>
        <th><?=$this->translate('Gespreide betalingswijzen');?>:</th>
        <td class="info-cnt va-bottom">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Geef aan of gespreid betalen in de offerte terug kan komen. Ook wanneer het af en toe is, kies dan voor JA. Gebruik het (tekst)blok om een standaard begeleidende tekst aan de offerte toe te voegen.');?>">&nbsp;</a>
        </td>
        <td>
            <label>
                <input type="radio" name="<?=$this->formPrefix('delayedPayment')?>" value="1"
                    <?if ($this->formValue('delayedPayment')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('delayedPayment')?>" value="0"
                    <?if (!$this->formValue('delayedPayment')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>
    <tr>
        <th colspan="2" class="va-top">
            <span class="text-gray"><?=$this->translate('Begeleidende tekst op offerte');?>:</span>
            <br />
        </th>
        <td>
            <textarea class="tinymce" name="<?=$this->formPrefix('delayedPaymentText')?>" style="width: 440px" rows="5"><?=$this->formValue('delayedPaymentText');?></textarea>
            <br />
        </td>
    </tr>

    <tr>
        <th><?=$this->translate('Overige bijzonderheden');?>:</th>
        <td class="info-cnt va-bottom">
            <a href="#" class="icon-info-small"
               title="<?=$this->translate('Geef aan of er overige bijzonderheden in de offerte terug kunnen komen. Ook wanneer het af en toe is, kies dan voor JA. Gebruik het (tekst)blok om een standaard begeleidende tekst aan de offerte toe te voegen.');?>">&nbsp;</a>
        </td>
        <td>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeOtherDetails')?>" value="1"
                    <?if ($this->formValue('includeOtherDetails')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Ja');?>
            </label>
            <label>
                <input type="radio" name="<?=$this->formPrefix('includeOtherDetails')?>" value="0"
                    <?if (!$this->formValue('includeOtherDetails')):?>checked="checked"<?endif;?> />
                <?=$this->translate('Nee');?>
            </label>
        </td>
    </tr>
    <tr>
        <th colspan="2" class="va-top">
            <span class="text-gray"><?=$this->translate('Begeleidende tekst op offerte');?>:</span>
            <br />
        </th>
        <td>
            <textarea class="tinymce" name="<?=$this->formPrefix('otherDetailsText')?>" style="width: 440px" rows="5"><?=$this->formValue('otherDetailsText');?></textarea>
            <br />
        </td>
    </tr>
</table>