<?
    $this->formValue()->init();
    if (null !== $this->proposalThemeRow):
        $this->formValue()->setModel($this->proposalThemeRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <?= $this->information()->init(false) ?>
        <?= $this->wizardSteps($this->wizard->getSteps()) ?>
    </section>

    <form method="POST" action="/proposal/template/default">
        <div class="clearfix">
            <article class="content">
                <input type="hidden" name="proposalThemeId" value="<?= $this->formValue('id') ?>"/>
                <h3 class="padding-l"><strong>Uw offertegegevens</strong></h3>
                <br>
<?  require 'default.form.fields.phtml'; ?>
            </article>

            <aside class="right">
                <?= $this->pageDescription() ?>
            </aside>
        </div>

        <br>
        <hr>
        <p class="text-c">
            <a href="<?= $this->wizard->getPrevStepUrl() ?>" class="btn-big btn-gray margin-r">
                <span class="icon-back">Stap terug</span>
            </a>

            <button type="submit" class="btn-big margin-r">
                <span class="icon-save">Opslaan</span>
            </button>

            <button type="submit" class="btn-big" name="next-step" value="1">
                <span class="icon-next">Volgende stap</span>
            </button>
        </p>
    </form>

</section>




