<?  if ($this->useDifferentBackgrounds) : ?>
    <div class="tabbable">
<?
        $scopes = Proposal_Model_CustomTemplate::getScopes();
        array_shift($scopes);
?>
        <ul class="nav nav-tabs">
<?
        $k = 0;
        foreach ($scopes as $scopeName => $scopeTitle):
        $k++;
?>
                <li <?=($k == 1) ? 'class="active"' : ''; ?>>
                    <a href="#<?=$scopeName;?>" data-toggle="tab"><?=$this->translate($scopeTitle);?></a>
                </li>
<?      endforeach; ?>
        </ul>
        <div class="tab-content tpl-pages">
<?
        $k = 0;
        foreach ($scopes as $scopeName => $scopeTitle):
            $this->settings = $this->customTpl->getSettingsByScope($scopeName);
            $k++;
?>
                <div class="tab-pane tpl-wrap <?=($k == 1) ? 'active' : ''; ?>" id="<?=$scopeName;?>">
<?
            require 'create.page-settings.phtml';
            require 'create.page-form.phtml';
?>
                </div>
<?      endforeach; ?>
        </div>
    </div>

    <script src="/public/js/jquery-plugins/tabs/tabs.min.js"></script>
    <link rel="stylesheet" href="/public/js/jquery-plugins/tabs/tabs.css"/>
<?  else: ?>
    <div class="tpl-wrap">
<?
        $this->settings = $this->customTpl->getSettingsByScope(Proposal_Model_CustomTemplate::COMMON_BG_SCOPE);
        require 'create.page-settings.phtml';
        require 'create.page-form.phtml';
?>
    </div>
<?  endif; ?>

