<? foreach($this->templates as $sectionTitle => $tplSection): ?>
    <div class="tpl-section">
        <h3><?=$sectionTitle?>:</h3>
        <ul class="tpl-row">
            <? foreach($tplSection['thumbs'] as $tplName => $thumb): ?>
                <?
                    $formField = 'template' . ucfirst($tplSection['section']->getLuid());
                    $selected = $this->formValue($formField) === $tplName;
                ?>
                <li <?if($selected):?>class="tpl-selected"<?endif;?>>
                    <?if($selected):?>
                        <input type="hidden" name="<?=$formField;?>" value="<?=$tplName?>"/>
                    <?endif;?>
                    <img class="tpl-thumb" src="<?=$thumb?>" alt="" title="Selecteer"
                         data-selected="<?=$selected;?>"
                         data-tpl="<?=$tplName?>"
                         data-section="<?=$tplSection['section']->getLuid();?>"/>
                    <? if (!empty($tplSection['previewThumbs'][$tplName])):?>
                        <a href="<?=$tplSection['previewThumbs'][$tplName]?>" class="icon-preview-tpl" title="Preview"></a>
                    <?endif;?>
                    <span class="icon-select-tpl"></span>
                </li>
            <? endforeach; ?>
        </ul>
    </div>
<? endforeach; ?>