<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <?=$this->information()->init(false);?>
        <?=$this->wizardSteps($this->wizard->getSteps());?>
    </section>

    <form method="post" action="/proposal/template/template" id="templatesForm">
        <div class="clearfix">
            <article class="content">
                <h3><strong>Kies uw template:</strong></h3>
                <br>

                <?
                    $this->formValue()->init();
                    if (null !== $this->proposalThemeRow):
                        $this->formValue()->setModel($this->proposalThemeRow);
                    else:
                        $this->formValue()->omitNullableModel(true);
                    endif;
                    $this->formValue()->setData($this->formSubmittedPostData ?: array());
                ?>
                <input type="hidden" name="proposalThemeId" value="<?=$this->formValue('id');?>"/>
                <input type="hidden" name="return" value="<?=$this->formValue('id');?>"/>
                <div class="switch-tpl hidden">
                    <p><?=$this->translate('Choose one of the following options to switch between custom and predefined templates.');?></p>
                    <hr>
                    <label class="inline margin-r">
                        <input type="radio" name="useCustom" value="1"
                               <?=$this->formValue('useCustomTemplate') ? 'checked="checked"' : ''; ?> />
                        <?=$this->translate('Use custom template');?>
                    </label>

                    <label class="inline margin-l">
                        <input type="radio" name="useCustom" value="0"
                               <?=$this->formValue('useCustomTemplate') ? '' : 'checked="checked"'; ?> />
                        <?=$this->translate('Use predefined template');?>
                    </label>
                </div>
                <div class="box-gray margin-b text-c useCustomTpl">
<!--                <div class="box-gray margin-b text-c useCustomTpl --><?//=$this->formValue('useCustomTemplate') ? '' : 'hidden'; ?><!--">-->
                    <a class="btn-big2 btn-green"
                        <? $returnUrl = base64_encode('template'); ?>
                       href="/proposal/template/create/companyId/<?=$this->formValue('companyId');?>/return/<?=$returnUrl;?>">
                        <? if ($this->formValue('useCustomTemplate')): ?>
                            <?=$this->translate('Update custom template')?>
                        <? else: ?>
                            <?=$this->translate('Create custom template')?>
                        <? endif; ?>
                    </a>
                </div>

                <div class="useDefaultTpl hidden">
<!--                <div class="useDefaultTpl --><?//=$this->formValue('useCustomTemplate') ? 'hidden' : ''; ?><!--">-->
                    <? require 'template.form.fields.phtml'; ?>
                </div>
            </article>

            <aside class="right">
                <?=$this->pageDescription();?>
            </aside>
        </div>

        <br>
        <hr>
        <p class="text-c">
            <a href="<?=$this->wizard->getPrevStepUrl();?>" class="btn-big btn-gray margin-r">
                <span class="icon-back">Stap terug</span>
            </a>

            <button type="submit" class="btn-big margin-r">
                <span class="icon-save">Opslaan</span>
            </button>

            <button type="submit" class="btn-big" name="next-step" value="1">
                <span class="icon-next">Volgende stap</span>
            </button>
        </p>
    </form>
</section>

    <script type="text/javascript">

    </script>

<script src="/modules-appalti/proposal/views/scripts/default/template/_resources/js/templates.js"></script>



