<link rel="stylesheet" href="/data/public-templates/common/css/fonts/all.css"/>
<table class="width form-fields tpl-typo" style="margin-bottom:20px;">
    <tbody>
        <tr>
            <th style="padding:2px 10px;"><h4><b><?= $this->translate('Huisstijl') ?></b></h4></th>
        </tr>
        <tr>
            <th style="padding:2px 10px;"><?= $this->translate('Om een op maat gemaakte offerte te genereren, hebben wij uw huisstijlgegevens nodig. Kies daarom hier het lettertype, lettergrootte en de kleuren die u wilt toepassen in uw offertes. U kunt deze gegevens later aanpassen.<br/><br/>Teveel moeite? Wij hebben alvast standaard voorinstellingen voor u gedaan. Zonder wijzigingen zullen deze instellingen gebruikt worden voor uw eerste offerte.') ?></th>
        </tr>
    </tbody>
</table>
<table class="zebra width form-fields tpl-typo">
    <colgroup>
        <col width="206px">
        <col width="*">
    </colgroup>
    <tbody>
        <tr>
            <th>
                <h5><b><?=$this->translate('Lettertype');?></b></h5>
                <?=$this->translate('Soort lettertype');?>:
            </th>
            <td class="va-bottom" colspan="4">
                <?=$this->FontFamilyComboBox()->toField('lettertype',  strtolower($this->formValue('lettertype')), array('id' => 'lettertype'));?>
            </td>
        </tr>
    </tbody>
</table>

<br>
<table class="zebra width form-fields tpl-typo">
    <colgroup>
        <col width="180px">
        <col width="120px">
        <col width="150px">
        <col width="220px">
    </colgroup>
    <thead>
        <tr>
            <th><h5><b><?=$this->translate('Tekst');?></b></h5></th>
            <th><h5><b><?=$this->translate('Tekstkleur');?></b></h5></th>
            <th><h5><b><?=$this->translate('Tekstgrootte');?></b></h5></th>
            <th><h5><b><?=$this->translate('Voorbeeld');?></b></h5></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <? $targetId = uniqid('target_'); ?>
            <th><?=$this->translate('Standaard tekst');?>:</th>
            <td>
                # <input type="text" disabled="disabled" name="textColor" size="7" value="<?=$this->formValue('textColor');?>"/>
                <i class="icon-colorpicker" data-target="#<?=$targetId;?>"></i>
            </td>
            <td>
                <?=$this->FontSizeComboBox()->toField('fontSize',  $this->formValue('fontSize'), array(
                    'data-target' => '#' . $targetId,
                    'data-attr' => 'fontSize',
                    'class' => 'font-size'
                ));?>
                <b class="font-style <?=$this->formValue('fontWeight') === 'bold' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="fontWeight" data-val="bold">B</b>
                <em class="font-style <?=$this->formValue('fontStyle') === 'italic' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="fontStyle" data-val="italic">I</em>
                <u class="font-style <?=$this->formValue('textDecoration') === 'underline' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="textDecoration" data-val="underline">U</u>
                <input type="hidden" name="fontWeight" id="fontWeight-<?=$targetId;?>" data-default="normal" value="<?=$this->formValue('fontWeight');?>"/>
                <input type="hidden" name="fontStyle" id="fontStyle-<?=$targetId;?>" data-default="normal" value="<?=$this->formValue('fontStyle');?>"/>
                <input type="hidden" name="textDecoration" id="textDecoration-<?=$targetId;?>" data-default="none" value="<?=$this->formValue('textDecoration');?>"/>
            </td>
            <td class="font-target" style="font-family: <?=$this->formValue('lettertype');?>">
                <span style="color: #<?=$this->formValue('textColor');?>;
                             <? if($this->formValue('fontSize')):?>font-size: <?=$this->formValue('fontSize')?>pt;<?endif;?>
                             <? if($this->formValue('fontWeight')):?>font-weight: <?=$this->formValue('fontWeight')?>;<?endif;?>
                             <? if($this->formValue('fontStyle')):?>font-style: <?=$this->formValue('fontStyle')?>;<?endif;?>
                             <? if($this->formValue('textDecoration')):?>text-decoration: <?=$this->formValue('textDecoration')?><?endif;?>"
                      id="<?=$targetId;?>">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </span>
            </td>
        </tr>
        <tr>
            <? $targetId = uniqid('target_'); ?>
            <th><?=$this->translate('Kop');?> 1:</th>
            <td>
                # <input type="text" disabled="disabled" name="h1Color" size="7" value="<?=$this->formValue('h1Color');?>"/>
                <i class="icon-colorpicker" data-target="#<?=$targetId;?>"></i>
            </td>
            <td>
                <?=$this->FontSizeComboBox()->toField('h1FontSize',  $this->formValue('h1FontSize'), array(
                    'data-target' => '#' . $targetId,
                    'data-attr' => 'fontSize',
                    'class' => 'font-size'
                ));?>
                <b class="font-style unselectable <?=$this->formValue('h1FontWeight') === 'bold' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="fontWeight" data-val="bold">B</b>
                <em class="font-style unselectable <?=$this->formValue('h1FontStyle') === 'italic' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="fontStyle" data-val="italic">I</em>
                <u class="font-style unselectable <?=$this->formValue('h1TextDecoration') === 'underline' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="textDecoration" data-val="underline">U</u>
                <input type="hidden" name="h1FontWeight" id="fontWeight-<?=$targetId;?>" data-default="normal" value="<?=$this->formValue('h1FontWeight');?>"/>
                <input type="hidden" name="h1FontStyle" id="fontStyle-<?=$targetId;?>" data-default="normal" value="<?=$this->formValue('h1FontStyle');?>"/>
                <input type="hidden" name="h1TextDecoration" id="textDecoration-<?=$targetId;?>" data-default="none" value="<?=$this->formValue('h1TextDecoration');?>"/>
            </td>
            <td class="font-target" style="font-family: <?=$this->formValue('lettertype');?>">
                <h1 style="color: #<?=$this->formValue('h1Color');?>;
                           <? if($this->formValue('h1FontSize')):?>font-size: <?=$this->formValue('h1FontSize')?>pt;<?endif;?>
                           <? if($this->formValue('h1FontWeight')):?>font-weight: <?=$this->formValue('h1FontWeight')?>;<?endif;?>
                           <? if($this->formValue('h1FontStyle')):?>font-style: <?=$this->formValue('h1FontStyle')?>;<?endif;?>
                           <? if($this->formValue('h1TextDecoration')):?>text-decoration: <?=$this->formValue('h1TextDecoration')?><?endif;?>"
                    id="<?=$targetId;?>">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </h1>
            </td>
        </tr>
        <tr>
            <? $targetId = uniqid('target_'); ?>
            <th><?=$this->translate('Kop');?> 2:</th>
            <td>
                # <input type="text" disabled="disabled" name="h2Color" size="7" value="<?=$this->formValue('h2Color');?>"/>
                <i class="icon-colorpicker" data-target="#<?=$targetId;?>"></i>
            </td>
            <td>
                <?=$this->FontSizeComboBox()->toField('h2FontSize',  $this->formValue('h2FontSize'), array(
                    'data-target' => '#' . $targetId,
                    'data-attr' => 'fontSize',
                    'class' => 'font-size'
                ));?>
                <b class="font-style <?=$this->formValue('h2FontWeight') === 'bold' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="fontWeight" data-val="bold">B</b>
                <em class="font-style <?=$this->formValue('h2FontStyle') === 'italic' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="fontStyle" data-val="italic">I</em>
                <u class="font-style <?=$this->formValue('h2TextDecoration') === 'underline' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="textDecoration" data-val="underline">U</u>
                <input type="hidden" name="h2FontWeight" id="fontWeight-<?=$targetId;?>" data-default="normal" value="<?=$this->formValue('h2FontWeight');?>"/>
                <input type="hidden" name="h2FontStyle" id="fontStyle-<?=$targetId;?>" data-default="normal" value="<?=$this->formValue('h2FontStyle');?>"/>
                <input type="hidden" name="h2TextDecoration" id="textDecoration-<?=$targetId;?>" data-default="none" value="<?=$this->formValue('h2TextDecoration');?>"/>
            </td>
            <td class="font-target" style="font-family: <?=$this->formValue('lettertype');?>;

                ">
                <h2 style="color: #<?=$this->formValue('h2Color');?>;
                           <? if($this->formValue('h2FontSize')):?>font-size: <?=$this->formValue('h2FontSize')?>pt;<?endif;?>;
                           <? if($this->formValue('h2FontWeight')):?>font-weight: <?=$this->formValue('h2FontWeight')?>;<?endif;?>;
                           <? if($this->formValue('h2FontStyle')):?>font-style: <?=$this->formValue('h2FontStyle')?>;<?endif;?>;
                           <? if($this->formValue('h2TextDecoration')):?>text-decoration: <?=$this->formValue('h2TextDecoration')?><?endif;?>"
                    id="<?=$targetId;?>">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </h2>
            </td>
        </tr>
        <tr>
            <? $targetId = uniqid('target_'); ?>
            <th><?=$this->translate('Kop');?> 3:</th>
            <td>
                # <input type="text" disabled="disabled" name="h3Color" size="7" value="<?=$this->formValue('h3Color');?>"/>
                <i class="icon-colorpicker" data-target="#<?=$targetId;?>"></i>
            </td>
            <td>
                <?=$this->FontSizeComboBox()->toField('h3FontSize',  $this->formValue('h3FontSize'), array(
                    'data-target' => '#' . $targetId,
                    'data-attr' => 'fontSize',
                    'class' => 'font-size'
                ));?>
                <b class="font-style <?=$this->formValue('h3FontWeight') === 'bold' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="fontWeight" data-val="bold">B</b>
                <em class="font-style <?=$this->formValue('h3FontStyle') === 'italic' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="fontStyle" data-val="italic">I</em>
                <u class="font-style <?=$this->formValue('h3TextDecoration') === 'underline' ? 'checked' : '';?>" data-target="#<?=$targetId;?>" data-attr="textDecoration" data-val="underline">U</u>
                <input type="hidden" name="h3FontWeight" id="fontWeight-<?=$targetId;?>" data-default="normal" value="<?=$this->formValue('h3FontWeight');?>"/>
                <input type="hidden" name="h3FontStyle" id="fontStyle-<?=$targetId;?>" data-default="normal" value="<?=$this->formValue('h3FontStyle');?>"/>
                <input type="hidden" name="h3TextDecoration" id="textDecoration-<?=$targetId;?>" data-default="none" value="<?=$this->formValue('h3TextDecoration');?>"/>
            </td>
            <td class="font-target" style="font-family: <?=$this->formValue('lettertype');?>">
                <h3 style="color: #<?=$this->formValue('h3Color');?>;
                           <? if($this->formValue('h3FontSize')):?>font-size: <?=$this->formValue('h3FontSize')?>pt;<?endif;?>;
                           <? if($this->formValue('h3FontWeight')):?>font-weight: <?=$this->formValue('h3FontWeight')?>;<?endif;?>;
                           <? if($this->formValue('h3FontStyle')):?>font-style: <?=$this->formValue('h3FontStyle')?>;<?endif;?>;
                           <? if($this->formValue('h3TextDecoration')):?>text-decoration: <?=$this->formValue('h3TextDecoration')?><?endif;?>"
                    id="<?=$targetId;?>">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </h3>
            </td>
        </tr>
        <tr>
            <? $targetId = uniqid('target_'); ?>
            <th><?=$this->translate('Opsomming');?>:</th>
            <td colspan="2">
                # <input type="text" disabled="disabled" name="listColor" size="7" value="<?=$this->formValue('listColor');?>"/>
                <i class="icon-colorpicker" data-target="#<?=$targetId;?>"></i>
            </td>
            <td class="font-target" style="font-family: <?=$this->formValue('lettertype');?>">
                <ul style="color: #<?=$this->formValue('listColor');?>" id="<?=$targetId;?>">
                    <li style="padding-left: .2em;">The quick brown fox jumps over the lazy dog. 1234567890</li>
                </ul>
            </td>
        </tr>
        <tr>
            <? $targetId = uniqid('target_'); ?>
            <th><?=$this->translate('Links');?>:</th>
            <td colspan="2">
                # <input type="text" disabled="disabled" name="linkColor" size="7" value="<?=$this->formValue('linkColor');?>"/>
                <i class="icon-colorpicker" data-target="#<?=$targetId;?>"></i>
            </td>
            <td class="font-target" style="font-family: <?=$this->formValue('lettertype');?>">
                <a href="#" style="color: #<?=$this->formValue('linkColor');?>" id="<?=$targetId;?>">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </a>
            </td>
        </tr>
    </tbody>
</table>

<br>
<table class="zebra width form-fields tpl-typo">
    <colgroup>
        <col width="193px">
        <col width="120px">
        <col width="*">
    </colgroup>
    <thead>
        <tr>
            <th colspan="3">
                <h5><b><?=$this->translate('Bladopmaak en tabellen');?></b></h5>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
<?
    $target1Id = uniqid('target1_');
    $target2Id = uniqid('target2_');
    $target3Id = uniqid('target3_');
    $target4Id = uniqid('target4_');
?>
            <th><?=$this->translate('Tabelranden');?>:</th>
            <td>
                # <input type="text" disabled="disabled" name="tableBorderColor" size="7" value="<?=$this->formValue('tableBorderColor');?>"/>
                <i class="icon-colorpicker" data-target="#<?=$target1Id;?>, #<?=$target2Id;?>, #<?=$target3Id;?>, #<?=$target4Id;?>"></i>
            </td>
            <td>
                <table style="width: 90px; font-size: 50%;">
                    <tr>
                        <td style="width: 20px; border-width: 0 1px 1px 0; border-style: solid; border-color: #<?=$this->formValue('tableBorderColor')?>"
                            id="<?=$target1Id;?>" data-attr="border-color">&nbsp;</td>
                        <td style="width: 80px; border-width: 0 1px 1px 0; border-style: solid; border-color: #<?=$this->formValue('tableBorderColor')?>"
                            id="<?=$target2Id;?>" data-attr="border-color">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; border-width: 0 1px 0 0; border-style: solid; border-color: #<?=$this->formValue('tableBorderColor')?>"
                            id="<?=$target3Id;?>" data-attr="border-color">&nbsp;</td>
                        <td style="width: 80px; border-width: 0 1px 0 0; border-style: solid; border-color: #<?=$this->formValue('tableBorderColor')?>"
                            id="<?=$target4Id;?>" data-attr="border-color">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
<?
    $tableHeadBgColor1 = uniqid('target1_');
    $tableHeadBgColor2 = uniqid('target2_');
?>
            <th><?=$this->translate('Achtergrond eerste rij');?>:</th>
            <td>
                # <input type="text" disabled="disabled" name="tableHeadBgColor" size="7" value="<?=$this->formValue('tableHeadBgColor');?>"/>
                <i class="icon-colorpicker" data-target="#<?=$tableHeadBgColor1;?>, #<?=$tableHeadBgColor2;?>"></i>
            </td>
            <td>
                <span style="display: inline-block; width: 126px; height: 18px; background: #<?=$this->formValue('tableHeadBgColor');?>"
                      id="<?=$tableHeadBgColor1;?>" data-attr="background">&nbsp;</span>
            </td>
        </tr>
        <tr>
            <? $targetId = uniqid('target_'); ?>
            <th><?=$this->translate('Tekstkleur eerste rij');?>:</th>
            <td>
                # <input type="text" disabled="disabled" name="tableHeadTextColor" size="7" value="<?=$this->formValue('tableHeadTextColor');?>"/>
                <i class="icon-colorpicker" data-target="#<?=$targetId;?>"></i>
            </td>
            <td class="font-target" style="font-family: <?=$this->formValue('lettertype');?>">
                <span style="display: inline-block; width: 126px; height: 18px; background: #<?=$this->formValue('tableHeadBgColor');?>"
                      id="<?=$tableHeadBgColor2;?>" data-attr="background">
                    <span style="height: 1.5em; overflow: hidden; display: inline-block; padding: 0 .5em; color: #<?=$this->formValue('tableHeadTextColor');?>" id="<?=$targetId;?>">
                        The quick brown fox jumps over the lazy dog. 1234567890
                    </span>
                </span>
            </td>
        </tr>
    </tbody>
</table>