<?php
    $this->layout()->setLayout('auth');
?>
<?=$this->information()->init(false); ?>
<form action="/account/authenticate/login" method="POST" id="<?=$authFormId = uniqid('form-'); ?>">
    <table class="form-fields">
        <tr>
            <th>E-mailadres:</th>
            <td>
                <input type="hidden" name="ideal" value="ideal" />
                <input type="text"
                       name="username"
                       value="<?=!empty($this->username) ? $this->username : ''; ?>"
                       tabIndex="1"
                       class="<?=$this->information()->toCls('username'); ?>"/>
            </td>
        </tr>
        <tr>
            <th>Wachtwoord:</th>
            <td>
                <input type="password"
                       name="password"
                       class="<?=$this->information()->toCls('password'); ?>"
                       tabIndex="2" />
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <br>
                <input type="submit" value="Login" class="btn-big"  tabIndex="3" />
            </td>
        </tr>
    </table>
    <script type="text/javascript" language="javascript">
        document.getElementById('<?=$authFormId; ?>').username.focus();
    </script>
</form>
