
<!doctype html>
<!--[if IE 7 ]>    <html class="oldie ie7" lang="nl"> <![endif]-->
<!--[if IE 8 ]>    <html class="oldie ie8" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class=lang="nl"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Appalti Offertetool  | Welkom</title>
    <link rel="shortcut icon" href="/layouts/scripts/appalti/main/_resources/images/favicon.ico"/>
    <link rel="stylesheet" href="/public/css/styles.css"/>
    <link rel="stylesheet" href="/public/js/jquery-plugins/modal/modal.css"/>
    <link rel="stylesheet" href="/public/js/jquery-plugins/tooltips/tooltip.css"/>
    <script src="/public/js/jquery-1.7.2.min.js"></script>
    <script src="/public/js/jquery-plugins/validate/jquery.validate.min.js"></script>
    <script src="/public/js/jquery-plugins/validate/additional-methods.min.js"></script>
    <script src="/public/js/jquery-plugins/form/jquery.form.observable.js"></script>
    <script src="/public/js/jquery-plugins/tooltips/tooltip.min.js"></script>
    <script src="/layouts/scripts/appalti/main/_resources/js/Main.js"></script>
    <script src="/public/js/jquery-plugins/modal/modal.min.js"></script>
    <script type="text/javascript">
        var _gaq = window._gaq || [];
        window.onerror = function(msg, url, line) {
            var preventErrorAlert = true;
            _gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line]);
            return preventErrorAlert;
        };
    </script>
    <script type="text/javascript">
        jQuery.error = function (message) {
            _gaq.push(['_trackEvent', 'jQuery Error', message, navigator.userAgent]);
        }
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33326094-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <style type="text/css">
        .ie7 body,
        .ie8 body {
            background: url('/public/images/background-login.jpg') #ffffff repeat-x;
        }
    </style>
</head>
<body>
    <div id="container">
        <div class= "leftColumn">
            <a href="/"><img src="/public/images/appalti_logo.png" width="250px" border="0"/></a>
            <form action="/account/authenticate/login" class="validatable" method="POST" id="form-52aad2fe1fd83">
                <div class="loginFields">
                <input type="text" name="username" value="" placeholder="Gebruikersnaam" tabIndex="1" class="required"/>
                <div class="clear"></div>
                <input type="password" placeholder="Wachtwoord" name="password" class="required" tabIndex="2" />
                </div>
                <input type="submit" value="Inloggen bij de Offertetool" class="btn-green"  tabIndex="3" />
                <input type="hidden" name="return" value="/ap-default"/>
                <div class="supportLinks">
                <a href="/account/password/lost-password/">Wachtwoord vergeten?</a>
                <span class="seperator"> | </span>
                <!--<a href="#support-info" data-toggle="modal"> Stel uw vraag</a>-->
                <a href="#support-feedback-form" data-toggle="modal"> Stel uw vraag</a>
                </div>
                <script type="text/javascript" language="javascript">
                    document.getElementById('form-52aad2fe1fd83').username.focus();
                </script>
            </form>
            <?= $this->information()->init() ?>
        </div>
        <div class="rightColumn">
                <a href="http://www.appalti-software.nl"><img src="/public/images/appalti_cta_image.png" width="580px" border="0"/></a>
        </div>
        <modals>
        </modals>
        <style type="text/css">
            modals .modal {
                font-family: Tahoma,Geneva,sans-serif;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                font-size: 12px;
                line-height:18px;
            }
            modals .modal form {
                color: #000000;
                margin: 10px 10px 20px;
                padding: 15px;
                width: 780px;
            }
            modals .modal h2 {
                font-size: 18px;
                color: #7B2B83;
                font-weight: 400;
                margin: 0 0 0.5em;
                line-height: 27px;
            }
            modals .modal p {
                margin: 0 0 20px;
                font-size: 12px;
                line-height: 1.5;
            }
            modals .modal input,
            modals .modal textarea {
                background-color: #FFFFFF;
                border: 1px solid #ABABAD;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
                color: #000000;
                margin: 3px 0 15px;
                padding: 3px;
                font-family: Tahoma,Geneva,sans-serif;
                font-size: 12px;
                vertical-align: baseline;
            }
            modals .modal textarea {
                vertical-align: top;
            }
            modals .modal label {
                cursor: pointer;
            }
            modals .modal button {
                xbackground-image: -moz-linear-gradient(center top , #BD7CC4 0%, #B267BA 6%, #7B2B83 100%);
                xbackground-image: -webkit-linear-gradient(top, #bd7cc4 0%, #b267ba 6%, #750082 100%);
                xbackground-image: -o-linear-gradient(top, #bd7cc4 0%, #b267ba 6%, #7b2b83 100%);
                xbackground-image: linear-gradient(top, #bd7cc4 0%, #b267ba 6%, #7b2b83 100%);

                background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkN2NjNCIvPjxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiNiMjY3YmEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTAwODIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
                background-size:100%;
                background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bd7cc4), color-stop(6%, #b267ba), color-stop(100%, #750082));
                background-image:-webkit-linear-gradient(top, #bd7cc4 0%,#b267ba 6%,#750082 100%);
                background-image:-moz-linear-gradient(top, #bd7cc4 0%,#b267ba 6%,#750082 100%);
                background-image:-o-linear-gradient(top, #bd7cc4 0%,#b267ba 6%,#750082 100%);
                background-image:linear-gradient(top, #bd7cc4 0%, #b267ba 6%,#750082 100%);

                background-size: 100% auto;
                border: 1px solid #7B2B83;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                margin: 0;
                padding: 3px 10px;
                text-decoration: none;
                text-shadow: 1px 1px 1px #000000;
                font-family: Tahoma,Geneva,sans-serif;
                font-size: 12px;
                line-heighth:16px;
                vertical-align: baseline;
            }
        </style>
    </div>
    <div class="copyright">
	Copyright 2014 appalti.nl, inc. Alle rechten voorbehouden.
	</div>
    <script type="text/javascript">
        jQuery(function(){
                $.ajax({
                    url: '/support-ticket/feedback/form'
                })
                .done(function(data, status, xhr){
                    $('modals').append(data);
                })
                .fail(function(){

                });
        });
    </script>
</body>
</html>
<!-- http://dev.offertemaken.artdeco.local/support-ticket/client/form -->