body {
    min-width: 485px;
    font: 14px/1.231 'Helvetica';
}
.header {
    background: url("/layouts/scripts/default/auth/_resources/images/bg-header.gif") repeat-x 0 0;
    height: 160px;
    position: relative;
}
.header h1 {
    bottom: 22px;
    font-size: 150%;
    position: absolute;
    right: 22px;
}
.logo {
    background: url("/layouts/scripts/default/auth/_resources/images/logo.png") no-repeat 0 0;
    display: block;
    height: 134px;
    margin: 10px 0 0 22px;
    position: absolute;
    width: 200px;
}
.auth-wrap  {
    border: 1px solid #86CA51;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 100px auto 0;
    -moz-box-shadow: 0 0 10px #86CA51;
    -webkit-box-shadow: 0 0 10px #86CA51;
    box-shadow: 0 0 10px #86CA51;
    overflow: hidden;
    width: 340px;
}
.auth-wrap form {
    background: #86CA51;
    background: -moz-linear-gradient(center top , #C0F596 0%, #86CA51 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C0F596), color-stop(100%,#6CA51));
    background: -webkit-linear-gradient(top, #C0F596 0%,#6CA51 100%);
    background: -o-linear-gradient(top, #C0F596 0%,#6CA51 100%);
    background: -ms-linear-gradient(top, #C0F596 0%,#6CA51 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C0F596', endColorstr='#6CA51',GradientType=0 );
    background: linear-gradient(top, #C0F596 0%,#6CA51 100%);
    padding: 30px 30px 20px;
    width: 280px;
}
.login input[type="text"], .login input[type="password"],
.lost-password input[type="text"], .lost-password input[type="password"] {
    border: 1px solid #C2CBCF;
    color: #444;
    padding: 2px;
    width: 201px;
}
.login input[type="submit"] {
    padding:  .1em 1em;
}
.auth-wrap table {
    width: 100%;
}
.auth-wrap th {
    padding-right: 5px;
    text-align: left;
    font-weight: 400;
}
.auth-wrap tr > * {
    vertical-align: middle;
}
.auth-wrap tr > th, .auth-wrap tr > td {
    padding-top: 1.5em;
}
.auth-wrap tr:first-child > * {
    padding-top: 0;
}
.recover-pass {
    font-size: 90%;
    font-weight: 400;
    padding-top: 3px;
}
.annotation {
    border-top: 1px solid #000;
    font-size: 80%;
    margin-top: 15px;
    padding-top: 3px;
}
.annotation p {
    margin-bottom: 5px;
}
td.submit {
    padding-top: 1em !important;
    text-align:  right;
}
.information {
    margin: 0 0 10px;
}
.information h6 {
    color: #f00;
    padding: 5px 0;
    text-align: center;
}
.ui-state-error {
    background: #FEF6F3;
    border: 1px solid #f00;
    color: #000;
    line-height: 1.5em;
}
.ui-valid-state-error {
    background: url("/layouts/scripts/default/auth/_resources/images/icons-16/error.png") no-repeat 0 50%;
    display: block;
    margin-left: 5px;
    height: 16px;
    width: 16px;
}

