<div id="cover">
    <style type="text/css">
        <? include_once __DIR__ . "/css/cover.css" ?>
        <? include_once __DIR__ . "/css/cover-footer.css" ?>
    </style>

    <div id="coverBlocks">
        <? foreach($metadata as $ii => $blockDefinitionRow): ?>
            <? if ($blockDefinitionRow instanceof Proposal_Model_ProposalBlockDefinition): ?>
                <? $fitableImg = $blockDefinitionRow->kind === 'file' && $blockDefinitionRow->fitable; ?>
                <? if ($fitableImg):?><div class="fitableImg"><? endif; ?>

                <?=$blockDefinitionRow->getMetadata(); ?>

                <? if ($fitableImg):?></div><? endif; ?>
            <? else: ?>
                <?=$blockDefinitionRow;?>
            <? endif;?>
        <? endforeach; ?>
    </div>
</div>