<?php
    $this->layout()->disableLayout(true);
?>

<?foreach($this->rowset as $information):
    $mRowset = $information->getMenu();
    if (empty($mRowset)):
        continue;
    endif;
?>
    <h3><?=$information->getTitle(); ?></h3>
    <ul>
        <?foreach($mRowset as $kind): ?>
            <li><a data-module="<?=$information->getName(); ?>" data-kind="<?=$kind['name']; ?>" href="#"><?=$this->escape($kind['title']); ?></a></li>
        <?endforeach; ?>
    </ul>
<?endforeach; ?>