<div id="contentBlocks">
    <style type="text/css">
        <? include_once __DIR__ . "/../css/content.css" ?>
    </style>

    <? if ($this->_proposalTheme->includePersonalIntro()): ?>
        <? if (!empty($this->_proposalTheme->personalIntroductionHeader)): ?>
            <h1><?=htmlspecialchars($this->_proposalTheme->personalIntroductionHeader);?></h1>
        <? endif; ?>
        <?=$this->_proposalTheme->personalIntroduction; ?>
        <div style="page-break-after:always;"></div>
    <?endif; ?>

    <? foreach($metadata as $ii => $blockDefinitionRow): ?>
        <? if ($blockDefinitionRow instanceof Proposal_Model_ProposalBlockDefinition): ?>
            <?if($blockDefinitionRow->hasPageBreak() && $ii != 0): ?>
                <div style="page-break-before: always;"></div>
            <?endif; ?>

            <?if (!$blockDefinitionRow->isFitable()): ?>
                <?=$blockDefinitionRow->getTitleWithTag();?>
            <?endif; ?>

            <? if ($blockDefinitionRow->kind === 'file'):?>
                <div class="center-img">
            <? endif;?>

            <?=$blockDefinitionRow->getMetadata(); ?>

            <? if ($blockDefinitionRow->kind === 'file'):?>
                </div>
            <? endif;?>
        <? else: ?>
            <?=$blockDefinitionRow; ?>
        <? endif;?>
    <? endforeach; ?>
</div>

