<style>
.article-luid-link {
    background: url(/modules-cms/article/views/themes/default/images/luid-link.png) no-repeat 5% 50% !important;
    border-bottom: 0pt none;
}
</style>
<script type="text/javascript">
Application.block('<?=$this->blockId; ?>', [
    'article/article-form/form-information-block'
], function() {

    this.form = new Module.Article.Block.FormInformation({
        border: false
    });

    this.add(this.form);
    this.doLayout();

    Ext.apply(this, {
        toValues: function() {
            return this.form.getValues();
        },
        isValid: function() {
            return this.form.form.isValid();
        }
    });

    <?if (null !== $this->articleRow):
        /**
         * @FIXME Cannot find nice method for upload local values
         */
    ?>
        var reader = this.form.form.reader;
        var data = reader.read({
            success: true,
            row: <?=Zend_Json::encode($this->articleRow->toArray()); ?>
        });

        this.form.form.loadRecord(data.records[0]);
    <?else: ?>
        this.form.setAutoLuidGeneration(true);
    <?endif; ?>
});
</script>