<? $this->headMeta()->appendHttpEquiv('Refresh', '5;URL=' . $this->baseUrl('/')); ?>
<div class="box-gray">
    <h1><?=$this->translate('Access denied')?></h1>
    <hr>
    <?if($this->message): ?>
        <code><?=$this->translate($this->message); ?></code>
    <?endif; ?>
    <hr>
    <p>
        <?=$this->translate('You will be redirected to main screen automatically in 5 seconds.')?>
    </p>
</div>
