<h1><?=$this->translate('An error occurred');?></h1>
<hr>
<?if (!empty($this->message)): ?>
    <p>
        <b class="text-black"><?=$this->translate('Error type');?>:</b> <?=$this->translate($this->message); ?>
    </p>
<?endif; ?>
<?if(!empty($this->errors)): ?>
    <p><b>Message: <?=$this->translate($this->errors->exception->getMessage()); ?></b></p>
    <hr/>
    <p><b>Trace:</b><br/> <code><?=nl2br($this->errors->exception->getTraceAsString()); ?></code>
    </p>
<?endif; ?>