<div class="modal reorder-blocks" data-backdrop="static">
    <h2><?=$this->translate('Change blocks order in category');?> "<?=$this->category->name?>"</h2>
    <p>
        <?=nl2br($this->translate('To change block position drag and drop it to the position you like it to be in library'));?>
    </p>

    <form action="/proposal-block/category/save-blocks-order" method="post">
        <input value="json" type="hidden" name="format"/>
        <ol class="sortable-list">
            <? foreach ($this->blocks as $block): ?>
                <li>
                    <?=$this->escape($block->name);?>
                    <i class="sortable-pos">
                        <i class="icon-move-down"></i>
                        <i class="icon-move-up"></i>
                    </i>
                    <input value="<?=$block->position;?>" type="hidden" name="blocks[<?=$block->getId();?>]"/>
                </li>
            <? endforeach; ?>
        </ol>
        <hr>
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <i class="icon-save"><?=$this->translate('Opslaan');?></i>
            </button>
            <br />
            <br />
            <a href="/proposal-block/" data-dismiss="modal"><small class="text-black"><?=$this->translate('Annuleer');?></small></a>
        </p>
    </form>
</div>
<script src="/public/js/jquery-ui/jquery-ui-sortable.min.js"></script>
<script src="/modules-appalti/proposal-block/views/scripts/default/category/_resources/js/blockOrder.js"></script>
