<?php
    /**
     * This template dependent on categoryRow
     */
    assert(null !== $this->categoryRow);

    foreach ($this->categoryRow->getBlockRowset($this->companyId, $this->libraryRow) as $i => $blockRow):
?>
    <p class="lib-item-row <?=!empty($this->isProposal) ? 'proposal-lib-item' : '';?> <?=$i % 2 == 0 ? 'even' : 'odd'; ?>">
<?      if (empty($this->isProposal)): ?>
        <span><?=$this->escape($blockRow->name); ?></span>
        <span class="lib-block-actions">
            <a class="icon-zoom library-block-action" <? if($blockRow->kind === 'text'): ?>data-fullscreen="true"<? endif; ?>
                href="/proposal-block/index/preview/blockId/<?=$blockRow->getId(); ?>/categoryId/<?=$blockRow->categoryId;?>/format/<?=$blockRow->kind; ?>/" title="Voorbeeld">&nbsp;</a>
<?          if ($blockRow->isEditable()): ?>
                <a class="icon-edit library-block-action" title="<?=$this->translate('Bewerken');?>"
                   href="/proposal-block/index/update/blockId/<?=$blockRow->getId(); ?>/format/<?=$blockRow->kind; ?>/">
                    &nbsp;</a>
                <a class="icon-delete" title="Verwijder"
                   onclick="return confirm('<?=$this->translate('Verwijder blok uit de bibliotheek?');?>');"
                   href="/proposal-block/index/delete/blockId/<?=$blockRow->getId(); ?>/format/<?=$blockRow->kind; ?>/">
                    &nbsp;</a>
<?          endif;?>
        </span>
<?      else: ?>
        <label class="searchable">
<?          $definition = isset($this->definitions[$blockRow->getId()]) ? $this->definitions[$blockRow->getId()] : null; ?>
            <input  type="checkbox"
                    value="<?=(int) $blockRow->getId();?>"
                    data-default="<?= (int) $blockRow->isDefault(); ?>"
                    data-inbetween="<?= (int) $this->categoryRow->inBetween(); ?>"
                    data-fitable="<?= (int) $blockRow->fitable; ?>"
                    data-kind="<?=$blockRow->kind; ?>"
<?          if ($definition): ?>
                    data-block-definition-id="<?=(int) $definition->id; ?>"
                    data-save-section-id="<?=(int) $definition->sectionId; ?>"
                    data-position="<?=(int) $definition->position; ?>"
                    checked="checked"
<?          endif; ?>
            />
            <?= $this->escape($blockRow->name) ?>
        </label>
<?      endif;?>
    </p>
<?  endforeach; ?>