<div class="modal new-cat" data-backdrop="static">
    <h4><b><?=$this->translate((empty($this->row) ? 'Create new' : 'Update') . ' subcategory');?></b></h4>
    <form id="modifyCategory" method="post" action="/proposal-block/category/<?= empty($this->row) ? 'create' : 'update';?>"
           class="validatable">
        <input type="hidden" name="libraryId" value="<?=$this->libraryRow->getId()?>"/>
        <input type="hidden" name="format" value="json"/>
        <? if (!empty($this->row)): ?>
            <input type="hidden" name="id" value="<?=$this->row->getId();?>"/>
        <? endif; ?>
        <? if (empty($this->row) && empty($this->parentId)): ?>
            <label><?=$this->translate('Parent category');?>:</label>
            <?=$this->modules('proposal-block')->categoryComboBox(true)->toField('parentId', null, array(
                'class' => 'required',
                'style' => 'width: 278px'
            )); ?>
        <? else: ?>
            <input type="hidden" name="parentId" value="<?=$this->parentId ? $this->parentId : $this->row->parentId;?>"/>
        <? endif; ?>

        <input type="hidden" name="companyId" value="<?=$this->companyId;?>"/>
        <label><?=$this->translate('Subcategory name');?>:</label>
        <input placeholder="<?=$this->translate('Name here');?>" size="50"
               type="text" name="name" value="<?=empty($this->row) ? '' : $this->row->name;?>" maxlength="50" class="required" />
        <hr>
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <i class="icon-save"><?=$this->translate('Opslaan');?></i>
            </button>
            <br />
            <br />
            <a href="/proposal-block/" data-dismiss="modal"><small class="text-black"><?=$this->translate('Annuleer');?></small></a>
        </p>
    </form>
</div>