<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <a href="/company/library"><span>Bibliotheken</span></a>
    <span>Bibliotheek '<?=$this->libraryRow->name?>'</span>
</section>
<?=$this->information()->init(false);?>
<style type="text/css">
    .library form * {
        vertical-align: top;
    }
    .library form .name {
        display:inline-block;
        color: #7B2B83;
        font-weight: 700;
        width:80px;
        margin-top:6px;
    }
    .library form input  {
    }
    .library form textarea {
        width:350px;
    }
    .library form .actions {
        display:inline-block;
        width:100px;
        margin-top:6px;
        text-align:center;
    }
</style>
<div class="library">
    <form method="post" action="">
        <input type="hidden" name="library[id]" value="<?=$this->libraryRow->getId()?>"/>
        <span class="name">Bibliotheek</span>
        <input type="text" name="library[name]" value="<?=$this->libraryRow->name?>" placeholder="bibliotheeknaam">
        <textarea name="library[description]" placeholder="Beschrijving"><?=$this->libraryRow->description?></textarea>
        <span class="actions">
            <input type="submit" value="Opslaan" name="">
            <a href="/company/library">
                <span>Cancel</span>
            </a>
        </span>

        <div class="accordion lib-cat">
        </div>
    </form>

<?/* categories */ ?>
    <div class="blocks-container">
        <br/>
<?/**?>        <h1>Sjabloon beheer</h1><?/**/?>
<?/* actions*/ ?>
        <div class="box-gray actions-block margin-b">
            <a class="btn-green btn-big margin-r action-create-block text-c"
               data-toggle="modal" data-target="modal-container"
               href="/proposal-block/index/create/library/<?=$this->libraryRow->getId()?>/format/file"><?=$this->translate('Nieuw bestand uploaden');?></a>
            <a class="btn-green btn-big margin-l action-create-block text-c"
               data-toggle="modal" data-target="modal-container"
               href="/proposal-block/index/create/library/<?=$this->libraryRow->getId()?>/format/text/creationFlag/1"><?=$this->translate('Nieuwe tekst maken');?></a>
        </div>
<?/* end actions*/ ?>

        <div class="accordion lib-cat">
<?  foreach ($this->response->getRowset() as $row): ?>
<?      $blocksCount = $row->getBlockCount($this->libraryRow); ?>
<?      $children = $row->getChildren($this->libraryRow); ?>
                <h4 class="accordion-section-title" data-id="<?=$row->getId(); ?>">
                    <a href="#<?=$row->name; ?>">
                        <?=$row->name; ?>&nbsp;
                        (<span class="tip" title="<?=$this->translate('Blocks');?>"><?=$blocksCount;?></span> / <span class="tip" title="<?=$this->translate('Subcategories');?>"><?=$children->count();?></span>)
                    </a>
<?      if ($this->acl('proposal-block', 'category', 'create-subcategory')): ?>
                    <a href="#" class="icon-subcat cat-create float-r margin-r"
                           title="<?=$this->translate('Create subcategory');?>"
                           data-id="<?= $row->getId(); ?>"
                           data-library="<?= $this->libraryRow->getId(); ?>">&nbsp;</a>
<?      endif; ?>
                </h4>
                <div class="accordion-section root-cat" id="<?=$row->getId(); ?>" data-hash="<?=$row->name; ?>" data-library="<?= $this->libraryRow->getId(); ?>">
<?      if ($children->count()):?>
<?/* subcategories */ ?>
                        <div class="accordion lib-subcat">
<?          foreach($children as $child): ?>
<?              $childBlocksCount = $child->getBlockCount($this->libraryRow)?>
                                <div class="accordion-section-title accordion-section-title-sub" data-id="<?=$child->getId(); ?>">
                                    <a href="#"><span class="subcat-name"><?=$child->name; ?></span> (<?=$childBlocksCount;?>)</a>
<?              if ($this->acl('proposal-block', 'category', 'create-subcategory')): ?>
                                        <div class="float-r margin-l">
                                            <i class="icon-edit cat-rename">&nbsp;</i>
                                            <a href="/proposal-block/category/delete/id/<?=$child->getId(); ?>/hash/<?=$row->name; ?>"
                                               class="icon-delete cat-delete no-float"
                                               data-confirm="<?=$this->translate("Weet u zeker dat u deze subcategorie wilt verwijderen?\nAlle blokken uit deze categorie zullen naar de bovenliggende categorie worden verplaatst.");?>"
                                            title="<?=$this->translate('Delete subcategory');?>">&nbsp;</a>
                                        </div>
<?              endif; ?>
                                </div>
                                <div class="accordion-section sub-cat" id="<?=$child->getId(); ?>">
<?              if ($childBlocksCount): ?>
                                        <div class="lib-cat-head">
                                            <input type="checkbox" class="tip" title="<?=$this->translate('Select/deselect all');?>" />
                                            <hgroup>
                                                <h5><?=$this->translate('Aangemaakt');?></h5>
                                                <h5><?=$this->translate('Naam');?></h5>
                                            </hgroup>
<?                  if ($childBlocksCount): ?>
<?                      if ($this->acl('proposal-block', 'category', 'change-blocks-order')): ?>
                                                    <a  class="reorder-items float-r margin-l tip" href="#"
                                                        title="<?=$this->translate('Reorder blocks in the category');?>"
                                                        data-category="<?=$child->getId()?>"
                                                        data-library="<?= $this->libraryRow->getId(); ?>">
                                                        <i class="icon-move-down"></i><i class="icon-move-up"></i>
                                                        <?=$this->translate('Change blocks order');?>
                                                    </a>
<?                      endif; ?>
                                                <form action="/proposal-block/index/move-to" method="post" class="float-r margin-r move-selected invisible">
                                                    <label class="inline"><?=$this->translate('Move selected items to');?>: </label>
                                                        <?=$this->modules('proposal-block')->categoryComboBox($this->libraryRow)->toField('categoryId', $child->getId(), array(
                                                        'class' => 'no-margin',
                                                        'id'    => null,
                                                        'data-disable' => $child->getId()
                                                    )); ?>
                                                </form>
<?                  endif; ?>
                                        </div>
                                        <?=$this->block('category-block-list', array(
                                            'isProposal' => $this->isProposal,
                                            'categoryId' => $child->getId(),
                                            'companyId' => $this->companyId,
                                            'libraryRow' => $this->libraryRow,
                                        ), null, true)->getBlockObj();?>
<?              else: ?>
                                        <p class="accordion-section-empty">
                                            <? if ($this->isProposal):?>
                                            <a href="/proposal-block/index"><?=$this->translate('Ga direct naar uw bibliotheek');?></a>
                                            <? else: ?>
                                            <?=$this->translate('Sectie is leeg');?>
                                            <? endif; ?>
                                        </p>
<?              endif; ?>
                                </div>
<?          endforeach; ?>
<?/* end subcategories */ ?>

                            <div class="accordion-section-title accordion-section-title-sub" data-id="uncategorized-<?=$row->getId();?>">
                                <a href="#"><?=$this->translate('Uncategorized'); ?> (<?=$blocksCount?>)</a>
                            </div>
                            <div class="accordion-section sub-cat" id="uncategorized-<?=$row->getId();?>">
<?/* category blocks */ ?>
<?          if (empty($blocksCount)): ?>
                                    <p class="accordion-section-empty">
                                        <? if ($this->isProposal):?>
                                        <a href="/proposal-block/index"><?=$this->translate('Ga direct naar uw bibliotheek');?></a>
                                        <? else: ?>
                                        <?=$this->translate('Sectie is leeg');?>
                                        <? endif; ?>
                                    </p>
<?          else: ?>
                                    <div class="lib-cat-head">
                                        <input type="checkbox" class="tip" title="<?=$this->translate('Select/deselect all');?>" />
                                        <hgroup>
                                            <h5><?=$this->translate('Aangemaakt');?></h5>
                                            <h5><?=$this->translate('Naam');?></h5>
                                        </hgroup>
<?              if ($this->acl('proposal-block', 'category', 'change-blocks-order')): ?>
                                            <a  class="reorder-items float-r margin-l tip" href="#"
                                                title="<?=$this->translate('Reorder blocks in the category');?>"
                                                data-category="<?=$row->getId()?>"
                                                data-library="<?= $this->libraryRow->getId(); ?>">
                                                <i class="icon-move-down"></i><i class="icon-move-up"></i>
                                                <?=$this->translate('Change blocks order');?>
                                            </a>
<?              endif; ?>
                                        <form action="/proposal-block/index/move-to" method="post" class="float-r margin-r move-selected invisible">
                                            <label class="inline"><?=$this->translate('Move selected items to');?>: </label>
                                            <?=$this->modules('proposal-block')->categoryComboBox($this->libraryRow)->toField('categoryId', $row->getId(), array(
                                                'class' => 'no-margin',
                                                'id'    => null,
                                                'data-disable' => $row->getId()
                                            )); ?>
                                        </form>
                                    </div>
                                    <?=$this->block('category-block-list', array(
                                        'isProposal' => $this->isProposal,
                                        'categoryId' => $row->getId(),
                                        'companyId' => $this->companyId,
                                        'libraryRow' => $this->libraryRow,
                                    ), null, true)->getBlockObj();?>
<?          endif; ?>
<?/* end category blocks */ ?>
                            </div>
                        </div>
<?/* end subcategories */ ?>
<?      else: ?>
<?          if (empty($blocksCount)): ?>
                            <p class="accordion-section-empty">
                                <? if ($this->isProposal):?>
                                <a href="/proposal-block/index"><?=$this->translate('Ga direct naar uw bibliotheek');?></a>
                                <? else: ?>
                                <?=$this->translate('Sectie is leeg');?>
                                <? endif; ?>
                            </p>
<?          else: ?>
                            <div class="lib-cat-head">
                                <input type="checkbox" class="tip" title="<?=$this->translate('Select/deselect all');?>" />
                                <hgroup>
                                    <h5><?=$this->translate('Aangemaakt');?></h5>
                                    <h5><?=$this->translate('Naam');?></h5>
                                </hgroup>
<?              if ($this->acl('proposal-block', 'category', 'change-blocks-order')): ?>
                                    <a  class="reorder-items float-r tip" href="#"
                                        title="<?=$this->translate('Reorder blocks in the category');?>"
                                        data-category="<?=$row->getId()?>"
                                        data-library="<?= $this->libraryRow->getId(); ?>">
                                        <i class="icon-move-down"></i><i class="icon-move-up"></i>
                                        <?=$this->translate('Change blocks order');?>
                                    </a>
<?              endif; ?>
                                <form action="/proposal-block/index/move-to" method="post" class="float-r margin-r move-selected invisible">
                                    <label class="inline"><?=$this->translate('Move selected items to');?>: </label>
                                    <?=$this->modules('proposal-block')->categoryComboBox($this->libraryRow)->toField('categoryId', $row->getId(), array(
                                        'class' => 'no-margin',
                                        'id'    => null,
                                        'data-disable' => $row->getId()
                                    )); ?>
                                </form>
                            </div>
                            <?=$this->block('category-block-list', array(
                                'isProposal' => $this->isProposal,
                                'categoryId' => $row->getId(),
                                'companyId' => $this->companyId,
                                'libraryRow' => $this->libraryRow,
                            ), null, true)->getBlockObj();?>
<?          endif; ?>
<?      endif; ?>
                </div>
<?  endforeach; ?>

        </div>
    </div>
<?/* end actions*/ ?>
</div>

<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
<script src="/modules-appalti/proposal-block/views/blocks/default/_resources/js/library.js"></script>
<script type="text/javascript">
jQuery(function(){
    function autoHeight(obj) {
        var enteredText = $(obj).val();
        numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
        var lineHeight = parseFloat($(obj).css("line-height"));
        $(obj).css('height', (numberOfLineBreaks + 2) * lineHeight);
    }
    $('textarea').each(function(){
        autoHeight(this);
    });
    $('textarea').keyup(function(e){
        if (   e.keyCode === 13 /* enter     */
            || e.keyCode ===  8 /* backspace */
            || e.keyCode === 46 /* delete    */ ) {
            autoHeight(this);
        }
    });


    $('p.lib-item-row').click(function(){
        $(this).find('input').attr('checked', !$(this).find('input').attr('checked')).change();
    });
    $('p.lib-item-row input[type=checkbox]').click(function(){
        $(this).attr('checked', !$(this).attr('checked'));
    });
});
</script>
