<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Appalti</title>

    <style type="text/css">

        body{width:100% !important;}

        body{-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}

        /* Reset Styles */
        body{
            background-color: #f2f2f2;
            font-family: Tahoma;
            font-size: 13px;
            margin:0;
            padding: 0;
        }
        img {line-height:100%; outline:none; text-decoration:none;}

        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
            margin: 0;
        }

        p { margin: 0; }

        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
            color: blue !important;
        }

        h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
            color: red !important;
        }

        h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
            color: purple !important;
        }

        table td {
            background: #fff;
            border-collapse:collapse;
        }

        .yshortcuts a,
        .yshortcuts a:link,
        .yshortcuts a:visited,
        .yshortcuts a:hover,
        .yshortcuts a span {
            color: black;
            text-decoration: none !important;
            border-bottom: none !important;
            background: none !important;
        }

    </style>
</head>
<body>
    <div style="width: 100%; background: #f2f2f2; margin: 0 auto">
        <table cellpadding="0" cellspacing="0" border="0" style="background: #f2f2f2; margin:0 auto; padding:0; width:656px !important; font-size: 13px;">
            <tr>
                <td colspan="4">
                    <img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer-gray.gif" height="50px" width="656px" alt=""/>
                </td>
            </tr>
            <tr>
                <td style="background: #f2f2f2;"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer-gray.gif" height="69px" width="18px" alt=""/></td>
                <td style="background: #f2f2f2;">
                    <a href="/">
                        <img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/logo.gif" width="241px" height="69px" alt=""/>
                    </a>
                </td>
                <td style="background: #f2f2f2; font-style: italic; font-size: 18px; color: #dfdfdf;" align="right" valign="bottom">
                    Verzoek om tekst te redigeren
                </td>
                <td style="background: #f2f2f2;"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer-gray.gif" width="18px" height="69px" alt=""/></td>
            </tr>
            <tr>
                <td colspan="4">
                    <img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer-gray.gif" height="30px" width="656px" alt=""/>
                </td>
            </tr>
        </table>

        <table cellpadding="0" cellspacing="0" border="0" style="background: #fff; margin:0 auto; padding:0; width:656px !important; font-size: 13px;">
            <tr>
                <td style="border-top: 2px solid #626366;">
                    <img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" height="30px" width="18px" alt=""/>
                </td>
                <td colspan="4" style="border-top: 2px solid #626366;" align="right">
                    <span style="background: #626366; padding: 10px; font-size: 12px; color: #fff;">
                        #2345345
                    </span>
                </td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" alt=""/></td>
                <td colspan="3">
                    <h1 style="font-size: 26px; color: #7b2b83;">Beste Geoffrey,</h1>
                    <p style="margin: 0">Wij hebben een supportaanvraag aan je toegekend van NowOnline.</p>
                </td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td colspan="3"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" height="20px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="1px" alt=""/></td>
                <td colspan="3"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/hr.gif" height="1px" width="619px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="1px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td colspan="3"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" height="20px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" alt=""/></td>
                <td colspan="3" style="color: #626366;">
                    <p style="margin: 0">
                        Er is via Appalti een supportaanvraag van NowOnline aan u toegekend, hieronder staan alle gegevens van deze aanvraag.
                        Mocht u vragen hebben kunt u het beste gelijk contact opnemen met de klant.
                    </p>
                    <br>
                    <p style="margin: 0">
                        Wanneer deze support vraag behandeld is kunt u onderaan deze mail aangeven dat de vraag opgelost is.
                    </p>
                </td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td colspan="3"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" height="20px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="1px" alt=""/></td>
                <td colspan="3"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/hr.gif" height="1px" width="619px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="1px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="10px" alt=""/></td>
                <td colspan="3"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" height="10px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="10px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="47px" alt=""/></td>
                <td colspan="3" style="background: #f6f6f6; border-bottom: 1px solid #cfcfcf; border-left: 1px solid #efefef; border-right: 1px solid #efefef; color: #7b2b83;"
                    align="center">
                    Deadline van supportaanvraag: <span style="font-weight: 700;">Maandag 9 januari</span>
                </td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="47px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="10px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="50px" height="10px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="10px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="170px" height="10px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="10px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" alt=""/></td>
                <td align="right">
                    <h4 style="color: #7b2b83;">Aanvraag gedaan door</h4>
                </td>
                <td colspan="2"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Bedrijf:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">NowOnline</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Contactpersoon:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">Frederique Groenendijck</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">E-mailadres:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">FG@nowonline.nl</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Doorgestuurd door:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">Michiel de Kruijf</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>

            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="40px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="50px" height="40px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="40px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="170px" height="40px" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="40px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" alt=""/></td>
                <td align="right">
                    <h4 style="color: #7b2b83;">Informatie aanvraag</h4>
                </td>
                <td colspan="2"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" alt=""/></td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Soort aanvraag:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">Tekst redigeren</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Deadline opdracht:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">Spoed</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Aantal pagina’s:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">4</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Doel van de tekst:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">Interesse opwekken</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Aantal mensen die tekst gaan lezen:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">2</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Functie van mensen die gaan lezen:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">Commercieel directeur, koffie juffrouw</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Klantmotief 1:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">Gemak</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Klantmotief 2:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">Status</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="right" style="color: #626366;">Aanvullende informatie:</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
                <td align="left">-</td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td colspan="5"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" height="30px" alt=""/></td>
            </tr>
            <tr>
                <td colspan="5" align="center">
                    <a href="#">
                        <img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/login-btn.png" style="border: 0;" width="256px" height="41px" alt="Login als klant en bekijk de tekst"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="5"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" height="18px" alt=""/></td>
            </tr>
            <tr>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="1px" alt=""/></td>
                <td colspan="3">
                    <img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/hr.gif" width="619px" height="1px" alt=""/>
                </td>
                <td><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" width="18px" height="1px" alt=""/></td>
            </tr>
            <tr>
                <td colspan="5"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" height="20px" alt=""/></td>
            </tr>
            <tr>
                <td colspan="5" align="center">
                    <a href="#" >
                        <img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/resolved-btn.png"  style="border: 0;" width="211px" height="40px" alt="Supportvraag is opgelost"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="5"><img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer.gif" height="16px" alt=""/></td>
            </tr>
        </table>

        <table cellpadding="0" cellspacing="0" border="0" style="background: #f2f2f2; margin:0 auto; padding:0; width:100% !important;">
            <tr>
                <td>
                    <img src="http://<?=$_SERVER['HTTP_HOST'];?>/data/public-media/email/spacer-gray.gif" style="border: 0;" height="50px" width="100%" alt=""/>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>