<?
    $this->formValue()->init();
    if (!empty($this->row)):
        $this->formValue()->setModel($this->row);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
?>
<form action="/faq/category/<?=$this->formValue('id') ? 'update' : 'create'; ?>/format/json">
    <? if ($this->formValue('id')): ?>
        <input type="hidden" name="categoryId" value="<?=$this->formValue('id');?>"/>
    <? endif; ?>
    <input type="hidden" name="parentId" value="<?=$this->parentId;?>"/>
    <h4><?=$this->translate($this->formValue('id') ? 'Update F.A.Q category' : 'Nieuwe F.A.Q category aanmaken');?></h4>
    <br>
    <table class="width form-fields">
        <tr>
            <th><?=$this->translate('Category titel');?>:</th>
            <td class="info-cnt"></td>
            <td>
                <input type="text" size="40" name="name" class="required" value="<?=$this->formValue('name');?>" />
            </td>
        </tr>
<!--        <tr>-->
<!--            <th>--><?//=$this->translate('Actief');?><!--:</th>-->
<!--            <td class="info-cnt"></td>-->
<!--            <td>-->
<!--                <label class="inline">-->
<!--                    Ja-->
<!--                    <input type="radio" name="isActive" value="1"-->
<!--                           --><?// if($this->formValue('isActive')): ?><!--checked="checked"--><?// endif; ?><!-- />-->
<!--                </label>-->
<!--                <label class="inline">-->
<!--                    Nee-->
<!--                    <input type="radio" name="isActive" value="0"-->
<!--                           --><?// if(!$this->formValue('isActive')): ?><!--checked="checked"--><?// endif; ?><!-- />-->
<!--                </label>-->
<!--            </td>-->
<!--        </tr>-->
        <? if ($this->allowDefault):?>
        <tr>
            <th><?=$this->translate('Protected');?>:</th>
            <td class="info-cnt"></td>
            <td>
                <label class="inline">
                    Ja
                    <input type="radio" name="isProtected" value="1"
                        <? if($this->formValue('isProtected')): ?>checked="checked"<? endif; ?> />
                </label>
                <label class="inline">
                    Nee
                    <input type="radio" name="isProtected" value="0"
                        <? if(!$this->formValue('isProtected')): ?>checked="checked"<? endif; ?> />
                </label>
            </td>
        </tr>
        <?endif;?>
    </table>
    <hr>
    <p class="text-c">
        <button type="submit" class="btn-big text-c">
            <i class="icon-save"><?=$this->translate('Opslaan');?></i>
        </button>
        <br>
        <br>
        <small>Of <a href="#" data-dismiss="modal">annuleer</a></small>
    </p>
</form>

