<form action="/proposal/template-management/add-font" name="addFontForm"
      enctype="multipart/form-data" class="validatable box-gray" method="post">

    <div class="error" style="display: none;">
        <?=$this->translate('At least one font file should be selected.');?>
    </div>

    <table>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3"><label><?=$this->translate('Lettertype name (Arial, Verdana etc.)');?></label></td>
        </tr>
        <tr>
            <td class="info-cnt va-middle">&nbsp;</td>
            <td colspan="3"><input type="text" class="required no-margin" size="100" name="fontname"/>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><label><?=$this->translate('Regular lettertype file');?></label></td>
            <td>&nbsp;</td>
            <td><label><b class="text-black"><?=$this->translate('Bold lettertype file');?></b></label></td>
        </tr>
        <tr>
            <td class="info-cnt">&nbsp;</td>
            <td><input type="file" class="font" name="regular"/></td>
            <td class="info-cnt">&nbsp;</td>
            <td><input type="file" class="font" name="bold"/></td>
        </tr>

        <tr><td colspan="4">&nbsp;</td></tr>

        <tr>
            <td>&nbsp;</td>
            <td><label><i><?=$this->translate('Italic lettertype file');?></i></label></td>
            <td>&nbsp;</td>
            <td>
                <label>
                    <i><b class="text-black"><?=$this->translate('Bold italic lettertype file');?></b></i>
                </label>
            </td>
        </tr>
        <tr>
            <td class="info-cnt">&nbsp;</td>
            <td><input type="file" class="font" name="italic"/></td>
            <td class="info-cnt">&nbsp;</td>
            <td><input type="file" class="font" name="bold-italic"/></td>
        </tr>
    </table>
    <hr>
    <p class="text-c">
        <input type="submit" class="btn-big btn-green" value="<?=$this->translate('Upload font');?>"/>
    </p>
</form>