<link rel="stylesheet" href="/data/public-templates/common/css/fonts/all.css" xmlns="http://www.w3.org/1999/html"/>
<?=$this->information()->init(false);?>
<div class="content clearfix">

    <? if ($this->requireFontScanning): ?>
        <div class="box-gray text-c">
            <a class="btn-green btn-big2 width" href="/proposal/template-management/scan-fonts"><?=$this->translate('Scan fonts');?></a>
        </div>
    <? else: ?>
        <div class="info">
            <?=nl2br($this->translate('A lettertype can have 4 different styles.
                For example, "Arial" lettertype has "Arial Regular", "Arial Bold", "Arial Italic" and "Arial Bold Italic" styles.
                Each style has it\'s own font file.
                <b>All style files of a lettertype should be uploaded at once.</b>
            '));?>
        </div>

        <? require "add-font.phtml"; ?>

        <br>
        <div class="available-fonts">
            <form action="/proposal/template-management/delete-font" method="post">
                <label class="clearfix">
                    <span class="float-l"><?=$this->translate('Select a font to preview');?></span>
                    <a href="/proposal/template-management/scan-fonts" class="float-r" title="<?=$this->translate('Update available fonts list');?>">
                        <?=$this->translate('Rescan fonts');?>
                    </a>
                </label>
                <?=$this->FontFamilyComboBox()->toField('templateFonts', 'arial', array(
                    'multiple' => 'multiple',
                    'id' => 'templateFonts'
                ));?>
                <p>
                    <input type="submit" class="btn-big width" value="<?=$this->translate('Delete selected font(s)');?>"/>
                </p>
            </form>
        </div>
        <div class="font-preview">
            <label><?=$this->translate('Preview');?></label>
            <div class="preview-area" style="font-family: arial;">
                <table class="fixed-col-tbl">
                    <tr class="va-middle">
                        <td><h1><?=$this->translate('Header 1 sample');?></h1></td>
                        <td><h2><?=$this->translate('Header 2 sample');?></h2></td>
                    </tr>
                    <tr class="va-middle">
                        <td><h3><?=$this->translate('Header 3 sample');?></h3></td>
                        <td><h4><?=$this->translate('Header 4 sample');?></h4></td>
                    </tr>
                    <tr class="va-middle">
                        <td><h5><?=$this->translate('Header 5 sample');?></h5></td>
                        <td><h6><?=$this->translate('Header 6 sample');?></h6></td>
                    </tr>
                </table>
                <hr>
                <p><b>Bold Text Sample</b></p>
                <p><i>Italic Text Sample</i></p>
                <p><b><i>Bold Italic Text Sample</i></b></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.
                    Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
                    Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc
                    gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac,
                    sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas. In posuere felis nec tortor. Pellentesque faucibus. Ut accumsan ultricies elit. Maecenas at justo id velit placerat
                    molestie. Donec dictum lectus non odio. Cras a ante vitae enim iaculis aliquam. Mauris nunc quam, venenatis nec, euismod sit amet, egestas placerat, est.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras id elit. Integer quis urna. Ut ante enim, dapibus malesuada,
                    fringilla eu, condimentum quis, tellus. Aenean porttitor eros vel dolor. Donec convallis pede venenatis nibh. Duis quam. Nam eget lacus. Aliquam erat volutpat.
                    Quisque dignissim congue leo.
                </p>
            </div>
        </div>
        <script src="/modules-appalti/proposal/views/scripts/default/template-management/_resources/js/fontManager.js"></script>
    <?endif?>
</div>
