<? echo $this->information()->init(); ?>
<form action="/news/subscription/" method="post" name="form">
    <br>
    <div class="library">
        <? foreach ($this->rowSet as $row): ?>
        <p class="even">
            <label>
                <?echo $row['name']?>
            </label>
            <span class="lib-block-actions">
                <input type="checkbox" name="categoryId_<?=$row['id']?>" <?=$row['checked']?>>
            </span>
        </p>
        </br>
        <? endforeach?>
    </div>

    <input type="submit" value="Submit"/>
</form>