
<!doctype html>
<!--[if IE 7 ]>    <html class="oldie ie7" lang="nl"> <![endif]-->
<!--[if IE 8 ]>    <html class="oldie ie8" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class=lang="nl"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Appalti Offertetool  | Welkom</title>
    <link rel="shortcut icon" href="/layouts/scripts/appalti/main/_resources/images/favicon.ico"/>
    <link rel="stylesheet" href="/public/css/styles.css"/>
    <link rel="stylesheet" href="/public/js/jquery-plugins/modal/modal.css"/>
    <link rel="stylesheet" href="/public/js/jquery-plugins/tooltips/tooltip.css"/>
    <script src="/public/js/jquery-1.7.2.min.js"></script>
    <script src="/public/js/jquery-plugins/validate/jquery.validate.min.js"></script>
    <script src="/public/js/jquery-plugins/validate/additional-methods.min.js"></script>
    <script src="/public/js/jquery-plugins/form/jquery.form.observable.js"></script>
    <script src="/public/js/jquery-plugins/tooltips/tooltip.min.js"></script>
    <script src="/layouts/scripts/appalti/main/_resources/js/Main.js"></script>
    <script src="/public/js/jquery-plugins/modal/modal.min.js"></script>
    <script type="text/javascript">
        var _gaq = window._gaq || [];
        window.onerror = function(msg, url, line) {
            var preventErrorAlert = true;
            _gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line]);
            return preventErrorAlert;
        };
    </script>
    <script type="text/javascript">
        jQuery.error = function (message) {
            _gaq.push(['_trackEvent', 'jQuery Error', message, navigator.userAgent]);
        }
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33326094-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <style type="text/css">
        .ie7 body,
        .ie8 body {
            background: url('/public/images/background-login.jpg') #ffffff repeat-x;
        }
    </style>
    <style type="text/css">
        /* overwriting styles for this page */
        #container {
            width:316px;
        }
        .leftColumn {
            float:none;
        }
        p {
            font-size: 1.0rem;
        }
        .information li {
            font-size: 1.0rem;
        }
    </style>
</head>
<body>
    <div id="container">
<?php
//   $this->layout()->setLayout('auth');
   $this->formValue()->omitNullableModel(true);
   echo  $this->information()->init(false);
?>
        <div class= "leftColumn">
            <a href="/"><img src="/public/images/appalti_logo.png" width="250px" border="0"/></a>
            <form id="lost-password-form" class="validatable" action="<?=$this->url(array(
                     'module'     => 'account',
                     'controller' => 'password',
                     'action'     => 'lost-password',
                ), 'default', true); ?>" method="post">

<?if($this->refresh): ?>
                    <div class="information margin-b ui-state-notice">
                        <p class="half-margin-b">Bevestiging bericht is verzonden naar het opgegeven e-mailadres.</p>
                        <p>Zodra het bericht is ontvangen, volgt u de instructies om het wachtwoord te wijzigen.</p>
                    </div>
<?endif; ?>
                <div class="loginFields">
                    <input type="text" name="username" value="" placeholder="E-mailadres" tabIndex="1" class="required"/>
                </div>
                <input type="submit" value="Wachtwoord opnieuw instellen" class="btn-green" />
                <p>Geef uw e-mailadres op.</p>
                <p>Het systeem stuurt u vervolgens een e-mail, waarmee u uw wachtwoord kunt herstellen.</p>

<?/**?>
                <table class="form-fields">
                    <tr>
                        <th>Gebruikersnaam:</th>
                        <td class="info-cnt">&nbsp;</td>
                        <td class="text-right">
                            <?= $this->formText('username', $this->formValue('username', $this->account), array('class' => 'required')) ?>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">&nbsp;</th>
                        <td>
                            <input type="submit" value="Wachtwoord opnieuw instellen" class="btn-big btn-green" />
                        </td>
                    </tr>
                </table>
                <div class="annotation">
                    <p>Om uw wachtwoord te herstellen geeft u uw gebruikersnaam op.</p>
                    <p>Het systeem stuurt u vervolgens een email met daarin een eenmalig te gebruiken link waarmee u uw wachtwoord kunt herstellen.</p>
                </div>
<?/**/?>

                <hr>
                <p class="text-c no-margin">
                    <small><a href="/">Terug</a></small>
                </p>
            </form>
<?/**?>
            <form action="/account/authenticate/login" class="validatable" method="POST" id="form-52aad2fe1fd83">
                <div class="loginFields">
                    <input type="text" name="username" value="" placeholder="Gebruikersnaam" tabIndex="1" class="required"/>
                    <div class="clear"></div>
                    <input type="password" placeholder="Wachtwoord" name="password" class="required" tabIndex="2" />
                </div>
                <input type="submit" value="Inloggen bij de Offertetool" class="btn-green"  tabIndex="3" />
                <input type="hidden" name="return" value="/ap-default"/>
                <div class="supportLinks">
                <a href="/account/password/lost-password/">Wachtwoord vergeten?</a>
                <span class="seperator"> | </span>
                <a href="#support-info" data-toggle="modal"> Stel uw vraag</a>
                </div>
                <script type="text/javascript" language="javascript">
                    document.getElementById('form-52aad2fe1fd83').username.focus();
                </script>
            </form>
<?/**/?>
        </div>
    </div>
    <div class="copyright">
        Copyright 2014 appalti.nl, inc. Alle rechten voorbehouden.
	</div>
</body>
</html>

<?/**?>

<?/**/?>
