
<?
    $this->layout()->setLayout('auth');
    echo $this->headTitle('Update password');
    echo $this->information()->init();
    if($this->refresh) {
        $this->headMeta()->appendHttpEquiv('Refresh', $this->refresh . ';URL=' . $this->baseUrl('/account/authenticate/index'));
    }
?>
<form id="update-password-form" class="validatable" action="<?=$this->url(array(
    'module'     => 'account',
    'controller' => 'password',
    'action'     => 'update-password',
), 'default', true); ?>" method="post">

    <table class="form-fields">
        <colgroup>
            <col width="40%">
            <col width="*">
            <col width="*">
        </colgroup>
        <tr>
            <th>Nieuw wachtwoord:</th>
            <td class="info-cnt">&nbsp;</td>
            <td><input type="password" name="password" class="required" id="password"/></td>
        </tr>
        <tr>
            <th>Bevestig wachtwoord:</th>
            <td class="info-cnt">&nbsp;</td>
            <td><input type="password" name="password_again" class="required" equalTo="#password" id="password_again"/></td>
        </tr>
        <tr>
            <th colspan="2">&nbsp;</th>
            <td>
                <input type="submit" value="Update wachtwoord" class="btn-green btn-big"/>
            </td>
        </tr>
    </table>
</form>

<script>
    $(function() {
        $('#update-password-form').submit(function() {
            return $(this).valid();
        });
    });
</script>