<form id="document-type-form">
 <table class="form-grid no-fold">
    <col width="150" />
    <col width="*" />
    <tr>
        <th><?=$this->translate('Name'); ?>:</th>
        <td>
            <?=$this->formText('name', $this->documentType ? $this->documentType->name : '', array('class' => 'required', 'data-cfg' => '{width: 220}')); ?>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Abbreviation');?>:</th>
        <td>
            <?=$this->formText('abbreviation', $this->documentType ? $this->documentType->abbreviation : '', array('class' => 'required', 'data-cfg' => '{width: 220}')); ?>
        </td>
    </tr>
    <tr>
        <th colspan="2"><?=$this->translate('Question');?>:</th>
    </tr>
    <tr>
        <td colspan="2">
            <textarea name="question" data-xtype="htmleditor" data-cfg="{width: 370, height: 150}"><?=
                $this->documentType ? $this->documentType->question : '';
            ?></textarea>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Expire date required');?>:</th>
        <td>
            <?=$this->formCheckbox('expireDateRequired', $this->documentType ? $this->documentType->required : '', null, array(
                'checkedValue'   => 1,
                'uncheckedValue' => 0
            )); ?>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Required');?>:</th>
        <td>
            <?=$this->formCheckbox('required', $this->documentType ? $this->documentType->required : '', null, array(
                'checkedValue' => 1,
                'uncheckedValue' => 0
            )); ?>
        </td>
    </tr>
    </table>
</form>