
<?if ($this->row !=null) :?>
<div style="margin:auto; font-size: 15px; width: 400px;margin-top: 40px; border:3px solid  #B0CAED; padding: 4px ">
    <table width="400px">
        <tr>
            <td width="80px">
                <span style="color: #1561C5">Membership: </span><br>
                <span style="color: #1561C5">Start datetime: </span><br>
                <span style="color: #1561C5">End datetime:</span><br>
            </td>
            <td width="200px">
                <span><?=$this->row['membershipName']; ?> month</span><br>
                <span><?=$this->row['startDatetime']; ?></span><br>
                <span><?=$this->row['endDatetime']; ?></span><br>
            </td>

        </tr>
    </table>
    </div>
<?else:?>

    <h1 align="center" style="color: #1561C5; margin-top: 40px">This company has no membership</h1>
<?endif;?>