/**
 * RangeMenu Styles
 **/

.ux-rangemenu-icon {
    margin-top: 0;
}

.ux-rangemenu-gt {
    background-image: url(./images/greater_then.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(./images/less_then.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(./images/equals.png) !important;
}