article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display:block
}

audio,
canvas,
video {
	display:inline-block;
	*display:inline;
	*zoom:1
}

audio:not([controls]) {
	display:none
}

[hidden] {
	display:none
}

body {
	margin:0
}

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0
}

q {
	quotes:none
}

q:before,
q:after {
	content:"";
	content:none
}

sub,
sup {
	position:relative
}

sup {
	top:-0.5em
}

sub {
	bottom:-0.25em
}

ul,
ol {
	margin:0;
	padding:0
}

dd {
	margin:0 0 0 40px
}

img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle
}

form {
	margin:0
}

fieldset {
	border:0;
	margin:0;
	padding:0
}

label {
	cursor:pointer
}

legend {
	border:0;
	*margin-left:-7px;
	padding:0
}

button,
input,
select,
textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle
}

button,
input {
	line-height:1.5;
	*overflow:visible
}

table button,
table input {
	*overflow:auto
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing:border-box
}

input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border:0;
	padding:0
}

textarea {
	overflow:auto;
	vertical-align:top;
	resize:vertical
}

input:invalid,
textarea:invalid {
	background-color:#f0dddd
}

table {
	border-collapse:collapse;
	border-spacing:0
}

td {
	vertical-align:top
}

html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

body {
	font-size:12px;
	line-height:1.5
}

body,
button,
input,
select,
textarea {
	font-family:Tahoma,
 Geneva,
 sans-serif;
	color:#000
}

::-moz-selection {
	background:#666;
	color:#fff;
	text-shadow:none
}

::selection {
	background:#666;
	color:#fff;
	text-shadow:none
}

a {
	color:#7b2b83;
	text-decoration:none
}

a:hover {
	outline:0;
	text-decoration:underline
}

a:active {
	outline:0
}

a:focus {
	outline:thin dotted
}

i,
em {
	font-style:italic
}

b,
strong {
	color:#7b2b83;
	font-weight:700
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color:#7b2b83;
	font-weight:400;
	margin:0 0 .5em
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color:#7b2b83
}

h1 {
	font-size:20px
}

h2 {
	font-size:18px
}

h3 {
	font-size:16px
}

h4 {
	font-size:14px
}

h5 {
	font-size:13px
}

p {
	margin:0.5em 0
}

small {
	font-size:11px;
	color:#626366
}

small a {
	color:#000;
	text-decoration:underline
}

sub,
sup {
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}

ul,
ol {
	list-style:inside
}

nav ul,
nav ol {
	list-style:none;
	margin:0;
	padding:0
}

hr {
	background:url('/layouts/scripts/appalti/main/_resources/images/hr-bg.gif') repeat-x 0 0;
	border:0
}

.text-gray {
	color:#a9a9ab !important
}

.text-dark-gray {
	color:#626366 !important
}

.text-black {
	color:#000 !important
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input.text,
input.title,
select,
textarea {
	background-color:#fff;
	border:1px solid #ababad;
	-webkit-box-shadow:0 0 2px rgba(0,
0,
0,
0.2) inset;
	-moz-box-shadow:0 0 2px rgba(0,
0,
0,
0.2) inset;
	box-shadow:0 0 2px rgba(0,
0,
0,
0.2) inset;
	color:#000;
	margin:3px 0 15px;
	padding:3px
}

select {
	padding:2px
}

input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
input.text:focus,
input.title:focus,
textarea:focus {
	border-color:#666
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	color:#555 !important;
	cursor:not-allowed;
	background-color:#eee !important
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
	background-color:transparent
}

.invalid {
	border:1px solid #f00 !important
}

label {
	display:block
}

label.invalid {
	color:#f00;
	background:#fff
}

.error,
.alert,
.notice,
.success,
.info {
	border:2px solid #DDDDDD;
	margin-bottom:1em;
	padding:0.8em
}

.error,
.alert {
	background:#FBE3E4;
	border-color:#FBC2C4;
	color:#8A1F11
}

.notice {
	background:#FFF6BF;
	border-color:#FFD324;
	color:#514721
}

.success {
	background:#E6EFC2;
	border-color:#C6D880;
	color:#264409
}

.info {
	background:#D5EDF8;
	border-color:#92CAE4;
	color:#205791
}

.error a,
.alert a {
	color:#8A1F11
}

.notice a {
	color:#514721
}

.success a {
	color:#264409
}

.info a {
	color:#205791
}

[class*="icon-"] {
	background-position:0 50%;
	background-repeat:no-repeat;
	display:inline-block;
	font-style:normal;
	text-decoration:none !important
}

[class*="icon-"]:hover {
	text-decoration:none !important
}

[class*="icon-"]:focus {
	outline:0
}

.icon-empty {
	cursor:default !important;
	padding-left:16px
}

.icon-pos-top {
	background-position:0 0
}

.icon-config {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-config.png');
	padding-left:17px !important
}

.icon-back {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-back.png');
	padding-left:19px
}

.icon-next {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-next.png');
	padding-left:19px
}

.icon-save {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-save.png');
	padding-left:21px
}

.icon-notice-small {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-notice.png');
	padding-left:10px
}

.icon-checked {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-checked.png');
	padding-left:15px
}

.icon-subcat {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-subcat.png');
	background-position:-16px 50%;
	width:16px
}

.icon-subcat:hover {
	background-position:0 50%
}

.icon-info {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-info.png');
	padding-left:25px
}

.icon-info-small {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-info-small.png');
	width:9px
}

.icon-info-error-small {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-info-error-small.png');
	width:9px
}

.icon-cancel {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-cancel.png');
	padding-left:21px
}

.icon-upload {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-upload.png');
	padding-left:21px
}

.icon-plus,
.icon-minus {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-plus-minus.png');
	height:15px;
	width:14px
}

.icon-minus {
	background-position:-15px 50%
}

.icon-add {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-plus-green.png');
	padding-left:15px
}

.icon-delete,
.icon-zoom,
.icon-edit {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-delete.png');
	padding-left:16px
}

.icon-delete-cross {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-delete-cross.png');
	width:7px
}

.icon-active {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-status-done.gif');
	width:7px
}

.icon-inactive {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-status-lost.gif');
	width:7px
}

.icon-pdf {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-pdf.png');
	padding-left:15px
}

.icon-mail {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-mail.png');
	padding-left:15px
}

.icon-logout {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-logout.png');
	padding-left:10px
}

.icon-star {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-star.png');
	padding-left:25px
}

.icon-preview-tpl {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-preview-tpl.png');
	height:34px;
	width:34px
}

.icon-select-tpl {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-select-tpl.png');
	height:34px;
	width:34px
}

.icon-pallet {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-pallet.png');
	padding-left:21px
}

.icon-building {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-building.png');
	padding-left:21px
}

.icon-keywords {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-keywords.png');
	padding-left:21px
}

.icon-colorpicker {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-colorpicker.png');
	cursor:pointer;
	height:16px;
	width:16px
}

.icon-datepicker {
	background:#fff url('/layouts/scripts/appalti/main/_resources/images/icon-datepicker.png') no-repeat 97% 50% !important;
	padding-right:27px !important
}

.icon-status-info {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-status-info.png');
	padding-right:10px !important
}

.icon-send {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-send.png');
	padding-right:15px !important
}

.icon-money,
.icon-news,
.icon-textwriter,
.icon-faq,
.icon-agenda {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-money.png');
	padding-left:26px !important
}

.icon-arrow-right {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-arrow-right.png');
	padding-left:15px
}

.icon-news {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-news.png')
}

.icon-textwriter {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-textwriter.png')
}

.icon-faq {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-faq.png')
}

.icon-agenda {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-agenda.png')
}

.icon-zoom {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-zoom.png')
}

.icon-edit {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-edit.png')
}

.icon-faq-low,
.icon-faq-normal,
.icon-faq-urgent {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-faq-low.png');
	padding-left:10px
}

.icon-faq-low,
.icon-faq-normal,
.icon-faq-urgent {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-faq-low.png');
	padding-left:10px
}

.icon-faq-normal {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-faq-normal.png')
}

.icon-faq-urgent {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-faq-urgent.png')
}

[class*="icon-move-"] {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/move-btns.png');
	cursor:pointer;
	height:14px;
	width:12px
}

.icon-move-up {
	background-position:0 0
}

.icon-move-up-disabled {
	background-position:0 -14px
}

.icon-move-down {
	background-position:-13px 0
}

.icon-move-down-disabled {
	background-position:-13px -14px
}

.icon-pending,
.icon-lost,
.icon-won,
.icon-withdrawn {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-pending.gif');
	background-position:0 .3em;
	padding-left:21px
}

.icon-lost {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-lost.gif')
}

.icon-won {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-won.gif')
}

.icon-withdrawn {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-withdrawn.gif')
}

html {
	overflow-y:scroll
}

#container {
	margin:0 auto;
	padding:0 20px;
	width:960px
}

.row {
	font-size:1px;
	line-height:0;
	list-style:none;
	text-align:justify;
	text-justify:newspaper;
	zoom:1;
	text-align-last:justify
}

.row:after {
	content:'';
	display:inline-block;
	height:0px;
	overflow:hidden;
	visibility:hidden;
	width:100%
}

.row>li {
	display:inline-block;
	*display:inline;
	line-height:1.5;
	font-size:12px;
	text-align:left;
	vertical-align:top;
	zoom:1
}

.line {
	list-style:none;
	overflow:hidden
}

.line li {
	float:left
}

#logo {
	background:url('/layouts/scripts/appalti/main/_resources/images/logo.png') no-repeat 0 0;
	display:block;
	float:left;
	height:69px;
	width:240px
}

.support-minutes-modal-container {
	width:390px
}

.support-box {
	background:#fff;
	border:1px dashed #7b2b83;
	border:1px solid #7b2b83;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	overflow:visible;
	padding:10px;
	position:relative
}

.support-box .desc {
	color:#626366;
	display:inline-block;
	margin-bottom:10px;
	min-height:50px;
	width:60%
}

.support-box [class^="help-btn"] {
	background:url('/layouts/scripts/appalti/main/_resources/images/help-btn.png') no-repeat 0 0;
	display:block;
	height:50px;
	width:201px;
	position:relative
}

.support-box [class^="help-btn"]:hover {
	text-decoration:none
}

.support-box .help-btn-pink {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/help-btn-pink.png');
	width:242px
}

.support-girl {
	background:url('/layouts/scripts/appalti/main/_resources/images/support-girl.png') no-repeat 100% 100%;
	bottom:1px;
	height:148px;
	position:absolute;
	right:1px;
	width:108px;
	z-index:0
}

.support-info {
	display:none;
	padding:0 !important;
	width:460px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.support-info .support-box {
	border:0;
	padding:15px
}

.support-info .desc {
	width:auto
}

.support-info-footer,
.support-ticket-comment {
	background:#dadada url('/layouts/scripts/appalti/main/_resources/images/shadow-top.gif') repeat-x 0 0;
	padding:15px
}
div.support-box div,
div.support-box .desc {
    display:none;
}
div.support-box {
    width: 218px;
    height: 134px;
    padding:0px;
    xborder:1px solid;
}
.support-box [class^="help-btn"] {
    width:218px;
    height:134px;
    background: url('/layouts/scripts/appalti/main/_resources/images/klantenservice-tool_incl-tekst.png') no-repeat 100% 100%;);
}

[class^="btn"],
.fullScreenBtnBig a.mce_fullscreen,
#mce_fullscreen_fullscreen,
button,
input[type="submit"] {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px;
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkN2NjNCIvPjxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiNiMjY3YmEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YjJiODMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bd7cc4), color-stop(6%, #b267ba), color-stop(100%, #7b2b83));
	background-image:-webkit-linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#7b2b83 100%);
	background-image:-moz-linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#7b2b83 100%);
	background-image:-o-linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#7b2b83 100%);
	background-image:linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#7b2b83 100%);
	border:1px solid #7b2b83;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	padding:3px 10px;
	text-shadow:1px 1px 1px #000;
	text-decoration:none !important
}

.oldie [class^="btn"],
.oldie .fullScreenBtnBig a.mce_fullscreen,
.fullScreenBtnBig .oldie a.mce_fullscreen,
.oldie #mce_fullscreen_fullscreen,
.oldie button,
.oldie input[type="submit"] {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFBD7CC4',
 endColorstr='#FF7B2B83')
}

[class^="btn"]:hover,
.fullScreenBtnBig a.mce_fullscreen:hover,
#mce_fullscreen_fullscreen:hover,
[class^="btn"]:focus,
.fullScreenBtnBig a.mce_fullscreen:focus,
#mce_fullscreen_fullscreen:focus,
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkN2NjNCIvPjxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiNiMjY3YmEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTAwODIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #bd7cc4),
 color-stop(6%,
 #b267ba),
 color-stop(100%,
 #750082));
	background-image:-webkit-linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#750082 100%);
	background-image:-moz-linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#750082 100%);
	background-image:-o-linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#750082 100%);
	background-image:linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#750082 100%)
}

.oldie [class^="btn"]:hover,
.oldie .fullScreenBtnBig a.mce_fullscreen:hover,
.fullScreenBtnBig .oldie a.mce_fullscreen:hover,
.oldie #mce_fullscreen_fullscreen:hover,
.oldie [class^="btn"]:focus,
.oldie .fullScreenBtnBig a.mce_fullscreen:focus,
.fullScreenBtnBig .oldie a.mce_fullscreen:focus,
.oldie #mce_fullscreen_fullscreen:focus,
.oldie button:hover,
.oldie button:focus,
.oldie input[type="submit"]:hover,
.oldie input[type="submit"]:focus {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFBD7CC4',
 endColorstr='#FF750082')
}

[class^="btn"]:active,
.fullScreenBtnBig a.mce_fullscreen:active,
#mce_fullscreen_fullscreen:active,
button:active,
input[type="submit"]:active {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1MDA4MiIvPjxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiNiMjY3YmEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTAwODIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #750082),
 color-stop(6%,
 #b267ba),
 color-stop(100%,
 #750082));
	background-image:-webkit-linear-gradient(top,
 #750082 0%,
#b267ba 6%,
#750082 100%);
	background-image:-moz-linear-gradient(top,
 #750082 0%,
#b267ba 6%,
#750082 100%);
	background-image:-o-linear-gradient(top,
 #750082 0%,
#b267ba 6%,
#750082 100%);
	background-image:linear-gradient(top,
 #750082 0%,
#b267ba 6%,
#750082 100%);
	outline:0
}

.oldie [class^="btn"]:active,
.oldie .fullScreenBtnBig a.mce_fullscreen:active,
.fullScreenBtnBig .oldie a.mce_fullscreen:active,
.oldie #mce_fullscreen_fullscreen:active,
.oldie button:active,
.oldie input[type="submit"]:active {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FF750082',
 endColorstr='#FF750082')
}

[class^="btn"]:focus,
.fullScreenBtnBig a.mce_fullscreen:focus,
#mce_fullscreen_fullscreen:focus,
[class^="btn"]:active,
.fullScreenBtnBig a.mce_fullscreen:active,
#mce_fullscreen_fullscreen:active,
button:focus,
button:active,
input[type="submit"]:focus,
input[type="submit"]:active {
	outline:0
}

[class^="btn"]>*,
.fullScreenBtnBig a.mce_fullscreen>*,
#mce_fullscreen_fullscreen>*,
button>*,
input[type="submit"]>* {
	color:#fff !important
}

[class^="btn"].width,
.fullScreenBtnBig a.width.mce_fullscreen,
.width#mce_fullscreen_fullscreen,
button.width,
input[type="submit"].width {
	padding-right:0 !important;
	padding-left:0 !important;
	width:99.4%
}

[class^="btn"].width>[class*="icon-"],
.fullScreenBtnBig a.width.mce_fullscreen>[class*="icon-"],
.width#mce_fullscreen_fullscreen>[class*="icon-"],
button.width>[class*="icon-"],
input[type="submit"].width>[class*="icon-"] {
	margin:0 10px
}

.btn-green,
.fullScreenBtnBig a.mce_fullscreen,
#mce_fullscreen_fullscreen,
button.btn-green,
button#mce_fullscreen_fullscreen,
input[type="submit"].btn-green,
input[type="submit"]#mce_fullscreen_fullscreen {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIvPjxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiM2MWM0MTkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzg1MDEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #b4e391),
 color-stop(6%,
 #61c419),
 color-stop(100%,
 #238501));
	background-image:-webkit-linear-gradient(top,
 #b4e391 0%,
#61c419 6%,
#238501 100%);
	background-image:-moz-linear-gradient(top,
 #b4e391 0%,
#61c419 6%,
#238501 100%);
	background-image:-o-linear-gradient(top,
 #b4e391 0%,
#61c419 6%,
#238501 100%);
	background-image:linear-gradient(top,
 #b4e391 0%,
#61c419 6%,
#238501 100%);
	border-color:#238501
}

.oldie .btn-green,
.oldie .fullScreenBtnBig a.mce_fullscreen,
.fullScreenBtnBig .oldie a.mce_fullscreen,
.oldie #mce_fullscreen_fullscreen,
.oldie button.btn-green,
.oldie button#mce_fullscreen_fullscreen,
.oldie input[type="submit"].btn-green,
.oldie input[type="submit"]#mce_fullscreen_fullscreen {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFB4E391',
 endColorstr='#FF238501')
}

.btn-green:hover,
.fullScreenBtnBig a.mce_fullscreen:hover,
#mce_fullscreen_fullscreen:hover,
.btn-green:focus,
.fullScreenBtnBig a.mce_fullscreen:focus,
#mce_fullscreen_fullscreen:focus,
button.btn-green:hover,
button#mce_fullscreen_fullscreen:hover,
button.btn-green:focus,
button#mce_fullscreen_fullscreen:focus,
input[type="submit"].btn-green:hover,
input[type="submit"]#mce_fullscreen_fullscreen:hover,
input[type="submit"].btn-green:focus,
input[type="submit"]#mce_fullscreen_fullscreen:focus {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIvPjxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiM2MWM0MTkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDU2MDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #b4e391),
 color-stop(6%,
 #61c419),
 color-stop(100%,
 #145600));
	background-image:-webkit-linear-gradient(top,
 #b4e391 0%,
#61c419 6%,
#145600 100%);
	background-image:-moz-linear-gradient(top,
 #b4e391 0%,
#61c419 6%,
#145600 100%);
	background-image:-o-linear-gradient(top,
 #b4e391 0%,
#61c419 6%,
#145600 100%);
	background-image:linear-gradient(top,
 #b4e391 0%,
#61c419 6%,
#145600 100%)
}

.oldie .btn-green:hover,
.oldie .fullScreenBtnBig a.mce_fullscreen:hover,
.fullScreenBtnBig .oldie a.mce_fullscreen:hover,
.oldie #mce_fullscreen_fullscreen:hover,
.oldie .btn-green:focus,
.oldie .fullScreenBtnBig a.mce_fullscreen:focus,
.fullScreenBtnBig .oldie a.mce_fullscreen:focus,
.oldie #mce_fullscreen_fullscreen:focus,
.oldie button.btn-green:hover,
.oldie button#mce_fullscreen_fullscreen:hover,
.oldie button.btn-green:focus,
.oldie button#mce_fullscreen_fullscreen:focus,
.oldie input[type="submit"].btn-green:hover,
.oldie input[type="submit"]#mce_fullscreen_fullscreen:hover,
.oldie input[type="submit"].btn-green:focus,
.oldie input[type="submit"]#mce_fullscreen_fullscreen:focus {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFB4E391',
 endColorstr='#FF145600')
}

.btn-green:active,
.fullScreenBtnBig a.mce_fullscreen:active,
#mce_fullscreen_fullscreen:active,
button.btn-green:active,
button#mce_fullscreen_fullscreen:active,
input[type="submit"].btn-green:active,
input[type="submit"]#mce_fullscreen_fullscreen:active {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0NTEwMCIvPjxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiM2MWM0MTkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDU2MDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #145100),
 color-stop(6%,
 #61c419),
 color-stop(100%,
 #145600));
	background-image:-webkit-linear-gradient(top,
 #145100 0%,
#61c419 6%,
#145600 100%);
	background-image:-moz-linear-gradient(top,
 #145100 0%,
#61c419 6%,
#145600 100%);
	background-image:-o-linear-gradient(top,
 #145100 0%,
#61c419 6%,
#145600 100%);
	background-image:linear-gradient(top,
 #145100 0%,
#61c419 6%,
#145600 100%)
}

.oldie .btn-green:active,
.oldie .fullScreenBtnBig a.mce_fullscreen:active,
.fullScreenBtnBig .oldie a.mce_fullscreen:active,
.oldie #mce_fullscreen_fullscreen:active,
.oldie button.btn-green:active,
.oldie button#mce_fullscreen_fullscreen:active,
.oldie input[type="submit"].btn-green:active,
.oldie input[type="submit"]#mce_fullscreen_fullscreen:active {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FF145100',
 endColorstr='#FF145600')
}

.btn-big,
.fullScreenBtnBig a.mce_fullscreen,
#mce_fullscreen_fullscreen,
.btn-big2 {
	font-weight:700;
	padding:10px;
	min-width:150px;
    padding: 5px 10px;
}

.btn-big2 {
	font-size:15px;
	xpadding:10px 100px !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 20px;
}

.fullScreenBtnBig a.mce_fullscreen,
#mce_fullscreen_fullscreen {
	text-align:center;
	min-width:150px
}

.fullScreenBtnBig a.mce_fullscreen .mceIcon,
#mce_fullscreen_fullscreen .mceIcon {
	display:none
}

#mce_fullscreen_fullscreen {
	position:fixed;
	top:20px;
	right:20px
}

.ie8 #mce_fullscreen_fullscreen {
	right:150px
}

.fullScreenBtnBig a.mce_fullscreen {
	bottom:5px;
	color:#fff !important;
	font-weight:700 !important;
	position:absolute;
	right:5px
}

button.btn-big,
button#mce_fullscreen_fullscreen,
input[type='submit'].btn-big,
input[type='submit']#mce_fullscreen_fullscreen {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	padding:11px 10px;
    padding: 5px 10px;
}

.ie7 button {
	vertical-align:top
}

.btn-gray,
button.btn-gray,
input[type="submit"].btn-gray {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px;
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YzljYiIvPjxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiNiZmMwYzIiLz48c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2EzYTRhNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhhOGI4ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #c9c9cb),
 color-stop(4%,
 #bfc0c2),
 color-stop(47%,
 #a3a4a6),
 color-stop(100%,
 #8a8b8d));
	background-image:-webkit-linear-gradient(top,
 #c9c9cb 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#8a8b8d 100%);
	background-image:-moz-linear-gradient(top,
 #c9c9cb 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#8a8b8d 100%);
	background-image:-o-linear-gradient(top,
 #c9c9cb 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#8a8b8d 100%);
	background-image:linear-gradient(top,
 #c9c9cb 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#8a8b8d 100%);
	border-color:#626366;
	color:#fff !important
}

.oldie .btn-gray,
.oldie button.btn-gray,
.oldie input[type="submit"].btn-gray {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFC9C9CB',
 endColorstr='#FF8A8B8D')
}

.btn-gray:hover,
.btn-gray:focus,
button.btn-gray:hover,
button.btn-gray:focus,
input[type="submit"].btn-gray:hover,
input[type="submit"].btn-gray:focus {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YzljYiIvPjxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiNiZmMwYzIiLz48c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2EzYTRhNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1NzY3NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #c9c9cb),
 color-stop(4%,
 #bfc0c2),
 color-stop(47%,
 #a3a4a6),
 color-stop(100%,
 #757677));
	background-image:-webkit-linear-gradient(top,
 #c9c9cb 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#757677 100%);
	background-image:-moz-linear-gradient(top,
 #c9c9cb 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#757677 100%);
	background-image:-o-linear-gradient(top,
 #c9c9cb 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#757677 100%);
	background-image:linear-gradient(top,
 #c9c9cb 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#757677 100%)
}

.oldie .btn-gray:hover,
.oldie .btn-gray:focus,
.oldie button.btn-gray:hover,
.oldie button.btn-gray:focus,
.oldie input[type="submit"].btn-gray:hover,
.oldie input[type="submit"].btn-gray:focus {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFC9C9CB',
 endColorstr='#FF757677')
}

.btn-gray:active,
button.btn-gray:active,
input[type="submit"].btn-gray:active {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlOGU4ZSIvPjxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiNiZmMwYzIiLz48c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2EzYTRhNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1NzY3NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #8e8e8e),
 color-stop(4%,
 #bfc0c2),
 color-stop(47%,
 #a3a4a6),
 color-stop(100%,
 #757677));
	background-image:-webkit-linear-gradient(top,
 #8e8e8e 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#757677 100%);
	background-image:-moz-linear-gradient(top,
 #8e8e8e 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#757677 100%);
	background-image:-o-linear-gradient(top,
 #8e8e8e 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#757677 100%);
	background-image:linear-gradient(top,
 #8e8e8e 0%,
#bfc0c2 4%,
#a3a4a6 47%,
#757677 100%)
}

.oldie .btn-gray:active,
.oldie button.btn-gray:active,
.oldie input[type="submit"].btn-gray:active {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FF8E8E8E',
 endColorstr='#FF757677')
}

.btn-disabled,
button.btn-disabled,
input[type="submit"].btn-disabled {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRlMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #fbfbff),
 color-stop(100%,
 #dddde0));
	background-image:-webkit-linear-gradient(top,
 #fbfbff 0%,
#dddde0 100%);
	background-image:-moz-linear-gradient(top,
 #fbfbff 0%,
#dddde0 100%);
	background-image:-o-linear-gradient(top,
 #fbfbff 0%,
#dddde0 100%);
	background-image:linear-gradient(top,
 #fbfbff 0%,
#dddde0 100%);
	border-color:#a8a8af;
	color:#a8a8af;
	cursor:default;
	text-shadow:none
}

.btn-disabled .oldie,
button.btn-disabled .oldie,
input[type="submit"].btn-disabled .oldie {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFFBFBFF',
 endColorstr='#FFDDDDE0')
}

.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active,
button.btn-disabled:hover,
button.btn-disabled:focus,
button.btn-disabled:active,
input[type="submit"].btn-disabled:hover,
input[type="submit"].btn-disabled:focus,
input[type="submit"].btn-disabled:active {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRlMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #fbfbff),
 color-stop(100%,
 #dddde0));
	background-image:-webkit-linear-gradient(top,
 #fbfbff 0%,
#dddde0 100%);
	background-image:-moz-linear-gradient(top,
 #fbfbff 0%,
#dddde0 100%);
	background-image:-o-linear-gradient(top,
 #fbfbff 0%,
#dddde0 100%);
	background-image:linear-gradient(top,
 #fbfbff 0%,
#dddde0 100%)
}

.btn-disabled:hover .oldie,
.btn-disabled:focus .oldie,
.btn-disabled:active .oldie,
button.btn-disabled:hover .oldie,
button.btn-disabled:focus .oldie,
button.btn-disabled:active .oldie,
input[type="submit"].btn-disabled:hover .oldie,
input[type="submit"].btn-disabled:focus .oldie,
input[type="submit"].btn-disabled:active .oldie {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFFBFBFF',
 endColorstr='#FFDDDDE0')
}

.btn-disabled [class*=icon-],
button.btn-disabled [class*=icon-],
input[type="submit"].btn-disabled [class*=icon-] {
	background-image:none !important;
	color:#A8A8AF !important;
	padding:0 !important
}

.btn-group,
.btn-group:hover {
	background:none;
	border:0;
	padding:0
}

.oldie .btn-group,
.oldie .btn-group:hover {
	filter:none
}

.btn-group .btn-big,
.btn-group .fullScreenBtnBig a.mce_fullscreen,
.fullScreenBtnBig .btn-group a.mce_fullscreen,
.btn-group #mce_fullscreen_fullscreen {
	min-width:0
}

.btn-group .btn-big+.btn-big,
.btn-group .fullScreenBtnBig a.mce_fullscreen+.btn-big,
.fullScreenBtnBig .btn-group a.mce_fullscreen+.btn-big,
.btn-group #mce_fullscreen_fullscreen+.btn-big,
.btn-group .fullScreenBtnBig .btn-big+a.mce_fullscreen,
.fullScreenBtnBig .btn-group .btn-big+a.mce_fullscreen,
.btn-group .fullScreenBtnBig a.mce_fullscreen+a.mce_fullscreen,
.fullScreenBtnBig .btn-group a.mce_fullscreen+a.mce_fullscreen,
.btn-group .fullScreenBtnBig #mce_fullscreen_fullscreen+a.mce_fullscreen,
.fullScreenBtnBig .btn-group #mce_fullscreen_fullscreen+a.mce_fullscreen,
.btn-group .btn-big+#mce_fullscreen_fullscreen,
.btn-group .fullScreenBtnBig a.mce_fullscreen+#mce_fullscreen_fullscreen,
.fullScreenBtnBig .btn-group a.mce_fullscreen+#mce_fullscreen_fullscreen,
.btn-group #mce_fullscreen_fullscreen+#mce_fullscreen_fullscreen {
	margin-left:-5px
}

.btn-group .btn-big .caret,
.btn-group .fullScreenBtnBig a.mce_fullscreen .caret,
.fullScreenBtnBig .btn-group a.mce_fullscreen .caret,
.btn-group #mce_fullscreen_fullscreen .caret {
	margin-top:6px
}

.caret {
	border-top-color:#fff !important
}

.box {
	border:1px solid #e0e0e0;
	-webkit-box-shadow:0 2px 2px -1px #666;
	-moz-box-shadow:0 2px 2px -1px #666;
	box-shadow:0 2px 2px -1px #666;
	padding:15px
}

.box table {
	width:100%
}

.box table h2 {
	margin-top:50px;
	width:310px
}

.box-gray {
	background:#f6f6f6;
	border:1px solid #e0e0e0;
	-webkit-box-shadow:0 2px 2px -1px #666;
	-moz-box-shadow:0 2px 2px -1px #666;
	box-shadow:0 2px 2px -1px #666;
	padding:15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.box-gray form input[type="text"],
.box-gray form select {
	margin:0;
	width:200px
}

.box-gray form input.datepicker {
	width:auto
}

.module-box {
	margin-top:15px
}

aside.right .module-box:first-child {
	margin-top:0
}

.box-pink {
	background:#7b2b83
}

.box-dashed {
	background:#fff;
	border:2px dashed #7b2b83;
	box-shadow:none
}

.box-dashed .box-dashed {
	border:0
}

.content {
	width:960px
}

.cols-2-left .content {
	width:640px
}

.cols-2 .content {
	width:720px
}

.right-wide .content {
	width:710px
}

.cols-3 .content {
	width:400px
}

[class*="cols-"] .content {
	float:left
}

aside.right {
	float:right;
	padding-left:20px;
	width:220px
}

.right-wide aside.right {
	xbackground:#F6F6F6;
	x-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.75) inset;
	x-moz-box-shadow:0 2px 4px rgba(0,0,0,0.75) inset;
	xbox-shadow:0 2px 4px rgba(0,0,0,0.75) inset;
	margin-left:10px;
	margin-top:-24px;
	padding:25px 10px 10px;
	width:300px;
    width:220px;
}

.oldie .right-wide aside.right {
	border-color:transparent #ffffff #ffffff #ffffff;
	border-style:solid;
	border-width:0 0px 0px;
	width:220px
}

aside.right>[class^="box"] {
	margin-bottom:10px
}

aside.left {
	float:left;
	padding-right:20px;
	width:300px
}

.navigation {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow:hidden
}

.navigation li {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	float:left
}
.navigation li a {

}
input, select, textarea
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.ajax-preloader {
	background:url('/layouts/scripts/appalti/main/_resources/images/ajax-preloader.gif') no-repeat 0 0;
	display:none;
	float:right;
	height:16px;
	padding-left:21px
}

.ajax-preloader.show {
	display:inline
}

.modal form {
	position:relative
}

.modal-close {
	background:url('/layouts/scripts/appalti/main/_resources/images/popup-close.png') no-repeat 0 0;
	display:inline-block;
	float:right;
	height:11px;
	margin:10px 10px 0 0;
	position:relative;
	text-decoration:none !important;
	width:10px;
	z-index:10
}

.main-menu {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkN2NjNCIvPjxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiNiMjY3YmEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YjJiODMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #bd7cc4),
 color-stop(6%,
 #b267ba),
 color-stop(100%,
 #7b2b83));
	background-image:-webkit-linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#7b2b83 100%);
	background-image:-moz-linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#7b2b83 100%);
	background-image:-o-linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#7b2b83 100%);
	background-image:linear-gradient(top,
 #bd7cc4 0%,
#b267ba 6%,
#7b2b83 100%);
	-webkit-box-shadow:0 1px 2px #999;
	-moz-box-shadow:0 1px 2px #999;
	box-shadow:0 1px 2px #999;
	border:1px solid #7b2b83;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	font-size:13px;
	margin-bottom:15px;
	position:relative
}

.oldie .main-menu {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFBD7CC4',
 endColorstr='#FF7B2B83')
}

.main-menu li {
	padding:4px 0;
	position:relative
}

.main-menu li.active {
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FF9E94A2',
 endColorstr='#FF675C6B');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllOTRhMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3NWM2YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #9e94a2),
 color-stop(100%,
 #675c6b));
	background-image:-webkit-linear-gradient(top,
 #9e94a2 0%,
#675c6b 100%);
	background-image:-moz-linear-gradient(top,
 #9e94a2 0%,
#675c6b 100%);
	background-image:-o-linear-gradient(top,
 #9e94a2 0%,
#675c6b 100%);
	background-image:linear-gradient(top,
 #9e94a2 0%,
#675c6b 100%);
	border-color:#6b646e;
	margin-right:-1px;
	z-index:10
}

.main-menu a,
.main-menu span {
	border-left:1px solid #712c77;
	color:#fff;
	display:block;
	line-height:32px;
	padding:0 20px;
	text-shadow:1px 1px 2px #000;
	text-align:center
}

.main-menu a:active,
.main-menu a:focus,
.main-menu span:active,
.main-menu span:focus {
	outline:0
}

.main-menu a:hover {
    text-decoration: underline !important;
}
.main-menu span {
	color:#bc88c1;
	cursor:default
}

.main-menu li:first-child a,
.main-menu li:first-child span {
	border:0
}

.main-menu .active a {
	border:0;
	cursor:default
}

.main-menu li:last-child {
	float:right;
	padding-left:15px
}

.menu-disabled li.active {
	background:none;
	filter:none
}

.menu-disabled li.active a {
	border-left:1px solid #712c77
}

.menu-overlay {
	background:#7b2b83;
	height:100%;
	position:absolute;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity:0.5;
	top:0;
	width:100%;
	z-index:100
}

.bank-account-box {
	margin-top:10px
}

.bank-account-box:first-child {
	margin:0
}

header {
	margin-bottom:10px;
	overflow:hidden;
	padding-top:15px;
	position:relative
}

.customer-info {
	color:#626366;
	font-size:11px
}

.customer-info a {
	text-decoration:underline
}

.customer-info img {
	-webkit-box-shadow:0 1px 2px #999;
	-moz-box-shadow:0 1px 2px #999;
	box-shadow:0 1px 2px #999;
	height:30px;
	width:30px
}

.breadcrumbs {
	margin-bottom:15px
}

.breadcrumbs a,
.breadcrumbs span {
	display:inline-block
}

.breadcrumbs a {
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-pathway-delim.gif') no-repeat 100% 50%;
	margin-right:8px;
	padding-right:15px;
	text-decoration:underline !important
}

.breadcrumbs .homepage {
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-pathway-home.png') no-repeat 0 50%;
	height:1em;
	line-height:1em;
	padding:0 0 0 15px;
	text-decoration:none
}

.breadcrumbs .homepage span {
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-pathway-delim.gif') no-repeat 100% 50%;
	padding-right:15px;
	text-decoration:underline
}

.breadcrumbs .icon-config {
	padding-left:0 !important
}

.accordion {
	position:relative
}

.accordion .accordion-section-title {
	border:1px solid #626366;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	cursor:pointer;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5YWFhYyIvPjxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiM5Mzk0OTciLz48c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzdjN2Q4MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYyNjM2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 #a9aaac),
 color-stop(4%,
 #939497),
 color-stop(47%,
 #7c7d80),
 color-stop(100%,
 #626366));
	background-image:-webkit-linear-gradient(top,
 #a9aaac 0%,
 #939497 4%,
 #7c7d80 47%,
 #626366 100%);
	background-image:-moz-linear-gradient(top,
 #a9aaac 0%,
 #939497 4%,
 #7c7d80 47%,
 #626366 100%);
	background-image:-o-linear-gradient(top,
 #a9aaac 0%,
 #939497 4%,
 #7c7d80 47%,
 #626366 100%);
	background-image:-ms-linear-gradient(top,
 #a9aaac 0%,
 #939497 4%,
 #7c7d80 47%,
 #626366 100%);
	background-image:linear-gradient(top,
 #a9aaac 0%,
#939497 4%,
#7c7d80 47%,
#626366 100%);
	margin-bottom:5px;
	overflow:hidden;
	padding:10px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.oldie .accordion .accordion-section-title {
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
 startColorstr='#FFA9AAAC',
 endColorstr='#FF626366');
	zoom:1
}

.accordion .accordion-section-title:focus {
	outline:none
}

.accordion .accordion-section-title a {
	color:#fff !important;
	float:left;
	font-size:15px;
	text-shadow:1px 1px 1px #000
}

.accordion .accordion-section-title .ui-icon {
	float:right;
	margin-top:5px
}

.accordion .accordion-section-title-sub {
	background-color:#fff;
	background-image:none;
	border-color:#bfbfbf;
	border-width:0 0 1px;
	margin-bottom:0;
	padding:5px 15px;
	overflow:hidden
}

.oldie .accordion .accordion-section-title-sub {
	filter:none
}

.accordion .accordion-section-title-sub a {
	color:#646464 !important;
	text-shadow:none
}

.accordion .accordion-section-title-sub span.ui-icon {
	float:left;
	margin-right:7px
}

.accordion .accordion-section {
	padding-bottom:5px !important;
	overflow:hidden
}

.ie7 .accordion .accordion-section {
	zoom:1
}

.accordion .accordion-section-empty {
	border:0;
	color:#626366;
	font-style:italic;
	padding:15px 0;
	text-align:center
}

.library {
	position:relative
}

.left .library {
	background:#fff url('/layouts/scripts/appalti/main/_resources/images/library-border.png') repeat-y 100% 0;
	padding:15px 10px
}

.library .add-item {
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-plus-green.png') no-repeat 100% 50%;
	color:#218021;
	cursor:pointer;
	display:block;
	margin:0 15px 15px 0;
	padding-right:15px;
	text-align:right;
	text-decoration:underline
}

.library .even {
	background:#f8f8f8
}

.library .item-change {
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-config.png') 90% 50%;
	display:inline-block;
	float:right;
	height:16px;
	text-decoration:none !important;
	width:10px
}

.new-cat {
	width:280px
}

.lib-cat-head {
	border-bottom:1px solid #bfbfbf;
	overflow:hidden;
	padding:5px 15px
}

.lib-cat-head h5 {
	float:left;
	font-weight:700;
	margin:0
}

.lib-cat-head h5:first-child {
	padding-right:10px;
	width:105px
}

.lib-cat-head input[type=checkbox] {
	float:left;
	margin-right:1em
}

.reorder-items:hover {
	text-decoration:none
}

.lib-item-row {
	margin:0;
	overflow:hidden;
	padding:5px 15px
}

.lib-item-row:hover {
	background:#FFFBCF
}

.lib-item-row>* {
	float:left
}

.lib-item-row input[type=checkbox] {
	margin-right:1em
}

.lib-item-created {
	padding-right:10px;
	width:105px
}

.actions-block {
	overflow:hidden;
	padding:20px 15px;
	text-align:center
}

.include-items,
.include-items-disabled {
	background:url('/layouts/scripts/appalti/main/_resources/images/include-items.png') no-repeat 0 0;
	height:75px;
	margin-top:-38px;
	position:absolute;
	right:-38px;
	text-decoration:none !important;
	top:50%;
	width:40px
}

.include-items:active,
.include-items:focus {
	outline:0 !important
}

.include-items-disabled {
	background-position:0 -78px
}

.lib-subcat .lib-item-row,
.lib-subcat .lib-cat-head {
	padding-left:40px
}

.lib-subcat .ui-state-active a {
	color:#000
}

.proposal-lib-cat {
	max-height:500px;
	overflow-y:auto !important
}

.proposal-lib-cat .accordion-section-title-sub {
	padding:0 15px 3px
}

.proposal-lib-cat .lib-item-row {
	padding-left:15px
}

.lib-block-actions {
	float:right;
	margin-right:-7px
}

.inline-search {
	padding:4px 0
}

.inline-search input {
	background:#fff url('/layouts/scripts/appalti/main/_resources/images/icon-search.png') no-repeat 97% 50%;
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-search.png') no-repeat 97% 50%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-search.png') no-repeat 97% 50%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-search.png') no-repeat 97% 50%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-search.png') no-repeat 97% 50%, -o-linear-gradient(bottom, #fff 85%, #eee 99%);
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-search.png') no-repeat 97% 50%, -ms-linear-gradient(top, #fff 85%, #eee 99%);
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-search.png') no-repeat 97% 50%, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
	padding:4px 30px 4px 5px;
	outline:0;
	border:1px solid #aaa;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:1em;
	width:100%;
	margin:0;
	height:26px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0
}

.ie7 .inline-search input {
	behavior:url(/public/js/polyfill/boxsizing.htc)
}

.m-block {
	margin-top:40px
}

table.form-fields th {
	text-align:left
}

table.form-fields.th-right th {
	text-align:right
}

table.form-fields>tbody>tr>th,
table.form-fields>tbody>tr>td {
	padding:2px 10px
}

table.form-fields>tbody>tr>th {
	color:#626366;
	font-weight:400
}

table.form-fields>tbody>tr>td {
	width:65%
}

table.form-fields>tbody>tr>td.info-cnt {
	padding:2px 0 !important;
	vertical-align:middle;
	width:9px;
	text-align:center
}

table.form-fields a[class^="icon-info"] {
	display:inline;
	padding-left:9px
}

table.form-fields label {
	display:inline;
	margin-right:10px
}

table.form-fields input[type="text"],
table.form-fields input[type="password"],
table.form-fields select,
table.form-fields textarea {
	margin:0
}

table.form-fields select {
	min-width:150px
}

.library-block-create {
	width:720px
}

.library-block-create input[type="text"],
.library-block-create select {
	width:210px
}

.library-block-create textarea {
	width:99%
}

.block-imgs,
.preview-block-imgs {
	height:420px;
	overflow-y:auto;
	overflow-x:hidden;
	padding:10px
}

.block-imgs .row,
.preview-block-imgs .row {
	width:100%
}

.block-imgs img,
.preview-block-imgs img {
	-webkit-box-shadow:0 1px 2px #999;
	-moz-box-shadow:0 1px 2px #999;
	box-shadow:0 1px 2px #999;
	border:5px solid #fff;
	height:auto
}

.oldie .block-imgs img,
.oldie .preview-block-imgs img {
	border:1px solid #999;
	padding:5px
}

.block-imgs li,
.preview-block-imgs li {
	margin-bottom:15px;
	width:32%
}

.block-imgs li img,
.preview-block-imgs li img {
	width:90%
}

.block-imgs {
	width:430px
}

.block-imgs>img {
	width:50%
}

.preview-block-imgs {
	width:550px
}

.preview-block-img {
	height:auto;
	width:250px
}

.preview-block-img>img {
	display:block;
	margin:0 auto;
	width:99%
}

.zebra>thead>tr>td,
.zebra>thead>tr>th,
.zebra>tbody>tr>td,
.zebra>tbody>tr>th {
	padding:2px 10px;
    vertical-align: top;
}

.zebra>thead>tr:nth-child(even)>td,
.zebra>thead>tr:nth-child(even)>th,
.zebra>thead>tr .even>td,
.zebra>thead>tr .even>th,
.zebra>tbody>tr:nth-child(even)>td,
.zebra>tbody>tr:nth-child(even)>th,
.zebra>tbody>tr .even>td,
.zebra>tbody>tr .even>th {
	border:1px solid #ededed;
	border-width:1px 0;
	background:#fafafa
}

.even,
.even>td,
.even>th {
	border:1px solid #ededed;
	border-width:1px 0;
	background:#fafafa
}

.va-middle>td,
.va-middle>th {
	vertical-align:middle
}

.va-bottom>td,
.va-bottom>th {
	vertical-align:bottom
}

table.contact-details,
table.company-details {
	margin-left:-95px;
	position:relative
}

table.contact-details h5,
table.company-details h5 {
	margin:5px 0 0
}

table.contact-details th,
table.company-details th {
	color:#949597;
	font-size:11px;
	font-weight:400;
	padding-right:25px;
	text-align:right
}

table.company-details {
	margin-left:-175px
}

table.item-summary>tbody>tr>th {
	text-align:right !important
}

table.item-summary>tbody>tr>th,
table.item-summary>tbody>tr>td {
	padding:2px 10px !important
}

.about-screen p {
	color:#626366;
	font-size:11px
}

.raphael {
	height:212px;
	width:212px
}

.width-50 .raphael {
	height:130px;
	width:130px
}

.faq td {
	width:90% !important
}

.faq-admin td {
	width:auto !important
}

.support-ticket {
	position:relative;
	width:780px
}

.support-ticket .price-info {
	position:absolute;
	right:0;
	top:5em;
	width:280px
}

.support-ticket .price-info .notice-text {
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-notice.png') no-repeat 0 2px;
	color:#626366;
	font-size:11px;
	margin:1em 0;
	padding-left:15px
}

.support-ticket .price-info label {
	padding-left:15px
}

.support-ticket .contactPerson {
	width:200px
}

.support-ticket .file-container {
	background:#f9f9f9;
	border:1px solid #b7b7b7;
	display:inline-block;
	padding:7px 7px 4px
}

.support-ticket .file-container em {
	position:relative
}

.support-ticket .file-container input[type="file"] {
	position:absolute;
	top:0;
	right:13px;
	margin:0;
	border:solid transparent;
	border-width:0 0 100px 200px;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	direction:ltr;
	cursor:pointer
}

.support-ticket .file-container .file-name {
	display:inline-block;
	padding-right:25px;
	position:relative;
	overflow:hidden
}

.support-ticket .file-container .file-remove {
	position:absolute;
	right:0;
	top:0
}

#assign-result {
	width:500px
}

.support-ticket-comments .attached-files {
	font-size:90%
}

.support-ticket-comment input[type=file] {
	display:block;
	margin-bottom:5px
}

.article img {
	max-width:100%
}

.news-short-desc {
	min-height:95px;
	padding-bottom:75px;
	position:relative;
	width:44%
}

.news-short-desc .go-to {
	bottom:15px;
	height:70px;
	position:absolute;
	text-align:center;
	width:90%
}

.news-title {
	height:1.5em;
	overflow:hidden;
	font-weight:700
}

.event-desc {
	height:5.5em;
	margin-bottom:2em;
	overflow:hidden;
	position:relative
}

.event-desc .shadow {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsMjU1LDI1NSwwKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgyNDYsMjQ2LDI0NiwwLjkpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
	background-size:100%;
	background-image:-webkit-gradient(linear,
 50% 0%,
 50% 100%,
 color-stop(0%,
 rgba(255,
255,
255,
0)),
 color-stop(100%,
 rgba(246,
246,
246,
0.9)));
	background-image:-webkit-linear-gradient(top,
 rgba(255,
255,
255,
0) 0%,
rgba(246,
246,
246,
0.9) 100%);
	background-image:-moz-linear-gradient(top,
 rgba(255,
255,
255,
0) 0%,
rgba(246,
246,
246,
0.9) 100%);
	background-image:-o-linear-gradient(top,
 rgba(255,
255,
255,
0) 0%,
rgba(246,
246,
246,
0.9) 100%);
	background-image:linear-gradient(top,
 rgba(255,
255,
255,
0) 0%,
rgba(246,
246,
246,
0.9) 100%);
	bottom:0;
	display:block;
	height:2em;
	left:0;
	position:absolute;
	width:100%
}

.oldie .event-desc .shadow {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',
 endColorstr='#e6f6f6f6',
GradientType=0 )
}

.news-status {
	border-bottom:1px solid #fff;
	color:#7b2b83;
	display:inline-block;
	padding-right:.5em
}

.even .news-status {
	border-bottom-color:#FAFAFA
}

.readmore {
	color:#7b2b83;
	visibility:hidden
}

.news-item:hover .readmore {
	visibility:visible
}

.news-item,
.event-item {
	padding:15px 10px 10px;
	overflow:hidden
}

.event-details {
	margin:0 50px 0 0;
	width:350px
}

.event-details dt,
.event-details dd {
	float:left;
	margin:0
}

.event-details dt {
	width:60px
}

.event-details dd {
	padding-left:15px;
	width:255px
}

.subscription-form {
	float:right;
	margin:0 0 25px 25px;
	width:400px
}

.subscription-form .event-details {
	width:auto
}

.subscription-form .event-details dd {
	width:270px
}

.wizard-progress {
	border-bottom:1px solid #ababab;
	margin-bottom:15px
}

.wizard-head {
	padding-bottom:15px
}

[class^="wizard-step"] {
	color:#7b2b83;
	padding-bottom:15px;
	position:relative
}

[class^="wizard-step"] .bullet {
	background:url('/layouts/scripts/appalti/main/_resources/images/icon-wizard-step.gif') no-repeat 0 0;
	bottom:-8px;
	display:inline-block;
	height:13px;
	left:50%;
	margin-left:-6px;
	position:absolute;
	width:13px
}

[class^="wizard-step"] a {
	color:#626366
}

[class^="wizard-step"] span {
	color:#a9a9ab !important
}

.wizard-step-active .bullet {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-wizard-step-active.gif')
}

.wizard-step-first .bullet {
	left:0;
	margin:0
}

.wizard-step-last .bullet {
	left:100%;
	margin-left:-13px
}

.wizard-step-complete a {
	color:#000 !important
}

.wizard-step-active a {
	color:#7b2b83;
	font-weight:700
}

.wizard-step-active span {
	color:#caaacd !important
}

.report-period td {
	padding:3px
}

.report-period select,
.report-period input {
	margin:0
}

.report-period .unit {
	width:215px
}

.report-period .month {
	width:149px
}

.report-period .year {
	width:60px
}

.statistics {
	list-style:none;
	margin-left:-50px;
	overflow:hidden
}

.statistics p {
	height:1.5em;
	margin:0 0 0.2em;
	overflow:hidden
}

.statistics li {
	float:left;
	margin-left:50px;
	padding-top:30px
}

.statistics li:first-child {
	padding-top:0
}

.statistics .last {
	float:left
}

.statistics .last p {
	overflow:hidden
}

.statistics .last p span {
	float:right
}

.statistics .last p span:first-child {
	float:left;
	margin-right:.5em
}

.statistics .agenda {
	width:190px
}

.width-50 .statistics {
	font-size:11px;
	margin-left:-10px
}

.width-50 .statistics li {
	margin-left:10px;
	padding-top:5px
}

.width-50 .statistics .last {
	float:right
}

.tpl-section {
	margin-bottom:15px
}

.tpl-row {
	list-style:none;
	overflow:hidden
}

.tpl-row li {
	float:left;
	margin:0 15px 15px 0;
	padding:0 2px 3px;
	position:relative;
	width:163px
}

.tpl-row li:nth-child(4n) {
	margin-right:0
}

.tpl-row .icon-preview-tpl,
.tpl-row .icon-select-tpl {
	display:block;
	position:absolute;
	z-index:10
}

.tpl-row .icon-preview-tpl {
	left:50%;
	margin:-17px 0 0 -20px;
	top:50%
}

.tpl-row .icon-select-tpl {
	bottom:13px;
	display:none;
	right:10px
}

.tpl-row img {
	-webkit-box-shadow:0 2px 2px -1px #666;
	-moz-box-shadow:0 2px 2px -1px #666;
	box-shadow:0 2px 2px -1px #666;
	border:1px solid;
	border-color:#f0f0f0 #d0d0d0 #a2a2a2 transparent;
	cursor:pointer;
	display:block;
	padding:18px;
	width:127px
}

.tpl-row .tpl-selected img {
	border:1px solid #1fba00
}

.tpl-row .tpl-selected .icon-select-tpl {
	display:block
}

.oldie .tpl-preview {
	width:240px
}

.tpl-preview img {
	display:block;
	margin:0 auto
}

.tpl-typo th,
.tpl-typo td {
	vertical-align:middle
}

.tpl-typo>tbody>tr>td {
	width:auto !important
}

.tpl-typo .font-target>* {
	display:block;
	height:1.5em;
	margin:0;
	overflow:hidden
}

.tpl-typo .font-size {
	min-width:4em;
	width:4em
}

.tpl-typo .font-size optgroup {
	font-style:normal
}

.tpl-typo .font-style {
	background:#d3d3d3;
	color:#000;
	cursor:pointer;
	display:inline-block;
	padding:3px 8px
}

.tpl-typo .font-style.checked {
	color:#fff;
	background:#808080
}

.tpl-typo em.font-style {
	padding-right:11px
}

.mask {
	background-color:#251927;
	color:#fff;
	height:100%;
	left:0;
	opacity:0.95;
	filter:alpha(opacity=95);
	position:fixed;
	top:0;
	width:100%;
	z-index:999999
}

.mask .mask-msg {
	background:url('/layouts/scripts/appalti/main/_resources/images/mask-preloader.gif') no-repeat 0 50%;
	font-size:120%;
	left:50%;
	opacity:0.5;
	filter:alpha(opacity=50);
	padding-left:21px;
	position:absolute;
	top:50%
}

.switch-tpl {
	background:#d188d8;
	border:2px solid #c262cb;
	color:#fff;
	margin-bottom:10px;
	padding:.8em
}

.tpl-pages .tab-pane {
	overflow:hidden
}

.tpl-pages [class^="tpl-page"] {
	float:left;
	padding:10px 0
}

.tpl-page-wrap {
	background:url('/layouts/scripts/appalti/main/_resources/images/v-delim.gif') repeat-y 0 0;
	float:left;
	width:600px
}

.tpl-changed {
	font-weight:700
}

.tpl-wrap {
	overflow:hidden
}

.tpl-settings {
	background:url('/layouts/scripts/appalti/main/_resources/images/v-delim.gif') repeat-y 100% 0;
	float:left;
	min-height:105mm;
	margin-right:-1px;
	padding:10px 15px 10px 10px !important;
	width:335px
}

.tpl-page {
	background:#fff;
	-webkit-box-shadow:0 0 3px #999;
	-moz-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
	border:1px solid #999;
	float:none !important;
	height:148.5mm;
	margin:0 auto;
	overflow:hidden;
	padding:0 !important;
	position:relative;
	width:105mm
}

.tpl-page.landscape {
	height:105mm;
	width:148.5mm
}

.tpl-page .bg {
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0
}

.tpl-logo,
.tpl-paging {
	background:#FFF500;
	border:1px dotted gray;
	cursor:move;
	height:3em;
	position:absolute !important;
	left:80%;
	text-align:center;
	top:0;
	width:4em;
	z-index:0
}

.tpl-logo i,
.tpl-paging i {
	color:#000;
	display:block;
	font-style:normal;
	left:50%;
	margin:-1em 0 0 -1em;
	position:absolute;
	top:50%
}

.tpl-paging {
	font-size:9px;
	height:1.5em;
	left:auto;
	right:0;
	padding:3px 5px;
	width:8em
}

.tpl-content {
	height:100%;
	margin:0 5mm;
	overflow:hidden;
	position:relative
}

.tpl-content-main {
	height:100%;
	width:100%
}

.sample-txt {
	color:#626366;
	left:0;
	margin-top:-.5em;
	position:absolute;
	text-align:center;
	top:50%;
	width:100%
}

[class*="tpl-margin-"] {
	background:rgba(213,
237,
248,
0.8);
	border:1px dashed #92CAE4;
	overflow:hidden;
	position:absolute !important
}

.oldie [class*="tpl-margin-"] {
	background:#d5edf8;
	filter:alpha(opacity=80)
}

.tpl-margin-t,
.tpl-margin-b {
	border-width:0 0 1px;
	height:5mm;
	left:0 !important;
	top:0 !important;
	width:105mm !important
}

.landscape .tpl-margin-t,
.landscape .tpl-margin-b {
	width:148.5mm !important
}

.tpl-margin-b {
	border-width:1px 0 0;
	bottom:0 !important;
	top:auto !important
}

.tpl-margin-l,
.tpl-margin-r {
	border-width:0 1px 0 0;
	height:148.5mm !important;
	left:0 !important;
	top:0 !important;
	width:5mm
}

.landscape .tpl-margin-l,
.landscape .tpl-margin-r {
	height:105mm !important
}

.tpl-margin-r {
	border-width:0 0 0 1px;
	left:auto !important;
	right:0 !important
}

.proposal-structure {
	padding-top:15px
}

.proposal-structure h2,
.proposal-structure h4 {
	padding-left:30px
}

.proposal-structure .disableTOC {
	margin:3px 9px 0 0;
	padding-right:50px;
	position:relative
}

.proposal-structure .disableTOC small {
	bottom:3px;
	margin-left:5px;
	position:absolute;
	right:0
}

.proposal-structure-section {
	margin-bottom:15px
}

.proposal-pdf {
	border-top:1px dotted #d1d1d1;
	margin-top:20px;
	padding-top:5px
}

.proposal-pdf.first {
	border-top:0;
	margin-top:0;
	padding-top:0
}

.proposal-offers tr>*,
.proposal-extra-pays tr>* {
	padding:5px 5px 5px 25px
}

.proposal-offers th,
.proposal-extra-pays th {
	border-bottom:1px solid #000;
	color:#7b2b83;
	text-align:left
}

.proposal-offers td,
.proposal-extra-pays td {
	background:url('/layouts/scripts/appalti/main/_resources/images/hr-bg.gif') repeat-x 0 0
}

.proposal-offers tfoot,
.proposal-extra-pays tfoot {
	font-weight:700
}

.proposal-offers tfoot td,
.proposal-extra-pays tfoot td {
	background:none;
	border:1px solid #000;
	border-width:1px 0
}

.accordion-section .proposal-offers tr>*:first-child,
.accordion-section .proposal-extra-pays tr>*:first-child {
	padding-left:5px
}

.proposal-offers td {
	white-space:nowrap
}

.proposal-offers .offer-action {
	padding-right:0;
	padding-left:5px
}

.proposal-offers .offer-name {
	padding-left:0;
	white-space:normal
}

.proposal-offers .offer-name small {
	display:block;
	height:3em;
	overflow:hidden
}

.proposal-offers .add-offer {
	margin:10px 0
}

.sort-handle-wrap {
	padding:7px 5px 5px !important
}

.drag-handle {
	cursor:move;
	position:relative
}

.drag-handle i {
	color:#A9A9AB;
	font-size:80%;
	font-style:normal;
	visibility:hidden;
	position:absolute;
	right:0;
	top:0
}

.drag-handle:hover i {
	visibility:visible
}

.proposal-extra-pays input[type="text"],
.proposal-extra-pays select {
	margin:0
}

.proposal-extra-pays thead th {
	border-top:1px solid #000;
	color:#000
}

.proposal-extra-pays tbody td {
	padding-top:10px;
	padding-bottom:10px
}

.proposal-extra-pays tbody td:nth-child(2),
.proposal-extra-pays tbody td:nth-child(3) {
	color:#000
}

.proposal-extra-pays .total {
	color:#7b2b83;
	font-size:15px
}

.proposal-extra-pays .asterisk {
	font-size:10px
}

.proposal-extra-pays .normal {
	font-weight:400
}

.proposal-text-blocks td {
	background:url('/layouts/scripts/appalti/main/_resources/images/hr-bg.gif') repeat-x 0 0;
	padding:10px 0
}

.proposal-text-blocks textarea {
	width:97%
}

.proposal-text-blocks dl {
	font-size:11px
}

.proposal-text-blocks dt {
	border-top:1px dotted #a9a9ab;
	margin-top:20px;
	padding-top:5px
}

.proposal-text-blocks dt:first-child {
	border:0;
	margin:0;
	padding:0
}

.proposal-text-blocks dd {
	color:#a9a9ab;
	font-weight:400;
	margin:0;
	padding-left:1em
}

.contact-person-create {
	width:520px
}

.sortable-list {
	list-style:decimal inside;
	min-height:2em
}

.sortable-list.ls-alpha {
	list-style-type:upper-alpha
}

.sortable-list li {
	border-top:1px dotted #d1d1d1;
	cursor:move;
	padding:5px 85px 5px 40px;
	position:relative;
	word-wrap:break-word
}

.sortable-list .first {
	border-top:0
}

.sortable-list .first .icon-move-up {
	background-position:0 -14px
}

.sortable-list .last .icon-move-down {
	background-position:-13px -14px
}

.sortable-highlight {
	border:1px dashed #d1d1d1;
	background:#ffe45c;
	opacity:0.5;
	filter:alpha(opacity=50)
}

.sortable-pos,
.sortable-item-actions {
	left:0;
	margin-top:-7px;
	position:absolute;
	top:50%
}

.sortable-item-actions {
	left:100%;
	margin-left:-94px;
	text-align:right;
	top:1.2em;
	width:100px
}

.sortable-item-actions [class^="icon-"] {
	cursor:pointer;
	height:13px;
	padding:0;
	width:16px
}

.sortable-item-actions input[type=checkbox] {
	margin-right:5px
}

#content-wrap {
	margin:20px 0;
	overflow:hidden
}

.search-panel input[type='text'] {
	margin:0
}

.list-container {
	background:#fff;
	border:1px solid #e0e0e0;
	-webkit-box-shadow:0 2px 2px -1px #666;
	-moz-box-shadow:0 2px 2px -1px #666;
	box-shadow:0 2px 2px -1px #666;
	padding:3px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.accordion-section .list-container {
	border:0;
	box-shadow:none;
	padding:0
}

.list-container table th {
	border-bottom:1px solid #bfbfbf;
	color:#7b2b83;
	font-weight:700;
	padding:5px;
	text-align:left
}

.list-container table a {
	color:#000;
	display:inline-block;
	height:1.1em;
	line-height:1em;
	overflow:hidden;
	text-decoration:underline
}

.list-container .zebra tbody>tr:hover>td,
.list-container .zebra tbody>tr:hover>th {
	background:#FFFBCF !important
}

.list-container .zebra tbody td {
	padding:5px 10px
}

.list-container .actions {
	padding-right:5px !important;
	text-align:right
}

.list-container .actions a {
	text-decoration:none
}

.list-container .actions .icon-info-small {
	padding-left:11px
}

.highlight {
	background:#f2e9f2 !important
}

.highlight td {
	background:#f2e9f2 !important;
	border-bottom-color:#d5ccd5 !important;
	border-top-color:#d5ccd5 !important;
	border-width:1px 0 !important;
	border-style:solid !important
}

.list-title {
	background:#ddd;
	border:1px solid #cfcfcf;
	font-size:16px;
	margin-bottom:3px;
	padding:5px 12px;
	text-shadow:1px 1px 0 #fff;
	text-align:center
}

.list-title input,
.list-title select {
	font-size:12px
}

.title-with-btn .list-title {
	padding:8px 12px;
	width:255px
}

.title-with-btn [class*="btn"] {
	line-height:30px;
	padding:5px 12px;
	width:auto
}

.list-form {
	background:#f6f6f6;
	-webkit-box-shadow:0 1px 2px -2px #666;
	-moz-box-shadow:0 1px 2px -2px #666;
	box-shadow:0 1px 2px -2px #666;
	margin-bottom:10px;
	padding:10px
}

.list-form input[type="text"] {
	margin-right:5px;
	width:200px
}

.progress-bar {
	border:1px solid #dcdcdc;
	display:inline-block;
	height:8px;
	line-height:8px;
	overflow:hidden;
	width:50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ie7 .progress-bar {
	margin-right:.5em
}

.progress-bar>i {
	border:1px solid;
	display:inline-block;
	float:left;
	width:100%
}

.progress-bar .in-progress {
	border-color:#636467;
	background:#636467
}

.progress-bar .expired {
	border-color:#b9b9ba;
	background:#b9b9ba
}

.progress-bar .won,
.progress-bar .done {
	border-color:#2c8b2c;
	background:#2c8b2c
}

.progress-bar .lost {
	border-color:#ca0000;
	background:#ca0000
}

.progress-bar .withdrawn {
	border-color:#f57920;
	background:#f57920
}

.status-field {
	background:no-repeat 0 50%;
	color:#626366;
	font-size:11px
}

.status-field.expired {
	color:#b5b6b7
}

.status-field.won,
.status-field.lost,
.status-field.withdrawn {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-status-done.gif');
	margin-left:5px;
	padding-left:13px
}

.status-field.lost {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-status-lost.gif')
}

.status-field.withdrawn {
	background-image:url('/layouts/scripts/appalti/main/_resources/images/icon-status-withdrawn.gif')
}

.offer-modal-container,
.summary-modal {
	width:520px
}

.proposal-template {
	border:0;
	height:500px;
	margin-left:4%;
	width:96%
}

.prices {
	list-style:none
}

.prices li {
	background:url('/layouts/scripts/appalti/main/_resources/images/hr-bg.gif') repeat-x 0 100%;
	overflow:hidden;
	padding:3px 0
}

.prices li ul {
	padding-left:1em
}

.prices p {
	overflow:hidden
}

.prices i {
	float:right;
	font-style:normal
}

.prices i:first-child {
	color:#626366;
	float:left
}

.prices .last {
	background:none
}

.available-fonts {
	float:left;
	width:30%
}

.available-fonts select {
	height:440px;
	margin:5px 0 0;
	width:100%
}

.font-preview {
	float:right;
	width:65%
}

.preview-area {
	background:#fff;
	border:1px solid #ABABAD;
	font-size:14px !important;
	height:420px;
	margin:5px 0 0;
	overflow-y:auto;
	padding:10px
}

.preview-area * {
	color:#000 !important
}

.reorder-blocks {
	width:450px
}

.reorder-blocks .sortable-list {
	border:1px solid #d1d1d1;
	height:400px;
	margin-top:10px;
	overflow-y:auto;
	padding:5px
}

footer {
	background:url('/layouts/scripts/appalti/main/_resources/images/hr-bg.gif') repeat-x 0 0;
	color:#626366;
	margin-top:20px;
	padding:20px 0
}

footer nav {
	position:relative
}

footer .menu-overlay {
	background:#FFF
}

footer .navigation {
	text-align:center;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

footer .navigation li {
	border-left:1px solid #626366;
	display:inline-block;
	*display:inline;
	float:none;
	padding:0 10px;
	zoom:1;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

footer .navigation li:first-child {
	border:0;
	padding-left:0
}

footer .navigation li:last-child {
	display:none
}

footer a {
	color:#626366;
	text-decoration:underline
}

.copyright {
	font-size:90%;
	text-align:center
}

.ir {
	display:block;
	border:0;
	text-indent:-999em;
	overflow:hidden;
	background-color:transparent;
	background-repeat:no-repeat;
	text-align:left;
	direction:ltr
}

.ir br {
	display:none
}

.hidden {
	display:none !important;
	visibility:hidden
}

.visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto
}

.invisible {
	visibility:hidden
}

.clearfix:before,
.clearfix:after {
	content:"";
	display:table
}

.clearfix:after {
	clear:both
}

.clearfix {
	zoom:1
}

.float-l {
	float:left !important
}

.float-r {
	float:right !important
}

.no-float {
	float:none !important
}

.margin-t {
	margin-top:10px
}

.margin-b {
	margin-bottom:10px
}

.margin-r {
	margin-right:10px
}

.margin-l {
	margin-left:10px
}

.margin-rl {
	margin-right:10px;
	margin-left:10px
}

.margin-tb {
	margin-top:10px;
	margin-bottom:10px
}

.padding-l {
	padding-left:10px
}

.padding-r {
	padding-right:10px !important
}

.padding-rl {
	padding:0 10px
}

.padding-all {
	padding:0px
}

.no-margin {
	margin:0 !important
}

.no-padding {
	padding:0 !important
}

.no-border {
	border:0 !important
}

.no-bg {
	background:none !important
}

.text-l {
	text-align:left !important
}

.text-r {
	text-align:right !important
}

.text-c {
	text-align:center !important
}

.text-normal {
	font-size:12px !important
}

.width {
	width:100%
}

.width-50 {
	width:50%
}

.align-center {
	margin:0 auto
}

.star,
.asterisk {
	color:#f00;
	font-size:85%
}

.unselectable {
	-moz-user-select:-moz-none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.fixed-col-tbl {
	table-layout:fixed;
	width:100%
}

.va-top {
	vertical-align:top !important
}

.va-bottom {
	vertical-align:bottom !important
}

.va-middle {
	vertical-align:middle !important
}

.inline {
	display:inline !important
}

.text-pink {
	color:#7b2b83
}

.text-black {
	color:#000
}

.numbered {
	list-style:decimal inside
}


