<div style="height:565px;overflow: scroll">
    <div><h3 align="center"><?=$this->newsRow['title']?></h3></div>

    <div><strong><?=$this->translate('publish')?> :</strong><?=$this->newsRow['publish']?> </div>

    <br>

    <div style="border: 3px double #D8E4F3"><?=($this->newsRow['text'])?></div>

    <br>


    <div>
        <strong><?=$this->translate('startPublish')?> :</strong><?=$this->newsRow['startPublish']?>
    </div>

    <div>
        <strong><?=$this->translate('endPublish')?> :</strong><?=$this->newsRow['endPublish']?>
    </div>

    <div>
        <a href="<?=$this->newsRow['directShareLink']?>" target=_blank>
            <h4 align="right"><?=$this->newsRow['directShareLink']?></h4>
        </a>
    </div>
</div>