<? if (empty($this->listOnly)): ?>
    <div class="list-container">
        <div class="clearfix title-with-btn">
            <a href="/news/index/form/" class="btn-big text-c float-l">
                Nieuwsbericht aanmaken
            </a>
            <div class="list-title text-l float-r">Laatste nieuws</div>
        </div>
    <?$contentId = uniqid('NewsBlockContent_');?>
    <div id="<?=$contentId;?>">
<? endif; ?>
    <div class="list-form ">
        <?=$this->formFilterSearch('title', 'stringfree', array(
            'placeholder' => 'Bericht zoeken',
            'id' => $this->blockId
        )); ?>
    </div>
    <table class="width zebra">
        <colgroup>
            <col width="260px">
            <col width="80px">
            <col width="80px">
        </colgroup>
        <thead>
            <tr>
                <th>Titel nieuwsbericht</th>
                <th colspan="2">Gepubliceerd</th>
            </tr>
        </thead>
        <tbody>
            <? if (!empty($this->rowset)): ?>
                <? $len = count($this->rowset) - 1;?>
                <? foreach ($this->rowset as $k => $row): ?>
                    <tr <?if ($k % 2):?>class="even"<?endif;?>>
                        <td>
                            <a href="/news/index/preview/newsId/<?=$row['id'];?><?=($k === 0) ? '/first/1' : '';?><?=($k === $len) ? '/last/1' : '';?>"
                               title="<?=$row['title']?>">
                                <? if (!$row['isActive']):?><span class="news-status">Concept:</span><?endif?><?=$row['title']?>
                            </a>
                        </td>
                        <td class="va-middle text-dark-gray">
                            <?=$this->formatDate($row['startPublish']);?>
                        </td>
                        <td class="actions va-middle">
                            <a class="icon-zoom" href="/news/index/preview/newsId/<?=$row['id'];?><?=($k === 0) ? '/first/1' : '';?><?=($k === $len) ? '/last/1' : '';?>" title="Meer details">&nbsp;</a>
                            <a class="icon-edit" href="/news/index/form/newsId/<?=$row['id'];?>" title="Bewerken">&nbsp;</a>
                            <a class="icon-delete" href="/news/index/delete/newsId/<?=$row['id'];?>" title="Verwijder">&nbsp;</a>
                        </td>
                    </tr>
                <? endforeach; ?>
            <? else: ?>
                <tr>
                    <td colspan="7" class="text-c text-gray"><em>Geen</em></td>
                </tr>
            <? endif; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
<? if (empty($this->listOnly)):?>
    </div>
    </div>

    <script type="text/javascript">
        AppaltiLayout.blocks.NewsListBlock = new AppaltiLayoutBlock({
            module: 'news',
            block: 'news-list',
            updateElId: '<?=$contentId;?>',
            listUpdateParams: {
                _bid: '<?=$this->blockId; ?>'
            }
        });
    </script>
<? endif; ?>
