<div class="user-pnl">
    <table>
        <tr>
            <td>
                <span class="icon-16 text icon-manager-16">
                    <?=$this->translate('User name'); ?>: <?=Zend_Auth::getInstance()->getIdentity()->getFullname(); ?>
                </span>
            </td>
            <td class="indent-rl">&nbsp;</td>
            <td colspan="2">
                <span class="indent-r icon-16 text icon-calendar-16">
                    <?=$this->translate('Last visit'); ?>: 10-09-2007
                </span>
            </td>
            <?if(0 === strcasecmp('development', APPLICATION_ENV)): ?>
                <td>
                    <span class="icon-16 text icon-chronometer-16">
                        <?=count(get_included_files()); ?>
                        (<?=round(microtime(true) - $GLOBALS['T'], 6); ?>)
                    </span>
                </td>
            <?endif; ?>
        </tr>
        <tr>
            <td class="indent-t">
                 <span class="icon-16 text icon-role-16">
                     <?=$this->translate('Role'); ?>: <?=Zend_Auth::getInstance()->getIdentity()->getRoleName(); ?>
                 </span>
            </td>
            <td class="indent-trl">&nbsp;</td>
            <td class="indent-t">
                <a class="icon-16 text icon-user-info-16" href="/account/profile/">
                    <?=$this->translate('Profile'); ?>
                </a>
            </td>
            <td class="indent-t">
                <a class="icon-16 text icon-logout-16" href="/account/authenticate/logout/">
                    <?=$this->translate('Logout'); ?>
                </a>
            </td>
            <?if(0 === strcasecmp('development', APPLICATION_ENV)): ?>
                <td class="indent-t">
                    <?if($this->releaseVersion): ?>
                    v. <?=$this->releaseVersion; ?> (<?=$this->releaseDate; ?> <a href="http://en.wikipedia.org/wiki/Greenwich_Mean_Time" target="_blank">GMT</a>)
                    <?endif; ?>
                </td>
            <?endif; ?>
        </tr>
    </table>
</div>