<div id="attachment">
    <style type="text/css">
        <? include __DIR__ . "/../css/content.css" ?>
    </style>

    <div id="contentBlocks">
        <? foreach($metadata as $ii => $blockDefinitionRow): ?>
            <?if($blockDefinitionRow->hasPageBreak() && $ii != 0): ?>
                <div style="page-break-before: always;"></div>
            <?endif; ?>

            <?if (!$blockDefinitionRow->isFitable()): ?>
                <h1><?=htmlspecialchars($blockDefinitionRow->getTitle()); ?></h1>
            <?endif; ?>

            <? if ($blockDefinitionRow->kind === 'file'):?>
                <div class="center-img">
            <? endif;?>

            <?=$blockDefinitionRow->getMetadata(); ?>

            <? if ($blockDefinitionRow->kind === 'file'):?>
                </div>
            <? endif;?>
        <? endforeach; ?>
    </div>
</div>
