<?
    $this->formValue()->init();
    $this->formValue()->omitNullableModel(true);
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<?/** deprecated: Support aanvraag ?>
<div class="support-info modal" id="support-info">
    <a href="#support-info" class="modal-close" data-dismiss="modal">&nbsp;</a>
    <form enctype="multipart/form-data" method="post" class="support-ticket validatable">
        <table  class="width form-fields">
            <tr>
                <th colspan="20">
                    <h2><?=$this->translate('Support aanvraag formulier');?></h2>
                    <br />
                    <h4><?=$this->translate('Aanvraag gedaan door');?></h4>
                </th>
            </tr>
            <tr>
                <th><?=$this->translate('Bedrijf');?>:</th>
                <td class="info-cnt"></td>
                <td><?=$this->companyRow->getFullName();?><br></td>
            </tr>
            <tr>
                <th><?=$this->translate('Contactpersoon');?>:</th>
                <td class="info-cnt"></td>
                <td>
                    <?
                        echo $this->modules('company')->contactPersonComboBox($this->companyRow)->toField(
                            'contactPersonId',
                            $this->formValue('contactPersonId') ? $this->formValue('contactPersonId') : $this->contactPersonId,
                            array( 'class' => 'contactPerson required' )
                        );
                    ?>
                </td>
            </tr>
            <tr>
                <th>
                    <br />
                    <h4><?=$this->translate('Uw aanvraag');?></h4>
                    <?=$this->translate('Soort aanvraag');?>:
                </th>
                <td class="info-cnt va-bottom"></td>
                <td class="va-bottom">
                    <?=$this->modules('support-ticket')
                        ->serviceComboBox()
                        ->toField('serviceId', $this->formValue('serviceId'), array(
                            'class' => 'required'
                        ));
                    ?>
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('Deadline opdracht');?>:</th>
                <td class="info-cnt"></td>
                <td>
                    <?=$this->modules('support-ticket')
                        ->priorityComboBox()
                        ->toField(
                            'priority', $this->formValue('priority'), array(
                            'class' => 'required'
                            )
                        ); ?>
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('Aantal pagina\'s');?>:</th>
                <td class="info-cnt"></td>
                <td>
                    <input type="text" size="5" name="numberOfPages" class="number" value="<?= $this->formValue('numberOfPages'); ?>">
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('Doel van de tekst');?>:</th>
                <td class="info-cnt"></td>
                <td>
                    <?=$this->modules('support-ticket')
                            ->aimOfTextComboBox()
                            ->toField(
                                'aimOfText', $this->formValue('aimOfText'), array(
                                'class' => 'required'
                                )
                            ); ?>
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('Aantal mensen die tekst gaan lezen');?>:</th>
                <td class="info-cnt"></td>
                <td>
                    <select name="amountOfPeople">
                        <? for($i = 1; $i <= 10; $i++ ): ?>
                            <option value="<?=$i?>" <?if ($this->formValue('amountOfPeople') == $i):?>selected="selected"<? endif; ?>><?=$i;?></option>
                        <? endfor; ?>
                    </select>
                </td>
            </tr>

            <tr>
                <th class="va-top"><?=$this->translate('Functie van mensen die gaan lezen');?>:</th>
                <td class="info-cnt va-top"></td>
                <td>
                    <textarea  name="writerFunc" rows="5" class="required" cols="70" ><?=$this->formValue('writerFunc'); ?></textarea>
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('Klantmotief');?> 1:</th>
                <td class="info-cnt"></td>
                <td>
                    <?=$this->modules('support-ticket')
                        ->motifComboBox()
                        ->toField(
                            'primaryMotif', $this->formValue('primaryMotif'), array(
                            'class' => 'required'
                            )
                        ); ?>
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('Klantmotief');?> 2:</th>
                <td class="info-cnt"></td>
                <td>
                    <?=$this->modules('support-ticket')
                        ->motifComboBox()
                        ->toField(
                            'secondaryMotif', $this->formValue('secondaryMotif'), array(
                            'class' => 'required'
                            )
                        ); ?>
                </td>
            </tr>

            <tr>
                <th class="va-top"><?=$this->translate('Aanvulende informatie');?>:</th>
                <td class="info-cnt va-top"></td>
                <td>
                    <textarea  name="comment" class="required" rows="5" cols="70"><?= $this->formValue('comment'); ?></textarea>
                </td>
            </tr>

            <tr>
                <th class="va-top"><?=$this->translate('Uw document(en)');?>:</th>
                <td class="info-cnt"></td>
                <td>
                    &nbsp;<?=$this->translate('Reeds geupload');?>:
                    <br>
                    <table>
                        <tr>
                            <td class="info-cnt va-middle">&nbsp;</td>
                            <td>
                                <span class="file-container">
                                    <em class="file-name">
                                        <span class="text-gray"><?=$this->translate('Selecteer een bestand');?></span>
                                        <input type="file" class="required file" data-accept=".pdf, .doc, .docx, .rtf" name="files">
                                        <a href="#" class="file-remove icon-delete-cross">&nbsp;</a>
                                    </em>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <table><tbody id="extra-files-container"></tbody></table>
                    <br>
                    <a href="#" class="btn add_file">
                        <i class="icon-add"><?=$this->translate('Voeg een bestand');?></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="text-c">
                    <br />
                    <hr />
                    <button class="btn-big" type="submit">
                        Support aanvraag verzenden <span class="text-normal">(<span class="ticketPrice"></span> credits)</span>
                    </button>
                    <br />
                    <br />
                    <small>Of <a href="#" data-dismiss="modal">annuleer</a> deze support aanvraag</small>
                </td>
            </tr>
        </table>

        <div class="price-info">
            <div class="box-gray">
                <p><?=$this->translate('Deze support aanvraag kost');?>:</p>

                <h3 class="no-margin">
                    <strong><span class='ticketPrice'></span> minutes <span id='words'></span></a></strong><small class="text-dark-gray"> / <?=(int) $this->credits;?> beschikbaar</small>
                </h3>
            </div>

            <input type="hidden" id="availableMinutes" name="minutes" value="<?=(int) $this->credits;?>">
            <input type="hidden" class="ticketPrice" name="price" value="">
            <input type="hidden" id="wordCount" name="wordCount" value="">

            <div style="display: none;" id="more-credits-question">
                <p class="notice-text">
                    <em>
                        <?=nl2br($this->translate('U heeft nu niet genoeg credits voor deze support aanvraag. Om de support aanvraag te plaatsen moet u dus opwaarderen. Wilt u uw credits opwaarderen tijdens deze aanvraag?'));?>
                    </em>
                </p>

                <label>
                    <input type="checkbox" name="agree" value="1" />
                    <strong><em><?=$this->translate('Ja, waardeer mijn credits op.');?></em></strong>
                </label>
            </div>
        </div>
    </form>
<div>
<?/**/?>
<? //require "no-support-info.phtml"; ?>
<div class="support-info modal" id="support-info">
     <a href="#support-info" class="modal-close" data-dismiss="modal">&nbsp;</a>
     <form method="post" action="<?= $this->url(array('controller'=>'feedback','action'=>'email')) ?>" enctype="multipart/form-data" class="support-ticket validatable">
             <input type="hidden" name="email[account_id]" value="<?= ($this->accountRow)? $this->accountRow->getId():'0' ?>"/>
             <input type="hidden" name="email[contactperson_id]" value="<?= ($this->contactPersonRow)? $this->contactPersonRow->getId():'0' ?>"/>
             <input type="hidden" name="email[company_id]" value="<?= ($this->companyRow)?$this->companyRow->getId():'0' ?>"/>
        <h2><?=$this->translate('Appalti Support');?></h2>
        <p>Heeft u een vraag of opmerking? Laat u horen! We helpen u graag.</p>
         <div>
             <label><?= $this->translate('Bedrijfsnaam') ?></label>
             <input class="required" type="text" name="email[company_name]" value="<?= ($this->companyRow)? trim($this->companyRow->name.' '.$this->companyRow->form):'' ?>" placeholder="Bedrijfsnaam"/>
         </div>
         <div>
             <label><?= $this->translate('Naam') ?></label>
             <input class="required" type="text" name="email[contactperson_name]" value="<?= ($this->contactPersonRow)? trim($this->contactPersonRow->firstname.' '.$this->contactPersonRow->lastname):'' ?>" placeholder="Uw naam"/>
         </div>
         <div>
             <label><?= $this->translate('Tel.nr.') ?></label>
             <input class="required phoneNL" type="text" name="email[contactperson_phonenr]" value="<?= ($this->contactPersonRow)? $this->contactPersonRow->phone:'' ?>" placeholder="Uw telefoonnummer"/>
         </div>
         <div>
             <label><?= $this->translate('E-mail') ?></label>
             <input class="required email" type="text" name="email[contactperson_emailaddress]" value="<?= ($this->contactPersonRow)? $this->contactPersonRow->email:'' ?>" placeholder="Uw e-mailadres"/>
         </div>
         <div>
             <label><?= $this->translate('Onderwerp') ?></label>
             <input class="required" type="text" name="email[subject]" placeholder="Uw onderwerp"/>
         </div>
         <div>
             <label><?= $this->translate('Opmerking / vraag') ?></label>
             <textarea class="required" name="email[message]" placeholder="Uw vraag of opmerking"></textarea>
         </div>
         <div>
            <label>&nbsp;</label>
            <button type="submit"><?= $this->translate('Meldt het aan Appalti') ?></button>
         </div>
     </form>
     <style type="text/css">
         #support-info form {
             padding:15px;
             margin: 10px 10px 20px;
         }
         #support-info form p {
             margin: 0px 0px 20px;
         }
         .support-ticket div label {
             display: inline-block;
             width:100px;
         }
         .support-ticket input,
         .support-ticket select,
         .support-ticket textarea {
             width:264px;
         }

     </style>
     <script type="text/javascript">
         jQuery(function(){
            $('form.support-ticket').bind('submit',function(){
                return false;
            });
            var b = $('form.support-ticket button[type="submit"]').bind('click', function(){
                var form = $('form.support-ticket');
                $.ajax({
                    url: $(form).attr('action') + '/form/json',
                    type: $(form).attr('method'),
                    data: $(form).serialize(),
                    beforeSend: function(xhr, settings) {
                        console.log('url: '+ this.type +' '+ this.url);
                        console.log('data: '+ this.data);
                        if (!$(form).valid())
                        {
                            xhr.abort();
                            console.log('xhr aborted');
                        }
                    }
                }).done(function(data, status, xhr){
                    console.log('status: '+ status);
                    console.log('done: '+ data);
                    $(form).replaceWith(data);
                }).fail(function(xhr, status, error ) {
                    console.log('status: '+ status);
                    console.log('fail: ' + error);
                });
            });
         });
     </script>
</div>


