<?=$this->information()->init();?>
<div class="box-gray actions-block margin-b">
    <a class="create-ticket btn-green btn-big2 margin-r action-create-block" href="#">
        Create ticket
    </a>
</div>

<div class="list-container">
    <div class="list-title">Ticketes</div>
    <div class="list-form">
        <?=$this->formFilterSearch('serviceName', 'stringfree'); ?>
    </div>

    <table class="width">
        <colgroup>
            <col width="20%">
            <col width="35%">
            <col width="*">
            <col width="*">
        </colgroup>
        <thead>
            <tr>
                <th>Service</th>
                <th>Contact person</th>
                <th>Created</th>
                <th>Modified</th>
                <th colspan="2">Status</th>
            </tr>
        </thead>
        <tbody>
            <? if (!empty($this->rowset)): ?>
                <?foreach($this->rowset as $ticketRow): ?>
                    <tr class="status-<?=$ticketRow['status']?>">
                        <td>
                            <?=$ticketRow['serviceName']; ?>
                        </td>
                        <td>
                            <?= $ticketRow['contactPersonLastname'] . ' ' . $ticketRow['contactPersonFirstname']; ?>
                        </td>
                        <td>
                            <?=empty($ticketRow['createdDatetime']) ? '' : date('d-m-Y H:i', strtotime($ticketRow['createdDatetime'])); ?>
                        </td>
                        <td>
                            <?=empty($ticketRow['modifiedDatetime']) ? '' : date('d-m-Y H:i', strtotime($ticketRow['modifiedDatetime'])); ?>
                        </td>
                        <td>
                            <?= $ticketRow['status'];?>
                        </td>

                        <td class="actions">
                            <a href="/support-ticket/client/view-posts/ticketId/<?=$ticketRow['id'];?>">
                                <span class="icon-info">&nbsp;</span>
                            </a>
                        </td>
                    </tr>
                <?endforeach; ?>
            <? else: ?>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            <? endif; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
</div>
<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src ="/modules-appalti/support-ticket/views/scripts/default/client/_resources/js/SupportTicketForm.js"></script>
