<div class="support-info modal" id="support-info">
     <a href="#support-info" class="modal-close" data-dismiss="modal">&nbsp;</a>

     <div class="support-box">
         <div class="support-girl">&nbsp;</div>
         <br>
         <h2 class="text-c"><?=$this->translate('Support aanvragen');?></h2>
         <div class="desc float-l">
             <p class="text-black">
                 <?=nl2br($this->translate('Bij vragen over uw offertes of een deel van uw offerte kunt u ook contact opnemen met Appalti. We zijn gespecialiseerd in ondersteuning bij het maken van de perfecte offerte voor businessaanvragen.'));?>
                 <br>
                 <br>
                 <?=nl2br($this->translate('Wilt u eens tekst  laten redigeren, schrijven of vertalen <br> of een gehele offerte wilt laten nalezen?'));?>
                 <br>
                 <br>
                 <?=nl2br($this->translate('In dat geval klikt u op de knop hieronder.'));?>
             </p>
         </div>
         <a href="mailto:info@appalti.nl" class="help-btn ir" title="Ik heb een supportvraag">
             <?=$this->translate('Ik heb een supportvraag');?>
         </a>
     </div>
     <div class="support-info-footer text-c text-black">
         <?=nl2br($this->translate('Wanneer u vragen heeft over het systeem en u niet weet wat u moet doen kunt u via onderstaande gegevens contact opnemen met Appalti.'));?>
         <br>
         <br>
         Appalti BV <br>
         Fokkerstraat 7 <br>
         3833 LD  Leusden <br>
         T 033-434 50 31<br>
         I <a href="mailto:info@appalti.nl">info@appalti.nl</a> <br>
         W <a href="www.appalti.nl" target="_blank">www.appalti.nl</a>
     </div>
 </div>
