<?
    $this->layout()->disableLayout();
    $this->formValue()->init();
    $this->formValue()->omitNullableModel(true);
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>


<form enctype="multipart/form-data" method="post" action="/support-ticket/client/create" class="support-ticket validatable">
    <input type="hidden" name="proposalId" value="<?=$this->row['proposalId']?>">
    <? if (!empty($this->ticketId)): ?>
        <input type="hidden" name="ticketId" value="<?=$this->ticketId?>">
    <? endif?>
    <table  class="width form-fields">
        <tr>
            <th colspan="20">
                <h2>Support aanvraag formulier</h2>
                <br />
                <h4>Aanvraag gedaan door</h4>
            </th>
        </tr>
        <tr>
            <th>Bedrijf:</th>
            <td class="info-cnt"></td>
            <td><?=$this->companyRow->getFullName();?><br></td>
        </tr>
        <tr>
            <th>Contactpersoon:</th>
            <td class="info-cnt"><br></td>
            <td>
                <?=$this->modules('company')
                    ->contactPersonComboBox(Zend_Auth::getInstance()->getIdentity()->getCompanyRow())
                    ->toField(
                        'contactPersonId', $this->row['contactPersonId'], array(
                            'class' => 'contactPerson required'
                        )
                    );
                ?>
            </td>
        </tr>
        <tr>
            <th>
                <br />
                <h4>Uw aanvraag</h4>
                Soort aanvraag:
            </th>
            <td class="info-cnt va-bottom"></td>
            <td class="va-bottom">
                <?=$this->row['serviceName']?><input type="hidden" id="serviceId" name="serviceId" value="<?=$this->row['serviceId']?>">
            </td>
        </tr>
        <tr>
            <th>Deadline opdracht:</th>
            <td class="info-cnt"></td>
            <td>
                <?=$this->modules('support-ticket')
                    ->priorityComboBox()
                    ->toField(
                        'priority', $this->formValue('priority'), array(
                        'class' => 'required'
                        )
                    );
                ?>
            </td>
        </tr>
        <tr>
            <th>Aantal pagina's:</th>
            <td class="info-cnt"></td>
            <td>
                <input type="text" size="5" name='numberOfPages' value="<?= $this->formValue('numberOfPages'); ?>">
            </td>
        </tr>
        <tr>
            <th>Doel van de tekst:</th>
            <td class="info-cnt"></td>
            <td>
                <?=$this->modules('support-ticket')
                        ->aimOfTextComboBox()
                        ->toField(
                            'aimOfText', $this->formValue('aimOfText'), array(
                            'class' => 'required'
                            )
                        ); ?>
            </td>
        </tr>
        <tr>
            <th>Aantal mensen die tekst gaan lezen:</th>
            <td class="info-cnt"></td>
            <td>
                <select name="amountOfPeople">
                    <? for($i = 1; $i <= 10; $i++ ): ?>
                        <option value="<?=$i?>" <?if ($this->formValue('amountOfPeople') == $i):?>selected="selected"<? endif; ?>><?=$i;?></option>
                    <? endfor; ?>
                </select>
            </td>
        </tr>

        <tr>
            <th class="va-top">Functie van mensen die gaan lezen:</th>
            <td class="info-cnt va-top"></td>
            <td>
                <textarea  name="writerFunc" rows="5" class="required" cols="70" ><?=$this->formValue('writerFunc'); ?></textarea>
            </td>
        </tr>
        <tr>
            <th>Klantmotief 1:</th>
            <td class="info-cnt"></td>
            <td>
                <?=$this->modules('support-ticket')
                    ->motifComboBox()
                    ->toField(
                        'primaryMotif', $this->formValue('primaryMotif'), array(
                        'class' => 'required'
                        )
                    ); ?>
            </td>
        </tr>
        <tr>
            <th>Klantmotief 2:</th>
            <td class="info-cnt"></td>
            <td>
                <?=$this->modules('support-ticket')
                    ->motifComboBox()
                    ->toField(
                        'secondaryMotif', $this->formValue('secondaryMotif'), array(
                        'class' => 'required'
                        )
                    ); ?>
            </td>
        </tr>

        <tr>
            <th class="va-top">Aanvulende informatie:</th>
            <td class="info-cnt va-top"></td>
            <td>
                <textarea  name="comment" rows="5" cols="70"><?= $this->formValue('comment'); ?></textarea>
            </td>
        </tr>

        <tr>
            <th></th>
            <td class="info-cnt"></td>
            <td>
                <?$i = 0?>
                <?foreach ($this->row['files'] as $file):?>
                <a href="/proposal/index/get-pdf/path/<?=$file['link']?>"><?=$file['name']?></a>
                <br>
                <input type="hidden" name="path[<?=$i?>]" value="<?=$file['link']?>">
                <?$i++?>
                <?endforeach?>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-c">
                <br />
                <hr />
                <button class="btn-big" type="submit">
                    Support aanvraag verzenden <span class="text-normal">(<span class="ticketPrice"></span> credits)</span>
                </button>
                <br />
                <br />
                <small>Of <a href="#" data-dismiss="modal">annuleer</a> deze support aanvraag</small>
            </td>
        </tr>
    </table>

    <div class="price-info">
        <div class="box-gray">
            <p>Deze support aanvraag kost:</p>

            <h3 class="no-margin">
                <strong><span class='ticketPrice'></span> minutes <span id='words'></span></a></strong><small class="text-dark-gray"> / <?=(int) $this->credits;?> beschikbaar</small>
            </h3>
        </div>

        <input type="hidden" id="availableMinutes" name="minutes" value="<?=(int) $this->credits;?>">
        <input type="hidden" class="ticketPrice" name="price" value="">
        <input type="hidden" id="wordCount" name="wordCount" value="">

        <div style="display: none;" id="more-credits-question">
            <p class="notice-text">
                <em>
                    U heeft nu niet genoeg credits voor deze support aanvraag. Om de support aanvraag te plaatsen moet u dus
                    opwaarderen. Wilt u uw credits opwaarderen tijdens deze aanvraag?
                </em>
            </p>

            <label>
                <input type="checkbox" name="agree" value="1" />
                <strong><em>Ja, waardeer mijn credits op.</em></strong>
            </label>
        </div>
    </div>
</form>




