/**
 * @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
 * @version    SVN: $Id: 6.css 19061 2010-11-05 15:12:28Z vanya $
 */

ul, ol {
  position: relative; /* Keeps IE6 from cutting pulled/pushed images */
}

/* This fixes the problem where IE6 adds an extra 3px margin to
   two columns that are floated up against each other. */

.column { overflow-x: hidden; } /* IE6 fix */

/* Fixes incorrect styling of legend in IE6 fieldsets. */
legend { margin-bottom:1.4em; }

/* Makes classic textareas in IE 6 resemble other browsers */
textarea { overflow:auto; }

/* Layout elements
----------------------------------*/

#block-content-main {
    width: 69%;
}
#block-content-extra {
    width: 29%;
}

/* Breadcrumbs
----------------------------------*/

#breadcrumbs {
    background: #EDEDED;
}