/**
 * @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
 * @version    SVN: $Id: 6.css 18899 2010-10-06 13:11:54Z vanya $
 */

/* Toolbar
----------------------------------*/
.toolbar .menu li .sub > div {
    margin-top: 8px;
}

/* Grids
----------------------------------*/
/* bug fix: last table's margin-bottom doesn't effect the container */
.group-grid {
    padding-bottom: 5px
}