/**
 * @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
 * @version    SVN: $Id: lte7.css 19212 2010-12-06 13:44:21Z vanya $
 */

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol { margin-left:2em; }

/* Makes clearfix actually work in IE7 and later */
.clearfix, .container { display:inline-block; }
/*.clearfix, .container { height:1%; }*/

/* Fixes IE7 missing wrapping of code elements. */
p code { white-space: normal; }

/* IE 6&7 has problems with setting proper <hr> margins. */
hr  { margin:-8px auto 11px; }

/* Layout elements
----------------------------------*/

.search-panel input[type=text] {
    margin-right: 10px;
}
.span-half {
    width: 49.99%;
}

/* Fixes IE7 visibility of buttons in a tab until it is re-rendered  */
.summary .legend > div ,
/* Fixes IE7 div with overflow: hidden containing a table */
.scroll-pane,
.toolbar {
    position: relative;
}

.wizards {
    overflow-x: hidden !important;
}

.user-pnl {
    margin-left: 70px !important;
}

.gradient-header {
    position: static;
}

/* Toolbar menu
----------------------------------*/
.toolbar .menu li .sub > div {
    margin-top: 10px;
}
#breadcrumbs {
    position: relative;
    z-index: 10;
}
.toolbar .separator {
    height: 30px;
}

.group .head {
    border-collapse: collapse;
}

/* Grids
----------------------------------*/
.grid thead th, .grid thead td {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#E6E6E6',GradientType=0);
}
.group-grid .group-head td a {
    line-height: 1.5em
}
.group-grid {
    overflow: hidden;
}

/* Inline-block elements
----------------------------------*/
#breadcrumbs li,
.separator,
.icon-16 {
    display: inline;
    zoom: 1;
}

#layout-view .icon-16 {
    padding-left: 16px;
}

/* Fix bug when content is not scrolled until it is focused */
.scroll-v {
    position: relative;
}