<? if (empty($this->listOnly)): ?>
<?=$this->information()->init();?>
<? $id = uniqid('blockContent_'); ?>
    <div id="<?=$id;?>">
<? endif; ?>


<?=$this->information()->init();?>

<? $accountRow = Zend_Auth::getInstance()->getIdentity(); ?>
<? if (!$accountRow->isProposalBuilder()):?>
    <div class="box-gray actions-block margin-b">
        <a class="btn-green btn-big2" id="create-membership" href="/membership/index/create">
            Ik wil een nieuwe lidmaatschap aanmaken
        </a>
    </div>
<? endif; ?>

<div class="list-container">
    <div class="list-title">Alle lidmaatschappen</div>
    <div class="list-form">
        <?=$this->formFilterSearch('name', 'stringfree', array('id' => $this->blockId, 'placeholder' => 'Zoeken')); ?>
    </div>
    <table class="zebra width">
        <colgroup>
            <col width="35%">
            <col width="20%">
            <col width="*">
            <col width="*">
        </colgroup>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Bedragen</th>
                <th>Prijs</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>


            <?foreach($this->rowset as $membershipRow): ?>
                <tr>
                    <td><?=$this->escape($membershipRow->name); ?></td>
                    <td><?=$membershipRow->amount; ?> maand (en)</td>
                    <td>&euro; <?=number_format($this->escape($membershipRow->price), 2, ',', '.'); ?></td>
                    <td class="actions">
                        <? if (!$accountRow->isProposalBuilder()):?>
                            <a class="edit-membership" href="/membership/index/update/membershipId/<?=$membershipRow->getId(); ?>" title="Bewerken lidmaatschappen">
                                <span class="icon-edit">&nbsp;</span>
                            </a>
                            <a class="delete-membership" href="/membership/index/delete/membershipId/<?=$membershipRow->getId(); ?>" title="Verwijder lidmaatschappen">
                                <span class="icon-delete">&nbsp;</span>
                            </a>
                        <? endif; ?>
                    </td>
                </tr>
            <?endforeach; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
</div>
<? if (empty($this->listOnly)): ?>
</div>
    <script type="text/javascript">
        AppaltiLayout.blocks.MembershipListBlock = new AppaltiLayoutBlock({
            module: 'membership',
            block: 'membership-list',
            updateElId: '<?=$id;?>',
            listUpdateParams: {
                _bid: '<?=$this->blockId; ?>'
            },
            onInit: function() {
                var $modalCnt, me = this;
                $('#create-membership, .edit-membership').click(function() {
                    $.get(this.href).done(function(html) {
                        if (!$modalCnt) {
                            $modalCnt = $('<div id="modal-container" class="modal membership-modal-container" />').appendTo('body');
                        }

                        $modalCnt.html(html);
                        $('form', $modalCnt).submit(function() {
                            var $form = $(this);
                            $form.validate();

                            if ($form.valid()) {
                                $.ajax({
                                    url: this.action + '/format/json',
                                    data: $form.serialize(),
                                    dataType: 'json',
                                    type: 'post',
                                    mask: true,
                                    maskTarget: $form,
                                    success: function() {
                                        me.reloadList();
                                        $modalCnt.modal('hide');
                                    }
                                });
                            }

                            return false;
                        });

                        $modalCnt.modal('toggle');
                    });

                    return false;
                });

                me.$el.on('click', '.delete-membership', function() {
                    if (confirm('Weet je zeker dat?')) {
                        $.post(this.href, {format: 'json'}, function() {
                            me.reloadList()
                        });
                    }
                    return false;
                });

            }
        })
    </script>
<? endif; ?>
