<h2><?=$this->escape($this->module->getDescription()); ?></h2>

<?php

/**
 * @FIXME
 */
$ePath = $this->module->getRoot() . '/misc/emails';
if (file_exists($ePath)): ?>
    <h2>Email templates:</h2>
<?
    $camelCaseToDash = new Zend_Filter_Word_CamelCaseToDash();

    foreach(new DirectoryIterator($ePath) as $path):
        $filename = $path->getFilename();
        if ('.' == substr($filename, 0, 1)):
            continue;
        endif;

        $efilename = basename($filename, '.php');
        $efilename = strtolower($camelCaseToDash->filter($efilename));

        ?>
        <a target="_blank" href="<?=$this->baseUrl() . $this->url(array(
            'module'    => 'module',
            'controller'=> 'configuration',
            'action'    => 'email-template',
            'ptemplate' => $efilename
        )); ?>"><?=$efilename; ?></a>
    <?
    endforeach;
endif;

/**
 * @FIXME
 */
try {
    echo $this->modules($this->module->getName())->partial('admin-configuration/index.phtml', $this);
} catch(\Exception $e) {}