@page cover {
  background: none;
  margin: 0 !important;
  padding: 0 !important;
  size: A4;
  @top { content: normal }
  @top-left { content: normal }
  @top-right { content: normal }
  @bottom { content: normal }
  @bottom-left { content: normal }
  @bottom-right { content: normal }
}

#cover  {
  page: cover;
}

#cover .center-img img {
  display: block;
  margin: 0 auto;
  height: 297mm;
  max-height: 297mm;
  width: 210mm;
  max-width: 210mm;
  prince-image-resolution: 300dpi;
}
