@page inbetween {
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
  size: A4;
  @top { content: normal }
  @top-left { content: normal }
  @top-right { content: normal }
  @bottom { content: normal }
  @bottom-left { content: normal }
  @bottom-right { content: normal }
}

.inbetween {
  page: inbetween;
  page-break-before: always;
  page-break-after: always;
}

.inbetween img {
  display: block;
  margin: 0 auto;
  height: 297mm;
  max-height: 297mm;
  width: 210mm;
  max-width: 210mm;
  prince-image-resolution: 300dpi;
}