html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

select, input, textarea, button { font: 99% sans-serif; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

b, strong { font-weight: 700; }

i, em { font-style: italic; }

body { font: 400 13px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 1.5em;
}

h1 { font-size: 155%; }
h2 { font-size: 130%; }
h3 { font-size: 110%; }
h4 { font-size: 105%; }

td, th {
    border: 1px solid #000;
    padding: 2px 5px;
}

ul, ol {
  list-style-position: outside;
  margin-left: 1em !important;
}

li::marker {
  padding-right: 1em;
  width: 0;
}

p { margin: 0; }