@page toc {
  page-break-after: always;
  size: A4;
}

#ToCbox {
    /*counter-reset: page attr(pagenum);*/
    page: toc;
}

#ToCol {
    margin: 0 0 0 1.5em;
}

#ToCol a {
    color: black !important;
    text-decoration: none;
    content: target-content(attr(href) );
}

#ToCol a::after {
    content: " " leader(".") " " target-counter(attr(href), page );
}

#ToCol ol {
    margin-left: 2em;
}

#ToCol li {
    margin-top: 0.3em;
}

#ToCbox ol {
    counter-reset: item;
}

#ToCbox li {
    display: block;
}

#ToCbox li:before {
    counter-increment: item;
    content: counters(item, ".") ". ";
}

h1:not([notoc]) {
    counter-increment: h1;
    counter-reset: h2;
}

h1:not([notoc])::before {
    content: counter(h1) ". ";
}

h2:not([notoc]) {
    counter-reset: h3;
}

h2:not([notoc])::before {
    counter-increment: h2;
    content: counters(h1, ".") "." counter(h2) " ";
}

h3:not([notoc])::before {
    counter-increment: h3;
    content: counters(h1, ".") "." counter(h2) "." counter(h3) " ";
}