<table>
<tr>
    <td width="50%">
        <h1>Maintenance</h1>
        <?=$this->block('list', array('categoryLuid' => 'maintenance'), 'article', true)->getBlockObj(); ?>
    </td>
    <td width="50%" rowspan="2">
        <h1>News</h1>
        <?=$this->block('list', array('categoryLuid' => 'news'), 'article', true)->getBlockObj(); ?>
    </td>
</tr>
<tr>
    <td width="50%">
        <h1>Known software problems</h1>
        <?=$this->block('list', array('categoryLuid' => 'known-software-problems'), 'article', true)->getBlockObj(); ?>
    </td>
</tr>
</table>