@CHARSET "UTF-8";

.m-module .protected-on {
    background: url(../images/protected-on.png) no-repeat;
}

.m-module .protected-off {
    background: url(../images/protected-off.png) no-repeat;
}

.m-module .active {
    background: url(../images/active.png) no-repeat;
}

.m-module .inactive {
    background: url(../images/inactive.png) no-repeat;
}