<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
<?/*    <a href="/company/organisation"><span>Gebruikersbeheer</span></a>  */?>
    <a href="/company/function"><span>Functie- en rechtenbeheer</span></a>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'index',  'id'=>null))):?><span>Functie Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'select', 'id'=>null))):?><span>Functie Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Functie aanmaken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span>Functie bewerken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'delete', 'id'=>null))):?><span>Functie verwijderen</span><?endif;?>
</section>
<?=$this->information()->init();?>
<?  $accountRow = Zend_Auth::getInstance()->getIdentity(); ?>
<style type="text/css">
    table.function td {
        text-align: center;
        vertical-align: middle;
    }
    .list-container table thead td {
        border-bottom: 1px solid #BFBFBF;
    }
    .list-container table tbody th {
        border-bottom: none;
    }
    span.icon-checked {
        display:inline-block;
        width:30px;
        background-position:center;
    }
    td.actions {
        width:36px;
    }
</style>
<?  if ($accountRow->acl('company','function','create')):?>
<div class="box-gray actions-block margin-b">
    <a class="btn-green btn-big2 margin-r action-create-block" href="/company/function/create">
        <?=$this->translate('Ik wil een nieuwe functie aanmaken');?>
    </a>
</div>
<?  endif; ?>
<div class="list-container">
    <div class="list-title"><?=$this->translate('Alle functies');?></div>
    <form method="post" action="<?= $this->url() ?>">
        <table class="zebra width tablesorter function">
            <thead>
            <tr>
                <th><span><?=$this->translate('Functies');?></span></th>
<?/* list permissions */?>
<?  foreach($this->mapped_permissions as $simple_permission => $permissions):?>
                <td><span><?=$this->translate($simple_permission);?></span></td>
<?  endforeach;?>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
<?  if ($accountRow->acl('company','function','create')):?>
<?      if(in_array($this->url(array('id'=>null)), array($this->url(array('action'=>'create','id'=>null)),$this->url(array('action'=>'update','id'=>null))))): ?>
<?/* add / edit company role */?>
                <tr>
                    <td>
                        <input type="hidden" name="role[id]" value="<?= $this->role['id'] ?>"/>
                        <input type="text" name="role[name]" value="<?= $this->role['name'] ?>" placeholder="functienaam"/>
                    </td>
<?          foreach($this->mapped_permissions as $simple_permission => $permission):
                $checked = (in_array($permission, $this->role['permissions']))? ' checked="checked"':'';
?>
                    <td>
                        <input type="checkbox" name="role[permissions][]" value="<?= $simple_permission ?>"<?= $checked ?>/>
                    </td>
<?          endforeach; ?>
                    <td>
                        <input type="submit" name="" value="Opslaan"/>
                        <a href="<?= $this->url(array('action'=>null,'id'=>null))?>"><span>Annuleren</span></a>
                    </td>
                </tr>
<?      endif; ?>
<?  endif; ?>

<?/* list company roles */?>
<?  foreach($this->roles as $role): ?>
            <tr>
                <th><span><?= $role['name'] ?></span></th>

<?/* list company role permissions */?>
<?      foreach($this->mapped_permissions as $simple_permission => $permission):
            $checked = (in_array($permission, $role['permissions']))? '<span class="icon-checked">&nbsp;</span>':'';
?>
                <td><?= $checked ?></td>
<?      endforeach; ?>
                <td class="actions">
<?      if ($accountRow->acl('company','function','update')):?>
                    <a class="update icon-edit" href="<?= $this->url(array('action'=>'update','id'=>$role['id']))?>" title="Wijzig functie"></a>
<?      endif; ?>
<?      if ($accountRow->acl('company','function','delete')):?>
                    <a class="delete icon-delete" href="#deleteRoleModal" rolename="<?= $role['name']?>" roleid="<?= $role['id'] ?>" title="Verwijder functie"></a>
<?      endif; ?>
                </td>
            </tr>
<?  endforeach; ?>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </form>
</div>
<div id="deleteRoleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" style="display:none;" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Functie <span id="rolename"></span> verwijderen</h3>
    </div>
    <div class="modal-body">
        <p>Weet u zeker dat u deze functie wilt verwijderen?</p>
        <p>&nbsp;</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a class="btn btn-primary" href=""><span>Verwijder functie</span></a>
    </div>
</div>

<link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>
<script type="text/javascript">
jQuery(function(){
    $('a.delete').click(function(){
        $('#deleteRoleModal #rolename').html("'"+ $(this).attr('rolename') +"'");
        $('#deleteRoleModal a.btn-primary').attr('href','/company/function/delete/id/'+ $(this).attr('roleid'));
        $('#deleteRoleModal').modal('show');
    });
});
</script>