<?php

$this->layout()->setLayout('auth');
$this->headTitle('Authorization');
?>
<div class="login auth-wrap">
    <form action="/account/authenticate/login" method="POST" id="<?=$authFormId = uniqid('form-'); ?>">
        <?=$this->information()->init(); ?>
        <table>
            <tr>
                <th><?=$this->translate('Login'); ?>:</th>
                <td>
                    <input type="text" name="username" value="<?=!empty($this->username) ? $this->username : ''; ?>" tabIndex="1" />
                </td>
                <td><?=$this->information()->toIcon('username'); ?></td>
            </tr>
            <tr>
                <th><?=$this->translate('Password'); ?>:</th>
                <td><input type="password" name="password"  tabIndex="2" /></td>
                <td><?=$this->information()->toIcon('password'); ?></td>
            </tr>
            <tr>
                <td colspan="2" class="submit">
                    <a href="/account/password/lost-password/" class="recover-pass float-l"><?=
                        $this->translate('Reset my password');
                    ?></a>
                    <input type="submit" value="<?=$this->translate('Sign in'); ?>" class="float-r"  tabIndex="3" />
                </td>
            </tr>
        </table>
        <p class="annotation">
            <span class="asterisk">*</span> <?=$this->translate('All fields are required'); ?>
        </p>
        <script type="text/javascript" language="javascript">
            document.getElementById('<?=$authFormId; ?>').username.focus();
        </script>
    </form>
</div>
