<?
    echo $this->information()->init();

    $this->formValue()->init();
    $this->formValue()->omitNullableModel(true);
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<form action="/support-ticket/index/" enctype="multipart/form-data" method="post">

    <?php echo $this->translate('ComanyName').':'?><br>
    <?=$this->company['fullname']?><br>

    <?php echo $this->translate('ConatactPerson').':'?>
    <br />
    <?=$this->modules('company')
        ->contactPersonComboBox(Zend_Auth::getInstance()->getIdentity()->getCompanyRow())
        ->toField(
            'contactPersonId', $this->formValue('contactPersonId'), array(
            'class' => $this->information()->toCls('contactPersonId')
        )
    ); ?>
    <br />

        <?php echo $this->translate('ticketName').':'?>
        <br> <input type="text" name='title' value="<?= $this->formValue('title'); ?>" class="<?=$this->information()->toCls('title'); ?>" >
        <?=$this->information()->toIcon('title'); ?>
        <br>

        <?php echo $this->translate('Service').':'?><br>
        <?=$this->modules('support-ticket')
        ->serviceComboBox()
        ->toField(
            'serviceId', $this->formValue('serviceId'), array(
            'class' => $this->information()->toCls('serviceId')
            )
        ); ?><br>

    <?php echo $this->translate('numberOfPages').':'?>
    <br> <input type="text" name='numberOfPages' value="<?= $this->formValue('numberOfPages'); ?>" class="<?=$this->information()->toCls('numberOfPages'); ?>" >
     <?=$this->information()->toIcon('numberOfPages'); ?>
    <br>

    <?php echo $this->translate('Priority').':'?><br>
    <?=$this->modules('support-ticket')
        ->priorityComboBox()
        ->toField(
            'priority', $this->formValue('priority'), array(
            'class' => $this->information()->toCls('priority')
            )
        ); ?><br>

    <?php echo $this->translate('amountOfPeople').':'?>
    <br> <input type="text" name='amountOfPeople' value="<?= $this->formValue('amountOfPeople'); ?>" class="<?=$this->information()->toCls('amountOfPeople'); ?>" >
    <?=$this->information()->toIcon('amountOfPeople'); ?>
    <br>
    

    <?php echo $this->translate('Data').':'?>
    <br>
    <textarea rows="10" cols="45" name="data" class="<?=$this->information()->toCls('data'); ?>"><?= $this->formValue('data'); ?></textarea>
    <?=$this->information()->toIcon('data'); ?>
    <br>

    <?php echo $this->translate('primaryMotif').':'?><br>
    <?=$this->modules('support-ticket')
        ->motifComboBox()
        ->toField(
            'primaryMotif', $this->formValue('primaryMotif'), array(
            'class' => $this->information()->toCls('primaryMotif')
            )
        ); ?><br>

    <?php echo $this->translate('secondaryMotif').':'?>
    <br> <?=$this->modules('support-ticket')
        ->motifComboBox()
        ->toField(
            'secondaryMotif', $this->formValue('secondaryMotif'), array(
            'class' => $this->information()->toCls('secondaryMotif')
            )
        ); ?><br>

    <?php echo $this->translate('comment').':'?>
    <br>
    <textarea rows="10" cols="45" name="comment" class="<?=$this->information()->toCls('comment'); ?>"><?= $this->formValue('comment'); ?></textarea>
    <br>

    <?php echo $this->translate('aimOfText').':'?>
    <br> <?=$this->modules('support-ticket')
        ->aimOfTextComboBox()
        ->toField(
            'aimOfText', $this->formValue('aimOfText'), array(
            'class' => $this->information()->toCls('aimOfText')
            )
        ); ?><br>

    <?php echo $this->translate('filePath').':'?>
    <br> <input type="file" size="30" name="filePath"> <br>

    <input type="submit" value="Submit" />
</form>



