<section class="cols-3 wizard clearfix">
    <section class="wizard-head">
<?  if (null === $this->proposalRow): ?>
                <h2><?= $this->translate('Nieuwe offerte') ?></h2>
<?  else: ?>
                <h2><?= $this->translate('Detailinformatie offerte') ?> "<?= $this->proposalRow->getName() ?>"</h2>
<?  endif; ?>

        <?= $this->wizardSteps($this->wizard->getSteps()) ?>
    </section>
    <?= $this->information()->init() ?>
    <aside class="left">
        <div class="library">
            <h5><b><?=$this->translate('Mijn bibliotheek')?></b></h5>
            <?= $this->block('category-list', array(
                'isProposal' => true,
                'definitions' => $this->definitions,
                'companyId' => $this->companyRow->getId(),
                'libraryId' => $this->libraryRow->getId(),
            ), 'proposal-block', true)->getBlockObj() ?>
        </div>
    </aside>

    <article class="content">
        <div class="proposal-structure">
            <h5><b><?=$this->translate('Inhoud van deze offerte');?></b></h5>
<?  $cnt = 0;
    $themeRow = $this->proposalRow->getThemeRow();
?>
            <input type="hidden" name="companyId" id="companyId" value="<?=$this->companyRow->getId()?>"/>
            <input type="hidden" name="proposalId" id="proposalId" value="<?=$this->proposalRow->getId()?>"/>
            <input type="hidden" name="proposal:template" value="<?= (int)($this->accountRow->acl('proposal','template')) ?>"/>
<?  foreach($this->sectionCollapsedByRegionRowset as $k => $region):
        $isRenderedInformation = false;
?>
                <div class="proposal-pdf <?=$cnt === 0 ? 'first' : '';?>">
<?      foreach($region as $sectionRow): ?>
                    <div class="proposal-structure-section">
                        <h5>
                            <?= $sectionRow->getName(); ?>
<?          if ($description = $sectionRow->getDescription()): ?>
                                <span class="text-gray">(<?=$description; ?>)</span>
<?          endif; ?>
<?          if ($sectionRow->isCalculatable()): ?>
                                <label class="disableTOC float-r">
                                    <input type="checkbox" name="includeTOC" value="0" <?if (!$themeRow->includeTOC): ?>checked="checked"<?endif;?> />
                                    <small class="text-gray">uitzetten</small>
                                </label>
<?          endif; ?>
                        </h5>
<?          if (!$sectionRow->isCalculatable()):
                $class  = ' proposal-section-items sortable-list region-'. $sectionRow->getRegionId().'';
                $class .= ($sectionRow->getLuid() == 'attachment')? ' ls-alpha':'';
                $class .= ($sectionRow->isDefault())? ' proposal-section-default':'';
?>
                            <ol id="section-<?=$sectionRow->getId(); ?>"
                                class="<?= $class ?>"
                                data-section="<?=$sectionRow->getId(); ?>"
                                data-related-section="<?=$sectionRow->getRelatedId(); ?>">
<?              $definitions = $sectionRow->getblockDefinitionsRowset($this->proposalRow);
                $priceIncluded = false;
                $includePrice = $sectionRow->isDefault() && $themeRow->includePrice;
                if ($definitions->count()):
                    foreach ($definitions as $k => $row):

                        if ($includePrice && ((int)$themeRow->pricePosition === $k)):
?>
                                    <li id="priceBlock" data-is-price="1" class="listSpecific" data-position="<?=(null === $themeRow->pricePosition) ? -1 : $themeRow->pricePosition; ?>">
                                        <?=$this->translate('Prijsopgave');?>
                                        <i class="sortable-pos">
                                            <i class="icon-move-down"></i>
                                            <i class="icon-move-up"></i>
                                        </i>
                                        <i class="sortable-item-actions">
                                            <a href="#" class="icon-delete" title="<?=$this->translate('Verwijderen');?>"></a>
                                        </i>
                                    </li>
<?                          $priceIncluded = true;
                        endif;
?>
                                    <li id="definition-<?=$row->id;?>"
                                        data-fitable="<?=$row->fitable;?>"
                                        data-position="<?=$row->position;?>"
                                        data-block-definition-id="<?=$row->id;?>"
                                        data-block-id="<?=$row->proposalBlockId;?>">
                                        <?=$this->escape($row->name);?>
                                        <i class="sortable-pos">
                                            <i class="icon-move-down"></i>
                                            <i class="icon-move-up"></i>
                                        </i>
                                            <i class="sortable-item-actions">
<?                      if ($row->inBetween()): ?>
                                                <i class="icon-info-small tip" title="<?=$this->translate('Schermvullend');?>">&nbsp;</i>
<?                      else: ?>
                                                <input type="checkbox" <?= (int) $row->fitable ? 'checked="checked"' : ''; ?>
                                                       class="setFullscreen tip"
                                                       title="<?=$this->translate('text' === $row->kind ? 'Start op nieuwe pagina' : 'Schermvullend');?>">
<?                      endif; ?>
                                                <a href="/proposal/create/preview-definition/format/<?=$row->kind?>/companyId/<?=$this->proposalRow->companyId?>/blockDefinitionId/<?=$row->id?>"
                                                   data-kind="<?=$row->kind;?>"
                                                   class="icon-zoom" title="<?=$this->translate('Voorbeeld');?>"></a>
<?                      if ($this->accountRow->acl('proposal', 'template') &&  'text' === $row->kind): ?>
                                                <a href="/proposal/create/update-definition/blockDefinitionId/<?=$row->id;?>"
                                                   class="icon-edit" title="<?=$this->translate('Veranderen');?>"></a>
<?                      else :?>
                                                <i class="icon-empty"></i>
<?                      endif; ?>
                                                <i data-block-definition-id="<?=$row->id;?>" class="icon-delete" title="<?=$this->translate('Verwijderen');?>"></i>
                                            </i>
                                        </li>
<?                  endforeach;
                    if ($includePrice && !$priceIncluded) :
?>
                                        <li id="priceBlock" data-is-price="1" class="listSpecific" data-position="<?=(null === $themeRow->pricePosition) ? -1 : $themeRow->pricePosition; ?>">
                                            <?=$this->translate('Prijsopgave');?>
                                            <i class="sortable-pos">
                                                <i class="icon-move-down"></i>
                                                <i class="icon-move-up"></i>
                                            </i>
                                            <i class="sortable-item-actions">
                                                <a href="#" class="icon-delete" title="<?=$this->translate('Verwijderen');?>"></a>
                                            </i>
                                        </li>
<?                  endif;
                else:
                    if ($sectionRow->isDefault() && $themeRow->includePrice):
?>
                                        <li id="priceBlock" data-is-price="1" class="listSpecific" data-position="<?=(null === $themeRow->pricePosition) ? -1 : $themeRow->pricePosition; ?>">
                                            <?=$this->translate('Prijsopgave');?>
                                            <i class="sortable-pos">
                                                <i class="icon-move-down"></i>
                                                <i class="icon-move-up"></i>
                                            </i>
                                            <i class="sortable-item-actions">
                                                <a href="#" class="icon-delete" title="<?=$this->translate('Verwijderen');?>"></a>
                                            </i>
                                        </li>
<?                  endif;
                endif;
?>
                            </ol>
<?          endif; ?>
                    </div>
<?          $cnt++;
        endforeach;
?>
                </div>
<?  endforeach; ?>
        </div>
    </article>

    <aside class="right">
        <div class="box-gray text-c">
<?
    $dropDownlinks = array();

    foreach($this->regions as $k => $region) {
        $dropDownlinks['/proposal/create/download-pdf/return/blocks/regionId/' . $k] =  $region;
    }

    $dropDownlinks[] = '---';
    $dropDownlinks['/proposal/create/download-pdf/return/blocks'] = $this->translate('Alle');

    $btnGroupParams = array(
        'btnText'   => $this->translate('Bekijk deze offerte'),
        'btnLink'   => '/proposal/create/download-pdf/return/blocks',
        'linkCls'   => 'preview-pdf',
        'dropDownlinks' => $dropDownlinks
    );

    echo $this->buttonGroup($btnGroupParams);
?>
        </div>
        <?=$this->pageDescription();?>
    </aside>

</section>

<br />
<hr />
<p class="text-c">
    <a class="btn-big btn-gray" href="<?=$this->wizard->getPrevStepUrl();?>/proposalId/<?=$this->proposalRow->getId();?>">
        <i class="icon-back"><?=$this->translate('Stap terug');?></i>
    </a>
    <a class="btn-big margin-rl" id="save-step-state" href="/proposal/create/save-state/format/json/">
        <i class="icon-save"><?=$this->translate('Opslaan');?></i>
    </a>
    <a class="btn-big" id="save-step-state-and-go-next" href="<?=$this->wizard->getNextStepUrl();?>/proposalId/<?=$this->proposalRow->getId();?>">
        <i class="icon-next"><?=$this->translate('Volgende stap');?></i>
    </a>
</p>

<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src="/public/js/jquery-ui/jquery-ui-sortable.min.js"></script>
<script src="/modules-appalti/proposal/views/scripts/default/create/_resources/js/blocks.js"></script>
