<?php
    $this->formValue()->init();
    if (null !== $this->proposalRow):
        $this->formValue()->setModel($this->proposalRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
    $tabIndex = 10;
?>

<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <h2>
<? if (null === $this->proposalRow): ?>
            <?= $this->translate('Nieuwe offerte') ?>
<? else: ?>
            <?= $this->translate('Detailinformatie offerte') ?> "<?=$this->proposalRow->getName();?>"
<? endif; ?>
        </h2>
        <?= $this->wizardSteps($this->wizard->getSteps()) ?>

    </section>

    <?= $this->information()->init() ?>

    <article class="content">

        <form method="post" name="step-one" enctype="multipart/form-data" class="validatable">
            <input type="hidden" name="companyId" value="<?= $this->companyRow->getId() ?>"/>
<?  if(null !== $this->proposalRow): ?>
                <input type="hidden" name="proposalId" value="<?= $this->proposalRow->getId() ?>"/>
<?  endif; ?>
            <br />
            <table class="form-fields zebra width">
                <thead>
                    <tr>
                        <td colspan="3" class="padding-l">
                            <h5><b><?= $this->translate('Algemeen') ?></b></h5>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="va-top"><?= $this->translate('Offertenaam') ?>:</th>
                        <td class="info-cnt"></td>
                        <td>
<?  $format = (!empty($this->themeRow))? $this->themeRow->numeration:'YmdHis'; ?>
                            <input type="hidden" name="luid" value="<?= $this->formValue('luid') ? $this->formValue('luid') : date($format); ?>" />
                            <input type="text" tabindex="<?=$tabIndex;?>" name="name" class="required" value="<?=$this->formValue('name');?>" />
                        </td>
                    </tr>
<?
    $_locations = new Company_Model_DbTable_Location();
    $_themes = new Proposal_Model_DbTable_CustomTemplate();
    if (null === $this->proposalRow):
        // new proposal
        /* locations selector*/
        if( count($this->locations) > 1):
            // new proposal
            // multiple locations possible
            $themeRowset = $this->accountRow->getContactPersonRow()->getThemes(true);
?>
                    <tr>
                        <th class="va-top"><?= $this->translate('Selecteer de bedrijfslocatie:') ?></th>
                        <td class="info-cnt va-top">
                            <a class="icon-info-small" href="#"
                               title="<?=$this->translate('Kies hier namens welke bedrijfslocatie deze offerte wordt gemaakt.');?>">&nbsp;</a>
                        </td>
                        <td>
                            <select id="locationSelector" name="locationId">
                                <option value="">Kies een bedrijfslocatie</option>
<?          foreach($this->locations as $location):?>
                                <option value="<?= $location['location']->getId() ?>"
                                        data-name="<?= $location['location']->name ?> <?= $location['location']->form ?>"
                                        data-address="<?= $location['location']->actualStreet ?> <?= $location['location']->actualHouseNumber ?>"
                                        data-place="<?= $location['location']->actualPostCode ?> <?= $location['location']->actualCity ?>"
                                        data-kvk="<?= $location['location']->kvk ?>"
                                        data-btw="<?= $location['location']->btw ?>"
                                        ><?= $location['location']->name ?> <?= $location['location']->form ?>, <?= $location['location']->actualCity ?></option>
<?          endforeach;?>
                            </select>
                        </td>
                    </tr>
<?      elseif(count($this->locations) == 1):
            // new proposal
            // single location possible
            $location    = $this->locations[0]['location'];
            $themeRowset = $this->locations[0]['themes'];
?>
                    <tr>
                        <th class="va-top"><?= $this->translate('Bedrijfslocatie:') ?></th>
                        <td class="info-cnt va-top">&nbsp;</td>
                        <td>
                            <input id="singleLocation" type="hidden" name="locationId" value="<?= $location->getId() ?>"/>
                            <span><?= $location->name ?> <?= $location->form ?>, <?= $location->actualCity ?></span>
                        </td>
                    </tr>
<?
        else:
            // new proposal
            // no locations possible
            $themeRowset = $_themes->fetchAll('false');
?>
                    <tr>
                        <th class="va-top"><?= $this->translate('Bedrijfslocatie:') ?></th>
                        <td class="info-cnt va-top">&nbsp;</td>
                        <td>
                            <p><?= $this->translate('U heeft geen toegang tot bedrijfslocaties.') ?></p>
                            <p><?= $this->translate('Neem contact op met uw beheerder.') ?></p>
                            <script>
                                jQuery(function(){
                                    $('button[type=submit]').attr('disable', 'disable');
                                });
                            </script>
                        </td>
                    </tr>
<?      endif; ?>
<?      if(count($themeRowset)):
            // themes
            /* theme selector */
?>
                    <tr id="themeSelectorRow">
                        <th class="va-top"><?= $this->translate('Offerte thema:') ?></th>
                        <td class="info-cnt">&nbsp;</td>
                        <td>
                            <div id="multipleThemes">
                                <select>
                                    <option>Kies een thema.</option>
<?          foreach($themeRowset as $themeRow): ?>
                                    <option value="<?= $themeRow->getId() ?>"
                                            title="<?= nl2br($themeRow->description) ?>"
                                            locationIds="<?= $themeRow->locationIds ?>">
                                        <?= $themeRow->name ?>
                                    </option>
<?          endforeach; ?>
                                </select>
                            </div>
                            <div id="singleTheme">
                                <span title="<?= nl2br($themeRow->description)?>"><?= $themeRow->name ?></span>
                            </div>
                            <input class="required" id="themeSelector" type="hidden" name="proposalCustomTemplateId" value="<?= $themeRow->getId() ?>"/>
                        </td>
                    </tr>
                    <style type="text/css">
                        #themeSelectorRow {
                            display:none;
                        }
                    </style>
                    <script type="text/javascript">
                    jQuery(function(){

                        function setThemes(){
                            $('#themeSelectorRow').hide();
                            $('#multipleThemes select option').css('display','none');
                            $('#multipleThemes select').css('display','none');
                            $('#multipleThemes').css('display','none');
                            $('#singleTheme').css('display','none');
                            $('#themeSelector').val('');

                            var selector = ($('#locationSelector').length)? $('#locationSelector'):$('#singleLocation');
                            var locationId = $(selector).val();
                            if (locationId) {
                                // determine count linked themes
                                var options = [];
                                $('#multipleThemes select option[locationIds]').each(function(){
                                    var locationIds = $(this).attr('locationIds').split(',');
                                    if (locationIds.indexOf( locationId ) > -1) {
                                        options.push(this);
                                    }
                                });
                                if (options.length > 1) {
                                    // multiple themes
                                    // show options
                                    $(options).show(function(){
                                        // hide single theme
                                        $('#singleTheme').css('display','none');

                                        // show row
                                        $('#multipleThemes select').css('display','inline-block');
                                        $('#multipleThemes').css('display','inline-block');
                                        $('#themeSelectorRow').delay(0).show(200);
                                    });
                                } else {
                                    // single theme
                                    // set theme selector
                                    $('#themeSelector').val( $($(options)[0]).val() );

                                    // hide multiple
                                    $('#multipleThemes').css('display','none');
                                    $('#multipleThemes select').css('display','none');
                                    $('#multipleThemes select option').css('display','none');

                                    // show singleTheme
                                    $('#singleTheme span').html( $($(options)[0]).html() );
                                    $('#singleTheme span').attr('title', $($(options)[0]).attr('title') );
                                    $('#singleTheme').css('display','inline-block');
                                    $('#themeSelectorRow').delay(300).show(200);
                                }
                            }
                        }

                        $('#locationSelector').change(function(){
                            setThemes();
                        });

                        $('#multipleThemes select').change(function(){
                            $('#themeSelector').val( $(this).val() );
                        });

                        $('form').submit(function(){
                            if (!$('#themeSelector').val()) {
                                $('#themeSelector').addClass('invalid');
                                return false;
                            }
                            return true;
                        });

                        $('#themeSelectorRow').css('display','none');
                        $('#multipleThemes').css('display','none');
                        $('#multipleThemes select').css('display','none');
                        $('#multipleThemes select option').css('display','none');
                        $('#singleTheme').css('display','none');
                        $('#themeSelector').val('');

                        setThemes();

                    });
                    </script>
<?      endif; ?>
<?    else:
        // existing proposal
        // selected location
        // selected theme
        $locationRow = $_locations->fetchRow('id = '.(int)$this->proposalRow->locationId);
        $themeRow = $_themes->fetchRow('id = '.(int)$this->proposalRow->proposalCustomTemplateId);
//        foreach($this->locations as $location):
//            foreach($location['themes'] as $theme):
//                if ($theme->getId() == $this->proposalRow->proposalCustomTemplateId):
//                    break;
//                endif;
//            endforeach;
//        endforeach;
?>
                    <tr>
                        <th class="va-top"><?= $this->translate('Bedrijfslocatie') ?>:</th>
                        <td class="info-cnt va-top">&nbsp;</td>
                        <td>
                            <input type="hidden" name="locationId" value="<?= $locationRow->getId() ?>"/>
                            <span><?= $locationRow->name ?> <?= $locationRow->form ?>, <?= $locationRow->actualCity ?></span>
                        </td>
                    </tr>
                    <tr id="themeSelectorRow">
                        <th class="va-top"><?= $this->translate('Offerte thema') ?>:</th>
                        <td class="info-cnt">&nbsp;</td>
                        <td>
                            <input id="themeSelector" type="hidden" name="proposalCustomTemplateId" value="<?= $themeRow->getId() ?>"/>
                            <span title="<?= nl2br($themeRow->description)?>"><?= $themeRow->name ?></span>
                        </td>
                    </tr>
<?  endif; ?>
                 </tbody>
            </table>
            <style typ="text/css">
                #locationSelected div,
                .contact-details div,
                #locationSelected div {
                    padding:0px 7px;
                }
            </style>

<?  if (null !== $this->proposalRow): ?>

            <br/>
            <table class="form-fields zebra width">
                <thead>
                    <tr>
                        <td colspan="3" class="padding-l">
                            <h5><b><?=$this->translate('Offerte informatie');?></b></h5>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="va-top"><?=$this->translate('Offertenummer');?>:</th>
                        <td class="info-cnt"></td>
                        <td>
<?  $format = 'YmdHis';
    if (!empty($this->themeRow)) {
        $format = $this->themeRow->numeration;
    }
?>
                            <input type="text" readonly="readonly" name="luid" value="<?= $this->formValue('luid') ? $this->formValue('luid') : date($format); ?>" />
                        </td>
                    </tr>
                    <tr>
                        <th class="va-top"><?=$this->translate('Geschatte omzet');?>:</th>
                        <td class="info-cnt" >
                            <a class="icon-info-small" href="#"
                               title="<?=$this->translate('Schat in hoeveel omzet er gemoeid is met deze offerte. Deze informatie komt terug in de management informatie.');?>">&nbsp;</a>
                        </td>
                        <td>
                            &euro;&nbsp;
                            <input type="text" tabindex="<?=$tabIndex++;?>" name="amount" value="<?=$this->formValue('amount'); ?>"
                                   class="<?=$this->information()->toCls('amount'); ?>" />
                            <?=$this->information()->toIcon('amount'); ?>
                        </td>
                    </tr>
                    <tr>
                        <th class="va-top"><?=$this->translate('Scoringskans');?>:</th>
                        <td class="info-cnt" >
                            <a class="icon-info-small" href="#"
                               title="<?=$this->translate('Schat in hoe groot de kans is dat de offerte daadwerkelijk een opdracht wordt. Deze informatie komt terug in de management informatie.');?>">&nbsp;</a>
                        </td>
                        <td>%&nbsp;<input type="text" tabindex="<?=$tabIndex++;?>" name="chanceOfSuccess" value="<?=$this->formValue('chanceOfSuccess')?>" size="10" /></td>
                    </tr>
                    <tr>
                        <th class="va-top"><?=$this->translate('Contactmoment offerte');?>:</th>
                        <td class="info-cnt" >
                            <a class="icon-info-small" href="#"
                               title="<?=$this->translate('Kies het moment waarop opvolging aan de offerte wordt gegeven. Bijvoorbeeld om de offerte na te bellen of in een persoonlijke afspraak door te spreken.');?>">&nbsp;</a>
                        </td>
                        <td>
<?
    $d = '';
    if ($this->formValue('contactMomentDate')) {
        $d = $this->formValue('contactMomentDate');
        $d = \strtotime($d);
        $d = date('d-m-Y', $d);
    }
?>
                            <input type="hidden" id="contactMomentDate" name="contactMomentDate" value="<?=$this->formValue('contactMomentDate');?>"  />
                            <input type="text" tabindex="<?=$tabIndex++;?>" class="datepicker icon-datepicker required dateNL"
                                   value="<?=$d; ?>" name="contactMomentDateText" size="19"
                                   data-min-date="1"
                                   data-show-button-panel="true"
                                   data-change-month="true"
                                   data-change-year="true"
                                   data-alt-field="#contactMomentDate" />
                        </td>
                    </tr>
                    <tr>
                        <th class="va-top"><?=$this->translate('Bevat persoonlijke inleiding');?>:</th>
                        <td class="info-cnt va-top" >
                            <a class="icon-info-small" href="#"
                               title="<?=$this->translate('Kies JA om een inleiding te schrijven en daarmee de offerte persoonlijk te maken.');?>">&nbsp;</a>
                        </td>
                        <td>
                            <label>
                                <input type="radio" tabindex="<?=$tabIndex++;?>" name="theme[includePersonalIntroduction]" value="1"
                                       <?if (!empty($this->themeRow) && $this->themeRow->includePersonalIntroduction):?>checked="checked"<?endif;?> />
                                <?=$this->translate('Ja');?>
                            </label>
                            <label>
                                <input type="radio" tabindex="<?=$tabIndex++;?>" name="theme[includePersonalIntroduction]" value="0"
                                       <?if (!empty($this->themeRow) && !$this->themeRow->includePersonalIntroduction):?>checked="checked"<?endif;?> />
                                <?=$this->translate('Nee');?>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th class="va-top"><?=$this->translate('Bevat prijsblad');?>:</th>
                        <td class="info-cnt va-top" >
                            <a class="icon-info-small" href="#"
                               title="<?=$this->translate('Kies JA om de prijsstelling en voorwaarden van producten en/of diensten aan de offerte toe te voegen.');?>">&nbsp;</a>
                        </td>
                        <td>
                            <label>
<?  $checked = (!empty($this->themeRow) && $this->themeRow->includePrice)? ' checked="checked"':''; ?>
                                <input type="radio" tabindex="<?=$tabIndex++;?>" name="theme[includePrice]" value="1"<?= $checked ?>/>
                                <?=$this->translate('Ja');?>
                            </label>
                            <label>
<?  $checked = (!empty($this->themeRow) && !$this->themeRow->includePrice)? ' checked="checked"':''; ?>
                                <input type="radio" tabindex="<?=$tabIndex++;?>" name="theme[includePrice]" value="0"<?= $checked ?>/>
                                <?=$this->translate('Nee');?>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table class="form-fields zebra width">
                <thead>
                    <tr>
                        <td colspan="3" class="padding-l">
                            <h5><b><?=$this->translate('Contactpersoon offerte');?></b></h5>
                        </td>
                    </tr>
                </thead>
                <tbody>
<?
    $accountRow = Zend_Auth::getInstance()->getIdentity();
    $accountCpRow = $accountRow->getContactPersonRow();

    if ($this->proposalRow) {
        $currentContactPerson = $this->proposalRow->getContactPersonRow();
        $proposalApprovedCp = $this->proposalRow->getApprovedContactPersonRow();
        if ($currentContactPerson && $proposalApprovedCp)
        {
            $selfApproved =  !empty($proposalApprovedCp) ? $proposalApprovedCp->getId() === $currentContactPerson->getId() : false;
        }
    }
    if (!$currentContactPerson)
    {
        $currentContactPerson = $accountRow->getContactPersonRow();
        $approveCp = $currentContactPerson;
    }
    if (!isset($selfApproved))
    {
        $selfApproved = $currentContactPerson->canApproveProposal;
    }
    $currentCanApprove = !empty($approveCp) ? $approveCp->canApproveProposal : $accountCpRow->canApproveProposal;
?>
<? $contactPersons = $this->companyRow->getCompanyContactPersonRowset(); ?>
                    <tr>
                        <th class="va-top"><?=$this->translate('Selecteer contactpersoon');?>:</th>
                        <td class="info-cnt va-top">
                            <a href="#" class="icon-info-small" title="<?=$this->translate('Selecteer een contactpersoon');?>">&nbsp;</a>
                        </td>
                        <td>
<? $prefix = 'contactPerson_'?>
<? $contactCp = $this->proposalRow ? $this->proposalRow->getContactPersonRow() : null; ?>
                            <select name="contactPersonId"
                                    tabindex="<?=$tabIndex++;?>"
                                    class="required"
                                    data-prefix="#<?=$prefix;?>"
                                    data-syncUrl="/company/contact-person/fetch/format/json/contactPersonId/">
                                <option value="">Selecteer een contactpersoon</option>
<?  if (!empty($contactPersons)):
        foreach($contactPersons as $cp):
            $selected = '';
            if ($contactCp && null === $contactCp) {
                if ($cp->getId() === $currentContactPerson->getId()) {
                    $contactCp = $cp;
                    $selected = 'selected="selected"';
                }
            } else if ($contactCp && $contactCp->getId() == $cp->getId()) {
                $selected = 'selected="selected"';
            }
?>
                                        <option value="<?=$cp->getId(); ?>"<?= $selected ?>>
                                            <?= ($cp->sex == 'man')? 'Dhr.':'Mevr.' ?> <?= $cp->getFullname() ?>
                                        </option>
<?      endforeach; ?>
<?  else: ?>
                                    <option value="" disabled="disabled">Geen</option>
<? endif; ?>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="form-fields zebra width">
                <tr id="approveContactPerson">
                    <th class="va-top"><?= $this->translate('Selecteer ondertekenaar') ?>:</th>
                    <td class="info-cnt va-top"></td>
                    <td>

<?  $prefix = 'approveContactPerson_'?>
<?  if (!empty($contactPersons)):
        $approverAccountId = (int)$this->proposalRow->approvedAccountId;
        if (!$approverAccountId)
        {
            $approverAccountId = $currentContactPerson->accountId;
        }
?>
                        <select name="approvedAccountId"
                                class="required"
                                data-prefix="#<?=$prefix;?>"
                                data-self="<?=$accountRow->getId();?>"
                                data-syncUrl="/company/contact-person/fetch/format/json/contactPersonId/">

                            <option value="">Selecteer een ondertekenaar.</option>
<?
        foreach($contactPersons as $cp):
            if (!$cp->canApproveProposal())
            {
                continue;
            }
            $selected = ($approverAccountId == $cp->accountId)? ' selected="selected"':'';
?>
                                    <option value="<?= $cp->accountId ?>"
                                            data-contact-person-id="<?= $cp->getId() ?>"
                                            <?= $selected ?>>
                                        <?= ($cp->sex == 'man')? 'Dhr.':'Mevr.' ?> <?= $cp->getFullname() ?>
                                    </option>
                                <? endforeach; ?>
                            <? else: ?>
                                <option disabled="disabled"><?= $this->translate('Geen') ?></option>
                            <? endif; ?>
                        </select>
                    </td>
                </tr>
            </table>
<?  endif;?>
            <br />
            <hr />
            <p class="text-c">
<?  if(null !== $this->proposalRow):?>
                <button type="submit" tabindex="<?=$tabIndex++;?>" class="btn-big margin-r"><i class="icon-save"><?=$this->translate('Opslaan');?></i></button>
                <button type="submit" tabindex="<?=$tabIndex++;?>" class="btn-big margin-r" id="save-step-state-and-go-next" value="1" name="next-step">
                    <i class="icon-next"><?=$this->translate('Volgende stap');?></i>
                </button>
<?  else: ?>
                <button type="submit" tabindex="<?=$tabIndex++;?>" class="btn-big margin-r"><i class="icon-save"><?=$this->translate('Volgende stap');?></i></button>
<?  endif; ?>
            </p>
        </form>
    </article>

    <aside class="right">
        <?=$this->pageDescription();?>
    </aside>

</section>

<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>

<link rel="stylesheet" href="/public/js/jquery-ui/datepicker/css/datepicker.css"/>
<script src="/public/js/jquery-ui/datepicker/jquery-ui-datepicker.min.js"></script>
<script src="/public/js/jquery-ui/datepicker/i18n/jquery.ui.datepicker-nl.js"></script>

<script src="/modules-appalti/proposal/views/scripts/default/create/_resources/js/ProposalCreate.js"></script>
<script src="/modules-appalti/proposal/views/scripts/default/create/_resources/js/stepOne.js"></script>

