<?php
    $this->formValue()->init();
    if (null === $this->blockRow):
        $this->formValue()->omitNullableModel(true);
    else:
        $this->formValue()->setModel($this->blockRow);
    endif;

    echo $this->tinyMCE(array(
        'id'            => $tmceid = uniqid(),
        'width'         => '100%',
        'css'           => $this->css,
        'resizeH'       => false,
        'allowImages'   => false,
        'fullScreenBtnBig' => true,
        'plugins_data'  => array(
            'mykwd' => Proposal_Service_Keyword::fetchMyKeywords(),
            'clientkwd' => Proposal_Service_Keyword::fetchClientKeywords(),
        )
    ));
?>

<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <h2>
<? if (null === $this->proposalRow): ?>
            <?= $this->translate('Nieuwe offerte') ?>
<? else: ?>
            <?= $this->translate('Detailinformatie offerte') ?> "<?= $this->proposalRow->getName() ?>"
<? endif; ?>
        </h2>

        <?= $this->wizardSteps($this->wizard->getSteps()) ?>
    </section>

    <?=$this->information()->init();?>

    <form method="post">
        <div class="clearfix">
            <article class="content">
                <h5><b><?=$this->translate('Persoonlijke inleiding');?></b></h5>
<?  if ($this->accountRow->acl('proposal','introduction')): ?>
                <label class="text-gray"><?=$this->translate('Titel in offerte');?>:</label>
                <input type="text" size="50" value="<?=$this->themeRow->personalIntroductionHeader; ?>" name="theme[personalIntroductionHeader]" />
                <label class="text-gray"><?=$this->translate('Tekst in offerte');?>:</label>
                <textarea id="<?=$tmceid;?>" name="theme[personalIntroduction]" class="tinymce" style="width:100%; height:400px;"><?= $this->themeRow->personalIntroduction; ?></textarea>
<?  else: ?>
                <label class="text-gray"><?=$this->translate('Titel in offerte');?>:</label>
                <p><?=$this->themeRow->personalIntroductionHeader; ?>&nbsp;</p>
                <label class="text-gray"><?=$this->translate('Tekst in offerte');?>:</label>
                <p><?= $this->themeRow->personalIntroduction; ?>&nbsp;</p>
<?  endif; ?>
            </article>

            <aside class="right">
<?/**?>
                <div class="box-gray text-c">
<?
    $dropDownlinks = array();
    foreach($this->regions as $k => $region) {
        $dropDownlinks['/proposal/create/download-pdf/return/personal-introduction/regionId/' . $k] =  $region;
    }

    $dropDownlinks[] = '---';
    $dropDownlinks['/proposal/create/download-pdf/return/personal-introduction'] = 'Alle';

    $btnGroupParams = array(
        'btnText'   => $this->translate('Bekijk deze offerte'),
        'btnLink'   => '/proposal/create/download-pdf/return/personal-introduction',
        'linkCls'   => 'preview-pdf',
        'dropDownlinks' => $dropDownlinks
    );
    echo $this->buttonGroup($btnGroupParams);
?>
                </div>
<?/**/?>
                <?= $this->pageDescription() ?>
            </aside>
        </div>

        <br />
        <hr />
        <p class="text-c">
            <a class="btn-big btn-gray" href="<?= $this->wizard->getPrevStepUrl()?>/proposalId/<?=$this->proposalRow->getId();?>">
                <i class="icon-back"><?=$this->translate('Stap terug');?></i>
            </a>
<?  if ($this->accountRow->acl('proposal','introduction')): ?>
            <button type="submit" class="btn-big margin-r margin-l"><i class="icon-save"><?=$this->translate('Opslaan');?></i></button>
<?  endif; ?>
            <button type="submit" class="btn-big" id="save-step-state-and-go-next" value="1" name="next-step">
                <i class="icon-next"><?=$this->translate('Volgende stap');?></i>
            </button>
        </p>
    </form>
</section>
