<div class="modal-head">
    <h2><?=$this->blockRow->name; ?></h2>
    <hr />
</div>

<div class="modal-content">
    <iframe class="preview-text" style="width: 100%; height: 100%" frameborder="0"
            src="/proposal/create/preview-definition/iframe/1/sectionId/<?=$this->blockRow->sectionId;?>/blockId/<?=$this->blockRow->getId();?>/companyId/<?=$this->company->getId();?>"></iframe>
</div>

<div class="modal-foot">
    <hr />
    <p class="text-c">
        <a href="/lib" class="btn-big text-c" data-dismiss="modal">Ok</a>
    </p>
</div>
