<?php
    $this->formValue()->init();

    if (null === $this->themeRow):
        $this->formValue()->omitNullableModel(true);
    else:
        $this->formValue()->setModel($this->themeRow);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());

    echo $this->tinyMCE(array(
        'id'            => $tmceid = uniqid(),
        'plugins_data'  => array(
            'mykwd' => Proposal_Service_Keyword::fetchMyKeywords(),
            'clientkwd' => Proposal_Service_Keyword::fetchClientKeywords(),
        ),
        'simpleEditor' => true,
        'height' => '100'
    ));
?>

<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <h2>
<?  if (null === $this->proposalRow): ?>
            <?= $this->translate('Nieuwe offerte') ?>
<?  else: ?>
            <?= $this->translate('Detailinformatie offerte') ?> &quot;<?= $this->proposalRow->getName() ?>&quot;
<?  endif; ?>
        </h2>

        <?= $this->wizardSteps($this->wizard->getSteps()) ?>
    </section>

    <?= $this->information()->init() ?>

    <form method="post" id="proposal-price" action="/proposal/create/price/">
        <input type="hidden" name="proposalId" value="<?= $this->proposalRow->getId();?>"/>
        <input type="hidden" name="proposal:price-sheet" value="<?= (int)(($this->proposalRow->accountId == $this->accountRow->getId()) || $this->accountRow->acl('proposal','price-sheet')) ?>"/>
        <input type="hidden" name="proposal:grant-discount" value="<?= (int)($this->accountRow->acl('proposal','grant-discount')) ?>"/>
        <div class="clearfix">
            <article class="content">
                <h5><b><?=$this->translate('Prijsopgave offerte');?></b></h5>

                <div class="box-gray options">
                    <h5><?=$this->translate('Deze prijsopgave bevat');?>:</h5>
                    <ul class="row">
                        <li>
<?  $checked = ($this->formValue('includeTimeCharge'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="includeTimeCharge" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="includeTimeCharge"
                                        name="includeTimeCharge"
                                        value="1"
                                        data-ajaxsubmit="true"
                                        <?= $checked ?>/>
                                <?=$this->translate('Tijdstoeslagen');?>
                            </label>

<?  $checked = ($this->formValue('includeExtraCost'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="includeExtraCost" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="includeExtraCost"
                                        name="includeExtraCost"
                                        value="1"
                                        <?= $checked ?>/>
                                <?=$this->translate('Stelposten');?>
                            </label>

<?  $checked = ($this->formValue('includeShippingCost'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="includeShippingCost" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="includeShippingCost"
                                        name="includeShippingCost"
                                        value="1"
                                        <?= $checked ?>/>
                                <?=$this->translate('Verzendkosten');?>
                            </label>

<?  $checked = ($this->formValue('includeTravelingExpenses'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="includeTravelingExpenses" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="includeTravelingExpenses"
                                        name="includeTravelingExpenses"
                                        value="1"
                                        <?= $checked ?>/>
                                <?=$this->translate('Reiskosten');?>
                            </label>
                        </li>
                        <li>
<?  $checked = ($this->formValue('includeDelivery'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="includeDelivery" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="includeDelivery"
                                        name="includeDelivery"
                                        value="1"
                                        data-show="#deliveryText"
                                        <?= $checked ?>/>
                                <?=$this->translate('Levertijd');?>
                            </label>

<?  $checked = ($this->formValue('includeExplanation'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="includeExplanation" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="includeExplanation"
                                        name="includeExplanation"
                                        value="1"
                                        data-show="#explanationText"
                                        <?= $checked ?>/>
                                <?=$this->translate('Toelichting');?>
                            </label>

<?  $checked = ($this->formValue('includeOptionalItems'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="includeOptionalItems" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="includeOptionalItems"
                                        name="includeOptionalItems"
                                        value="1"
                                        data-show="#optionalItemsText"
                                        <?= $checked ?>/>
                                <?=$this->translate('Optionele zaken');?>
                            </label>

<?  $checked = ($this->formValue('btwExclusive'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="btwExclusive" value="inclusive"/>
                            <label>
                                <input  type="checkbox"
                                        id="btwExclusive"
                                        name="btwExclusive"
                                        value="exclusive"
                                    <?/* data-show="#btw-exclusive" */?>
                                        data-hide="#btw-inclusive"
                                    <?if ($this->formValue('btwExclusive') === 'exclusive'):?>checked="checked"<?endif;?> />
                                <?=$this->translate('BTW exclusief');?>
                            </label>
                        </li>
                        <li>
<?  $checked = ($this->formValue('includeAdditionalConditions'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="includeAdditionalConditions" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="includeAdditionalConditions"
                                        name="includeAdditionalConditions"
                                        value="1"
                                        data-show="#additionalConditionsText"
                                        <?= $checked ?>/>
                                <?=$this->translate('Extra voorwaarden');?>
                            </label>

<?  $checked = ($this->formValue('delayedPayment'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="delayedPayment" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="delayedPayment"
                                        name="delayedPayment"
                                        value="1"
                                        data-show="#delayedPaymentText"
                                        <?= $checked ?>/>
                                <?=$this->translate('Gespreide betalingswijzen');?>
                            </label>

<?  $checked = ($this->formValue('includeOtherDetails'))? ' checked="checked"':''; ?>
                            <input type="hidden" name="includeOtherDetails" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        id="includeOtherDetails"
                                        name="includeOtherDetails"
                                        value="1"
                                        data-show="#otherDetailsText"
                                        <?= $checked ?>/>
                                <?=$this->translate('Overige bijzonderheden');?>
                            </label>
<?
    $checked = ($this->formValue('includeDiscountPerOffer'))? ' checked="checked"':'';
    $disabled = ($this->accountRow->acl('proposal','grant-discount'))? '':' disabled="disabled"';
?>
                            <input type="hidden" name="includeDiscountPerOffer" value="0"/>
                            <label>
                                <input  type="checkbox"
                                        name="includeDiscountPerOffer"
                                        value="1"
                                        id="includeDiscountPerOffer"
                                        <?= $checked ?>
                                        <?= $disabled ?>/>
                                <?= $this->translate('Korting per artikel') ?>
                            </label>
                        </li>
                    </ul>
                </div>
                <br />
                <br />
                <table class="width proposal-offers" id="offer-block">
                    <colgroup>
                        <col width="*">
                        <col width="40%">
                        <col width="*">
                        <col width="*">
<?  if($this->formValue('includeDiscountPerOffer')): ?>
                            <col width="*">
<?  endif;?>
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="offer-action">&nbsp;</th>
                            <th class="offer-name"><?=$this->translate('Product / Dienst');?></th>
                            <th class="text-r"><?=$this->translate('Prijs');?></th>
                            <th class="text-r"><?=$this->translate('Aantal');?></th>
<?  if($this->formValue('includeDiscountPerOffer')):?>
                            <th class="text-r"><?=$this->translate('Korting');?> (%)</th>
<?  endif;?>
                            <th class="text-r"><?=$this->translate('Totaal');?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-c" colspan="20">
                                <em class="text-gray"><?=$this->translate('Ophalen opgenomen artikelen');?></em>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="20" class="text-c">
                                <a href="#" class="btn-big btn-gray text-c add-offer"><?=$this->translate('Nieuwe rij toevoegen');?></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div id="extra-pays">
                    <input type="hidden" name="subtotalPrice" value="<?=$this->formValue('subtotalPrice')?>" >
                    <input type="hidden" name="timeChargesPercentage" value="<?=$this->formValue('timeChargesPercentage')?>" >
                    <input type="hidden" name="timeChargesValue" value="<?=$this->formValue('timeChargesValue')?>" >
                    <input type="hidden" name="extraCostType" value="<?=$this->formValue('extraCostType')?>" >
                    <input type="hidden" name="extraCostPercentageOrValue" value="<?=$this->formValue('extraCostPercentageOrValue')?>" >
                    <input type="hidden" name="extraCostValue" value="<?=$this->formValue('extraCostValue')?>" >
                    <input type="hidden" name="shippingValue" value="<?=$this->formValue('shippingValue')?>" >
                    <input type="hidden" name="travelingExpensesValue" value="<?=$this->formValue('travelingExpensesValue')?>" >
                    <input type="hidden" name="includeDiscount" value="<?=$this->formValue('includeDiscount')?>" >
                    <input type="hidden" name="discountPercentage" value="<?=$this->formValue('discountPercentage'); ?>" >
                    <input type="hidden" name="discountValue" value="<?=$this->formValue('discountValue')?>" >
                    <input type="hidden" name="totalPrice" value="<?=$this->formValue('totalPrice')?>" >

                    <table class="width proposal-extra-pays">
                        <colgroup>
                            <col width="38%">
                            <col width="14%">
                            <col width="16%">
                            <col width="13%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="3" class="text-r"><?=$this->translate('Subtotaal');?></th>
                                <th class="text-r">&euro; <span id ="subtotalPrice"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="timeChargeRow" <? if (!$this->formValue('includeTimeCharge')) :?>style="display: none;"<? endif; ?>>
                                <td colspan="2" class="va-middle"><?=$this->translate('Tijdstoeslagen');?></td>
                                <td>
                                    <span class="invisible">&euro;</span>
                                    <input type="text" size="8" data-ajaxsubmit="true" id="timeChargesPercentage"> %
                                </td>
                                <td class="text-r va-middle">&euro; <span id="timeChargesValue"></span></td>
                            </tr>

                            <tr id="extraCostRow" <? if (!$this->formValue('includeExtraCost')) :?>style="display: none;"<? endif; ?>>
                                <td class="va-middle"><?=$this->translate('Stelposten');?></td>
                                <td>
                                    <select id="extraCostType" style="width: 100px">
                                        <option value="percentage"><?=$this->translate('Percentage');?></option>
                                        <option value="price"><?=$this->translate('Prijs');?></option>
                                    </select>
                                </td>
                                <td>
                                    <span id="extraCostEuro">&euro;</span>
                                    <input type="text" size="8" data-ajaxsubmit="true" id="extraCostPercentageOrValue">
                                    <span id ="extraCostPercentage">%</span>
                                </td>
                                <td class="text-r va-middle">&euro; <span id="extraCostValue"></span></td>
                            </tr>

                            <tr id="shippingCostRow" <? if (!$this->formValue('includeShippingCost')) :?>style="display: none;"<? endif; ?>>
                                <td colspan="2" class="va-middle"><?=$this->translate('Verzendkosten');?></td>
                                <td>&euro; <input type="text" size="8" data-ajaxsubmit="true" id="shippingValue"></td>
                                <td class="text-r va-middle">&euro; <span id="shippingValueDisplay"></span></td>
                            </tr>

                            <tr id="travelingExpensesRow"  <? if ($this->formValue('includeTravelingExpenses')) :?>style="display: none;"<? endif; ?>>
                                <td colspan="2" class="va-middle"><?=$this->translate('Reiskosten');?></td>
                                <td>&euro; <input type="text" size="8" data-ajaxsubmit="true" id="travelingExpensesValue"></td>
                                <td class="text-r va-middle">&euro; <span id="travelingExpensesValueDisplay"></span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-r"><?=$this->translate('Subtotaal');?></td>
                                <td class="text-r">&euro; <span id ="subtotalPrice1"></span></td>
                            </tr>
<?  if ($this->accountRow->acl('proposal','grant-discount')): ?>
                            <tr class="normal">
                                <td colspan="2" class="va-middle">
                                    <label>
                                        <input type="checkbox" <? if ($this->formValue('includeDiscount')): ?>checked="checked"<? endif;?> id="includeDiscount">
                                        <?=$this->translate('Korting');?>
                                    </label>
                                </td>
                                <td>
                                    <div id="discountContainer">
                                        <span class="invisible">&euro;</span>
                                        <input type="text" data-max="100" size="8" data-ajaxsubmit="true" id="discountPercentage"> %
                                    </div>
                                </td>
                                <td class="text-r va-middle">
                                    - &euro; <span id ="discountValue"></span>
                                </td>
                            </tr>
<?  endif; ?>
                            <tr class="total">
                                <td class="no-border normal">
                                    <?/*
                                    <small id="btw-exclusive" class="asterisk" <?=$this->formValue('btwExclusive') === 'inclusive' ? 'style="display: none;"' : ''; ?>>
                                        <?=$this->translate('alle genoemde bedragen in deze offerte zijn exclusief BTW');?>
                                    </small>
                                    */?>
                                    <small id="btw-inclusive" class="asterisk" <?=$this->formValue('btwExclusive') === 'exclusive' ? 'style="display: none;"' : ''; ?>>
                                        <?=$this->translate('alle genoemde bedragen in deze offerte zijn inclusief BTW');?>
                                    </small>
                                </td>
                                <td colspan="2" class="text-r no-border"><?=$this->translate('Totaal');?></td>
                                <td class="text-r no-border">
                                    &euro; <span id ="totalPrice"></span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <br />
                <table class="width proposal-text-blocks">
                    <colgroup>
                        <col width="25%">
                        <col width="*">
                    </colgroup>
                    <tr id="explanationText" <?if (!$this->formValue('includeExplanation')):?>style="display: none;"<?endif;?>>
                        <td><?=$this->translate('Toelichting');?></td>
                        <td>
<?  if ($this->accountRow->acl('proposal', 'template')): ?>
                            <textarea class="no-margin tinymce" name="explanationText" rows="5"><?=$this->formValue('explanationText');?></textarea>
<?  else: ?>
                            <p><?=$this->formValue('explanationText');?></p>
<?  endif;?>
                        </td>
                    </tr>
                    <tr id="optionalItemsText" <?if (!$this->formValue('includeOptionalItems')):?>style="display: none;"<?endif;?>>
                        <td><?=$this->translate('Optionele zaken');?></td>
                        <td>
<?  if ($this->accountRow->acl('proposal', 'template')): ?>
                            <textarea class="no-margin tinymce" name="optionalItemsText" rows="5"><?=$this->formValue('optionalItemsText');?></textarea>
<?  else: ?>
                            <p><?=$this->formValue('optionalItemsText');?></p>
<?  endif;?>
                        </td>
                    </tr>
                    <tr id="additionalConditionsText" <?if (!$this->formValue('includeAdditionalConditions')):?>style="display: none;"<?endif;?>>
                        <td><?=$this->translate('Extra voorwaarden');?></td>
                        <td>
<?  if ($this->accountRow->acl('proposal', 'template')): ?>
                            <textarea class="no-margin tinymce" name="additionalConditionsText" rows="5"><?=$this->formValue('additionalConditionsText');?></textarea>
<?  else: ?>
                            <p><?=$this->formValue('additionalConditionsText');?></p>
<?  endif;?>
                        </td>
                    </tr>
                    <tr id="delayedPaymentText" <?if (!$this->formValue('delayedPayment')):?>style="display: none;"<?endif;?>>
                        <td><?=$this->translate('Gespreide betalingswijzen');?></td>
                        <td>
<?  if ($this->accountRow->acl('proposal', 'template')): ?>
                            <textarea class="no-margin tinymce" name="delayedPaymentText" rows="5"><?=$this->formValue('delayedPaymentText');?></textarea>
<?  else: ?>
                            <p><?=$this->formValue('delayedPaymentText');?></p>
<?  endif;?>
                        </td>
                    </tr>
                    <tr id="otherDetailsText" <?if (!$this->formValue('includeOtherDetails')):?>style="display: none;"<?endif;?>>
                        <td><?=$this->translate('Overige bijzonderheden');?></td>
                        <td>
<?  if ($this->accountRow->acl('proposal', 'template')): ?>
                            <textarea class="no-margin tinymce" name="otherDetailsText" rows="5"><?=$this->formValue('otherDetailsText');?></textarea>
<?  else: ?>
                            <p><?=$this->formValue('otherDetailsText');?></p>
<?  endif;?>
                        </td>
                    </tr>
                    <tr id="deliveryText" <?if (!$this->formValue('includeDelivery')):?>style="display: none;"<?endif;?>>
                        <td><?=$this->translate('Levertijd');?></td>
                        <td>
<?  if ($this->accountRow->acl('proposal', 'template')): ?>
                            <textarea class="no-margin tinymce"  name="deliveryText" rows="5"><?=$this->formValue('deliveryText');?></textarea>
<?  else: ?>
                            <p><?=$this->formValue('deliveryText');?></p>
<?  endif;?>
                        </td>
                    </tr>
                </table>
            </article>
            <aside class="right">
<?/**?>
                <div class="box-gray text-c">
<?
    $dropDownlinks = array();

    foreach($this->regions as $k => $region) {
        $dropDownlinks['/proposal/create/download-pdf/return/price/regionId/' . $k] =  $region;
    }

    $dropDownlinks[] = '---';
    $dropDownlinks['/proposal/create/download-pdf/price/blocks'] = $this->translate('Alle');

    $btnGroupParams = array(
        'btnText'   => $this->translate('Bekijk deze offerte'),
        'btnLink'   => '/proposal/create/download-pdf/return/price',
        'linkCls'   => 'preview-pdf',
        'dropDownlinks' => $dropDownlinks
    );

    echo $this->buttonGroup($btnGroupParams);
?>
                </div>
<?/**/?>
                <?= $this->pageDescription() ?>
            </aside>
        </div>

        <br />
        <hr />
        <p class="text-c">
            <a class="btn-big btn-gray" href="<?=$this->wizard->getPrevStepUrl();?>/proposalId/<?=$this->proposalRow->getId();?>">
                <i class="icon-back"><?=$this->translate('Stap terug');?></i>
            </a>
<? if(      ($this->proposalRow->accountId == $this->accountRow->getId())
        ||  $this->accountRow->acl('proposal','price-sheet')): ?>
            <button type="submit" class="btn-big margin-r margin-l"><i class="icon-save"><?=$this->translate('Opslaan');?></i></button>
<?  endif; ?>
            <button type="submit" class="btn-big" id="save-step-state-and-go-next" value="1" name="next-step">
                <i class="icon-next"><?=$this->translate('Volgende stap');?></i>
            </button>
        </p>
    </form>
</section>


<script src="/public/js/jquery-ui/jquery-ui-sortable.min.js"></script>
<script src="/modules-appalti/proposal/views/scripts/default/offer/_resources/js/ProposalOffer.js"></script>
<script src="/modules-appalti/proposal/views/scripts/default/create/_resources/js/price.js"></script>

<script>
    $(function () {
        var priceObj = new Price({
            proposalId: <?=$this->proposalRow->getId();?>
        });

        var pOffer = new ProposalOffer({
            containerId: 'offer-block',
            proposalId: <?=$this->proposalRow->getId();?>,
            onOfferLoad: function() {
                priceObj.updateSubtotal.call(priceObj);
            }
        });

        priceObj.proposalOffer = pOffer;
    });
</script>