<?php
    $this->formValue()->init();
    if (null !== $this->proposalRow):
        $this->formValue()->setModel($this->proposalRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
    $this->formValue()->setData($this->formSubmittedPostData ?: $this->proposalRow->toArray());
    $tabIndex = 10;
?>
<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <h2>
<? if (null === $this->proposalRow): ?>
                <?=$this->translate('Nieuwe offerte');?>
<? else: ?>
                <?=$this->translate('Detailinformatie offerte');?> "<?=$this->proposalRow->getName();?>"
<? endif; ?>
        </h2>
        <?= $this->wizardSteps($this->wizard->getSteps()) ?>

    </section>
    <?= $this->information()->init() ?>
    <article class="content">

        <form method="post" name="step-one" enctype="multipart/form-data" class="validatable">
            <input type="hidden" name="proposalId" value="<?= $this->proposalRow->getId() ?>">
<? $prefix = 'companyClient_'; ?>
            <h5 class="margin-l"><b><?= $this->translate('Algemeen') ?></b></h5>

            <div class="companyClientRegion">
                <table class="form-fields zebra width"  id="<?=$prefix; ?>input-fields">
                    <tr>
                        <th class="va-top"><?= $this->translate('Nieuwe of bestaande relatie') ?>:</th>
                        <td class="info-cnt">
                            <a href="#" class="icon-info-small"
                               title="<?= $this->translate('Selecteer een bestaande relatie (die reeds in het systeem status) of maak een nieuwe relatie aan en vul alle gegevens in.') ?>">&nbsp;</a>
                        </td>
                        <td>
<? $newClient = $this->formValue('clientCompanyId') == 'newItem'; ?>

                            <select name="clientCompanyId" id="clientCompanyId" data-prefix="#<?= $prefix ?>"
                                    class="required"
                                    tabindex="<?= $tabIndex++ ?>"
                                    data-syncUrl="/company/index/fetch-with-contact-person/format/json/companyId/">
<?
    $companyChildRowset = $this->companyRow->getChildrenRowset();
    $clientCompanyRow = null;
?>
                                    <option value="newItem"<?= (!$this->proposalRow->clientCompanyId)? ' selected="selected"':'' ?>>
                                        <?= $this->translate('Nieuwe klant aanmaken') ?>
                                    </option>
<?  if ($companyChildRowset->count() > 0): ?>

<?      foreach ($this->companyRow->getChildrenRowset() as $companyRow):
            $selected = '';
            if($this->formValue('clientCompanyId') == $companyRow->getId()):
                $clientCompanyRow = $companyRow;
                $selected = 'selected="selected"';
            endif;
?>                                     <option value="<?= $companyRow->getId() ?>"
                                            class="<?= $this->information()->toCls('clientCompanyId') ?>"
                                            <?= $selected ?>>
                                            <?= $companyRow->name ?> <?= $companyRow->form ?>, <?= $companyRow->actualCity ?>
                                        </option>
<?      endforeach; ?>
<?  endif; ?>
                            </select>
                        </td>
                    </tr>

<?
    $c = $this->formValue()->getData('newClient');
    if (empty($c)):
        $c = !$clientCompanyRow ? array() : $clientCompanyRow->toArray();
    endif;
?>

                    <tr>
                        <th><?= $this->translate('Bedrijfsnaam') ?>:</th>
                        <td class="info-cnt"></td>
                        <td id="<?= $prefix ?>name">
                            <input type="text"
                                   required="#clientCompanyId:selected"
                                   name="newClient[name]"
                                   value="<?= (!$c)? '':$c['name'] ?>"
                                   <?= (!$this->proposalRow->clientCompanyId)? '':'readonly="readonly" class="ignore"' ?>
                                   tabindex="<?= $tabIndex++ ?>" />
                        </td>
                    </tr>
                    <tr>
                        <th><?= $this->translate('Bedrijfsvorm') ?>:</th>
                        <td class="info-cnt"></td>
                        <td id="<?= $prefix ?>form">
<?
    $attrs = array('tabindex' => $tabIndex++);
    if ($this->proposalRow->clientCompanyId) {
        $attrs['readonly'] = 'readonly';
    }
    echo $this->modules('company')->companyFormComboBox()->toField('newClient[form]', (empty($c['form'])) ? '' : $c['form'], $attrs);
?>
                        </td>
                    </tr>
                    <tr>
                        <th class="va-top">Logo van de klant:</th>
                        <td class="info-cnt">
                            <a href="#" class="icon-info-small" title="<?= $this->translate('Selecteer een logo. Toegestane types: JPG, GIF, PNG') ?>">&nbsp;</a>
                        </td>
                        <td id="<?=$prefix;?>logo">
<?  $src = '';
    if (null !== $clientCompanyRow):
        $src = 'src="'. $this->modules('company')->CompanyLogoFileStock($clientCompanyRow)->resize(70).'"';
    endif;
    $hidden = '';
    if (null === $clientCompanyRow):
        $hidden = 'hidden="hidden"';
    endif;
?>
                            <img class="margin-b"
                                 id="<?= $prefix ?>logoimg"
                                 <?= $src ?>
                                 <?= $hidden ?>
                                 alt=""/>
                            <hr class="no-margin no-bg" />
                            <input type="file" tabindex="<?=$tabIndex++;?>" size="12" name="logo" value="" class="<?= ($clientCompanyRow)? 'hidden':'' ?> <?=$this->information()->toCls('logo'); ?>" accept="image/gif,image/jpeg,image/jpg,image/png" />
                        </td>
                    </tr>
                    <tr class="actualAddr">
                        <th>
                            <br />
                            <h5><b><?=$this->translate('Bezoekadres');?></b></h5>
                            <?=$this->translate('Straatnaam en huisnummer');?>:
                        </th>
                        <td class="info-cnt va-bottom"></td>
                        <td class="va-bottom">
                        <span id="<?=$prefix?>actualStreet">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                                   required="#clientCompanyId:selected"
                                   name="newClient[actualStreet]"
                                   value="<?=(!$c) ? '' : $c['actualStreet']; ?>"
                                   <?= (!$this->proposalRow->clientCompanyId)? '' : 'readonly="readonly" class="ignore"';?> />
                        </span>&nbsp;
                        <span id="<?=$prefix;?>actualHouseNumber">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                                   required="#clientCompanyId:selected"
                                   name="newClient[actualHouseNumber]"
                                   value="<?=(!$c) ? '' : $c['actualHouseNumber']; ?>" size="7"
                                <?= (!$this->proposalRow->clientCompanyId)? '' : 'readonly="readonly" class="ignore"';?> />
                        </span>
                        </td>
                    </tr>
                    <tr class="actualAddr">
                        <th><?=$this->translate('Postcode en plaats');?>:</th>
                        <td class="info-cnt"></td>
                        <td>
                        <span id="<?=$prefix?>actualPostCode">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                                   required="#clientCompanyId:selected"
                                   name="newClient[actualPostCode]" size="7"
                                   value="<?=(!$c) ? '' : $c['actualPostCode']; ?>"
                                <?= (!$this->proposalRow->clientCompanyId)? '' : 'readonly="readonly" class="ignore"';?> />
                        </span>&nbsp;
                        <span id="<?=$prefix;?>actualCity">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                                   required="#clientCompanyId:selected"
                                   name="newClient[actualCity]"
                                   value="<?=(!$c) ? '' : $c['actualCity']; ?>"
                                <?= (!$this->proposalRow->clientCompanyId)? '' : 'readonly="readonly" class="ignore"';?> />
                        </span>
                        </td>
                    </tr>

                    <tr>
                        <th colspan="2" class="va-bottom">
                            <br />
                            <h5 class="no-margin"><b><?=$this->translate('Postadres');?></b></h5>
                        </th>
                        <td class="va-bottom">
                            <br />
                            <label class="post-same-as-actual" <?= (!$this->proposalRow->clientCompanyId)? '' : 'style="display: none;"';?>>
                                <input type="checkbox" tabindex="<?=$tabIndex++;?>" id="post-same-as-actual"  />
                                <?=$this->translate('Ja, mijn postadres is gelijk aan bezoekadres');?>
                            </label>
                        </td>
                    </tr>

                    <tr class="postAddr">
                        <th><?=$this->translate('Straatnaam en huisnummer');?>:</th>
                        <td class="info-cnt"></td>
                        <td>
                        <span id="<?=$prefix?>postStreet">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                                   name="newClient[postStreet]"
                                   value="<?=(!$c) ? '' : $c['postStreet']; ?>"
                                <?= (!$this->proposalRow->clientCompanyId)? '' : 'readonly="readonly" class="ignore"';?> />
                        </span>&nbsp;
                        <span id="<?=$prefix;?>postHouseNumber">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                                   name="newClient[postHouseNumber]" size="7"
                                   value="<?=(!$c) ? '' : $c['postHouseNumber']; ?>"
                                <?= (!$this->proposalRow->clientCompanyId)? '' : 'readonly="readonly" class="ignore"';?> />
                        </span>
                        </td>
                    </tr>
                    <tr class="postAddr">
                        <th><?=$this->translate('Postcode en plaats');?>:</th>
                        <td class="info-cnt"></td>
                        <td>
                        <span id="<?=$prefix?>postPostCode">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                                   name="newClient[postPostCode]" size="7"
                                   value="<?=(!$c) ? '' : $c['postPostCode']; ?>"
                                <?= (!$this->proposalRow->clientCompanyId)? '' : 'readonly="readonly" class="ignore"';?> />
                        </span>&nbsp;
                        <span id="<?=$prefix;?>postCity">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                                   name="newClient[postCity]"
                                   value="<?=(!$c) ? '' : $c['postCity']; ?>"
                                <?= (!$this->proposalRow->clientCompanyId)? '' : 'readonly="readonly" class="ignore"';?> />
                        </span>
                        </td>
                    </tr>
                </table>
            </div>

            <br />

            <div class="clientContactPersonRegion">
<? $prefix = 'clientContactPerson_'?>
                <table class="form-fields zebra width">
                    <thead>
                        <tr>
                            <td colspan="3" class="padding-l">
                                <h5><b><?= $this->translate('Contactpersoon') ?></b></h5>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
<?
    if ($clientCompanyRow) {
        $clientContactPersons = $clientCompanyRow->getCompanyContactPersonRowset();
    }
    $clientContactPerson = null;
?>
                        <tr>
                            <th class="va-top"><?=$this->translate('Selecteer contactpersoon');?>:</th>
                            <td class="info-cnt" >
                                <a class="icon-info-small" href="#"
                                   title="<?=$this->translate('Selecteer een bestaande contactpersoon of maak een nieuwe contactpersoon aan en vul alle gegevens in.');?>">&nbsp;</a>
                            </td>
                            <td>
                                <select name="clientContactPersonId"
                                        id="clientContactPersonId"
                                        tabindex="<?=$tabIndex++;?>"
                                        <?= (!$this->proposalRow->clientContactPersonId)? 'disabled="disabled' : '';?>
                                        required="#clientContactPersonId:not(:disabled)"
                                        class="required <?=$newClient ? 'ignore' : '';?>" style="width: 200px;"
                                        data-prefix="#<?=$prefix;?>"
                                        data-syncUrl="/company/contact-person/fetch/format/json/contactPersonId/">
<?  if ($newClient):?>
                                    <option value="newItem" selected="selected"><?=$this->translate('Nieuwe contactpersoon');?></option>
<?  endif;?>
<?  if(!empty($clientContactPersons)):
        foreach ($clientContactPersons as $row):
            $selected = '';
            if ($this->formValue('clientContactPersonId') == $row->getId()):
                $clientContactPerson = $row;
                $selected = 'selected="selected"';
            endif;?>
                                    <option value="<?=$row->getId()?>"<?= $selected ?>>
                                        <?=$row->getFullname()?>
                                    </option>
<?      endforeach;?>
<?  endif;?>
                                </select>

                                <a class="btn margin-l <?=!$clientCompanyRow ? 'btn-disabled' : '';?>"
                                   id="newClientContactPerson"
                                   data-cache="true"
                                   href="/company/contact-person/create/companyId/">
                                    <i class="icon-add"><?=$this->translate('Nieuw contactpersoon aanmaken');?></i>
                                </a>
                                <br />
                            </td>
                        </tr>
                    </tbody>
                </table>
<?
    $cp = $this->formValue()->getData('newClientContactPerson');
    if (empty($cp)) {
        $cp = !$clientContactPerson ? array() : $clientContactPerson->toArray();
    }
?>
                <table class="form-fields zebra width" id="<?=$prefix; ?>input-fields">
                    <tr>
                        <th><?=$this->translate('Voorletters');?>:</th>
                        <td class="info-cnt">&nbsp;</td>
                        <td id="<?=$prefix;?>initials">
                                <input type="text" tabindex="<?=$tabIndex++;?>"
                                name="newClientContactPerson[initials]"
                                value="<?=(empty($cp['initials'])) ? '': $cp['initials']; ?>"
                                <?= (!$this->proposalRow->clientContactPersonId)? '' : 'readonly="readonly"';?> />
                        </td>
                    </tr>
                    <tr>
                        <th><?=$this->translate('Voornaam');?>:</th>
                        <td class="info-cnt">&nbsp;</td>
                        <td id="<?=$prefix;?>firstname">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                            name="newClientContactPerson[firstname]"
                            required="#clientContactPersonId:disabled"
                            value="<?=(!$cp) ? '' : $cp['firstname']; ?>"
                            <?= (!$this->proposalRow->clientContactPersonId)? 'class="required"' : 'class="ignore" readonly="readonly"';?> />
                        </td>
                    </tr>
                    <tr>
                        <th><?=$this->translate('Achternaam');?>:</th>
                        <td class="info-cnt">&nbsp;</td>
                        <td id="<?=$prefix;?>lastname">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                            name="newClientContactPerson[lastname]"
                            required="#clientContactPersonId:disabled"
                            value="<?=(!$cp) ? '' : $cp['lastname']; ?>"
                            <?= (!$this->proposalRow->clientContactPersonId)? 'class="required"' : 'class="ignore" readonly="readonly"';?> />
                        </td>
                    </tr>
                    <tr>
                        <th><?=$this->translate('Geslacht');?>:</th>
                        <td class="info-cnt">&nbsp;</td>
                        <td id="<?=$prefix;?>sex">
<?
    $sexValue = (!$cp) ? '' :  (isset($cp['sex']) ? $cp['sex'] : '');
    $tabindex = $tabIndex++;
?>
<?  $sexes = array(
        Company_Model_ContactPersonRow::MALE,
        Company_Model_ContactPersonRow::FEMALE
    );
    foreach($sexes as $sex):
        $checked = '';
        if (0 === strcasecmp($sexValue, $sex)):
            $checked = 'checked="checked"';
        endif; ?>
                                <label>
                                    <input type="radio"
                                           tabindex="<?= $tabindex++ ?>"
                                           name="newClientContactPerson[sex]"
                                           value="<?=$sex; ?>"
                                           <?= (!$this->proposalRow->clientContactPersonId)? 'class="required"' : 'class="ignore" disabled="disabled"';?>
                                           <?= $checked ?>
                                    />
                                    <?=ucfirst($sex); ?>
                                </label>
<?  endforeach; ?>
                        </td>
                    </tr>
                    <tr>
                        <th><?=$this->translate('Functie');?>:</th>
                        <td class="info-cnt">&nbsp;</td>
                        <td id="<?=$prefix;?>function">
                            <input type="text" tabindex="<?=$tabIndex++;?>"
                            name="newClientContactPerson[function]"
                            value="<?=(!$cp) ? '' : $cp['function']; ?>"
                            <?= (!$this->proposalRow->clientContactPersonId)? '' : 'class="ignore" readonly="readonly"';?> />
                        </td>
                    </tr>
                    <tr>
                        <th><?=$this->translate('Afdeling');?>:</th>
                        <td class="info-cnt">&nbsp;</td>
                        <td id="<?=$prefix;?>department">
                            <input type="text" tabindex="<?=$tabIndex++;?>"
                            name="newClientContactPerson[department]"
                            value="<?=(!$cp) ? '' : $cp['department']; ?>"
                            <?= (!$this->proposalRow->clientContactPersonId)? '' : 'class="ignore" readonly="readonly"';?> />
                        </td>
                    </tr>
                    <tr>
                        <th><?=$this->translate('Direct nummer');?>:</th>
                        <td class="info-cnt"></td>
                        <td id="<?=$prefix;?>phone">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                            name="newClientContactPerson[phone]"
                            required="#clientContactPersonId:disabled"
                            value="<?=(!$cp) ? '' : $cp['phone']; ?>"
                            <?= (!$this->proposalRow->clientContactPersonId)? 'class="required phoneNL"' : 'class="ignore" readonly="readonly"';?> />
                        </td>
                    </tr>
                    <tr>
                        <th><?=$this->translate('Mobiel nummer');?>:</th>
                        <td class="info-cnt"></td>
                        <td id="<?=$prefix;?>mobile">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                            name="newClientContactPerson[mobile]"
                            value="<?=(!$cp) ? '' : $cp['mobile']; ?>"
                            <?= (!$this->proposalRow->clientContactPersonId)? 'class="mobileNL" ' : 'class="ignore" readonly="readonly"';?> />
                        </td>
                    </tr>
                    <tr>
                        <th><?=$this->translate('E-mailadres');?>:</th>
                        <td class="info-cnt">&nbsp;</td>
                        <td id="<?=$prefix;?>email">
                            <input type="text"
                                   tabindex="<?=$tabIndex++;?>"
                            name="newClientContactPerson[email]"
                            required="#clientContactPersonId:disabled"
                            value="<?=(!$cp) ? '' : $cp['email']; ?>"
                            <?= (!$this->proposalRow->clientContactPersonId)? 'class="required email3"' : 'class="ignore" readonly="readonly"';?> />
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <hr />
            <p class="text-c">
                <a class="btn-big btn-gray" href="<?=$this->wizard->getPrevStepUrl();?>/proposalId/<?=$this->proposalRow->getId();?>">
                    <i class="icon-back"><?=$this->translate('Stap terug');?></i>
                </a>
                <button type="submit" tabindex="<?=$tabIndex++;?>" class="btn-big margin-r"><i class="icon-save"><?=$this->translate('Opslaan');?></i></button>
                <button type="submit" tabindex="<?=$tabIndex++;?>" class="btn-big margin-r" id="save-step-state-and-go-next" value="1" name="next-step">
                    <i class="icon-next"><?=$this->translate('Volgende stap');?></i>
                </button>
            </p>
        </form>
    </article>

    <aside class="right">
        <?= $this->pageDescription() ?>
    </aside>

</section>

<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>

<link rel="stylesheet" href="/public/js/jquery-ui/datepicker/css/datepicker.css"/>
<script src="/public/js/jquery-ui/datepicker/jquery-ui-datepicker.min.js"></script>
<script src="/public/js/jquery-ui/datepicker/i18n/jquery.ui.datepicker-nl.js"></script>

<script src="/modules-appalti/proposal/views/scripts/default/create/_resources/js/ProposalCreate.js"></script>
<script src="/modules-appalti/proposal/views/scripts/default/create/_resources/js/stepOne.js"></script>
