<?php
    $this->formValue()->init();
    if (null === $this->proposalRow):
        $this->formValue()->omitNullableModel(true);
    else:
        $this->formValue()->setModel($this->proposalRow);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <h2>
<? if (null === $this->proposalRow): ?>
            <?= $this->translate('Nieuwe offerte') ?>
<? else: ?>
            <?= $this->translate('Detailinformatie offerte') ?> "<?= $this->proposalRow->getName() ?>"
<? endif; ?>
        </h2>

        <?= $this->wizardSteps($this->wizard->getSteps()) ?>
    </section>

    <?= $this->information()->init() ?>

    <form action="/proposal/create/summary" method="post" id="proposalSummaryForm">

<? if (!$this->createTicket): ?>
            <input type="hidden" name="createSupportTicket" value="0"/>
<? endif; ?>

        <div class="clearfix">
            <article class="content">
                <table class="form-fields width">
                    <colgroup>
                        <col width="*">
                        <col width="65%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th class="text-r">
                                <h5><b><?=$this->translate('Samenvatting');?></b></h5>
                            </th>
                            <td class="va-bottom">&nbsp;</td>
                        </tr>
                        <tr>
                            <th class="text-r">
                                <h5><?=$this->translate('Van');?></h5>
                            </th>
                            <td class="va-bottom">&nbsp;</td>
                        </tr>
                        <tr>
                            <th class="text-r">
                                <?=$this->translate('Bedrijfslocatie');?>:
                            </th>
                            <td class="va-bottom">
<?  $locationRow = $this->proposalRow->getLocation() ?>
                                <?= $locationRow->getName() ?>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-r"><?=$this->translate('Contactpersoon');?>:</th>
                            <td>
<?  $contactpersonRow = $this->proposalRow->getContactPerson(); ?>
                                <?= ($contactpersonRow)? $contactpersonRow->getFullname():'' ?>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-r"><?=$this->translate('Eerste contactmoment');?>:</th>
                            <td>
                                <?= $this->proposalRow->getContactMomentDate() ?>
                            </td>
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>
                            <th class="text-r">
                                <h5><?=$this->translate('Naar');?></h5>
                            </th>
                            <td class="va-bottom">&nbsp;</td>
                        </tr>
                        <tr>
                            <th class="text-r">
                                <?=$this->translate('Relatie');?>:
                            </th>
                            <td class="va-bottom">
<?  $companyRow = $this->proposalRow->getClientCompanyRow(); ?>
                                <?= $companyRow->getName() ?>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-r"><?=$this->translate('Contactpersoon');?>:</th>
                            <td>
<?  $contactPersonRow = $companyRow->getCompanyContactPersonRow($this->proposalRow->clientContactPersonId); ?>
                                <?= ($contactPersonRow)? $contactPersonRow->getFullname():'' ?>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-r"><?= $this->translate('Duur geldigheid offerte')?>:</th>
                            <td>
<?  $themeRow = $this->proposalRow->getThemeRow(); ?>
                                <?= $this->translate('%s dagen na verzending.', array($themeRow->daysValid))?>
                            </td>
                        </tr>
<?/**?>
<?  if ($this->createTicket): ?>
                            <tr>
                                <th class="text-r">
                                    <br />
                                    <?= $this->translate('Appalti offerte laten nalezen?') ?>
                                </th>
                                <td class="va-bottom">
                                    <label class="margin-r">
<?      $checked = ($this->formValue('createSupportTicket'))? 'checked="checked"':''; ?>
                                        <input type="radio"
                                               name="createSupportTicket"
                                               value="1"
                                               <?= $checked ?> />
                                        Ja
                                    </label>
                                    <label>
<?      $checked = (!$this->formValue('createSupportTicket'))? 'checked="checked"':''; ?>
                                        <input type="radio"
                                               name="createSupportTicket"
                                               value="0"
                                                <?= $checked ?> />
                                        Nee
                                    </label>
                                </td>
                            </tr>
<?  endif; ?>
<?/**/?>
<?/**?>
                        <tr>
                            <th class="text-r va-top">
                                <br />
                                Twitter:
                            </th>
                            <td>
                                <br />
                                <input type="hidden" name="sendTwit" value="0"/>
                                <label>
<?  $checked = ($this->formValue('sendTwit'))? ' checked="checked"':''; ?>
                                    <input type="checkbox"
                                           name="sendTwit"
                                           value="1"
                                           <?= $checked ?> />
                                    Ja, verstuur een tweet via twitter dat ik een offerte heb gemaakt met de tool van Appalti
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <br />
                                <div class="box-gray about-screen">
                                    <p class="icon-info icon-pos-top">
                                        Na het versturen van 5 tweets wanneer u een offerte voltooid heeft geven wij u graag 1 credit als beloning.
                                    </p>
                                </div>
                            </td>
                        </tr>
<?/**/?>
                    </tbody>
                </table>
            </article>

            <aside class="right">
                <div class="box-gray text-c">
<?
    $dropDownlinks = array();

    foreach($this->regions as $k => $region) {
        $dropDownlinks['/proposal/create/download-pdf/return/summary/regionId/' . $k] =  $region;
    }

    $dropDownlinks[] = '---';
    $dropDownlinks['/proposal/create/download-pdf/return/summary'] = $this->translate('Alle');

    $btnGroupParams = array(
        'btnText'   => $this->translate('Bekijk deze offerte'),
        'btnLink'   => '/proposal/create/download-pdf/return/summary',
        'linkCls'   => 'preview-pdf',
        'dropDownlinks' => $dropDownlinks
    );

    echo $this->buttonGroup($btnGroupParams);
?>
                </div>
                <?=$this->pageDescription();?>
            </aside>
        </div>
        <br />
        <hr />
        <p class="text-c">
            <a class="btn-big btn-gray" href="<?=$this->wizard->getPrevStepUrl();?>/proposalId/<?=$this->proposalRow->getId();?>">
                <i class="icon-back"><?=$this->translate('Stap terug');?></i>
            </a>
<?/**?>
            <button type="submit" class="btn-big margin-rl" id="save-step-state-and-go-next" name="next-step" value="1">
                <i class="icon-save"><?=$this->translate('Opslaan');?></i>
            </button>
<?/**/?>
            <a class="btn-big" href="/proposal">
                <i class="icon-next"><?=$this->translate('Naar offerte overzicht');?></i>
            </a>
<?/**?>
            <button type="submit" class="btn-big" id="save-step-state-and-go-next" name="save-and-send" value="1">
                <i class="icon-checked"><?=$this->translate('Afronden en offerte versturen');?></i>
            </button>
<?/**/?>
        </p>
    </form>
</section>
<script src="/modules-appalti/proposal/views/scripts/default/create/_resources/js/ProposalCreate.js"></script>
