<?php
    $this->formValue()->init();
    if (null === $this->blockDefinitionRow):
        $this->formValue()->omitNullableModel(true);
    else:
        $this->formValue()->setModel($this->blockDefinitionRow);
    endif;
    echo $this->tinyMCE(array(
        'id'            => $tmceid = uniqid(),
        'plugins_data'  => array(
            'mykwd' => Proposal_Service_Keyword::fetchMyKeywords(),
            'clientkwd' => Proposal_Service_Keyword::fetchClientKeywords(),
            'quickupload' => array(
                'action' => '/proposal/proposal-block-definition-file-stock/quick-upload',
                'itemName' => 'blockDefinition',
                'itemId' => $this->formValue('id')
            ),
        ),
        'save_onsavecallback' => "AppaltiTextBlock.tinymce.ajaxSave"
    ));
?>
<div class="library-block-create">
    <h2><?=$this->translate('Wijzig of verwijder document');?></h2>
    <br />
    <form method="post" id="create-text-block-form" class="validatable" action="/proposal/create/update-definition/format/json">
        <input type="hidden" name="blockDefinitionId" value="<?=$this->formValue('id'); ?>"/>
        <input type="hidden" name="isBlockDefinition" value="1"/>
        <input type="hidden" name="blockId" value="<?=$this->formValue('proposalBlockId'); ?>"/>
        <input type="hidden" name="proposalId" value="<?=$this->formValue('proposalId'); ?>"/>
        <input type="hidden" name="kind" value="text"/>
        <input type="hidden" name="position" value="<?=$this->formValue('position'); ?>"/>

        <?=$this->modules('proposal-block')->categoryComboBox($this->libraryRow)->toField('categoryId', !empty($this->parentBlock) ? $this->parentBlock->categoryId : null, array(
            'class' => 'hidden',
            'data-region-introduction' => Proposal_Service_Section::REGION_INTRODUCTION
        )); ?>


        <table class="form-fields">
            <? if ($this->formValue('sectionId') != Proposal_Service_Section::REGION_INTRODUCTION): ?>
                <tr class="<?=$this->formValue('sectionId')?>">
                    <th><?=$this->translate('Titel in offerte');?>:</th>
                    <td class="info-cnt">
                        <a class="icon-info-small" href="#" title="<?=$this->translate('Max title size is 70 characters');?>">&nbsp;</a>
                    </td>
                    <td>
                        <input type="text" class="required" maxlength="70" name="title" value="<?= $this->formValue('title'); ?>" />
                        <label class="margin-l <?=$this->formValue('titleLevel');?>">
                            <input type="radio" name="titleLevel" value="1" <? if($this->formValue('titleLevel') == 1 || !$this->formValue('titleLevel')):?>checked="checked"<?endif;?> />
                            <?=$this->translate('Kop');?> 1
                        </label>
                        <label>
                            <input type="radio" name="titleLevel" value="2" <? if($this->formValue('titleLevel') == 2):?>checked="checked"<?endif;?> />
                            <?=$this->translate('Kop');?> 2
                        </label>
                        <label>
                            <input type="radio" name="titleLevel" value="3" <? if($this->formValue('titleLevel') == 3):?>checked="checked"<?endif;?> />
                            <?=$this->translate('Kop');?> 3
                        </label>
                    </td>
                </tr>
            <? endif; ?>
            <tr>
                <th class="va-top">
                    <?=$this->translate('Tekst in offerte');?>:
                    <br />
                    <br />
                    <a class="btn-green btn-big text-c editorCommandTrigger" data-command="mcePreview" href="#"><?=$this->translate('Afdrukvoorbeeld');?></a>
                    <br />
                    <br />
                    <a class="btn-green btn-big text-c editorCommandTrigger" data-command="mceFullScreen" href="#"><?=$this->translate('Volledig scherm');?></a>
                </th>
                <td class="info-cnt va-top">&nbsp;</td>
                <td>
                    <textarea id="<?=$tmceid;?>" name="metadata" class="tinymce required"><?= $this->formValue('metadata'); ?></textarea>
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('Neemt volledige pagina');?></th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <label>
                        <input type="radio" name="fitable" <? if ($this->formValue('fitable')): ?>checked="checked"<?endif; ?> value="1" />
                        &nbsp;<?=$this->translate('Ja');?>
                    </label>
                    <label>
                        <input type="radio" name="fitable" <? if (!$this->formValue('fitable')): ?>checked="checked"<?endif; ?> value="0" />
                        &nbsp;<?=$this->translate('Nee');?>
                    </label>
                </td>
            </tr>
        </table>
        <hr />
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <i class="icon-save"><?=$this->translate('Opslaan');?></i>
            </button>
            <br />
            <br />
            <small>
                <a href="/proposal-block/" data-target="#modal-container" data-dismiss="modal"><?=$this->translate('Annuleer');?></a>
            </small>
        </p>

    </form>
</div>

<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src="/modules-appalti/proposal-block/views/scripts/default/index/_resources/js/textBlockForm.js"></script>

<script>
    window.AppaltiTextBlock.categoryData = <?
        $sec = new Proposal_Service_Section();
        $rowset = $sec->fetchAll('blockbuild');
        $result = array();
        foreach($rowset as $row) {
            $r = array(
                'luid' => $row->getLuid()
            );
            switch ($row->getLuid()) {
                case Proposal_Model_Section::SECTION_INTRODUCTION:
                    $r['theme'] = empty($this->proposalTheme->templateIntroduction)
                        ? 'default'
                        : $this->proposalTheme->templateIntroduction;
                    break;
                case Proposal_Model_Section::SECTION_COVER:
                    $r['theme'] = empty($this->proposalTheme->templateCover)
                        ? 'default'
                        : $this->proposalTheme->templateCover;
                    break;
                case Proposal_Model_Section::SECTION_CONTENT:
                    $r['theme'] = empty($this->proposalTheme->templateContent)
                        ? 'default'
                        : $this->proposalTheme->templateContent;
                    break;
                case Proposal_Model_Section::SECTION_INBETWEEN:
                    $r['theme'] = empty($this->proposalTheme->templateInBetween)
                        ? 'default'
                        : $this->proposalTheme->templateInBetween;
                    break;
                case Proposal_Model_Section::SECTION_ATTACHMENT:
                    $r['theme'] = empty($this->proposalTheme->templateAttachment)
                        ? 'default'
                        : $this->proposalTheme->templateAttachment;
                    break;
                default:
                    continue;
            }
            $result[$row->getDatabaseId()] = $r;
        }
        echo json_encode($result);
    ?>;
</script>