@CHARSET "UTF-8";

.m-dms-document .preview-viewer {
    background: url(../images/viewer.png) no-repeat;
}

.m-dms-document .preview-google-docs-viewer {
    background: url(../images/google-docs-viewer.png) no-repeat;
}