<?

    echo $this->information()->init(false);

    $this->formValue()->init();
    if (null !== $this->offerRow):
        $this->formValue()->setModel($this->offerRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());

?>
<div>
    <h2>
        <? if (!empty($this->offerRow)): ?>
            <?=$this->translate('Wijzig of verwijder document');?>
        <? else: ?>
        <?=$this->translate('Nieuwe dienst of product toevoegen');?>
        <? endif; ?>
    </h2>

    <br />

    <form method="post" class="validatable"
          action="/company/offer/<?=(empty($this->offerRow)) ? 'create' : 'update'; ?>">

        <? if (!empty($this->offerRow)): ?>
            <input type="hidden" name="offerId" value="<?= $this->formValue('id'); ?>"/>
        <? endif; ?>

        <table class="width zebra form-fields">
            <tr>
                <th><?=$this->translate('Naam');?>:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text" size="40" name="name" value="<?= $this->formValue('name'); ?>" class="required" />
                </td>
            </tr>
            <tr>
                <th class="va-middle"><?=$this->translate('Soort product');?>:</th>
                <td class="info-cnt va-middle">&nbsp;</td>
                <td>
                    <label for="kind-service">
<?  $checked = ('service' === $this->formValue('kind'))? ' checked="checked"':''; ?>
                        <input type="radio" name="kind" id="kind-service" value="service" class="required margin-tb" title="<?=$this->translate('Soort is een verplicht')?>"<?= $checked ?>/>
                        <?=$this->translate('Dienst');?>
                    </label>
                    <label for="kind-product">
<?  $checked = ('product' === $this->formValue('kind'))? ' checked="checked"':''; ?>
                        <input type="radio" name="kind" id="kind-product" value="product" class="required margin-tb" title="<?=$this->translate('Soort is een verplicht')?>"<?= $checked ?>/>
                        <?=$this->translate('Product');?>
                    </label>
                </td>
            </tr>
            <tr>
                <th class="va-top"><?=$this->translate('Korte beschrijving');?>:</th>
                <td class="info-cnt va-top">&nbsp;</td>
                <td><textarea name="description" cols="50" rows="5"><?= $this->formValue('description'); ?></textarea></td>
            </tr>
            <tr>
                <th><?=$this->translate('Prijs per stuk/per uur');?>:</th>
                <td class="info-cnt">
                    <a href="#" class="icon-info-small" title="<?=$this->translate('Bedragen in de vorm van 999,99.');?>">&nbsp;</a>
                </td>
                <td>
                    <input type="text" size="5" name="pricePerUnit"
                           value="<?= number_format($this->formValue('pricePerUnit'), 2, ',', '.'); ?>"
                           class="required price" />
                </td>
            </tr>
        </table>
        <hr />
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <span class="icon-save"><?=$this->translate('Opslaan');?></span>
            </button>

            <br />
            <br />
            <small>Of <a href="/company/offer" data-dismiss="modal">annuleer</a></small>
        </p>

    </form>
</div>

