<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
<?/*    <a href="/proposal/settings"><span>Offerte Informatie</span></a>  */?>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'index',  'id'=>null))):?><span>Diensten en producten</span><?endif;?>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'select', 'id'=>null))):?><span>Diensten en producten</span><?endif;?>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Dienst of product aanmaken</span><?endif;?>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span>Dienst of product bewerken</span><?endif;?>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'delete', 'id'=>null))):?><span>Dienst of product verwijderen</span><?endif;?>
</section>
<?= $this->information()->init() ?>

<?  $accountRow = Zend_Auth::getInstance()->getIdentity(); ?>
<?  if ($accountRow->acl('company','product','create')): ?>
    <div class="box-gray actions-block margin-b">
        <a class="btn-green btn-big2" id="create-offer" href="/company/offer/create">
            Ik wil een nieuwe dienst/product aanmaken
        </a>
    </div>
<?  endif; ?>

<div class="list-container">
    <div class="list-title">Alle diensten & producten</div>
    <div class="list-form">
        <?= $this->formFilterSearch('name, kind, pricePerUnit' , 'stringfree', array('placeholder' => 'Zoeken in diensten en producten')) ?>
    </div>

    <table class="zebra width tablesorter">
        <colgroup>
            <col width="35%">
            <col width="20%">
            <col width="*">
            <col width="*">
        </colgroup>
        <thead>
            <tr>
                <th><span>Naam</span></th>
                <th><span>Dienst/product</span></th>
                <th><span>Prijs</span></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
<?  foreach($this->rowset as $offerRow): ?>
                <tr>
                    <td><?=$this->escape($offerRow->name); ?></td>
                    <td><?=$this->offerKindComboBox()->toLabel($this->escape($offerRow->kind)); ?></td>
                    <td>
                        &euro; <?=number_format($this->escape($offerRow->pricePerUnit), 2, ',', '.'); ?>
                        <?if ('service' === $offerRow->kind):?>
                            per uur
                        <? endif; ?>
                    </td>
                    <td class="actions">
<?  if ($accountRow->acl('company','product','update')): ?>
                        <a class="edit-offer icon-edit" href="/company/offer/update/offerId/<?=$offerRow->getId(); ?>"
                           title="<?=$this->translate('Edit ' . $offerRow->kind);?>">&nbsp;</a>
<?  endif; ?>
<?  if ($accountRow->acl('company','product','delete')): ?>
                        <a class="icon-delete" href="/company/offer/delete/offerId/<?=$offerRow->getId(); ?>"
                           title="<?=$this->translate('Delete ' . $offerRow->kind);?>"
                           onclick="return confirm('Weet je zeker dat?');">&nbsp;</a>
<?  endif;?>
                    </td>
                </tr>
<?  endforeach; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?= $this->pagination() ?>
    </div>
</div>
<script src="/public/js/jquery-plugins/tablesorter/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>
<script src="/modules-appalti/company/views/scripts/default/offer/_resources/js/List.js"></script>
