.message-board-wrap {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 350px;
    z-index: 9999;
}

.message-board {
    background: #fff;
    -moz-box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 5px #000000;
    border: 1px solid #D0D0D0;
    -mox-border-radius: 7px;
    webkit-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 1em;
}

.message-board .message-title {
    background: -moz-linear-gradient(top, #fff 0%, #EDEDED 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#EDEDED));
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    color: #444;
    font-weight: 700;
    padding: 3px 15px 3px 10px;
    border-bottom: 1px solid #D0D0D0;
    position: relative;
}
.ie .message-board .message-title {
   background: url(../images/title-grnd.png) repeat-x 0 0;
}
.message-log .message-type,
.message-board .message-type {
    background: url(../images/msg-types.png) no-repeat scroll -20px 0 transparent;
    border: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 5px;
    width: 10px;
}
.message-log .message-type {
    position: static;
}
.message-log .message-type.warning,
.message-board .message-type.warning {
    background-position: -10px 0;
}
.message-log .message-type.error,
.message-board .message-type.error {
    background-position: 0 0;
}
.message-board .message-title:first-letter {
    text-transform: uppercase;
}
.message-board .message-text {
    padding: 5px 10px 10px;
}
.message-board-log-icon {
    background: url(../images/log.png) no-repeat 0 50%;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
    z-index: 9999;
}