<section class="cols-2 right-wide">
    <div class="clearfix">
        <article class="content">
            <?=$this->information()->init();?>
            <? $ticketStatuses = SupportTicket_Model_DbTable_SupportTicket::getStatusOptions();?>
            <div class="list-container margin-b">
                <div class="list-title clearfix">
                    <span class="float-l">
                        Laatste support vragen
                        <small class="text-dark-gray">(<?=$this->newTicketsCount;?> onbehandeld)</small>
                    </span>

                    <form action="" class="float-r" method="post">
                        <input type="hidden" name="dashboardCustomFilter[field]" value="status" />
                        <select id="filter" name="dashboardCustomFilter[value]" class="no-margin">
                            <option value="" disabled="disabled" <?if (empty($this->filterVal)):?> selected="selected"<?endif;?>>Filter op status</option>
                            <option value="all" <?if (!empty($this->filterVal) && 'all' === $this->filterVal):?> selected="selected"<?endif;?>>Alle</option>
                            <option value="new" <?if (!empty($this->filterVal) && 'new' === $this->filterVal):?> selected="selected"<?endif;?>><?=$ticketStatuses['new'];?></option>
                            <option value="pending" <?if (!empty($this->filterVal) && 'pending' === $this->filterVal):?> selected="selected"<?endif;?>><?=$ticketStatuses['pending'];?></option>
                            <option value="close" <?if (!empty($this->filterVal) && 'close' === $this->filterVal):?> selected="selected"<?endif;?>><?=$ticketStatuses['close'];?></option>
                        </select>
                    </form>
                </div>
                <div class="list-form">
                    <?=$this->formFilterSearch('serviceName, createdDatetime, companyName', 'stringfree', array('placeholder' => 'Zoeken in support vragen')); ?>
                </div>
                <table class="width zebra tickets-list">
                    <colgroup>
                        <col width="15%">
                        <col width="25%">
                        <col width="30%">
                        <col width="20%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Relatie</th>
                            <th>Soort</th>
                            <th class="text-c">Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <? if (!empty($this->rowset)): ?>
                            <? $ticketStatuses = SupportTicket_Model_DbTable_SupportTicket::getStatusOptions();?>
                            <? $ticketPriorities = SupportTicket_Model_DbTable_SupportTicket::getPriorityOptions();?>
                            <? foreach ($this->rowset as $row): $new = $row['status'] === 'new'; ?>
                                <tr <? if($new): ?>class="highlight"<?endif;?>>
                                    <td class="text-dark-gray">
                                        <?=$this->formatDate($row['createdDatetime']);?>
                                    </td>
                                    <td>
                                        <a href="/company/client/summary/companyId/<?=$row['companyId']; ?>" title="Detailinformatie klant">
                                            <?=$row['companyName']; ?>
                                        </a>
                                    </td>
                                    <td><?=$row['serviceName']; ?></td>
                                    <td class="text-c">
                                        <a href="#" class="icon-faq-<?=$row['priority'];?>" title="<?=$ticketPriorities[$row['priority']];?>">&nbsp;</a>
                                        <span class="progress-bar">
                                            <i class="status-field in-progress"
                                                <? if($new): ?>style="width: 0"<? endif;?>
                                                <? if($row['status'] === 'pending'): ?>style="width: 50%"<? endif;?>
                                                <? if($row['status'] === 'close'): ?>style="width: 100%"<? endif;?>>
                                                &nbsp;
                                            </i>
                                        </span>
                                        <a href="#" class="icon-status-info" title="<?=$ticketStatuses[$row['status']];?>">&nbsp;</a>
                                    </td>
                                    <td class='actions text-l'>
                                        <a href="/support-ticket/moderator/ticket-details/supportTicketId/<?=$row['id'];?>/"
                                           title="<?=$this->translate('Detailinformatie');?>" class="view-ticket icon-zoom">
                                            &nbsp;
                                        </a>
                                        <a href="/support-ticket/moderator/assign-writer/supportTicketId/<?=$row['id'];?>/"
                                           title="<?=$this->translate($new ? 'Toewijzen aan tekstschrijver' : 'Bewerken');?>"
                                           class="assign-ticket <?=$new ? 'icon-send' : 'icon-edit' ?>">
                                            &nbsp;
                                        </a>
                                    </td>
                                </tr>
                            <? endforeach; ?>
                        <? else :?>
                            <tr>
                                <td colspan="5" class="text-gray text-c">Geen</td>
                            </tr>
                        <? endif; ?>
                    </tbody>
                </table>
                <div class="list-pagination">
                    <?=$this->pagination(); ?>
                </div>
            </div>
        </article>

        <aside class="right">
            <a href="/ap-default/index/price/" class="btn-big btn-gray width">
                <span class="icon-money">Prijzen aanpassen</span>
            </a>
            <a href="/news/index/form" class="btn-big btn-gray margin-t width">
                <span class="icon-news">Een nieuwsbericht plaatsen</span>
            </a>
            <a href="/event/index/form" class="btn-big btn-gray margin-t width">
                <span class="icon-agenda">Nieuw agendaitem plaatsen</span>
            </a>
            <a href="/faq/" class="btn-big btn-gray margin-t width">
                <span class="icon-faq">Een F.A.Q toevoegen</span>
            </a>
            <a href="/text-writer/index" class="btn-big btn-gray margin-t width">
                <span class="icon-textwriter">Een tekstschrijver toevoegen</span>
            </a>
            <div class="list-container margin-t">
                <div class="list-title">Top vijf slechtst gescoord</div>
                <div class="margin-tb margin-l">
                    <?=$this->block('top-hitrate-list', array(), 'proposal', true)->getBlockObj(); ?>
                </div>
                <hr>
                <p class="text-c">
                    <a class="btn-big btn-gray" href="/company/management">Bekijk management informatie</a>
                </p>
            </div>
        </aside>
    </div>
</section>
<script src="/modules-appalti/ap-default/views/scripts/default/index/_resources/js/AdminDashboard.js"></script>