<section class="cols-2 right-wide">
    <div class="clearfix">
        <article class="content">
            <?=$this->information()->init();?>
<?  if ($this->accountRow->acl('proposal','create')): ?>
            <div class="box-gray text-c margin-b">
                <a href="/proposal/create/index/" class="btn-big2 btn-green">
                    <?=$this->translate('Ik wil een nieuwe offerte uitbrengen');?>
                </a>
            </div>
<?  endif; ?>
            <?=$this->block('my-support-ticket-list', array(), 'support-ticket', true)->getBlockObj(); ?>
            <?=$this->block('recent-proposals-list', array(), 'proposal', true)->getBlockObj(); ?>
            <div class="clearfix">
                <div class="box-gray news-short-desc float-l">
                    <h4 class="news-title"><?=$this->translate('Nieuws');?>: <?=$this->news['title']?></h4>
                    <? if (!empty($this->news['desc'])): ?>
                        <div class="event-desc">
                            <?=$this->news['desc']?>
                            <span class="shadow"></span>
                        </div>
                    <? endif; ?>
                    <div class="go-to">
                        <? if ($this->news['id']): ?>
                            <a class="btn-gray btn-big text-c margin-b" href="/news/index/preview/newsId/<?=$this->news['id']?>">
                            <?=$this->translate('Lees verder');?>
                            </a>
                            <br>
                        <? endif; ?>
                        <a href="/news/index/index">
                            <small class="text-dark-gray">
                                <?=$this->translate('Bekijk nieuwsarchief');?>
                            </small>
                        </a>
                    </div>
                </div>
                <div class="box-gray news-short-desc float-r">
                    <h4 class="news-title"><?=$this->translate('Agenda');?>: <?=$this->event['title']?></h4>
                    <? if (!empty($this->event['shortDesc'])):?>
                        <div class="event-desc">
                            <b class="text-black"><?=$this->formatDate($this->event['date'], array('locale' => 'nl_nl'));?>,</b>
                            <?=$this->event['addressStreet'] . ' ' . $this->event['addressCity'];?>
                            <br>
                            <?=$this->event['shortDesc']?>
                            <span class="shadow"></span>
                        </div>
                    <? endif; ?>
                    <div class="go-to">
                        <? if ($this->event['id']): ?>
                            <a class="btn-gray btn-big text-c margin-b" href="/event/index/preview/eventId/<?=$this->event['id']?>">
                                <?=$this->translate('Lees verder');?>
                            </a>
                            <br>
                        <? endif; ?>
                        <a href="/event/index/index">
                            <small class="text-dark-gray">
                                <?=$this->translate('Bekijk gehele agenda');?>
                            </small>
                        </a>
                    </div>
                </div>
            </div>
        </article>

        <aside class="right">
            <?
                $hText = $this->translate('Een vraag, suggestie of ondersteuning nodig?');
                echo $this->pageDescription(array(
                    'showDesc' => false,
                    'helpText' => $hText
                ));
            ?>

            <? if (!empty($this->stat)) :?>
                <div class="list-container margin-t">
                    <div class="list-title text-l"><?=$this->translate('Offerte informatie')?></div>
                    <div class="padding-all">
                        <form method="post">
<? /**?>
                            <table class="report-period width">
                                <tr>
                                    <td class="text-r va-middle">Per:</td>
                                    <td colspan="2">
                                        <select name="unit" class="unit">
                                            <option value="month">Maand</option>
                                            <option value="year">Jaar</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-r va-middle">Namelijk:</td>
                                    <td>
                                        <select name="month" class="month">
<?
    $locale = new \Zend_Locale();
    $months = $locale::getTranslationList('month', 'nl');
    foreach($months as $k => $v):
?>
                                                <option value="<?=$k?>"><?=ucfirst($v)?></option>
<? endforeach; ?>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="year" class="year">
                                            <option value="">2011</option>
                                            <option value="">2012</option>
                                            <option value="">2013</option>
                                            <option value="">2014</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
<?/**/?>
                            <div class="raphael"
                                 data-show-values='true'
                                 data-values="[<?=$this->stat['chart']['amount'];?>]"
                                 data-titles='[<?=$this->stat['chart']['titles'];?>]'
                                 data-colors='[<?=$this->stat['chart']['colors'];?>]'>
                             </div>
                            <br />
                            <div class="raphael-agenda">
                                <? foreach ($this->stat['status'] as $s):?>
                                    <p>
                                        <i class="<?=$s['icon']?>"><?=str_replace('"', '', $s['title'])?> - <?=$s['total']?></i>
                                    </p>
                                <? endforeach; ?>
                            </div>
<? if ($this->accountRow->acl('company', 'reporting')): ?>
                            <br />
                            <p class="text-c no-margin">
                                <a class="btn-big btn-gray" href="/company/management/index/">
                                    <?=$this->translate('Bekijk management informatie');?>
                                </a>
                            </p>
<?  endif; ?>
                        </form>
                        <script src="/public/js/raphael/raphael-min.js"></script>
                        <script src="/public/js/raphael/g.raphael-min.js"></script>
                        <script src="/public/js/raphael/pie.chart.js"></script>
                    </div>
                </div>
            <? endif; ?>
        </aside>
    </div>
</section>