<section class="cols-2 right-wide">
    <div class="clearfix">
        <article class="content">
            <?=$this->information()->init();?>
            <?=$this->block('last-added', array(), 'faq', true)->getBlockObj(); ?>
        </article>

        <aside class="right">
            <?=$this->block('service-price-list', array(), 'support-ticket', true)->getBlockObj(); ?>
            <br>
            <a href="/cart/index/summary/" class="btn-gray btn-big width text-c">Bekijk alle betalingen van klanten</a>
        </aside>
    </div>
</section>