<div class="clearfix">
    <?=$this->information()->init(true); ?>
    <div class="width-50 float-l">
        <div class="margin-r">
            <?=$this->block('news-list', array(), 'news', true)->getBlockObj(); ?>
        </div>
    </div>
    <div class="width-50 float-r">
        <div class="margin-l">
            <?=$this->block('event-list', array(), 'event', true)->getBlockObj(); ?>
        </div>
    </div>
</div>