<div class="accordion">
    <h4 class="accordion-section-title" data-id="support-minutes-section">
        <a href="#support-minutes-section">Ondersteuning minuten</a>
    </h4>
    <div class="accordion-section" id="support-minutes-section">
        <?=$this->block('support-minutes', array(), 'support-ticket', true)->getBlockObj(); ?>
    </div>
    <h4 class="accordion-section-title" data-id="membership-section">
        <a href="#membership-section">Lidmaatschappen</a>
    </h4>
    <div class="accordion-section" id="membership-section">
        <?=$this->block('membership-list', array(), 'membership', true)->getBlockObj(); ?>
    </div>
    <h4 class="accordion-section-title" data-id="service-price-section">
        <a href="#service-price-section">Dienst prijzen</a>
    </h4>
    <div class="accordion-section" id="service-price-section">
        <?=$this->block('service-price', array(), 'support-ticket', true)->getBlockObj(); ?>
    </div>
</div>
<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>

