<section>
    <article class="content">
        <?=$this->information()->init();?>
        <? $ticketStatuses = SupportTicket_Model_DbTable_SupportTicket::getStatusOptions();?>
        <div class="list-container margin-b">
            <div class="list-title clearfix">
                <span class="float-l">
                    <?=$this->translate('Support vragen');?>
                    <small class="text-dark-gray">(<?=$this->newTicketsCount;?> <?=$this->translate('onbehandeld');?>)</small>
                </span>
                <form class="float-r" method="post" name="dashboardCustomFilter">
                    <input type="hidden" name="dashboardCustomFilter[field]" value="status" />
                    <select id="filter" name="dashboardCustomFilter[value]" class="no-margin"
                            onchange="document.forms['dashboardCustomFilter'].submit();">
                        <option value="" disabled="disabled" <?if (empty($this->filterVal)):?> selected="selected"<?endif;?>>Filter op status</option>
                        <option value="all" <?if (!empty($this->filterVal) && 'all' === $this->filterVal):?> selected="selected"<?endif;?>>Alle</option>
                        <option value="pending" <?if (!empty($this->filterVal) && 'pending' === $this->filterVal):?> selected="selected"<?endif;?>><?=$ticketStatuses['pending'];?></option>
                        <option value="close" <?if (!empty($this->filterVal) && 'close' === $this->filterVal):?> selected="selected"<?endif;?>><?=$ticketStatuses['close'];?></option>
                    </select>
                </form>
            </div>
            <div class="list-form">
                <?=$this->formFilterSearch('serviceName, createdDatetime', 'stringfree', array('placeholder' => $this->translate('Zoeken in support vragen'))); ?>
            </div>
            <table class="width zebra tickets-list">
                <colgroup>
                    <col width="10%">
                    <col width="25%">
                    <col width="30%">
                    <col width="20%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Relatie</th>
                        <th>Soort</th>
                        <th class="text-c">Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <? if (!empty($this->rowset)): ?>
                        <? $ticketStatuses = SupportTicket_Model_DbTable_SupportTicket::getStatusOptions();?>
                        <? $ticketPriorities = SupportTicket_Model_DbTable_SupportTicket::getPriorityOptions();?>
                        <? foreach ($this->rowset as $row): ?>
                            <?
                                $new = 'pending' === $row['status'];
                                $closed = 'close' === $row['status'];
                            ?>
                            <tr <? if($new): ?>class="highlight"<?endif;?>>
                                <td class="text-dark-gray"><?=$this->formatDate($row['createdDatetime']);?></td>
                                <td><?=$row['companyName'];?></td>
                                <td><?=$row['serviceName'];?></td>
                                <td class="text-c">
                                    <a href="#" class="icon-faq-<?=$row['priority'];?>" title="<?=$ticketPriorities[$row['priority']];?>">&nbsp;</a>
                                    <i class="progress-bar">
                                        <i class="status-field in-progress"
                                            <? if($new): ?>
                                                style="width: 0"
                                            <? elseif('close' === $row['status']): ?>
                                                style="width: 100%"
                                            <? endif;?>
                                            >
                                            &nbsp;
                                        </i>
                                    </i>
                                    <a href="#" class="icon-status-info" title="<?=$ticketStatuses[$row['status']];?>">&nbsp;</a>
                                </td>
                                <td class="actions">
                                    <a href="/support-ticket/writer/view-posts/ticketId/<?=$row['id'];?>/"
                                       title="<?=$this->translate('Edit ticket');?>"
                                       class="view-ticket icon-edit">&nbsp;</a>
                                    <a href="/support-ticket/writer/change-status/supportTicketId/<?=$row['id'];?>/status/<?=$closed ? 'pending' : 'close';?>"
                                       title="<?=$this->translate($closed ? 'Open ticket' : 'Close ticket');?>"
                                       class="view-ticket icon-<?=$closed ? 'inactive' : 'active';?>">&nbsp;</a>
                                </td>
                            </tr>
                        <? endforeach; ?>
                    <? else :?>
                        <tr>
                            <td colspan="5" class="text-gray text-c"><?=$this->translate('Geen');?></td>
                        </tr>
                    <? endif; ?>
                </tbody>
            </table>
            <div class="list-pagination">
                <?=$this->pagination(); ?>
            </div>
        </div>
    </article>
</section>
