<?

    echo $this->information()->init(false);

    $this->formValue()->init();
    if (null !== $this->membershipRow):
        $this->formValue()->setModel($this->membershipRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());

?>
<div>
    <h2>
        <? if (!empty($this->membershipRow)): ?>
            Updaten lidmaatschap
        <? else: ?>
            Lidmaatschap aanmeken
        <? endif; ?>
    </h2>

    <br />

    <form method="post" class="validatable"
          action="/membership/index/<?=(empty($this->membershipRow)) ? 'create' : 'update'; ?>">

        <? if (!empty($this->membershipRow)): ?>
            <input type="hidden" name="membershipId" value="<?= $this->formValue('id'); ?>"/>
        <? endif; ?>

        <table class="width zebra form-fields">
            <colgroup>
                <col width="50%">
                <col width="*">
                <col width="45">
            </colgroup>
            <tr>
                <th>Titel:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text" size="25" name="name" value="<?= $this->formValue('name'); ?>" class="required" />
                </td>
            </tr>
            <tr>
                <th>Maanden:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text" name="amount" value="<?= $this->formValue('amount'); ?>" class="required number" />
                </td>
            </tr>
            <tr>
                <th>Prijs:</th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text" name="price" value="<?= $this->formValue('price'); ?>"  class="required" />
                    <?=$this->information()->toIcon('price'); ?>
                </td>
            </tr>
        </table>
        <hr />
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <span class="icon-save">Opslaan</span>
            </button>

            <br />
            <br />
            <small>Of <a href="/membership/index" data-dismiss="modal">annuleer</a></small>
        </p>

    </form>
</div>

