<?php

$this->headTitle('Application');
$this->layout()->setLayout('administration');

$contentEl = uniqid('content');
?>
<h1>OFFERTEMAKEN.COM</h1>
<a href="/ap-default/index/index">Login &gt;&gt;</a>