@CHARSET "UTF-8";

.x-osdn-legend-container .x-osdn-legend {
	float: right;
}

ul.x-osdn-legend li div.rectangle {
	border: 1px solid #15428B;
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 3px;
	margin-left: 7px;
}

ul.x-osdn-legend li {
	display: inline;
}
	
.x-osdn-legend-panel ul.x-osdn-legend {
	clear: both;
	line-height: 21px;
}

.x-osdn-legend-panel ul.x-osdn-legend li div.rectangle {
	border: 1px solid #15428B;
	float: left;
	width: 12px;
	height: 12px;
	margin: 4px 1px 0px 5px;
}

.ext-ie6 .x-osdn-legend-panel ul.x-osdn-legend li div.rectangle,
.ext-ie6 .x-panel-header ul.x-osdn-legend li div.rectangle {
	line-height: 12px;
}

ul.x-osdn-legend li.text {
	list-style: none;
	font-size: 11px;
	font-family:tahoma,arial,verdana,sans-serif;
	cursor: help;
}

ul.x-osdn-legend li.toolbar-text {
	margin-right: 27px;
	*margin-right: 0px;
}

.x-osdn-legend-toolbar ul.x-osdn-legend {
	float: right;
	clear: none;
}

.x-toolbar .x-osdn-legend-toolbar .x-panel-body {
	background-color: transparent;
}