<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <script language="javascript" type="text/javascript">
        window.parent.window.jbImagesDialog.uploadFinish(<?=json_encode($this->getVars())?>);
    </script>
</head>
<body>

</body>
</html>
