<? include_once __DIR__ . '/../settings.phtml'; ?>
<div id="cover">
    <style type="text/css">
        <? include APPLICATION_PATH . "/data/public-templates/common/css/cover.css"; ?>
    </style>

    <div class="coverBlocks">
        <?
            $noTitles = true;
            include __DIR__ . '/../blocks.phtml';
        ?>
    </div>
</div>