<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
<?/*    <a href="/proposal/settings"><span>Offerte Informatie</span></a>  */?>
    <a href="/company/library"><span>Bibliotheken</span></a>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'index',  'id'=>null))):?><span>Bibliotheken Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'select', 'id'=>null))):?><span>Bibliotheken Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Bibliotheek aanmaken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span>Bibliotheek bewerken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'delete', 'id'=>null))):?><span>Bibliotheek verwijderen</span><?endif;?>
</section>
<?=$this->information()->init();?>
<style type="text/css">
    table.function td {
        text-align: center;
        vertical-align: middle;
    }
    .list-container table thead td {
        border-bottom: 1px solid #BFBFBF;
    }
    .list-container table tbody th {
        border-bottom: none;
    }
    .list-container table tr.library .name {
        width:200px;
        text-align: left;
        vertical-align: top
    }
    .list-container table tr.library .name input {
        width:200px;
        text-align: left;
    }
    .list-container table tr.library .description {
        width:417px;
        text-align: left;
        vertical-align: top;
    }
    .list-container table tr.library .description textarea {
        width:100%;
        margin-bottom: 3px;
    }
    .list-container table tr.library .actions {
        width:100px;
        text-align: center;
        vertical-align: top;
    }
</style>
<div class="list-container">
    <div class="list-title"><?=$this->translate("Bibliotheek aanmaken");?></div>
    <form method="post" action="<?= $this->url() ?>">
        <table class="zebra width tablesorter function">
            <tbody>
                <tr class="library">
                    <th class="name">Bron bibliotheek:
                        <select name="from_library" style="float:right">
<? foreach($this->libraries as $library): ?>
                            <option value="<?= $library['id'] ?>" title="<?= nl2br($library['description']) ?>"><?= $library['name'] ?></option>
<? endforeach; ?>
                        </select>
                    </th>
                    <td class="description" colspan="2">
                        De hier gekozen bibliotheek wordt gekopiëerd met de door u op te geven naam en beschrijving. Daarna kunt u de nieuwe bibliotheek aanpassen.                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th><span><?=$this->translate("Nieuwe bibliotheek");?></span></th>
                    <td>Beschrijving</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="library">
                    <td class="name">
                        <input type="hidden" name="to_library[id]" value="<?= $this->library['id'] ?>"/>
                        <input type="text" name="to_library[name]" value="<?= $this->library['name'] ?>" placeholder="bibliotheeknaam"/>
                    </td>
                    <td class="description">
                        <textarea name="to_library[description]" placeholder="Beschrijving" rows="1"><?= $this->library['description'] ?></textarea>
                    </td>
                    <td class="actions">
                        <input type="submit" name="" value="Opslaan"/>
                        <a href="<?= $this->url(array('action'=>null,'id'=>null))?>"><span>Cancel</span></a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </form>
</div>
<script type="text/javascript">
jQuery(function(){
    function autoHeight(obj) {
        var enteredText = $(obj).val();
        numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
        var lineHeight = parseFloat($(obj).css("line-height"));
        $(obj).css('height', (numberOfLineBreaks + 2) * lineHeight);
    }
    $('textarea').each(function(){
        autoHeight(this);
    });
    $('textarea').keyup(function(e){
        if (   e.keyCode === 13 /* enter     */
            || e.keyCode ===  8 /* backspace */
            || e.keyCode === 46 /* delete    */ ) {
            autoHeight(this);
        }
    });
});
</script>