<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
<?/*     <a href="/proposal/settings"><span>Offerte Informatie</span></a> */?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'index',  'id'=>null))):?><span>Bibliotheken Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'select', 'id'=>null))):?><span>Bibliotheken Overzicht</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Bibliotheek aanmaken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span>Bibliotheek bewerken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'delete', 'id'=>null))):?><span>Bibliotheek verwijderen</span><?endif;?>
</section>
<?=$this->information()->init();?>
<style type="text/css">
    table.function td {
        text-align: center;
        vertical-align: middle;
    }
    .list-container table thead td {
        border-bottom: 1px solid #BFBFBF;
    }
    .list-container table tbody th {
        border-bottom: none;
    }
    .list-container table tr.library .name {
        width:200px;
        text-align: left;
        padding: 5px 10px;
    }
    .list-container table tr.library .name input {
        width:200px;
        text-align: left;
    }
    .list-container table tr.library .description {
        width:400px;
        text-align: left;
        vertical-align: top;
    }
    .list-container table tr.library .description textarea {
        width:400px;
        margin-bottom: 3px;
    }
    .list-container table tr.library .actions {
        width:100px;
        text-align: center;
    }
</style>
<?  if ($this->acl('company', 'library', 'create')): ?>
<div class="box-gray actions-block margin-b">
    <a class="btn-green btn-big2 margin-r action-create-block" href="/company/library/create">
        <?=$this->translate('Ik wil een nieuwe bibliotheek aanmaken');?>
    </a>
</div>
<?  endif; ?>

<div class="list-container">
    <div class="list-title"><?=$this->translate("Alle bibliotheken");?></div>
    <form method="post" action="<?= $this->url() ?>">
        <table class="zebra width tablesorter function">
            <thead>
            <tr>
                <th><span><?=$this->translate("Bibliotheken");?></span></th>
                <td>Beschrijving</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
<? foreach($this->libraries as $library): ?>
                <tr class="library">
                    <th class="name">
                        <span><?= $library['name'] ?></span>
                    </th>
                    <td class="description">
                        <p><?= nl2br($library['description']) ?></p>
                    </td>
                    <td class="actions">
<?  if ($this->accountRow->acl('company','library','update')): ?>
                        <a class="icon-edit update" href="/company/library/update/id/<?= $library['id']?>"></a>
<?  endif; ?>
<?  if ($this->accountRow->acl('company','library','delete')): ?>
                        <a class="icon-delete delete" href="#deleteModal" name="<?= $library['name']?>" id="<?= $library['id'] ?>"></a>
<?  endif; ?>
                    </td>
                    <td>&nbsp;</td>
                </tr>
<? endforeach; ?>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </form>
</div>
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" style="display:none;" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Bibliotheek <span id="name"></span> verwijderen</h3>
    </div>
    <div class="modal-body">
        <p>Weet u zeker dat u deze bibliotheek wilt verwijderen?</p>
        <p>&nbsp;</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a class="btn btn-primary" href=""><span>Verwijder bibliotheek</span></a>
    </div>
</div>

<link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>
<script type="text/javascript">
jQuery(function(){
    function autoHeight(obj) {
        var enteredText = $(obj).val();
        numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
        var lineHeight = parseFloat($(obj).css("line-height"));
        $(obj).css('height', (numberOfLineBreaks + 2) * lineHeight);
    }
    $('textarea').each(function(){
        autoHeight(this);
    });
    $('textarea').keyup(function(e){
        if (   e.keyCode === 13 /* enter     */
            || e.keyCode ===  8 /* backspace */
            || e.keyCode === 46 /* delete    */ ) {
            autoHeight(this);
        }
    });
    $('a.delete').click(function(){
        $('#deleteModal #name').html("'"+ $(this).attr('name') +"'");
        $('#deleteModal a.btn-primary').attr('href','/company/library/delete/id/'+ $(this).attr('id'));
        $('#deleteModal').modal('show');
    });
});
</script>

