<h1><a href="<?=$this->articleLink($this->articleRow); ?>"><?=$this->articleRow->title; ?></a></h1>
<div>
    <?
        $i = 0;
        $count = $this->articleRow->getCategoryRowset()->count();
        foreach($this->articleRow->getCategoryRowset() as $categoryRow):
            if (0 === $i++):
                echo $this->translate('Categories') . ':';
            endif; ?>
            <a href="<?=$this->url(array(
                'module'     => 'article',
                'controller' => 'article-category',
                'action'     => 'test',
                'id' => $categoryRow->getId()
            )); ?>"><?=$this->escape($categoryRow->name); ?></a><?

            if ($i < $count):
                echo ', ';
            endif;
        endforeach; ?>
</div>
<div><?=$this->articleRow->overview; ?></div>