<? $paginationId = uniqid(); ?>
<link rel="stylesheet" href="<?=$this->baseUrl(); ?>/modules/application/views/helpers/default/pagination/skins/basic/style.css" />
<script type="text/javascript">
onchangepaginationpage<?=$paginationId; ?> = function(f) {
    var value = f.value;
    window.location.href = '<?=$this->baseUrl() . $this->url(array('page' => 'page-number')); ?>'.replace('page-number', value);
};
</script>

<div class="pagination-bar">
    <? if ($this->plugin->isFirstPage()): ?>
        <span class="first-page disabled"><?=$this->translate('First');?></span>
        <span class="previous-page disabled"><?=$this->translate('Previous');?></span>
    <? else: ?>
        <a href="<?=$this->url(array('page' => 1));?>"
           title="<?=$this->translate('Go to first page');?>"
           class="first-page"><?=$this->translate('First');?>
        </a>
        <a href="<?=$this->url(array('page' => $this->pagination->getCurrentPage() - 1)); ?>"
           title="<?=$this->translate('Go to previous page');?>"
           class="previous-page"><?=$this->translate('Previous'); ?>
        </a>
    <? endif; ?>

    <b><?=$this->translate('Page'); ?>&nbsp;</b>

    <input id="<?=$paginationId; ?>" class="page-number" type="text"
           title="<?=$this->translate('Enter the page you want to go to and press «Enter»');?>"
           value="<?=$this->pagination->getCurrentPage(); ?>"
           onkeypress="if (13 == event.keyCode) { onchangepaginationpage<?=$paginationId; ?>(this);return false;}" />

    &nbsp;<?=$this->translate('of'); ?>&nbsp;

    <?=max(1, $this->pagination->getPagesCount()); ?>

    <? if ($this->plugin->isLastPage()): ?>
        <span class="next-page disabled"><?=$this->translate('Next');?></span>
        <span class="last-page disabled"><?=$this->translate('Last');?></span>
    <? else: ?>
        <a href="<?=$this->url(array('page' => $this->pagination->getCurrentPage() + 1));?>"
           title="<?=$this->translate('Go to next page');?>"
           class="next-page"><?=$this->translate('Next'); ?>
        </a>
        <a href="<?=$this->url(array('page' => $this->pagination->getPagesCount()));?>"
           title="<?=$this->translate('Go to last page');?>"
           class="last-page"><?=$this->translate('Last'); ?>
        </a>
    <? endif; ?>

    <input type="button" title="<?=$this->translate('Refresh current page'); ?>"
           value="<?//=$this->translate('Refresh'); ?>"
           onclick="onchangepaginationpage<?=$paginationId; ?>(document.getElementById('<?=$paginationId; ?>'));" />

    <? if(0 == $this->pagination->getTotalCount()): ?>
        <b><?=$this->translate('No rows'); ?></b>
    <? else:?>
        <b><?=$this->translate('Showing'); ?>:&nbsp;</b>
        <span><?=$this->pagination->getStart() + 1; ?></span> -
        <span><?=min($this->pagination->getStart() + $this->pagination->getLimit(), $this->pagination->getTotalCount()); ?></span>
        <?=$this->translate('of'); ?>&nbsp;<?=$this->pagination->getTotalCount(); ?>
    <? endif;?>
</div>