/*
* @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
* @revision   SVN: $Revision: 18174 $
*/

.pagination-bar {
    background: #f0f0f0;
    padding: 5px;
    text-align: center;
}
* html .pagination-bar,
:first-child + html .pagination-bar {
    padding: 10px;
}
.pagination-bar a {
    color: #0D456F;
    text-decoration: none;
}
.pagination-bar a:hover, .pagination-bar a:focus {
    text-decoration: underline;
}
.pagination-bar .disabled {
    color: #666;
}
.pagination-bar .first-page {
    background: url(images/first.png) no-repeat 0 50%;
    border-right: 1px solid #aaa;
    margin-right: 10px;
    padding: 0 10px 0 17px;
}
.pagination-bar .first-page.disabled {
    background: url(images/first-disabled.png) no-repeat 0 50%;
}
.pagination-bar .last-page {
    background: url(images/last.png) no-repeat 100% 50%;
    border-left: 1px solid #aaa;
    padding: 0 17px 0 10px;
    margin-right: 10px;
}
.pagination-bar .last-page.disabled {
    background: url(images/last-disabled.png) no-repeat 100% 50%;
}
.pagination-bar .previous-page {
    background: url(images/previous.png) no-repeat 0 50%;
    border-right: 1px solid #aaa;
    margin-right: 10px;
    padding: 0 10px 0 12px;
}
.pagination-bar .previous-page.disabled {
    background: url(images/previous-disabled.png) no-repeat 0 50%;
}
.pagination-bar .next-page {
    background: url(images/next.png) no-repeat 100% 50%;
    border-left: 1px solid #aaa;
    margin: 0 10px;
    padding: 0 12px;
}
.pagination-bar .next-page.disabled {
    background: url(images/next-disabled.png) no-repeat 100% 50%;
}
.pagination-bar input[type="button"] {
    background: url(images/refresh.png) no-repeat 50% 50%;
    border: none;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    cursor: pointer;
    margin-right: 5px;
    padding: 0 15px;
}
.pagination-bar input[type="text"] {
    margin: 0;
    font-size: 1em;
    padding: 0;
    text-align: right;
    width: 3em;
}
* html .pagination-bar input[type="text"],
:first-child+html .pagination-bar input[type="text"] {
    margin: 0;
}



