@mixin align_center {
  margin: 0 auto;
}

@mixin container {
  overflow: hidden;
  width: 100%;
}

@mixin pink-gradient($includeHover: false, $includeActive: false, $includeDefault: true){
  @if $includeDefault {
      $experimental-support-for-svg: true;
      @include background-image(linear-gradient(top,  #bd7cc4 0%,#b267ba 6%,#7b2b83 100%));
      .oldie & { @include filter-gradient(#bd7cc4, #7b2b83, vertical); }
  }

  @if $includeHover {
      &:hover, &:focus {
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top, #bd7cc4 0%,#b267ba 6%,#750082 100%));
          .oldie & { @include filter-gradient(#bd7cc4, #750082, vertical); }
      }
  }

  @if $includeActive {
      &:active {
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top, #750082 0%,#b267ba 6%,#750082 100%));
          outline: 0;
          .oldie & { @include filter-gradient(#750082, #750082, vertical); }
      }
  }
}

@mixin green-gradient($includeHover: false, $includeActive: false){
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, #b4e391 0%, #61c419 6%, #238501 100%));
  .oldie & { @include filter-gradient(#b4e391, #238501, vertical); }

  @if $includeHover {
      &:hover, &:focus {
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top, #b4e391 0%,#61c419 6%,#145600 100%));
          .oldie & { @include filter-gradient(#b4e391, #145600, vertical); }
      }
  }

  @if $includeActive {
      &:active {
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top, #145100 0%,#61c419 6%,#145600 100%));
          .oldie & { @include filter-gradient(#145100, #145600, vertical); }
      }
  }

}

@mixin gray-gradient($includeHover: false, $includeActive: false){
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, #c9c9cb 0%, #bfc0c2 4%, #a3a4a6 47%, #8a8b8d 100%));
  .oldie & { @include filter-gradient(#c9c9cb, #8a8b8d, vertical); }

  @if $includeHover {
      &:hover, &:focus {
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top, #c9c9cb 0%,#bfc0c2 4%,#a3a4a6 47%,#757677 100%));
          .oldie & { @include filter-gradient(#c9c9cb, #757677, vertical); }
      }
  }

  @if $includeActive {
      &:active {
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top, #8e8e8e 0%,#bfc0c2 4%,#a3a4a6 47%,#757677 100%));
          .oldie & { @include filter-gradient(#8e8e8e, #757677, vertical); }
      }
  }
}

@mixin light-gray-gradient {
  @include filter-gradient(#fbfbff, #dddde0, vertical);
  @include background-image(linear-gradient(top, #fbfbff 0%, #dddde0 100%));
}

@mixin disabled-gradient {
  @include background-image(linear-gradient(top, #fbfbff 0%, #dddde0 100%));
  .oldie {
    @include filter-gradient(#fbfbff, #dddde0, vertical);
  }

  &:hover, &:focus, &:active {
    @include background-image(linear-gradient(top, #fbfbff 0%, #dddde0 100%));
    .oldie {
      @include filter-gradient(#fbfbff, #dddde0, vertical);
    }
  }
}

@mixin dark-gray-gradient {
  @include filter-gradient(#a9aaac, #626366, vertical);
  @include background-image(linear-gradient(top, #a9aaac 0%, #939497 4%, #7c7d80 47%, #626366 100%));
}
