$font-color       : #000;
$pink-color       : #7b2b83;
$gray-color       : #626366;
$header-color     : $pink-color;
$font-gray        : $gray-color;
$font-light-gray  : #a9a9ab;
$link-color       : $pink-color;



