input[type=text], input[type=password], input[type=url], input[type=email],
input.text, input.title, select, textarea {
  background-color: #fff;
  border: 1px solid #ababad;
  @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2) inset);
  color: #000;
  margin: 3px 0 15px;
  padding: 3px;
}

select {
  padding: 2px;
}

input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color: #666;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  color: #555 !important;
  cursor: not-allowed;
  background-color: #eee !important;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

.invalid {
  border: 1px solid #f00 !important;
}

label {
  display: block;

  &.invalid {
    color: #f00;
    background: #fff;
  }
}

.error, .alert, .notice, .success, .info {
  border: 2px solid #DDDDDD;
  margin-bottom: 1em;
  padding: 0.8em;
}

.error, .alert {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #8A1F11;
}

.notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #514721;
}

.success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #264409;
}

.info {
  background: #D5EDF8;
  border-color: #92CAE4;
  color: #205791;
}

.error a, .alert a {
  color: #8A1F11;
}

.notice a {
  color: #514721;
}

.success a {
  color: #264409;
}

.info a {
  color: #205791;
}