[class*="icon-"] {
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: inline-block;
  font-style: normal;
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
  &:focus {
    outline: 0;
  }
}

.icon-empty {
  cursor: default !important;
  padding-left: 16px;
}

.icon-pos-top {
  background-position: 0 0;
}

.icon-config {
  background-image: image-url("icon-config.png");
  padding-left: 17px !important;
}

.icon-back {
  background-image: image-url("icon-back.png");
  padding-left: 19px;
}

.icon-next {
  background-image: image-url("icon-next.png");
  padding-left: 19px;
}

.icon-save {
  background-image: image-url("icon-save.png");
  padding-left: 21px;
}

.icon-notice-small {
  background-image: image-url("icon-notice.png");
  padding-left: 10px;
}

.icon-checked {
  background-image: image-url("icon-checked.png");
  padding-left: 15px;
}

.icon-subcat {
  background-image: image-url("icon-subcat.png");
  background-position: -16px 50%;
  width: 16px;

  &:hover { background-position: 0 50%; }
}

.icon-info {
  background-image: image-url("icon-info.png");
  padding-left: 25px;
}

.icon-info-small {
  background-image: image-url("icon-info-small.png");
  width: 9px;
}

.icon-info-error-small {
  background-image: image-url("icon-info-error-small.png");
  width: 9px;
}

.icon-cancel {
  background-image: image-url("icon-cancel.png");
  padding-left: 21px;
}

.icon-upload {
  background-image: image-url("icon-upload.png");
  padding-left: 21px;
}

.icon-plus, .icon-minus {
  background-image: image-url("icon-plus-minus.png");
  height: 15px;
  width: 14px;
}

.icon-minus {
  background-position: -15px 50%;
}

.icon-add {
  background-image: image-url("icon-plus-green.png");
  padding-left: 15px;
}

.icon-delete {
  background-image: image-url("icon-delete.png");
  padding-left: 16px;
}

.icon-delete-cross {
  background-image: image-url("icon-delete-cross.png");
  width: 7px;
}
.icon-active {
  background-image: image-url("icon-status-done.gif");
  width: 7px;
}
.icon-inactive {
  background-image: image-url("icon-status-lost.gif");
  width: 7px;
}

.icon-pdf {
  background-image: image-url("icon-pdf.png");
  padding-left: 15px;
}

.icon-mail {
  background-image: image-url("icon-mail.png");
  padding-left: 15px;
}

.icon-logout {
  background-image: image-url("icon-logout.png");
  padding-left: 10px;
}

.icon-star {
  background-image: image-url("icon-star.png");
  padding-left: 25px;
}

.icon-preview-tpl {
  background-image: image-url("icon-preview-tpl.png");
  height: 34px;
  width: 34px;
}

.icon-select-tpl {
  background-image: image-url("icon-select-tpl.png");
  height: 34px;
  width: 34px;
}

.icon-pallet {
  background-image: image-url("icon-pallet.png");
  padding-left: 21px;
}

.icon-building {
  background-image: image-url("icon-building.png");
  padding-left: 21px;
}

.icon-keywords {
  background-image: image-url("icon-keywords.png");
  padding-left: 21px;
}

.icon-colorpicker {
  background-image: image-url("icon-colorpicker.png");
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.icon-datepicker {
  background: #fff image-url("icon-datepicker.png") no-repeat 97% 50% !important;
  padding-right: 27px !important;
}

.icon-status-info {
  background-image: image-url("icon-status-info.png");
  padding-right: 10px !important;
}

.icon-send {
  background-image: image-url("icon-send.png");
  padding-right: 15px !important;
}

.icon-money {
  background-image: image-url("icon-money.png");
  padding-left: 26px !important;
}

.icon-arrow-right {
  background-image: image-url("icon-arrow-right.png");
  padding-left: 15px;
}

.icon-news {
  @extend .icon-money;
  background-image: image-url("icon-news.png");
}

.icon-textwriter {
  @extend .icon-money;
  background-image: image-url("icon-textwriter.png");
}

.icon-faq {
  @extend .icon-money;
  background-image: image-url("icon-faq.png");
}

.icon-agenda {
  @extend .icon-money;
  background-image: image-url("icon-agenda.png");
}

.icon-zoom {
  @extend .icon-delete;
  background-image: image-url("icon-zoom.png");
}

.icon-edit {
  @extend .icon-delete;
  background-image: image-url("icon-edit.png");
}

.icon-faq-low {
  background-image: image-url("icon-faq-low.png");
  padding-left: 10px
}

.icon-faq-low {
  background-image: image-url("icon-faq-low.png");
  padding-left: 10px
}

.icon-faq-normal {
  @extend .icon-faq-low;
  background-image: image-url("icon-faq-normal.png");
}

.icon-faq-urgent {
  @extend .icon-faq-low;
  background-image: image-url("icon-faq-urgent.png");
}

[class*="icon-move-"] {
  background-image: image-url("move-btns.png");
  cursor: pointer;
  height: 14px;
  width: 12px;
}

.icon-move-up {
  background-position: 0 0;
}

.icon-move-up-disabled {
  background-position: 0 -14px;
}

.icon-move-down {
  background-position: -13px 0;
}

.icon-move-down-disabled {
  background-position: -13px -14px;
}
.icon-pending {
  background-image: image-url("icon-pending.gif");
  background-position: 0 .3em;
  padding-left: 21px
}
.icon-lost {
  @extend .icon-pending;
  background-image: image-url("icon-lost.gif");
}
.icon-won {
  @extend .icon-pending;
  background-image: image-url("icon-won.gif");
}
.icon-withdrawn {
  @extend .icon-pending;
  background-image: image-url("icon-withdrawn.gif");
}
