/*============  Layout  ==============*/

html {
  overflow-y: scroll;
}

#container {
  margin: 0 auto;
  padding: 0 20px;
  width: 960px;
}

.row {
  font-size: 1px;
  line-height: 0;
  list-style: none;
  text-align: justify;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;

  &:after {
    content: '';
    display: inline-block;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
  }

  & > li {
    display: inline-block;
    *display: inline;
    line-height: 1.5;
    font-size: $font-size;
    text-align: left;
    vertical-align: top;
    zoom: 1;
  }
}

.line {
  list-style: none;
  overflow: hidden;

  li { float: left; }
}

#logo {
  background: image-url("logo.png") no-repeat 0 0;
  display: block;
  float: left;
  height: 69px;
  width: 240px;
}

.support-minutes-modal-container {
  width: 390px;
}

/*============  Support block  ==============*/
.support-box {
  background: #fff;
  border: 1px dashed $pink-color;
  overflow: visible;
  padding: 10px;
  position: relative;

  .desc {
    color: $gray-color;
    display: inline-block;
    margin-bottom: 10px;
    min-height: 50px;
    width: 60%;
  }

  [class^="help-btn"] {
    background: image-url('help-btn.png') no-repeat 0 0;
    display: block;
    height: 50px;
    width: 201px;
    position: relative;

    &:hover { text-decoration: none; }
  }

  .help-btn-pink {
    background-image: image-url('help-btn-pink.png');
    width: 242px;
  }
}
.support-girl {
  background: image-url('support-girl.png') no-repeat 100% 100%;
  bottom: 1px;
  height: 148px;
  position: absolute;
  right: 1px;
  width: 108px;
  z-index: 0;
}

.support-info {
  display: none;
  padding: 0 !important;
  width: 460px;

  .support-box {
    border: 0;
    padding: 15px;
  }

  .desc { width: auto; }
}

.support-info-footer {
  background: #dadada image-url('shadow-top.gif') repeat-x 0 0;
  padding: 15px;
}

/*============  Buttons  ==============*/
[class^="btn"], button, input[type="submit"] {
  @include pink-gradient(true, true);
  border: 1px solid #7b2b83;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 3px 10px;
  @include text-shadow(1px 1px 1px #000);
  text-decoration: none !important;

  &:focus, &:active { outline: 0; }

  & > * { color: #fff !important; }

  &.width {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 99.4%;

    & > [class*="icon-"] {
      margin: 0 10px;
    }
  }
}

.btn-green, button.btn-green, input[type="submit"].btn-green {
  @include green-gradient(true, true);
  border-color: #238501;
}

.btn-big, .btn-big2 {
  font-weight: 700;
  padding: 10px;
  min-width: 150px;
}

.btn-big2 {
  font-size: $font-size + 3;
  padding: 10px 100px !important;
}

.fullScreenBtnBig a.mce_fullscreen,
#mce_fullscreen_fullscreen {
  @extend [class^="btn"];
  @extend .btn-green;
  @extend .btn-big;

  text-align: center;
  min-width: 150px;

  .mceIcon { display: none; }
}

#mce_fullscreen_fullscreen {
  position: fixed;
  top: 20px;
  right: 20px;

  .ie8 & { right: 150px; }
}

.fullScreenBtnBig a.mce_fullscreen {
  bottom: 5px;
  color: #fff !important;
  font-weight: 700 !important;
  position: absolute;
  right: 5px;
}

button, input[type='submit'] {
  &.btn-big {
    @include box-sizing(content-box);
    padding: 11px 10px;
  }
}

.ie7 button {
  vertical-align: top;
}

.btn-gray, button.btn-gray, input[type="submit"].btn-gray {
  @include gray-gradient(true, true);
  border-color: $gray-color;
  color: #fff !important;
}

.btn-disabled, button.btn-disabled, input[type="submit"].btn-disabled {
  @include disabled-gradient();
  $color: darken(#dddde0, 20%);
  border-color: $color;
  color: $color;
  cursor: default;
  text-shadow: none;

  [class*=icon-] {
    background-image: none !important;
    color: #A8A8AF !important;
    padding: 0 !important;
  }
}

/* Button groups */
.btn-group, .btn-group:hover {
  background: none;
  border: 0;
  padding: 0;
}

.oldie .btn-group,
.oldie .btn-group:hover {
  filter: none;
}

.btn-group .btn-big {
  min-width: 0
}

.btn-group .btn-big + .btn-big {
  margin-left: -5px;
}

.btn-group .btn-big .caret{
  margin-top: 6px;
}

.caret {
  border-top-color: #fff !important;
}

.box {
  border: 1px solid #e0e0e0;
  @include box-shadow(0 2px 2px -1px #666);
  padding: 15px;
  table {
    width: 100%;
    h2 {
      margin-top: 50px;
      width: 310px;
    }
  }
}

.box-gray {
  background: #f6f6f6;
  border: 1px solid #e0e0e0;
  @include box-shadow(0 2px 2px -1px #666);
  padding: 15px;

  form {
    input[type="text"], select {
      margin: 0;
      width: 200px;
    }
    input.datepicker { width: auto; }
  }
}

.module-box {
  margin-top: 15px;

  aside.right &:first-child {
    margin-top: 0;
  }
}

.box-pink { background: $pink-color; }

.box-dashed {
  background: #fff;
  border: 2px dashed $pink-color;
  box-shadow: none;

  & .box-dashed { border: 0; }
}

.content {
  width: 960px;

  .cols-2-left & { width: 640px; }

  .cols-2 & { width: 720px; }

  .right-wide & { width: 630px; }

  .cols-3 & { width: 400px; }
}

[class*="cols-"] .content {
  float: left;
}

aside.right {
  float: right;
  padding-left: 20px;
  width: 220px;

  .right-wide & {
    background: #F6F6F6;
    @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.75) inset);
    margin-left: 10px;
    margin-top: -50px;
    padding: 25px 10px 10px;
    width: 300px;

    .oldie & {
      border-color: transparent #E2E2E2 #E2E2E2 #B8B8B8;
      border-style: solid;
      border-width: 0 1px 1px;
      width: 298px;
    }
  }

  & > [class^="box"] {
    margin-bottom: 10px;
  }
}

aside.left {
  float: left;
  padding-right: 20px;
  width: 300px;
}

.navigation {
  overflow: hidden;
  li { float: left; }
}

.ajax-preloader {
  background: image-url('ajax-preloader.gif') no-repeat 0 0;
  display: none;
  float: right;
  height: 16px;
  padding-left: 21px;

  &.show { display: inline; }
}

.modal form { position: relative; }

.modal-close {
  background: image-url('popup-close.png') no-repeat 0 0;
  display: inline-block;
  float: right;
  height: 11px;
  margin: 10px 10px 0 0;
  position: relative;
  text-decoration: none !important;
  width: 10px;
  z-index: 10;
}

.main-menu {
  @include pink-gradient;
  @include box-shadow(0 1px 2px #999);
  border: 1px solid #7b2b83;
  font-size: $font-size +1;
  margin-bottom: 15px;
  position: relative;

  li {
    padding: 4px 0;
    position: relative;

    &.active {
      @include filter-gradient(#9e94a2, #675c6b, vertical);
      @include background-image(linear-gradient(top, #9e94a2 0%, #675c6b 100%));
      border-color: #6b646e;
      margin-right: -1px;
      z-index: 10;

    }
  }

  a, span {
    border-left: 1px solid #712c77;
    color: #fff;
    display: block;
    line-height: 32px;
    padding: 0 20px;
    @include text-shadow(1px 1px 2px #000);
    text-align: center;

    &:active, &:focus { outline: 0; }
  }

  span {
    color: #bc88c1;
    cursor: default;
  }

  li:first-child {
    a, span { border: 0; }
  }
  .active a {
    border: 0;
    cursor: default;
  }

  li:last-child {
    float: right;
    padding-left: 15px;

  }
}

.menu-disabled {
  li.active {
    background: none;
    filter: none;

    a { border-left: 1px solid #712c77; }
  }
}
.menu-overlay {
  background: $pink-color;
  height: 100%;
  position: absolute;
  @include opacity(0.5);
  top: 0;
  width: 100%;
  z-index: 100;
}

.bank-account-box {
  margin-top: 10px;

  &:first-child {
    margin: 0;
  }
}

/*============  Header  ==============*/
header {
  margin-bottom: 35px;
  overflow: hidden;
  padding-top: 15px;
  position: relative;
}

.customer-info {
  color: $gray-color;
  font-size: $font-size - 1;

  a { text-decoration: underline; }

  img {
    @include box-shadow(0 1px 2px #999);
    height: 30px;
    width: 30px;
  }
}

/*============  Breadcrumbs  ==============*/
.breadcrumbs {
  margin-bottom: 15px;

  a, span { display: inline-block; }

  a {
    background: image-url('icon-pathway-delim.gif') no-repeat 100% 50%;
    margin-right: 8px;
    padding-right: 15px;
    text-decoration: underline !important;
  }

  .homepage {
    background: image-url('icon-pathway-home.png') no-repeat 0 50%;
    height: 1em;
    line-height: 1em;
    padding: 0 0 0 15px;
    text-decoration: none;

    span {
      background: image-url('icon-pathway-delim.gif') no-repeat 100% 50%;
      padding-right: 15px;
      text-decoration: underline;
    }
  }

  .icon-config {
    padding-left: 0 !important;
  }
}

/*============  Accordion widget  ==============*/
.accordion {
  position: relative;

  .accordion-section-title {
    border: 1px solid $gray-color;
    @include border-radius(0);
    cursor: pointer;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5YWFhYyIvPjxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiM5Mzk0OTciLz48c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzdjN2Q4MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYyNjM2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9aaac), color-stop(4%, #939497), color-stop(47%, #7c7d80), color-stop(100%, #626366));
    background-image: -webkit-linear-gradient(top, #a9aaac 0%, #939497 4%, #7c7d80 47%, #626366 100%);
    background-image: -moz-linear-gradient(top, #a9aaac 0%, #939497 4%, #7c7d80 47%, #626366 100%);
    background-image: -o-linear-gradient(top, #a9aaac 0%, #939497 4%, #7c7d80 47%, #626366 100%);
    background-image: -ms-linear-gradient(top, #a9aaac 0%, #939497 4%, #7c7d80 47%, #626366 100%);
    background-image: linear-gradient(top, #a9aaac 0%, #939497 4%, #7c7d80 47%, #626366 100%);
    margin-bottom: 5px;
    overflow: hidden;
    padding: 10px 15px;

    .oldie & {
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA9AAAC', endColorstr='#FF626366');
      zoom: 1;
    }

    &:focus { outline: none; }

    a {
      color: #fff !important;
      float: left;
      font-size: $font-size + 3;
      @include text-shadow(1px 1px 1px #000);
    }

    .ui-icon {
      float: right;
      margin-top: 5px;
    }
  }

  .accordion-section-title-sub {
    background-color: #fff;
    background-image: none;
    border-color: #bfbfbf;
    border-width: 0 0 1px;
    margin-bottom: 0;
    padding: 5px 15px;
    overflow: hidden;

    .oldie & { filter: none; }

    a {
      color: #646464 !important;
      text-shadow: none;
    }

    span.ui-icon {
      float: left;
      margin-right: 7px;
    }
  }


  .accordion-section {
    padding-bottom: 5px !important;
    overflow: hidden;

    .ie7 & { zoom: 1; }
  }

  .accordion-section-empty {
    border: 0;
    color: $gray-color;
    font-style: italic;
    padding: 15px 0;
    text-align: center;
  }
}

/*============  Library  ==============*/
.library {
  position: relative;

  .left & {
    background: #fff image-url('library-border.png') repeat-y 100% 0;
    padding: 15px 10px;
  }

  .add-item {
    background: image-url("icon-plus-green.png") no-repeat 100% 50%;
    color: #218021;
    cursor: pointer;
    display: block;
    margin: 0 15px 15px 0;
    padding-right: 15px;
    text-align: right;
    text-decoration: underline;
  }

  .even { background: #f8f8f8; }

  .item-change {
    background: image-url("icon-config.png") 90% 50%;
    display: inline-block;
    float: right;
    height: 16px;
    text-decoration: none !important;
    width: 10px;
  }
}

.new-cat {
  width: 280px;
}

.lib-cat-head {
  border-bottom: 1px solid #bfbfbf;
  overflow: hidden;
  padding: 5px 15px;

  h5 {
    float: left;
    font-weight: 700;
    margin: 0;

    &:first-child {
      padding-right: 10px;
      width: 105px;
    }
  }

  input[type=checkbox]  {
    float: left;
    margin-right: 1em;
  }
}

.reorder-items:hover {
  text-decoration: none;
}

.lib-item-row {
  margin: 0;
  overflow: hidden;
  padding: 5px 15px;

  &:hover { background: #FFFBCF; }

  & > * { float: left; }

  input[type=checkbox] {
    margin-right: 1em;
  }
}

.lib-item-created {
  padding-right: 10px;
  width: 105px;
}

.actions-block {
  overflow: hidden;
  padding: 20px 15px;
  text-align: center;
}

.include-items, .include-items-disabled {
  background: image-url("include-items.png") no-repeat 0 0;
  height: 75px;
  margin-top: -38px;
  position: absolute;
  right: -38px;
  text-decoration: none !important;
  top: 50%;
  width: 40px;
}

.include-items {
  &:active, &:focus {
    outline: 0 !important;
  }
}

.include-items-disabled {
  background-position: 0 -78px;
}

.lib-subcat {
  .lib-item-row, .lib-cat-head {
    padding-left: 40px;
  }

  .ui-state-active a { color: #000; }
}

.proposal-lib-cat {
  max-height: 500px;
  overflow-y: auto !important;

  .accordion-section-title-sub {
    padding: 0 15px 3px;
  }

  .lib-item-row { padding-left: 15px; }
}

.lib-block-actions {
  float: right;
  margin-right: -7px;
}

.inline-search {
  padding: 4px 0;
  input {
    background: #fff image-url('icon-search.png') no-repeat 97% 50%;
    background: image-url('icon-search.png') no-repeat 97% 50%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: image-url('icon-search.png') no-repeat 97% 50%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: image-url('icon-search.png') no-repeat 97% 50%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: image-url('icon-search.png') no-repeat 97% 50%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: image-url('icon-search.png') no-repeat 97% 50%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: image-url('icon-search.png') no-repeat 97% 50%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    padding: 4px 30px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    @include box-sizing(border-box);
    font-size: 1em;
    width:100%;
    margin:0;
    height: 26px;
    @include box-shadow(none);
    @include border-radius(0);

    .ie7 & { behavior: url(/public/js/polyfill/boxsizing.htc); }
  }
}
.m-block {
    margin-top: 40px;
  }

table.form-fields {
  th { text-align: left; }
  &.th-right th { text-align: right; }
  & > tbody > tr {
    & > th, & > td { padding: 2px 10px; }
    & > th {
      color: $gray-color;
      font-weight: 400;
    }

    & > td {
      width: 65%;

      &.info-cnt {
        padding: 2px 0 !important;
        vertical-align: middle;
        width: 9px;
        text-align: center;
      }
    }

  }

  a[class^="icon-info"] {
    display: inline;
    padding-left: 9px
  }

  label {
    display: inline;
    margin-right: 10px;
  }

  input[type="text"],
  input[type="password"],
  select,
  textarea {
    margin: 0;
  }

  select { min-width: 150px; }
}

.library-block-create {
  width: 720px;

  input[type="text"], select {
    width: 210px;
  }

  textarea { width: 99%; }

}

.block-imgs, .preview-block-imgs {
  height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;

  .row { width: 100%; }

  img {
    @include box-shadow(0 1px 2px #999);
    border: 5px solid #fff;
    height: auto;

    .oldie & {
      border: 1px solid #999;
      padding: 5px;
    }
  }

  li {
    margin-bottom: 15px;
    width: 32%;

    img { width: 90%; }
  }
}
.block-imgs{
  width: 430px;
  & > img { width: 50%; }
}
.preview-block-imgs {
  width: 550px;
}
.preview-block-img {
  height: auto;
  width: 250px;

  & > img {
    display: block;
    margin: 0 auto;
    width: 99%;
  }
}

.zebra {
  & > thead > tr,
  & > tbody > tr {
    & > td, & > th {
      padding: 2px 10px;
    }

    &:nth-child(even), .even {
      & > td, & > th {
        border: 1px solid #ededed;
        border-width: 1px 0;
        background: #fafafa;
      }
    }
  }
}

.even, .even > td, .even > th {
  border: 1px solid #ededed;
  border-width: 1px 0;
  background: #fafafa;
}

.va-middle {
  & > td, & > th {
    vertical-align: middle;
  }
}

.va-bottom {
  & > td, & > th {
    vertical-align: bottom;
  }
}

table.contact-details,
table.company-details {
  margin-left: -95px;
  position: relative;

  h5 { margin: 5px 0 0 }

  th {
    color: #949597;
    font-size: $font-size - 1;
    font-weight: 400;
    padding-right: 25px;
    text-align: right;
  }
}

table.company-details {
  margin-left: -175px;
}

table.item-summary {
  & > tbody > tr {
    & > th { text-align: right !important; }
    & > th, & > td { padding: 2px 10px !important; }
  }
}

.about-screen {
  p {
    color: $gray-color;
    font-size: $font-size - 1;
  }
}

.raphael {
  height: 200px;
  width: 270px;

  .width-50 & {
    height: 130px;
    width: 130px;
  }
}

/*============  FAQ's list  ==============*/
.faq {
  td { width: 90% !important; }
}

.faq-admin {
  td { width: auto !important; }
}

/*============  Support ticket form  ==============*/
.support-ticket {
  position: relative;
  width: 780px;

  .price-info {
    position: absolute;
    right: 0;
    top: 5em;
    width: 280px;

    .notice-text {
      background: image-url("icon-notice.png") no-repeat 0 2px;
      color: $gray-color;
      font-size: $font-size - 1;
      margin: 1em 0;
      padding-left: 15px;
    }

    label { padding-left: 15px; }
  }

  .contactPerson {
    width: 200px;
  }

  .file-container {
    background: #f9f9f9;
    border: 1px solid #b7b7b7;
    display: inline-block;
    padding: 7px 7px 4px;

    em { position: relative; }

    input[type="file"] {
      position: absolute;
      top: 0;
      right: 13px;
      margin: 0;
      border: solid transparent;
      border-width: 0 0 100px 200px;
      @include opacity(0);
      direction: ltr;
      cursor: pointer;
    }

    .file-name {
      display: inline-block;
      padding-right: 25px;
      position: relative;
      overflow: hidden;
    }

    .file-remove {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
#assign-result {
  width: 500px;
}

.support-ticket-comments {
  .attached-files {
    font-size: 90%;
  }
}

.support-ticket-comment {
  @extend .support-info-footer;

  input[type=file] {
    display: block;
    margin-bottom: 5px;
  }
}

/*============  News, events  ==============*/
.article img { max-width: 100%; }

.news-short-desc {
  min-height: 95px;
  padding-bottom: 75px;
  position: relative;
  width: 44%;

  .go-to {
    bottom: 15px;
    height: 70px;
    position: absolute;
    text-align: center;
    width: 90%;
  }
}
.news-title {
  height: 1.5em;
  overflow: hidden;
  font-weight: 700;
}
.event-desc {
  height: 5.5em;
  margin-bottom: 2em;
  overflow: hidden;
  position: relative;

  .shadow {
    @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%,rgba(246,246,246,0.9) 100%));
    bottom: 0;
    display: block;
    height: 2em;
    left: 0;
    position: absolute;
    width: 100%;

    .oldie & {
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6f6f6f6',GradientType=0 );
    }
  }
}

.news-status {
  border-bottom: 1px solid #fff;
  color: $pink-color;
  display: inline-block;
  padding-right: .5em;

  .even & {
    border-bottom-color: #FAFAFA;
  }
}

.readmore {
  color: $pink-color;
  visibility: hidden;

  .news-item:hover & {
    visibility: visible;
  }

}

.news-item, .event-item {
  padding: 15px 10px 10px;
  overflow: hidden;
}

.event-details {
  margin: 0 50px 0 0;
  width: 350px;

  dt, dd {
    float: left;
    margin: 0;
  }

  dt { width: 60px; }

  dd {
    padding-left: 15px;
    width: 255px;
  }
}

.subscription-form {
  float: right;
  margin: 0 0 25px 25px;
  width: 400px;

  .event-details {
    width: auto;
    dd { width: 270px; }
  }
}

/*============  Wizard  ==============*/
.wizard-progress {
  border-bottom: 1px solid #ababab;
  margin-bottom: 15px;
}

.wizard-head {
  padding-bottom: 15px;
}

[class^="wizard-step"] {
  color: $header-color;
  padding-bottom: 15px;
  position: relative;

  .bullet {
    background: image-url("icon-wizard-step.gif") no-repeat 0 0;
    bottom: -8px;
    display: inline-block;
    height: 13px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 13px;
  }

  a { color: $gray-color; }
  span { color: $font-light-gray !important; }
}

.bullet {
  .wizard-step-active & {
    background-image: image-url("icon-wizard-step-active.gif");
  }
  .wizard-step-first & {
    left: 0;
    margin: 0;
  }
  .wizard-step-last & {
    left: 100%;
    margin-left: -13px;
  }
}

.wizard-step-complete {
  a { color: #000 !important; }
}

.wizard-step-active {
  a {
    color: $link-color;
    font-weight: 700;
  }
  span { color: #caaacd !important; }
}


.report-period {
  td { padding: 3px; }
  select, input { margin: 0; }
  .unit { width: 215px; }
  .month { width: 149px; }
  .year { width: 60px; }
}

.statistics {
  list-style: none;
  margin-left: -50px;
  overflow: hidden;

  p {
    height: 1.5em;
    margin: 0 0 0.2em;
    overflow: hidden;
  }

  li {
    float: left;
    margin-left: 50px;
    padding-top: 30px;

    &:first-child {
      padding-top: 0;
    }
  }

  .last {
    float: left;

    p {
      overflow: hidden;

      span {
        float: right;

        &:first-child {
          float: left;
          margin-right: .5em;
        }
      }
    }
  }

  .agenda { width: 190px; }
  //.admAgenda { width: 160px; }

  .width-50 & {
    font-size: $font-size - 1;
    margin-left: -10px;

    li {
      margin-left: 10px;
      padding-top: 5px;
    }

    .last { float: right; }
  }
}

/*============  Template selection  ==============*/
.tpl-section {
  margin-bottom: 15px;
}

.tpl-row {
  list-style: none;
  overflow: hidden;

  li {
    float: left;
    margin: 0 15px 15px 0;
    padding: 0 2px 3px;
    position: relative;
    width: 163px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .icon-preview-tpl, .icon-select-tpl {
    display: block;
    position: absolute;
    z-index: 10;
  }

  .icon-preview-tpl {
    left: 50%;
    margin: -17px 0 0 -20px;
    top: 50%;
  }

  .icon-select-tpl {
    bottom: 13px;
    display: none;
    right: 10px;
  }

  img {
    @include box-shadow(0 2px 2px -1px #666);
    border: 1px solid;
    border-color: #f0f0f0 #d0d0d0 #a2a2a2 transparent;
    cursor: pointer;
    display: block;
    padding: 18px;
    width: 127px;
  }

  .tpl-selected {
    img { border: 1px solid #1fba00; }
    .icon-select-tpl { display: block; }
  }
}

.tpl-preview {

  .oldie & {
    width: 240px;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.tpl-typo {
  th, td { vertical-align: middle; }
  & > tbody > tr > td { width: auto !important; }

  .font-target > * {
    display: block;
    height: 1.5em;
    margin: 0;
    overflow: hidden;
  }

  .font-size {
    min-width: 4em;
    width: 4em;

    optgroup { font-style: normal; }
  }

  .font-style {
    background: #d3d3d3;
    color: #000;
    cursor: pointer;
    display: inline-block;
    //margin-left: 3px;
    padding: 3px 8px;

    &.checked {
      color: #fff;
      background: #808080;
    }
  }

  em.font-style {
    padding-right: 11px;
  }
}

/*============  Global msg  ==============*/
.mask {
  background-color: #251927;
  color: #fff;
  height: 100%;
  left: 0;
  opacity: 0.95;
  filter: alpha(opacity=95);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;

  .mask-msg {
    background: image-url('mask-preloader.gif') no-repeat 0 50%;
    font-size: 120%;
    left: 50%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    padding-left: 21px;
    position: absolute;
    top: 50%;
  }
}

/*============  Proposal template create  ==============*/
.switch-tpl {
  background: lighten($pink-color, 35%);
  border: 2px solid lighten($pink-color, 25%);
  color: #fff;
  margin-bottom: 10px;
  padding: .8em;

}

.tpl-pages {
  .tab-pane { overflow: hidden; }

  & [class^="tpl-page"] {
    float: left;
    padding: 10px 0;
  }
}
.tpl-page-wrap {
  background: image-url('v-delim.gif') repeat-y 0 0;
  float: left;
  width: 600px;
}
.tpl-changed {
  font-weight: 700;
}
.tpl-wrap {
  overflow: hidden;
}
.tpl-settings {
  background: image-url('v-delim.gif') repeat-y 100% 0;
  float: left;
  min-height: 105mm;
  margin-right: -1px;
  padding: 10px 15px 10px 10px !important;
  width: 335px;
}

$pageHeight: 148.5mm;
$pageHeightLandscape: 105mm;
$pageWidth: 105mm;
$pageWidthLandscape: 148.5mm;
$defaultMargin: 10mm;

.tpl-page {
  background: #fff;
  @include box-shadow( 0 0 3px #999);
  border: 1px solid #999;
  float: none !important;
  height: $pageHeight;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 !important;
  position: relative;
  width: $pageWidth;

  &.landscape {
    height: $pageHeightLandscape;
    width: $pageWidthLandscape;
  }

  .bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}
.tpl-logo, .tpl-paging {
  background: #FFF500;
  border: 1px dotted gray;
  cursor: move;
  height: 3em;
  position: absolute !important;
  left: 80%;
  text-align: center;
  top: 0;
  width: 4em;
  z-index: 0;

  i {
    color: #000;
    display: block;
    font-style: normal;
    left: 50%;
    margin: -1em 0 0 -1em;
    position: absolute;
    top: 50%;
  }
}

.tpl-paging {
  font-size: $font-size - 3;
  height: 1.5em;
  left: auto;
  right: 0;
  padding: 3px 5px;
  width: 8em;
}

.tpl-content {
  height: 100%;
  margin: 0 5mm;
  overflow: hidden;
  position: relative;
}
.tpl-content-main {
  height: 100%;
  width: 100%;
}
.sample-txt {
  color: $font-gray;
  left: 0;
  margin-top: -.5em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
[class*="tpl-margin-"] {
  background: rgba(213, 237, 248, 0.8);
  border: 1px dashed #92CAE4;
  overflow: hidden;
  position: absolute !important;

  .oldie & {
    background: rgb(213, 237, 248);
    filter: alpha(opacity=80);
  }
}
.tpl-margin-t, .tpl-margin-b {
  border-width: 0 0 1px;
  height: 5mm;
  left: 0 !important;
  top: 0 !important;
  width: $pageWidth !important;

  .landscape & {
    width: $pageWidthLandscape !important;
  }
}
.tpl-margin-b {
  border-width: 1px 0 0;
  bottom: 0 !important;
  top: auto !important;
}
.tpl-margin-l, .tpl-margin-r {
  border-width: 0 1px 0 0;
  height: $pageHeight !important;
  left: 0 !important;
  top: 0 !important;
  width: 5mm;

  .landscape & { height: $pageHeightLandscape !important; }
}
.tpl-margin-r {
  border-width: 0 0 0 1px;
  left: auto !important;
  right: 0 !important;
}

/*============  Proposal structure block (2nd step)  ==============*/
.proposal-structure {
  padding-top: 15px;

  h2, h4 { padding-left: 30px; }

  .disableTOC {
    margin: 3px 9px 0 0;
    padding-right: 50px;
    position: relative;

    small {
      bottom: 3px;
      margin-left: 5px;
      position: absolute;
      right: 0;
    }
  }
}

.proposal-structure-section {
  margin-bottom: 15px;
}

.proposal-pdf {
  border-top: 1px dotted #d1d1d1;
  margin-top: 20px;
  padding-top: 5px;

  &.first {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }
}

/*============  Proposal price page  ==============*/
.proposal-offers, .proposal-extra-pays {
  tr > * {
    padding: 5px 5px 5px 25px;
  }

  th {
    border-bottom: 1px solid #000;
    color: $pink-color;
    text-align: left;
  }

  td {
    background: image-url('hr-bg.gif') repeat-x 0 0;
  }

  tfoot {
    font-weight: 700;
    td {
      background: none;
      border: 1px solid #000;
      border-width: 1px 0;
    }
  }

  .accordion-section & {
    tr > * {
      &:first-child {
        padding-left: 5px;
      }
    }
  }

}
.proposal-offers {

  td { white-space: nowrap; }

  .offer-action {
    padding-right: 0;
    padding-left: 5px;
  }
  .offer-name {
    padding-left: 0;
    white-space: normal;

    small {
      display: block;
      height: 3em;
      overflow: hidden;
    }
  }
  .add-offer {
    margin: 10px 0;
  }
}
.sort-handle-wrap {
  padding: 7px 5px 5px !important;
}

.drag-handle {
  cursor: move;
  position: relative;

  i {
    color: #A9A9AB;
    font-size: 80%;
    font-style: normal;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    i { visibility: visible;}
  }
}
.proposal-extra-pays {
  input[type="text"], select {
    margin: 0;
  }

  thead th {
    border-top: 1px solid #000;;
    color: #000;
  }

  tbody td {
    padding-top: 10px;
    padding-bottom: 10px;

    &:nth-child(2), &:nth-child(3) {
      color: #000;
    }
  }

  .total {
    color: $pink-color;
    font-size: $font-size + 3;
  }

  .asterisk { font-size: $font-size - 2; }
  .normal { font-weight: 400; }
}

.proposal-text-blocks {
  td {
    background: image-url('hr-bg.gif') repeat-x 0 0;
    padding: 10px 0;
  }

  textarea { width: 97%; }

  dl { font-size: $font-size - 1; }

  dt {
    border-top: 1px dotted $font-light-gray;
    margin-top: 20px;
    padding-top: 5px;

    &:first-child {
      border: 0;
      magin: 0;
      padding: 0;
    }
  }

  dd {
    color: $font-light-gray;
    font-weight: 400;
    margin: 0;
    padding-left: 1em;
  }
}

.contact-person-create { width: 520px; }

/*============  Sortable list  ==============*/
.sortable-list {
  list-style: decimal inside;
  min-height: 2em;

  &.ls-alpha { list-style-type: upper-alpha; }

  li {
    border-top: 1px dotted #d1d1d1;
    cursor: move;
    padding: 5px 85px 5px 40px;
    position: relative;
    word-wrap: break-word;
  }

  .first {
    border-top: 0;
    .icon-move-up { background-position: 0 -14px; }
  }

  .last {
    .icon-move-down { background-position: -13px -14px; }
  }
}

.sortable-highlight {
  border: 1px dashed #d1d1d1;
  background: #ffe45c;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.sortable-pos {
  left: 0;
  margin-top: -7px;
  position: absolute;
  top: 50%;
}

.sortable-item-actions {
  @extend .sortable-pos;
  left: 100%;
  margin-left: -94px;
  text-align: right;
  top: 1.2em;
  width: 100px;

  [ class ^= "icon-" ] {
    cursor: pointer;
    height: 13px;
    padding: 0;
    width: 16px;
  }

  input[type=checkbox] {
    margin-right: 5px;
  }
}

/*============  Main content area  ==============*/
#content-wrap {
  margin: 20px 0;
  overflow: hidden;
}

/*============  Search form  ==============*/
.search-panel {
  input[type='text'] {
    margin: 0;
  }
}

.list-container {
  background: #fff;
  border: 1px solid #e0e0e0;
  @include box-shadow(0 2px 2px -1px #666);
  padding: 3px;

  .accordion-section & {
    border: 0;
    box-shadow: none;
    padding: 0;
  }

  table {
    th {
      border-bottom: 1px solid #bfbfbf;
      color: $pink-color;
      font-weight: 700;
      padding: 5px;
      text-align: left;
    }

    a {
      color: #000;
      display: inline-block;
      height: 1.1em;
      line-height: 1em;
      overflow: hidden;
      text-decoration: underline;
    }
  }

  .zebra {
    tbody {
      & > tr:hover {
        & > td, & > th {
          background: #FFFBCF !important;
        }
      }

      td { padding: 5px 10px; }
    }
  }

  .actions {
    padding-right: 5px !important;
    text-align: right;

    a { text-decoration: none }

    .icon-info-small {
      padding-left: 11px;
    }
  }
}

.highlight {
  background: #f2e9f2 !important;

  td {
    background: #f2e9f2 !important;
    border-bottom-color: #d5ccd5 !important;
    border-top-color: #d5ccd5 !important;
    border-width: 1px 0 !important;
    border-style: solid !important;
  }
}

.list-title {
  background: #ddd;
  border: 1px solid #cfcfcf;
  font-size: $font-size + 4;
  margin-bottom: 3px;
  padding: 5px 12px;
  @include text-shadow(1px 1px 0 #fff);
  text-align: center;

  input, select {
    font-size: $font-size;
  }
}

.title-with-btn {
  .list-title {
    padding: 8px 12px;
    width: 255px;
  }

  [class*="btn"] {
    line-height: 30px;
    padding: 5px 12px;
    width: auto;
  }
}

.list-form {
  background: #f6f6f6;
  @include box-shadow(0 1px 2px -2px #666);
  margin-bottom: 10px;
  padding: 10px;

  input[type="text"] {
    margin-right: 5px;
    width: 200px;
  }

}

.progress-bar {
  border: 1px solid #dcdcdc;
  display: inline-block;
  height: 8px;
  line-height: 8px;
  overflow: hidden;
  width: 50px;

  .ie7 & {
    margin-right: .5em;
  }

  & > i {
    border: 1px solid;
    display: inline-block;
    float: left;
    width: 100%;
  }

  .in-progress {
    border-color: #636467;
    background: #636467;
  }

  .expired {
    border-color: #b9b9ba;
    background: #b9b9ba;
  }

  .won, .done {
    border-color: #2c8b2c;
    background: #2c8b2c;
  }

  .lost {
    border-color: #ca0000;
    background: #ca0000;
  }

  .withdrawn {
    border-color: #f57920;
    background: #f57920;
  }
}

.status-field {
  background: no-repeat 0 50%;
  color: #626366;
  font-size: $font-size - 1;

  &.expired { color: #b5b6b7; }

  &.won, &.lost, &.withdrawn {
    background-image: image-url('icon-status-done.gif');
    margin-left: 5px;
    padding-left: 13px;
  }
  &.lost {
    background-image: image-url('icon-status-lost.gif');
  }
  &.withdrawn {
    background-image: image-url('icon-status-withdrawn.gif');
  }
}

.offer-modal-container, .summary-modal {
  width: 520px;
}

/*============  Proposal iframe  ==============*/
.proposal-template {
  border: 0;
  height: 500px;
  margin-left: 4%;
  width: 96%;
}

.prices {
  list-style: none;

  li {
    background: image-url('hr-bg.gif') repeat-x 0 100%;
    overflow: hidden;
    padding: 3px 0;

    ul {
      padding-left: 1em;
    }
  }

  p { overflow: hidden; }

  i {
    float: right;
    font-style: normal;

    &:first-child{
      color: $font-gray;
      float: left;
    }
  }

  .last {
    background: none;
  }
}

/*============  Template management  ==============*/
.available-fonts {
  float: left;
  width: 30%;

  select {
    height: 440px;
    margin: 5px 0 0;
    width: 100%;
  }
}

.font-preview {
  float: right;
  width: 65%;
}

.preview-area {
  background: #fff;
  border: 1px solid #ABABAD;
  font-size: 14px !important;
  height: 420px;
  margin: 5px 0 0;
  overflow-y: auto;
  padding: 10px;

  * { color: #000 !important; }
}

/*============  Reorder blocks modal  ==============*/
.reorder-blocks {
  width: 450px;

  .sortable-list {
    border: 1px solid #d1d1d1;
    height: 400px;
    margin-top: 10px;
    overflow-y: auto;
    padding: 5px;
  }
}

/*============  Footer  ==============*/
footer {
  background: image-url('hr-bg.gif') repeat-x 0 0;
  color: $gray-color;
  margin-top: 20px;
  padding: 20px 0;

  nav { position: relative; }

  .menu-overlay { background: #FFF; }

  .navigation {
    text-align: center;

    li {
      border-left: 1px solid  $gray-color;
      display: inline-block;
      *display: inline;
      float: none;
      padding: 0 10px;
      zoom: 1;

      &:first-child {
        border: 0;
        padding-left: 0;
      }

      &:last-child {
        display: none;
      }
    }
  }

  a {
    color: $gray-color;
    text-decoration: underline;
  }
}

.copyright {
  font-size: 90%;
  text-align: center;
}
