

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.float-l { float: left !important; }
.float-r { float: right !important; }
.no-float { float: none !important; }
.margin-t { margin-top: 10px; }
.margin-b { margin-bottom: 10px; }
.margin-r { margin-right: 10px; }
.margin-l { margin-left: 10px; }
.margin-rl { margin-right: 10px; margin-left: 10px;}
.margin-tb { margin-top: 10px; margin-bottom: 10px; }
.padding-l { padding-left: 10px; }
.padding-r { padding-right: 10px !important; }
.padding-rl { padding: 0 10px; }
.padding-all { padding: 10px; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.no-border { border: 0 !important; }
.no-bg { background: none !important; }
.text-l { text-align: left !important; }
.text-r { text-align: right !important; }
.text-c { text-align: center !important; }
.text-normal { font-size: $font-size !important; }
.width { width: 100%; }
.width-50 { width: 50%; }
.align-center { margin: 0 auto; }
.star, .asterisk { color: #f00; font-size: 85%; }
.unselectable {
  -moz-user-select: -moz-none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
.fixed-col-tbl {
    table-layout: fixed;
    width: 100%;
}
.va-top { vertical-align: top !important; }
.va-bottom { vertical-align: bottom !important; }
.va-middle { vertical-align: middle !important; }
.inline { display: inline !important; }

.text-pink { color: $pink-color; }
.text-black { color: #000; }

.numbered { list-style: decimal inside; }