$font-size: 12px;

html { font-size: 100%;  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-size: $font-size; line-height: 1.5; }
body, button, input, select, textarea { font-family: Tahoma, Geneva, sans-serif; color: $font-color; }

::-moz-selection { background: #666; color: #fff; text-shadow: none; }
::selection { background: #666; color: #fff; text-shadow: none; }

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        outline: 0;
        text-decoration: underline;
    }
    &:active { outline: 0; }
    &:focus { outline: thin dotted; }
}
i, em { font-style: italic; }
b, strong { color: $header-color; font-weight: 700; }
h1, h2, h3, h4, h5, h6 {
    color: $header-color;
    font-weight: 400;
    margin: 0 0 .5em;

    a { color: $header-color; }
}
h1 { font-size: $font-size + 8 }
h2 { font-size: $font-size + 6 }
h3 { font-size: $font-size + 4 }
h4 { font-size: $font-size + 2 }
h5 { font-size: $font-size + 1 }
p { margin: .5em 0 }
small { font-size: $font-size - 1; color: $gray-color; }
small a { color: #000; text-decoration: underline; }
sub, sup { font-size: 75%; line-height: 0; vertical-align: baseline; }
ul, ol { list-style: inside }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
hr {
  background: image-url('hr-bg.gif') repeat-x 0 0;
  border: 0;
}
.text-gray { color: $font-light-gray !important; }
.text-dark-gray { color: $gray-color !important; }
.text-black { color: #000 !important; }