table.tablesorter {
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr .header span {
	background: url(bg.gif) no-repeat 100% -19px;
	cursor: pointer;
  padding-right: 25px;
}
table.tablesorter thead tr .headerSortUp span {
	background-position: 100% 4px;
}
table.tablesorter thead tr .headerSortDown span {
	background-position: 100% -41px;
}
table.tablesorter thead tr .headerSortDown span,
table.tablesorter thead tr .headerSortUp span {
  text-decoration: underline
}
