<?
    /** @var Account_Model_DbTable_AccountRow $accountRow */
    $accountRow = $this->accountRow;
?>
<?=$this->information()->init();?>
<br/>
Uw inschrijving kan niet worden bevestigd.<br/>
<br/>
Neem contact op met Appalti.<br/>
<br/>

