<?
    /** @var Account_Model_DbTable_AccountRow $accountRow */
    $accountRow = $this->accountRow;
?>
<?=$this->information()->init();?>
<p>Welkom, <?= $accountRow->firstname ?> <?= $accountRow->prefix ?> <?= $accountRow->lastname ?></p>
<p>Uw inschrijving is bevestigd en uw account is geactiveerd.</p>
<p>&nbsp;</p>
<p>Voer een wachtwoord in om in te kunnen loggen.</p>
<p>De link in uw email is hierna niet meer te gebruiken.</p>
<p>&nbsp;</p>
<form method="post" action="/account/create/update">
    <input type="hidden" name="id" value="<?= $accountRow->getId() ?>"/>
    <div class="name">
        <label>Uw gebruikersnaam: </label>
        <p><?= $accountRow->username ?></p>
    </div>
    <div class="address">
        <label>Uw wachtwoord:</label>
        <input type="password" name="password" value=""/>
    </div>
    <div class="city">
        <label>Herhaal wachtwoord:</label>
        <input type="password" name="confirmPassword" value=""/>
    </div>
    <div class="email">
        <label>Emailadres:</label>
        <input type="text" name="email" value=""/>
    </div>
    <div>
        <label>&nbsp;</label>
        <button>Opslaan</button>
    </div>
</form>

<style type="text/css">
    form label {
        display: inline-block;
        width:120px;
    }
    form p {
        display: inline-block;
    }
    form .email {
        display:none;
    }
</style>
