<?
    /** @var Account_Model_DbTable_AccountRow $accountRow */
    $accountRow = $this->accountRow;
    $signUp = ($accountRow->signupData)? json_decode($accountRow->signupData): (object) array(
        'package'       => $this->package,
        'company_name'  => '',
        'form'          => 'bv',
        'sex'           => 'man',
        'firstname'     => '',
        'prefix'        => '',
        'lastname'      => '',
        'street'        => '',
        'homenr'        => '',
        'postal_code'   => '',
        'city'          => '',
        'email'         => '',
        'phone'         => '',
        'questions'     => array(
            'company_count_users'               => 0,
            'company_count_proposals_per_month' => 0,
            'company_proposal_createmethod'     => '',
        ),
    );
?>
<?= $this->information()->init() ?>
<form class="validatable" method='post' enctype='multipart/form-data' action=''>
    <div class='orderform_heading'>
        <h3 class='orderform_title'>Aanvraag offertetool</h3>
        <span class='orderform_description'>Vul hieronder uw gegevens in en u ontvangt automatisch uw login gegevens.</span>
    </div>
    <div class='orderform_body'>
        <ul>
        	<div class="seperator">Algemeen</div>
            <li>
                <label class='orderfields'>
             Hoeveel mensen binnen uw organisatie schrijven offertes?
             	</label>
             <div class="inputfields" style="width:10%"><input type='text' name="questions[company_count_users]" value="<?= $signUp->questions['company_count_users'] ?>"/></div>
            </li>
             <li>
                <label class='orderfields'>
             Hoeveel offertes schrijft u gemiddeld per maand?
             	</label>
             <div class="inputfields" style="width:10%"><input type='text' name="questions[company_count_proposals_per_month]" value="<?= $signUp->questions['company_count_proposals_per_month'] ?>"/></div>
            </li>

            <li>
            	<label class='orderfields'>Hoe maakt u nu offertes?</label>
            	<div class='inputfields'>
                    <select name="questions[company_proposal_createmethod]" style="width:50%">
                        <option value='Excel'<?= ($signUp->questions['company_proposal_createmethod'] == 'Excel')? ' selected="selected"':'' ?>>Excel</option>
                        <option value='Word'<?= ($signUp->questions['company_proposal_createmethod'] == 'Word')? ' selected="selected"':'' ?>>Word</option>
                        <option value='Softwareprogramma'<?= ($signUp->questions['company_proposal_createmethod'] == 'Softwareprogramma')? ' selected="selected"':'' ?>>Softwareprogramma</option>
                    </select>
                </div>
            </li>
            <div class="seperator">Pakketkeuze</div>
            <li>
                <label class='orderfields'>&nbsp;</label>
                <div class='inputfields'>
                    <select name="package" style="width:50%" >
                        <option value="">Kies een pakket.</option>
                        <option value='Basis'<?=        ($signUp->package == 'Basis'      )? ' selected="selected"':'' ?>>Basis</option>
                        <option value='Basis plus'<?=   ($signUp->package == 'Basis plus' )? ' selected="selected"':'' ?>>Basis plus</option>
                        <option value='Uitgebreid'<?=   ($signUp->package == 'Uitgebreid' )? ' selected="selected"':'' ?>>Uitgebreid</option>
                    </select>
                </div>
            </li>
        </ul>

        <ul>
        	<div class="seperator">Bedrijfsgegevens</div>
            <li  >
                <label class='orderfields'>&nbsp;</label>
                <div class='inputfields'>
                    <input name='company_name' type="text" style="width:78%; float:left" placeholder="Bedrijfsnaam" value="<?= $signUp->company_name ?>"  />
                    <select name="form" style="width:20%; margin-left:2%; float:left">
                        <option value="bv"<?= ($signUp->form == 'bv')? ' selected="selected"':'' ?>>BV.</option>
                        <option value="nv"<?= ($signUp->form == 'nv')? ' selected="selected"':'' ?>>NV.</option>
                        <option value="vof"<?= ($signUp->form == 'vof')? ' selected="selected"':'' ?>>VOF</option>
                        <option value=""<?= ($signUp->form == '')? ' selected="selected"':'' ?>>Anders</option>
                    </select>
                </div>
            </li>
            <li >
                <label class='orderfields'>&nbsp;</label>
                <div class='inputfields'>
                    <input name='street' value="<?= $signUp->street ?>" id='input_3_7' type='text' style='width:78%; float:left'  tabindex='5' placeholder="Straat" />
                    <input name='homenr' value="<?= $signUp->homenr ?>" id='input_3_7' type='text' style='width:20%; float:left; margin-left:2%'  tabindex='5' placeholder="Nr." size="9"  />
                </div>
            </li>
            <li>
                <label class='orderfields'>&nbsp;</label>
                <div class='inputfields'>
                    <input name='postal_code' value="<?= $signUp->postal_code ?>" id='input_3_8' type='text' style='width:32%; float:left;' maxlength='6' tabindex='6' placeholder="Postcode" />
                    <input name='city' name="<?= $signUp->city ?>" id='input_3_9' type='text' style='width:66%; float:left; margin-left:2%' tabindex='7' placeholder="Plaats"  />
                </div>
            </li>
        </ul>

        <ul>
        	<div class="seperator">Contactpersoon</div>
            <li>
                <label class='orderfields'>&nbsp;</label>
                <div class='inputfields'>
                    <select style="width:20%; float:left;" name="sex">
                        <option value="man" selected="selected">Dhr.</option>
                        <option value="vrouw">Mevr.</option>
                    </select>
                    <span style="width:30%; float:left; margin-left:2%">
                        <input type='text' name='firstname' value="<?= $signUp->firstname ?>" id='input_3_2_3' tabindex='3' placeholder="Voornaam"/>
                    </span>

                    <span style="width:46%; float:left; margin-left:2%">
                        <input type='text' class="required" name='lastname' value="<?= $signUp->lastname ?>" id='input_3_2_6' value='' tabindex='4' placeholder="Achternaam"/>
                    </span>
                    <div class='gf_clear gf_clear_complex'></div>
                </div>
            </li>
            <li>
                <label class='orderfields' for='input_3_5'>&nbsp;</label>
                <div class='inputfields	'>
                    <input name='email' value='<?= $signUp->email ?>' class="email required" id='input_3_5' type='text' class='large'  tabindex='8' placeholder="Emailadres"  />
                </div>
            </li>
            <li >
                <label class='orderfields'>&nbsp;</label>
                <div class='inputfields'>
                    <input name='phone' value='<?= $signUp->phone ?>' class="digits required" id='input_3_4' type='text' class='large' tabindex='9' placeholder="Telefoonnummer" maxlength="10" />
                </div>
            </li>
            <li >
                <label class='orderfields'>&nbsp;</label>
                <div class='inputfields'>
                    <input type='submit' class="button" value=' Proefaccount aanvragen '/>
                </div>
            </li>
        </ul>
    </div>
</form>
<style type="text/css">
    /* url: /account/create/no-layout */
	.orderform_body ul{
		margin: 20px 0 !important;
		padding-left: 0px
	}

	.seperator {
		border-bottom: 1px solid #701c74;
		margin-bottom: 15px;
	}

	.validatable {
		width:500px;
	}

	.orderfields {
		float:left;
		width:30%;
		clear: both;
	}

	.inputfields {
		float:left;
		width: 67%;
        margin-left: 3%
	}

	form {
		color: #666;
		font-family: 'Amble Regular', sans-serif;
		font-size: 12px;
		line-height: 1.625;
	}

	.button {
		border: -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:14px; padding: 10px 20px 10px 20px; 		text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
		margin-right: 20px;
		 background-color: #4c9a0d; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#98ca20));
		 background-image: -webkit-linear-gradient(top, #4c9a0d, #98ca20);
		 background-image: -moz-linear-gradient(top, #4c9a0d, #98ca20);
		 background-image: -ms-linear-gradient(top, #4c9a0d, #98ca20);
		 background-image: -o-linear-gradient(top, #4c9a0d, #98ca20);
		 background-image: linear-gradient(to bottom, #4c9a0d, #98ca20);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4c9a0d, endColorstr=#98ca20);
	}

	.orderform_body li {
		overflow: hidden;
		margin-bottom: 14px;
	}

    li {
        list-style: none;
        vertical-align: top;
    }
    li label {
        display:inline-block;
        width:20%;
        vertical-align: top;
    }
    li div {
        display:inline-block;
        xwidth:35%;
        vertical-align: top;
    }
    li div select {
        vertical-align: top;
    }
    li div span {
        display:inline-block;
    }
    li div span label {
        display:block;
    }
    #package-period label {
        display: inline-block;
        width:auto;
        margin-left:10px;
    }

    input,
    select,
    textarea {
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        box-shadow: 1px 1px 3px #eee inset;
        color: #999;
        font-size: 12px;
        padding: 10px;
        width: 100%;
        height: 40px
    }

    input:focus,
    textarea:focus {
        border: 1px solid #999;
        outline: none;
    }
</style>
<?  if ($this->url() == $this->url(array('action' => 'index'))): ?>
<style type="text/css">
    /* url: /account/create */
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input.text,
input.title,
xselect,
textarea {
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 3px #eeeeee inset;
    color: #999999;
    font-size: 12px;
    height: 18px;
    margin: 3px 0px 0px;
    padding: 10px;
    width: 100%;
}
input {
    width: 71% !important;
}
input:only-child {
    width:93% !important;
}
input:nth-child(2) {
    width:13% !important;
}
.inputfields span:nth-child(2) {
    width: 30% !important;
}
.inputfields span:nth-child(3) {
    width: 46% !important;
}
.inputfields span:nth-child(3) input {
    width: 84% !important;
}
.inputfields span input {
    width: 78% !important;
}
select {
    margin-bottom: 0px;
}
</style>
<?  endif; ?>