<?
    /** @var Account_Model_DbTable_AccountRow $accountRow */
    $accountRow = $this->accountRow;
?>
<?=$this->information()->init();?>
<br/>
Bedankt voor uw inschrijven.<br/>
Er is u een email gestuurd.<br/>
Hierin vindt u alle gegevens om snel aan de slag te gaan.<br/>
<br/>
Wij wensen u veel plezier.<br/>
<br/>

