<?
    /** @var Account_Model_DbTable_AccountRow $accountRow */
    $accountRow = $this->accountRow;
?>
<? $this->information()->init() // do not echo errormessage, but reset it ?>
<br/>
Helaas is er iets misgegaan.<br/><br/>
Heeft u al eerder een account bij ons gehad of aangevraagd?<br/>
Probeert u dan met dat account <a href="/account/authenticate">hier</a> in te loggen.<br/>
Weet u uw inloggegevens niet meer? Achterhaal ze <a href="/account/password/lost-password/">hier</a>.<br/>
<br/>
Opnieuw proberen om een account aan te maken? klik <a href="/account/create">hier</a>.<br/>
<br/>
Lukt het niet?<br/>
Neem dan contact op met <a href="http://appalti-software.nl" target="_blank">Appalti Software</a>.<br/>
<br/>

