<?
    $accountRow = $this->accountRow;
?>
<style type="text/css">
    label span {
        display:inline-block;
        width:50px;
    }
</style>
<form method="post" action="">
    <label>
        <span>Id</span>
        <input type="text" name="id" value="<?= $accountRow->getId() ?>">
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="submit" value="Zoeken">
    </label>
</form>
<br/>
<h3>Account</h3>
<div>
    <div>username: <?= $accountRow->username ?></div>
    <div>name: <?= $accountRow->firstname ?> <?= $accountRow->prefix ?> <?= $accountRow->lastname ?></div>
    <div>email: <a href="mailto:<?= $accountRow->email ?>"><?= $accountRow->email ?></a></div>
    <ul>
        <li>
            <a href="/account/create/confirm/account/<?= $accountRow->getAccountCode() ?>" target="_blank">confirm account</a>
        </li>
    </ul>
<?/**?>
        <pre><?= print_r($accountRow->toArray() ,1) ?></pre>
<?/**/?>
</div>