/**
 * @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
 * @version    SVN: $Id: search-form.css 18889 2010-10-06 07:17:25Z vanya $
 */

.search-panel {
    margin-left: 5px;
}
.extra-filter-fields {
    background: #F0F0F0;
    border: 1px solid #BBB;
    border-width: 0 1px 1px;
    font-size: 90%;
    margin-top: -1px;
    padding: .5em;
    position: absolute;
    z-index: 10;
}
.extra-filter-fields td {
    padding-right: 10px;
}
.extra-filter-fields input[type="text"],
.extra-filter-fields select {
    margin: 0 0 3px;
    width: 162px
}
.extra-filter-fields .title {
    background: #dfdfdf;
    color: #555;
    font-weight: 700;
    margin-bottom: .5em;
    text-shadow: 1px 1px 0 #eee;
}
.extra-filter-fields .title span {
    padding: .5em;
}
.extra-filter-fields h6 {
    margin: .5em 0;
}
button.highlight {
/*    border-bottom: 1px solid;*/
    color: #F00 !important;
    font-weight: 700;
}


