/*
* @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
* @revision   SVN: $Id: user-panel.css 18889 2010-10-06 07:17:25Z vanya $
*/

.user-pnl {
    font-size: 90%;
    height: 50px;
    margin-left: 50px !important;
}
.user-pnl td {
    padding: 0;
}
.user-pnl table {
    width: auto
}



