<table class="grid">
<col width="*" />
<col width="100" />
<col width="45" />
<thead>
<tr>
    <th><?=$this->translate('Title'); ?></th>
    <th class="hideable"><?=$this->translate('Name'); ?></th>
    <th><?=$this->translate('Allow'); ?></th>
</tr>
</thead>
<tbody>
<?foreach($this->rowset as $resourceRow): ?>
    <tr>
        <td title="<?=$resourceRow['description']; ?>" style="cursor: help; font-weight: bold;text-decoration: underline;"><?=$resourceRow['title']; ?></td>
        <td><?=$resourceRow['name']; ?></td>
        <td><input class="ext-form-checkboxable" type="checkbox" <?if(!empty($resourceRow['isAllowed'])): ?>checked="checked"<?endif; ?> name="permission[<?=$resourceRow['name']; ?>]" />
    </tr>
    <?foreach($resourceRow['privileges'] as $privilegeRow): ?>
        <tr>
            <td style="padding-left: 20px;"><?=$privilegeRow['title']; ?></td>
            <td><?=$privilegeRow['name']; ?></td>
            <td><input class="ext-form-checkboxable" type="checkbox" <?if(!empty($privilegeRow['isAllowed'])): ?>checked="checked"<?endif; ?> name="permission[<?=$resourceRow['name']; ?>][<?=$privilegeRow['name']; ?>]" />
        </tr>
    <?endforeach; ?>
<?endforeach; ?>
</tbody>
</table>