   .first{
    background-color:#D0D0D0;
   }
 
   .user{
	margin-left: 10px;
	background-color: #CDB7E5;
	font-size: 14px;
	border-left-style:solid;
	border-left-width: 2px;
    
	}
	
	.name{
	font-size: 20px;
    color: white;
	}
	
	.date{
	text-align: right;
	font-size: 15px;
	padding-bottom: 20px;
	}
	
	.support{
	margin-left: 60px;
	background-color: #CCCCCC;
	font-size: 14px;
	border-left-style:solid;
	border-left-width: 2px;
    
	}
	
	.statys{
	margin-left: 10px;
    color: red;
	
	}