/**
 * @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
 * @version    SVN: $Id: paging.css 18997 2010-10-27 15:17:13Z vanya $
*/

@import "classic.css";

.paging-bar.small-bar {
/*   background: #FFF;*/
   padding:5px 0 0;
}
.paging-bar.small-bar > div {
    margin: 0 auto;
    width: 272px;
}
.paging-bar.small-bar a:hover,
.paging-bar.small-bar a:focus {
    text-decoration: none;
}
.paging-bar.small-bar .first-page,
.paging-bar.small-bar .previous-page {
    margin-right: 5px;
    padding-right: 0;
}
.paging-bar.small-bar .next-page,
.paging-bar.small-bar .last-page {
    margin-right: 5px;
    padding-left: 0;
}
.paging-bar.small-bar .refresh-btn {
    background-position: 100% 50%;
    border-right: 0;
    margin-right: 0;
    padding: 0 20px 0 0;
}

