/**
 * @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
 * @version    SVN: $Id: paging.css 18997 2010-10-27 15:17:13Z vanya $
*/

.paging-bar {
   background: #FFF;
   background: -moz-linear-gradient(top, #F0F0F0 0%, #FFF 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#FFF));
   border-top: 1px solid #CFCFCF;
   font-size:8pt;
   padding:5px 0 10px;
   position: relative;
   text-align:center;
   width:100%;
}
.ie .paging-bar {
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#FFFFFF',GradientType=0 );
   width: auto;
}
.paging-bar a {
    color: #0D456F;
    text-decoration: none;
}
.paging-bar a:hover,
.paging-bar a:focus {
    text-decoration: underline;
}
.paging-bar .disabled {
    color: #666;
}
.paging-bar .first-page {
    background: url(../../images/pagination-control/classic/first.png) no-repeat 0 50%;
    border-right: 1px solid #aaa;
    margin-right: 10px;
    padding: 0 10px 0 17px;
}
.paging-bar .first-page.disabled {
    background: url(../../images/pagination-control/classic/first-disabled.png) no-repeat 0 50%;
}
.paging-bar .last-page {
    background: url(../../images/pagination-control/classic/last.png) no-repeat 100% 50%;
    border-left: 1px solid #aaa;
    padding: 0 17px 0 10px;
    margin-right: 10px;
}
.paging-bar .last-page.disabled {
    background: url(../../images/pagination-control/classic/last-disabled.png) no-repeat 100% 50%;
}
.paging-bar .previous-page {
    background: url(../../images/pagination-control/classic/previous.png) no-repeat 0 50%;
    border-right: 1px solid #aaa;
    margin-right: 10px;
    padding: 0 10px 0 12px;
}
.paging-bar .previous-page.disabled {
    background: url(../../images/pagination-control/classic/previous-disabled.png) no-repeat 0 50%;
}
.paging-bar .next-page {
    background: url(../../images/pagination-control/classic/next.png) no-repeat 100% 50%;
    border-left: 1px solid #aaa;
    margin: 0 10px;
    padding: 0 12px;
}
.paging-bar .next-page.disabled {
    background: url(../../images/pagination-control/classic/next-disabled.png) no-repeat 100% 50%;
}
.paging-bar input[type="button"],
.paging-bar .refresh-btn {
    background: url(../../images/pagination-control/classic/refresh.png) no-repeat 50% 50%;
    border: none;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    cursor: pointer;
    margin-right: 5px;
    padding: 0 15px;
}
.paging-bar input[type="text"] {
    margin: 0;
    font-size: 1em;
    padding: 0;
    text-align: center;
    width: 3em;
}

