<? if (empty($this->listOnly)): ?>
<?=$this->information()->init();?>
<? $id = uniqid('blockContent_'); ?>
    <div id="<?=$id;?>">
<? endif; ?>

<?=$this->information()->init();?>

<div class="list-container">
    <div class="list-title">Alle service prijzen</div>

    <form method="post" class="validatable" action="/support-ticket/service-price/bulk" id="servicePriceForm">
        <table class="zebra width">
            <colgroup>
                <col width="25%">
                <col width="*">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Beschrijving</th>
                    <th>Graaf van woorden</th>
                    <th>Prijs</th>
                    <th>Korting</th>
                    <th>Tijd zat prioriteit korting(%)</th>
                    <th>Hoge prioriteit extra betaling(%)</th>
                </tr>
            </thead>
            <tbody>
                <?foreach($this->rowset as $servicePriceRow): ?>
                    <tr>
                        <td><?=$servicePriceRow['name']; ?></td>
                        <td><?=$servicePriceRow['desc']; ?></td>
                        <td>
                            <input type="text" size="5"
                                   name="servicePrice[<?=$servicePriceRow['id']; ?>][wordCount]"
                                   value="<?=$servicePriceRow['wordCount']; ?>"
                                   class="required number no-margin" />
                        </td>
                        <td>
                            <input type="text" size="5"
                                   name="servicePrice[<?=$servicePriceRow['id']; ?>][price]"
                                   value="<?=$servicePriceRow['price']; ?>"
                                   class="required number no-margin" />
                        </td>
                        <td>
                            <input type="text" size="5"
                                   name="servicePrice[<?=$servicePriceRow['id']; ?>][discount]"
                                   value="<?=$servicePriceRow['discount']; ?>"
                                   class="required number no-margin" />
                        </td>
                        <td>
                            <input type="text" size="5"
                                   name="servicePriority[<?=$servicePriceRow['id']; ?>][low]"
                                   value="<?=$servicePriceRow['servicePriority']['low']; ?>"
                                   class="required number no-margin" />
                        </td>
                        <td>
                            <input type="text" size="5"
                                   name="servicePriority[<?=$servicePriceRow['id']; ?>][urgent]"
                                   value="<?=$servicePriceRow['servicePriority']['urgent']; ?>"
                                   class="required number no-margin" />
                        </td>
                    </tr>
                <?endforeach; ?>
            </tbody>
        </table>
        <hr />
        <p class="text-c">
            <button class="btn-big margin-r" type="submit">
                <span class="icon-save">Opslaan</span>
            </button>
            <br />
            <br />
        </p>
    </form>

</div>

<? if (empty($this->listOnly)): ?>
</div>
    <link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>

    <script type="text/javascript">
        AppaltiLayout.blocks.SupportMinutesBlock = new AppaltiLayoutBlock({
            module: 'support-ticket',
            block: 'service-price',
            updateElId: '<?=$id;?>',
            onInit: function() {
                var $form = $('#servicePriceForm').submit(function() {
                    if ($form.valid()) {
                        $.ajax({
                            url: this.action + '/format/json',
                            data: $form.serialize(),
                            dataType: 'json',
                            type: 'post',
                            mask: true,
                            maskTarget: $form,
                            success: function() {

                            }
                        });
                    }
                    return false;
                })
            }
        });

    </script>
<? endif; ?>
