.x-grid-checkheader {
    height: 14px;
    background-image: url('images/unchecked.gif');
    background-position: 50% -1px;
    background-repeat: no-repeat;
    background-color: transparent; 
}

.x-grid-checkheader-checked {
    height: 14px;
    background-image: url('images/checked.gif');
    background-position: 50% -1px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

