<section class="cols-2 right-wide">
    <div class="clearfix">
        <article class="content">
            <?=$this->information()->init();?>
            <h1><?=$this->translate('Beheer Frequently Asked Questions');?></h1>
            <div class="list-form">
                <?=$this->formFilterSearch('title, content', 'stringfree', array('placeholder' => $this->translate('Zoeken in support vragen'))); ?>
            </div>
            <div class="accordion">
                <? $rowToEdit = null; ?>
                <? foreach ($this->rowset as $categoryId => $data): ?>
                    <? if (!empty($data['rowset'])): ?>
                        <? $categoryRow = $data['category']; ?>
                        <h4 class="accordion-section-title" data-id="<?=$categoryRow->getId(); ?>">
                            <a href="#<?=$categoryRow['name']; ?>">
                                <?=$categoryRow['name']; ?>
                                <span class="float-r text-gray padding-r">(<?=count($data['rowset'])?>)</span>
                            </a>
                        </h4>

                        <div class="lib-cat accordion-section">
                            <table class="width faq-admin form-fields">
                                <colgroup>
                                    <col width="10%">
                                    <col width="75%">
                                    <col width="*">
                                </colgroup>
                                <? foreach ($data['rowset'] as $articleRow): ?>
                                    <?
                                        if (!empty($this->faqToEditId) && $articleRow->getId() === $this->faqToEditId):
                                            $rowToEdit = $articleRow;
                                        endif;
                                    ?>
                                    <tr>
                                        <th class="text-r padding-r va-top"><?=$this->translate('Vraag');?>:</th>
                                        <td>
                                            <h4 class="no-margin">
                                                <strong id="title-<?=$articleRow->getId();?>"><?=$articleRow->title; ?></strong>
                                            </h4>
                                        </td>
                                        <td class="va-middle text-r">
                                            <input type="hidden" value="<?=$categoryRow->getId(); ?>" id="category[]-<?=$articleRow->getId();?>"/>
                                            <input type="hidden" value="<?=$articleRow->luid?>" id="luid-<?=$articleRow->getId();?>"/>
                                            <a href="/faq/index/index/edit/<?=$articleRow->getId();?>" data-id="<?=$articleRow->getId();?>" class="icon-edit">&nbsp;</a>
                                            <a href="/faq/index/delete/id/<?=$articleRow->getId();?>" class="icon-delete">&nbsp;</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-r padding-r va-top"><?=$this->translate('Antwoord');?>:</th>
                                        <td>
                                            <span id="content-<?=$articleRow->getId();?>"><?=$articleRow->content?></span>
                                            <br />
                                            <br />
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                <? endforeach; ?>
                            </table>
                        </div>
                    <? endif;?>
                <? endforeach;?>
            </div>
        </article>
        <aside class="right">
            <? require_once __DIR__ . '/faq-form.phtml'; ?>
        </aside>
    </div>
</section>
<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
<script src="/modules-appalti/faq/views/scripts/default/index/_resources/js/faq.js"></script>
