<form action="/faq/index/<?=empty($rowToEdit) ? 'create' : 'update';?>" method="post" class="validatable" id="faqForm">
    <br />
    <h1><?=$this->translate(empty($rowToEdit) ? 'Nieuwe F.A.Q toevoegen' : 'Update van F.A.Q');?></h1>
    <label>Vraag:</label>
    <input type="text" class="required" size="46"
           name="title" value="<?=!empty($rowToEdit) ? $rowToEdit['title'] : '';?>"
           placeholder="Hier komt de nieuwe vraag te staan"/>
    <input type="hidden" name="luid" value="<?=!empty($rowToEdit) ? $rowToEdit['luid'] : '';?>"/>

    <? if (!empty($rowToEdit)):?>
        <input type="hidden" name="id" value="<?=$rowToEdit['id'];?>" />
    <? endif; ?>

    <label><?=$this->translate('Antwoord');?>:</label>
    <textarea name="content" class="required" cols="43" rows="10" placeholder="En hier het antwoord op de vraag"><?=!empty($rowToEdit) ? $rowToEdit['content'] : '';?></textarea>
    <input type="hidden" name="overview" value=" "/>

    <br />
    <p class="clearfix">
        <span class="float-l"><?=$this->translate('Groeperen onder');?>:</span>
        <a class="float-r icon-add" title="<?=$this->translate('Nieuwe F.A.Q category aanmaken');?>"
           href="/faq/category/create" id="categoryCreate">&nbsp;</a>
    </p>

    <div id="faqCategories">
        <? foreach ($this->rowset as $categoryId => $data): ?>
            <? $categoryRow = $data['category']; ?>
            <label id="el<?=$categoryRow['id']?>">
                <input type="checkbox" class="required" name="categoryId[]" value="<?=$categoryRow->getId(); ?>"
                   <?if (!empty($rowToEdit) && in_array($categoryRow->getId(), $this->faqToEditCategories)):?>
                        checked="checked"
                   <?endif;?> />
                <?=$categoryRow['name']; ?>
                <a class="icon-delete float-r"  href="/faq/category/delete/id/<?=$categoryRow['id']?>">&nbsp;</a>
                <a class="icon-edit category-edit float-r"  href="/faq/category/update/id/<?=$categoryRow['id']?>">&nbsp;</a>
            </label>
        <? endforeach;?>
    </div>
    <br />
    <p class="text-c">
        <? if (empty($rowToEdit)): ?>
            <button type="submit" class="btn-big text-c">
                <i class="icon-save"><?=$this->translate('Nieuwe F.A.Q toevoegen');?></i>
            </button>
        <? else: ?>
                <button type="submit" class="btn-big text-c">
                    <i class="icon-save"><?=$this->translate('Update');?></i>
                </button>
                <br>
                <br>
                <a href="/faq/index/index" class="btn-big btn-gray text-c">Annuleer</a>
        <? endif; ?>
    </p>
</form>
<a href="/modules-appalti/faq/data/Instruction.pptx"><?=$this->translate('Instructie');?></a>
