<section class="cols-2 clearfix">
    <?=$this->information()->init();?>
    <h1><?=$this->translate('Frequently Asked Questions');?></h1>
    <div class="clearfix">
        <article class="content">
            <div class="list-form">
                <?=$this->formFilterSearch('title, content', 'stringfree', array('placeholder' => $this->translate('Zoeken in support vragen'))); ?>
            </div>
            <div class="accordion">
                <? foreach ($this->rowset as $categoryId => $data): ?>
                    <? if (!empty($data['rowset'])): ?>
                        <? $categoryRow = $data['category']; ?>
                        <h4 class="accordion-section-title" data-id="<?=$categoryRow->getId(); ?>">
                            <a href="#<?=$categoryRow['name']; ?>">
                                <?=$categoryRow['name']; ?>
                                <? $searchVal = $this->formFilterSearch('title, content', 'stringfree')->getValue(); ?>
                                <? if (!empty($searchVal)): ?>
                                    <span class="float-r text-gray padding-r"><?=count($data['rowset'])?> resultaten</span>
                                <? endif; ?>
                            </a>
                        </h4>

                        <div class="accordion-section">
                            <table class="width faq form-fields">
                                <? foreach ($data['rowset'] as $articleRow): ?>
                                    <tr>
                                        <th class="text-r padding-r va-top"><?=$this->translate('Vraag');?>:</th>
                                        <td><h4 class="no-margin"><strong><?=$articleRow->title; ?></strong></h4></td>
                                    </tr>
                                    <tr>
                                        <th class="text-r padding-r va-top"><?=$this->translate('Antwoord');?>:</th>
                                        <td>
                                            <?=$articleRow->content?>
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                                <? endforeach; ?>
                            </table>
                        </div>
                    <? endif;?>
                <? endforeach;?>
            </div>
        </article>
        <aside class="right">
            <?=$this->pageDescription();?>
        </aside>
    </div>
</section>
<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>

