<div class="block-tabs">
    <? foreach($this->blocks as $block): ?>
        <div class="x-tab"
            data-id="<?=$block->getId(); ?>"
            title="<?=$this->escape($block->toTitle()); ?>"
            data-module="<?=$block->getModuleName(); ?>"
            data-block="<?=$block->getName(); ?>"
            data-icon="<?=$block->getIcon();?>"
            data-package="<?=$block->getPackage(); ?>"
            data-loaded="<?= (int) $this->allowOutputBlockHtml; ?>"
            data-mappings='<?=Zend_Json::encode($block->getMappings()); ?>'
            data-force="<?=$block->isForceInitReload(); ?>"
        ><?
            if($this->allowOutputBlockHtml):
                echo $block->toHtml();
            endif;
        ?>
        </div>
    <? endforeach; ?>
</div>