<?php
    $this->headTitle($this->articleRow->title);
?>
<div class="clearfix">
    <h2><?=$this->escape($this->articleRow->title); ?></h2>
    <?php if (isset($this->thumb)): ?>
        <img src="<?=$this->thumb ?>" class="float-left margin-right news-thumb" alt="" width="100"/>
    <?php endif; ?>
    <blockquote><?=$this->articleRow->overview; ?></blockquote>
</div>
<div class="news-content">
    <?=$this->articleRow->content; ?>
</div>