<?php
    $this->headTitle($this->articleRow->title);
?>
<div style="width:700px; margin: 0pt auto; padding-top: 20px">
    <div class="clearfix">
        <h2><?=$this->escape($this->articleRow->title); ?></h2>
        <?php if (isset($this->thumb)): ?>
            <img src="<?=$this->thumb ?>" class="float-left margin-right news-thumb" alt="" width="100"/>
        <?php endif; ?>
        <blockquote><?=$this->articleRow->overview; ?></blockquote>
    </div>
    <div class="news-content">
        <?php if (isset($this->image)): ?>
            <?php $imgpos = ceil(strlen($this->content)/3);?>
            <?=substr($this->content, 0, $imgpos); ?>
            <div class="float-right margin-left text-center">
            <img src="<?=$this->image ?>" alt="" />
            </div>
            <?=substr($this->content, $imgpos); ?>
        <?php else: ?>
            <?=$this->articleRow->content; ?>
        <?php endif; ?>
    </div>
</div>