@page {
  margin: 150px 25mm 100px;
  overflow: hidden;
  size: A4;
}

img { max-width: 180mm !important; }

.center-img img {
  display: block;
  margin: 0 auto;
}

#contentBlocks, #tocBlock { }

.inbetween-blocks { }

.mce-fullscreen {
  padding: 150px 25mm 100px !important;
  width: 180mm !important;
}

