<?
    $this->formValue()->init();
    if (null !== $this->companyRow):
        $this->formValue()->setModel($this->companyRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <?= $this->information()->init(false) ?>
        <?= $this->wizardSteps($this->wizard->getSteps()) ?>
    </section>
    <script>
        jQuery(function(){
            $('\
                a#account-update,\n\
                a#logo, \n\
                a#logout, \n\
                nav a, \n\
            ').css({
                'xborder'         : '1px solid red',
                'pointer-events' : 'none',
                'cursor'         : 'default',
                'text-decoration': 'none'
            }).on('click', function(e){
                e.preventDefault();
                return false;
            });
        });
    </script>

    <form id="create-company" class="validatable" method="POST" action="" enctype="multipart/form-data">
        <div class="clearfix">
            <article class="content">
<?
    require_once __DIR__ . '/../index/form.company.phtml';
?>

                <script type="text/javascript" src="/modules-appalti/company/views/scripts/default/index/_resources/js/Form.js"></script>
                <script type="text/javascript" language="javascript">
                    $(function() {
                        new Modules.Company(<?if(null !== $this->companyRow): echo $this->companyRow->getId(); endif; ?>);
                    });
                </script>
            </article>
            <aside class="right">
                <?= $this->pageDescription(array('showDesc' => false)) ?>
            </aside>
        </div>
        <br/>
        <hr/>
        <p class="text-c">
            <button type="submit" class="btn-big margin-r">
                <i class="icon-save"><?=$this->translate('Opslaan')?></i>
            </button>
            <button type="submit" class="btn-big" name="next-step" value="1">
                <i class="icon-next"><?=$this->translate('Volgende stap')?></i>
            </button>
        </p>
    </form>

</section>




