<?
    $this->formValue()->init();
    if (null !== $this->companyRow):
        $this->formValue()->setModel($this->companyRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <?= $this->information()->init(false) ?>
        <?= $this->wizardSteps($this->wizard->getSteps()) ?>
    </section>
    <script>
        jQuery(function(){
            $('\
                a#account-update,\n\
                a#logo, \n\
                a#logout, \n\
                nav a, \n\
            ').css({
                'xborder'         : '1px solid red',
                'pointer-events' : 'none',
                'cursor'         : 'default',
                'text-decoration': 'none'
            }).on('click', function(e){
                e.preventDefault();
                return false;
            });
        });
    </script>

    <form id="create-company" class="validatable" method="POST" action="" enctype="multipart/form-data">
        <div class="clearfix">
            <article class="content">
<? if (null !== $this->companyRow): ?>
                <input type="hidden" name="companyId" value="<?= $this->companyRow->getId() ?>"/>
<? endif; ?>
<? if (null !== $this->parentId): ?>
                <input type="hidden" name="parentId" value="<?= $this->parentId ?>"/>
<? endif; ?>
                <div id="contact-person-box">
<?
    $companyContactPersonCount = 0;
    $this->createCompanyOwnerContactPerson = (null === $this->companyRow && empty($this->parentId));

    if (null !== $this->companyRow && empty($this->parentId)):
        try {
            $companyContactPersonRowset = $this->companyRow->getCompanyContactPersonRowset();
            $companyContactPersonCount = $companyContactPersonRowset->count();
        } catch(Exception $e) {

        }
    endif;

    $contactPersonSubmittedRowset = $this->formValue()->getData('contactPerson');
    $hasContactPersonSubmitted = is_array($contactPersonSubmittedRowset) && count($contactPersonSubmittedRowset) > 0;

    $this->tabindex = 28;

    if ($companyContactPersonCount > 0):
        foreach ($companyContactPersonRowset as $contactPersonRow):
            $this->contactPersonRow = $contactPersonRow;
            require __DIR__ . '/create.block.phtml';
        endforeach;
    elseif (!$hasContactPersonSubmitted):
        $this->namespace = 'create0';
        require __DIR__ . '/create.block.phtml';
    endif;
    unset($this->contactPersonRow);

    /**
     * During post submit we should display
     * all contact persons which user submitted
     */
    if ($hasContactPersonSubmitted) {
        foreach($contactPersonSubmittedRowset as $contactPersonId => $contactPersonSubmittedRow) {
            if (is_numeric($contactPersonId) && (int) $contactPersonId == $contactPersonId) {
                continue;
            }

            $this->formValue()->setData($contactPersonSubmittedRow);
            $this->namespace = $contactPersonId;
            require __DIR__ . '/create.block.phtml';
        }
    }
?>
</div>
                <script type="text/javascript" src="/modules-appalti/company/views/scripts/default/index/_resources/js/Form.js"></script>
                <script type="text/javascript" language="javascript">
                    $(function() {
                        var company = new Modules.Company(<?if(null !== $this->companyRow): echo $this->companyRow->getId(); endif; ?>);
                        $('#btn-create-contact-person').click(function() {
                            company.onAttachBlankContactPerson();
                            return false;
                        });
                    });
                </script>
            </article>

            <aside class="right">
                <?= $this->pageDescription(array('showDesc' => false)) ?>
            </aside>
        </div>

        <br>
        <hr>

        <p class="text-c">
            <a href="<?=$this->wizard->getPrevStepUrl();?>" class="btn-big btn-gray margin-r">
                <span class="icon-back">Stap terug</span>
            </a>
            <button type="submit" class="btn-big margin-r">
                <i class="icon-save"><?=$this->translate('Opslaan')?></i>
            </button>
            <button type="submit" class="btn-big" name="next-step" value="1">
                <i class="icon-next"><?=$this->translate('Volgende stap')?></i>
            </button>
        </p>
    </form>

</section>




