<?php
    /**
     * Initialize plugins with default values
     * We are expecting the contactPersonRow in this template
     */
    $prefix = 'contactPerson';
    $accountRow = null;
    if (null !== $this->contactPersonRow):

        /**
         * Reset values should be here otherwise it reset POST data
         */
        $this->formValue()->init();

        $this->formValue()->setModel($this->contactPersonRow);
        $namespace = $this->contactPersonRow->getId();

        $accountRow = $this->formValue('accountId') ?  $this->contactPersonRow->getAccountRow() : null;
    else:
        $this->formValue()->omitNullableModel(true);
        if (empty($this->namespace)):
            throw new OSDN_Exception('Unable to find valid namespace');
        endif;
        $namespace = $this->namespace;
    endif;
    $prefix .= sprintf('[%s]', $namespace);
    $this->formPrefix()->init($prefix);
?>

<a name="<?=$namespace; ?>"></a>
<div id="<?=$blockId = uniqid(); ?>">
    <div class="clearfix">
    <table class="width zebra contact-person-item form-fields">
<?
    if (!empty($contactPersonSubmittedRowset)) {
        $this->formSubmittedPostData = array(
            'contactPerson' => $contactPersonSubmittedRowset
        );
    }
    require __DIR__ . '/create.field.phtml';
?>
    </table>
    <br>
</div>