<?php

/**
 * Present a list of available fields
 *
 * We are expecting the contactPersonRow in this template
 * The helpers whould be initialized in the parent views
 */

$selectUnique = uniqid();

$postData = empty($namespace) || empty($this->formSubmittedPostData['contactPerson'][$namespace])
        ? array()
        : $this->formSubmittedPostData['contactPerson'][$namespace];

$this->formValue()->setData($postData);
$tabIndex = !empty($this->tabindex) ? $this->tabindex : 50;
?>
    <input type="hidden" name="<?= $this->formPrefix('id') ?>" value="<?= ($this->contactPersonRow)? $this->contactPersonRow->getId():0 ?>"/>
<?  if ($this->createCompanyOwnerContactPerson):
        $ownerAccount = Zend_Auth::getInstance()->getIdentity();
?>
    <input type="hidden" name="<?=$this->formPrefix('accountId')?>" value="<?= $ownerAccount->getId() ?>" />
<?
    elseif ($this->canHaveAccount && $this->modules('account')->acl('company', 'account', 'create')):
        if (!(int)$this->contactPersonRow->getId()):
?>
        <tr>
            <th>
                <h4><?=$this->translate('Inloggegevens');?></h4>
            </th>
            <td class="info-cnt va-bottom">&nbsp;</td>
            <td class="va-bottom">
            </td>
        </tr>
<?/**/?>
        <tr class="tr-<?=$selectUnique;?>">
            <th><?=$this->translate('Gebruikersnaam')?>:</th>
            <td class="info-cnt">&nbsp;</td>
            <td>
<?
            $username = $this->formPrefix('username');
            $username_old = $this->formPrefix('username_old');
            $usernameOldValue = empty($postData['username_old']) ? '' : $postData['username_old'];
            $usernameValue = empty($postData['accountId']) ? (
                empty($postData['username']) ? '' : $postData['username']
            ) : '';
?>
<?/**/?>
                <input type="hidden" name="<?= $username_old ?>" value="<?= $usernameOldValue ?>" />
                <input type="hidden" tabindex="<?= $tabIndex ?>"
                       name="<?= $username ?>"
                       value="<?= $usernameValue ?>"
                       data-remoteValidation="/account/main/check-username-account-free"
                       data-invalidMessage="Gebruikersnaam bestaat al"
                       class="required account-field-<?= $selectUnique ?>"
                       autocomplete="off"/>
<?/**/?>
                <?= $this->translate('Het emailadres wordt als gebruikersnaam gebruikt.') ?>
            </td>
        </tr>
<?/**/?>
        <tr class="tr-<?=$selectUnique;?>">
            <th><?=$this->translate('Wachtwoord')?>:</th>
            <td class="info-cnt">&nbsp;</td>
            <td>
                <? $password = $this->formPrefix('password'); ?>
                <input type="password" tabindex="<?=$tabIndex++;?>" name="<?=$password; ?>" value="<?=
                    empty($postData['accountId']) ? (
                        empty($postData['password']) ? '' : $postData['password']
                    ) : '';
                ?>" class="required account-field-<?=$selectUnique;?>"
                autocomplete="off"/>
            </td>
        </tr>
        <tr class="tr-<?=$selectUnique;?>">
            <th><?=$this->translate('Herhaal wachtwoord')?>:</th>
            <td class="info-cnt">&nbsp;</td>
            <td>
                <? $repassword = $this->formPrefix('confirmPassword'); ?>
                <input type="password" tabindex="<?=$tabIndex++;?>" name="<?=$repassword; ?>" value="<?=
                    empty($postData['accountId']) ? (
                        empty($postData['confirmPassword']) ? '' : $postData['confirmPassword']
                    ) : '';
                ?>" class="required account-field-<?=$selectUnique;?>"
                autocomplete="off"/>
            </td>
        </tr>
        <tr class="tr-<?= $selectUnique ?>">
            <th><?=$this->translate('Heeft rechten als')?>:</th>
            <td class="info-cnt">&nbsp;</td>
            <td>
                <?= $this->modules('company')->accountRoleComboBox()->toField($this->formPrefix('roleId'), (!empty($postData['roleId']) ? $postData['roleId'] : null), array(
                    'id' => $selectUnique,
                    'class' => 'required'
                )) ?>
            </td>
        </tr>
<?      elseif (($account = $this->contactPersonRow->getAccountRow()) != false): ?>
<?      endif; ?>
<?  endif; ?>
<?  if($this->company && $this->contactPersonRow->companyId == $this->company->getId()): ?>
            <tr>
                <th colspan="2" nowrap>Heeft contactpersoon beheerrechten?</th>
                <td>
                    <label>
                        <input type="radio" name="admin" value="1" <?= ($this->contactPersonRow && $this->contactPersonRow->isBeheerder())? ' checked="checked"':'' ?>/>
                        <span>Ja</span>
                    </label>
                    <label>
                        <input type="radio" name="admin" value="0"<?= (!($this->contactPersonRow && $this->contactPersonRow->isBeheerder()))? ' checked="checked"':'' ?>/>
                        <span>Nee</span>
                    </label>
                </td>
            </tr>
<?  endif; ?>
            <tr>
                <th colspan="3">
                    <h4><b><?=$this->translate('Persoonsgegevens')?></b></h4>
<?  if('/company/create/contactperson' == $this->url()): ?>
            <p><?= $this->translate('Vul hier uw persoonlijke gegevens in.<br/>Deze gegevens worden gebruikt voor de ondertekening van uw offertes.<br/>U kunt desgewenst de gegevens later aanpassen of verder aanvullen met meerdere gebruikers. ') ?></p>
<?  endif; ?>
                </th>
            </tr>
        <tr>
            <th colspan="2"><?=$this->translate('Gebruikersnaam')?>:</th>
            <td><?=$account->username?></td>
        </tr>
<tr>
    <th>
<?// if (!$this->createCompanyOwnerContactPerson && empty($this->contactPersonRow) && $this->canHaveAccount && $this->modules('account')->acl('company', 'account', 'create')) :?>
<?// endif; ?>
        <?=$this->translate('Voorletters')?>:
    </th>
    <td class="info-cnt <? if (empty($this->contactPersonRow)) :?>va-bottom<? endif;?>">&nbsp;</td>
    <td class="<? if (empty($this->contactPersonRow)) :?>va-bottom<? endif;?>">
        <? $initials = $this->formPrefix('initials'); ?>
        <input type="text" tabindex="<?=$tabIndex++;?>" name="<?=$initials; ?>" value="<?=!empty($ownerAccount) ? $ownerAccount->prefix : $this->formValue('initials'); ?>"
               class="required letterswithbasicpunc" />
    </td>
</tr>

<tr>
    <th><?=$this->translate('Voornaam')?>:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $firstname = $this->formPrefix('firstname'); ?>
        <input type="text" name="<?=$firstname; ?>" tabindex="<?=$tabIndex++;?>"
               value="<?=!empty($ownerAccount) ? $ownerAccount->firstname : $this->formValue('firstname'); ?>" class="required letterswithbasicpunc" />
    </td>
</tr>

<tr>
    <th><?=$this->translate('Achternaam')?>:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $lastname = $this->formPrefix('lastname'); ?>
        <input type="text" size="40" tabindex="<?=$tabIndex++;?>" name="<?=$lastname; ?>"
               value="<?=!empty($ownerAccount) ? $ownerAccount->lastname : $this->formValue('lastname'); ?>"
               class="required letterswithbasicpunc" />
    </td>
</tr>

<tr>
    <th class="va-top"><?=$this->translate('Geslacht')?>:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <?
        foreach(array(
            Company_Model_ContactPersonRow::MALE,
            Company_Model_ContactPersonRow::FEMALE
        ) as $sex):
            $name = $this->formPrefix('sex'); ?>
            <label>
                <input type="radio"  tabindex="<?=$tabIndex++;?>" name="<?=$name; ?>" value="<?=$sex; ?>"
                    <?if (0 === strcasecmp(!empty($ownerAccount) ? $ownerAccount->sex : $this->formValue('sex'), $sex)): ?>
                        checked="checked"
                    <?endif; ?>
                    class="required"
                />
                <?=ucfirst($sex); ?>
            </label>
        <?endforeach; ?>
    </td>
</tr>
<tr>
    <th><?=$this->translate('Functie')?>:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $function = $this->formPrefix('function'); ?>
        <input type="text" tabindex="<?=$tabIndex++;?>" name="<?=$function; ?>"
               value="<?=!empty($ownerAccount) ? $ownerAccount->function : $this->formValue('function'); ?>"
               class="letterswithbasicpunc" />
    </td>
</tr>
<tr>
    <th><?=$this->translate('Afdeling')?>:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $department = $this->formPrefix('department'); ?>
        <input type="text" tabindex="<?=$tabIndex++;?>" name="<?=$department; ?>"
               value="<?=!empty($ownerAccount) ? $ownerAccount->department : $this->formValue('department'); ?>"
               class="letterswithbasicpunc" />
    </td>
</tr>
<tr>
    <th><?=$this->translate('Direct nummer')?>:</th>
    <td class="info-cnt">
        <a class="icon-info-small" href="#" title="Voer het telefoonnummer in zonder spaties en koppeltekens.">&nbsp;</a>
    </td>
    <td>
        <? $phone = $this->formPrefix('phone'); ?>
        <input type="text" tabindex="<?=$tabIndex++;?>" name="<?=$phone; ?>"
               value="<?=!empty($ownerAccount) ? $ownerAccount->phone : $this->formValue('phone'); ?>"
               class="phoneNL" />
    </td>
</tr>
<tr>
    <th><?=$this->translate('Mobiel nummer')?>:</th>
    <td class="info-cnt">
        <a class="icon-info-small" href="#" title="Voer het telefoonnummer in zonder spaties en koppeltekens.">&nbsp;</a>
    </td>
    <td>
        <? $mobile = $this->formPrefix('mobile'); ?>
        <input type="text" tabindex="<?=$tabIndex++;?>" name="<?=$mobile; ?>" value="<?=$this->formValue('mobile'); ?>"
               class="mobileNL" />
    </td>
</tr>
<tr>
    <th><?=$this->translate('E-mailadres')?>:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
<? $email = $this->formPrefix('email'); ?>
        <input type="text" tabindex="<?=$tabIndex++;?>" size="40" name="<?=$email; ?>"
               value="<?=!empty($ownerAccount) ? $ownerAccount->email : $this->formValue('email'); ?>"
               class="required email3" />
        <script type="text/javascript">
            jQuery(function(){
                $('input[name=email]').change(function(){
                    if (    ($('input[name=username_old]') &&  $('input[name=username_old]').val() == '')
                        &&  $('input[name=username]'))
                    {
                        // copy email as username
                        $('input[name=username]').val( $(this).val() );
                    }
                });
            });
        </script>
    </td>
</tr>
<tr><td colspan="3">&nbsp;</td></tr>
<tr>
    <th class="va-top"><?=$this->translate('Standaard contactpersoon')?>:</th>
    <td class="info-cnt"></td>
    <td>
        <label>
            <input type="radio" tabindex="<?= $tabIndex++ ?>" name="isDefault" value="1" <?if ($this->formValue('isDefault')):?>checked="checked"<?endif;?> disabled="disabled"/>
            Ja
        </label>
        <label>
            <input type="radio" tabindex="<?= $tabIndex++ ?>" name="isDefault" value="0" disabled="disabled"/>
            Nee
        </label>
        <input type="hidden" name="isDefault" value="1"/>
    </td>
</tr>