<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <?= $this->information()->init(false) ?>
        <?= $this->wizardSteps($this->wizard->getSteps()) ?>
    </section>
    <script>
        jQuery(function(){
            $('\
                a#account-update,\n\
                a#logo, \n\
                nav a, \n\
            ').css({
                'xborder'         : '1px solid red',
                'pointer-events' : 'none',
                'cursor'         : 'default',
                'text-decoration': 'none'
            }).on('click', function(e){
                e.preventDefault();
                return false;
            });
        });
    </script>

    <div class="clearfix">
        <article class="content">
            <h5><b>
                <?=$this->translate('Welkom in de offerte-generator van Appalti');?>
            </b></h5>
            <p>
                <?= nl2br($this->translate('Voordat u een offerte kunt genereren, hebben wij eerst enkele standaardgegevens van uw bedrijf nodig. Wij vragen u deze gegevens in te vullen. Dit neemt ongeveer 3 minuten van uw tijd in beslag.')); ?>
            </p>
            <br>
            <p class="text-c">
                <a href="<?= $this->wizard->getFirstStepUrl() ?>" class="btn-big btn-green">
                    <?=$this->translate('Stap 1: bedrijfsgegevens');?>
                </a>
            </p>
        </article>

        <aside class="right">
            <?=$this->pageDescription(array('showDesc' => false));?>
        </aside>
    </div>
</section>
