<?
    $this->formValue()->init();
    if (null !== $this->summary['companyRow']):
        $this->formValue()->setModel($this->summary['companyRow']);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
?>

<table class="width form-fields item-summary">
    <tr>
        <th>
            <h5><strong>Bedrijfsgegevens</strong></h5>
            Bedrijfsnaam:
        </th>
        <td class="va-bottom"><?=$this->formValue('name'); ?></td>
    </tr>
    <tr>
        <th>Bedrijfsvorm:</th>
        <td><?=$this->formValue('form'); ?></td>
    </tr>
    <tr>
        <th>E-mailadres:</th>
        <td>
            <? $email = $this->formValue('email'); ?>
            <? if (!empty($email)): ?>
                <a href="mailto:<?=$email?>"><?=$email?></a>
            <? endif; ?>
        </td>
    </tr>
    <tr>
        <th class="va-top">Uw logo:</th>
        <td>
            <?if (null !== $this->summary['companyRow']): ?>
                <img src="<?=$this->modules('company')->CompanyLogoFileStock($this->summary['companyRow'])->resize(70); ?>" />
            <?endif; ?>
        </td>
    </tr>
    <tr>
        <th>Website:</th>
        <td>
            <? $site = $this->formValue('website'); ?>
            <? if (!empty($site)): ?>
                <a href="http://<?=$site?>" target="_blank"><?=$site;?></a>
            <? endif; ?>
        </td>
    </tr>
    <tr>
        <th>KVK nummer:</th>
        <td><?=$this->formValue('kvk'); ?></td>
    </tr>
    <tr>
        <th>BTW nummer:</th>
        <td><?=$this->formValue('btw'); ?></td>
    </tr>
    <tr>
        <th>Benkrekeningnummer:</th>
        <td>
            <? $row = $this->summary['companyRow']->getCompanyDefaultBankAccountRow(); ?>
            <? if (!empty($row)): echo $row->bankAccount; endif;?>
        </td>
    </tr>
</table>

<br>
<table class="width form-fields item-summary">
    <tr>
        <th>
            <h5><strong>Bezoekadres</strong></h5>
            Straatnaam en huisnummer:
        </th>
        <td class="va-bottom">
            <?=$this->formValue('actualStreet'); ?>&nbsp;<?=$this->formValue('actualHouseNumber'); ?>
        </td>
    </tr>
    <tr>
        <th>Postcode en plaats:</th>
        <td>
            <?=$this->formValue('actualPostCode'); ?>&nbsp;<?=$this->formValue('actualCity'); ?>
        </td>
    </tr>
</table>

<br>
<table class="width form-fields item-summary">
    <tr>
        <th>
            <h5><strong>Postadres</strong></h5>
            Straatnaam & huisnummer:
        </th>
        <td class="va-bottom">
            <?=$this->formValue('postStreet'); ?>&nbsp;<?=$this->formValue('postHouseNumber'); ?>
        </td>
    </tr>
    <tr>
        <th>Postcode & plaats</th>
        <td>
            <?=$this->formValue('postPostCode'); ?>&nbsp;<?=$this->formValue('postCity'); ?>
        </td>
    </tr>
</table>

<?
    if (null !== $this->summary['companyRow']) {
        $contactPerson = $this->summary['companyRow']->getCompanyDefaultContactPersonRow();
    }
?>

<? if ($contactPerson): $this->formValue()->setModel($contactPerson); ?>
    <br>
    <table class="width form-fields item-summary">
        <tr>
            <th>
                <h5><strong>Contactpersoon</strong></h5>
                Volledige naam contactpersoon:
            </th>
            <td class="va-bottom"><?=$this->formValue('fullname'); ?></td>
        </tr>
        <tr>
            <th class="text-gray">Voorletters:</th>
            <td><?=$this->formValue('initials'); ?></td>
        </tr>
        <tr>
            <th class="text-gray">Voornaam:</th>
            <td><?=$this->formValue('firstname'); ?></td>
        </tr>
        <tr>
            <th class="text-gray">Achternaam:</th>
            <td><?=$this->formValue('lastname'); ?></td>
        </tr>
        <tr>
            <th class="text-gray">Geslacht:</th>
            <td><?=ucfirst($this->formValue('sex')); ?></td>
        </tr>
        <tr>
            <th class="text-gray">Titel:</th>
            <td><?=ucfirst($this->formValue('title')); ?></td>
        </tr>
        <tr>
            <th class="text-gray">Functie:</th>
            <td><?=ucfirst($this->formValue('function')); ?></td>
        </tr>
        <tr>
            <th class="text-gray">Afdeling:</th>
            <td><?=ucfirst($this->formValue('department')); ?></td>
        </tr>
        <tr>
            <th class="text-gray">Direct nummer:</th>
            <td><?=ucfirst($this->formValue('phone')); ?></td>
        </tr>
        <tr>
            <th class="text-gray">Mobile nummer:</th>
            <td><?=ucfirst($this->formValue('mobile')); ?></td>
        </tr>
        <tr>
            <th class="text-gray">E-mailadres:</th>
            <td><?= $this->formValue('email') ?></td>
        </tr>
        <tr>
            <th class="text-gray va-top">Pasfoto:</th>
            <td>
                <img src="<?=$this->modules('company')->ContactPersonPhotoFileStock($contactPerson)->resize(70); ?>" />
            </td>
        </tr>
    </table>
<? endif; ?>


<? if (null !== $this->summary['themeRow']): $this->formValue()->setModel($this->summary['themeRow']);?>
    <br>
    <table class="width form-fields item-summary">
        <tr>
            <th>
                <h5><strong>Nummering en geldigheid</strong></h5>
                Nummering
            </th>
            <td class="va-bottom">
                <?=$this->formValue('numeration') === 'YmdHis'? 'Offertenummer' : 'Jaar, Offertenummer';?>
            </td>
        </tr>
        <tr>
            <th>Standaard geldigheid:</th>
            <td><?=$this->formValue('daysValid')?> dagen</td>
        </tr>
        <tr>
            <th>
                <br>
                <h5><strong>Wilt u gebruik maken van</strong></h5>
                Prijsopgave in offerte?
            </th>
            <td class="va-bottom"><?=$this->formValue('includePrice') ? 'Ja' : 'Nee';?></td>
        </tr>
        <tr>
            <th>BTW tarief:</th>
            <td><?=$this->formValue('btw')?>%</td>
        </tr>
        <tr>
            <th>Tijdstoeslagen:</th>
            <td><?=$this->formValue('includeTimeCharge') ? 'Ja' : 'Nee';?></td>
        </tr>
        <? if ($this->formValue('includeTimeCharge')): ?>
            <tr>
                <th class="text-gray va-top">Begeleidende tekst op offerte:</th>
                <td><?=$this->formValue('timeChargeText');?></td>
            </tr>
        <? endif; ?>
        <tr>
            <th>Stelposten:</th>
            <td class="va-bottom"><?=$this->formValue('includeExtraCost') ? 'Ja' : 'Nee';?></td>
        </tr>
        <tr>
            <th>Verzendkosten:</th>
            <td><?=$this->formValue('includeShippingCost') ? 'Ja' : 'Nee';?></td>
        </tr>
        <? if ($this->formValue('includeShippingCost')): ?>
            <tr>
                <th class="text-gray va-top">Begeleidende tekst op offerte:</th>
                <td><?=$this->formValue('shippingCostText');?></td>
            </tr>
        <? endif; ?>
        <tr>
            <th>
                <br>
                Reiskosten:
            </th>
            <td class="va-bottom"><?=$this->formValue('includeTravelingExpenses') ? 'Ja' : 'Nee';?></td>
        </tr>
        <tr>
            <th>Kortingsbedragen:</th>
            <td><?=$this->formValue('includeDiscount') ? 'Ja' : 'Nee';?></td>
        </tr>
        <? if ($this->formValue('includeDiscount')): ?>
            <tr>
                <th class="text-gray va-top">Begeleidende tekst op offerte:</th>
                <td><?=$this->formValue('discountText');?></td>
            </tr>
        <? endif; ?>
        <tr>
            <th>
                <br>
                Levertijd:
            </th>
            <td class="va-bottom"><?=$this->formValue('includeDelivery') ? 'Ja' : 'Nee';?></td>
        </tr>
        <? if ($this->formValue('includeDelivery')): ?>
            <tr>
                <th class="text-gray va-top">Begeleidende tekst op offerte:</th>
                <td><?=$this->formValue('deliveryText');?></td>
            </tr>
        <? endif; ?>
        <tr>
            <th>
                <br>
                Gespreide betalingswijzen:
            </th>
            <td class="va-bottom"><?=$this->formValue('delayedPayment') ? 'Ja' : 'Nee';?></td>
        </tr>
        <tr>
            <th>Overige bijzonderheden:</th>
            <td><?=$this->formValue('includeOtherDetails') ? 'Ja' : 'Nee';?></td>
        </tr>
    </table>
<? endif; ?>

<? if (!empty($this->summary['templates'])):?>
    <br>
    <table class="width form-fields item-summary">
        <tr>
            <th class="va-top"><h5><strong>Gekozen templates</strong></h5></th>
            <td>
                <? if ($this->summary['themeRow']->useCustomTemplate):?>
                    <?=$this->translate('Custom template is used.');?>
                <? else: ?>
                    <ul class="tpl-row row">
                        <? foreach($this->summary['templates'] as $sectionName => $tpl): ?>
                        <li>
                            <?=$sectionName;?>:
                            <br>
                            <img class="tpl-thumb margin-t" src="<?=$tpl['thumb']?>" alt="" />
                            <? if (!empty($tpl['preview'])): ?>
                            <a href="<?=$tpl['preview']?>" class="icon-preview-tpl" title="Preview"></a>
                            <? endif; ?>
                        </li>
                        <? endforeach; ?>
                    </ul>
                <? endif; ?>
            </td>
        </tr>
    </table>
<? endif; ?>

<? if (null !== $this->summary['themeRow']): $this->formValue()->setModel($this->summary['themeRow']);?>
    <br>
    <table class="width form-fields item-summary">
        <tr>
            <th>
                <h5 class="no-margin"><strong>Lettertype</strong></h5>
                Soort lettertype:
            </th>
            <td class="va-bottom"><?=ucfirst($this->formValue('lettertype'));?></td>
        </tr>
        <tr>
            <th><h5 class="no-margin"><strong>Tekstkleuren</strong></h5>
            <td><h5 class="no-margin"><strong>Voorbeeld</strong></h5></td>
        </tr>
        <tr>
            <th>Standaard tekst:</th>
            <td>
                <span style="color: #<?=$this->formValue('textColor');?>;
                             font-family: <?=$this->formValue('lettertype');?>;
                             <?if ($this->formValue('fontSize')):?>font-size: <?=$this->formValue('fontSize');?>pt;<? endif; ?>
                             font-style: <?=$this->formValue('fontStyle');?>;
                             font-weight: <?=$this->formValue('fontWeight');?>;
                             text-decoration: <?=$this->formValue('textDecoration');?>;
                    ">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </span>
            </td>
        </tr>
        <tr>
            <th>Kop 1:</th>
            <td>
                <h1 class="no-margin" style="color: #<?=$this->formValue('h1Color');?>;
                                             font-family: <?=$this->formValue('lettertype');?>;
                                             <?if ($this->formValue('h1FontSize')):?>font-size: <?=$this->formValue('h1FontSize');?>pt;<? endif; ?>
                                             font-style: <?=$this->formValue('h1FontStyle');?>;
                                             font-weight: <?=$this->formValue('h1FontWeight');?>;
                                             text-decoration: <?=$this->formValue('h1TextDecoration');?>;
                    ">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </h1>
            </td>
        </tr>
        <tr>
            <th>Kop 2:</th>
            <td>
                <h2 class="no-margin" style="color: #<?=$this->formValue('h2Color');?>;
                                            font-family: <?=$this->formValue('lettertype');?>;
                                            <?if ($this->formValue('h2FontSize')):?>font-size: <?=$this->formValue('h2FontSize');?>pt;<? endif; ?>
                                            font-style: <?=$this->formValue('h2FontStyle');?>;
                                            font-weight: <?=$this->formValue('h2FontWeight');?>;
                                            text-decoration: <?=$this->formValue('h2TextDecoration');?>;
                    ">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </h2>
            </td>
        </tr>
        <tr>
            <th>Kop 3:</th>
            <td>
                <h3 class="no-margin" style="color: #<?=$this->formValue('h3Color');?>;
                                             font-family: <?=$this->formValue('lettertype');?>;
                                             <?if ($this->formValue('h3FontSize')):?>font-size: <?=$this->formValue('h3FontSize');?>pt;<? endif; ?>
                                             font-style: <?=$this->formValue('h3FontStyle');?>;
                                             font-weight: <?=$this->formValue('h3FontWeight');?>;
                                             text-decoration: <?=$this->formValue('h3TextDecoration');?>;
                    ">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </h3>
            </td>
        </tr>
        <tr>
            <th>Opsomming:</th>
            <td>
                <ul style="color: #<?=$this->formValue('listColor');?>; font-family: <?=$this->formValue('lettertype');?>">
                    <li>The quick brown fox jumps over the lazy dog. 1234567890</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Links:</th>
            <td>
                <a href="#" style="color: #<?=$this->formValue('linkColor');?>; font-family: <?=$this->formValue('lettertype');?>">
                    The quick brown fox jumps over the lazy dog. 1234567890
                </a>
            </td>
        </tr>
        <tr>
            <th><h5 class="no-margin"><strong>Bladopmaak en tabellen</strong></h5></th>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Balk onderaan pagina:</th>
            <td>
                <span style="display: inline-block; width: 102px; height: 18px; background: #<?=$this->formValue('footerBgColor');?>">&nbsp;</span>
                <span style="display: inline-block; width: 20px; height: 18px; background: #<?=$this->formValue('footerAccentColor');?>">&nbsp;</span>
            </td>
        </tr>
        <tr>
            <th>Accentkleur balk onderaan pagina:</th>
            <td>
                <span style="display: inline-block; width: 30px; height: 18px; background: #<?=$this->formValue('footerBgColor');?>">&nbsp;</span>
                <span style="display: inline-block; width: 20px; height: 18px; background: #<?=$this->formValue('footerAccentColor');?>">&nbsp;</span>
                <span style="display: inline-block; width: 20px; height: 18px; background: #<?=$this->formValue('footerAccentColor');?>">&nbsp;</span>
                <span style="display: inline-block; width: 20px; height: 18px; background: #<?=$this->formValue('footerAccentColor');?>">&nbsp;</span>
                <span style="display: inline-block; width: 20px; height: 18px; background: #<?=$this->formValue('footerAccentColor');?>">&nbsp;</span>
            </td>
        </tr>
        <tr>
            <th>Tabelranden:</th>
            <td>
                <table style="width: 90px; font-size: 50%;">
                    <tr>
                        <td style="width: 20px; border-width: 0 1px 1px 0; border-style: solid; border-color: #<?=$this->formValue('tableBorderColor')?>">&nbsp;</td>
                        <td style="width: 80px; border-width: 0 1px 1px 0; border-style: solid; border-color: #<?=$this->formValue('tableBorderColor')?>">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; border-width: 0 1px 0 0; border-style: solid; border-color: #<?=$this->formValue('tableBorderColor')?>">&nbsp;</td>
                        <td style="width: 80px; border-width: 0 1px 0 0; border-style: solid; border-color: #<?=$this->formValue('tableBorderColor')?>">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Achtergrond eerste rij:</th>
            <td>
                <span style="display: inline-block; width: 126px; height: 18px; background: #<?=$this->formValue('tableHeadBgColor');?>">&nbsp;</span>
            </td>
        </tr>
        <tr>
            <th>Tekstkleur eerste rij:</th>
            <td style="font-family: <?=$this->formValue('lettertype');?>">
                <span style="display: inline-block; width: 126px; height: 18px; background: #<?=$this->formValue('tableHeadBgColor');?>">
                    <span style="height: 1.5em; overflow: hidden; display: inline-block; padding: 0 .5em; color: #<?=$this->formValue('tableHeadTextColor');?>">
                        The quick brown fox jumps over the lazy dog. 1234567890
                    </span>
                </span>
            </td>
        </tr>
    </table>
<? endif; ?>
