<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <?= $this->information()->init(false) ?>
        <?= $this->wizardSteps($this->wizard->getSteps()) ?>
    </section>
    <script>
        // disable non-relevant links
        jQuery(function(){
            $('\
                a#account-update,\n\
                a#logo, \n\
                a#logout, \n\
                nav a, \n\
            ').css({
                'xborder'         : '1px solid red',
                'pointer-events' : 'none',
                'cursor'         : 'default',
                'text-decoration': 'none'
            }).on('click', function(e){
                e.preventDefault();
                return false;
            });
        });
    </script>
        <div class="clearfix">
            <article class="content">
                <div style="min-height:150px;">
                    <div style="text-align: center">
                        <p>
                            <?= nl2br($this->translate('<strong>Gefeliciteerd!</strong> U heeft uw gegevens successvol ingevoerd in onze applicatie.<br/><br/>')).PHP_EOL; ?>
                        </p>
                        <a class="btn-green btn-big2 action-create-block" href="/">
                            <?= $this->translate('Mijn dashboard').PHP_EOL ?>
                        </a>
                    </div>
                </div>
                <hr>
                <p class="text-c">
                    <a href="<?=$this->wizard->getPrevStepUrl();?>" class="btn-big btn-gray margin-r">
                        <i class="icon-back"><?=$this->translate('Stap terug');?></i>
                    </a>
                </p>
            </article>
            <aside class="right">
                <?=$this->pageDescription();?>
            </aside>
        </div>
</section>

<div class="modal summary-modal" id="summaryModal">
    <div class="text-c">
        <img src="/layouts/scripts/appalti/main/_resources/images/icon-checked-big.png" alt=""/>
        <br>
        <br>
        <br>
        <h1><?=$this->translate('De basisinstellingen zijn nu ingevoerd.');?></h1>

        <p class="text-dark-gray">
            <?=nl2br($this->translate('
                De volgende stap is om de bibliotheek te vullen met informatie die in de offertes terugkomt.
                In de bibliotheek worden nieuwe teksten gemaakt, aangepast en centraal bewaakt. Daarnaast kunnen er
                documenten (zoals plaatjes en PDF- bestanden) worden geupload.
                Wanneer de bibliotheek is gevuld kunnen offertes worden gemaakt. Uiteraard zijn nieuwe of aanvullende
                documenten te allen tijde toe te voegen aan de bibliotheek.
            '));?>
        </p>
        <hr />
        <br />

        <p class="text-c">
            <a href="<?=$this->wizard->getNextStepUrl();?>" class="btn-big btn-gray text-c margin-r">
                <?=$this->translate('Ga naar dashboard');?>
            </a>
            <a href="/company/library/update/id/<?= $this->libraryRow->getId() ?>" class="btn-big btn-green text-c">
                <?=$this->translate('Ga naar bibliotheek');?>
            </a>
        </p>
    </div>
</div>
<script src="/modules-appalti/company/views/scripts/default/create/_resources/js/summary.js"></script>




