<div id="price">
    <style type="text/css">
        <? include_once __DIR__ . "/css/price.css" ?>
    </style>

    <?
        $translator = new Zend_View_Helper_Translate();
        $includeExtraCosts = (int)$themeRow->includeTimeCharge ||
                             (int)$themeRow->includeExtraCost ||
                             (int)$themeRow->includeShippingCost ||
                             (int)$themeRow->includeTravelingExpenses;
    ?>

    <div id="priceBlock">
        <h1><?=$translator->translate('Prijsopgave');?></h1>
        <br>
        <table class="width proposal-offers">
            <colgroup>
                <col width="40%">
                <col width="*">
                <col width="*">
                <?if((int)$themeRow->includeDiscountPerOffer):?>
                    <col width="*">
                <? endif; ?>
                <col width="20%">
            </colgroup>
            <thead>
                <tr>
                    <th class="offer-name"><?=$translator->translate('Product / Dienst');?></th>
                    <th class="text-r"><?=$translator->translate('Prijs');?></th>
                    <th class="text-r"><?=$translator->translate('Aantal');?></th>
                    <?if((int)$themeRow->includeDiscountPerOffer):?>
                        <th class="text-r"><?=$translator->translate('Korting');?></th>
                    <?endif;?>
                    <th class="text-r"><?=$translator->translate('Totaal');?></th>
                </tr>
            </thead>
            <tbody>
                <?foreach($offers as $offer):?>
                    <tr>
                        <td class="offer-name">
                            <?=htmlspecialchars($offer['name']);?>
                            <? if(!empty($offer['description'])): ?>
                                <br />
                                <small><?=htmlspecialchars(nl2br($offer['description']));?></small>
                            <? endif; ?>
                        </td>
                        <td class="text-r">
                            &euro; <?=number_format($offer['pricePerUnit'] ? $offer['pricePerUnit'] : 0, 2, ',', '.');?>
                        </td>
                        <td class="text-r"><?=number_format($offer['amount'], 2, ',', '.');?></td>
                        <?if ((int)$themeRow->includeDiscountPerOffer):?>
                            <td class="text-r"><?=$offer['discount'] ? number_format($offer['discount'], 2, ',', '.') : 0;?> %</td>
                        <? endif; ?>
                        <td class="text-r">
                            &euro; <?=number_format($offer['pricePerUnit'] * $offer['amount'] * (1 - ($offer['discount'] ? $offer['discount'] : 0) / 100), 2, ',', '.');?>
                        </td>
                    </tr>
                <?endforeach;?>

                <? if ($includeExtraCosts): ?>
                    <tr class="tfoot">
                        <td colspan="<?=(int)$themeRow->includeDiscountPerOffer ? 5 : 4?>" class="text-r">
                            <?=$translator->translate('Subtotaal');?>
                            <span class="subtotal">
                                &euro; <?=number_format($themeRow->subtotalPrice, 2, ',', '.');?>
                            </span>
                        </td>
                    </tr>
                <? else: ?>
                    <? if ((int)$themeRow->includeDiscount && $themeRow->discountValue > 0): ?>
                        <tr class="tfoot">
                            <td colspan="<?=(int)$themeRow->includeDiscountPerOffer ? 4 : 3?>" class="text-r">
                                <?=$translator->translate('Subtotaal');?>
                            </td>
                            <td>
                                <span class="subtotal">
                                    &euro; <?=number_format($themeRow->subtotalPrice, 2, ',', '.');?>
                                </span>
                            </td>
                        </tr>

                        <tr class="tfoot normal">
                            <td colspan="2"><?=$translator->translate('Korting');?></td>
                            <td class="text-r"><?=$themeRow->discountPercentage;?> %</td>
                            <td colspan="2" class="text-r">
                                &minus; &euro; <?=number_format($themeRow->discountValue, 2, ',', '.');?>
                            </td>
                        </tr>
                    <? endif; ?>

                    <tr class="tfoot total">
                        <td class="asterisk" colspan="3">
                            <? if ($themeRow->btwExclusive === 'exclusive'): ?>
                                &nbsp;
                            <? else: ?>
                                <?=$translator->translate('alle genoemde bedragen in deze offerte zijn inclusief BTW');?>
                            <? endif; ?>
                        </td>
                        <td colspan="2" class="text-r">
                            <?=$translator->translate('Totaal');?> &euro; <?=number_format($themeRow->totalPrice, 2, ',', '.');?>
                        </td>
                    </tr>
                <? endif; ?>
            </tbody>
        </table>

        <? if ($includeExtraCosts): ?>
            <? $extraPrice = 0; ?>
            <table class="width proposal-extra-pays">
                <colgroup>
                    <col width="40%">
                    <col width="*">
                    <col width="*">
                    <col width="*">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="2"><?=$translator->translate('Extra kosten');?></th>
                        <th class="text-r"><?=$translator->translate('Percentage');?></th>
                        <th colspan="2" class="text-r"><?=$translator->translate('Totaal');?></th>
                    </tr>
                </thead>
                <tbody>
                    <? if ((int)$themeRow->includeTimeCharge && $themeRow->timeChargesValue > 0) :?>
                        <? $extraPrice += $themeRow->timeChargesValue; ?>
                        <tr>
                            <td colspan="2"><?=$translator->translate('Tijdstoeslagen');?></td>
                            <td class="text-r"><?=$themeRow->timeChargesPercentage;?> %</td>
                            <td colspan="2" class="text-r">&euro; <?=number_format($themeRow->timeChargesValue, 2, ',', '.'); ?></td>
                        </tr>
                    <? endif; ?>

                    <? if ((int)$themeRow->includeExtraCost && $themeRow->extraCostValue > 0) :?>
                        <? $extraPrice += $themeRow->extraCostValue; ?>
                        <tr>
                            <td colspan="2"><?=$translator->translate('Stelposten');?></td>
                            <td class="text-r">
                                <? if ($themeRow->extraCostType === 'percentage') :?>
                                    <?=$themeRow->extraCostPercentageOrValue; ?> %
                                <? endif; ?>
                            </td>
                            <td colspan="2" class="text-r">&euro; <?=number_format($themeRow->extraCostValue, 2, ',', '.');?></td>
                        </tr>
                    <? endif; ?>

                    <? if ((int)$themeRow->includeShippingCost && $themeRow->shippingValue > 0) :?>
                        <? $extraPrice += $themeRow->shippingValue; ?>
                        <tr>
                            <td colspan="3"><?=$translator->translate('Verzendkosten');?></td>
                            <td colspan="2" class="text-r">&euro; <?=number_format($themeRow->shippingValue, 2, ',', '.');?></td>
                        </tr>
                    <? endif; ?>

                    <? if ((int)$themeRow->includeTravelingExpenses && $themeRow->travelingExpensesValue > 0) :?>
                        <? $extraPrice += $themeRow->travelingExpensesValue; ?>
                        <tr>
                            <td colspan="3"><?=$translator->translate('Reiskosten');?></td>
                            <td colspan="2" class="text-r">&euro; <?=number_format($themeRow->travelingExpensesValue, 2, ',', '.'); ?></td>
                        </tr>
                    <? endif; ?>

                    <? if ($extraPrice): ?>
                        <tr class="tfoot">
                            <td colspan="5" class="text-r">
                                <?=$translator->translate('Subtotaal');?>
                                <span class="subtotal">
                                    &euro; <?=number_format($extraPrice, 2, ',', '.');?>
                                </span>
                            </td>
                        </tr>
                    <? endif; ?>

                    <? if ((int)$themeRow->includeDiscount && $themeRow->discountValue > 0): ?>
                        <tr class="tfoot normal">
                            <td colspan="2"><?=$translator->translate('Korting');?></td>
                            <td class="text-r"><?=$themeRow->discountPercentage;?> %</td>
                            <td colspan="2" class="text-r">
                                &minus; &euro; <?=number_format($themeRow->discountValue, 2, ',', '.');?>
                            </td>
                        </tr>
                    <? endif; ?>

                    <tr class="tfoot total">
                        <td class="asterisk" colspan="3">
                            <? if ($themeRow->btwExclusive === 'exclusive'): ?>
                                &nbsp;
                            <? else: ?>
                                <?=$translator->translate('alle genoemde bedragen in deze offerte zijn inclusief BTW');?>
                            <? endif; ?>
                        </td>
                        <td colspan="2" class="text-r">
                            <?=$translator->translate('Totaal');?> &euro; <?=number_format($themeRow->totalPrice, 2, ',', '.');?>
                        </td>
                    </tr>
                </tbody>
            </table>
        <? endif; ?>
        <br />
        <dl>
            <?if ((int)$themeRow->includeExplanation && !empty($themeRow->explanationText)):?>
                <dt><?=$translator->translate('Toelichting');?></dt>
                <dd><?=$themeRow->explanationText;?></dd>
            <?endif;?>

            <?if ((int)$themeRow->includeOptionalItems && !empty($themeRow->optionalItemsText)):?>
                <dt><?=$translator->translate('Optionele zaken');?></dt>
                <dd><?=$themeRow->optionalItemsText;?></dd>
            <?endif;?>

            <?if ((int)$themeRow->includeAdditionalConditions && !empty($themeRow->additionalConditionsText)):?>
                <dt><?=$translator->translate('Extra voorwaarden');?></dt>
                <dd><?=$themeRow->additionalConditionsText;?></dd>
            <?endif;?>

            <?if ((int)$themeRow->delayedPayment && !empty($themeRow->delayedPaymentText)):?>
                <dt><?=$translator->translate('Gespreide betalingswijzen');?></dt>
                <dd><?=$themeRow->delayedPaymentText;?></dd>
            <?endif;?>

            <?if ((int)$themeRow->includeOtherDetails && !empty($themeRow->otherDetailsText)):?>
                <dt><?=$translator->translate('Overige bijzonderheden');?></dt>
                <dd><?=$themeRow->otherDetailsText;?></dd>
            <?endif;?>

            <?if ((int)$themeRow->includeDelivery && !empty($themeRow->deliveryText)):?>
                <dt><?=$translator->translate('Levertijd');?></dt>
                <dd><?=$themeRow->deliveryText;?></dd>
            <?endif;?>
        </dl>
    </div>
</div>