@import "compass/css3";

/*============  Layout  ==============*/
#container {
  @include filter-gradient(#ffffff, #f2f2f2, vertical);
  @include background-image(linear-gradient(top, #ffffff 0%, #f2f2f2 100%));
  @include box-shadow(0 2px 4px -1px #666);
  border: 1px solid #fff;
  border-top-color: #f5f5f5;
  margin: 100px auto 0;
  padding: 20px 20px 50px;
  width: 460px;

  .oldie & {
    border-color: #f3f3f3;
  }
}

#logo {
  background-position: 100% 0;
  float: none;
  margin-bottom: 25px;
  width: auto;
}

form {
  margin: 25px auto 0;
  width: 400px;
}

table.form-fields {
  input[type="text"], input[type="password"] {
    margin: 0;
    width: 235px;
  }
}

#update-password-form {
  th { padding-left: 0; }

  input[type="text"], input[type="password"] {
    margin: 0;
    width: 174px;
  }
}