<!doctype html>
<!--[if IE 7 ]>    <html class="oldie ie7" lang="nl"> <![endif]-->
<!--[if IE 8 ]>    <html class="oldie ie8" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class=lang="nl"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <?=$this->headTitle('Welkom')->setPrefix('Appalti Offertetool  | '); ?>
    <?=$this->headMeta(); ?>
    <link rel="shortcut icon" href="/layouts/scripts/appalti/main/_resources/images/favicon.ico"/>
    <link rel="stylesheet" href="/layouts/scripts/appalti/main/_resources/css/styles.css"/>
    <link rel="stylesheet" href="/layouts/scripts/appalti/auth/_resources/css/styles.css"/>

    <script>
        var _gaq = window._gaq || [];
        window.onerror = function(msg, url, line) {
            var preventErrorAlert = true;
            _gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line]);
            return preventErrorAlert;
        };
    </script>

    <!--[if lte IE 8]>
        <script src="/public/js/shim.js"></script>
    <![endif]-->
    <? if (APPLICATION_ENV == 'production'): ?>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="/public/js/jquery-1.7.2.min.js"%3E%3C/script%3E'));</script>
    <? else: ?>
        <script src="/public/js/jquery-1.7.2.min.js"></script>
    <? endif; ?>

    <script type="text/javascript">
        jQuery.error = function (message) {
            _gaq.push(['_trackEvent', 'jQuery Error', message, navigator.userAgent]);
        }
    </script>

    <? if (APPLICATION_ENV == 'production'): ?>
        <script src="/public/js/jquery-plugins/validate/jquery.validate.min.js"></script>
        <script src="/public/js/jquery-plugins/validate/additional-methods.min.js"></script>
        <script src="/public/js/jquery-plugins/form/jquery.form.observable.min.js"></script>
        <script src="/public/js/jquery-plugins/tooltips/tooltip.min.js"></script>
        <link rel="stylesheet" href="/public/js/jquery-plugins/tooltips/tooltip.css"/>
        <script type="text/javascript" src="/layouts/scripts/appalti/main/_resources/js/Main.js"></script>
    <? else: ?>
        <script src="/public/js/jquery-plugins/validate/jquery.validate.min.js"></script>
        <script src="/public/js/jquery-plugins/validate/additional-methods.min.js"></script>
        <script src="/public/js/jquery-plugins/form/jquery.form.observable.js"></script>
        <script src="/public/js/jquery-plugins/tooltips/tooltip.min.js"></script>
        <link rel="stylesheet" href="/public/js/jquery-plugins/tooltips/tooltip.css"/>
        <script type="text/javascript" src="/layouts/scripts/appalti/main/_resources/js/Main.js"></script>
    <? endif; ?>

</head>
<body>
    <div id="container">
        <a class="ir" id="logo" href="/">Appalti Offertetool</a>
        <?=$this->layout()->content; ?>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33326094-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
