<!doctype html>
<!--[if IE 7 ]>    <html class="oldie ie7" lang="nl"> <![endif]-->
<!--[if IE 8 ]>    <html class="oldie ie8" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class=lang="nl"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <?=$this->headTitle('Error')->setPrefix('Appalti Offertetool  | '); ?>
    <?=$this->headMeta(); ?>
    <link rel="shortcut icon" href="/layouts/scripts/appalti/main/_resources/images/favicon.ico"/>
    <link rel="stylesheet" href="/layouts/scripts/appalti/main/_resources/css/styles.css"/>

    <script>
        var _gaq = window._gaq || [];
        window.onerror = function(msg, url, line) {
            var preventErrorAlert = true;
            _gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line]);
            return preventErrorAlert;
        };
    </script>

    <!--[if lte IE 8]>
        <script src="/public/js/shim.js"></script>
    <![endif]-->
</head>
<body>

<div id="container">
    <header class="text-c">
        <a title="Terug naar de homepage" href="/">
            <img src="/layouts/scripts/appalti/main/_resources/images/logo.png" alt=""/>
        </a>
    </header>

    <section class="main-content">
        <?=$this->layout()->content; ?>
    </section>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33326094-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
