<html>
    <head>
        <title><?= $this->layout()->title ?></title>
        <style>
            a {
                color:#7B2B83;
            }
        </style>
    </head>
    <body style="margin:0; padding:0;font-family:Verdana,Tahoma,​Geneva,​sans-serif;font-size:12px;">
        <table style="background-color:#ffffff;font-size:12px;" border="0" cellspacing="0" cellpadding="0">
            <tr id="header">
                <td rowspan="25">&nbsp;</td>
                <td style="border-bottom: 1px #dddddd dashed">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td style="padding-top:2px;"><a href="http://www.appalti-software.nl"><img src="<?= $this->serverUrl() ?>/layouts/scripts/appalti/main/_resources/images/logo.png" width="240" height="69" alt="Appalti Software"/></a></td>
                        </tr>
                    </table>
                </td>
                <td rowspan="25">&nbsp;</td>
            </tr>
            <tr id="content">
                <td><?= $this->layout()->content ?></td>
            </tr>
            <tr id="footer">
                <td>
                    <table style="border-top: 1px #dddddd dashed" border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td style="font-size:10px;padding-top:2px;">
                                <span>Fokkerstraat 7<span>
                                <span>3833 LD<span>
                                <span>Leusden</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:10px;">
                                <span>T:&nbsp;<a href="tel:+31334345031">033-4345031</a></span>
                                <span>E:&nbsp;<a href="mailto:info@appalti.nl">info@appalti.nl</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
