<!doctype html>
<!--[if IE 7 ]>    <html class="oldie ie7" lang="nl"> <![endif]-->
<!--[if IE 8 ]>    <html class="oldie ie8" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="nl"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <?=$this->headTitle('Welkom')->setPrefix('Appalti Offertetool  | '); ?>
    <?=$this->headMeta(); ?>
    <link rel="shortcut icon" href="/layouts/scripts/appalti/main/_resources/images/favicon.ico"/>
    <? if (APPLICATION_ENV == 'production'): ?>
        <link rel="stylesheet" href="/layouts/scripts/appalti/main/_resources/css/styles.css"/>
    <? else: ?>
        <link rel="stylesheet" href="/layouts/scripts/appalti/main/_resources/css/styles.css"/>
    <? endif; ?>

    <script>
        var _gaq = window._gaq || [];
        window.onerror = function(msg, url, line) {
            var preventErrorAlert = true;
            _gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line]);
            return preventErrorAlert;
        };
    </script>

    <? if (APPLICATION_ENV == 'production'): ?>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="/public/js/jquery-1.7.2.min.js"%3E%3C/script%3E'));</script>
    <? else: ?>
        <script src="/public/js/jquery-1.7.2.min.js"></script>
    <? endif; ?>

    <script type="text/javascript">
        jQuery.error = function (message) {
            _gaq.push(['_trackEvent', 'jQuery Error', message, navigator.userAgent]);
        }
    </script>

    <!--[if lte IE 8]>
        <script src="/public/js/shim.js"></script>
        <script src="/public/js/selectivizr/selectivizr-min.js"></script>
    <![endif]-->

    <!--[if IE ]>
        <script src="/public/js/jquery-plugins/placeholder/jquery.placeholder.min.js"></script>
        <script type="text/javascript">
            window.isIE = true;
        </script>
    <![endif]-->

    <? if (APPLICATION_ENV == 'production'): ?>
        <script src="/public/js/jquery-plugins/validate/jquery.validate.min.js"></script>
        <script src="/public/js/jquery-plugins/validate/additional-methods.min.js"></script>
        <script src="/public/js/jquery-plugins/form/jquery.form.observable.min.js"></script>
        <script src="/public/js/jquery-plugins/tooltips/tooltip.min.js"></script>
        <link rel="stylesheet" href="/public/js/jquery-plugins/tooltips/tooltip.css"/>
        <script src="/public/js/jquery-plugins/resize/jquery.resize.min.js"></script>
        <script src="/public/js/jquery-plugins/modal/modal.min.js"></script>
        <link rel="stylesheet" href="/public/js/jquery-plugins/modal/modal.css"/>
        <script type="text/javascript" src="/layouts/scripts/appalti/main/_resources/js/Main.js"></script>
    <? else: ?>
        <script src="/public/js/jquery-plugins/validate/jquery.validate.min.js"></script>
        <script src="/public/js/jquery-plugins/validate/additional-methods.min.js"></script>
        <script src="/public/js/jquery-plugins/form/jquery.form.observable.js"></script>
        <script src="/public/js/jquery-plugins/tooltips/tooltip.min.js"></script>
        <link rel="stylesheet" href="/public/js/jquery-plugins/tooltips/tooltip.css"/>
        <script src="/public/js/jquery-plugins/resize/jquery.resize.min.js"></script>
        <script src="/public/js/jquery-plugins/modal/modal.min.js"></script>
        <link rel="stylesheet" href="/public/js/jquery-plugins/modal/modal.css"/>
        <script type="text/javascript" src="/layouts/scripts/appalti/main/_resources/js/Main.js"></script>
    <? endif; ?>
        <script type="text/javascript">
            Array.prototype.indexOf = function(obj, start) {
                 for (var i = (start || 0), j = this.length; i < j; i++) {
                     if (this[i] === obj) { return i; }
                 }
                 return -1;
            }
        </script>
        <script type="text/javascript">
            function disableF5(e) { if ((e.which || e.keyCode) === 116) e.preventDefault(); };
            jQuery(function(){
                $('form').on('submit',disableF5);
            });
        </script>
</head>
<body>
<div id="container">
    <header>
        <a class="ir" title="Terug naar de homepage" data-placement="bottom" id="logo" href="/">Appalti Offertetool</a>

        <?
            $account = Zend_Auth::getInstance()->getIdentity();
            $companyRow = $account->getCompanyRow(false);

            $menuDisabled = (!$account->isAdmin() && empty($companyRow)) ||
                            ($account->isCompanyOwner() && (!empty($companyRow) && !$companyRow->isMembershipValid()));
        ?>

<?  if (!empty($account) && !$account->isGuest()): ?>
            <div class="customer-info float-r">
                <? if (!$menuDisabled):?>
                    <div class="clearfix">
<?      if ($companyRow): ?>
                        <div id="<?= $companyRow->getId() ?>"><?= $companyRow->name ?> <?= $companyRow->form ?></div>
<?      endif; ?>
                        <? $contactPerson = $account->getContactPersonRow(false) ?>
                        <img src="<?=$this->modules('company')->ContactPersonPhotoFileStock($contactPerson)->resize(30); ?>" alt="" class="float-r margin-l" id="currentUserPhoto"/>
                        <p class="float-r no-margin text-r">
                            <span class="text-gray">Welkom terug,</span>
                            <span id="customer-fullname">
                                <?=$contactPerson ? $contactPerson->firstname : $account->firstname; ?>
                            </span>
                            <? if (!$account->isAdmin()): ?>
                                <br />
                                <a id="account-update" href="/company/contact-person/update-account/" class="text-gray">Wijzig mijn gegevens</a>
                            <? endif;?>
                        </p>
                    </div>
                <? endif;?>
                <a id="logout" href="<?=$this->baseUrl('/account/authenticate/logout'); ?>" class="float-r margin-t">
                    <span class="icon-logout">&nbsp;</span>Uitloggen
                </a>
            </div>
        <? endif; ?>
    </header>

    <? $sandbox = $this->modules('ap-default'); ?>
    <nav class="main-menu <? if ($menuDisabled): ?>menu-disabled<? endif; ?> <? if ($account->isAdmin()): ?>admin-menu<? endif; ?> clearfix">
        <?= $this->navigation($sandbox->ApMenu())->menu()->setMaxDepth(0); ?>
        <? if ($menuDisabled): ?><div class="menu-overlay"></div><? endif; ?>
    </nav>
<?/**/?>
    <section class="breadcrumbs">
        <?= $this->navigation($sandbox->ApMenu())->breadcrumbs()->setMinDepth(0)->setPartial(array('breadcrumbs.phtml', 'ap-default')); ?>
    </section>
<?/**/?>
    <section class="main-content">
        <?=$this->layout()->content; ?>
    </section>
    <footer>
        <nav>
            <?= $this->navigation($sandbox->ApMenu())->menu()->setMaxDepth(0); ?>
<? if($menuDisabled): ?>
            <div class="menu-overlay"></div>
<? endif; ?>
        </nav>
    </footer>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33326094-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>