@page cover {
  margin: 0;
  padding: 0;
  @top { content: normal }
  @bottom { content: normal }
}

.mce-fullscreen {
  padding: 0 !important;
  width: 210mm !important;
}

#cover {
  page: cover;
  height: 297mm;
  width: 210mm;
  margin: 0;
  overflow: hidden;
  padding: 0;
  page-break-after: always;
}

#cover img {
  display: block;
  margin: 0 auto;
  height: 297mm;
  max-height: 297mm !important;
  width: 210mm !important;
  max-width: 210mm !important;
  prince-image-resolution: 300dpi;
}
