<?=$this->headTitle('File stock')->headTitle('Image configuration'); ?>
<div id="<?=$blockId = uniqid(); ?>">
<form id="image-configuration-form" class="indent-all">
<fieldset>
    <legend><?=$this->translate('Conversion'); ?></legend>
    <table cellspacing="5" class="form-grid" style="width: 500px; margin: 0pt auto;">
    <col width="200" />
    <col width="200" />
    <tr>
        <th><?=$this->translate('Image type'); ?>:<sup>*</sup></th>
        <td><?=$this->formRadio('imagetype', 'pdf', null, array(
            'tif'    => 'TIF',
            'jpg'    => 'JPG',
            'pdf'    => 'PDF'
        ), ' '); ?></td>
    </tr>
    </table>
</fieldset>
<fieldset>
    <legend><?=$this->translate('Thumnail'); ?></legend>
    <table cellspacing="5" class="form-grid" style="width: 500px; margin: 0pt auto;">
    <col width="200" />
    <col width="200" />
    <tr>
        <th><?=$this->translate('Autogenerate thumbs'); ?>:<sup>*</sup></th>
        <td><?=$this->formRadio('imagetype', 'pdf', null, array(
            1    => 'YES',
            0    => 'NO'
        ), ' '); ?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Size'); ?>:<sup>*</sup></th>
        <td class="x-form-field-inline-block">
            <?=$this->formText('sizew', 100, array(
                'data-cfg'     => Zend_Json::encode(array('width' => 60)),
                'data-xtype'   => 'ext.ux.form.spinnerfield'
            )); ?> -
            <?=$this->formText('sizeh', 100, array(
                'data-cfg'     => Zend_Json::encode(array('width' => 60)),
                'data-xtype'   => 'ext.ux.form.spinnerfield'
            )); ?>
        </td>
    </tr>
    </table>
</fieldset>
</form>
</div>
<script type="text/javascript">
Application.require([
    'file-stock/image/configuration'
], function() {
    var layout = new Module.FileStock.ImageConfiguration.Form({
        renderTo: 'content',
        contentEl: '<?=$blockId; ?>',
        height: 600
    });
});
</script>