<? if (empty($this->listOnly)): ?>
<? if ($this->acl('company', 'account', 'create')): ?>
    <div class="box-gray actions-block margin-b">
        <a id="contact-person-create" href="/company/contact-person/create/companyId/<?=$this->company->getId(); ?>" class="btn-green btn-big2">
            <?=$this->translate('Ik wil een nieuwe contactpersoon toevoegen');?>
        </a>
    </div>
<? endif; ?>
<div class="list-container">
    <div class="list-title"><?=$this->translate('Contactpersonen bij');?> <?=$this->company->name; ?></div>
    <? $containerId = uniqid('blockContent_'); ?>
    <div id="<?=$containerId?>">
<? endif; ?>
        <table class="width zebra" id="contact-person-list">
            <thead>
                <tr>
                    <th><?=$this->translate('Naam');?></th>
                    <th><?=$this->translate('Telefoonnummer');?></th>
                    <th><?=$this->translate('E-mailadres');?></th>
                    <th><?=$this->translate('Geslacht');?></th>
                    <th><?=$this->translate('Role');?></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
<? $accountRow = Zend_Auth::getInstance()->getIdentity(); ?>
<? foreach ($this->rowset as $contactPersonRow): ?>
                    <tr id="contact-person-<?=$contactPersonRow->getId();?>">
                        <td class="cp-name"><?=$contactPersonRow->getFullname(); ?></td>
                        <td class="cp-phone"><?=$contactPersonRow->phone; ?></td>
                        <td>
                            <a class="cp-email" href="mailto:<?=$contactPersonRow->email; ?>"
                               title="<?=$this->translate('Stuur een e-mail');?>">
                                <?=$contactPersonRow->email; ?>
                            </a>
                        </td>
                        <td class="cp-sex"><?=ucfirst($contactPersonRow->sex); ?></td>
                        <td class="cp-role"><?=ucfirst($contactPersonRow->getRoleName()); ?></td>
                        <td class="actions">

<?      if ($this->acl('company', 'user', 'update')): ?>
                                <a href="/company/contact-person/update/contactPersonId/<?=$contactPersonRow->getId(); ?><?=$accountRow->isAdmin() ? '/companyId/' . $contactPersonRow->companyId : ''; ?>"
                                   class="icon-edit" title="<?=$this->translate('Bewerken contactpersoon gegevens');?>">&nbsp;</a>
<?      endif; ?>
<?      if ($this->acl('company', 'user', 'delete')): ?>
<?          $response = $contactPersonRow->isDeletable()?>
<?          if ($response['deletable']): ?>
                                <a href="/company/contact-person/delete/format/json/contactPersonId/<?=$contactPersonRow->getId(); ?><?=$accountRow->isAdmin() ? '/companyId/' . $contactPersonRow->companyId : ''; ?>"
                                   class="icon-delete" title="<?=$this->translate('Verwijder contactpersoon');?>">&nbsp;</a>
<?          else: ?>
                                <i class="icon-info-small tip" title="<?=$this->translate($response['msg']);?>">&nbsp;</i>
<?          endif; ?>
<?      endif;?>
                        </td>
                    </tr>
<? endforeach; ?>
            </tbody>
        </table>
        <div class="list-pagination">
            <?=$this->pagination(); ?>
        </div>
<? if (empty($this->listOnly)): ?>
    </div>
    </div>

    <script type="text/javascript">
        AppaltiLayout.blocks.contactPersonListBlockParams = {
            updateElId: '<?=$containerId?>',

            listUpdateParams: {
                companyId: <?=$this->company->getId(); ?>,
                _bid: '<?=$this->blockId; ?>'
            },

            msg: {
                confirmDelete: '<?=$this->translate('Verwijder deze contactpersoon?');?>',
                confirmCancelChanges: '<?=$this->translate('Annuleren contactpersoon gegevens veranderingen?');?>'
            }
        }
    </script>

    <script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
    <script src="/modules-appalti/company/views/blocks/default/_resources/js/contactPersonList.js"></script>
<? endif; ?>


