<table>
    <thead>
        <th>&nbsp;</th>
        <th>Verzonden</th>
        <th>Gevonden</th>
    </thead>
    <tr>
        <th>Bedrijfsnaam: </th>
        <td><?= $this->companyName ?></td>
        <td><?= ($this->companyRow)? trim($this->companyRow->name.' '.$this->companyRow->form):'&nbsp;'?></td>
    </tr>
    <tr>
        <th>Naam</th>
        <td><?= $this->contactpersonName ?></td>
        <td><?= ($this->contactpersonRow)? trim($this->contactpersonRow->firstname.' '.$this->contactpersonRow->lastname):'&nbsp;'?></td>
    </tr>
    <tr>
        <th>Tel.nr.</th>
        <td><?= $this->contactpersonPhone ?></td>
        <td><?= ($this->contactpersonRow)? trim($this->contactpersonRow->phone.' '.$this->contactpersonRow->mobile):'&nbsp;'?></td>
    </tr>
    <tr>
        <th>E-mailadres</th>
        <td><?= $this->contactpersonEmail ?></td>
        <td><?= ($this->contactpersonRow)? $this->contactpersonRow->email:'&nbsp;'?></td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Onderwerp</th>
        <td colspan="2"><?= $this->subject ?></td>
    </tr>
    <tr>
        <th>Bericht</th>
        <td colspan="2"><?= $this->message ?></td>
    </tr>
</table>