<?php

    echo $this->information()->init();

    $this->formValue()->init();
    if (NULL != $this->row):
        $this->formValue()->setModel($this->row);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formPrefix()->init('');

    echo $this->tinyMCE(array(
        'id'                    => $tmceid = uniqid(),
        'save_onsavecallback'   => "NewsText.tinymce.ajaxSave",
        'width'                 => '635',
        'css'                   => '/layouts/scripts/appalti/main/_resources/css/styles.css',
        'plugins_data'  => array(
            'quickupload' => array(
                'action' => '/news/news-file-stock/quick-upload',
                'itemName' => 'news',
                'itemId' => $this->formValue('id')
            ),
        ),
    ));
?>

<div>

    <h1>
        <? if ($this->row == NULL): ?>
            <?=$this->translate('Wijzig nieuwsbericht');?>
        <? else: ?>
            <?=$this->translate('Update nieuwsbericht');?>
        <? endif; ?>
    </h1>
    <form  action="/news/index/<?=empty($this->row) ? 'create' : 'update'; ?>" id="create-news-form" class="validatable" method="post" enctype="multipart/form-data">
       <?if ($this->row != NULL):?>
            <input type="hidden" name="newsId" value="<?=$this->row->getId();?>">
       <?endif?>
        <table class="form-fields">
            <colgroup>
                <col width="15%">
                <col width="2%">
                <col width="*">
            </colgroup>
            <tr>
                <th><?=$this->translate('Titel nieuwsbericht');?></th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <input type="text"
                           size="102"
                           maxlength="40"
                           name="<?=$this->formPrefix('title'); ?>"
                           value="<?=$this->formValue('title'); ?>"
                           class="required"/>
                </td>
            </tr>

            <tr>
                <th><?=$this->translate('Gebubliceerd');?></th>
                <td class="info-cnt"></td>
                <td>
                    <label class="inline">
                        <input type="radio" name="isActive" value="1" <?if ($this->formValue('isActive')):?> checked="checked" <?endif?> />
                        <?=$this->translate('Ja');?>
                    </label>
                    <label class="inline">
                        <input type="radio" name="isActive" value="0" <?if (!$this->formValue('isActive')):?> checked="checked" <?endif?> />
                        <?=$this->translate('Nee');?>
                    </label>
                </td>
            </tr>

            <tr>
                <th><?=$this->translate('Periode: van - t/m');?></th>
                <td class="info-cnt">&nbsp;</td>
                <td>
                    <?
                        $id = uniqid();
                        $rangeToId = uniqid();
                        $rangeFromId = uniqid();
                    ?>

                    <input type="hidden" id="<?=$id;?>" name=<?=$this->formPrefix('startPublish')?> value="<?=$this->formValue('startPublish')?>" />
                    <input type="text" class="datepicker dateRange icon-datepicker required"
                           id="<?=$rangeFromId; ?>" value="<?=$this->formatDate($this->formValue('startPublish')); ?>" size="19"
                           data-range-to="#<?=$rangeToId;?>"
                           data-alt-field="#<?=$id;?>"
                           data-change-year="true"
                           data-show-button-panel="true"
                           data-change-month="true" />
                    &nbsp;-&nbsp;
                    <?$id = uniqid();?>
                    <input type="hidden" id="<?=$id;?>" name=<?=$this->formPrefix('endPublish')?> value="<?=$this->formValue('endPublish')?>" />
                    <input type="text" class="datepicker dateRange icon-datepicker"
                           id="<?=$rangeToId;?>" value="<?=$this->formatDate($this->formValue('endPublish')) ?>" size="19"
                           data-alt-field="#<?=$id;?>"
                           data-range-from="#<?=$rangeFromId;?>"
                           data-change-year="true"
                           data-show-button-panel="true"
                           data-change-month="true" />
                </td>
            </tr>
            <tr>
                <th class="va-top"><?=$this->translate('Beschrijving');?>:</th>
                <td class="info-cnt va-top">&nbsp;</td>
                <td><textarea name="desc" cols="99" rows="5" class="required"><?= $this->formValue('desc'); ?></textarea></td>
            </tr>

            <tr>
                <th class="va-top"><?=$this->translate('Bericht');?>:</th>
                <td class="info-cnt va-top">&nbsp;</td>
                <td><textarea name="text" class="tinymce required width"><?= $this->formValue('text'); ?></textarea></td>
            </tr>
        </table>
        <hr />
        <p class="text-c">

            <a href="/ap-default/index/news-and-events" class="btn-big btn-gray margin-r">
                <span class="icon-back"><?=$this->translate('Terug');?></span>
            </a>
            <button class="btn-big margin-r" type="submit" name="preview" value="0">
                <span class="icon-save"><?=$this->translate('Opslaan');?></span>
            </button>

            <button class="btn-big margin-r" type="submit" name="preview" value="1">
                <span class="icon-zoom"><?=$this->translate('Bekijk preview');?></span>
            </button>
        </p>
    </form>
</div>
<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src="/modules-appalti/news/views/scripts/default/index/_resources/js/Form.js"></script>

<link rel="stylesheet" href="/public/js/jquery-ui/datepicker/css/datepicker.css"/>
<script src="/public/js/jquery-ui/datepicker/jquery-ui-datepicker.min.js"></script>
<script src="/public/js/jquery-ui/datepicker/i18n/jquery.ui.datepicker-nl.js"></script>