<section class="cols-2">
    <?=$this->information()->init();?>
    <div class="clearfix">
        <article class="content">
            <div class="box">
                <h1>Nieuwsarchief</h1>

                <div class="zebra">
                    <? foreach($this->rowset as $k => $row): ?>
                        <div class="news-item <?if ($k % 2 !== 0):?>even<?endif;?>">
                            <h4><b><?=$row['title']?></b></h4>
                            <p class="text-dark-gray">
                                <span class="text-black"><?=$this->formatDate($row['startPublish'], array('locale' => 'nl_NL'));?></span>&nbsp;
                                <?=$row['desc'];?>
                            </p>
                            <a class="icon-arrow-right readmore" href="/news/index/preview/newsId/<?=$row['id']?>">
                                Lees verder
                            </a>
                        </div>
                    <? endforeach; ?>
                </div>
                <br>
                <?=$this->pagination();?>
            </div>
        </article>

        <aside class="right">
            <?=$this->pageDescription(array('showDesc' => false));?>
        </aside>
    </div>
</section>