<section>
    <link rel="stylesheet" href="/modules/application/views/helpers/appalti/pagination/skins/basic/style.css"/>
    <?=$this->information()->init();?>
    <article class="box">
        <div class="clearfix">
            <h1 class="float-l"><?=$this->row['title']?></h1>
            <a class="btn-big text-c float-r" href="/news/index/index/">
                <?=$this->translate('Terug naar nieuwsarchief');?>
            </a>
        </div>

        <div class="margin-t">
            <span class="text-pink"><?=$this->formatDate($this->row['startPublish'], array('locale' => 'nl_NL'))?></span>
            <div class="article"><?=$this->row['text']?></div>
        </div>
        <br>
        <div class="pagination-bar">
            <a class="previous-page" href="/news/index/previous/newsId/<?=$this->row['id']?>">
                <?=$this->translate('Vorige bericht');?>
            </a>
            &nbsp;|&nbsp;
            <a class="next-page" href="/news/index/next/newsId/<?=$this->row['id']?>">
                <?=$this->translate('Volgende bericht');?>
            </a>
        </div>
    </article>
</section>

