<? include_once __DIR__ . '/../settings.phtml'; ?>

<div id="content">
    <? if ($this->_proposalTheme->includePersonalIntro()): ?>
        <? if (!empty($this->_proposalTheme->personalIntroductionHeader)): ?>
            <h1><?=htmlspecialchars($this->_proposalTheme->personalIntroductionHeader);?></h1>
        <? endif; ?>
        <?=$this->_proposalTheme->personalIntroduction; ?>
        <div style="page-break-after:always;"></div>
    <? endif; ?>

    <? include __DIR__ . '/../blocks.phtml'; ?>
</div>

