<div class="contentBlocks">
    <? foreach($metadata as $ii => $blockDefinitionRow): ?>
        <? if ($blockDefinitionRow instanceof Proposal_Model_ProposalBlockDefinition): ?>
            <?if($blockDefinitionRow->hasPageBreak() && $ii != 0): ?>
                <div style="page-break-before: always;"></div>
            <?endif; ?>

            <?if (!$blockDefinitionRow->isFitable() && empty($noTitles)): ?>
                <?=$blockDefinitionRow->getTitleWithTag();?>
            <?endif; ?>

            <? if ($blockDefinitionRow->kind === 'file'):?>
                <div class="center-img">
            <? endif;?>

            <?=$blockDefinitionRow->getMetadata(); ?>

            <? if ($blockDefinitionRow->kind === 'file'):?>
                </div>
            <? endif;?>
        <? else: ?>
            <?=$blockDefinitionRow; ?>
        <? endif;?>
    <? endforeach; ?>
</div>
