<div class="<?=$settings->scope;?>PageFooter">
    <? if (!empty($clientCompany) && $clientCompany->hasUploadedLogo()) : ?>
        <div class="clientLogo<?=ucfirst($settings->scope);?>Footer">
            <img src="<?=$clientCompany->getBase64EncodedLogo()?>" />
        </div>
    <? endif; ?>
    <div class="paging"></div>
</div>
