<div class="<?=$settings->scope;?>PageHeader">
    <? if (!empty($clientCompany) && $clientCompany->hasUploadedLogo()) : ?>
        <div class="clientLogo<?=ucfirst($settings->scope);?>Header">
            <img src="<?=$clientCompany->getBase64EncodedLogo()?>" />
        </div>
    <? endif; ?>
</div>
