<!DOCTYPE HTML>
<html lang="nl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css">
        /* Font start */
        <? include APPLICATION_PATH . "/data/public-templates/common/css/fonts/". $themeRow->lettertype . ".css" ?>
        /* Font end */

        /* Reset start */
        <? include APPLICATION_PATH . "/data/public-templates/common/css/reset.css" ?>
        /* Reset end */

        /* Inbetween start */
        <? include APPLICATION_PATH . "/data/public-templates/common/css/inbetween.css" ?>
        /* Inbetween end */

        /* Common start */
        <? include __DIR__ . "/css/common.css" ?>
        /* Common end */
    </style>

    <!-- Theme styles start -->
        <?=$themeRow; ?>
    <!-- Theme styles end -->
</head>
<body>
    <? if (!empty($contentHtml)): ?>
        <?=$contentHtml;?>
    <? endif; ?>
</body>
</html>