<div id="ToCbox">
    <script type="text/javascript">
        <? include_once APPLICATION_PATH . "/data/public-templates/common/js/toc.js" ?>
    </script>
    <style type="text/css">
        <? include_once __DIR__ . "/css/toc.css" ?>
    </style>
    <div id="tocBlock">
        <h4 notoc="notoc">Inhoudopgave</h4>
    </div>
</div>