<ul class="main-menu half-margin-l">
<?foreach($this->response->getRowset() as $menuRow): ?>
    <li>
        <a href="<?=$menuRow['link']; ?>"><?=$this->escape($menuRow['name']); ?></a>
    </li>
<?endforeach; ?>
</ul>

<?/*
<ul class="main-menu half-margin-l">
    <li>
        <a href="#">Item 1</a>
        <ul class="sub">
            <li><a href="#">Sub1</a></li>
            <li>
                <a href="#">SubItem 2</a>
                <ul class="sub">
                    <li><a href="#">Sub SubItem 1</a></li>
                    <li><a href="#">Sub SubItem 2</a></li>
                    <li><a href="#">Sub SubItem 3</a></li>
                </ul>
            </li>
            <li><a href="#">SubItem 3</a></li>
            <li><a href="#">SubItem 4</a></li>
            <li><a href="#">SubItem 5</a></li>
        </ul>
    </li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3</a></li>
    <li><a href="#">Item 4</a></li>
</ul>
*/