@page price {
  margin: 150px 25mm 100px;
  size: A4;
  page-break-before: always;
  page-break-after: always;
}

#price { page: price; }

#price img { max-height: 100%; }

#price .width { width: 100%; }

#price .text-r { text-align: right !important; }

#price .footnote {
  color: #d3d3d3;
  font-size: 8px;
  font-weight: 400;
}

#price table { border: 0 !important; }

#price tr > * { padding: 5px 5px 5px 25px; }

#price table th {
  border-bottom: 1px solid #000 !important;
  border-width: 0 0 1px !important;
  color: #000;
  text-align: left;
}

#price table thead th {
  border-bottom: 0 !important;
}

#price table td {
  border: 1px dotted #A9A9AB !important;
  border-width: 0 0 1px !important;
}

#price .tfoot { font-weight: 700; }

#price .tfoot td {
  border: 1px solid #000 !important;
  border-width: 1px 0 !important;
}

#price .proposal-offers td { white-space: nowrap; }
#price .proposal-offers .offer-name { white-space: normal; }

#price small {
  color: #a9a9a9;
  font-size: 11px;
  height: 3em;
  overflow: hidden;
  white-space: normal;
}

#price .proposal-extra-pays tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
}
#price .total {
  color: #000;
  font-size: 15px !important;
}
#price .total td {
  border: 0 !important;
  vertical-align: middle;
  white-space: nowrap;
}
#price .normal { font-weight: 400; }

#price .asterisk {
  color: #f00;
  font-size: 10px !important;
  font-weight: 400;
}

#price .subtotal {
  display: inline-block;
  text-align: right;
  width: 150px;
}

#price dl { font-size: 11px; }

#price dt {
  border-bottom: 1px dotted #A9A9AB;
  margin-top: 10px;
}

#price dt:first-child { magin: 0; }

#price dt:last-child { border: 0; }

#price dd {
  color: #A9A9AB;
  font-weight: 400;
  padding-left: 1em;
}