<div id="header">
    <style type="text/css">
        <? include __DIR__ . "/css/header.css" ?>
    </style>

    <? if (!empty($clientCompany)) : ?>
        <img id="headerLeft" src="<?=$clientCompany->getBase64EncodedLogo()?>" alt=""/>
    <? endif; ?>

    <? if (!empty($company)) : ?>
        <img id="headerRight" src="<?=$company->getBase64EncodedLogo()?>" alt=""/>
    <? endif; ?>
</div>
