<!DOCTYPE HTML>
<html lang="nl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css">
        <? include __DIR__ . "/../common/css/reset.css" ?>
        <? include __DIR__ . "/../common/css/inbetween.css" ?>
    </style>

    <!-- Theme styles start -->
    <?=$this->_proposalTheme; ?>
    <!-- Theme styles end -->
</head>
<body>
    <? require __DIR__ . "/header.phtml"; ?>
    <? require __DIR__ . "/footer.phtml"; ?>

    <? if (!empty($contentHtml)): ?>
        <?=$contentHtml;?>
    <? endif; ?>
</body>
</html>