<?php

echo $this->information()->init();

$this->formValue()->init();
if (null !== $this->writerRow):
    $this->formValue()->setModel($this->writerRow);
else:
    $this->formValue()->omitNullableModel(true);
endif;

$this->formPrefix()->init('');


?>

<form action="/text-writer/index/create/format/json" class="validatable contact-person-create"
      method="post" enctype="multipart/form-data">

    <table class="width form-fields">
        <tr>
            <th colspan="3">
                <h4 class="float-l"><strong>Nieuw tekstschrijver aanmaken</strong></h4>
                <span class="ajax-preloader">&nbsp;</span>
            </th>
        </tr>

        <? require_once __DIR__ . '/create.field.phtml'; ?>
    </table>
    <hr/>
    <p class="text-c">
        <button type="submit" class="btn-big text-c">
            <span class="icon-save">Opslaan</span>
        </button>

        <br/>
        <br/>
        <small>Of <a href="/lib" data-dismiss="modal">annuleer</a></small>
    </p>
</form>
