<?php

/**
 * Present a list of available fields
 *
 * We are expecting the writerRow in this template
 * The helpers whould be initialized in the parent views
 */

$selectUnique = uniqid();

$postData = empty($namespace) || empty($this->formSubmittedPostData['writer'][$namespace])
    ? array()
    : $this->formSubmittedPostData['writer'][$namespace];

?>



<? if (empty($this->writerRow)): ?>
    <tr>
        <th colspan="3"><h4>Inloggegevens</h4></th>
    </tr>

    <tr class="tr-<?=$selectUnique;?>">
        <th>Emailadres:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <?
                $username = $this->formPrefix('username');
                $username_old = $this->formPrefix('username_old');
                $usernameOldValue = empty($postData['username_old']) ? '' : $postData['username_old'];
                $usernameValue = empty($postData['accountId']) ? (
                    empty($postData['username']) ? '' : $postData['username']
                ) : '';
            ?>
            <input type="hidden" name="<?=$username_old; ?>" value="<?=$usernameOldValue; ?>"/>
            <input type="text"
                   name="<?=$username; ?>"
                   value="<?=$usernameValue; ?>"
                   data-remoteValidation="/account/main/check-username-account-free"
                   data-invalidMessage="Gebruikersnaam bestaat al"
                   class="required email3 account-field-<?=$selectUnique;?>"/>
        </td>
    </tr>
    <tr class="tr-<?=$selectUnique;?>">
        <th>Wachtwoord:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <? $password = $this->formPrefix('password'); ?>
            <input type="password" name="<?=$password; ?>" value="<?=
                empty($postData['accountId']) ? (
                empty($postData['password']) ? '' : $postData['password']
                ) : '';
                ?>" class="required account-field-<?=$selectUnique;?>"/>
        </td>
    </tr>
    <tr class="tr-<?=$selectUnique;?>">
        <th>Herhaal wachtwoord:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <? $repassword = $this->formPrefix('confirmPassword'); ?>
            <input type="password" name="<?=$repassword; ?>" value="<?=
                empty($postData['accountId']) ? (
                empty($postData['confirmPassword']) ? '' : $postData['confirmPassword']
                ) : '';
                ?>" class="required  account-field-<?=$selectUnique;?>"/>
        </td>
    </tr>

    <? else: ?>
        <tr>
            <th>Emailadres:</th>
            <td class="info-cnt va-bottom">&nbsp;</td>
            <td colspan="2"><?=$this->formValue('username')?></td>
        </tr>
<? endif; ?>

<tr>
    <th>
        <br />
        <h4>Basisgegevens</h4>
        Bedrijfsnaam:
    </th>
    <td class="info-cnt va-bottom">&nbsp;</td>
    <td class="va-bottom">
        <? $department = $this->formPrefix('department'); ?>
        <input type="text" name="<?=$department; ?>" value="<?=$this->formValue('department'); ?>"
               class="required"/>
    </td>
</tr>
<tr>
    <th>Voornaam:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $firstname = $this->formPrefix('firstname'); ?>
        <input type="text" name="<?=$firstname; ?>"
               value="<?=$this->formValue('firstname'); ?>" class="required"/>
    </td>
</tr>
<tr>
    <th>Achternaam:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $lastname = $this->formPrefix('lastname'); ?>
        <input type="text" name="<?=$lastname; ?>" value="<?=$this->formValue('lastname'); ?>"
               class="required"/>
    </td>
</tr>
<tr>
    <th class="va-top">Geslacht:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <?foreach (array(
        Company_Model_ContactPersonRow::MALE,
        Company_Model_ContactPersonRow::FEMALE
    ) as $sex):
        $name = $this->formPrefix('sex'); ?>
        <label>
            <input type="radio" name="<?=$name; ?>" value="<?=$sex; ?>"
                <?if (0 === strcasecmp($this->formValue('sex'), $sex)): ?>
                   checked="checked"
                <? endif; ?>
                   class="required"
                />
            <?=ucfirst($sex); ?>
        </label>
        <? endforeach; ?>
    </td>
</tr>
<?/*
<tr>
    <th>Functie:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $function = $this->formPrefix('function'); ?>
        <input type="text" name="<?=$function; ?>" value="<?=$this->formValue('function'); ?>"
               class="<?=$this->information()->toCls($function); ?>"/>
    </td>
</tr>
*/?>
<tr>
    <th>Mobiel nummer:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $mobile = $this->formPrefix('phone'); ?>
        <input type="text" name="<?=$mobile; ?>" value="<?=$this->formValue('phone'); ?>"
               class="<?=$this->information()->toCls($mobile); ?>"/>
    </td>
</tr>
<tr>
    <th>E-mailadres:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $email = $this->formPrefix('email'); ?>
        <input type="text" name="<?=$email; ?>" value="<?=$this->formValue('email'); ?>"
               class="required email3"/>
    </td>
</tr>

</tr>
    <th>Site:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $website = $this->formPrefix('website'); ?>
        <input type="text" name="<?=$website; ?>" value="<?=$this->formValue('website'); ?>"
               class="url3"/>
    </td>
</tr>

<tr>
    <th class="va-top">Actief:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <?foreach (array(
        '1','0'
    ) as $active):
        $name = $this->formPrefix('isActive'); ?>
        <label>
            <input type="radio" name="<?=$name; ?>" value="<?=$active; ?>"
                <?if (0 === strcasecmp($this->formValue('isActive'), $active)): ?>
                   checked="checked"
                <? endif; ?>
                   class="required"
                />
            <?if ($active == '1'): echo 'Ja' ?>
            <?else: echo 'Nee' ?>
            <?endif?>
        </label>
        <? endforeach; ?>
    </td>
</tr>




