<? if (!empty($this->rowset)): ?>
    <? foreach ($this->rowset as $row): ?>
        <tr>
            <td>
                <?=$row['createdDatetime'] ?>
            </td>
            <td>
                <?= $row['companyName'];?>
            </td>
            <td>
                <?=$row['serviceName']; ?>
            </td>

            <td>
                <?=$row['status'];?>
            </td>


            <td class="actions">
                <a href="/text-writer/index/details/writerId/<?=$row['id'];?>">
                    <span class="icon-zoom">&nbsp;</span>
                </a>


                <a href="/text-writer/index/delete/writerId/<?=$row['id'];?>">
                    <span class="icon-send">&nbsp;</span>
                </a>

            </td>
        </tr>
    <? endforeach; ?>
<? else: ?>
    <tr>
        <td colspan="20">Geen</td>
    </tr>
<? endif; ?>
