<?=$this->information()->init(); ?>

<h1><?=$this->translate('Details tekstschrijver');?>:<?=$this->writer['fullname']?></h1>
<div class="list-form">
    <form action="/text-writer/index/update/writerId/<?=$this->writer['id']?>" method="post">
        <label class="inline margin-r"><?=$this->translate('Tekstschrijver actief/niet actief');?>:</label>
        <select name="isActive" class="no-margin">
            <option value="1" <?if ($this->writer['isActive']): ?>selected="selected"<? endif;?>>Actief</option>
            <option value="0" <?if (!$this->writer['isActive']): ?> selected="selected"<? endif;?>>Niet actief</option>
        </select>
        <input type="submit" value="Status opslaan" class="margin-l">
    </form>
</div>

<div class="accordion">
    <h4 class="accordion-section-title">
        <a href="#writerDetails"><?=$this->translate('Gegevens tekstschrijver');?></a>
    </h4>
    <div class="accordion-section">
        <br>
        <form id="writerForm" action="/text-writer/index/update/writerId/<?=$this->writer['id']?>" method="post">
            <table class="form-fields width">
                <tr>
                    <th><?=$this->translate('Bedriijfsnaam');?>:</th>
                    <td>
                        <input type="text" size="30" name="department" value="<?=$this->writer['department']?>">
                    </td>
                </tr>
                <tr>
                    <th class="va-bottom">
                        <br>
                        <h4><?=$this->translate('Contactpersoon');?>:</h4>
                        <?=$this->translate('Voornaam persoon');?>:
                    </th>
                    <td class="va-bottom">
                        <input type="text" size="30" name="firstname" value="<?=$this->writer['firstname']?>">
                    </td>
                </tr>
                <tr>
                    <th><?=$this->translate('Achternaam persoon');?>:</th>
                    <td><input type="text" size="30" name="lastname" value="<?=$this->writer['lastname']?>"></td>
                </tr>

                <tr>
                    <th><?=$this->translate('E-mailadres');?>:</th>
                    <td><input type="text" size="30" name="email" value="<?=$this->writer['email']?>"></td>
                </tr>

                <tr>
                    <th><?=$this->translate('Telefoonnummer');?>:</th>
                    <td><input type="text" name="phone" value="<?=$this->writer['phone']?>"></td>
                </tr>
                <tr>
                    <th><?=$this->translate('Website');?>:</th>
                    <td><input type="text" class="url3" size="30" name="website" value="<?=$this->writer['website']?>"></td>
                </tr>
            </table>
        </form>
        <br>
    </div>

    <h4 class="accordion-section-title">
        <a href="#writerTickets"><?=$this->translate('Gekoppelde suppportvragen');?></a>
    </h4>
    <div class="accordion-section">
        <?=$this->block('writer-ticket-list', array(), 'support-ticket', true)->getBlockObj(); ?>
    </div>
</div>
<br>
<hr>
<p class="text-c">
    <a href="/text-writer/index" class="btn-big btn-gray margin-r">
        <i class="icon-back"><?=$this->translate('Overzicht tekstschrijvers');?></i>
    </a>
    <a href="#" onclick="document.forms.writerForm.submit()" class="btn-big margin-r">
        <i class="icon-save"><?=$this->translate('Opslaan');?></i>
    </a>
</p>
<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
