<?php
    echo $this->information()->init();

    $this->formValue()->init();
    if (null !== $this->writerRow):
        $this->formValue()->setModel($this->writerRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formPrefix()->init('');
?>


<form action="/text-writer/index/edit/format/json" class="contact-person-create validatable" method="post">

    <input type="hidden" name="writerId" value="<?=$this->writerRow->getId()?>">

    <table class="width form-fields">
        <? require_once __DIR__ . '/create.field.phtml'; ?>
    </table>
    <hr />
    <p class="text-c">
        <button class="btn-big" type="submit">
            <span class="icon-save">Opslaan</span>
        </button>

        <br />
        <br />
        <small>Of <a href="/lib" data-dismiss="modal">annuleer</a></small>
    </p>
</form>