<?= $this->information()->init(); ?>
<div class="list-container">
    <div class="box-gray actions-block margin-b">
        <a id="writer-create" href="/text-writer/index/create/" class="btn-big2">
            Ik wil een nieuwe tekstschrijver toevoegen
        </a>
    </div>
    <div class="list-title text-l">Alle tekstschrijvers</div>
    <div class="list-form">
        <?=$this->formFilterSearch('department, fullname, email', 'stringfree', array('placeholder' => 'Zoeken een tekstschrijver')); ?>
    </div>

    <table class="width zebra" id="writer-list">
        <thead>
            <tr>
                <th>Bedriijfsnaam</th>
                <th>Persoonsnaam</th>
                <th>Telefoon</th>
                <th>E-mail</th>
                <th>Vraagen</th>
                <th>(Afgehandeld / Open)</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <? if (!empty($this->rowset)): ?>
                <? foreach ($this->rowset as $row): ?>
                    <tr id="writer-<?=$row['id']?>">
                        <td class="wr-department">  <?=$row['department'] ?>    </td>
                        <td class="wr-name">        <?= $row['fullname'];?>     </td>
                        <td class="wr-phone">       <?=$row['phone']; ?>       </td>
                        <td class="wr-email">
                            <a href="mailto:<?=$row['email'];?>"><?=$row['email'];?></a>
                        </td>
                        <td class="wr-count"><?=$row['count']?></td>
                        <td class="wr-resolved text-dark-gray">(<?=$row['count']-$row['close']?>/<?=$row['close']?>)</td>
                        <td class="actions">
                            <a class="icon-zoom" href="/text-writer/index/details/writerId/<?=$row['id'];?>" title="Meer details">&nbsp;</a>
                            <a class="icon-edit" href="/text-writer/index/edit/writerId/<?=$row['id'];?>" title="Bewerken">&nbsp;</a>
                            <a  class="icon-delete" href="/text-writer/index/delete/writerId/<?=$row['id'];?>" title="Verwijder">&nbsp;</a>
                        </td>
                    </tr>
                <? endforeach; ?>
            <? else: ?>
                <tr>
                    <td colspan="7">&nbsp;</td>
                </tr>
            <? endif; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
</div>
<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src="/modules-appalti/text-writer/views/scripts/default/index/_resources/js/WriterForm.js"></script>


