<?
echo $this->information()->init();

$this->formValue()->init();
$this->formValue()->omitNullableModel(true);
$this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<h2><?=$this->translate(sprintf('Supportvraag #%s detailinformatie', $this->ticket['id']));?></h2>
<table class="form-fields th-right">
    <tr>
        <th>
            <h4><?=$this->translate('Aanvraag gedaan door');?></h4>
            <?=$this->translate('Bedrijf');?>:
        </th>
        <td class="va-bottom"><?=$this->ticket['companyName'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Contactpersoon');?>:</th>
        <td><?=$this->ticket['cpFirstname'];?>  <?=$this->ticket['cpLastname'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('E-mailadres');?>:</th>
        <td><?=$this->ticket['cpEmail'];?></td>
    </tr>
    <tr>
        <th>
            <br>
            <h4><?=$this->translate('Informatie aanvraag');?></h4>
            <?=$this->translate('Soort aanvraag');?>:
        </th>
        <td class="va-bottom">
            <?=$this->ticket['serviceName'];?>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Deadline opdracht');?>:</th>
        <td><?=$this->ticket['priority'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Aantal pagina\'s');?>:</th>
        <td><?=$this->ticket['numberOfPages'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Doel van de tekst');?>:</th>
        <td><?=$this->ticket['aimOfText'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Aantal mensen die tekst gaan lezen');?>:</th>
        <td><?=$this->ticket['amountOfPeople'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Klantmotief');?> 1:</th>
        <td><?=$this->ticket['primaryMotif'];?></td>
    </tr>
    <tr>
        <th><?=$this->translate('Klantmotief');?> 2:</th>
        <td><?=$this->ticket['secondaryMotif'];?></td>
    </tr>
</table>

<hr>
<table class="form-fields th-right zebra width support-ticket-comments">
    <colgroup>
        <col width="19%">
        <col width="*">
    </colgroup>
    <tr>
        <th><h3><?=$this->translate('Reacties');?></h3></th>
        <td>&nbsp;</td>
    </tr>
    <?foreach($this->ticketPosts as $post):?>
        <tr>
            <th class="va-top">
                <?=empty($post['dateTime']) ? '' : $this->formatDate($post['dateTime'], array('format' => 'd-m-Y H:i'));?><br>
                <? if (!empty($post['senderName'])): ?>
                    <?=$post['senderName'];?><br>
                <? endif; ?>
                <a href="mailto:<?=$post['senderMail']?>"><?=$post['senderMail']?></a>
            </th>
            <td>
                <?=$post['comment'];?>

                <?if (!empty($post['files'])):?>
                    <div class="attached-files margin-t">
                        <b class="text-black"><?=$this->translate('Toebehoren');?>:</b>
                        <br>
                        <?foreach($post['files'] as $file):?>
                            <a href ="/support-ticket/ticket-file-stock/download/ticketPostId/<?=$file['id']?>/fileStockId/<?=$file['fileStockId']?>" target="_blank">
                                <?=$file['name']?>
                            </a>
                            <br>
                        <?endforeach;?>
                    </div>
                <?endif;?>
            </td>
        </tr>
    <?endforeach;?>
</table>
<?=$this->pagination()?>
<br>
<h3><?=$this->translate('Commentaar toevoegen');?></h3>
<form class="support-ticket-comment validatable" method="post"
      action="/support-ticket/writer/create-post" enctype="multipart/form-data">
    <input type="hidden" name="supportTicketId" value="<?=$this->ticketId;?>">

    <div class="clearfix">
        <div class="float-l margin-r">
            <label><?=$this->translate('Commentaar tekst');?>:</label>
            <textarea rows="10" cols="105" class="required" name="comment"></textarea>
        </div>
        <div class="float-r">
            <table class="margin-b">
                <tbody id="files-container">
                    <tr>
                        <td>&nbsp;</td>
                        <td><?=$this->translate('Bestanden te bevestigen');?>:</td>
                    </tr>
                    <tr>
                        <td class="info-cnt">&nbsp;</td>
                        <td><input class="file" data-accept=".pdf, .doc, .docx, .rtf" type="file" name="files[]"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a href="#" class="btn-green add_file"><?=$this->translate('Voeg nog een bestand');?></a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <br>
    <p class="text-c">
        <? if ('close' !== $this->ticket['status']): ?>
            <input type="submit" class="btn-big btn-green margin-r" name="save" value="<?=$this->translate('Stuur commentaar');?>">
            <input type="submit" class="btn-big margin-l" name="saveAndClose" value="<?=$this->translate('Send comment and close ticket');?>">
        <? else: ?>
            <input type="submit" class="btn-big" name="saveAndReopen" value="<?=$this->translate('Send comment and reopen ticket');?>">
        <? endif; ?>
    </p>
</form>

<script type="text/javascript">
    $(function() {
        var tpl = [
            '<tr>',
                '<td class="info-cnt">&nbsp;</td>',
                '<td><input type="file" data-accept=".pdf, .doc, .docx, .rtf" class="file" name="files[]"></td>',
            '</tr>'
        ].join('');

        var cnt = $('#files-container');

       $('.add_file').click(function() {
           cnt.append(tpl);
           return false;
       });
    });
</script>