@page {
  background-image-resolution: 300dpi;
  margin: 10mm;
  overflow: hidden;
  size: A4;

  @top {
    content: flow(header);
    vertical-align: top;
  }

  @bottom {
    content: flow(footer);
    vertical-align: top;
  }
}

[class$=PageHeader], [class$=PageFooter] {
  position: relative;
}

[class$=PageHeader] {
  flow: static(header);
}

[class$=PageFooter] {
  flow: static(footer);
}

[class^=clientLogo], .paging {
  overflow: hidden;
  position: absolute;
}

.paging {
  content: "Pagina " counter(page) " van " counter(pages);
  font-size: 80%;
  right: 0;
  top: 0;
}

[class^=clientLogo] {
  display: none;
}

[class^=clientLogo] > img {
  display: block;
  height: 100%;
  float: right;
  position: relative;
  width: auto;
  max-width: 100%;
}

img {
  max-height: 277mm;
  max-width: 190mm;
}

.center-img img {
  display: block;
  margin: 0 auto;
}

#cover, #tocBlock {
  page: content;
  page-break-after: always;
}

body {
  counter-reset: h1;
}
h1:not([notoc]) {
  counter-increment: h1;
  counter-reset: h2;
}

h1:not([notoc])::before {
  content: counter(h1) ". ";
}

h2:not([notoc]) {
  counter-reset: h3;
}

h2:not([notoc])::before {
  counter-increment: h2;
  content: counters(h1, ".") "." counter(h2) " ";
}

h3:not([notoc])::before {
  counter-increment: h3;
  content: counters(h1, ".") "." counter(h2) "." counter(h3) " ";
}