#ToCbox {
  /*counter-reset: page attr(pagenum);*/
}

#ToCol {
  margin: 0 0 0 1.5em;
}

#ToCol a {
  color: black !important;
  text-decoration: none;
  content: target-content(attr(href));
}

#ToCol a::after {
  content: " " leader(".") " " target-counter(attr(href), page);
}

#ToCol ol {
  margin-left: 2em;
}

#ToCol li {
  margin-top: 0.3em;
}

#ToCbox ol {
  counter-reset: item;
}

#ToCbox li {
  display: block;
}

#ToCbox li:before {
  counter-increment: item;
  content: counters(item, ".") ". ";
}