<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
<?/*    <a href="/company/organisation"><span>Gebruikersbeheer</span></a>  */?>
    <span>Bedrijfslocaties</span>
</section>
<section class="cols-2 clearfix">
    <section class="wizard-head">
        <?=$this->information()->init(false);?>
    </section>
<?  $accountRow = Zend_Auth::getInstance()->getIdentity(); ?>
    <div class="clearfix">
        <article class="content">
            <div class="accordion">
                <div class="accordion-section">
<?/**/?>
<? if (empty($this->listOnly)): ?>
<? if ($this->acl('company', 'location', 'create')): ?>
    <div class="box-gray actions-block margin-b">
        <a id="contact-person-create" href="/company/location/create" class="btn-green btn-big2">
            <?=$this->translate('Ik wil een nieuwe bedrijfslocatie toevoegen');?>
        </a>
    </div>
<? endif; ?>

<div class="list-container">
    <div class="list-title"><?=$this->translate('Bedrijfslocaties');?></div>
    <? $containerId = uniqid('blockContent_'); ?>
    <div id="<?=$containerId?>">
<? endif; ?>
<?/**/?>
        <table class="width zebra" id="contact-person-list">
            <thead>
                <tr>
                    <th><?=$this->translate('Bedrijfsnaam');?></th>
                    <th><?=$this->translate('Plaats');?></th>
                    <th><?=$this->translate('Telefoonnummer');?></th>
                    <th><?=$this->translate('E-mailadres');?></th>
                    <th><?=$this->translate('Regio');?></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
<style type="text/css">
    tr.not-active {
        color:#c0c0c0;
    }
</style>
<? foreach ($this->locations as $location): ?>
                    <tr id="location-<?= $location['id']; ?>" class="<?= $location['isActive'] ? ' active':'not-active' ?>">
                        <td class="cp-name"><?= $location['name'] ?> <?= $location['form'] ?></td>
                        <td class="cp-phone"><?= $location['actualCity'] ?></td>
                        <td class="cp-phone"><?= $location['phone'] ?></td>
                        <td class="cp-role"><?= $location['email'] ?></td>
                        <td class="cp-sex">
<?          foreach($this->locationRegions[ $location['id'] ] as $region): ?>
                            <div title="<?= $region['description'] ?>"><?= $region['name'] ?></div>
<?          endforeach;?>
                        </td>
                        <td class="actions">
<?      if ($this->acl('company', 'location', 'update')): ?>
                            <a class="icon-edit" href="/company/location/update/id/<?= $location['id'] ?>#Bedrijfslocatie" title=""></a>
<?      endif; ?>
<?      if ($this->acl('company', 'location', 'delete')): ?>
                            <a class="icon-delete delete" href="#deleteModal" rolename="<?= trim($location['name'].' '.$location['form'])?>" roleid="<?= $location['id'] ?>"></a>
<?      endif; ?>
                        </td>
                    </tr>
<?  endforeach; ?>
            </tbody>
        </table>
        <div class="list-pagination">
            <?//=$this->pagination(); ?>
        </div>

                </div>
            </div>
        </article>

        <aside class="right">
            <?=$this->pageDescription(array('showDesc' => false));?>
        </aside>
    </div>

</section>
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" style="display:none;" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Bedrijfslocatie <span id="rolename"></span> verwijderen</h3>
    </div>
    <div class="modal-body">
        <p>Weet u zeker dat u deze bedrijfslocatie wilt verwijderen?</p>
        <p>&nbsp;</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a class="btn btn-primary" href=""><span>Verwijder bedrijfslocatie</span></a>
    </div>
</div>
<script type="text/javascript">
jQuery(function(){
    $('a.delete').click(function(){
        $('#deleteModal #rolename').html("'"+ $(this).attr('rolename') +"'");
        $('#deleteModal a.btn-primary').attr('href','/company/location/delete/id/'+ $(this).attr('roleid'));
        $('#deleteModal').modal('show');
    });
});
</script>
