<?
    $this->formValue()->init();
    if (null !== $this->companyRow):
        $this->formValue()->setModel($this->companyRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
<?/*    <a href="/company/organisation"><span>Gebruikersbeheer</span></a>  */?>
    <a href="/company/location"><span>Bedrijfslocaties</span></a>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Bedrijfslocatie aanmaken</span><?endif;?>
<?if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span><?= $this->formValue('name') ?> <?= $this->formValue('form') ?>, <?= $this->formValue('actualCity'); ?></span><?endif;?>
</section>
<section class="cols-2 wizard clearfix">
    <section class="wizard-head">
        <?=$this->information()->init(false);?>
    </section>

    <div class="clearfix">
        <article class="content">
            <form id="create-company" class="validatable" method="POST" action="<?= $this->url() ?>" enctype="multipart/form-data">
                <div class="accordion lib-cat">

<? if (null !== $this->companyRow): ?>
    <input type="hidden" name="companyId" value="<?=$this->companyRow->getId(); ?>"/>
<? endif; ?>
<? if (null !== $this->parentId): ?>
    <input type="hidden" name="parentId" value="<?=$this->parentId;?>"/>
<? endif; ?>

<?/* location */?>
            <h4 class="accordion-section-title" data-id="1">
                <a href="#Bedrijfslocatie">
                    Bedrijfslocatie
                </a>
            </h4>
            <div class="accordion-section root-cat" id="1" data-hash="Bedrijfslocatie">
                <p class="accordion-section-empty">Pas hier de gegevens van uw bedrijfslocatie aan.</p>
<?/**/?>
<table class="width zebra form-fields">
    <tr>
        <th>
            <h4><strong><?=$this->translate('Bedrijfsgegevens')?></strong></h4>
            <br>
            <?=$this->translate('Bedrijfsnaam')?>:
        </th>
        <td class="info-cnt va-bottom"></td>
        <td class="va-bottom">
            <input type="text" tabindex="10" name="name" value="<?= $this->formValue('name'); ?>" class="required" />
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Bedrijfsvorm')?>:</th>
        <td class="info-cnt"></td>
        <td><?=$this->companyFormComboBox()->toField('form', $this->formValue('form'), array('tabindex' => '11'))?></td>
    </tr>
<?  if ($this->regions && count($this->regions) > 1): ?>
    <tr>
        <th><?=$this->translate("Regio")?>:</th>
        <td class="info-cnt"></td>
        <td>
            <select name="regions[]" id="regions" multiple="multiple" class="float-l" style="margin-right:5px"><?// add property 'multiple' for multiple region selection on a location ?>
                <option value="">Kies een regio</option>
<?      foreach($this->regions as $region):?>
<?
            $selected = '';
            foreach($this->companyRegions as $companyRegion):
                if ($companyRegion['id'] == $region['id']):
                    $selected = ' selected="selected"';
                    break;
                endif;
            endforeach;
?>
                <option value="<?=$region['id']?>" title="<?=$region['description']?>"<?=$selected?>><?=$region['name']?></option>
<?      endforeach;?>
            </select>
            <label>
                <input type="checkbox" id="multipleregions" checked="checked"/>
                <span>Ik wil meerdere regio's bij deze bedrijfslocatie.</span>
            </label>
            <script>
                jQuery(function(){
                    $('#regions option:first').hide();
                    $('#multipleregions').change(function(){
                        if ($(this).attr('checked')) {
                            $('#regions').attr('multiple','multiple');
                            $('#regions option:first').hide();
                            $('#multipleregionexplanation').show();
                        }
                        else {
                            $('#regions option:first').show();
                            $('#regions').removeAttr('multiple');
                            $('#multipleregionexplanation').hide();
                        }
                    });
<?      if(count($this->companyRegions) <= 1):?>
                    $('#multipleregions').click();
<?      endif;?>
                });
            </script>
            <p id="multipleregionexplanation">Om meerdere regio's te selecteren dient u de CTRL-toets ingedrukt te houden tijdens het selecteren.</p>
        </td>
    </tr>
<?  elseif ($this->regions && count($this->regions) == 1):?>
    <tr>
        <th><?=$this->translate("Regio")?>:</th>
        <td class="info-cnt"></td>
        <td>

<?      foreach($this->regions as $region):
            $selected = '';
            foreach($this->companyRegions as $companyRegion):
                if ($companyRegion['id'] == $region['id']):
?>
            <input type="hidden" name="regions[]" value="<?=$region['id']?>"/>
            <region title="<?=$region['description']?>"><?=$region['name']?></region>
<?                    break 2;
                endif;
            endforeach;
        endforeach;
?>
        </td>
    </tr>
<?  endif;?>
    <tr>
        <th><?=$this->translate('Algemeen emailadres')?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td><input type="text" tabindex="12" name="email" value="<?= $this->formValue('email'); ?>" class="email3" />
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Telefoon')?>:</th>
        <td class="info-cnt">
            <a class="icon-info-small" href="#" title="Voer het telefoonnummer in zonder spaties en koppeltekens.">&nbsp;</a>
        </td>
        <td>
            <input type="text" tabindex="13" name="phone" value="<?= $this->formValue('phone'); ?>" class="required phoneNL" />
        </td>
    </tr>
    <tr>
        <th class="va-top"><?=$this->translate('Uw logo (optioneel)')?>:</th>
        <td class="info-cnt va-top"></td>
        <td>
            <?if (null !== $this->companyRow): ?>
                <? $src = $this->modules('company')->CompanyLogoFileStock($this->companyRow)->resize(70); ?>
                <? if (!empty($src)): ?>
                    <img class="margin-b" src="<?=$src;?>" />
                    <br>
                <?endif; ?>
            <?endif; ?>
            <input type="file" tabindex="14" size="12" name="logo" value="" accept="image/jpeg,image/jpg,image/png,image/gif" />
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Website')?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="15" name="website" value="<?= $this->formValue('website'); ?>" class="url3" />
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('KVK nummer')?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="16" name="kvk" value="<?= $this->formValue('kvk'); ?>" class="digits" />
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('BTW nummer')?>:</th>
        <td class="info-cnt"></td>
        <td>
            <input type="text" tabindex="17" name="btw" value="<?= $this->formValue('btw'); ?>" />
        </td>
    </tr>
    <tr>
        <th class="va-top"><?=$this->translate('Bankrekeningnummer')?>:</th>
        <td class="info-cnt"></td>
        <td id="bank-accounts">
<?
    $companyBankAccountCount = 0;
    if (null !== $this->companyRow):
        if (($companyBankAccountRowset = $this->companyRow->getCompanyBankAccountRowset()) != false)
        {
            $companyBankAccountCount = $companyBankAccountRowset->count();
        }
    endif;
    $bankAccountSubmittedRowset = $this->formValue()->getData('bankAccount');
    $hasBankAccountSubmitted = is_array($bankAccountSubmittedRowset) && count($bankAccountSubmittedRowset) > 0;

    $this->tabindex = 18;

    if ($companyBankAccountCount > 0):
        foreach($companyBankAccountRowset as $bankAccountRow):
            $this->bankAccountRow = $bankAccountRow;
            require __DIR__ . '/../bank-account/create.block.phtml';
        endforeach;
    elseif (!$hasBankAccountSubmitted):
        $this->namespace = 'create0';
        require __DIR__ . '/../bank-account/create.block.phtml';
    endif;
    unset($this->bankAccountRow);

    // During post submit we should display
    // all bank accounts which user submitted
    if ($hasBankAccountSubmitted) {
        foreach($bankAccountSubmittedRowset as $bankAccountId => $bankAccountSubmittedRow) {
            if (is_numeric($bankAccountId) && (int) $bankAccountId == $bankAccountId) {
                continue;
            }

            $this->formValue()->setData($bankAccountSubmittedRow);
            $this->namespace = $bankAccountId;
            require __DIR__ . '/../bank-account/create.block.phtml';
        }
    }

    //@FIXME Stupid condition
    //The bank account reset formValue model
    $this->formValue()->setModel($this->companyRow);
    $this->formValue()->setData($this->formSubmittedPostData ?: array());
?>
        </td>
    </tr>
<?/**?>
    <tr>
        <th colspan="2">&nbsp;</th>
        <td>
            <a class="btn" id="btn-create-bank-account" href="#">
                <span class="icon-add">Nog een rekeningnummer toevoegen</span>
            </a>
        </td>
    </tr>
<?/**/?>
</table>

<br>
<table class="width form-fields zebra" id="actual-address">
    <tr>
        <th>
            <h4><strong><?=$this->translate('Bezoekadres')?></strong></h4>
            <?=$this->translate('Straatnaam en huisnummer')?>:
        </th>
        <td class="info-cnt va-bottom">&nbsp;</td>
        <td class="va-bottom">
            <input type="text" tabindex="19" name="actualStreet" class="required"
                   title="<?=$this->translate('Straatnaam en huisnummer is een verplicht veld')?>"
                   value="<?= $this->formValue('actualStreet'); ?>" />
            <input type="text" tabindex="20" size="7" name="actualHouseNumber" class="required"
                   title="<?=$this->translate('Straatnaam en huisnummer is een verplicht veld')?>"
                   value="<?= $this->formValue('actualHouseNumber'); ?>" />
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Postcode en plaats')?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="21" size="7" name="actualPostCode" class="required"
                   title="<?=$this->translate('Postcode en plaats is een verplicht veld')?>"
                   value="<?= $this->formValue('actualPostCode'); ?>" />
            <input type="text" tabindex="22" name="actualCity" class="required"
                   title="<?=$this->translate('Postcode en plaats is een verplicht veld')?>"
                   value="<?= $this->formValue('actualCity'); ?>" />
        </td>
    </tr>
</table>

<br>
<table class="width form-fields zebra" id="post-address">
    <tr>
        <th>
            <h4><strong><?=$this->translate('Postadres')?></strong></h4>
            <br>
            <?=$this->translate('Gelijk aan bezoekadres')?>:
        </th>
        <td class="info-cnt va-bottom"></td>
        <td class="va-bottom">
<?
    $same_address = true;
    $same_address &= ($this->formValue('actualStreet') != null);
    $same_address &= ($this->formValue('actualHouseNumber') != null);
    $same_address &= ($this->formValue('actualPostCode') != null);
    $same_address &= ($this->formValue('actualCity') != null);
    $same_address &= ($this->formValue('postStreet') === $this->formValue('actualStreet'));
    $same_address &= ($this->formValue('postHouseNumber') === $this->formValue('actualHouseNumber'));
    $same_address &= ($this->formValue('postPostCode') === $this->formValue('actualPostCode'));
    $same_address &= ($this->formValue('postCity') === $this->formValue('actualCity'));
    $checked  = ($same_address)? ' checked="checked"':'';
    $readonly = ($same_address)? ' readonly="readonly"':'';
?>
            <label>
                <input type="checkbox" id="post-same-as-actual" tabindex="23"<?= $checked ?>/>
                <?=$this->translate('Ja, mijn postadres is gelijk aan bezoekadres')?>
            </label>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Straatnaam en huisnummer')?>:</th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="24" name="postStreet"
                   title="<?=$this->translate('Straatnaam en huisnummer is een verplicht veld')?>"
                   value="<?= $this->formValue('postStreet'); ?>"
                   <?= $readonly ?>/>
            <input type="text" tabindex="25" size="7" name="postHouseNumber"
                   title="<?=$this->translate('Straatnaam en huisnummer is een verplicht veld')?>"
                   value="<?= $this->formValue('postHouseNumber'); ?>"
                   <?= $readonly ?>/>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Postcode en plaats')?></th>
        <td class="info-cnt">&nbsp;</td>
        <td>
            <input type="text" tabindex="26" size="7" name="postPostCode"
                   title="<?=$this->translate('Postcode en plaats is een verplicht veld')?>"
                   value="<?= $this->formValue('postPostCode'); ?>"
                   <?= $readonly ?>/>
            <input type="text" tabindex="27" name="postCity"
                   title="<?=$this->translate('Postcode en plaats is een verplicht veld')?>"
                   value="<?= $this->formValue('postCity'); ?>"
                   <?= $readonly ?>/>
        </td>
    </tr>
</table>

                </div>
<?/* end location */?>

<?/* themes */?>
                <h4 class="accordion-section-title" data-id="1">
                    <a href="#Themes">
                        Bedrijfslocatie - Thema's
                    </a>
                </h4>
                <div class="accordion-section root-cat" id="1" data-hash="Themes">
                    <style type="text/css">
                        .theme {
                            cursor: auto;
                        }
                        .theme .head {
                            color: #7B2B83;
                        }
                        .theme .head:first-child {
                            padding-left:16px;
                        }
                        .theme span {
                            display: inline-block;
                        }
                        .theme .name {
                            width:150px;
                        }
                        .theme .description {
                            width:400px;
                        }
                    </style>
                    <p class="accordion-section-empty">Kies hier welke thema's voor deze bedrijfslocatie gebruikt mogen worden.</p>
                    <label class="theme">
                        <span class="name head">Thema naam</span>
                        <span class="description head">Beschrijving</span>
                        <span class="libraries head">Bibliotheek</span>
                    </label>
<?  foreach($this->themes as $theme):?>
<?
        $checked = '';
        foreach($this->locationThemes as $locationTheme):
            if($theme->getId() == $locationTheme->getId()):
                $checked = ' checked="checked"';
            endif;
        endforeach;
?>
                    <label class="theme">
                        <input type="checkbox" name="themes[]" value="<?=$theme->getId()?>"<?= $checked ?>/>
                        <span class="name"><?=$theme->name?></span>
                        <span class="description"><?=nl2br($theme->description)?></span>
                        <span class="libraries">
<?  foreach($theme->findManyToManyRowset('Company_Model_DbTable_Library','Company_Model_DbTable_LibraryProposalCustomTemplate') as $library): ?>
                            <div title="<?= nl2br($library->description) ?>"><?= $library->name ?></div>
<?  endforeach; ?>
                        </span>
                    </label>
<?  endforeach;?>
                </div>
<?/* end themes */?>

<?/* location libraries *?>
                <h4 class="accordion-section-title" data-id="1">
                    <a href="#Library">
                        Bedrijfslocatie - Bibliotheek
                    </a>
                </h4>
                <div class="accordion-section root-cat" id="1" data-hash="Library">
                    <p class="accordion-section-empty">Kies hier welke bibliotheek voor deze bedrijfslocatie gebruikt mag worden.</p>
                    <div>
                        <style>
                            .library {
                                padding-left:20px;
                            }
                            .library label,
                            .library span {
                                display:inline-block;
                            }
                            .library .name {
                                width:150px;
                            }
                            .library .description {
                                xwidth: 400px;
                            }
                        </style>
<?  foreach($this->libraries as $key => $libraryRow): ?>
<?      $checked = '';
        foreach($this->locationLibraries as $locationLibrary):
            if ($locationLibrary->getId() == $libraryRow->getId()):
                $checked = ' checked="checked"';
                break;
            endif;
        endforeach;
?>
                        <p class="lib-item-row<?= ($key%2)? ' odd':' even' ?> library">
                            <input type="checkbox" name="libraries[]" value="<?= $libraryRow->getId() ?>"<?= $checked ?>/>
                            <span class="name"><?=  $libraryRow->name ?></span>
                            <span class="description"><?=  nl2br($libraryRow->description) ?></span>
                        </p>
<?  endforeach; ?>
                    </div>
                </div>
<?/* end location libraries */?>

                <script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
        </div>
        <br>
        <hr>

        <p class="text-c">
            <a href="/company/location" class="btn-big margin-r">
                <i class="icon-prev"><?=$this->translate('Cancel')?></i>
            </a>
            <button type="submit" class="btn-big">
                <i class="icon-save"><?=$this->translate('Opslaan')?></i>
            </button>
        </p>
    </form>
            </article>

            <aside class="right">
                <?=$this->pageDescription();?>
            </aside>
        </div>


</section>
<script type="text/javascript">
jQuery(function(){
    $('#post-same-as-actual').click(function(){
        $('input[name=postStreet]'     ).prop('readonly', false).val('');
        $('input[name=postHouseNumber]').prop('readonly', false).val('');
        $('input[name=postPostCode]'   ).prop('readonly', false).val('');
        $('input[name=postCity]'       ).prop('readonly', false).val('');
        if (this.checked) {
            $('input[name=postStreet]'     ).val($('input[name=actualStreet]').val()).prop('readonly', true);
            $('input[name=postHouseNumber]').val($('input[name=actualHouseNumber]').val()).prop('readonly', true);
            $('input[name=postPostCode]'   ).val($('input[name=actualPostCode]').val()).prop('readonly', true);
            $('input[name=postCity]'       ).val($('input[name=actualCity]').val()).prop('readonly', true);
        }

    });
});
</script>



