<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
<?/*    <a href="/company/organisation"><span>Gebruikersbeheer</span></a>  */?>
    <a href="/company/region"><span>Regiobeheer</span></a>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'index',  'id'=>null))):?><span>Regio's Overzicht</span><?endif;?>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'select', 'id'=>null))):?><span>Regio's Overzicht</span><?endif;?>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Regio aanmaken</span><?endif;?>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span>Regio bewerken</span><?endif;?>
<?  if ($this->url(array('id'=>null)) == $this->url(array('action'=>'delete', 'id'=>null))):?><span>Regio verwijderen</span><?endif;?>
</section>
<?=$this->information()->init();?>
<?  $accountRow = Zend_Auth::getInstance()->getIdentity(); ?>
<style type="text/css">
    table.function td {
        text-align: center;
        vertical-align: middle;
    }
    .list-container table thead td {
        border-bottom: 1px solid #BFBFBF;
    }
    .list-container table tbody th {
        border-bottom: none;
    }
    .list-container table tr.region .name {
        width:200px;
        text-align: left;
    }
    .list-container table tr.region .name input {
        width:200px;
        text-align: left;
    }
    .list-container table tr.region .description {
        width:400px;
        text-align: left;
    }
    .list-container table tr.region .description textarea {
        width:400px;
        margin-bottom: 3px;
    }
    .list-container table tr.region .actions {
        width:100px;
        text-align: center;
    }
</style>
<?  if ($accountRow->acl('company','region','create')): ?>
<div class="box-gray actions-block margin-b">
    <a class="btn-green btn-big2 margin-r action-create-block" href="/company/region/create">
        <?=$this->translate('Ik wil een nieuwe regio aanmaken');?>
    </a>
</div>
<?  endif;?>

<div class="list-container">
    <div class="list-title"><?=$this->translate("Alle regio's");?></div>
    <form method="post" action="<?= $this->url() ?>">
        <table class="zebra width tablesorter function">
            <thead>
            <tr>
                <th><span><?=$this->translate("Regio's");?></span></th>
                <td>Beschrijving</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
<?  if ($accountRow->acl('company','region','create')): ?>
<?      if(in_array($this->url(array('id'=>null)), array($this->url(array('action'=>'create','id'=>null)),$this->url(array('action'=>'update','id'=>null))))): ?>
                <tr class="region">
                    <td class="name">
                        <input type="hidden" name="region[id]" value="<?= $this->region['id'] ?>"/>
                        <input type="text" name="region[name]" value="<?= $this->region['name'] ?>" placeholder="regionaam"/>
                    </td>
                    <td class="description">
                        <textarea name="region[description]" placeholder="Beschrijving" rows="1"><?= $this->region['description'] ?></textarea>
                    </td>
                    <td class="actions">
                        <input type="submit" name="" value="Opslaan"/>
                        <a href="<?= $this->url(array('action'=>null,'id'=>null))?>"><span>Cancel</span></a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
<?      endif; ?>
<?  endif; ?>
<?  foreach($this->regions as $region): ?>
                <tr class="region">
                    <th class="name">
                        <span><?= $region['name'] ?></span>
                    </th>
                    <td class="description">
                        <p><?= nl2br($region['description']) ?></p>
                    </td>
                    <td class="actions">
<?      if ($accountRow->acl('company','region','update')): ?>
                        <a class="icon-edit update" href="<?= $this->url(array('action'=>'update','id'=>$region['id']))?>"></a>
<?      endif; ?>
<?      if ($accountRow->acl('company','region','delete')): ?>
                        <a class="icon-delete delete" href="#deleteModal" name="<?= $region['name']?>" id="<?= $region['id'] ?>"></a>
<?      endif; ?>
                    </td>
                    <td>&nbsp;</td>
                </tr>
<?  endforeach; ?>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </form>
</div>
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" style="display:none;" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Regio <span id="name"></span> verwijderen</h3>
    </div>
    <div class="modal-body">
        <p>Weet u zeker dat u deze regio wilt verwijderen?</p>
        <p>&nbsp;</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a class="btn btn-primary" href=""><span>Verwijder regio</span></a>
    </div>
</div>

<link rel="stylesheet" href="/public/js/jquery-plugins/tablesorter/themes/appalti/style.css"/>
<script type="text/javascript">
jQuery(function(){
    function autoHeight(obj) {
        var enteredText = $(obj).val();
        numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
        var lineHeight = parseFloat($(obj).css("line-height"));
        $(obj).css('height', (numberOfLineBreaks + 2) * lineHeight);
    }
    $('textarea').each(function(){
        autoHeight(this);
    });
    $('textarea').keyup(function(e){
        if (   e.keyCode === 13 /* enter     */
            || e.keyCode ===  8 /* backspace */
            || e.keyCode === 46 /* delete    */ ) {
            autoHeight(this);
        }
    });
    $('a.delete').click(function(){
        $('#deleteModal #name').html("'"+ $(this).attr('name') +"'");
        $('#deleteModal a.btn-primary').attr('href','/company/region/delete/id/'+ $(this).attr('id'));
        $('#deleteModal').modal('show');
    });
});
</script>