<div style="padding: 10px">
<?foreach ($this->rowset as $row):?>
<?if ($row['type'] == SupportTicket_Model_SupportTicketRow::CLIENT):?>
<div>
    <div>
        <?=$row['comment']?>
    </div>
</div>
<?else:?>
<div >
    <div>
        <?=$row['comment']?>
    </div>

</div>
<br>
<?endif;
 if ($row['files']!=""):?>
 <?foreach ($row['files'] as $file): ?>
<strong><a href = "<?=$this->baseUrl()?>/support-ticket/ticket-file-stock/download/ticketPostId/<?=$file['ticketPostId']; ?>/fileStockId/<?=$file['id']; ?>"><?=$file['name']?></a></strong></br>
 <?endforeach;
endif; endforeach;?>
</div>