<div id="<?=$this->block->getId(); ?>">
    <div id="<?=$this->block->getId(); ?>-body">
        <?=$this->block->toHtml(); ?>
    </div>
</div>

<?php
$invokeArgs = array();

foreach($this->block->getInvokeArgs() as $k => $ia):
    if (!is_object($ia)):
        $invokeArgs[$k] = $ia;
        continue;
    endif;

    if ($ia instanceof OSDN_Application_Model_Interface):
        $invokeArgs[$k] = $ia->getId();
    endif;
endforeach;
?>
<script type="text/javascript">
Ext.onReady(function() {
    var block = new Module.Application.Block({
        id: '<?=$this->block->getId(); ?>',
        applyTo: '<?=$this->block->getId(); ?>',
        contentEl: '<?=$this->block->getId(); ?>-body',
        border: false,
        module: '<?=$this->block->getModuleName(); ?>',
        name: '<?=$this->block->getName(); ?>',
        mappings: <?=Zend_Json::encode($this->block->getMappings()); ?> || [],
        invokeArgs: <?=Zend_Json::encode($this->block->getInvokeArgs()); ?>
    });
});
</script>