<?php
    if (empty($this->listOnly)):
    $id = uniqid('blockContent_');
?>
<div id="<?=$id;?>">
<? endif; ?>

<? foreach ($this->rowset as $i => $blockRow):  ?>
    <p class="lib-item-row <?=$i % 2 == 0 ? 'odd' : 'even'; ?>">
        <input type="checkbox" value="<?=$blockRow->getId();?>" />
        <span class="lib-item-created"><?=$this->formatDate($blockRow->createdDatetime); ?></span>
        <span class="library-item-name"><?=$this->escape($blockRow->name); ?></span>
        <span class="lib-block-actions">
            <a class="icon-zoom library-block-action" <? if($blockRow->kind === 'text'): ?>data-fullscreen="true"<? endif; ?>
               href="/proposal-block/index/preview/blockId/<?=$blockRow->getId(); ?>/categoryId/<?=$blockRow->categoryId;?>/format/<?=$blockRow->kind; ?>/"
               title="<?=$this->translate('Voorbeeld');?>">&nbsp;</a>
<?//      if ($blockRow->isEditable()): ?>
            <a class="icon-edit library-block-action" title="<?=$this->translate('Bewerken');?>"
               href="/proposal-block/index/update/blockId/<?=$blockRow->getId(); ?>/format/<?=$blockRow->kind; ?>/">
                &nbsp;</a>
            <a class="icon-delete" title="<?=$this->translate('Verwijder');?>"
               onclick="return confirm('<?=$this->translate('Verwijder blok uit de bibliotheek?');?>');"
               href="/proposal-block/index/delete/blockId/<?=$blockRow->getId(); ?>/format/<?=$blockRow->kind; ?>/">
                &nbsp;</a>
<?//      endif;?>
        </span>
    </p>
<?
    endforeach;

    if ($this->pagination()->getPagesCount() > 1) {
        echo $this->pagination();
    }

    if (empty($this->listOnly)):
?>
</div>

<script type="text/javascript">
    AppaltiLayout.blocks['ProposalBlocksCategory' + <?=$this->categoryRow->getId(); ?>] = new AppaltiLayoutBlock({
        module: 'proposal-block',
        block: 'category-block-list',
        updateElId: '<?=$id;?>',
        listUpdateParams: {
            companyId: <?= $this->companyId ?>,
            categoryId: <?= $this->categoryRow->getId() ?>,
            id: <?= $this->libraryRow->getId() ?>
        },
        onReloadList: function() {
            AppaltiLayout.initTooltip(this.$el);
        }
    });
</script>
<? endif; ?>