<div class="accordion lib-cat">
<?  foreach ($this->response->getRowset() as $categoryRow):
        $blockCount = $categoryRow->getBlockCount(!empty($this->libraryRow) ? $this->libraryRow : null );
        $children = $categoryRow->getChildren($this->libraryRow);
?>
        <h4 class="accordion-section-title" data-id="<?=$categoryRow->getId(); ?>">
            <a href="#<?=$categoryRow->name; ?>"><?=$categoryRow->name; ?> (<?=$blockCount;?>)</a>
        </h4>
        <div class="root-cat <?=$this->isProposal ? 'proposal-lib-cat' : '';?> accordion-section" id="<?=$categoryRow->getId(); ?>">
<?      if ($children->count()): ?>
                <div class="accordion lib-subcat">
<?          foreach($children as $child):
                $childBlocksCount = $child->getBlockCount($this->libraryRow);
?>
                        <div class="accordion-section-title accordion-section-title-sub" data-id="<?=$child->getId(); ?>">
                            <a href="#"><span class="subcat-name"><?=$child->name; ?></span> (<?=$childBlocksCount;?>)</a>
                        </div>
                        <div class="accordion-section sub-cat" id="<?=$child->getId(); ?>">
<?              if ($childBlocksCount):
                    require APPLICATION_PATH . '/modules-appalti/proposal-block/views/scripts/default/category/search-block-form.phtml';
                    $this->categoryRow = $child;
                    require APPLICATION_PATH . '/modules-appalti/proposal-block/views/scripts/default/category/fetch-all-blocks.block.phtml';
                else:
?>
                                <p class="accordion-section-empty">
<? if ($this->isProposal && Zend_Auth::getInstance()->getIdentity()->acl('company', 'library', 'update') ):?>
                                    <a href="/company/library/update/id/<?= $this->libraryRow->getId() ?>"><?=$this->translate('Ga direct naar uw bibliotheek');?></a>
<? else: ?>
                                    <?= $this->translate('Sectie is leeg') ?>
<? endif; ?>
                                </p>
<?              endif; ?>
                        </div>
<?          endforeach; ?>

                    <div class="accordion-section-title accordion-section-title-sub" data-id="uncategorized-<?=$categoryRow->getId();?>">
                        <a href="#"><?=$this->translate('Uncategorized'); ?> (<?=$blockCount?>)</a>
                    </div>
                    <div class="accordion-section sub-cat" id="uncategorized-<?=$categoryRow->getId();?>">
<?          if ($blockCount):
                require APPLICATION_PATH . '/modules-appalti/proposal-block/views/scripts/default/category/search-block-form.phtml';
                $this->categoryRow = $categoryRow;
                require APPLICATION_PATH . '/modules-appalti/proposal-block/views/scripts/default/category/fetch-all-blocks.block.phtml';

            else:
?>
                            <p class="accordion-section-empty">
<?              if ($this->isProposal && Zend_Auth::getInstance()->getIdentity()->acl('company', 'library', 'update')): ?>
                                    <a href="/company/library/update/id/<?= $this->libraryRow->getId() ?>"><?=$this->translate('Ga direct naar uw bibliotheek');?></a>
<?              else: ?>
                                    <?=$this->translate('Sectie is leeg');?>
<?              endif; ?>
                            </p>
<?          endif; ?>
                    </div>
                </div>
<?      else:
            if ($blockCount):
                require APPLICATION_PATH . '/modules-appalti/proposal-block/views/scripts/default/category/search-block-form.phtml';
                $this->categoryRow = $categoryRow;
                require APPLICATION_PATH . '/modules-appalti/proposal-block/views/scripts/default/category/fetch-all-blocks.block.phtml';
            else: ?>
                    <p class="accordion-section-empty">
<?              if ($this->isProposal && Zend_Auth::getInstance()->getIdentity()->acl('company', 'library', 'update')):?>
                                    <a href="/company/library/update/id/<?= $this->libraryRow->getId() ?>"><?=$this->translate('Ga direct naar uw bibliotheek');?></a>
<?              else: ?>
                            <?=$this->translate('Sectie is leeg');?>
<?              endif; ?>
                    </p>
<?          endif; ?>
<?      endif; ?>
        </div>
<?  endforeach; ?>
</div>

<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
<script src="/public/js/jquery-plugins/inline.search/jquery.inline-search.min.js"></script>