<?if (null === $this->row): ?>
<div class="no-data">
    <?=$this->translate('No data provided.'); ?>
</div>
<? return; endif; ?>

<div class="group-grid">
    <div class="group-head icon-16 icon-info-16"><?=$this->translate('General'); ?></div>
    <table class="form-grid">
        <tr>
            <th><?=$this->translate('Owner'); ?></th>
            <td><?=$this->row->getCreatorAccountName(); ?></td>

            <th><?=$this->translate('Created'); ?></th>
            <td><?=$this->row->getCreatedDatetime(); ?></td>
        </tr>
        <?if ($this->row->modifiedAccountId): ?>
            <tr>
                <th><?=$this->translate('Modifier'); ?></th>
                <td><?=$this->row->getModifiedAccountName(); ?></td>

                <th><?=$this->translate('Modified'); ?></th>
                <td><?=$this->row->getModifiedDatetime(); ?></td>
            </tr>
        <?endif; ?>
        <?if ($this->row->notificatedAccountId): ?>
            <tr>
                <th><?=$this->translate('Recipient of the notice'); ?></th>
                <td><?=$this->row->getNotificatedAccountName(); ?></td>

                <th><?=$this->translate('Reaction received'); ?></th>
                <td><?=$this->row->getReactionReceived(); ?></td>
            </tr>
        <?endif; ?>
    </table>

    <div class="group-head icon-16 icon-notes-16"><?=$this->translate('Text'); ?></div>
    <table>
        <tr>
            <td><?=$this->row->getBodyText(); ?></td>
        </tr>
    </table>
</div>

