<form id="comment-form">
 <table class="form-grid no-fold">
    <col width="100" />
    <col width="*" />
    <tr>
        <th><?=$this->translate('title'); ?>:</th>
        <td>
            <input type="text" name="title" value="<?=$this->comment ? $this->comment->title : ''; ?>" class="required" data-cfg="{width: 350}" />
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Text');?>:</th>
        <td>
            <textarea name="bodyText" class="required" data-xtype="htmleditor"  data-cfg="{width: 350}" ><?=$this->comment ? $this->comment->bodyText : ''; ?></textarea>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Comment type'); ?>:</th>
        <td>
            <?=$this->commentType()->toField('commentTypeId', $this->comment ? $this->comment->commentTypeId : '', array('data-cfg' => '{width:350}')); ?>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Recipient'); ?>:</th>
        <td>
                    <?=$this->modules('account')->account(
                        'notificatedAccountId',
                        $this->comment ? $this->comment->notificatedAccountId : '',
                        array('data-cfg' => array(
                            'permissions'   => false,
                            'width'         => 350
                        ))
                    ); ?>
        </td>
    </tr>
    <tr>
        <th><?=$this->translate('Action'); ?>:</th>
        <td>
            <?=$this->commentAction()->toField('notificatedAction', $this->comment ? $this->comment->notificatedAction : '', array('data-cfg' => '{width:350}')); ?>
        </td>
    </tr>
    </table>
</form>