<div class="group-grid">
    <div class="group-content"  style="height: 200px" >
        <ol style="list-style: decimal outside; margin-left: 23px">
            <?foreach($this->history as $hComment): ?>
                <li>
                    <b><?=$hComment->getTitle(); ?></b><br />
                    <?=$hComment->getBodyText(); ?><br />
                    <div style="float: right">
                        <i>
                            <?=$this->translate('Owner:'); ?>
                            <?=$hComment->getCreatorAccountName(); ?>
                        </i>
                        &nbsp;
                    </div>
                    <br style="clear: both" />
                    <div style="float: right">
                        <i>
                            <?=$this->translate('Create date:'); ?>
                            <?=$hComment->getCreatedDatetime(); ?>
                        </i>
                        &nbsp;
                    </div>
                    <?if ($hComment->isStatusEmail()): ?>
                        <i style="margin-left: 25px;">
                            <?=$this->translate('Send to:'); ?>
                        </i>
                        &nbsp;&nbsp;
                        <a href="mailto: <?=$hComment->getNotificatedAccountName(); ?> &lt;<?=$hComment->getNotificatedEmail(); ?> &gt;">
                            <?=$hComment->getNotificatedAccountName(); ?> &lt;<?=$hComment->getNotificatedEmail(); ?> &gt;
                        </a>
                    <br style="clear: both" />
                    <?endif; ?>
                </li>
            <?endforeach; ?>
        </ol>
    </div>
</div>