<form id="scanning-configuration-form" class="indent-all">
<table cellspacing="5" class="form-grid" style="width: 500px; margin: 0pt auto;">
<col width="200" />
<col width="200" />
<tr>
    <th><?=$this->translate('Image type'); ?>:<sup>*</sup></th>
    <td><?=$this->formRadio('imagetype', 'pdf', null, array(
        'tif'    => 'TIF',
        'jpg'    => 'JPG',
        'pdf'    => 'PDF'
    ), ' '); ?></td>
</tr>
<tr>
    <th><?=$this->translate('Pixel type'); ?>:</th>
    <td><?=$this->formRadio('pixeltype', 1, null, array(
        1    => $this->translate('Grayscaled'),
        2    => $this->translate('Coloured')
    ), ' '); ?></td>
</tr>
<tr>
    <th><?=$this->translate('Resolution'); ?>:</th>
    <td><?=$this->formRadio('resolution', 2, null, array(
        2    => '200dpi',
        3    => '300dpi'
    ), ' '); ?></td>
</tr>
<tr>
    <th><?=$this->translate('Enable ADF'); ?>:</th>
    <td><?=$this->formCheckbox('enable_adf', 1, null); ?></td>
</tr>
<tr>
    <th><?=$this->translate('Enable duplex'); ?>:</th>
    <td><?=$this->formCheckbox('enable_duplex', 1, null); ?></td>
</tr>
<tr>
    <th><?=$this->translate('Enable UI'); ?>:</th>
    <td><?=$this->formCheckbox('enable_ui', 1, null); ?></td>
</tr>
<tr>
    <th><?=$this->translate('Primary scanner'); ?>:</th>
    <td><?=$this->formSelect('source', null, array('data-xtype' => 'ext.ux.form.combobox')); ?></td>
</tr>
</table>
<p style="font-style: italic;text-indent: 20px;margin-top: 50px;">
    ADF or an automatic document feeder is a feature which takes several pages
    and feeds the paper one page at a time into a scanner or copier[1], allowing the user to scan,
    and thereby copy, print, or fax, multiple-page documents without having to manually replace each page.
    On most copiers, you have a choice of scanning on the flatbed or platen (the "glass") or through a document feeder.
    The vast majority of fax machines have an ADF, allowing the unattended sending of multi-page faxes.
    Document feeders are described by speed, in pages per minute or ppm, and capacity, usually in a range from 10 sheets to 200.
</p>
<p style="font-style: italic;text-indent:20px;">
    Duplex scanning is a feature of computer scanners and multifunction printers (MFPs)
    that allows the automatic scanning of a sheet of paper on both sides.
    Devices without this capability can only scan a single side of a sheet of paper at a time.
</p>
</form>