<?if ($this->pagination->getTotalCount()): ?>
    <link rel="stylesheet" href="<?=$this->baseUrl(); ?>/modules/application/views/helpers/appalti/pagination/skins/basic/style.css" />

    <? $paginationId = uniqid(); ?>
    <script type="text/javascript">
    onchangepaginationpage<?=$paginationId; ?> = function(f) {
        var value = f.value;
        window.location.href = '<?=$this->baseUrl() . $this->url(array('page' => 'page-number')); ?>'.replace('page-number', value);
    };
    </script>

    <div class="pagination-bar">
        <? if ($this->plugin->isFirstPage()): ?>
        <span class="previous-page disabled">Vorige</span>
        <? else: ?>
        <a href="<?=$this->url(array('page' => $this->pagination->getCurrentPage() - 1)); ?>"
           title="<?=$this->translate('Ga naar de vorige pagina');?>" data-page="<?php echo $this->pagination->getCurrentPage() - 1; ?>"
           class="previous-page">Vorige
        </a>
        <? endif; ?>

        <? for($i = 1; $i <= $this->pagination->getPagesCount(); $i++): ?>
        <? if ($this->pagination->getCurrentPage() == $i): ?>
            <a class="current-page" href="#"><?=$i;?></a>
        <? else: ?>
            <a href="<?=$this->url(array('page' => $i)); ?> " data-page="<?php echo $i; ?>"><?=$i;?></a>
            <? endif; ?>
        <? endfor; ?>

        <? if ($this->plugin->isLastPage()): ?>
            <span class="next-page disabled">Volgende</span>
        <? else: ?>
        <a href="<?=$this->url(array('page' => $this->pagination->getCurrentPage() + 1));?>"
           title="<?=$this->translate('Ga naar de volgende pagina');?>" data-page="<?php echo $this->pagination->getCurrentPage() + 1; ?>"
           class="next-page">Volgende
        </a>
        <? endif; ?>
    </div>
<? endif; ?>