/*
* @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
* @revision   SVN: $Revision: 2131 $
*/

.pagination-bar {
  background: #fff;
  border-top: 1px solid #ebebeb;
  margin-top: -1px;
  padding: 20px;
  text-align: center;
}

.pagination-bar a {
  color: #7b2b83;
  margin: 2px 6px;
  text-decoration: underline;
}

.pagination-bar .current-page {
  background: #f8f8f8;
  border: 1px solid #d2d2d2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #000;
  margin: 0;
  padding: 2px 6px;
  text-decoration: none;
}

.pagination-bar .disabled {
  color: #999;
}

.pagination-bar .previous-page {
  background: url(images/prev.png) no-repeat 0 76%;
  margin-right: 10px;
  padding-left: 15px;
}

.pagination-bar .previous-page.disabled {
  background: url(images/prev-disabled.png) no-repeat 0 76%;
}

.pagination-bar .next-page {
  background: url(images/next.png) no-repeat 100% 76%;
  margin-left: 10px;
  padding-right: 15px;
}

.pagination-bar .next-page.disabled {
  background: url(images/next-disabled.png) no-repeat 100% 76%;
}
