/**
 * Common style for all modules
 *
 * @author     Voznyakovsky Ivan <ivan.voznyakovsky@gmail.com>
 * @version    SVN: $Id: common.css 19110 2010-11-09 15:56:08Z vanya $
*/

@import "toolbar-menu.css";

/* Toolbar
----------------------------------*/
.toolbar {
    background: #FAFAFA;
    border: 1px solid #BBB;
    line-height: 25px;
    margin-bottom: 10px;
    padding: 5px;
}

/* Group
----------------------------- */
.group {
    margin-bottom: 10px;
}
.group .head td {
    background: #FCFCFC;
    border: 1px solid #E1E1E1;
    border-width: 1px 0;
    padding: 5px;
    vertical-align: middle;
}
.group .head .title {
    color: #222;
    font-size: 90%;
    font-weight: 700;
    text-shadow: 1px 1px 0 #FFF;
}
.group-content table {
    border-collapse:collapse;
    width: 100%
}
.group-content th {
    background: #F2F2F2; /* old browsers */
    background: -moz-linear-gradient(top, #F2F2F2 0%, #E6E6E6 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(100%,#E6E6E6)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#E6E6E6',GradientType=0 ); /* ie */

    border: 1px solid;
    border-color: #fff #d0d0d0 #c6c6c6 #eee;
    font-weight: 400;
    line-height: 15px;
    vertical-align: middle;
}
.group-content th,
.group-content td {
    padding: 4px 3px 4px 5px;
}
.group-content .no-data {
    background: #FFFCDF;
    color: #555;
    font-size: 90%;
    padding: .5em;
}


/* Filters
----------------------------------*/
.filters {
    background: #FBFBFB;
    border:1px solid #aaa;
    border-width: 1px 0;
    padding: 5px
}
.filters label {
    display: block;
    font-size: 90%;
    font-weight: 400;
}
.filters legend{
    font-size:85%;
    font-weight:400;
    margin:0 1em;
    padding:0 .4em;
}
.filters input,
.filters select {
    width: 15em;
}

/* Main workspace
----------------------------------*/
.droppable-state-hover {
    border: 1px dashed #7F7F7F;
    position: relative;
}
.droppable-info {
    background: #FFF;
    display: none;
    left: 0;
    filter: alpha(opacity=80);
    height: 100%;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.droppable-info > div {
    background: #233F3E;
    color: #FFF;
    font-weight: 700;
    margin: 0 30%;
    padding: 20px;
    position: relative;
    top: 50%;
}
.droppable-state-hover .droppable-info {
    display: block;
}

/* Workspace
----------------------------------*/
#module-workspace {
    padding: .7em .5em .5em !important;
}
#block-content-main {
    float: left;
    position: relative;
    width: 70%;
}
.list-container {
    min-height: 450px;
}
/*#block-content-main > .ui-widget-content {
    min-height: 450px;
}*/
#block-content-main.full {
    width: 100%;
}
#block-content-extra {
    float: right;
    width: 30%;
}
#block-content-extra ul {
    position: relative;
}
#block-content-extra > div {
    margin-left: 10px;
}

