/**
 * @author      Voznyakovsky Ivan <voznyakosky.ivan@gmail.com>
 * @version     SVN: $Id: $
 */

.toolbar ul.dropdown li .sub > div {
    background: #FAFAFA;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#fff));
    border: 1px solid #BBB;
    border-top: 1px solid #FAFAFA;
    margin-top: 6px;
}
@media all and (min-width: 0px) {
    .toolbar ul.dropdown li .sub > div { /* Safari, Chrome, Opera*/
        margin-top: 7px;
    }
}
