<?php
   $this->headTitle('Reset Password');
   $this->layout()->setLayout('auth');
   $this->formValue()->omitNullableModel(true);
?>
<div class="lost-password auth-wrap">
    <form id="lost-password-form" action="<?=$this->url(array(
             'module'     => 'account',
             'controller' => 'password',
             'action'     => 'lost-password',
             'format'     => 'json'
        ), 'default', true); ?>" method="post">

        <?=$this->information()->init();?>
        <?if($this->refresh): ?>
            <div class="information margin-b ui-state-notice">
                <p class="half-margin-b">Confirmation message was sent to the e-mail address provided.</p>
                <p>Once the message is received, follow the instructions provided to change the password.</p>
                <? //=$this->headMeta()->appendHttpEquiv('Refresh', $this->refresh . ';URL=' . $this->baseUrl('/account/authenticate'));?>
            </div>
        <?endif; ?>

        <table>
            <tr>
                <th><?=$this->translate('Name'); ?><span class="asterisk">*</span>:</th>
                <td class="text-right">
                    <?=$this->formText('username', $this->formValue('username', $this->account), array(
                        'class' => 'required',
                        'data-cfg' => '{"width": 220}'
                    )); ?>
                </td>
            </tr>
            <tr>
                <th><?=$this->translate('E-mail'); ?><span class="asterisk">*</span>:</th>
                <td class="text-right">
                    <?=$this->formText('email', $this->formValue('email', $this->account), array(
                        'class' => 'required',
                        'vtype' => "email",
                        'data-cfg' => '{"width": 220}'
                    )); ?>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="submit">
                    <div id="lost-password-btn" class="float-r"></div>
                </td>
            </tr>
        </table>

        <div class="annotation">
            <p>To recover your lost password, please supply the name and e-mail address for the account.</p>
            <p>If the data corresponds to a valid account, you will be sent a special URL via e-mail that contains a validation code for your account.</p>
            <p>Please follow this link to change your password.</p>
        </div>
    </form>
</div>

<script type="text/javascript">
Ext.onReady(function() {

    var form = new Ext.ux.form.FormMarkup('lost-password-form');

    var onSubmit = function() {
        form.form.submit({
            success: function() {
                window.location.href = '<?=$this->url(array(
                    'refresh'   => 5
                )); ?>';
            },
            failure: function(response, action) {
                Application.notificate(action);
            }
        });
    };

    var b = new Ext.Button({
        renderTo: 'lost-password-btn',
        iconCls: 'icon-submit-16',
        text: lang('Reset password'),
        handler: onSubmit
    });

    form.form.items.each(function(f) {
        f.on('specialkey', function(field, e) {
            if(e.getKey() == e.ENTER) {
                onSubmit();
            }
        });
    });
});
</script>