<?=$this->headTitle('Update password'); ?>
<form id="update-password-form" action="<?=$this->url(array(
    'module'     => 'account',
    'controller' => 'password',
    'action'     => 'update-password',
    'format'     => 'json'
), 'default', true); ?>" method="post">

    <table class="form-grid no-fold reset-layout container-center reset-width">
        <colgroup>
            <col width="250" />
            <col width="*" />
        </colgroup>
        <tr>
            <td colspan="2">
                <?=$this->information()->init();
                if($this->refresh): ?>
                    <?=$this->headMeta()->appendHttpEquiv('Refresh', $this->refresh . ';URL=' . $this->baseUrl('/account/profile'));
                endif;
               ?>
            </td>
        </tr>
        <tr>
            <th><?=$this->translate('New password'); ?><span class="asterisk">*</span>:</th>
            <td>
                <?=$this->formPassword('password',
                        null,
                        array(
                            'class' => 'required',
                            'renderPassword' => 'true',
                            'data-cfg' => '{
                                    width: 220
                                }'
                            )
                        );
                ?>
            </td>
        </tr>
        <tr>
            <th><?=$this->translate('Confirm password'); ?><span class="asterisk">*</span>:</th>
            <td>
                <?=$this->formPassword('',
                        null,
                        array(
                            'class' => 'required',
                            'renderPassword' => 'true',
                            'vtype' => "confirmPassword",
                            'data-cfg' => '{
                                    width: 220,
                                    initialPassField: "password"
                                }'
                            )
                        );
                ?>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="submit" id="update-password-btn"></td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    Ext.onReady(function() {

        var form = new Ext.ux.form.FormMarkup('update-password-form');

        var onSubmit = function() {
            form.form.submit({
                success: function() {
                    window.location.href = '<?=$this->url(array(
                        'refresh'   => 3
                    )); ?>';
                }
            });
        };

        var b = new Ext.Button({
            renderTo: 'update-password-btn',
            iconCls: 'icon-update-16',
            text: lang('Update'),
            handler: onSubmit
        });

        form.form.items.each(function(f) {
            f.on('specialkey', function(field, e) {
                if(e.getKey() == e.ENTER) {
                    onSubmit();
                }
            });
        });

    });
</script>