    html, body {
        color: #000000;
        font-family: georgia;
        font-size: 9pt;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }

    .mceContentBody {
        margin: 2em;
        word-wrap: break-word;
    }

    .mceContentBody ul, .mceContentBody ol {
        margin-left: 1.3em !important;
    }

    .mce-fullscreen {
      border: 1px solid #999;
      -moz-box-shadow: 0 0 4px #999;
      -webkit-box-shadow: 0 0 4px #999;
      box-shadow: 0 0 4px #999;
      margin: 10mm auto;
      min-height: 277mm;
      padding: 20mm;
      width: 190mm;
    }

    .mce-fullscreen img {
        max-width: 190mm;
    }


    h1 {
        color: #000000;
        font-size: 15pt;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }
    h2 {
        color: #000000;
        font-size: 14pt;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }
    h3 {
        color: #000000;
        font-size: 12pt;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }
    h4 {
        color: #000000;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }
    h5 {
        color: #000000;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }

    ul, ol { color: #000000; }

    a { color: #0000ff; }

    table { border: 1px solid #000000; }
    table th, table td { border: 1px solid #000000; }
    table thead { background: #7B2B83; }
    table thead tr th,
    table thead tr td {
        background: #7B2B83;
        color: #FFFFFF;
    }

    .mceItemTable { border: 1px solid #000000; }
    .mceItemTable th, .mceItemTable td { border: 1px solid #000000; }
    .mceItemTable thead { background: #7B2B83; }
    .mceItemTable thead tr th,
    .mceItemTable thead tr td {
        background: #7B2B83;
        color: #FFFFFF;
    }

    .footer {
        background: #626366;
    }
    .dtp {
        color: #7B2B83;
    }
    .footer-accent {
        background: #7B2B83;
    }
