<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <span>Gebruikersbeheer</span>
</section>
<section class="cols-2 right-wide">
    <?//= $this->information()->init(false); ?>

    <div class="clearfix">
        <article class="content">

            <div class="clearfix">
                
                <div class="box-gray news-short-desc float-l">
                    <h4 class="news-title"><?= $this->translate('Contactpersonen') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Contactpersonen uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/contact-person" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar contactpersonen');?></i>
                        </a>
                    </div>
                </div>
                
                <div class="box-gray news-short-desc float-r">
                    <h4 class="news-title"><?= $this->translate('Functie- en rechtenbeheer') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Functie- en rechtenbeheer uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/function" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar functie- en rechtenbeheer');?></i>
                        </a>
                    </div>
                </div>
                
            </div>

            <div class="clearfix margin-t">
                
                <div class="box-gray news-short-desc float-l">
                    <h4 class="news-title"><?= $this->translate('Bedrijfslocaties') ?></h4>
                    <div class="event-desc">
                        <?= $this->translate('Bedrijfslocaties uitleg') ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/location" class="btn-gray btn-big">
                            <i><?= $this->translate('Ga naar locaties');?></i>
                        </a>
                    </div>
                </div>
                
                <div class="box-gray news-short-desc float-r">
                    <h4 class="news-title"><?= $this->translate("Regio's") ?></h4>
                    <div class="event-desc">
                        <?= $this->translate("Regio's uitleg") ?>
                        <span class="shadow"></span>
                    </div>
                    <div class="go-to">
                        <a href="/company/region" class="btn-gray btn-big">
                            <i><?= $this->translate("Ga naar regio's");?></i>
                        </a>
                    </div>
                </div>
                
            </div>
            
        </article>

        <aside class="right">
            <?=$this->pageDescription(array( 'showDesc' => false ));?>
        </aside>
    </div>
</section>




