<?php

/**
 * Description
 *
 * @category
 * @author     Kudrinsky Vitaly <vkudrinsky@gmail.com>
 * @version    SVN: $Id: $
 */
?>

<?php
    $this->layout()->disableLayout();
    $supportMinutes = $this->modules('support-ticket')->supportMinutesComboBox()->getOptions();
    $memberships = $this->modules('membership')->membershipComboBox()->getOptions();
?>
<table>
    <tr>
        <th>
            Support minutes
        </th>
        <th>
            Memberships
        </th>
    </tr>
    <tr>
        <td>
            <?php foreach ($supportMinutes as $key => $option): ?>
                <?php if(empty($key)): ?>
                    <?php continue; ?>
                <?php endif; ?>
                <p>
                    <a href="/cart/index/create/kind/support-minutes/itemId/<?=$key; ?>">
                        <?=$option; ?>
                    </a>
                </p>
            <?php endforeach;?>
        </td>
        <td>
            <?php foreach ($memberships as $key => $option): ?>
                <?php if(empty($key)): ?>
                    <?php continue; ?>
                <?php endif; ?>
                <p>
                    <a href="/cart/index/create/kind/membership/itemId/<?=$key; ?>">
                        <?=$option; ?>
                    </a>
                </p>
            <?php endforeach;?>
        </td>
    </tr>
</table>
