<?php

/**
 * Description
 *
 * @category
 * @author     Kudrinsky Vitaly <vkudrinsky@gmail.com>
 * @version    SVN: $Id: $
 */

$this->layout()->setLayout('auth');

?>
        <table class="width zebra form-fields">
                <tr>
                    <th>Name:</th>
                    <td><?=$this->name; ?></td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td><?=$this->city; ?></td>
                </tr>
                <tr>
                    <th>Merchant ID:</th>
                    <td><?=$this->accountId; ?></td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td><?=$this->status; ?></td>
                </tr>
        </table>
        <p class="text-c">
            <br />
            <br />
            <small><a href="<?=empty($this->returnUrl) ? '/ideal/' : $this->returnUrl; ?>" data-dismiss="modal">terugkeren</a></small>
        </p>



