<?php

$this->headTitle('Modules');
$this->layout()->setLayout('administration');

?>

<script type="text/javascript">
Application.require([
    'module/./list'
], function() {

    var layout = new Application.Layout.Main({
        workspace: new Module.Module.List({
            autoLoadRecords: true
        })
    });

});

</script>
<?/*

    <? foreach ($this->rowset as $row): ?>
        <tr>
            <? $name = $row->getName(); ?>
            <td class="module-details">
                <h6><?=ucfirst($name); ?></h6>

                <p class="module-actions">

                    <?if (!$row->isProtected() && !$row->isMissing()): ?>
                        <? if (!$row->isEnabled()): ?>
                            <a class="no-border" href="<?=$this->url(array('action' => 'enable', 'name' => $name)); ?>">
                                <?=$this->translate('Enable'); ?>
                            </a>
                        <? else: ?>
                            <a class="no-border" href="<?=$this->url(array('action' => 'disable', 'name' => $name)); ?>">
                                <?=$this->translate('Disable'); ?>
                            </a>
                        <?endif; ?>
                    <?endif; ?>

                    <a href="<?=$this->baseUrl('/module/configuration/index/m/' . $name); ?>">
                        <?=$this->translate('Configuration'); ?>
                    </a>
                    <a href="<?=$this->baseUrl('/application/migration/init/m/' . $name); ?>">
                        <?=$this->translate('Init migration'); ?>
                    </a>
                    <a href="<?=$this->baseUrl('/application/migration/diff/m/' . $name); ?>">
                        <?=$this->translate('Diff migration'); ?>
                    </a>

                    <?if ($row->isMissing()): ?>
                        <a class="delete" href="<?=$this->url(array('action' => 'delete', 'name' => $row->getName())); ?>">
                            <?=$this->translate('Delete'); ?>
                        </a>
                    <? endif; ?>
                </p>
            </td>
            <td class="module-status">
                <span class="icon-16 icon-<?=$row->isProtected() ? 'yes': 'no'; ?>-16"></span>
            </td>
            <td class="module-status">
                <span class="icon-16 icon-<?=$row->isEnabled() ? 'yes': 'no'; ?>-16"></span>
            </td>
            <td class="module-desc">
                <p><?=$row->getDescription(); ?></p>
                <p class="module-version">
                    <?=$this->translate('Version') . ' ' . $row->getVersion(); ?>
                </p>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>
</div>*/?>