<div class="list-container">
    <div class="list-title"><?=$this->translate('Laatst toegevoegde vragen');?></div>
    <table class="width zebra">
        <thead>
            <tr>
                <th><?=$this->translate('Datum');?></th>
                <th><?=$this->translate('Vraag');?></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        <? foreach ($this->rowset as $row):?>
            <tr>
                <td class="text-dark-gray"><?=$this->formatDate($row['modifiedDatetime']);?></td>
                <td><?=$row['title'];?></td>
                <td class="actions">
                    <a class="icon-edit" href="/faq/index/index/edit/<?=$row['id'];?>"
                       title="<?=$this->translate('Edit F.A.Q.');?>">&nbsp;</a>
                    <a class="icon-delete" href="/faq/index/delete/id/<?=$row['id'];?>/return/<?=base64_encode('/ap-default/index/management')?>"
                       title="<?=$this->translate('Delete F.A.Q.');?>">&nbsp;</a>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
    <hr>
    <p class="text-c">
        <a href="/faq/index/index/" class="btn-big btn-gray text-c">
            <?=$this->translate('Naar F.A.Q beheer');?>
        </a>
    </p>
</div>