.img-chooser-dlg .details {
    padding: 10px;
    text-align: center;
}

.img-chooser-dlg .details img {
    width: 100%;
    height: auto;
}

.img-chooser-dlg .details-info {
    border-top: 1px solid #cccccc;
    font: 11px Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding-top: 5px;
    text-align: left;
}

.img-chooser-dlg .details-info b {
    color: #555555;
    display: block;
    margin-bottom: 4px;
}

.img-chooser-dlg .details-info span {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.img-chooser-view {
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}

.img-chooser-view .thumb {
    background: #dddddd;
    padding: 3px;
}

.img-chooser-view .thumb-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    background: url(../images/thumb-icon.png) no-repeat;
    width: 16px;
    height: 16px;
}

.icon-thumb-16 {
    background: url(../images/thumb-icon.png) no-repeat;
}

.icon-insert-image-16 {
    background: url(../images/insert-image.png) no-repeat;
}

.img-chooser-view .thumb img {
    height: 60px;
    width: 80px;
}

.img-chooser-view .thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
    position: relative;
}

.img-chooser-view .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

.img-chooser-view .x-view-over {
    border: 1px solid #dddddd;
    background: #efefef url(../images/row-over.gif) repeat-x left top;
    padding: 4px;
}

.img-chooser-view .x-item-selected {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 4px;
}

.img-chooser-view .x-item-selected .thumb {
    background: transparent;
}

.img-chooser-view .x-item-selected span {
    color: #1A4D8F;
}

.img-chooser-view .loading-indicator {
    font-size: 11px;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    margin: 10px;
}