<?php
echo $this->information()->init();

$this->formValue()->init();
if (null !== $this->contactPersonRow):
    $this->formValue()->setModel($this->contactPersonRow);
else:
    $this->formValue()->omitNullableModel(true);
endif;
$this->formPrefix()->init('');
?>
<?  if($this->contactPersonRow->companyId == $this->company->getId()): ?>
<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <a href="/company/contact-person"><span>Gebruikers</span></a>
<?      if ($this->url(array('id'=>null)) == $this->url(array('action'=>'create', 'id'=>null))):?><span>Gebruiker aanmaken</span><?endif;?>
<?      if ($this->url(array('id'=>null)) == $this->url(array('action'=>'update', 'id'=>null))):?><span>Gebruiker bewerken</span><?endif;?>
</section>
<style>
    .location {
        line-height: 24px;
    }
    .location:nth-child(odd) {
        background-color:#f0f0f0;
    }
    .location span {
        display:inline-block;
        width:auto;
    }
    .location .name {
        min-width:150px;
        max-width:250px;
    }
    .location .city {
        min-width:100px;
        max-width:250px;
    }
    .location .region {
        min-width:100px;
        max-width:250px;
    }
</style>
<section class="cols-2 clearfix">
    <div>
        <article class="content">
<?  endif; ?>
            <form action="<?=$this->url(array(''=>''))?>" class="xcontact-person-create validatable" method="post" enctype="multipart/form-data">
                <input type="hidden" name="companyId" value="<?=$this->formValue('companyId'); ?>" />
                <input type="hidden" name="contactPersonId" value="<?=$this->formValue('id'); ?>" />

                <div class="accordion lib-cat">
<?  if($this->contactPersonRow->companyId == $this->company->getId()): ?>
                    <h4 class="accordion-section-title" data-id="1">
                        <a href="#Gebruiker">
                            Gebruiker&nbsp;
                        </a>
                    </h4>
<?  endif; ?>
                    <div class="accordion-section root-cat" id="1" data-hash="Gebruiker">
                        <table class="width form-fields">
<? if(null === $this->contactPersonRow): ?>
                            <tr>
                                <th colspan="3">
                                    <h4 class="float-l"><strong>Nieuwe gebruiker aanmaken</strong></h4>
                                    <span class="ajax-preloader">&nbsp;</span>
                                </th>
                            </tr>
<? else: ?>
                            <tr>
                                <th colspan="3">
                                    <h4 class="float-l"><strong><?=$this->contactPersonRow->getFullname();?></strong></h4>
                                </th>
                            </tr>
<? endif; ?>
<? require_once __DIR__ . '/create.field.phtml'; ?>
                        </table>

                    </div>
<?  if($this->contactPersonRow->companyId == $this->company->getId()): ?>

                    <h4 class="accordion-section-title" data-id="1">
                        <a href="#Bedrijfslocaties">
                            Gebruiker - Bedrijfslocaties&nbsp;
                        </a>
                    </h4>
                    <div class="accordion-section root-cat" id="1" data-hash="Bedrijfslocaties">
                        <p class="accordion-section-empty">Stel hier in namens welke bedrijfslocaties deze gebruiker offertes mag uitbrengen.</p>
                        <input type="hidden" name="locations[]"/>
<?      foreach($this->locations as $location): ?>
                        <label class="location">
<?
            $checked = '';
            foreach($this->contactpersonLocations as $contactpersonLocation):
                $checked .= ($contactpersonLocation['id'] == $location['id'])? ' checked="checked"':'';
            endforeach;
?>
                            <input type="checkbox" name="locations[]" value="<?= $location['id'] ?>"<?=$checked?>/>
                            <span class="name"><?=$location['name']?> <?=$location['form']?></span>
                            <span class="city"><?=$location['actualCity']?></span>
                            <span class="regions">
<?          foreach($this->locationRegions[$location['id']] as $region):?>
                                <div title="<?=$region['description']?>"><?=$region['name']?></div>
<?          endforeach;?>
                            </span>
                        </label>
<?      endforeach; ?>
                    </div>
<?  endif; ?>
                </div>
                <hr />
                <p class="text-c">
<?  if ($this->isXmlHttpRequest): ?>
                    <a class="btn-big" href="javascript: window.location.reload();">
                        <span class="icon-cancel">Annuleren</span>
                    </a>
<?  else:?>
                    <a class="btn-big" href="/company/contact-person">
                        <span class="icon-cancel">Annuleren</span>
                    </a>
<?  endif; ?>
                    <button class="btn-big" type="submit">
                        <span class="icon-save">Opslaan</span>
                    </button>
                </p>
            </form>
<?  if($this->contactPersonRow->companyId == $this->company->getId()): ?>

            <script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
        </article>
        <aside class="right">
            <?=$this->pageDescription(array('showDesc' => false));?>
        </aside>
    </div>
</section>
<?  endif; ?>