<?php
    /**
     * Initialize plugins with default values
     * We are expecting the contactPersonRow in this template
     */
    $prefix = 'contactPerson';
    $accountRow = null;
    if (null !== $this->contactPersonRow):

        /**
         * Reset values should be here otherwise it reset POST data
         */
        $this->formValue()->init();

        $this->formValue()->setModel($this->contactPersonRow);
        $namespace = $this->contactPersonRow->getId();

        $accountRow = $this->formValue('accountId') ?  $this->contactPersonRow->getAccountRow() : null;
    else:
        $this->formValue()->omitNullableModel(true);
        if (empty($this->namespace)):
            throw new OSDN_Exception('Unable to find valid namespace');
        endif;
        $namespace = $this->namespace;
    endif;
    $prefix .= sprintf('[%s]', $namespace);
    $this->formPrefix()->init($prefix);
?>

<a name="<?=$namespace; ?>"></a>
<div id="<?=$blockId = uniqid(); ?>">
    <div class="clearfix">
        <h4 class="float-l margin-l">
            <b>
<?  if (null !== $this->contactPersonRow): ?>
                <?=(!empty($accountRow) && $accountRow->isCompanyOwner()) ? 'Beheerder' : 'Gebruiker'; ?>
<?  elseif ($this->createCompanyOwnerContactPerson): ?>
                <?=$this->translate('Beheerder contactpersoon aanmaken')?>
<?  else: ?>
                <?=$this->translate('Nieuw contactpersoon aanmaken')?>
<?  endif; ?>
            </b>
<?  if(!empty($this->createContactPersonLater)): ?>
<?      $chk = $this->formValue('create-contact-person-later'); ?>
            <small class="text-gray text-normal">
                <label class="inline">
                    (
                    <input type="checkbox" id="create-contact-person-later" value="1" <?=(empty($chk))?'':'checked="checked"'?> name="create-contact-person-later"  />
                    <?=$this->translate('Ik maak contact persoon later')?>)
                </label>
            </small>
<?  endif;?>
        </h4>
<?/**?>
<?  if (empty($accountRow) || !$accountRow->isCompanyOwner()):
        if (!empty($this->companyId) || !empty($this->companyRow)):
            $data_id = (null !== $this->contactPersonRow)? ' data-id="'.$this->contactPersonRow->getId().'"':'';
?>
                <a class="icon-delete remove-contact-person float-r text-normal"
                   href="#"
                   rel="<?=$blockId; ?>"
                   <?= $data_id ?>>
                    <?=$this->translate('Verwijderen')?>
                </a>
<?      endif; ?>
<?  endif; ?>
<?/**/?>
    </div>
    <table class="width zebra contact-person-item form-fields">
<?
    if (!empty($contactPersonSubmittedRowset)) {
        $this->formSubmittedPostData = array(
            'contactPerson' => $contactPersonSubmittedRowset
        );
    }
    require __DIR__ . '/create.field.phtml';
?>
    </table>
    <br>
</div>