<section class="breadcrumbs">
    <a href="/company"><span>Mijn beheer</span></a>
    <span>Gebruikers</span>
</section>
<section class="cols-2 clearfix">

    <div class="clearfix">
        <article class="content">
            <?= $this->block('contact-person-list', array(), 'company', true)->getBlockObj() ?>
        </article>

        <aside class="right">
            <?=$this->pageDescription(array('showDesc' => false));?>
        </aside>
    </div>

</section>

<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
<script src="/modules-appalti/company/views/scripts/default/index/_resources/js/Form.js"></script>
