<?php

/**
 * Present a list of available fields
 *
 * We are expecting the contactPersonRow in this template
 * The helpers whould be initialized in the parent views
 */

$selectUnique = uniqid();

$postData = empty($namespace) || empty($this->formSubmittedPostData['contactPerson'][$namespace])
        ? array()
        : $this->formSubmittedPostData['contactPerson'][$namespace];

$accountRow = $this->accountRow;
$tabIndex = !empty($this->tabindex) ? $this->tabindex : 50;
?>

<tr>
    <th><h4>Inloggegevens</h4></th>
    <td class="info-cnt">&nbsp;</td>
    <td class="va-middle">
        <label>
            <input type="checkbox" tabindex="<?=$tabIndex?>" name="changeCredentials" id="changeCredentials" />
            Verander inloggegevens
        </label>
    </td>
</tr>
<tr>
    <th>Gebruikersnaam:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $username = $this->formPrefix('username'); ?>
        <input type="hidden" name="<?=$username; ?>_old" value="<?=$accountRow->getUsername();?>" />
        <input type="text" tabindex="<?=$tabIndex++?>" disabled="disabled" name="<?=$username; ?>"
               value="<?=$accountRow->getUsername();?>" />
    </td>
</tr>
<tr>
    <th>Oude wachtwoord:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <input type="password"
               id="oldPassword"
               name="oldPassword"
               tabindex="<?=$tabIndex++?>"
               class="changeCredentials"
               data-remoteValidation="/account/password/check"
               data-invalidMessage="Wachtwoord is ongeldig."
               required="#changeCredentials:checked"
               disabled="disabled" value="" />
    </td>
</tr>
<tr>
    <th>Wachtwoord:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $password = $this->formPrefix('password'); ?>
        <input type="password" tabindex="<?=$tabIndex++?>"
               required="#changeCredentials:checked"
               class="changeCredentials" id="accountPass" disabled="disabled"
               name="<?=$password; ?>" value="" />
    </td>
</tr>
<tr>
    <th>Herhaal wachtwoord:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $repassword = $this->formPrefix('confirmPassword'); ?>
        <input type="password" required="#accountPass:filled" equalTo="#accountPass" tabindex="<?=$tabIndex++?>"
               class="changeCredentials" disabled="disabled" name="<?=$repassword; ?>" value="" />
    </td>
</tr>

<?php if (null !== $this->contactPersonRow):?>
<tr class="main-contact-person-fields">
    <th>
        <br />
        <h4>Basisgegevens</h4>
        Voorletters:
    </th>
    <td class="info-cnt va-bottom">&nbsp;</td>
    <td class="va-bottom">
        <? $initials = $this->formPrefix('initials'); ?>
        <input type="text" tabindex="<?=$tabIndex++?>" name="<?=$initials; ?>" value="<?=$this->formValue('initials'); ?>" class="letterswithbasicpunc" />
    </td>
</tr>
<? /*
<tr class="main-contact-person-fields">
    <th>Voorvoegsel:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $prefix = $this->formPrefix('prefix'); ?>
        <input type="text" tabindex="<?=$tabIndex++?>" name="<?=$prefix; ?>" value="<?=$this->formValue('prefix'); ?>" class="letterswithbasicpunc"/>
    </td>
</tr>
 */ ?>
<tr class="main-contact-person-fields">
    <th>Voornaam:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $firstname = $this->formPrefix('firstname'); ?>
        <input type="text" name="<?=$firstname; ?>" tabindex="<?=$tabIndex++?>"
               value="<?=$this->formValue('firstname'); ?>" class="required" />
    </td>
</tr>
<tr class="main-contact-person-fields">
    <th>Achternaam:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $lastname = $this->formPrefix('lastname'); ?>
        <input type="text" tabindex="<?=$tabIndex++?>" name="<?=$lastname; ?>" value="<?=$this->formValue('lastname'); ?>"
               class="required" />
    </td>
</tr>
<tr class="main-contact-person-fields">
    <th class="va-top">Geslacht:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <?
        foreach(array(
            Company_Model_ContactPersonRow::MALE,
            Company_Model_ContactPersonRow::FEMALE
        ) as $sex):
            $name = $this->formPrefix('sex'); ?>
            <label>
                <input type="radio" name="<?=$name; ?>" value="<?=$sex; ?>" tabindex="<?=$tabIndex++?>"
                    <?if (0 === strcasecmp($this->formValue('sex'), $sex)): ?>
                        checked="checked"
                    <?endif; ?>
                    class="required"
                />
                <?=ucfirst($sex); ?>
            </label>
        <?endforeach; ?>
    </td>
</tr>
<tr class="main-contact-person-fields">
    <th>Functie:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $function = $this->formPrefix('function'); ?>
        <input type="text" name="<?=$function; ?>" value="<?=$this->formValue('function'); ?>" tabindex="<?=$tabIndex++?>"
               class="<?=$this->information()->toCls($function); ?>" />
    </td>
</tr>
<tr class="main-contact-person-fields">
    <th>Afdeling:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $department = $this->formPrefix('department'); ?>
        <input type="text" name="<?=$department; ?>" value="<?=$this->formValue('department'); ?>"
               tabindex="<?=$tabIndex++?>"
               class="<?=$this->information()->toCls($department); ?>" />
    </td>
</tr>
<tr class="main-contact-person-fields">
    <th>Direct nummer:</th>
    <td class="info-cnt">
        <a class="icon-info-small" href="#" title="Voer het telefoonnummer in zonder spaties en koppeltekens.">&nbsp;</a>
    </td>
    <td>
        <? $phone = $this->formPrefix('phone'); ?>
        <input type="text" name="<?=$phone; ?>" value="<?=$this->formValue('phone'); ?>"
               class="phoneNL" tabindex="<?=$tabIndex++?>" />
    </td>
</tr>
<tr class="main-contact-person-fields">
    <th>Mobiel nummer:</th>
    <td class="info-cnt">
        <a class="icon-info-small" href="#" title="Voer het telefoonnummer in zonder spaties en koppeltekens.">&nbsp;</a>
    </td>
    <td>
        <? $mobile = $this->formPrefix('mobile'); ?>
        <input type="text" name="<?=$mobile; ?>" value="<?=$this->formValue('mobile'); ?>"
               class="mobileNL" tabindex="<?=$tabIndex++?>" />
    </td>
</tr>
<tr class="main-contact-person-fields">
    <th>E-mailadres:</th>
    <td class="info-cnt">&nbsp;</td>
    <td>
        <? $email = $this->formPrefix('email'); ?>
        <input type="text" name="<?=$email; ?>" value="<?=$this->formValue('email'); ?>"
               class="required email3" tabindex="<?=$tabIndex++?>" />
    </td>
</tr>
<tr class="main-contact-person-fields">
    <th class="va-top">Upload een pasfoto:</th>
    <td class="info-cnt va-top">&nbsp;</td>
    <td>
        <? if (null !== $this->contactPersonRow): ?>
            <img class="margin-b" src="<?=$this->modules('company')->ContactPersonPhotoFileStock($this->contactPersonRow)->resize(70); ?>" />
            <br />
        <?endif; ?>
        <?$photo = $this->formPrefix('photo', '', true); ?>
        <input type="file" size="12" name="<?=$photo; ?>" tabindex="<?=$tabIndex++?>" />
    </td>
</tr>
<tr class="main-contact-person-fields">
    <th class="va-top">Upload een handtekening:</th>
    <td class="info-cnt va-top">&nbsp;</td>
    <td>
        <? if (null !== $this->contactPersonRow): ?>
            <img class="margin-b" src="<?=$this->modules('company')->ContactPersonPhotoFileStock($this->contactPersonRow, 'signature')->resize(70); ?>" />
            <br />
        <?endif; ?>
        <?$signature = $this->formPrefix('signature', '', true); ?>
        <input type="file" size="12" name="<?=$signature;?>" tabindex="<?=$tabIndex++?>" />
    </td>
</tr>
<?php endif;?>
