<?php

echo $this->information()->init();

$this->formValue()->init();
if (null !== $this->contactPersonRow):
    $this->formValue()->setModel($this->contactPersonRow);
else:
    $this->formValue()->omitNullableModel(true);
endif;

$this->formPrefix()->init('');

$this->tabindex = 50;
?>

<form action="/company/contact-person/update-account/format/json" class="contact-person-create validatable"
      method="post" enctype="multipart/form-data">
    <input type="hidden" name="companyId" value="<?=$this->formValue('companyId'); ?>" />
    <input type="hidden" name="contactPersonId" value="<?=$this->formValue('id'); ?>" />
    <table class="width form-fields">
        <tr>
            <th colspan="3">
                <h4 class="float-l"><b><?=(null === $this->contactPersonRow)?$this->accountRow->getFullname():$this->contactPersonRow->getFullname();?></b></h4>
                <span class="ajax-preloader">&nbsp;</span>
            </th>
        </tr>
        <? require_once __DIR__ . '/update.account.field.phtml'; ?>
    </table>
    <hr />
    <p class="text-c">
        <button class="btn-big" tabindex="<?=$tabIndex++?>" type="submit">
            <span class="icon-save">Opslaan</span>
        </button>

        <br />
        <br />
        <small><a href="#" tabindex="<?=$tabIndex++?>" data-dismiss="modal"><?=$this->translate('Annuleer');?></a></small>
    </p>
</form>
<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>