<?php
echo $this->information()->init();
$this->formValue()->init();
if (null !== $this->contactPersonRow):
    $this->formValue()->setModel($this->contactPersonRow);
else:
    $this->formValue()->omitNullableModel(true);
endif;
$this->formPrefix()->init('');
?>
<?  if($this->contactPersonRow->companyId == $this->company->getId()): ?>
<section class="cols-2 clearfix">
    <div>
        <article class="content">
<?  endif; ?>
            <table class="width form-fields">
<?  if(null === $this->contactPersonRow): ?>
                <tr>
                    <th colspan="3">
                        <h4 class="float-l"><strong>Nieuwe gebruiker aanmaken</strong></h4>
                        <span class="ajax-preloader">&nbsp;</span>
                    </th>
                </tr>
<?  else: ?>
                <tr>
                    <th colspan="3">
                        <h4 class="float-l"><strong><?=$this->contactPersonRow->getFullname();?></strong></h4>
                    </th>
                </tr>
<?  endif; ?>
            </table>
            <form action="<?=$this->url()?>" class="xcontact-person-create validatable" method="post" enctype="multipart/form-data">
                <input type="hidden" name="companyId" value="<?=$this->formValue('companyId'); ?>" />
                <input type="hidden" name="contactPersonId" value="<?=$this->formValue('id'); ?>" />

<?  if($this->contactPersonRow->companyId == $this->company->getId()): ?>
                <div class="accordion lib-cat">
                    <h4 class="accordion-section-title" data-id="1">
                        <a href="#Gebruiker">
                            Gebruiker&nbsp;
                        </a>
                    </h4>
                    <div class="accordion-section root-cat" id="1" data-hash="Gebruiker">
<?  endif; ?>
                        <table class="width form-fields">
<?  require_once __DIR__ . '/create.field.phtml'; ?>
                        </table>

<?  if($this->contactPersonRow->companyId == $this->company->getId()): ?>
                    </div>

                    <h4 class="accordion-section-title" data-id="1">
                        <a href="#Bedrijfslocaties">
                            Gebruiker - Bedrijfslocaties&nbsp;
                        </a>
                    </h4>
                    <div class="accordion-section root-cat" id="1" data-hash="Bedrijfslocaties">
                        <p class="accordion-section-empty">Stel hier in namens welke bedrijfslocaties deze contactpersoon offertes mag uitbrengen.</p>
                        <input type="hidden" name="locations[]"/>
<style>
    label.location {
        line-height: 24px;
    }
    label.location:nth-child(odd) {
        background-color:#f0f0f0;
    }
    label.location span {
        display:inline-block;
        width:auto;
    }
    label.location .name {
        min-width:150px;
        max-width:250px;
    }
    label.location .city {
        min-width:100px;
        max-width:250px;
    }
    label.location .region {
        min-width:100px;
        max-width:250px;
    }
    label.location {
        line-height: 18px;
        padding-left:20px;
        padding: 2px 20px;
    }
    label.location * {
        vertical-align: top;
    }
    label.location input {
        margin-top:3px;
    }
</style>
<?      foreach($this->locations as $location): ?>
<?
            $checked = '';
            foreach($this->contactpersonLocations as $contactpersonLocation):
                $checked .= ($contactpersonLocation['id'] == $location['id'])? ' checked="checked"':'';
            endforeach;
?>
                        <label class="location">
                            <input type="checkbox" name="locations[]" value="<?= $location['id'] ?>"<?=$checked?>/>
                            <span class="name"><?=$location['name']?> <?=$location['form']?></span>
                            <span class="city"><?=$location['actualCity']?></span>
                            <span class="regions">
<?          foreach($this->locationRegions[$location['id']] as $region):?>
                                <div title="<?=$region['description']?>"><?=$region['name']?></div>
<?          endforeach;?>
                            </span>
                        </label>
<?      endforeach; ?>
                    </div>
<?  endif; ?>
<?  if($this->contactPersonRow->companyId == $this->company->getId()): ?>
                    <h4 class="accordion-section-title" data-id="1">
                        <a href="#Themes">
                            Gebruiker - Thema's
                        </a>
                    </h4>
                    <div class="accordion-section root-cat" id="1" data-hash="Themes">
<style type="text/css">
    .location h4 {
        margin-top: 10px;
    }
    .theme {
        margin-left: 20px;
    }
    .theme span {
        display: inline-block;
    }
    .theme .name {
        width:100px;
    }
    .theme .description,
    .theme .locations {
        display: block;
        width:350px;
    }
    .theme .locations {
        width:150px;
    }
    .theme .location {
        display: block;
        width:100%;
    }
</style>
                        <p class="accordion-section-empty">Stel hier in welke thema's deze gebruiker mag gebruiken.</p>
<?/*  show themes */?>
<?      $key = 0; ?>
<?      foreach($this->contactpersonLocationsThemes as $package):
            $theme = $package['theme'];
            $themeLocations = $package['locations'];
?>
<?          $disabled = '';
            $checked = '';
            foreach($this->contactpersonThemes as $cpTheme):
                if ($cpTheme->getId() == $theme->getId()):
                    $checked = ' checked="checked"';
                endif;
            endforeach;
?>
                        <p class="lib-item-row <?= ($key++%2)? ' odd':' even' ?> theme">
                            <input type="checkbox" name="themes[]" value="<?=$theme->getId()?>"<?= $checked ?><?= $disabled ?>/>
                            <span class="name"><?=$theme->name?></span>
                            <span class="description"><?=nl2br($theme->description)?>&nbsp;</span>
                            <span class="locations">
<?          foreach($themeLocations as $themeLocation): ?>
                                <span class="location"><?= $themeLocation->name ?> <?= $themeLocation->form ?> <?= $themeLocation->actualCity ?></span>
<?          endforeach; ?>
                            </span>
                        </p>
<?      endforeach;?>

                    </div>
                </div>
<?  endif; ?>
                <hr />
                <p class="text-c">
<?  if ($this->isXmlHttpRequest): ?>
                    <a class="btn-big" href="javascript: window.location.reload();">
                        <span class="icon-cancel">Annuleren</span>
                    </a>
<?  else:?>
                    <a class="btn-big" href="/company/contact-person">
                        <span class="icon-cancel">Annuleren</span>
                    </a>
<?  endif; ?>
                    <button class="btn-big" type="submit">
                        <span class="icon-save">Opslaan</span>
                    </button>
                </p>
            </form>
<?  if($this->contactPersonRow->companyId == $this->company->getId()): ?>
            <script src="/public/js/jquery-ui/accordion/jquery-ui-accordion.min.js"></script>
        </article>
<?/**?>
        <aside class="right">
            <?= $this->pageDescription(array('showDesc' => false)) ?>
        </aside>
<?/**/?>
    </div>
    <style type="text/css">
        form {
            height: 756px;
        }
    </style>
    <script type="text/javascript">
        jQuery(function(){
            function getSectionContent(header) {
                var link = $('a', header);
                if (link.data('url') && !link.data('loaded')) {
                    var target = $(link.data('target')).html('<p class="accordion-section-empty">Loading...</p>');
                    target.load(link.data('url'), function() {
                        link.data('loaded', true);
                        al.initTooltip(target);
                        $('body').triggerHandler('sectionLoaded', [link.data('target')]);
                    });
                }
            }

            if ('function' === typeof $.fn.accordion) {
                $('.accordion')
                    .accordion('destroy')
                    .accordion({
                        active: false,
                        autoHeight:false,
                        header:' > .accordion-section-title',
                        navigation: true,
                        collapsible: true,
                        heightStyle: 'content',
                        icons:{
                            'header':'icon-plus',
                            'headerSelected':'icon-minus'
                        },
                        create: function(event, ui) {
                            getSectionContent($(event.target).data('accordion').active);
                        },
                        change: function(event, ui) {
                            var header = ui.newHeader.length ? ui.newHeader : ui.oldHeader,
                                href = $('a', header )[0].href;

//                            !(/#$/g.test(href)) && (win.location.href = href);
                            getSectionContent(header);
                        }
                    });
            }
        });
    </script>
</section>
<?  endif; ?>