/*============  Layout  ==============*/
#container {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  -webkit-box-shadow: 0 2px 4px -1px #666666;
  -moz-box-shadow: 0 2px 4px -1px #666666;
  box-shadow: 0 2px 4px -1px #666666;
  border: 1px solid #fff;
  border-top-color: #f5f5f5;
  margin: 100px auto 0;
  padding: 20px 20px 50px;
  width: 460px;
}
.oldie #container {
  border-color: #f3f3f3;
}

#logo {
  background-position: 100% 0;
  float: none;
  margin-bottom: 25px;
  width: auto;
}

form {
  margin: 25px auto 0;
  width: 400px;
}

table.form-fields input[type="text"], table.form-fields input[type="password"] {
  margin: 0;
  width: 235px;
}

#update-password-form th {
  padding-left: 0;
}
#update-password-form input[type="text"], #update-password-form input[type="password"] {
  margin: 0;
  width: 174px;
}
