<div class="inbetween">
    <div class="inbetween-blocks">
        <?foreach($metadata as $blockDefinitionRow): ?>
            <?=$blockDefinitionRow->getMetadata(); ?>
        <?endforeach; ?>
    </div>
</div>
