<?
    /** @var Account_Model_DbTable_AccountRow $accountRow */
    $accountRow = $this->accountRow;
    $signupData = json_decode($accountRow->signupData);
?>
<h1>Proefaccount aangevraagd</h1>
<table>
    <tr>
        <th>Pakket</th>
        <th>: </th>
        <td><?= $signupData->package ?></td>
    </tr>
    <tr>
        <th colspan="3"><hr/></th>
    </tr>
    <tr>
        <th>Bedrijfsnaam</th>
        <th>: </th>
        <td><?= $signupData->company_name ?> <?= $signupData->form ?></td>
    </tr>
    <tr>
        <th>Adres</th>
        <th>: </th>
        <td><?= $signupData->street ?> <?= $signupData->homenr ?></td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <td><?= $signupData->postal_code ?> <?= $signupData->city ?></td>
    </tr>
    <tr>
        <th colspan="3"><hr/></th>
    </tr>
    <tr>
        <th>Contactpersoon</th>
        <th>: </th>
        <td><?= $signupData->firstname ?> <?= $signupData->lastname ?></td>
    </tr>
    <tr>
        <th>Tel.nr.</th>
        <th>: </th>
        <td><?= $signupData->phone ?></td>
    </tr>
    <tr>
        <th>Emailadres</th>
        <th>: </th>
        <td><?= $signupData->email ?></td>
    </tr>
    <tr>
        <th colspan="3"><hr/></th>
    </tr>
    <tr>
        <th>Questions</th>
        <th> </th>
        <td>&nbsp;</td>
    </tr>
<?/**/?>
<?  foreach($signupData->questions as $question => $answer): ?>
    <tr>
        <th><?= $question ?></th>
        <th>: </th>
        <td><?= $answer ?></td>
    </tr>
<?  endforeach; ?>
<?/**/?>
</table>
<style text="text/css">
    th {
        text-align: left;
    }
</style>
