<?
    /** @var Account_Model_DbTable_AccountRow $accountRow */
    $accountRow = $this->accountRow;
?>
<h1>Uw account voor de offertetool</h1>

Er is voor u een account aangevraagd op offertemaken.com.<br/>
<br/>
<div class="text">---------------------------------------------------------------------------</div>
<h2>Acceptatie</h2>
<div class="text">--------------</div>
Als u hiervan weet en gebruik wilt maken van dit account, voer dan &eacute;&eacute;n van de onderstaande acties uit.<br/>
U accepteert hiermee automatisch onze <a class="inline" href="<?= $this->serverUrl() ?>/algemene-voorwaarden">algemene voorwaarden</a>. <span class="text">(<?= $this->serverUrl() ?>/algemene-voorwaarden)</span><br/>
<br/>
1. Klik op de onderstaande link:<br/>
<a href="<?= $this->serverUrl() . $this->url(array('module'=>'account','controller'=>'create','action'=>'confirm','account'=>$accountRow->getAccountCode()),null,true); ?>">Ik bevestig dat ik gebruik wil maken van dit account.</a><br/>
2. Of kopieer de onderstaande regel in de adresbalk van uw browser:<br/>
<?= $this->serverUrl() . $this->url(array('module'=>'account','controller'=>'create','action'=>'confirm','account'=>$accountRow->getAccountCode()),null,true); ?>
<br/>
<br/>
Volg hierna de instructies. Veel plezier met uw 14-daagse proefaccount!<br/>
<br/>
<div class="text">---------------------------------------------------------------------------</div>
<h2>Weigering</h2>
<div class="text">--------------</div>
Als u dit account niet heeft aangevraagd of niet wilt gebruiken, voer dan &eacute;&eacute;n van de volgende acties uit.<br/>
<br/>
1. Klik op de onderstaande link:<br/>
<a href="<?= $this->serverUrl() . $this->url(array('module'=>'account','controller'=>'create','action'=>'report','account'=>$accountRow->getAccountCode()),null,true); ?>">Ik wil dit account niet.</a><br/>
2. Of kopieer de onderstaande regel in de adresbalk van uw browser:<br/>
<?= $this->serverUrl() . $this->url(array('module'=>'account','controller'=>'create','action'=>'report','account'=>$accountRow->getAccountCode()),null,true); ?><br/>
<br/>
<div class="text">---------------------------------------------------------------------------</div>
Mocht u nog vragen of opmerkingen hebben, neem dan gerust contact met ons op.<br/>
<br/>
Met vriendelijk groet,<br/>
Appalti BV<br/>
<a target="_blank" href="http://www.appalti.nl"><img src="http://www.appalti.nl/wp-content/uploads/2013/10/image001.png" alt="http://www.appalti.nl"></a><br/>
Michiel de Kruijf<br/>
Initiatiefnemer<br/>
<br/>
Fokkerstraat 7<br/>
3833 LD Leusden<br/>
<a href="tel:+31334345031">033 - 434 50 31</a>
<a href="http://www.appalti.nl">www.appalti.nl</a><br/>
<br/>
<div>
    <a class="inline" target="_blank" href="http://www.linkedin.com/company/appalti">
        <img src="http://dl.dropbox.com/u/109672011/IN.gif" alt="http://www.linkedin.com/company/appalti">
    </a>
    <a class="inline" target="_blank" href="http://twitter.com/appaltibv">
        <img src="http://dl.dropbox.com/u/109672011/TW.gif" alt="http://twitter.com/appaltibv">
    </a>
    <a class="inline" target="_blank" href="https://plus.google.com/u/0/b/104416059700862748927/104416059700862748927/">
        <img src="http://www.appalti.nl/wp-content/uploads/2013/10/google.png" alt="https://plus.google.com/u/0/b/104416059700862748927/104416059700862748927/">
    </a>
</div>











































































<style>
    body {
        background-color: #ffffff;
        font-family: Verdana;
    }
    h1, h2, h3, h4, h5, h6 {
    }
    h1 {
        font-size:24px;
    }
    h2 {
        font-size: 14px;
    }
    a {
        display:block;
    }
    a.inline {
        display:inline-block;
    }
    .text {
        display:none;
    }
</style>