.file-stock-button .x-panel-body-default {
    background-color: transparent;
}

.mode-file-stock-button.x-toolbar-item .x-btn-default-small {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}

.mode-file-stock-button.x-toolbar-item .x-btn-default-small-over {
    background-color: #DBEEFF;
    background-image: url('../images/btn-default-small-over-bg.gif');
    background-image: -moz-linear-gradient(center top , #DBEEFF, #D0E7FF 48%, #BBD2F0 52%, #BED6F5);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #DBEEFF), color-stop(48%, #D0E7FF), color-stop(52%, #BBD2F0), color-stop(100%, #BED6F5));
    background-image: -webkit-linear-gradient(top, #DBEEFF,#D0E7FF 48%,#BBD2F0 52%,#BED6F5);
    background-image:-o-linear-gradient(top, #DBEEFF,#D0E7FF 48%,#BBD2F0 52%,#BED6F5);
    background-image:-ms-linear-gradient(top, #DBEEFF,#D0E7FF 48%,#BBD2F0 52%,#BED6F5);
    background-image:linear-gradient(top, #DBEEFF,#D0E7FF 48%,#BBD2F0 52%,#BED6F5);
    border-color: #81A4D0;
}
.mode-file-stock-button.x-toolbar-item .x-btn-default-small-pressed {
    background-color: #BCCFE5;
    background-image: -moz-linear-gradient(center top , #BCCFE5, #C5D6E7 48%, #95C4F4 52%, #9FC9F5);
    border-color: #7A9AC4;
}

.menu-file-stock-button.x-btn-default-small {
    width: inherit !important;
    height: inherit !important;
    background-color: transparent;
    border-color: transparent;
    background-image: none;
}

.menu-file-stock-button.x-btn-default-small-over {
    background-color: #D9E8FB;
    background-image: url('../images/menu-item-active-bg.gif');
    background-image: -moz-linear-gradient(center top , #E7F0FC, #C7DDF9);
    background-image: -webkit-gradient(linear, 50% 100%, color-stop(52%, #E7F0FC), color-stop(100%, #C7DDF9));
    background-image: -webkit-linear-gradient(top, #E7F0FC, #C7DDF9);
    background-image:-o-linear-gradient(top, #E7F0FC, #C7DDF9);
    background-image:-ms-linear-gradient(top, #E7F0FC, #C7DDF9);
    background-image:linear-gradient(top, #E7F0FC, #C7DDF9);
    border: 1px solid #A9CBF5;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    margin: 0;
}

.menu-file-stock-button.x-btn-inner {
    padding-left: 30px;
}

