.x-tab-strip .yellow-notes .x-tab-right,
.x-tab-strip .yellow-notes .x-tab-left,
.x-tab-strip .yellow-notes .x-tab-strip-inner {
    background-image: url(../images/tabs-sprite-yellow.gif);
}

.x-tab-strip .yellow-notes a.x-tab-strip-close {
    background-image: url(../images/tab-close-yellow.gif) !important;
}

.osdn-comment-add {
    background: url(../images/16x16/comment/add.png) no-repeat left center !important;
}

.osdn-comment-edit {
    background: url(../images/16x16/comment/edit.png) no-repeat left center !important;
}

.osdn-comment-delete {
    background: url(../images/16x16/comment/delete.png) no-repeat left center !important;
}

.reply {
    background: url(../images/16x16/comment/reply.png) no-repeat left center !important;
}

.osdn-comment-tree .x-tree-icon-leaf {
    background: url(../images/16x16/comment/post.gif) no-repeat left center !important;
}

.osdn-comments {
    background: url(../images/16x16/comment/comments.png) no-repeat left center !important;
}

.osdn-comment {
    background: url(../images/16x16/comment/comment.png) no-repeat left center !important;
}