<br>
<div class="proposal-structure no-padding">
    <? foreach($this->sections as $sectionRow): ?>
        <div class="proposal-structure-section">
            <h4>
                <?=$sectionRow->getName(); ?>
                <?if ($description = $sectionRow->getDescription()): ?>
                    <span class="text-gray">(<?=$description; ?>)</span>
                <?endif; ?>
            </h4>
            <?if (!$sectionRow->isCalculatable()): ?>
                <? $blocksRowset = $this->proposalRow->fetchAllBlockDefinitionBySection($sectionRow); ?>
                <? if ($blocksRowset->count()): ?>
                    <ol class="no-border proposal-section-items sortable-list <?if ($sectionRow->getLuid() == 'attachment'):?>ls-alpha<?endif;?>">
                        <? foreach($blocksRowset as $blockRow): ?>
                            <li class="no-border"><?=$blockRow->name;?></li>
                        <? endforeach; ?>
                    </ol>
                <?endif; ?>
            <?endif; ?>
        </div>
    <? endforeach; ?>
</div>
<br>
