<?

$this->formValue()->init();

if (null !== $this->proposalRow):
    $proposalThemeRow = $this->proposalRow->getThemeRow();
    $this->formValue()->setModel($this->proposalRow);
else:
    $this->formValue()->omitNullableModel(true);
endif;
?>
<br>
<table class="width form-fields item-summary">
    <tr>
        <th>Offertenummer:</th>
        <td><?=$this->formValue('luid');?></td>
    </tr>
    <tr>
        <th>Offerte naam:</th>
        <td><?=$this->formValue('name');?></td>
    </tr>
    <tr>
        <th>Beoogde omzet:</th>
        <td>&euro; <?=number_format($this->formValue('amount'), 2, '.', ',');?></td>
    </tr>
    <tr>
        <th>Scoringskans:</th>
        <td><?=$this->formValue('chanceOfSuccess');?>%</td>
    </tr>
    <tr>
        <th>Contactmoment offerte:</th>
        <td><?=$this->formValue('ContactMomentDate');?></td>
    </tr>
    <tr>
        <th>Bevat prijsblad:</th>
        <td><?=(!empty($proposalThemeRow) && $proposalThemeRow->includePrice) ? 'Ja' : 'Nee';?></td>
    </tr>
    <tr>
        <th>Bevat persoonlijke inleiding:</th>
        <td><?=(!empty($proposalThemeRow) && $proposalThemeRow->includePersonalIntroduction) ? 'Ja' : 'Nee';?></td>
    </tr>
</table>

<?
    $accountRow = $this->proposalRow->getAccountRow();
    $companyRow = $accountRow->getCompanyRow(false);

    $contactPersonRow = null;
    if ($companyRow) {
        if ($this->formValue('approvedAccountId')) {
            $contactPersonRow = $companyRow->getCompanyContactPersonRowByAccountId($this->formValue('approvedAccountId'));
        } else {
            $contactPersonRow = $companyRow->getCompanyContactPersonRow($this->formValue('contactPersonId'));
        }
    }

    $this->formValue()->init();
    if (null !== $contactPersonRow):
        $this->formValue()->setModel($contactPersonRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
?>
<br>
<table class="width form-fields item-summary">
    <tr>
        <th>
            <h5><strong>Ondertekend door:</strong></h5>
            Volledige naam:
        </th>
        <td class="va-bottom"><?=$this->formValue('fullname'); ?></td>
    </tr>
    <tr>
        <th>Voorletters:</th>
        <td><?=$this->formValue('initials'); ?></td>
    </tr>
    <tr>
        <th>Voornaam:</th>
        <td><?=$this->formValue('firstname'); ?></td>
    </tr>
    <tr>
        <th>Achternaam:</th>
        <td><?=$this->formValue('lastname'); ?></td>
    </tr>
    <tr>
        <th>Geslacht:</th>
        <td><?=$this->formValue('sex'); ?></td>
    </tr>
    <tr>
        <th>Titel:</th>
        <td><?=$this->formValue('title'); ?></td>
    </tr>
    <tr>
        <th>Functie:</th>
        <td><?=$this->formValue('function'); ?></td>
    </tr>
    <tr>
        <th>Afdeling:</th>
        <td><?=$this->formValue('department'); ?></td>
    </tr>
    <tr>
        <th>Direct nummer:</th>
        <td><?=$this->formValue('phone'); ?></td>
    </tr>
    <tr>
        <th>Mobiel nummer:</th>
        <td><?=$this->formValue('mobile'); ?></td>
    </tr>
    <tr>
        <th>E-mailadres:</th>
        <td>
            <a href="mailto:<?=$this->formValue('email'); ?>"><?=$this->formValue('email'); ?></a>
        </td>
    </tr>
</table>

<?
    $clientRow =  $this->proposalRow->getClientCompanyRow();
    $this->formValue()->init();

    if (null !== $clientRow):
        $this->formValue()->setModel($clientRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
?>
<br>
<table class="width form-fields item-summary">
    <tr>
        <th>
            <h5><strong>Informatie klant:</strong></h5>
            Bedrijfsnaam incl. bedrijfsvorm:
        </th>
        <td class="va-bottom"><?=$this->formValue('fullname');?></td>
    </tr>
    <tr>
        <th>Bedrijfsnaam excl. bedrijfsvorm:</th>
        <td><?=$this->formValue('name');?></td>
    </tr>
    <tr>
        <th class="va-top">Logo van de klant:</th>
        <td>
<?  if ($clientRow):?>
            <img src="<?=$this->modules('company')->CompanyLogoFileStock($clientRow)->resize(70); ?>" alt=""/>
<?  endif;?>
        </td>
    </tr>

    <tr>
        <th>
            <br>
            <h5><strong>Bezoekadres:</strong></h5>
            Straatnaam en huisnummer:</th>
        <td class="va-bottom">
            <?=$this->formValue('actualStreet');?>
            <?=$this->formValue('actualHouseNumber');?>
        </td>
    </tr>
    <tr>
        <th>Postcode en plaats:</th>
        <td>
            <?=$this->formValue('actualPostCode');?>
            <?=$this->formValue('actualCity');?>
        </td>
    </tr>

    <tr>
        <th>
            <br>
            <h5><strong>Postadres:</strong></h5>
            Straatnaam en huisnummer:
        </th>
        <td class="va-bottom">
            <?=$this->formValue('postStreet');?>
            <?=$this->formValue('postHouseNumber');?>
        </td>
    </tr>
    <tr>
        <th>Postcode en plaats:</th>
        <td>
            <?=$this->formValue('postPostCode');?>
            <?=$this->formValue('postCity');?>
        </td>
    </tr>
</table>
<?
    $clientContactRow = null;
    if ($clientRow):
        $clientContactRow =  $clientRow->getCompanyContactPersonRow($this->proposalRow->clientContactPersonId);
    endif;
    $this->formValue()->init();
    if (null !== $clientContactRow):
        $this->formValue()->setModel($clientContactRow);
    else:
        $this->formValue()->omitNullableModel(true);
    endif;
?>
<br>
<table class="width form-fields item-summary">
    <tr>
        <th>
            <h5><strong>Contactpersoon/personen klant:</strong></h5>
            Volledige naam contactpersoon:
        </th>
        <td class="va-bottom"><?=$this->formValue('fullname'); ?></td>
    </tr>
    <tr>
        <th>Voorletters:</th>
        <td><?=$this->formValue('initials'); ?></td>
    </tr>
    <tr>
        <th>Voornaam:</th>
        <td><?=$this->formValue('firstname'); ?></td>
    </tr>
    <tr>
        <th>Achternaam:</th>
        <td><?=$this->formValue('lastname'); ?></td>
    </tr>
    <tr>
        <th>Geslacht:</th>
        <td><?=$this->formValue('sex'); ?></td>
    </tr>
    <tr>
        <th>Titel:</th>
        <td><?=$this->formValue('title'); ?></td>
    </tr>
    <tr>
        <th>Functie:</th>
        <td><?=$this->formValue('function'); ?></td>
    </tr>
    <tr>
        <th>Afdeling:</th>
        <td><?=$this->formValue('department'); ?></td>
    </tr>
    <tr>
        <th>Direct nummer:</th>
        <td><?=$this->formValue('phone'); ?></td>
    </tr>
    <tr>
        <th>Mobiel nummer:</th>
        <td><?=$this->formValue('mobile'); ?></td>
    </tr>
    <tr>
        <th>E-mailadres:</th>
        <td>
            <a href="mailto:<?=$this->formValue('email'); ?>"><?=$this->formValue('email'); ?></a>
        </td>
    </tr>
</table>
<br>