<?
    if (empty($this->offers)) {
        return;
    }

    $this->formValue()->init();

    if (null !== $this->themeRow) {
        $this->formValue()->setModel($this->themeRow);
    } else {
        $this->formValue()->omitNullableModel(true);
    }
?>
<table class="width proposal-offers">
    <colgroup>
        <col width="40%">
        <col width="*">
        <col width="*">
        <col width="*">
        <col width="15%">
    </colgroup>
    <thead>
        <tr>
            <th class="offer-name">Product / Dienst</th>
            <th class="text-r">Prijs</th>
            <th class="text-r">Aantal</th>
            <th class="text-r">Korting</th>
            <th class="text-r">Totaal</th>
        </tr>
    </thead>
    <tbody>
        <?foreach($this->offers as $offer):?>
            <tr>
                <td class="offer-name">
                    <?=$offer['name'];?>
                    <? if(!empty($offer['description'])): ?>
                        <br />
                        <small><?=$offer['description'];?></small>
                    <? endif; ?>
                </td>
                <td class="text-r">
                    &euro; <?=number_format($offer['pricePerUnit'] ? $offer['pricePerUnit'] : 0, 2, ',', '.');?>
                </td>
                <td class="text-r"><?=number_format($offer['amount'], 2, ',', '.');?></td>
                <td class="text-r"><?=$offer['discount'] ? number_format($offer['discount'], 2, ',', '.') : 0;?> %</td>
                <td class="text-r">
                    &euro; <?=number_format($offer['pricePerUnit'] * $offer['amount'] * (1 - ($offer['discount'] ? $offer['discount'] : 0) / 100), 2, ',', '.');?>
                </td>
            </tr>
        <?endforeach;?>
    </tbody>
    <tfoot>
        <tr class="tfoot">
            <td colspan="4" class="text-r">Subtotaal</td>
            <td class="text-r">&euro; <?=number_format($this->formValue('subtotalPrice'), 2, ',', '.');?></span></td>
        </tr>
    </tfoot>
</table>

<? $extraPrice = 0; ?>
<table class="width proposal-extra-pays">
    <colgroup>
        <col width="38%">
        <col width="14%">
        <col width="16%">
        <col width="13%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="2">Extra kosten</th>
            <th class="text-r">Percentage</th>
            <th class="text-r">Totaal</th>
        </tr>
    </thead>
    <tbody>
        <? if ($this->formValue('includeTimeCharge')) :?>
            <? $extraPrice += $this->formValue('timeChargesValue'); ?>
            <tr>
                <td colspan="2">Tijdstoeslagen</td>
                <td class="text-r"><?=$this->formValue('timeChargesPercentage');?> %</td>
                <td class="text-r">&euro; <?=number_format($this->formValue('timeChargesValue'), 2, ',', '.'); ?></td>
            </tr>
        <? endif; ?>

        <? if ($this->formValue('includeExtraCost')) :?>
            <? $extraPrice += $this->formValue('extraCostValue'); ?>
            <tr>
                <td colspan="2">Stelposten</td>
                <td class="text-r">
                    <? if ($this->formValue('extraCostType') === 'percentage') :?>
                        <?=$this->formValue('extraCostPercentageOrValue'); ?> %
                    <? endif; ?>
                </td>
                <td class="text-r">&euro; <?=number_format($this->formValue('extraCostValue'), 2, ',', '.');?></td>
            </tr>
        <? endif; ?>

        <? if ($this->formValue('includeShippingCost')) :?>
            <? $extraPrice += $this->formValue('shippingValue'); ?>
            <tr>
                <td colspan="3">Verzendkosten</td>
                <td class="text-r">&euro; <?=number_format($this->formValue('shippingValue'), 2, ',', '.');?></td>
            </tr>
        <? endif; ?>

        <? if ($this->formValue('includeTravelingExpenses')) :?>
            <? $extraPrice += $this->formValue('travelingExpensesValue'); ?>
            <tr>
                <td colspan="3">Reiskosten</td>
                <td class="text-r">&euro; <?=number_format($this->formValue('travelingExpensesValue'), 2, ',', '.'); ?></td>
            </tr>
        <? endif; ?>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-r">Subtotaal</td>
            <td class="text-r">&euro; <?=number_format($extraPrice, 2, ',', '.');?></td>
        </tr>

        <? if ($this->formValue('includeDiscount')): ?>
            <tr class="normal">
                <td colspan="2">Korting</td>
                <td class="text-r"><?=$this->formValue('discountPercentage');?> %</td>
                <td class="text-r">
                    &minus; &euro; <?=number_format($this->formValue('discountValue'), 2, ',', '.');?>
                </td>
            </tr>
        <? endif; ?>

        <? if ($this->formValue('showBtw') && $this->formValue('btwExclusive') === 'exclusive'): ?>
            <tr class="normal">
                <td class="text-r" colspan="2">
                    <strong class="text-black">BTW</strong>
                </td>
                <td class="text-r"><?=$this->formValue('btwPercentage');?> %</td>
                <td class="text-r">&euro; <?=number_format($this->formValue('btwValue'), 2, ',', '.');?></td>
            </tr>
        <? endif; ?>

        <tr class="total">
            <td class="asterisk va-middle" colspan="2">
                alle genoemde bedragen in deze offerte zijn <?=$this->formValue('btwExclusive') === 'exclusive' ? 'exclusief' : 'inclusief';?> BTW
            </td>
            <td colspan="2" class="text-r">
                Totaal &euro; <?=number_format($this->formValue('totalPrice'), 2, ',', '.');?>
            </td>
        </tr>
    </tfoot>
</table>

<dl class="proposal-text-blocks">
    <?if ($this->formValue('includeExplanation')):?>
        <dt>Toelichting</dt>
        <dd><?=$this->formValue('explanationText');?></dd>
    <?endif;?>

    <?if ($this->formValue('includeOptionalItems')):?>
        <dt>Optionele zaken</dt>
        <dd><?=$this->formValue('optionalItemsText');?></dd>
    <?endif;?>

    <?if ($this->formValue('includeAdditionalConditions')):?>
        <dt>Extra voorwaarden</dt>
        <dd><?=$this->formValue('additionalConditionsText');?></dd>
    <?endif;?>

    <?if ($this->formValue('delayedPayment')):?>
        <dt>Gespreide betalingswijzen</dt>
        <dd><?=$this->formValue('delayedPaymentText');?></dd>
    <?endif;?>

    <?if ($this->formValue('includeOtherDetails')):?>
        <dt>Overige bijzonderheden</dt>
        <dd><?=$this->formValue('otherDetailsText');?></dd>
    <?endif;?>
</dl>