<div class="btn-group">
    <a href="<?=$this->btnLink;?>" class="btn-green btn-big <?=$this->linkCls?>"><?=$this->btnText;?></a>
    <i class="btn-green btn-big dropdown-toggle" data-toggle="dropdown"><i class="caret">&nbsp;</i></i>
    <ul class="dropdown-menu">
        <? foreach($this->dropDownlinks as $link => $title): ?>
            <? if ('---' !== $title): ?>
                <li><a class="<?=$this->linkCls?>" href="<?=$link;?>"><?=$title; ?></a></li>
            <? else:?>
                <li class="divider"></li>
            <? endif;?>
        <? endforeach; ?>
    </ul>
</div>
<script src="/public/js/jquery-plugins/dropdown/dropdown.min.js"></script>
<link rel="stylesheet" href="/public/js/jquery-plugins/dropdown/dropbown.min.css"/>