<? if ($this->showDesc): ?>
    <div class="box-gray about-screen">
        <h5 class="icon-info no-margin"><strong><?=$this->translate($this->title);?></strong></h5>
        <p><?=$this->translate($this->desc);?></p>
    </div>
<? endif; ?>

<? if ($this->showHelp): ?>
    <div class="support-box">
        <div class="support-girl">&nbsp;</div>
        <span class="desc"><?=$this->translate($this->helpText); ?></span>
        <a href="/support-ticket/client/form/" class="help-btn ir" title="Vraag het Appalti">
            <?=$this->translate('Vraag het Appalti');?>
        </a>
    </div>
<? endif; ?>

<script src="/public/js/jquery-plugins/form/jquery.form.min.js"></script>
<script src ="/modules-appalti/support-ticket/views/scripts/default/client/_resources/js/SupportTicketForm.js"></script>