<?
    $params = array(
        'script_url' => '/public/tinymce/jscripts/tiny_mce/tiny_mce_gzip.php',
        'theme' => "advanced",
        'mykwd' => empty($this->plugins_data['mykwd']) ? null : json_decode($this->plugins_data['mykwd']),
        'clientkwd' => empty($this->plugins_data['clientkwd']) ? null : json_decode($this->plugins_data['clientkwd']),
        'quickupload' => empty($this->plugins_data['quickupload']) ? null : $this->plugins_data['quickupload'],
        'relative_urls' => false,
        'remove_script_host' => true,
        'document_base_url' => "/",

        'height' => empty($this->height) ? '320' : $this->height,
        'width' => empty($this->width) ? '480' : $this->width,

        'fullscreen_new_window' => false,
        'fullscreen_settings' => array (
            'theme_advanced_path_location' => 'top'
        ),

        'plugin_preview_width' => '1036',
        'plugin_preview_height' => '800',

        'language' => 'nl',
        'imagemanager_relative_urls' => false,
        'imagemanager_remove_script_host' => true,
        'imagemanager_document_base_url' => '/',

        'fix_list_elements' => true,
        'paste_remove_styles' => true,
        'paste_strip_class_attributes' => 'all',
        'pagebreak_separator' => '<span style="page-break-after: always; display: block;"></span>',

        'theme_advanced_buttons1' => "bold,italic,underline,|,sub,sup,|,bullist,numlist,|,justifyleft,justifycenter,justifyright,justifyfull,|,forecolor, backcolor,fontsizeselect",
        'theme_advanced_buttons2' => "",
        'theme_advanced_buttons3' => "",
        'theme_advanced_buttons4' => "",
        'plugins' => "spellchecker,",

        'theme_advanced_blockformats' => 'p,h2,h3,h4,h5,h6',
        'theme_advanced_toolbar_location' => 'top',
        'theme_advanced_toolbar_align' => 'left',
        'theme_advanced_statusbar_location' => 'bottom',
        'theme_advanced_path' => false,
        'theme_advanced_resizing' => true,
        'theme_advanced_resize_horizontal' => isset($this->resizeH) ? $this->resizeH : true,
        'nonbreaking_force_tab' => true,

        'spellchecker_languages' => "+Dutch=nl,English=en,German=de",
        'spellchecker_report_misspellings' => true,

        'content_css' => empty($this->css) ? '' : $this->css,
        'save_onsavecallback' => empty($this->save_onsavecallback) ? null : $this->save_onsavecallback,
        'file_browser_callback' => empty($this->file_browser_callback) ? null : $this->file_browser_callback,
        'fullScreenBtnBig' => isset($this->fullScreenBtnBig) && $this->fullScreenBtnBig
    );

    if(!$this->simpleEditor) {
        $allowImages = !isset($this->allowImages) || (isset($this->allowImages) && !empty($this->allowImages));

        $params['theme_advanced_buttons1'] = (!empty($this->save_onsavecallback) ? 'save,|,' : '') . $params['theme_advanced_buttons1'];

        if (empty($this->plugins_data['mykwd']) && empty($this->plugins_data['clientkwd'])) {
            $params['theme_advanced_buttons2'] = "formatselect,cut,copy,paste,|,undo,redo,|,link,unlink";
            $params['theme_advanced_buttons2'] .= $allowImages ? ',|,jbimages,|,image' : '';

            $params['theme_advanced_buttons3'] = "tablecontrols,|,hr,pagebreak,|,spellchecker,|,fullscreen";
        } else {
            $params['theme_advanced_buttons2'] = empty($this->plugins_data['mykwd']) ? '' : 'mykwd,';
            $params['theme_advanced_buttons2'] .= empty($this->plugins_data['clientkwd']) ? '' : 'clientkwd,';
            $params['theme_advanced_buttons2'] .= "formatselect";

            $params['theme_advanced_buttons3'] = "cut,copy,paste,|,undo,redo,|,link,unlink";
            $params['theme_advanced_buttons3'] .= $allowImages ? ',|,jbimages,|,image' : '';

            $params['theme_advanced_buttons4'] = "tablecontrols,|,hr,pagebreak,|,spellchecker,|,fullscreen";
        }


        $params['plugins'] .= !empty($this->plugins_data['mykwd']) || !empty($this->plugins_data['clientkwd']) ? 'keyword,' : '';
        $params['plugins'] .= "advlink,";
        $params['plugins'] .= $allowImages ? 'jbimages, advimage,' : '';
        $params['plugins'] .= "table, save, inlinepopups, contextmenu, preview, paste, pagebreak, fullscreen, nonbreaking";

    } else {
        $params['theme_advanced_buttons1'] .= ',|,spellchecker';
        if (!empty($this->plugins_data['mykwd']) && !empty($this->plugins_data['clientkwd'])) {
            $params['theme_advanced_buttons2'] = empty($this->plugins_data['mykwd']) ? '' : 'mykwd,';
            $params['theme_advanced_buttons2'] .= empty($this->plugins_data['clientkwd']) ? '' : 'clientkwd,';
            $params['theme_advanced_buttons2'] .= "formatselect";
            $params['plugins'] .= "keyword";
        }
    }
?>

<script type="text/javascript">
    window.AppaltiTinyMCEParams = <?=json_encode($params); ?>;
</script>
<script src="/public/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
<script src="/layouts/helpers/scripts/appalti/_resources/TinyMCE.js"></script>

