
<ul class="row wizard-progress">
<?  $stepNum = 1; ?>
<?  foreach ($this->steps as $k => $v): ?>
<?      if ($v['enabled']) : ?>
    <li class="wizard-step<?= !empty($v['class']) ? ' '.$v['class']:''; ?><?= ($k == 0)? ' wizard-step-first':''; ?><?= ($k == count($this->steps)-1)? ' wizard-step-last':''; ?><?= ($v['isActive'])? ' wizard-step-active':''; ?>">
<?          $urlParams = !empty($v['params']) ? $v['params'] : '';?>
        <a href="<?= ($v['isActive'])? '#' : $v['url'] . $urlParams; ?>">
            <span>Stap <?= $stepNum ?>:</span>&nbsp;<?= $v['title'] ?>
            <span class="bullet"></span>
        </a>
    </li>
<?          $stepNum++; ?>
<?      endif; ?>
<?  endforeach; ?>
</ul>
