<table style="background-color:#ffffff;font-size:12px;" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Er is op offertemaken.com een account voor u aangemaakt.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table style="font-size:12px;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="3"><a href="<?= $this->serverUrl() ?>/">Klik hier om in te loggen.</a></td>
                </tr>
                <tr>
                    <td>Gebruikersnaam</td>
                    <td>:&nbsp;</td>
                    <td><?= $this->username ?></td>
                </tr>
                <tr>
                    <td>Wachtwoord</td>
                    <td>:&nbsp;</td>
                    <td><?= $this->password ?></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Door in te loggen gaat u akkoord<br/>
            met onze <a href="/algemene-voorwaarden">algemene voorwaarden</a>.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>


