.x-progress-wrap {
	display: block;
}
.x-progress-wrap table.x-progress-bar-inner {
	width: 100%;
	border: 0;
}
.x-progress-wrap .x-progress-bar-inner .x-osdn-bar-progress-text {
    width:100%;
	overflow: hidden;
}

.x-progress-wrap .x-progress-bar-item {
	font-size:0px;
	padding:0px;
	margin:0px;
}

.x-progress-wrap .x-progress-bar-item .x-progress-bar-green {
    background:#00FF00 url(../../images/bar/progress-bg-green.gif) repeat-x scroll left center;
    border-bottom:1px solid #7FA9E4;
    border-right:1px solid #5bd976;
    border-top:1px solid #79e18f;
    width: 100%;
    height:13px;
}

.x-progress-wrap .x-progress-bar-item .x-progress-bar-red {
	background:#FF0000 url(../../images/bar/progress-bg-red.gif) repeat-x scroll left center;
	border-bottom:1px solid #7FA9E4;
	border-right:1px solid #de7d6a;
	border-top:1px solid #ecb7ad;
    width: 100%;
	height:13px;
}

.x-progress-wrap .x-progress-bar-item .x-progress-bar-orange {
	background:#9CBFEE url(../../images/bar/progress-bg-orange.gif) repeat-x scroll left center;
	border-bottom:1px solid #7FA9E4;
	border-right:1px solid #deab7e;
	border-top:1px solid #d7b290;
	width: 100%;
	height:13px;
}

.x-progress-wrap .x-progress-bar-item .x-progress-bar-yellow {
	background:#00FF00 url(../../images/bar/progress-bg-yellow.gif) repeat-x scroll left center;
	border-bottom:1px solid #7FA9E4;
	border-right:1px solid #5bd976;
	border-top:1px solid #79e18f;
	width: 100%;
	height:13px;
}

.x-progress-wrap .x-progress-bar-item .x-progress-bar-inner {
	background:#E0E8F3 url(bg.gif) repeat-x scroll 0 0;
	height:15px;
	position:relative;
}