<?
    if (empty($this->rowset)): return; endif;

    if (empty($this->listOnly)):
        $containerId = uniqid('blockContent_');
?>
<div class="list-container margin-b">
    <div class="list-title"><?=$this->translate('Mijn support vragen');?></div>
    <div id="<?=$containerId;?>">
<? endif; ?>
    <table class="width zebra">
        <colgroup>
            <col width="20%">
            <col width="55%">
            <col width="20%">
            <col width="*">
        </colgroup>
        <thead>
        <tr>
            <th><?=$this->translate('Datum');?></th>
            <th><?=$this->translate('Soort aanvraag');?></th>
            <th class="text-c"><?=$this->translate('Status');?></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="<?=$containerId;?>">
            <? if (!empty($this->rowset)): ?>
                <? $ticketStatuses = SupportTicket_Model_DbTable_SupportTicket::getStatusOptions();?>
                <? $ticketPriorities = SupportTicket_Model_DbTable_SupportTicket::getPriorityOptions();?>
                <? foreach ($this->rowset as $k => $row): ?>
                    <tr>
                        <td class="text-dark-gray"><?=$this->formatDate($row['createdDatetime']);?></td>
                        <td><?=$row['serviceName']; ?></td>
                        <td class="text-c">
                            <a href="#" class="icon-faq-<?=$row['priority'];?>" title="<?=$ticketPriorities[$row['priority']];?>">&nbsp;</a>
                                <span class="progress-bar">
                                    <i class="status-field in-progress"
                                        <? if($row['status'] === 'new'): ?>style="width: 0"<? endif;?>
                                        <? if($row['status'] === 'pending'): ?>style="width: 50%"<? endif;?>
                                        <? if($row['status'] === 'close'): ?>style="width: 100%"<? endif;?>>
                                        &nbsp;
                                    </i>
                                </span>
                            <a href="#" class="icon-status-info" title="<?=$ticketStatuses[$row['status']];?>">&nbsp;</a>
                        </td>
                        <td class='actions'>
                            <a href="/support-ticket/client/view-posts/ticketId/<?=$row['id'];?>"
                               class="icon-zoom" title="<?=$this->translate('Detailinformatie');?>">&nbsp;</a>
                        </td>
                    </tr>
                <? endforeach; ?>

                <? if (count($this->rowset) < $this->limit): ?>
                    <? $diff = $this->limit - count($this->rowset); ?>
                    <? for ($i = 0; $i < $diff; $i++): ?>
                        <tr><td colspan="5">&nbsp;</td></tr>
                    <? endfor; ?>
                <? endif; ?>
            <? else :?>
                <? for ($i = 0; $i < $this->limit; $i++): ?>
                    <tr><td colspan="5">&nbsp;</td></tr>
                <? endfor; ?>
            <? endif; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
<? if (empty($this->listOnly)): ?>
</div>
<script type="text/javascript">
    AppaltiLayout.blocks.SupportListBlock = new AppaltiLayoutBlock({
        module: 'support-ticket',
        block: 'my-support-ticket-list',
        updateElId: '<?=$containerId;?>',
        onReloadList: function() {
            AppaltiLayout.initTooltip(this.$el);
        }
    });
</script>
</div>

<? endif; ?>