<div class="list-container">
    <div class="list-title">Huidige prijzen</div>
    <div class="padding-all">
        <b>Creditprijs support (per pagina)</b>
        <br>
        <ul class="prices margin-b">
            <? foreach($this->services as $s):?>
                <li><i><?=$s['name'];?>:</i><i>&euro; <?=number_format($s['price'], 2, ',', '.');?></i></li>
            <? endforeach; ?>
        </ul>

        <b>Prijzen</b>
        <br>
        <ul class="prices">
            <? foreach($this->membership as $m):?>
                <li><i><?=$m['name'];?>:</i><i>&euro; <?=number_format($m['price'], 2, ',', '.');?></i></li>
            <? endforeach; ?>
        </ul>
    </div>
    <p class="text-c">
        <a href="/ap-default/index/price/" class="btn-big text-c">
            Prijzen aanpassen
        </a>
    </p>
</div>