<? if (empty($this->listOnly)): ?>
<?=$this->information()->init();?>
<? $id = uniqid('blockContent_'); ?>
    <div id="<?=$id;?>">
<? endif; ?>

<?=$this->information()->init();?>

<? $accountRow = Zend_Auth::getInstance()->getIdentity(); ?>
<? if (!$accountRow->isProposalBuilder()):?>
    <div class="box-gray actions-block margin-b">
        <a class="btn-green btn-big2" id="create-support-minutes" href="/support-ticket/support-minutes/create">
            <span class="icon-star">Ik wil een nieuwe ondersteuning minuten aanmaken</span>
        </a>
    </div>
<? endif; ?>

<div class="list-container">
    <div class="list-title">Alle ondersteuning minuten</div>
    <div class="list-form">
        <?=$this->formFilterSearch('name', 'stringfree', array('id' => $this->blockId, 'placeholder' => 'Zoeken')); ?>
    </div>
    <table class="zebra width">
        <colgroup>
            <col width="35%">
            <col width="20%">
            <col width="*">
            <col width="*">
        </colgroup>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Bedragen</th>
                <th>Prijs</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?foreach($this->rowset as $supportMinutesRow): ?>
                <tr>
                    <td><?=$this->escape($supportMinutesRow->name); ?></td>
                    <td><?=$this->escape($supportMinutesRow->amount); ?></td>
                    <td>&euro; <?=number_format($this->escape($supportMinutesRow->price), 2, ',', '.'); ?></td>
                    <td class="actions">
                        <? if (!$accountRow->isProposalBuilder()):?>
                            <a class="edit-support-minutes" href="/support-ticket/support-minutes/update/supportMinutesId/<?=$supportMinutesRow->getId(); ?>" title="Bewerken ondersteuning minuten">
                                <span class="icon-edit">&nbsp;</span>
                            </a>
                            <a class="delete-support-minutes" href="/support-ticket/support-minutes/delete/supportMinutesId/<?=$supportMinutesRow->getId(); ?>" >
                                <span class="icon-delete">&nbsp;</span>
                            </a>
                        <? endif; ?>
                    </td>
                </tr>
            <?endforeach; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
</div>

<? if (empty($this->listOnly)): ?>
</div>
    <script type="text/javascript">
        AppaltiLayout.blocks.SupportMinutesBlock = new AppaltiLayoutBlock({
            module: 'support-ticket',
            block: 'support-minutes',
            updateElId: '<?=$id;?>',
            listUpdateParams: {
                _bid: '<?=$this->blockId; ?>'
            },
            onInit: function() {
                var me = this;
                $('#create-support-minutes, .edit-support-minutes').click(function() {
                    var $modalCnt;
                    $.get(this.href).done(function(html) {
                        if (!$modalCnt) {
                            $modalCnt = $('<div id="modal-container" class="modal support-minutes-modal-container" />').appendTo('body');
                        }

                        $modalCnt.html(html);

                        $('form', $modalCnt).submit(function() {
                            var $form = $(this);
                            $form.validate();

                            if ($form.valid()) {
                                $.ajax({
                                    url: this.action + '/format/json',
                                    data: $form.serialize(),
                                    dataType: 'json',
                                    type: 'post',
                                    mask: true,
                                    maskTarget: $form,
                                    success: function() {
                                        me.reloadList();
                                        $modalCnt.modal('hide');
                                    }
                                });
                            }

                            return false;
                        });

                        $modalCnt.modal('toggle');
                    });

                    return false;
                });

                me.$el.on('click', '.delete-support-minutes', function() {
                    if (confirm('Weet je zeker dat?')) {
                        $.post(this.href, {format: 'json'}, function() {
                            me.reloadList();
                        });
                    }
                    return false;
                });
            }
        })
    </script>
<? endif; ?>
