<?
    $containerId = uniqid('blockContent_');
    if (empty($this->listOnly)):
?>
<div id="<?=$containerId;?>" class="list-container">
<? endif; ?>
    <div class="list-form clearfix">
        <div class="float-l">
            <?=$this->formFilterSearch('createdDatetime, companyName, serviceName, status', null, array(
                    'placeholder' => $this->translate('Zoeken in support vragen')
            )); ?>
        </div>
        <div class="float-r">
            <form action="#" method="post">
                <input type="hidden" name="writerId" id="writerId" value="<?=$this->writerId?>">
                <select name="status" class="no-margin" id="ticketStatus">
                    <option value="" <?if (!$this->status):?>selected="selected"<?endif;?>>Alle</option>
                    <?
                        $options = SupportTicket_Model_DbTable_SupportTicket::getStatusOptions();
                        foreach ($options as $k => $v):
                    ?>
                        <option value="<?=$k;?>" <?if ($this->status === $k):?>selected="selected"<?endif;?>><?=$v;?></option>
                    <? endforeach; ?>
                </select>
            </form>
        </div>
    </div>
    <table class="width zebra">
        <colgroup>
            <col width="12%">
            <col width="30%">
            <col width="28%">
            <col width="15%">
            <col width="*">
        </colgroup>
        <thead>
        <tr>
            <th>Datum</th>
            <th>Klant</th>
            <th>Soort</th>
            <th class="text-c">Status</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="<?=$containerId;?>">
        <? if (!empty($this->rowset)): ?>
            <? foreach ($this->rowset as $k => $row): ?>
            <tr class="<?=($k % 2 == 0) ? 'odd' : 'even';?>">
                <td class="text-dark-gray"><?=$this->formatDate($row['createdDatetime']);?></td>
                <td>
                    <a href="/company/client/summary/companyId/<?=$row['companyId']; ?>">
                        <?=$row['companyName']; ?>
                    </a>
                </td>
                <td><?=$row['serviceName']; ?></td>
                <td class="text-c">
                    <a href="#" class="icon-faq-<?=$row['priority'];?>" title="<?=ucfirst($row['priority']);?>">&nbsp;</a>
                        <i class="progress-bar">
                            <i class="status-field in-progress"
                                <? if($row['status'] === 'new'): ?>style="width: 0"<? endif;?>
                                <? if($row['status'] === 'pending'): ?>style="width: 50%"<? endif;?>
                                <? if($row['status'] === 'close'): ?>style="width: 100%"<? endif;?>>
                                &nbsp;
                            </i>
                        </i>
                    <a href="#" class="icon-status-info" title="<?=ucfirst($row['status']);?>">&nbsp;</a>
                </td>
                <td class='actions'>
                    <a href="/support-ticket/moderator/view-posts/ticketId/<?=$row['id'];?>/writerId/<?=$row['writerId']?>"
                       title="<?=$this->translate('Detailinformatie');?>" class="icon-zoom">
                        &nbsp;
                    </a>
                </td>
            </tr>
                <? endforeach; ?>
            <? else :?>
        <tr>
            <td colspan="5" class="text-gray text-c"><?=$this->translate('Geen');?></td>
        </tr>
            <? endif; ?>
        </tbody>
    </table>
    <div class="list-pagination">
        <?=$this->pagination(); ?>
    </div>
<?if (empty($this->listOnly)):?>
</div>

<script type="text/javascript">
    AppaltiLayout.blocks.WriterListBlock = new AppaltiLayoutBlock({
        module: 'support-ticket',
        block: 'writer-ticket-list',
        updateElId: '<?=$containerId;?>',
        onInit: function() {
            var me = this;
            me.$el.on('change', '#ticketStatus', function() {
                $.extend(me.listUpdateParams, {
                    status : this.value,
                    writerId: $('#writerId').val(),
                    page: 1
                });
                me.reloadList();
            });
        },
        onReloadList: function() {
            AppaltiLayout.initTooltip(this.$el)
        }
    });
</script>
<?endif;?>